<script>
  var text_field_color;
  var _thisForm = '';
  
  // Show or hide button(s) to add new item
  function show_new(_show) {
    if (_show == true) {
      $('#submit_btn').show();
      $('.fnt-new-btn').show();
      $('.fnt-new-worker-btn').show();
      $('.fnt-new-subcontractor-btn').show();
      $('.fnt-new-tool-btn').show();
      $('.fnt-new-vehicle-btn').show();
      $('#icon-new-btn').show();      
      $('#icon-new-worker-btn').show();      
      $('#icon-new-subcontractor-btn').show();      
      $('#icon-new-tool-btn').show();      
      $('#icon-new-vehicle-btn').show();      
    } else {
      $('#submit_btn').hide();
      $('.fnt-new-btn').hide();
      $('.fnt-new-worker-btn').hide();
      $('.fnt-new-subcontractor-btn').hide();
      $('.fnt-new-tool-btn').hide();
      $('.fnt-new-vehicle-btn').hide();
      $('#icon-new-btn').hide();      
      $('#icon-new-worker-btn').hide();      
      $('#icon-new-subcontractor-btn').hide();      
      $('#icon-new-tool-btn').hide();      
      $('#icon-new-vehicle-btn').hide();      
    }
  }
  
  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $('.date_picker_time').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      var dt = es_date(e.date) + ' ' + es_time(e.date);
      $(this).val(dt);
      $('.date_picker_time').datepicker('hide');
    });
    
    // Save default text color
    text_field_color = $("#work_order_order_no").css('color')

    // Initialized form variable
    _thisForm = $("#work_order_order_no").closest('form')[0];

    // Icon inside text field: Generate No
    $('input.iconify').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      $('#generate_code_btn').trigger("click");
      return false;
    }));

    // Disable fields if Order# blank
    var order = $('#work_order_order_no').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty order: Disable
      show_new(false);
    } else {
      // Order OK: Enable
      show_new(true);
    }

    // Disable generate_code_btn if work_order_project_id blank
    var order = $('#work_order_project_id').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty project: Hide
      $('#generate_code_btn').hide();
    } else {
      // Project OK: Show
      $('#generate_code_btn').show();
    }
    
    // Show or hide subscriber_meter div
    if ('<%= @subscriber_meter %>' == "true") {
      $('#subscriber_meter').show();
    } else {
      $('#subscriber_meter').hide();
    }
    
    // Can't change order no if editing
    if ('<%= @breadcrumb %>' == "update") {
      $('#work_order_order_no').prop('readonly', true);
    } else {
      $('#work_order_order_no').prop('readonly', false);
      $('#work_order_work_order_status_id').select2("val", 1);
    }
    
    // Set initial focus
    $(this).find(".form-label:first").focus();
  });
  
  jQuery(function($) {
    // when the #work_order_order_no field changes
    $("#work_order_order_no").change(function() {
      var order = $('#work_order_order_no').val();
      if (order == "")
        order = "0";
      if (order == "0") {
        // Empty order: Disable
        show_new(false);
      } else {
        // Order: OK: Enable
        show_new(true);
      }
    });
    
    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_project_id :selected').val();
      if (order == "")
        order = "$";
      jQuery.getJSON('wo_generate_no/' + order, function(data) {
        $("#work_order_order_no").val(data.code);
        if ($("#work_order_order_no").val() == "$err") {
          $("#work_order_order_no").css('color', 'red');
          alert('<%= I18n.t("ag2_tech.work_orders.no_error") %>');
          $('#work_order_order_no').select();
        } else {
          $("#work_order_order_no").css('color', text_field_color);
          $('#work_order_order_no').trigger("change");
        }
      });
      return false;
    });

    // when the #work_order_organization_id field changes
    $("#work_order_organization_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_organization_id :selected').val();
      if (order == "")
        order = "0";
      var id = $('#work_order_id').val();
      if (id == "")
        id = "0";
      jQuery.getJSON('wo_update_project_textfields_from_organization/' + order + '/' + id, function(data) {
        var p = data.project;
        var wa = data.woarea;
        var t = data.type;
        var l = data.labor;
        var i = data.infrastructure
        var c = data.client;
        var h = data.charge_account
        var s = data.store
        var w = data.worker
        var a = data.area
        var prods = data.product
        var su = data.supplier
        var po = data.order
        var to = data.tool
        var ve = data.vehicle
        var su = data.subscriber
        var me = data.meter
        var m = data.master_order;
        // Project
        $("#work_order_project_id").html("");
        $("#work_order_project_id").select2("val", "");
        $("#work_order_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'project' && option != "") {
              $("#work_order_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#work_order_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
        // WO area
        $("#work_order_work_order_area_id").html("");
        $("#work_order_work_order_area_id").select2("val", "");
        $("#work_order_work_order_area_id").append($('<option></option>').val("").html(""));
        if (!wa.length) {
          $.each(data, function(id, option) {
            if (id == 'woarea' && option != "") {
              $("#work_order_work_order_area_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(wa, function(id, option) {
            $("#work_order_work_order_area_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Type
        $("#work_order_work_order_type_id").html("");
        $("#work_order_work_order_type_id").select2("val", "");
        $("#work_order_work_order_type_id").append($('<option></option>').val("").html(""));
        if (!t.length) {
          $.each(data, function(id, option) {
            if (id == 'type' && option != "") {
              $("#work_order_work_order_type_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(t, function(id, option) {
            $("#work_order_work_order_type_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Labor
        $("#work_order_work_order_labor_id").html("");
        $("#work_order_work_order_labor_id").select2("val", "");
        $("#work_order_work_order_labor_id").append($('<option></option>').val("").html(""));
        if (!l.length) {
          $.each(data, function(id, option) {
            if (id == 'labor' && option != "") {
              $("#work_order_work_order_labor_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(l, function(id, option) {
            $("#work_order_work_order_labor_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Infrastructure
        $("#work_order_work_order_infrastructure_id").html("");
        $("#work_order_work_order_infrastructure_id").select2("val", "");
        $("#work_order_work_order_infrastructure_id").append($('<option></option>').val("").html(""));
        if (!i.length) {
          $.each(data, function(id, option) {
            if (id == 'infrastructure' && option != "") {
              $("#work_order_work_order_infrastructure_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(i, function(id, option) {
            $("#work_order_work_order_infrastructure_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Client
        $("#work_order_client_id").html("");
        $("#work_order_client_id").select2("val", "");
        $("#work_order_client_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'client' && option != "") {
              $("#work_order_client_id").append($('<option></option>').val(option.id).html(option.client_code.substring(0,4) + "-" + option.client_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#work_order_client_id").append($('<option></option>').val(option.id).html(option.client_code.substring(0,4) + "-" + option.client_code.substring(4,11) + " " + option.name));
          });
        }
        // Charge account
        $("#work_order_charge_account_id").html("");
        $("#work_order_charge_account_id").select2("val", "");
        $("#work_order_charge_account_id").append($('<option></option>').val("").html(""));
        if (!h.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#work_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(h, function(id, option) {
            $("#work_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        // Store
        $("#work_order_store_id").html("");
        $("#work_order_store_id").select2("val", "");
        $("#work_order_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#work_order_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#work_order_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // In charge
        $("#work_order_in_charge_id").html("");
        $("#work_order_in_charge_id").select2("val", "");
        $("#work_order_in_charge_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'worker' && option != "") {
              $("#work_order_in_charge_id").append($('<option></option>').val(option.id).html(option.last_name + ', ' + option.first_name));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#work_order_in_charge_id").append($('<option></option>').val(option.id).html(option.last_name + ', ' + option.first_name));
          });
        }
        // Area
        $("#work_order_area_id").html("");
        $("#work_order_area_id").select2("val", "");
        $("#work_order_area_id").append($('<option></option>').val("").html(""));
        if (!a.length) {
          $.each(data, function(id, option) {
            if (id == 'area' && option != "") {
              $("#work_order_area_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
            }
          });
        } else {
          $.each(a, function(id, option) {
            $("#work_order_area_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
          });
        }
        // Work order
        $("#work_order_master_order_id").html("");
        $("#work_order_master_order_id").select2("val", "");
        $("#work_order_master_order_id").append($('<option></option>').val("").html(""));
        if (!m.length) {
          $.each(data, function(id, option) {
            if (id == 'master_order' && option != "") {
              $("#work_order_master_order_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(m, function(id, option) {
            $("#work_order_master_order_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
      });
      if (order == "0") {
        $("#work_order_project_id").val(0);
        $("#work_order_project_id").trigger("change");
      }
      return false;
    });
    
    // when the #work_order_project_id field changes
    $("#work_order_project_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_project_id :selected').val();
      if (order == "")
        order = "0";
      var org = $('select#work_order_organization_id :selected').val();
      if (org == "")
        org = "0";
      var id = $('#work_order_id').val();
      if (id == "")
        id = "0";
      jQuery.getJSON('wo_update_account_textfield_from_project/' + order + '/' + org + "/" + id, function(data) {
        var c = data.charge_account;
        var s = data.store;
        var w = data.worker;
        var m = data.master_order;
        // Charge account
        $("#work_order_charge_account_id").html("");
        $("#work_order_charge_account_id").select2("val", "");
        $("#work_order_charge_account_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#work_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#work_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        // Store
        $("#work_order_store_id").html("");
        $("#work_order_store_id").select2("val", "");
        $("#work_order_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#work_order_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#work_order_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // In charge
        $("#work_order_in_charge_id").html("");
        $("#work_order_in_charge_id").select2("val", "");
        $("#work_order_in_charge_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'worker' && option != "") {
              $("#work_order_in_charge_id").append($('<option></option>').val(option.id).html(option.last_name + ', ' + option.first_name));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#work_order_in_charge_id").append($('<option></option>').val(option.id).html(option.last_name + ', ' + option.first_name));
          });
        }
        // Should change #work_order_workers_worker_id
        // Work order
        $("#work_order_master_order_id").html("");
        $("#work_order_master_order_id").select2("val", "");
        $("#work_order_master_order_id").append($('<option></option>').val("").html(""));
        if (!m.length) {
          $.each(data, function(id, option) {
            if (id == 'master_order' && option != "") {
              $("#work_order_master_order_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(m, function(id, option) {
            $("#work_order_master_order_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
      });
      // Disable generate_code_btn if work_order_project_id blank
      if (order == "0") {
        // Empty project: Hide
        $('#generate_code_btn').hide();
      } else {
        // Project OK: Show
        $('#generate_code_btn').show();
      }
      return false;
    });

    // when the #work_order_area_id field changes
    $("#work_order_area_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_area_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('wo_update_worker_select_from_area/' + order, function(data) {
        if (data != null) $("#work_order_in_charge_id").select2("val", data.id);
        /*
        $("#work_order_in_charge_id").html("");
        $("#work_order_in_charge_id").select2("val", "");
        $("#work_order_in_charge_id").append($('<option></option>').val("").html(""));
        $.each(data, function(id, option) {
          $("#work_order_in_charge_id").append($('<option></option>').val(option.id).html(option.last_name + ", " + option.first_name));
        });
        */
      });
      return false;
    });

    // when the #work_order_client_id field changes
    $("#work_order_client_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_client_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('wo_update_petitioner_textfield_from_client/' + order, function(data) {
        $("#work_order_petitioner").val(data.name);
      });
      return false;
    });

    // when the #work_order_work_order_area_id field changes
    $("#work_order_work_order_area_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_work_order_area_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('wo_update_type_select_from_woarea/' + order, function(data) {
        var t = data.type;
        // Type
        $("#work_order_work_order_type_id").html("");
        $("#work_order_work_order_type_id").select2("val", "");
        $("#work_order_work_order_type_id").append($('<option></option>').val("").html(""));
        if (!t.length) {
          $.each(data, function(id, option) {
            if (id == 'type' && option != "") {
              $("#work_order_work_order_type_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(t, function(id, option) {
            $("#work_order_work_order_type_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
      });
      return false;
    });

    // when the #work_order_work_order_type_id field changes
    $("#work_order_work_order_type_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_work_order_type_id :selected').val();
      if (order == "")
        order = "0";
      var project = $('select#work_order_project_id :selected').val();
      if (project == "")
        project = "0";
      jQuery.getJSON('wo_update_labor_select_from_type/' + order + '/' + project, function(data) {
        var l = data.labor;
        var h = data.account;
        var r = data.subscriber_meter;
        // Labor
        $("#work_order_work_order_labor_id").html("");
        $("#work_order_work_order_labor_id").select2("val", "");
        $("#work_order_work_order_labor_id").append($('<option></option>').val("").html(""));
        if (!l.length) {
          $.each(data, function(id, option) {
            if (id == 'labor' && option != "") {
              $("#work_order_work_order_labor_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(l, function(id, option) {
            $("#work_order_work_order_labor_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Default charge account
        if (h != null) $("#work_order_charge_account_id").select2("val", h.id);
        // Requieres subscriber & meter?
        if (r == "true") {
          $('#subscriber_meter').show();
        } else {
          $('#subscriber_meter').hide();
        }
      });
      return false;
    });
    
    // when submit    
    $(_thisForm).on('submit', function() {
      var qty = '';
      var price = '';
      var cost = '';
      // Must change decimal separator, if comma, in items table numeric fields
      $('#items-table tr.fields').each(function() {
        qty = $(this).find('input.fnt-quantity').val().replace(",", ".");
        price = $(this).find('input.fnt-price').val().replace(",", ".");
        cost = $(this).find('input.fnt-cost').val().replace(",", ".");
        $(this).find('input.fnt-quantity').val(qty);
        $(this).find('input.fnt-price').val(price);
        $(this).find('input.fnt-cost').val(cost);
      });
      // Must change decimal separator, if comma, in workers table numeric fields
      $('#workers-table tr.fields').each(function() {
        qty = $(this).find('input.fnt-hours').val().replace(",", ".");
        cost = $(this).find('input.fnt-costw').val().replace(",", ".");
        $(this).find('input.fnt-hours').val(qty);
        $(this).find('input.fnt-costw').val(cost);
      });
      // Must change decimal separator, if comma, in subcontractors table numeric fields
      $('#subcontractors-table tr.fields').each(function() {
        qty = $(this).find('input.fnt-enforcement-pct').val().replace(",", ".");
        cost = $(this).find('input.fnt-costsub').val().replace(",", ".");
        $(this).find('input.fnt-enforcement-pct').val(qty);
        $(this).find('input.fnt-costsub').val(cost);
      });
      // Must change decimal separator, if comma, in tools table numeric fields
      $('#tools-table tr.fields').each(function() {
        qty = $(this).find('input.fnt-minutes').val().replace(",", ".");
        cost = $(this).find('input.fnt-costt').val().replace(",", ".");
        $(this).find('input.fnt-minutes').val(qty);
        $(this).find('input.fnt-costt').val(cost);
      });
      // Must change decimal separator, if comma, in vehicles table numeric fields
      $('#vehicles-table tr.fields').each(function() {
        qty = $(this).find('input.fnt-distance').val().replace(",", ".");
        cost = $(this).find('input.fnt-costv').val().replace(",", ".");
        $(this).find('input.fnt-distance').val(qty);
        $(this).find('input.fnt-costv').val(cost);
      });
      //e.preventDefault();
    });
  });
</script>

<%= simple_form_for @work_order, :html => { :class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :id, as: :hidden, input_html: { class: 'mid-text-field' }, label_html: { class: 'form-label' } %>
<div>
  <label class="multi-field-label-two">
    <% if session[:organization] != '0' %>
    <%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.organizations.count > 0 %>
    <%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two"> <%= f.association :project, collection: @projects, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :work_order_area, collection: @woareas, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :work_order_type, collection: @types, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :order_no, input_html: { class: 'mid-text-field iconify' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :description, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :work_order_status, collection: WorkOrderStatus.all(order: 'id'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :master_order, collection: @master_order, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :work_order_labor, collection: @labors, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :infrastructure, collection: @infrastructures, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :area, collection: @areas, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :in_charge, collection: @workers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :store, collection: @stores, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two-table"> <%= f.association :client, collection: @clients, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two-table"> <%= f.input :petitioner, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :location, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :pub_record, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<!-- Dates -->
<div>
  <label class="multi-field-label-three"> <%= f.input :started_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.started_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.started_at), class: 'large-text-field date_picker_time' }, label_html: { class: 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :completed_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.completed_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.completed_at), class: 'large-text-field date_picker_time' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :closed_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.closed_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.closed_at), class: 'large-text-field date_picker_time' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-four"> <%= f.input :reported_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.reported_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.reported_at), class: 'm-large-text-field date_picker_time' }, label_html: { class: 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-four"> <%= f.input :approved_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.approved_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.approved_at), class: 'm-large-text-field date_picker_time' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-four"> <%= f.input :certified_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.certified_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.certified_at), class: 'm-large-text-field date_picker_time' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-four"> <%= f.input :posted_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.posted_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.posted_at), class: 'm-large-text-field date_picker_time' }, label_html: { class: 'form-label' } %> </label>
</div>

<!-- Meter & Subscriber -->
<div id="subscriber_meter">
  <h4><%= t 'ag2_tech.work_orders.meter_subscriber_info' %></h4>
  <div>
    <label class="multi-field-label-three"> <%= f.association :subscriber, collection: @subscribers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
    <label class="multi-field-label-three"> <%= f.association :meter, collection: @meters, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
    <label class="multi-field-label-three"> <%= f.input :meter_code, input_html: { onkeyup: "caps(this)", class: 'x-large-text-field', maxlength: 20 }, label_html: { class: 'form-label' } %> </label>
  </div>
  <div>
    <label class="multi-field-label-two"> <%= f.association :meter_model, collection: @meter_models, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
    <label class="multi-field-label-two"> <%= f.association :caliber, collection: @calibers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  </div>
  <div>
    <label class="multi-field-label-two"> <%= f.association :meter_owner, collection: @meter_owners, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
    <label class="multi-field-label-two"> <%= f.association :meter_location, collection: @meter_locations, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  </div>
  <div>
    <label class="multi-field-label-three"> <%= f.association :last_reading, collection: @readings, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
    <label class="multi-field-label-three"> <%= f.input :current_reading_date, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.current_reading_date.strftime("%d/%m/%Y %H:%M:%S") if f.object.current_reading_date), class: 'large-text-field date_picker_time' }, label_html: { class: 'form-label-under-sel2' } %> </label>
    <label class="multi-field-label-three"> <%= f.input :current_reading_index, input_html: { onkeydown: "only_digit(event)", class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  </div>
</div>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_tech.work_orders.btn_new_item"), f, :work_order_items, "item_fields", "new-item-fields", class: "btn btn-warning fnt-new-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'items_table', f: f %>
<!-- Workers -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-three left-winged">
        <h4><%= t 'ag2_tech.work_orders.workers_info' %></h4>
      </td>
      <td class="form-td-three">
        <%= f.input :hours_type, label: false, wrapper: false, collection: WorkOrder::HOURS_TYPES, label_method: :last, value_method: :first, include_blank: false, input_html: { class: 'x-large-text-field' } %>
      </td>
      <td class="form-td-three right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_tech.work_orders.btn_new_worker"), f, :work_order_workers, "worker_fields", "new-worker-fields", class: "btn btn-warning fnt-new-worker-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'workers_table', f: f %>
<!-- Subcontractors -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.subcontractors_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_tech.work_orders.btn_new_subcontractor"), f, :work_order_subcontractors, "subcontractor_fields", "new-subcontractor-fields", class: "btn btn-warning fnt-new-subcontractor-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'subcontractors_table', f: f %>
<!-- Tools -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.tools_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_tech.work_orders.btn_new_tool"), f, :work_order_tools, "tool_fields", "new-tool-fields", class: "btn btn-warning fnt-new-tool-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'tools_table', f: f %>
<!-- Vehicles -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.vehicles_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_tech.work_orders.btn_new_vehicle"), f, :work_order_vehicles, "vehicle_fields", "new-vehicle-fields", class: "btn btn-warning fnt-new-vehicle-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'vehicles_table', f: f %>
<!-- Remarks -->
<%= f.input :remarks, as: :text, input_html: { class: 'x-large-text-field', rows: 3 }, label_html: { class: 'form-label' } %>
<!-- Buttons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %> </td>
      <% if @breadcrumb == 'create'%>
      <td class="form-td-three right-winged"><a href="#" id="generate_code_btn" class="btn btn-warning"><%=t 'ag2_tech.work_orders.generate_code_btn' %></a></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
