<script>
  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
  });
  
  jQuery(function($) {
    // when the #work_order_project_id field changes
    $("#work_order_project_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_project_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('wo_update_account_textfield_from_project/' + order, function(data) {
        var c = data.charge_account;
        var s = data.store;
        $("#work_order_charge_account_id").html("");
        $("#work_order_charge_account_id").select2("val", "");
        $("#work_order_charge_account_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account') {
              $("#work_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#work_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code + " " + option.name));
          });
        }
        $("#work_order_store_id").html("");
        $("#work_order_store_id").select2("val", "");
        $("#work_order_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store') {
              $("#work_order_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#work_order_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        //$("#work_order_charge_account_id").val(data.id);
      });
      return false;
    });

    // when the #work_order_area_id field changes
    $("#work_order_area_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#work_order_area_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('wo_update_worker_select_from_area/' + order, function(data) {
        $("#work_order_in_charge_id").select2("val", data.id);
        /*
        $("#work_order_in_charge_id").html("");
        $("#work_order_in_charge_id").select2("val", "");
        $("#work_order_in_charge_id").append($('<option></option>').val("").html(""));
        $.each(data, function(id, option) {
          $("#work_order_in_charge_id").append($('<option></option>').val(option.id).html(option.last_name + ", " + option.first_name));
        });
        */
      });
      return false;
    });
  });
</script>

<%= simple_form_for @work_order, :html => { :class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :description, autofocus: true, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<%= f.association :project, collection: Project.all(order: 'project_code'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
<div>
  <label class="multi-field-label-two"> <%= f.association :work_order_type, collection: WorkOrderType.all(order: 'name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :order_no, input_html: { class: 'mid-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :work_order_labor, collection: WorkOrderLabor.all(order: 'name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :work_order_status, collection: WorkOrderStatus.all(order: 'id'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :area, collection: Area.all(order: 'name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :in_charge, collection: @workers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :store, collection: Store.all(order: 'name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two-table"> <%= f.association :client, collection: Client.all(order: 'client_code'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two-table"> <%= f.input :petitioner, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :location, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :pub_record, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.input :started_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.started_at.strftime("%d/%m/%Y") if f.object.started_at), class: 'large-text-field date_picker' }, label_html: { class: 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :completed_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.completed_at.strftime("%d/%m/%Y") if f.object.completed_at), class: 'large-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :closed_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.closed_at.strftime("%d/%m/%Y") if f.object.closed_at), class: 'large-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-four"> <%= f.input :reported_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.reported_at.strftime("%d/%m/%Y") if f.object.reported_at), class: 'm-large-text-field date_picker' }, label_html: { class: 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-four"> <%= f.input :approved_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.approved_at.strftime("%d/%m/%Y") if f.object.approved_at), class: 'm-large-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-four"> <%= f.input :certified_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.certified_at.strftime("%d/%m/%Y") if f.object.certified_at), class: 'm-large-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-four"> <%= f.input :posted_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.posted_at.strftime("%d/%m/%Y") if f.object.posted_at), class: 'm-large-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<%= f.input :remarks, as: :text, input_html: { class: 'x-large-text-field', rows: 3 }, label_html: { class: 'form-label' } %>
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
