<script>
  $(document).ready(function() {
    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-supplier field changes
    $("#fnt-supplier").change(function() {
      // make a POST call and replace the content
      var supplier = $('select#fnt-supplier :selected').val();
      if (supplier == "")
        supplier = "0";
      var pct = $('#fnt-enforcement-pct').val();
      if (pct == "")
        pct = "0";
      // Right formatted for passing as REST parameter
      pct = parseInt(right_number(pct, 2) * 100);
      jQuery.getJSON('wo_update_orders_costs_from_supplier/' + supplier + '/' + pct, function(data) {
        $("#fnt-costsub").val(data.cost);
        $("#fnt-costssub").val(data.costs);
        var p = data.order;
        // Purchase order
        $("#fnt-purchase-order").html("");
        $("#fnt-purchase-order").select2("val", "");
        $("#fnt-purchase-order").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'order' && option != "") {
              $("#fnt-purchase-order").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#fnt-purchase-order").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
      });
      return false;
    });

    // when the #fnt-purchase-order field changes
    $("#fnt-purchase-order").change(function() {
      // make a POST call and replace the content
      var order = $('select#fnt-purchase-order :selected').val();
      if (order == "")
        order = "0";
      var pct = $('#fnt-enforcement-pct').val();
      if (pct == "")
        pct = "0";
      // Right formatted for passing as REST parameter
      pct = parseInt(right_number(pct, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_purchase_order/' + order + '/' + pct, function(data) {
        $("#fnt-costsub").val(data.cost);
        $("#fnt-costssub").val(data.costs);
      });
      return false;
    });

    // when the #fnt-enforcement-pct field changes
    $("#fnt-enforcement-pct").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the #fnt-costsub field changes
    $("#fnt-costsub").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var cost = $('#fnt-costsub').val();
      if (cost == "")
        cost = "0";
      var pct = $('#fnt-enforcement-pct').val();
      if (pct == "")
        pct = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      pct = parseInt(right_number(pct, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_cost_or_enforcement_pct/' + cost + '/' + pct, function(data) {
        $('#fnt-costsub').val(data.cost);
        $('#fnt-enforcement-pct').val(data.pct);
        $('#fnt-costssub').val(data.costs);
        // Update and display totals
        $('#subcontractors-table').trigger('totals');
      });
    }
  })
</script>

<div id="new-subcontractor-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.work_orders.add_subcontractor") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :supplier, collection: @suppliers, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-supplier', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.association :purchase_order, collection: @orders, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-purchase-order', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :enforcement_pct, as: :string, input_html: { value: (number_with_precision(f.object.enforcement_pct, precision: 2) if f.object.enforcement_pct), class: 'mid-text-field number-text-field field', id: 'fnt-enforcement-pct' }, label_html: { class: 'form-label' } %>
    <%= f.input :cost, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.cost, precision: 4) if f.object.cost), class: 'mid-text-field number-text-field field', id: 'fnt-costsub' }, label_html: { class: 'form-label' } %>
    <%= f.input :costs, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.costs, precision: 4) if f.object.costs), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-costssub' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.work_orders.add_item_to", var: @work_order.full_no) unless @work_order.order_no.blank? %></span>
    <button id="addSubcontractorButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.work_orders.btn_add_item') %></button>
    <button id="cancelSubcontractorButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  wo_subcontractorFieldsUI.init(sel2NoMatch);
</script>