<script>
  var _f = '';
  var _p = '';
  var _date = '';
  var _year = '';

  $(document).ready(function() {
    // Retrieves parent values
    _f = $("#fnt-worker").closest('form')[0];
    _p = $('select#work_order_project_id :selected').val();
    if (_p == "") _p = "0";
    _date = $('#work_order_started_at').data('datepicker').date;
    if (_date == "") {
      _date = new Date();
    } else {
      _date = new Date(_date);
    }
    _year = _date.getFullYear();

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-worker field changes
    $("#fnt-worker").change(function() {
      // make a POST call and replace the content
      var worker = $('select#fnt-worker :selected').val();
      if (worker == "")
        worker = "0";
      var hours = $('#fnt-hours').val();
      if (hours == "")
        hours = "0";
      // Right formatted for passing as REST parameter
      hours = parseInt(right_number(hours, 4) * 10000);
      jQuery.getJSON('wo_update_costs_from_worker/' + worker + '/' + hours + '/' + _p + '/' + _year, function(data) {
        $("#fnt-costw").val(data.cost);
        $("#fnt-costsw").val(data.costs);
      });
      return false;
    });

    // when the #fnt-hours field changes
    $("#fnt-hours").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the #fnt-costw field changes
    $("#fnt-costw").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var cost = $('#fnt-costw').val();
      if (cost == "")
        cost = "0";
      var hours = $('#fnt-hours').val();
      if (hours == "")
        hours = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      hours = parseInt(right_number(hours, 4) * 10000);
      jQuery.getJSON('wo_update_costs_from_cost_or_hours/' + cost + '/' + hours, function(data) {
        $('#fnt-costw').val(data.cost);
        $('#fnt-hours').val(data.hours);
        $('#fnt-costsw').val(data.costs);
        // Update and display totals
        $('#workers-table').trigger('totals');
      });
    }
  })
</script>

<div id="new-tool-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.work_orders.add_worker") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :worker, collection: @workers, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-worker', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :hours, as: :string, input_html: { value: (number_with_precision(f.object.hours, precision: 4) if f.object.hours), class: 'mid-text-field number-text-field field', id: 'fnt-hours' }, label_html: { class: 'form-label' } %>
    <%= f.input :cost, as: :string, input_html: { value: (number_with_precision(f.object.cost, precision: 4) if f.object.cost), class: 'mid-text-field number-text-field field', id: 'fnt-costw' }, label_html: { class: 'form-label' } %>
    <%= f.input :costs, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.costs, precision: 4) if f.object.costs), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-costsw' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.work_orders.add_item_to", var: @work_order.full_no) unless @work_order.order_no.blank? %></span>
    <button id="addWorkerButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.work_orders.btn_add_item') %></button>
    <button id="cancelWorkerButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  wo_workerFieldsUI.init(sel2NoMatch);
</script>