<script>
  $(document).ready(function() {
    // Retrieves parent values
    // Tool
    initT();

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-tool field changes
    $("#fnt-tool").change(function() {
      // preserve the current object
      var _this = (this);
      // make a POST call and replace the content
      var tbl = false;
      var tool = $('select#fnt-tool :selected').val();
      if (typeof tool === "undefined") {
        tbl = true;
        tool = $(_this).closest('tr').find('select.fnt-tool :selected').val();
      }
      if (tool == "")
        tool = "0";
      var minutes = $('#fnt-minutes').val();
      if (typeof minutes === "undefined") {
        tbl = true;
        minutes = $(_this).closest('tr').find('.fnt-minutes').val();
      }
      if (minutes == "")
        minutes = "0";
      // Right formatted for passing as REST parameter
      minutes = parseInt(right_number(minutes, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_tool/' + tool + '/' + minutes + '/' + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-costt').val(data.cost);
          $(_this).closest('tr').find('.fnt-costst').val(data.costs);
        } else {
          $("#fnt-costt").val(data.cost);
          $("#fnt-costst").val(data.costs);
        }
        // Update and display totals is necessary
        $('#tools-table').trigger('totals');
      });
      return false;
    });

    // when the #fnt-minutes field changes
    $("#fnt-minutes").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate_wot_fields(_this);
      return false;
    });

    // when the #fnt-costt field changes
    $("#fnt-costt").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate_wot_fields(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate_wot_fields(_this) {
      // make a POST call and replace the content
      var tbl = false;
      var cost = $('#fnt-costt').val();
      if (typeof cost === "undefined") {
        tbl = true;
        cost = $(_this).closest('tr').find('.fnt-costt').val();
      }
      if (cost == "")
        cost = "0";
      var minutes = $('#fnt-minutes').val();
      if (typeof minutes === "undefined") {
        tbl = true;
        minutes = $(_this).closest('tr').find('.fnt-minutes').val();
      }
      if (minutes == "")
        minutes = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      minutes = parseInt(right_number(minutes, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_cost_or_minutes/' + cost + '/' + minutes + "/" + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-minutes').val(data.minutes);
          $(_this).closest('tr').find('.fnt-costt').val(data.cost);
          $(_this).closest('tr').find('.fnt-costst').val(data.costs);
        } else {
          $('#fnt-minutes').val(data.minutes);
          $('#fnt-costt').val(data.cost);
          $('#fnt-costst').val(data.costs);
        }
        // Update and display totals
        $('#tools-table').trigger('totals');
      });
    }
  });

  // Initialize
  function initT() {
    // make a POST call and replace the content
    var order = $('select#work_order_organization_id :selected').val();
    if (order == "")
      order = "0";
    jQuery.getJSON('wo_update_project_textfields_from_organization/' + order, function(data) {
      var to = data.tool
      // Tool
      $("#fnt-tool").html("");
      $("#fnt-tool").select2("val", "");
      $("#fnt-tool").append($('<option></option>').val("").html(""));
      if (!to.length) {
        $.each(data, function(id, option) {
          if (id == 'tool' && option != "") {
            $("#fnt-tool").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2]));
          }
        });
      } else {
        $.each(to, function(id, option) {
          $("#fnt-tool").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2]));
        });
      }
    });
  }
</script>

<div id="new-tool-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.work_orders.add_tool") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :tool, collection: @tools, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-tool', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :minutes, as: :string, input_html: { value: (number_with_precision(f.object.minutes, precision: 2) if f.object.minutes), class: 'mid-text-field number-text-field field', id: 'fnt-minutes' }, label_html: { class: 'form-label' } %>
    <%= f.input :cost, as: :string, input_html: { value: (number_with_precision(f.object.cost, precision: 4) if f.object.cost), class: 'mid-text-field number-text-field field', id: 'fnt-costt' }, label_html: { class: 'form-label' } %>
    <%= f.input :costs, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.costs, precision: 4) if f.object.costs), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-costst' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.work_orders.add_item_to", var: @work_order.full_no) unless @work_order.order_no.blank? %></span>
    <button id="addToolButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.work_orders.btn_add_item') %></button>
    <button id="cancelToolButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  wo_toolFieldsUI.init(sel2NoMatch);
</script>