<script>
  var _f = '';

  $(document).ready(function() {
    $('.wsel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      containerCssClass: 'sub-select2-field'
    });

    // Trigger to display totals at table foot
    $('#workers-table').bind('totals', function(event) {
      // Sum necessary values from table rows
      var hours = 0;
      var costs = 0;
      var count = 0;
      $('#workers-table tr.fields:visible').each(function() {
        hours += parseFloat(right_number($(this).find('input.fnt-hours').val(), 4));
        costs += parseFloat(right_number($(this).find('input.fnt-costsw').val(), 4));
        count += 1;
      });
      hours = parseInt(right_number(hours.toString(), 4) * 10000);
      costs = parseInt(right_number(costs.toString(), 4) * 10000);
      jQuery.getJSON('wo_worker_totals/' + hours + '/' + costs + '/' + count, function(data) {
        document.getElementById('foot-hours').innerHTML = data.hours;
        document.getElementById('foot-hours-avg').innerHTML = data.average;
        document.getElementById('foot-totalw').innerHTML = data.total;
      });
    });
    // Update and display totals
    $('#workers-table').trigger('totals');
    // Retrieves parent values
    _f = $(".fnt-worker").closest('form')[0];
  }); 

  jQuery(function($) {
    // when the .fnt-worker field changes
    $(".fnt-worker").change(function() {
      // preserve the current object
      var _this = (this);
      // Obtain current year
      var dd = $('#work_order_started_at').val();
      if (dd == "") {
        dd = new Date();
      } else {
        dd = new Date(dd);
      }
      var yy = _date.getFullYear();
      // make a POST call and replace the content
      project = $('select#work_order_project_id :selected').val();
      if (project == "")
        project = "0";      
      var worker = $(this).closest('tr').find('select.fnt-worker :selected').val();
      if (worker == "")
        worker = "0";
      var hours = $(this).closest('tr').find('.fnt-hours').val();
      if (hours == "")
        hours = "0";
      // Right formatted for passing as REST parameter
      hours = parseInt(right_number(hours, 4) * 10000);
      jQuery.getJSON('wo_update_costs_from_worker/' + worker + '/' + hours + '/' + project + '/' + yy, function(data) {
        $(_this).closest('tr').find('.fnt-costw').val(data.cost);
        $(_this).closest('tr').find('.fnt-costsw').val(data.costs);
      });
      return false;
    });

    // when the .fnt-hours field changes
    $(".fnt-hours").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the .fnt-costw field changes
    $(".fnt-costw").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });
    
    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var cost = $(_this).closest('tr').find('.fnt-costw').val();
      if (cost == "")
        cost = "0";
      var hours = $(_this).closest('tr').find('.fnt-hours').val();
      if (hours == "")
        hours = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      hours = parseInt(right_number(hours, 4) * 10000);
      jQuery.getJSON('wo_update_costs_from_cost_or_hours/' + cost + '/' + hours, function(data) {
        $(_this).closest('tr').find('.fnt-costw').val(data.cost);
        $(_this).closest('tr').find('.fnt-hours').val(data.hours);
        $(_this).closest('tr').find('.fnt-costsw').val(data.costs);
        // Update and display totals
        $('#workers-table').trigger('totals');
      });
    }

    /*
     * Very special function!
     * This one re-calculate table totals after delete an item
     * When the .icon-trash clicked
     * Replace behavior of link_to_remove_fields
     * (the same was done in nested_wo.js)
     */
    $(".icon-trash").click(function() {
      remove_fields(this);
      // Update and display totals
      $('#workers-table').trigger('totals');
    });
  });
</script>

<table id="vehicles-table" class="table table-condensed table-striped shrinked fixed">
  <!-- worker -->
  <col width="60%" />
  <!-- hours -->
  <col width="11%" />
  <!-- cost -->
  <col width="12%" />
  <!-- costs -->
  <col width="12%" />
  <!-- button -->
  <col width="5%" />
  <thead>
    <%= render 'workers_header' %>
  </thead>
  <tfoot>
    <%= render 'workers_table_footer', f: f %>
  </tfoot>
  <tbody>
    <%= f.simple_fields_for :work_order_workers, defaults: { input_html: { class: 'sub-form' } } do |i| %>
    <tr class="fields">
      <td><%= i.association :worker, label: false, wrapper: false, collection: @workers, input_html: { class: 'wsel2 fnt-worker' } %></td>
      <td><%= i.input :hours, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.hours, precision: 4) if i.object.hours), class: 'sub-number-text-field fnt-hours' } %></td>
      <td><%= i.input :cost, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.cost, precision: 4) if i.object.cost), class: 'sub-number-text-field fnt-costw' } %></td>
      <td><%= i.input :costs, disabled: true, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.costs, precision: 4) if i.object.costs), class: 'sub-number-text-field sub-disabled-field fnt-costsw' } %></td>
      <% if @breadcrumb == 'create' || @breadcrumb == 'update' %>
      <td><%= link_to_remove_fields('<i class="icon-trash"></i>'.html_safe, i) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
