<script>
  $(document).ready(function() {
    /*
     * Retrieves parent values
     */
    // Charge Account
    $("#fnt-charge-account-v").html("");
    $('#work_order_charge_account_id option').clone().appendTo('#fnt-charge-account-v');
    var _c = $('#work_order_charge_account_id :selected').val();
    if (_c == "") _c = "0";
    $('#fnt-charge-account-v').val(_c);

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-vehicle field changes
    $("#fnt-vehicle").change(function() {
      // preserve the current object
      var _this = (this);
      // make a POST call and replace the content
      var tbl = false;
      var vehicle = $('select#fnt-vehicle :selected').val();
      if (typeof vehicle === "undefined") {
        tbl = true;
        vehicle = $(_this).closest('tr').find('.fnt-vehicle').val();
      }
      if (vehicle == "")
        vehicle = "0";
      var distance = $('#fnt-distance').val();
      if (typeof distance === "undefined") {
        tbl = true;
        distance = $(_this).closest('tr').find('.fnt-distance').val();
      }
      if (distance == "")
        distance = "0";
      // Right formatted for passing as REST parameter
      distance = parseInt(right_number(distance, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_vehicle/' + vehicle + '/' + distance + '/' + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-costv').val(data.cost);
          $(_this).closest('tr').find('.fnt-costsv').val(data.costs);
        } else {
          $("#fnt-costv").val(data.cost);
          $("#fnt-costsv").val(data.costs);
        }
        // Update and display totals is necessary
        $('#vehicles-table').trigger('totals');
      });
      return false;
    });

    // when the #fnt-distance field changes
    $("#fnt-distance").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the #fnt-costv field changes
    $("#fnt-costv").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var tbl = false;
      var cost = $('#fnt-costv').val();
      if (typeof cost === "undefined") {
        tbl = true;
        cost = $(_this).closest('tr').find('.fnt-costv').val();
      }
      if (cost == "")
        cost = "0";
      var distance = $('#fnt-distance').val();
      if (typeof distance === "undefined") {
        tbl = true;
        distance = $(_this).closest('tr').find('.fnt-distance').val();
      }
      if (distance == "")
        distance = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      distance = parseInt(right_number(distance, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_cost_or_distance/' + cost + '/' + distance + '/' + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-distance').val(data.distance);
          $(_this).closest('tr').find('.fnt-costv').val(data.cost);
          $(_this).closest('tr').find('.fnt-costsv').val(data.costs);
        } else {
          $('#fnt-distance').val(data.distance);
          $('#fnt-costv').val(data.cost);
          $('#fnt-costsv').val(data.costs);
        }
        // Update and display totals
        $('#vehicles-table').trigger('totals');
      });
    }
  });

  // Initialize
  function initT() {
    // make a POST call and replace the content
    var order = $('select#work_order_organization_id :selected').val();
    if (order == "")
      order = "0";
    jQuery.getJSON('wo_update_vehicle_select_from_organization/' + order, function(data) {
      var ve = data.vehicle
      // Tool
      $("#fnt-vehicle").html("");
      $("#fnt-vehicle").select2("val", "");
      $("#fnt-vehicle").append($('<option></option>').val("").html(""));
      if (!ve.length) {
        $.each(data, function(id, option) {
          if (id == 'vehicle' && option != "") {
            $("#fnt-vehicle").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2]));
          }
        });
      } else {
        $.each(ve, function(id, option) {
          $("#fnt-vehicle").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2]));
        });
      }
    });
  }
</script>

<div id="new-vehicle-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.work_orders.add_vehicle") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-charge-account-v', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.association :vehicle, collection: @vehicles, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-vehicle', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :distance, as: :string, input_html: { value: (number_with_precision(f.object.distance, precision: 2) if f.object.distance), class: 'mid-text-field number-text-field field', id: 'fnt-distance' }, label_html: { class: 'form-label' } %>
    <%= f.input :cost, as: :string, input_html: { value: (number_with_precision(f.object.cost, precision: 4) if f.object.cost), class: 'mid-text-field number-text-field field', id: 'fnt-costv' }, label_html: { class: 'form-label' } %>
    <%= f.input :costs, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.costs, precision: 4) if f.object.costs), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-costsv' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.work_orders.add_item_to", var: @work_order.full_no) unless @work_order.order_no.blank? %></span>
    <button id="addVehicleButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.work_orders.btn_add_item') %></button>
    <button id="cancelVehicleButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  wo_vehicleFieldsUI.init(sel2NoMatch);
</script>
