<script>
  $(document).ready(function() {
    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-vehicle field changes
    $("#fnt-vehicle").change(function() {
      // make a POST call and replace the content
      var vehicle = $('select#fnt-vehicle :selected').val();
      if (vehicle == "")
        vehicle = "0";
      var distance = $('#fnt-distance').val();
      if (distance == "")
        distance = "0";
      // Right formatted for passing as REST parameter
      distance = parseInt(right_number(distance, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_vehicle/' + vehicle + '/' + distance, function(data) {
        $("#fnt-costv").val(data.cost);
        $("#fnt-costsv").val(data.costs);
      });
      return false;
    });

    // when the #fnt-distance field changes
    $("#fnt-distance").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the #fnt-costv field changes
    $("#fnt-costv").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var cost = $('#fnt-costv').val();
      if (cost == "")
        cost = "0";
      var distance = $('#fnt-distance').val();
      if (distance == "")
        distance = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      distance = parseInt(right_number(distance, 2) * 100);
      jQuery.getJSON('wo_update_costs_from_cost_or_distance/' + cost + '/' + distance, function(data) {
        $('#fnt-distance').val(data.distance);
        $('#fnt-costv').val(data.cost);
        $('#fnt-costsv').val(data.costs);
        // Update and display totals
        $('#vehicles-table').trigger('totals');
      });
    }
  });
</script>

<div id="new-vehicle-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.work_orders.add_vehicle") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :vehicle, collection: @vehicles, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-vehicle', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :distance, as: :string, input_html: { value: (number_with_precision(f.object.distance, precision: 2) if f.object.distance), class: 'mid-text-field number-text-field field', id: 'fnt-distance' }, label_html: { class: 'form-label' } %>
    <%= f.input :cost, as: :string, input_html: { value: (number_with_precision(f.object.cost, precision: 4) if f.object.cost), class: 'mid-text-field number-text-field field', id: 'fnt-costv' }, label_html: { class: 'form-label' } %>
    <%= f.input :costs, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.costs, precision: 4) if f.object.costs), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-costsv' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.work_orders.add_item_to", var: @work_order.full_no) unless @work_order.order_no.blank? %></span>
    <button id="addVehicleButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.work_orders.btn_add_item') %></button>
    <button id="cancelVehicleButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  wo_vehicleFieldsUI.init(sel2NoMatch);
</script>