<tr>
  <td align="right"><%= t :"activerecord.attributes.work_order.hours" %></td>
  <td align="right" id="foot-hours"><%= number_with_precision('0', precision: 4) %></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td align="right"><%= t :"activerecord.attributes.work_order.hours_avg" %></td>
  <td align="right" id="foot-hours-avg"><%= number_with_precision('0', precision: 4) %></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class="totals">
  <td>
    <a id="icon-new-worker-btn" href="#" onclick="javascript:$('.fnt-new-worker-btn').click(); return false;"><i class="icon-plus"></i></a>
    <span class="right-floated"><%= t :"activerecord.attributes.work_order.worker_costs" %></span>
  </td>
  <td></td>
  <td></td>
  <td align="right" id="foot-totalw"><%= number_with_precision('0', precision: 4) %></td>
  <td><a href="#" onclick="javascript:$('#workers-table').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
