<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.work_order.order_no' %></th>
      <th><%= t 'activerecord.attributes.work_order.description' %></th>
      <th><%= t 'activerecord.attributes.work_order.work_order_area' %></th>
      <th><%= t 'activerecord.attributes.work_order.work_order_type' %></th>
      <th><%= t 'activerecord.attributes.work_order.work_order_status' %></th>
      <th align="center"><%= t 'activerecord.attributes.work_order.started_at' %></th>
      <th align="center"><%= t 'activerecord.attributes.work_order.completed_at' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @work_orders.each do |order| %>
    <% if order.closed_at.blank? %>
    <tr>
      <% else %>
    <tr class="inactive-row">
      <% end %>
      <td><%= link_to order.full_no, order %></td>
      <td><%= order.summary[0,20] %></td>
      <td><%= order.work_order_area.short_name unless order.work_order_area.blank? %></td>
      <td><%= order.work_order_type.short_name unless order.work_order_type.blank? %></td>
      <td><%= order.work_order_status.name unless order.work_order_status.blank? %></td>
      <td align="center"><%= order.started_at.strftime("%d/%m/%Y") unless order.started_at.blank? %></td>
      <td align="center"><%= order.completed_at.strftime("%d/%m/%Y") unless order.completed_at.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => WorkOrder, :path => edit_work_order_path(order) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => WorkOrder, :path => order, :msg => t("activerecord.models.work_order.one"), :txt => order.order_no } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @work_orders } %>
