<tr>
  <td align="right"><%= t :"activerecord.attributes.work_order.hours" %></td>
  <td align="right" id="foot-hours"><%= number_with_precision('0', precision: 4) %></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td align="right"><%= t :"activerecord.attributes.work_order.hours_avg" %></td>
  <td align="right" id="foot-hours-avg"><%= number_with_precision('0', precision: 4) %></td>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr class="totals">
  <td align="right"><%= t :"activerecord.attributes.work_order.worker_costs" %></td>
  <td></td>
  <td></td>
  <td align="right" id="foot-totalw"><%= number_with_precision('0', precision: 4) %></td>
  <td><a href="#" onclick="javascript:$('#workers-table').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
