<%= render '/layouts/ag2_tech/wordersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @work_order %> |
<%= link_to t("ag2_tech.work_orders.back_to_main_page"), work_orders_path %>
