<script>
  jQuery(function($) {
    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      window.open("work_order_form.pdf?id=" + id, "_blank");
      return false;
    });

    // when #print_report_btn_empty is clicked
    $("#print_report_btn_empty").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      window.open("work_order_form_empty.pdf?id=" + id, "_blank");
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_tech/wordersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td id="id"><%= @work_order.id %></td>
      <td><%=t 'activerecord.attributes.work_order.order_no' %>:</td>
      <td class="highlighted bolded"><%= @work_order.full_no %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.description' %>:</td>
      <td><%= @work_order.summary %></td>
      <td><%=t 'activerecord.attributes.work_order.project' %>:</td>
      <td><%= @work_order.project.full_name %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.work_order_area' %>:</td>
      <td><%= @work_order.work_order_area.name %></td>
      <td><%=t 'activerecord.attributes.work_order.work_order_type' %>:</td>
      <td><%= @work_order.work_order_type.name %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.work_order_labor' %>:</td>
      <td><%= @work_order.work_order_labor.name %></td>
      <td><%=t 'activerecord.attributes.work_order.infrastructure' %>:</td>
      <td><%= @work_order.infrastructure.full_name unless @work_order.infrastructure.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.area' %>:</td>
      <td><%= @work_order.area.full_name unless @work_order.area.blank? %></td>
      <td><%=t 'activerecord.attributes.work_order.in_charge' %>:</td>
      <td><%= @work_order.in_charge.full_name unless @work_order.in_charge.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.charge_account' %>:</td>
      <td><%= @work_order.charge_account.full_name %></td>
      <td><%=t 'activerecord.attributes.work_order.store' %>:</td>
      <td><%= @work_order.store.name unless @work_order.store.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.client' %>:</td>
      <td><%= @work_order.client.full_name unless @work_order.client.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.petitioner" %>:</td>
      <td><%= @work_order.petitioner unless @work_order.petitioner.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.location' %>:</td>
      <td><%= @work_order.location unless @work_order.location.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.pub_record" %>:</td>
      <td><%= @work_order.pub_record unless @work_order.pub_record.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order.work_order_status' %>:</td>
      <td><%= @work_order.work_order_status.name %></td>
      <td><%= t :"activerecord.attributes.work_order.started_at" %>:</td>
      <td><%= @work_order.started_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.started_at.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.completed_at" %>:</td>
      <td><%= @work_order.completed_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.completed_at.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.closed_at" %>:</td>
      <td><%= @work_order.closed_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.closed_at.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.reported_at" %>:</td>
      <td><%= @work_order.reported_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.reported_at.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.approved_at" %>:</td>
      <td><%= @work_order.approved_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.approved_at.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.certified_at" %>:</td>
      <td><%= @work_order.certified_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.certified_at.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.posted_at" %>:</td>
      <td><%= @work_order.posted_at.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.posted_at.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @work_order } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @work_order } %>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.master_order" %>:</td>
      <td><%= @work_order.master_order unless @work_order.master_order.blank? %></td>
      <td class="highlighted bolded"><%= t :"activerecord.attributes.work_order.total_costs" %>:</td>
      <td class="highlighted bolded"><%= number_with_precision(@work_order.total_costs, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless @work_order.total_costs.blank? %></td>
    </tr>
  </tbody>
</table>

<div id="subscriber_meter">
<!-- Subscriber -->
<h4><%= t 'ag2_tech.work_orders.subscriber_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.subscriber" %>:</td>
      <td><%= @work_order.subscriber.full_name unless @work_order.subscriber.blank? %></td>
      <td><%= t :"activerecord.attributes.subscriber.fiscal_id_c" %>:</td>
      <td><%= @work_order.subscriber.fiscal_id unless @work_order.subscriber.blank? %></td>
    </tr>
  </tbody>
</table>
<!-- Meter -->
<h4><%= t 'ag2_tech.work_orders.meter_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.meter_code" %>:</td>
      <td><%= @work_order.meter_code unless @work_order.meter_code.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.meter_model" %>:</td>
      <td><%= @work_order.meter_model.full_name unless @work_order.meter_model.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.caliber" %>:</td>
      <td><%= @work_order.caliber.caliber unless @work_order.caliber.blank? %></td>
      <td><%= t :"activerecord.attributes.meter_model.meter_type" %>:</td>
      <td><%= @work_order.meter.meter_model.meter_type.name unless @work_order.meter.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.meter_owner" %>:</td>
      <td><%= @work_order.meter_owner.name unless @work_order.meter_owner.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.meter_location" %>:</td>
      <td><%= @work_order.meter_location.name unless @work_order.meter_location.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.last_reading" %>:</td>
      <td><%= @work_order.last_reading.reading_date.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.last_reading.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.reading_index" %>:</td>
      <td><%= @work_order.last_reading.reading_date unless @work_order.last_reading.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.current_reading" %>:</td>
      <td><%= @work_order.current_reading_date.strftime("%d/%m/%Y %H:%M:%S") unless @work_order.current_reading_date.blank? %></td>
      <td><%= t :"activerecord.attributes.work_order.reading_index" %>:</td>
      <td><%= @work_order.current_reading_index unless @work_order.current_reading_index.blank? %></td>
    </tr>
  </tbody>
</table>
</div>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t '.print' %></a>
        <a href="#" id="print_report_btn_empty" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t '.print_empty' %></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'items_footer', :locals => { order: @work_order } %>
  </tfoot>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @items } %>
<% end %> <!-- end @items.count > 0 -->

<!-- Workers -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.workers_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@workers.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'workers_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'workers_footer', :locals => { order: @work_order } %>
  </tfoot>
  <tbody>
    <%= render partial: 'worker', collection: @workers %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @workers } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @workers } %>
<% end %> <!-- end @workers.count > 0 -->

<!-- Subcontractors -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.subcontractors_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@subcontractors.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'subcontractors_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'subcontractors_footer', :locals => { order: @work_order } %>
  </tfoot>
  <tbody>
    <%= render partial: 'subcontractor', collection: @subcontractors %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @subcontractors } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @subcontractors } %>
<% end %> <!-- end @subcontractors.count > 0 -->

<!-- Tools -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.tools_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@tools.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'tools_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'tools_footer', :locals => { order: @work_order } %>
  </tfoot>
  <tbody>
    <%= render partial: 'tool', collection: @tools %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @tools } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @tools } %>
<% end %> <!-- end @tools.count > 0 -->

<!-- Vehicles -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_orders.vehicles_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@vehicles.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'vehicles_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'vehicles_footer', :locals => { order: @work_order } %>
  </tfoot>
  <tbody>
    <%= render partial: 'vehicle', collection: @vehicles %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @vehicles } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @vehicles } %>
<% end %> <!-- end @vehicles.count > 0 -->

<!-- Remarks -->
<table class="table odd_even_table">
  <!-- title1 -->
  <col width="12%" />
  <!-- content1 -->
  <col width="74%" />
  <!-- title2 -->
  <col width="12%" />
  <!-- content2 -->
  <col width="2%" />
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.remarks" %>:</td>
      <td><%= @work_order.remarks unless @work_order.remarks.blank? %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.work_order.incidences" %>:</td>
      <td><%= @work_order.incidences unless @work_order.incidences.blank? %></td>
      <td align="right"><%= t :"activerecord.attributes.work_order.por_affected" %>:</td>
      <td align="right"> <% if @work_order.por_affected %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: WorkOrder, update_path: edit_work_order_path(@work_order), update_txt: t('.btn_edit'),
delete_path: @work_order, delete_txt: t('.btn_delete'), msg: t("activerecord.models.work_order.one"), txt: @work_order.order_no,
new_path: new_work_order_path, new_txt: t('ag2_tech.work_orders.index.btn_new') } %>

<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t("ag2_tech.work_orders.back_to_main_page"), work_orders_path %>
