<script>
  $(document).ready(function() {
    dd_import_files('#dd_files', '#image_content', 'cc_update_attachment');
  });

  jQuery(function($) {
    // when the #corp_contact_office_id field changes
    $("#corp_contact_office_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#corp_contact_office_id').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_company_textfield_from_office/' + contact, function(data) {
        $("#corp_contact_company_id").val(data.id);
      })
      return false;
    });

    // when the #corp_contact_avatar field changes
    $("#corp_contact_avatar").change(function() {
      readImageFromInput(this, '#dd_files');
    });
  });
</script>

<%= simple_form_for @corp_contact, :html => { :class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.input :last_name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :first_name, :required => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two"> <%= f.association :office, collection: Office.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :company, collection: Company.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :position, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :department, collection: Department.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :email, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :real_email, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' }, :boolean_style => :inline %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :corp_phone, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :corp_extension, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :corp_cellular_long, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :corp_cellular_short, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<!-- Attachment -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged"> <%= f.input :avatar, as: :file, input_html: { accept: 'image/*' }, label_html: { class: 'form-label' } %> </td>
      <td class="form-td-two right-winged">
      <div id="dd_files">
        <% if !@corp_contact.avatar_file_name.nil? %>
          <span id="image_text"></span>
          <img id="image_content" src="<%= @corp_contact.avatar.url %>">
        <% else %>
          <span id="image_text"><%= t 'dd_image_message' %></span>
          <img id="image_content" hidden>
        <% end %>
      </div></td>
    </tr>
  </tbody>
</table>
<!-- Buttons -->
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
