<%= render '/layouts/ag2_directory/corpcontactsbreadcrumb' %>

<h3>Corporate Contacts</h3>

<% @companies.each do |company| %>
<!-- Company -->
<h4 class="blue-band">
  <%= company.name %>
  <span class="blue-separator">| </span><i class="icon-hand-right icon-white"></i>
  <%= company.fiscal_id  %>
  <span class="blue-separator">| </span><i class="icon-phone-white"></i>
  <% if !company.phone.nil? && company.phone != '' %>
  <%= company.phone %>
  <% else %>
  ...
  <% end %>
  <span class="blue-separator">| </span><i class="icon-iphone-white"></i>
  <% if !company.cellular.nil? && company.cellular != '' %>
  <%= company.cellular %>
  <% else %>
  ...
  <% end %>
</h4>

<% company.offices.sort_by{ |office| office.name }.each do |office| %>
<% if (office.corp_contacts.count > 0) %>
<!-- Office -->
<h5 class="yellow-band">
  <%= office.name %>
  <span class="yellow-separator">| </span><i class="icon-hand-right"></i>
  <%= office.office_code  %>
  <span class="yellow-separator">| </span><i class="icon-phone-black"></i>
  <% if !office.phone.nil? && office.phone != '' %>
  <%= office.phone %>
  <% else %>
  ...
  <% end %>
  <span class="yellow-separator">| </span><i class="icon-iphone-black"></i> 
  <% if !office.cellular.nil? && office.cellular != '' %>
  <%= office.cellular %>
  <% else %>
  ...
  <% end %>
  <span class="yellow-separator">| </span><i class="icon-road"></i> 
  <%= office.street_type.street_type_code.titleize  %>. <%= office.street_name %> <%= office.street_number %>
  <% if !office.building.nil? %>
  <%= office.building.titleize %>
  <% end %>
  <% if !office.floor.nil? %>
  <%= office.floor %>&ordm;
  <% end %>
  <% if !office.floor_office.nil? %>
  <%= office.floor_office %>
  <% end %>-
  <%= office.town.name %>,
  <%= office.zipcode.zipcode %>
  <%= office.province.name %>
</h5>

<!-- Contact -->
<table class="table table-condensed table-striped shrinked fixed">
  <!-- Name -->
  <col width="23%" />
  <!-- Position -->
  <col width="13%" />
  <!-- Department -->
  <col width="8%" />
  <!-- Phone -->
  <col width="14%" />
  <!-- Cellular -->
  <col width="14%" />
  <!-- Email -->
  <col width="20%" />
  <!-- Buttons -->
  <col width="8%" />
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Position</th>
      <th>Dept</th>
      <th>Phone</th>
      <th>Cellular</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% office.corp_contacts.each do |contact| %>
    <tr>
      <td><%= link_to contact.last_name + ', ' + contact.first_name, contact %></td>
      <td><%= contact.position unless contact.position.nil? %></td>
      <td><%= Department.find(contact.department).code unless contact.department.nil? %></td>
      <td><%= contact.corp_phone unless contact.corp_phone.nil? %>
      <% if !contact.corp_extension.nil? && contact.corp_extension != '' %>
      (<%= contact.corp_extension %>)
      <% end %> </td>
      <td><%= contact.corp_cellular_long unless contact.corp_cellular_long.nil? %>
      <% if !contact.corp_cellular_short.nil? && contact.corp_cellular_short != '' %>
      (<%= contact.corp_cellular_short %>)
      <% end %> </td>
      <td><%= contact.email %></td>
      <td><%= link_to edit_corp_contact_path(contact), :class => 'btn btn-mini' do %> <i class="icon-edit"></i> <% end %>
      <%= link_to(contact, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') do %> <i class="icon-trash"></i> <% end %> </td>
    </tr>
    <% end %>
  </tbody>
</table> <% end %>
<% end %>
<% end %>

<%= link_to 'New Contact', new_corp_contact_path, :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to 'Back to ag2Directory', ag2_directory.root_path %> 