<%= render '/layouts/ag2_directory/corpcontactsbreadcrumb' %>

<h3>Corporate Contacts</h3>
<div class="span12">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Cellular</th>
        <th>Email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @corp_contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.last_name + ', ' + contact.first_name, contact %></td>
        <td><%= contact.position unless contact.position.nil? %></td>
        <td><%= Department.find(contact.department).name unless contact.department.nil? %></td>
        <td><%= contact.corp_phone unless contact.corp_phone.nil? %>
        <% if contact.corp_extension.nil? %>
        (<%= contact.corp_extension %>)
        <% end %> </td>
        <td><%= contact.corp_cellular_long unless contact.corp_cellular_long.nil? %>
        <% if contact.corp_cellular_short.nil? %>
        (<%= contact.corp_cellular_short %>)
        <% end %> </td>
        <td><%= contact.email %></td>
        <td><%= link_to 'Edit', edit_corp_contact_path(contact), :class => 'btn btn-mini' %>
        <%= link_to("Delete", contact, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Contact', new_corp_contact_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Back to ag2Directory', ag2_directory.root_path %>
</div>
