<%= render '/layouts/ag2_directory/corpcontactsbreadcrumb' %>

<h3>Contacts Found</h3>

<%= render :partial => '/layouts/lettershead', :locals => { :controller => "corp_contacts", :action => "search" } %>
<table class="table table-condensed table-striped shrinked fixed">
  <!-- Name -->
  <col width="30%" />
  <!-- Phone -->
  <col width="20%" />
  <!-- Cellular -->
  <col width="20%" />
  <!-- Email -->
  <col width="30%" />
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Phone</th>
      <th>Cellular</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <% @corp_contacts.each do |contact| %>
    <%= render :partial => 'layouts/ag2_directory/contactinfo', :locals => { :contact => contact } %>
    <tr>
      <td><a data-toggle="modal" href="#contactinfo<%= contact.id.to_s %>"><%= contact.last_name + ', ' + contact.first_name %></a></td>
      <!-- <td><%= link_to contact.last_name + ', ' + contact.first_name, contact %></td> -->
      <td><%= contact.corp_phone unless contact.corp_phone.nil? %>
      <% if !contact.corp_extension.nil? && contact.corp_extension != '' %>
      (<%= contact.corp_extension %>)
      <% end %> </td>
      <td><%= contact.corp_cellular_long unless contact.corp_cellular_long.nil? %>
      <% if !contact.corp_cellular_short.nil? && contact.corp_cellular_short != '' %>
      (<%= contact.corp_cellular_short %>)
      <% end %> </td>
      <td><%= contact.email %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back to Corporate Contacts', corp_contacts_path %>
