<%= render '/layouts/ag2_directory/corpcontactsbreadcrumb' %>

<h3> <% if session[:resolution] == "LD" %>
<%= image_tag @corp_contact.avatar.url(:small) %> <!-- small image size --> <% elsif session[:resolution] == "SD" %>
<%= image_tag @corp_contact.avatar.url(:medium) %> <!-- medium image size --> <% else %>
<%= image_tag @corp_contact.avatar.url %> <!-- big image size --> <% end %>
<%= @corp_contact.full_name %> </h3>
<table class="table">
  <tbody>
    <tr>
      <td><%=t :"activerecord.attributes.corp_contact.office" %></td>
      <td><%= Office.find(@corp_contact.office).name unless @corp_contact.office.nil? %></td>
      <td><%=t :"activerecord.attributes.corp_contact.company" %></td>
      <td><%= Company.find(@corp_contact.company).name unless @corp_contact.company.nil? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.corp_contact.position" %></td>
      <td><%= @corp_contact.position unless @corp_contact.position.nil? %></td>
      <td><%=t :"activerecord.attributes.corp_contact.department" %></td>
      <td><%= Department.find(@corp_contact.department).name unless @corp_contact.department.nil? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.corp_contact.corp_phone" %></td>
      <td><%= @corp_contact.corp_phone %>
      <% if !@corp_contact.corp_extension.blank? %>
      (<%= @corp_contact.corp_extension %>)
      <% end %> </td>
      <td><%=t :"activerecord.attributes.corp_contact.corp_cellular_long" %></td>
      <td><%= @corp_contact.corp_cellular_long %>
      <% if !@corp_contact.corp_cellular_short.blank? %>
      (<%= @corp_contact.corp_cellular_short %>)
      <% end %> </td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.corp_contact.email" %></td>
      <td><%= @corp_contact.email %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t :created_at %>:</td>
      <td><%= @corp_contact.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td><%=t :updated_at %>:</td>
      <td><%= @corp_contact.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to I18n.t("btn_edit", :scope => :"ag2_directory.corp_contacts.show"), edit_corp_contact_path(@corp_contact), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t("back_to_main_page", :scope => :"ag2_directory.corp_contacts"), corp_contacts_path %>
