<script>
  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
  });
  
  jQuery(function($) {
    // when the #project_office_id field changes
    $("#project_office_id").change(function() {
      // make a POST call and replace the content
      var project = $('select#project_office_id :selected').val();
      if (project == "")
        project = "0";
      jQuery.getJSON('pr_update_company_textfield_from_office/' + project, function(data) {
        $("#project_company_id").val(data.id);
      })
      return false;
    });

    // when the #project_organization_id field changes
    $("#project_organization_id").change(function() {
      // make a POST call and replace the content
      var project = $('select#project_organization_id :selected').val();
      if (project == "")
        project = "0";
      jQuery.getJSON('pr_update_company_and_office_textfields_from_organization/' + project, function(data) {
        var c = data.companies;
        var o = data.offices;
        // Companies
        $("#project_company_id").html("");
        $("#project_company_id").val("");
        $("#project_company_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'companies' && option != "") {
              $("#project_company_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#project_company_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Offices
        $("#project_office_id").html("");
        $("#project_office_id").val("");
        $("#project_office_id").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'offices' && option != "") {
              $("#project_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#project_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
          });
        }
      });
      return false;
    });
  })
</script>

<%= simple_form_for @project, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.input :project_code, autofocus: true, input_html: { class: 'large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :ledger_account, input_html: { class: 'large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<%= f.input :name, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two">
    <% if session[:office] != '0' %>
    <%= f.association :office, collection: Office.where("id = ?", "#{session[:office]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.offices.count > 0 %>
    <%= f.association :office, collection: current_user.offices.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :office, collection: @offices, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two">
    <% if session[:company] != '0' %>
    <%= f.association :company, collection: Company.where("id = ?", "#{session[:company]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.companies.count > 0 %>
    <%= f.association :company, collection: current_user.companies.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :company, collection: @companies, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :opened_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.opened_at.strftime("%d/%m/%Y") if f.object.opened_at), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :closed_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.closed_at.strftime("%d/%m/%Y") if f.object.closed_at), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
