<script>
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  }); 
/*
  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });
*/
  $(window).bind("load", function() {
    $("#No").val("<%= params[:No] %>");
    $("#WrkrCompany").val("<%= params[:WrkrCompany] %>");
    $("#WrkrOffice").val("<%= params[:WrkrOffice] %>");
  });

  jQuery(function($) {
    // when the #WrkrCompany field changes
    $("#WrkrCompany").change(function() {
      // make a POST call and replace the content
      var com = $('#WrkrCompany :selected').val();
      if (com == "")
        com = "0";
      jQuery.getJSON('pr_update_offices_select_from_company/' + com, function(data) {
        $("#WrkrOffice").html("");
        //$("#WrkrOffice").select2("val", "");
        $("#WrkrOffice").append($('<option></option>').val("").html(""));
        $.each(data, function(id, option) {
          $("#WrkrOffice").append($('<option></option>').val(option.id).html(option.name));
        });
      });
      return false;
    });
    
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#WrkrCompany").val("");
      $("#WrkrOffice").val("");
      jQuery.getJSON('pr_update_offices_select_from_company/0', function(data) {
        $("#WrkrOffice").html("");
        $("#WrkrOffice").append($('<option></option>').val("").html(""));
        $.each(data, function(id, option) {
          $("#WrkrOffice").append($('<option></option>').val(option.id).html(option.name));
        });
      });
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      window.open("project_view_report.pdf", "_blank");
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_tech/projectsbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_tech.projects_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "projects", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.project.project_code"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Company -->
        <%= label_tag I18n.t("ag2_tech.projects.index.label_company"), nil, :class => 'form-label' %>
        <% if session[:company] != '0' %>
        <%= select_tag "WrkrCompany", options_from_collection_for_select(@companies, "id", "name"), :class => 'x-large-text-field shrinked' %>
        <% else %>
        <%= select_tag "WrkrCompany", options_from_collection_for_select(@companies, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Office -->
        <%= label_tag I18n.t("ag2_tech.projects.index.label_office"), nil, :class => 'form-label' %>
        <% if session[:office] != '0' %>
        <%= select_tag "WrkrOffice", options_from_collection_for_select(@offices, "id", "name"), :class => 'x-large-text-field shrinked' %>
        <% else %>
        <%= select_tag "WrkrOffice", options_from_collection_for_select(@offices, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_tech.projects.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Control&Tracking -->
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t 'ag2_tech.home.index.control' %></a>
        <br /><br />
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Project, :path => new_project_path, :txt => t(".btn_new") } %>
        <%= link_to t(".back_to_root"), ag2_tech.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'projects' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

