<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "street_type_id", t('activerecord.attributes.street_directory.street_type') %></th>
      <th><%= sortable "street_name", t('activerecord.attributes.street_directory.street_name') %></th>
      <th><%= sortable "town_id", t('activerecord.attributes.street_directory.town') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @street_directories.each do |street| %>
      <tr>
        <td><%= street.try(:street_type).try(:street_type_description) %></td>
        <td><%= street.try(:street_name) %></td>
        <td><%= street.try(:town).try(:to_label) %></td>
        <td> <%= link_to street_directory_path(street), class: "btn btn-mini" do %><i class="icon-eye-open"></i><% end %>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => StreetDirectory, :path => edit_street_directory_path(street) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => StreetDirectory, :path => street, :msg => t("activerecord.models.street_directory.one"), :txt => street.to_label } %> </td>
      </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @street_directories } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => StreetDirectory, :path => new_street_directory_path, :txt => t("ag2_gest.street_directories.index.btn_new") } %>
<%= link_to t("ag2_gest.street_directories.index.back_to_root"), ag2_gest.root_path %>
