<%= render '/layouts/ag2_gest/sdirectorybreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @street_directory %> |
<%= link_to t('.back'), street_directories_path %>