<%= render '/layouts/ag2_products/itransfersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @inventory_transfer %> |
<%= link_to t("ag2_products.inventory_transfers.back_to_main_page"), inventory_transfers_path %>
