<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "code", t('activerecord.attributes.center.code') %></th>
      <th><%= sortable "name", t('activerecord.attributes.center.name') %></th>
      <th><%= sortable "town_id", t('activerecord.attributes.center.town') %></th>
      <th><%= sortable "active", t('activerecord.attributes.center.active') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @centers.each do |center| %>
    <tr>
      <td><%= link_to center.code, center %></td>
      <td><%= center.try(:name) %></td>
      <td><%= center.try(:town).try(:name) %></td> <!-- Render With id in the model method -->
      <td>
        <% if center.try(:active) == true %>
          <i class="icon-thumbs-up"></i>
        <% else %>
          <i class="icon-thumbs-down"></i>
        <% end %>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => Center, :path => edit_center_path(center) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => Center, :path => center, :msg => t("activerecord.models.center.one"), :txt => center.to_label } %> </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @centers } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Center, :path => new_center_path, :txt => t("ag2_gest.centers.index.btn_new") } %>
<%= link_to t("ag2_gest.centers.index.back_to_root"), ag2_gest.root_path %>
