<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.center.id') %></th>
      <th><%= sortable "name", t('activerecord.attributes.center.name') %></th>
      <th><%= sortable "town_id", t('activerecord.attributes.center.town') %></th>
      <th><%= sortable "active", t('activerecord.attributes.center.active') %></th>
    </tr>
  </thead>
  <tbody>
    <% @centers.each do |center| %>
    <tr>
      <td><%= link_to center.try(:id), ag2_gest.center_path(center) %></td>
      <td><%= center.try(:name) %></td>
      <td><%= center.try(:town).try(:name) %></td> <!-- Render With id in the model method -->
      <td>
        <% if center.try(:active) == true %>
          <i class="icon-thumbs-up"></i>
        <% else %>
          <i class="icon-thumbs-down"></i>
        <% end %>
      <td>
        <%= link_to edit_center_path(center), class: "btn btn-mini" do %>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to center, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @centers } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Center, :path => new_center_path, :txt => t("ag2_gest.centers.index.btn_new") } %>
<%= link_to t("ag2_gest.centers.index.back_to_root"), ag2_gest.root_path %>