<script type="text/javascript">
  $(document).ready(function() {
    // Select2
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
  });
</script>

<%= simple_form_for @center, :html => {:class => 'form-vertical well' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>

  <div class="row-fluid">
    
    <div class="span6">
    
    <%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </div>
    
    <%= f.association :town, collection: Town.all(), :input_html => { :class => 'sel2 x-large-text-field' }, label_method: lambda { |st| st.name }, value_method: :id, :label_html => { :class => 'form-label' }, wrapper_html: {class: "span4"} %>

    <div class="span2">
      <%= f.input :active, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </div>

  </div>

  <%= f.button :submit, :class => 'btn-primary' %>

<% end %>