<script type="text/javascript">
	$(document).ready(function() {
	  // Select2
	  $('select.sel2').select2({
	    formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
	    allowClear: true
	  });
	});
</script>

<%= simple_form_for @caliber, :html => {:class => 'form-vertical well' } do |f| %>
	<%= f.error_notification %>
	<%= display_base_errors resource %>

  <div class="row-fluid">
		<div class="span4">
			<%= f.input :caliber, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
		</div>
		<div class="span4">
			<%= f.input :nominal_flow, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
		</div>
		<div class="span2">
			<%= f.input :letter_id, :input_html => { :class => 'x-large-text-field'}, :label_html => { :class => 'form-label' } %>
		</div>
	</div>

	<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
