<script>
  jQuery(function($) {
    // when the #zipcode_town_id field changes
    $("#zipcode_town_id").change(function() {
      // make a POST call and replace the content
      var town = $('select#zipcode_town_id :selected').val();
      if (town == "")
        town = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + town, function(data) {
        $("#zipcode_province_id").val(data.id);
      })
      return false;
    });
  })
</script>

<%= simple_form_for @zipcode, :html => {:class => 'span12 two-columns-form form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div class="span6 form-column">
  <%= f.input :zipcode, :required => true, :autofocus => true, :input_html => { :class => 'x-small-text-field number-text-field' } %>
</div>
<div class="span6 form-column">
  <%= f.association :town, collection: Town.all(order: 'name'), :input_html => { :class => 'large-text-field' } %>
  <%= f.association :province, collection: Province.all(order: 'name'), :input_html => { :class => 'large-text-field' } %>
</div>
<div class="span12 form-column">
  <%= f.button :submit, :class => 'btn-primary' %>
  <br />
  <br />
</div>
<% end %>
