<script>
  jQuery(function($) {
    // when the #zipcode_town_id field changes
    $("#zipcode_town_id").change(function() {
      // make a POST call and replace the content
      var town = $('select#zipcode_town_id :selected').val();
      if (town == "")
        town = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + town, function(data) {
        $("#zipcode_province_id").val(data.id);
      })
      return false;
    });
  })
</script>

<%= simple_form_for @zipcode, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :zipcode, :required => true, :autofocus => true, :input_html => { :class => 'small-text-field' }, :label_html => { :class => 'form-label' } %>
<div>
  <label class="multi-field-label-two"> <%= f.association :town, collection: @towns, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :province, collection: @provinces, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
