<%= render '/layouts/ag2_admin/zipcodesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "zipcode", t('activerecord.attributes.zipcode.zipcode') %></th>
        <th><%= sortable "town_id", t('activerecord.attributes.zipcode.town') %></th>
        <th><%= sortable "province_id", t('activerecord.attributes.zipcode.province') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @zipcodes.each do |zipcode| %>
      <tr>
        <td><%= link_to zipcode.zipcode, zipcode %></td>
        <td><%= zipcode.town.name unless zipcode.town.blank? %></td>
        <td><%= zipcode.province.name_and_region unless zipcode.province.blank? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Zipcode, :path => edit_zipcode_path(zipcode) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Zipcode, :path => zipcode, :msg => I18n.t("activerecord.models.zipcode.one"), :txt => zipcode.zipcode } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @zipcodes } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Zipcode, :path => new_zipcode_path, :txt => I18n.t("ag2_admin.zipcodes.index.btn_new") } %>
  <%= link_to I18n.t("ag2_admin.zipcodes.index.go_to_parent"), provinces_path %> |
  <%= link_to I18n.t("ag2_admin.zipcodes.index.go_to_link"), towns_path %> |
  <%= link_to I18n.t("ag2_admin.zipcodes.index.back_to_root"), ag2_admin.root_path %>
</div>
