<%= render '/layouts/ag2_admin/zipcodesbreadcrumb' %>

<h3><%=t '.title' %> <%= @zipcode.zipcode %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @zipcode.id %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.zipcode.town' %>:</td>
      <td><%= @zipcode.town.name unless @zipcode.town.blank? %></td>
      <td><%=t 'activerecord.attributes.zipcode.province' %>:</td>
      <td><%= @zipcode.province.name_and_region unless @zipcode.province.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @zipcode } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @company } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_admin.zipcodes.show.btn_edit'), edit_zipcode_path(@zipcode), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t('ag2_admin.zipcodes.back_to_main_page'), zipcodes_path %>
