<%= render '/layouts/ag2_admin/zipcodesbreadcrumb' %>

<h3><%=t '.title' %> <%= @zipcode.zipcode %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @zipcode.id %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.zipcode.town' %>:</td>
      <td><%= @zipcode.town.name unless @zipcode.town.blank? %></td>
      <td><%=t 'activerecord.attributes.zipcode.province' %>:</td>
      <td><%= @zipcode.province.name_and_region unless @zipcode.province.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @zipcode } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @zipcode } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Zipcode, update_path: edit_zipcode_path(@zipcode), update_txt: t('.btn_edit'),
delete_path: @zipcode, delete_txt: t('.btn_delete'), msg: t("activerecord.models.zipcode.one"), :txt => @zipcode.zipcode,
new_path: new_zipcode_path, new_txt: t('ag2_admin.zipcodes.index.btn_new') } %>

<%= link_to I18n.t('ag2_admin.zipcodes.back_to_main_page'), zipcodes_path %>
