<%= render '/layouts/ag2_admin/zipcodesbreadcrumb' %>

<h3><%= @zipcode.zipcode %></h3>
<table class="table"
<tbody>
<tr>
<td>Id:</td>
<td><%= @zipcode.id %></td>
<td></td>
<td></td>
</tr>
<tr>
<td>Town:</td>
<td><%= Town.find(@zipcode.town).name unless @zipcode.town.nil? %></td>
<td>Province:</td>
<td><%= Province.find(@zipcode.province).name unless @zipcode.province.nil? %></td>
</tr>
<tr>
<td>Created at:</td>
<td><%= @zipcode.created_at %></td>
<td>Updated at:</td>
<td><%= @zipcode.updated_at %></td>
</tr>
</tbody>
</table>

<%= link_to 'Edit Zipcode', edit_zipcode_path(@zipcode), :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Back to Zipcodes', zipcodes_path %>
