<tr>
  <td><%= item.try(:code) %></td>
  <td><%= item.try(:subcode) %></td>
  <td><%= item.try(:description) %></td>
  <td><%= item.try(:measure).try(:description) %></td>
  <td align="right"><%= number_with_precision(item.quantity, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.price, precision: 4) %></td>
  <% if !item.discount.blank? %>
  <td align="right"><%= number_with_precision(item.discount_pct, precision: 2) %></td>
  <td align="right"><%= number_with_precision(item.discount, precision: 4) %></td>
  <% else %>
  <td></td>
  <td></td>
  <% end %>
  <td align="right"><%= number_with_precision(item.amount, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.tax, precision: 4) %></td>
</tr>
