<script>
  $(document).ready(function() {
  });

  jQuery(function($) {
    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      //window.open("invoice_form.pdf?id=" + id, "_blank");
      $("#notfound").modal('show');
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_gest/invoicesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td id="id"><%= @invoice.id %></td>
      <td><%=t 'activerecord.attributes.invoice.invoice_no' %>:</td>
      <td class="highlighted bolded"><%= @invoice.full_no %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.invoice.invoice_date' %>:</td>
      <td><%= formatted_date(@invoice.invoice_date) unless @invoice.invoice_date.blank? %></td>
      <td><%=t 'activerecord.attributes.invoice.bill' %>:</td>
      <td><%= @invoice.try(:bill).try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.bill.client' %>:</td>
      <td><%= @invoice.try(:bill).try(:client).try(:full_name_or_company_and_code) %></td>
      <td><%=t 'activerecord.attributes.bill.subscriber' %>:</td>
      <td><%= @invoice.try(:bill).try(:subscriber).try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.bill.project' %>:</td>
      <td><%= @invoice.try(:bill).try(:project).try(:to_label) %></td>
      <td><%=t 'activerecord.attributes.invoice.invoice_type' %>:</td>
      <td><%= @invoice.try(:invoice_type).try(:name) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.invoice.invoice_status' %>:</td>
      <td><%= @invoice.try(:invoice_status).try(:name) %></td>
      <td><%=t 'activerecord.attributes.invoice.invoice_operation' %>:</td>
      <td><%= @invoice.try(:invoice_operation).try(:name) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.commercial_billing.charge_account' %>:</td>
      <td colspan="3"><%= @invoice.charge_account.full_name unless @invoice.charge_account.blank? %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.commercial_billing.payment_method' %>:</td>
      <td><%= @invoice.payment_method.description unless @invoice.payment_method.blank? %> </td>
      <td class="highlighted bolded"><%= t "activerecord.attributes.commercial_billing.debt" %>:</td>
      <td class="highlighted bolded"><%= number_with_precision(@invoice.debt, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless @invoice.debt.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @invoice } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @invoice } %>
  </tbody>
</table>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_gest.invoices.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to "<i class='icon-print icon-white'></i> #{t '.print'}".html_safe, biller_pdf_bill_path(@invoice.bill, :format => :pdf), target: "_blank", class: "btn btn-warning" %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render partial: 'items_header', :locals => { invoice: @invoice } %>
  </thead>
  <tfoot>
    <%= render partial: 'items_footer', :locals => { invoice: @invoice } %>
  </tfoot>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @items } %>
<% end %> <!-- end @items.count > 0 -->

<!-- Remarks -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.invoice.remarks" %>:</td>
      <td style="width: 88%"><%= @invoice.remarks unless @invoice.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<% if !session[:return_to_bill].nil? %>
  <%= link_to session[:return_to_bill], session[:return_to_bill_url] %> |
<% end %>
<%= link_to t("ag2_gest.invoices.back_to_main_page"), invoices_path %>
