<%= render '/layouts/ag2_human/trecordtypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @timerecord_type.id %></td>
      <td><%=t :"activerecord.attributes.timerecord_type.name" %>:</td>
      <td><%= @timerecord_type.name %></td>
    </tr>
    <tr>
      <td><%=t :created_at %>:</td>
      <td><%= @timerecord_type.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td><%=t :updated_at %>:</td>
      <td><%= @timerecord_type.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to I18n.t("ag2_human.timerecord_types.show.btn_edit"), edit_timerecord_type_path(@timerecord_type), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t("ag2_human.timerecord_types.back_to_main_page"), timerecord_types_path %>
