<%= render '/layouts/ag2_human/trecordtypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @timerecord_type.id %></td>
      <td><%=t :"activerecord.attributes.timerecord_type.name" %>:</td>
      <td><%= @timerecord_type.name %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @timerecord_type } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @timerecord_type } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update', :locals => { :model => TimerecordType, :path => edit_timerecord_type_path(@timerecord_type), :txt => I18n.t('ag2_human.timerecord_types.show.btn_edit') } %>
<%= link_to I18n.t("ag2_human.timerecord_types.back_to_main_page"), timerecord_types_path %>
