<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "code", t('activerecord.attributes.tariff_type.code') %></th>
      <th><%= sortable "name", t('activerecord.attributes.tariff_type.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @tariff_types.each do |tariff| %>
    <tr>
      <td><%= link_to tariff.try(:code), tariff_type_path(tariff) %></td>
      <td><%= tariff.try(:name) %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => TariffType, :path => edit_tariff_type_path(tariff) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => TariffType, :path => tariff, :msg => t("activerecord.models.tariff_type.one"), :txt => tariff.name } %> </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @tariff_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => TariffType, :path => new_tariff_type_path, :txt => t("ag2_gest.tariff_types.index.btn_new") } %>
<%= link_to t("ag2_gest.tariff_types.index.back_to_management"), ag2_gest.tariff_management_path %>