<%= render '/layouts/ag2_admin/dataimportbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.data_import_configs.edit.btn_show'), @data_import_config %> |
<%= link_to I18n.t('ag2_admin.data_import_configs.back_to_main_page'), data_import_configs_path %>
