<%= render '/layouts/ag2_admin/dataimportbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span10">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%=t 'activerecord.attributes.data_import_config.name' %></th>
        <th><%=t 'activerecord.attributes.data_import_config.source' %></th>
        <th><%=t 'activerecord.attributes.data_import_config.target' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @data_import_configs.each do |config| %>
      <tr>
        <td><%= link_to config.name, config %></td>
        <td><%= config.source unless config.source.blank? %></td>
        <td><%= config.target unless config.target.blank? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => DataImportConfig, :path => edit_data_import_config_path(config) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => DataImportConfig, :path => config, :msg => I18n.t("activerecord.models.data_import_config"), :txt => config.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => DataImportConfig, :path => new_data_import_config_path, :txt => I18n.t("ag2_admin.data_import_configs.index.btn_new") } %>
  <%= link_to I18n.t("ag2_admin.data_import_configs.index.back_to_root"), ag2_admin.config_path %>
</div>
