<%= render '/layouts/ag2_admin/dataimportbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @data_import_config.id %></td>
      <td><%=t 'activerecord.attributes.data_import_config.name' %>:</td>
      <td><%= @data_import_config.name %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.data_import_config.source' %>:</td>
      <td><%= @data_import_config.source %></td>
      <td><%=t 'activerecord.attributes.data_import_config.target' %>:</td>
      <td><%= @data_import_config.target %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @data_import_config } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @data_import_config } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update', :locals => { :model => DataImportConfig, :path => edit_data_import_config_path(@data_import_config), :txt => I18n.t('ag2_admin.data_import_configs.show.btn_edit') } %>
<%= link_to I18n.t('ag2_admin.data_import_configs.back_to_main_page'), data_import_configs_path %>
