<%= render '/layouts/ag2_gest/metertypesbreadcrumb' %>

<h3><%= t(".title")%></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.meter_type.id') %>:</td>
      <td><%= @meter_type.try(:id) %></td>
      <td><%= t('activerecord.attributes.meter_type.name') %>:</td>
      <td><%= @meter_type.try(:name) %></td>
    </tr>
      <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @meter_type } %>
      <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @meter_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: MeterType, update_path: edit_meter_type_path(@meter_type), update_txt: t('.btn_edit'),
delete_path: @meter_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.meter_type.one"), :txt => @meter_type.name,
new_path: new_meter_type_path, new_txt: t('ag2_gest.meter_types.index.btn_new') } %>

<%= link_to I18n.t('ag2_gest.meter_types.back_to_main_page'), meter_types_path %>
