<div id="role-options-<%= user.id %>" class="modal" style="display: none;">
  <%= simple_form_for user, :url => user_path(user), :html => {:method => :put, :class => 'form-inline' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3><%= I18n.t('ag2_admin.users.index.change_role_title', :user => User.find(user.id).name) %></h3>
    </div>
    <div class="modal-body">
      <%= hidden_field_tag :referrer, users_path %>
      <%= f.input :role_ids, :collection => Role.all(order: 'name'), :as => :check_boxes, :label_method => lambda {|t| t.name}, :label => false, :item_wrapper_class => 'inline' %>
    </div>
    <div class="modal-footer">
      <%= f.submit I18n.t('ag2_admin.users.index.btn_change_role'), :class => "btn btn-primary submit_btn" %>
      <a class="btn btn-primary close_btn" data-dismiss="modal" href="#"><%=t :close_button %></a>
    </div>
  <% end %>
</div>
