<%= render '/layouts/ag2_admin/usersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= simple_form_for @user, :html => { :class => 'form-inline well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :email, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
<%= f.input :name, :required => true, :label_html => { :class => 'form-label' } %>
<%= f.input :password, :autocomplete => "off", :required => false, :label_html => { :class => 'form-label' } %>
<%= f.input :password_confirmation, :required => false, :label_html => { :class => 'form-label' } %>
<br />
<%= hidden_field_tag :referrer, user_path(@user) %>
<%= f.button :submit, nil, :class => 'btn-primary' %>
<%= link_to(I18n.t('ag2_admin.users.edit.cancel_account'), user_path(@user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-primary') unless @user == current_user %>
<% end %>

<p></p>

<%= link_to I18n.t('ag2_admin.users.edit.btn_show'), @user %> |
<%= link_to I18n.t('ag2_admin.users.back_to_main_page'), users_path %>
