<script>
  $(document).ajaxStart(function() {
    // show loader on start
    $("#div_table").html("");
    $("#loader").show();
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
    //$("#loader").css("display","none");
  });
  
  jQuery(function($) {
    // when the #user_office_ids_? check_box changes
    $("[id ^=user_office_ids]").change(function() {
      // make a POST call and replace the content
      var chkd = $(this).prop('checked');
      var box = $(this).val();
      if (box == "")
        box = "0";
      jQuery.getJSON('update_company_organization_from_office/' + box, function(data) {
        $("input:checkbox[id=user_company_ids_" + data.company_id + "]").prop('checked', chkd);
        $("input:checkbox[id=user_organization_ids_" + data.organization_id + "]").prop('checked', chkd);
      });
      return false;
    });

    // when the #user_company_ids_? check_box changes
    $("[id ^=user_company_ids]").change(function() {
      // make a POST call and replace the content
      var chkd = $(this).prop('checked');
      var box = $(this).val();
      if (box == "")
        box = "0";
      jQuery.getJSON('update_organization_from_company/' + box, function(data) {
        $("input:checkbox[id=user_organization_ids_" + data.organization_id + "]").prop('checked', chkd);
      });
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_admin/usersbreadcrumb' %>

<%= render partial: '/layouts/searchhead_dropdown_remote', locals: { title: t('.title'), path: users_path, dropdown: User.domains } %>

<div class="span11">
  <div id="loader"></div>
  <div id="div_table">
    <%= render 'users' %>
  </div>
  <div id="div_links">
    <%= link_to I18n.t("ag2_admin.users.index.go_to_child"), roles_path %> |
    <%= link_to I18n.t("ag2_admin.users.index.back_to_root"), ag2_admin.config_path %>
  </div>
</div>


