<%= render '/layouts/ag2_admin/usersbreadcrumb' %>

<h3>New User</h3>

<%= simple_form_for @user do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :email, :required => true, :autofocus => true %>
<%= f.input :name, :required => true %>
<%= f.input :password, :required => true %>
<%= f.input :password_confirmation, :required => true %>
<%= f.input :role_ids, :collection => Role.all, :label_method => lambda {|t| t.name.titleize} %>
<%= f.button :submit, 'Create user', :class => 'btn-primary' %>
<% end %>

<%= link_to 'Back to Users', users_path %>
