<%= render '/layouts/ag2_admin/usersbreadcrumb' %>

<p id="notice">
  <%= notice %>
</p>

<h3><%= @user.email %></h3>
<table class="table"
<tbody>
  <tr>
    <td>Username:</td>
    <td><%= @user.name %></td>
    <td>Id:</td>
    <td><%= @user.id %></td>
  </tr>
  <tr>
    <td>Created at:</td>
    <td><%= @user.created_at %></td>
    <td>Updated at:</td>
    <td><%= @user.updated_at %></td>
  </tr>
  <tr>
    <td>Password reseted at:</td>
    <td><%= @user.reset_password_sent_at %></td>
    <td>Remember created at:</td>
    <td><%= @user.remember_created_at %></td>
  </tr>
  <tr>
    <td>Signed in count:</td>
    <td><%= @user.sign_in_count %></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Current signed in at:</td>
    <td><%= @user.current_sign_in_at %></td>
    <td>Current signed in IP:</td>
    <td><%= @user.current_sign_in_ip %></td>
  </tr>
  <tr>
    <td>Last signed in at:</td>
    <td><%= @user.last_sign_in_at %></td>
    <td>Last signed in IP:</td>
    <td><%= @user.last_sign_in_ip %></td>
  </tr>
</tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Users', users_path %>
