<%= render '/layouts/ag2_directory/sharedcontactsbreadcrumb' %>
<%= render :partial => '/layouts/searchhead', :locals => { :title => I18n.t("title", :scope => :"ag2_directory.shared_contacts.index"), :path => shared_contacts_path } %>

<div class="span11">
  <%= render :partial => '/layouts/lettershead', :locals => { :controller => "shared_contacts", :action => "index" } %>
  <table class="table table-condensed table-striped shrinked">
    <thead>
      <tr>
        <th><%=t :"ag2_directory.shared_contacts.col_company" %></th>
        <th><%=t :"ag2_directory.shared_contacts.col_name" %></th>
        <th><%=t :"ag2_directory.shared_contacts.col_type" %></th>
        <th><%=t :"ag2_directory.shared_contacts.col_phone" %></th>
        <th><%=t :"ag2_directory.shared_contacts.col_cellular" %></th>
        <th><%=t :"ag2_directory.shared_contacts.col_email" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @shared_contacts.each do |contact| %>
      <tr>
        <td><%= contact.company %></td>
        <td><%= contact.last_name + ', ' + contact.first_name %></td>
        <td><%= contact.shared_contact_type.name unless contact.shared_contact_type.blank? %></td>
        <td><%= contact.phone unless contact.phone.blank? %>
        <% if !contact.extension.blank? %>
        (<%= contact.extension %>)
        <% end %> </td>
        <td><%= contact.cellular unless contact.cellular.blank? %></td>
        <td><%= contact.email %></td>
        <td><%= link_to contact, :class => 'btn btn-mini' do %> <i class="icon-eye-open"></i> <% end %>
        <%= link_to edit_shared_contact_path(contact), :class => 'btn btn-mini' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to(contact, :data => { :confirm => I18n.t("are_you_sure") }, :method => :delete, :class => 'btn btn-mini') do %> <i class="icon-trash"></i> <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to I18n.t("btn_new", :scope => :"ag2_directory.shared_contacts.index"), new_shared_contact_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to I18n.t("go_to_child_app", :scope => :"ag2_directory.shared_contacts.index"), shared_contact_types_path %> |
  <%= link_to I18n.t("back_to_root", :scope => :"ag2_directory.shared_contacts.index"), ag2_directory.root_path %>
</div>
