<%= render '/layouts/ag2_directory/sharedcontactsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @shared_contact.id %></td>
      <td><%=t :"ag2_directory.shared_contacts.col_fiscal" %>:</td>
      <td><%= @shared_contact.fiscal_id unless @shared_contact.fiscal_id.blank? %></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_company" %>:</td>
      <td><%= @shared_contact.company unless @shared_contact.company.blank? %></td>
      <td><%=t :"ag2_directory.shared_contacts.col_name" %>:</td>
      <td><%= @shared_contact.last_name %>, <%= @shared_contact.first_name %></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_position" %>:</td>
      <td><%= @shared_contact.position unless @shared_contact.position.blank? %></td>
      <td><%=t :"ag2_directory.shared_contacts.col_type" %>:</td>
      <td><%= @shared_contact.shared_contact_type.name %></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_phone" %>:</td>
      <td><%= @shared_contact.phone %>
      <% if !@shared_contact.extension.blank? %>
      (<%= @shared_contact.extension %>)
      <% end %> </td>
      <td><%=t :"ag2_directory.shared_contacts.col_fax" %>:</td>
      <td><%= @shared_contact.fax %></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_cellular" %>:</td>
      <td><%= @shared_contact.cellular %></td>
      <td><%=t :"ag2_directory.shared_contacts.col_email" %>:</td>
      <td><%= @shared_contact.email %></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_address" %>:</td>
      <td> <%= @shared_contact.street_type.street_type_code.titleize %>. <%= @shared_contact.street_name %> <%= @shared_contact.street_number %>
      <% if !@shared_contact.building.blank? %>
      <%= @shared_contact.building.titleize %>
      <% end %>
      <% if !@shared_contact.floor.blank? %>
      <%= @shared_contact.floor %>&ordm;
      <% end %>
      <% if !@shared_contact.floor_office.blank? %>
      <%= @shared_contact.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_town" %>:</td>
      <td><%= @shared_contact.town.name %></td>
      <td><%=t :"ag2_directory.shared_contacts.col_province" %>:</td>
      <td><%= @shared_contact.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%=t :"ag2_directory.shared_contacts.col_zipcode" %>:</td>
      <td><%= @shared_contact.zipcode.zipcode %></td>
      <td><%=t :"ag2_directory.shared_contacts.col_country" %>:</td>
      <td><%= @shared_contact.country.name %></td>
    </tr>
    <tr>
      <td><%=t :created_at %>:</td>
      <td><%= @shared_contact.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td><%=t :updated_at %>:</td>
      <td><%= @shared_contact.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to I18n.t("btn_edit", :scope => :"ag2_directory.shared_contacts.show"), edit_shared_contact_path(@shared_contact), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t("back_to_main_page", :scope => :"ag2_directory.shared_contacts"), shared_contacts_path %>
