<%= render '/layouts/ag2_directory/sharedcontactsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @shared_contact.id %></td>
      <td><%=t :"activerecord.attributes.shared_contact.fiscal_id" %>:</td>
      <td><%= @shared_contact.fiscal_id unless @shared_contact.fiscal_id.blank? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.company" %>:</td>
      <td><%= @shared_contact.company unless @shared_contact.company.blank? %></td>
      <td><%=t :"activerecord.attributes.shared_contact.full_name" %>:</td>
      <td><%= @shared_contact.full_name unless @shared_contact.last_name.blank? && @shared_contact.first_name.blank? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.position" %>:</td>
      <td><%= @shared_contact.position unless @shared_contact.position.blank? %></td>
      <td><%=t :"activerecord.attributes.shared_contact.shared_contact_type" %>:</td>
      <td><%= @shared_contact.shared_contact_type.name %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.phone" %>:</td>
      <td><%= @shared_contact.phone %>
      <% if !@shared_contact.extension.blank? %>
      (<%= @shared_contact.extension %>)
      <% end %> </td>
      <td><%=t :"activerecord.attributes.shared_contact.fax" %>:</td>
      <td><%= @shared_contact.fax %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.cellular" %>:</td>
      <td><%= @shared_contact.cellular %></td>
      <td><%=t :"activerecord.attributes.shared_contact.email" %>:</td>
      <td><%= @shared_contact.email %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.address" %>:</td>
      <td> <%= @shared_contact.street_type.street_type_code.titleize %>. <%= @shared_contact.street_name %> <%= @shared_contact.street_number %>
      <% if !@shared_contact.building.blank? %>
      <%= @shared_contact.building.titleize %>
      <% end %>
      <% if !@shared_contact.floor.blank? %>
      <%= @shared_contact.floor %>&ordm;
      <% end %>
      <% if !@shared_contact.floor_office.blank? %>
      <%= @shared_contact.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.town" %>:</td>
      <td><%= @shared_contact.town.name %></td>
      <td><%=t :"activerecord.attributes.shared_contact.province" %>:</td>
      <td><%= @shared_contact.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.zipcode" %>:</td>
      <td><%= @shared_contact.zipcode.zipcode %></td>
      <td><%=t :"activerecord.attributes.shared_contact.country" %>:</td>
      <td><%= @shared_contact.country.name %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.shared_contact.remarks" %>:</td>
      <td><%= @shared_contact.remarks %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @shared_contact } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @shared_contact } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: SharedContact, update_path: edit_shared_contact_path(@shared_contact), update_txt: t('.btn_edit'),
delete_path: @shared_contact, delete_txt: t('.btn_delete'), msg: t("activerecord.models.shared_contact.one"), txt: @shared_contact.existing_name,
new_path: new_shared_contact_path, new_txt: t('ag2_directory.shared_contacts.index.btn_new') } %>

<%= link_to I18n.t("ag2_directory.shared_contacts.back_to_main_page"), shared_contacts_path %>
