<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", 'Id' %></th>
      <th><%= sortable "name", t('activerecord.attributes.sale_offer_status.name') %></th>
      <th><%= sortable "approval", t('activerecord.attributes.sale_offer_status.approval') %></th>
      <th><%= sortable "notification", t('activerecord.attributes.sale_offer_status.notification') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  	<% @sale_offer_statuses.each do |salstatus| %>
	    <tr>
        <td><%= salstatus.try(:id) %></td>
	      <td><%= link_to salstatus.try(:name), sale_offer_status_path(salstatus) %></td>
	      <td>
		      <% if salstatus.try(:approval) == true %>
		        <i class="icon-thumbs-up"></i>
		      <% else %>
		        <i class="icon-thumbs-down"></i>
		      <% end %>
	      </td>
	      <td>
		      <% if salstatus.try(:notification) == true %>
		        <i class="icon-thumbs-up"></i>
		      <% else %>
		        <i class="icon-thumbs-down"></i>
		      <% end %>
	      </td>
        <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => SaleOfferStatus, :path => edit_sale_offer_status_path(salstatus) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => SaleOfferStatus, :path => salstatus, :msg => t("activerecord.models.sale_offer_status.one"), :txt => salstatus.name } %> </td>
		  </tr>
		<% end %>
	</tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @sale_offer_statuses } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => SaleOfferStatus, :path => new_sale_offer_status_path, :txt => t("ag2_gest.sale_offer_statuses.index.btn_new") } %>
<%= link_to t("ag2_gest.sale_offer_statuses.index.back_to_management"), ag2_gest.sale_offer_management_path %>
