<%= render '/layouts/ag2_gest/saleofferstatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @sale_offer_status %> |
<%= link_to t('.back'), sale_offer_status_path %>