<%= render '/layouts/ag2_tech/wordertypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @work_order_type %> |
<%= link_to t("ag2_tech.work_order_types.back_to_main_page"), work_order_types_path %>
