<%= render '/layouts/ag2_tech/wordertypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @work_order_type.id %></td>
      <td><%=t 'activerecord.attributes.work_order_type.name' %>:</td>
      <td><%= @work_order_type.name %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.work_order_type.work_order_area' %>:</td>
      <td><%= @work_order_type.work_order_area.name unless @work_order_type.work_order_area.blank? %></td>
      <td><%=t 'activerecord.attributes.work_order_type.subscriber_meter' %>:</td>
      <td> <% if @work_order_type.subscriber_meter %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @work_order_type } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @work_order_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: WorkOrderType, update_path: edit_work_order_type_path(@work_order_type), update_txt: t('.btn_edit'),
delete_path: @work_order_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.work_order_type.one"), txt: @work_order_type.name,
new_path: new_work_order_type_path, new_txt: t('ag2_tech.work_order_types.index.btn_new') } %>

<!-- Default accounts by project -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.work_order_types.accounts_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@accounts.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'accounts_header' %>
  </thead>
  <tbody>
    <%= render partial: 'account', collection: @accounts %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @accounts } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @accounts } %>
<% end %> <!-- end @accounts.count > 0 -->

<!-- Labors -->
<% if (@labors.count > 0) %>
<h4><%=t '.subtable_labors_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_tech/wlaborsheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_tech/wlabors', :locals => { :types => @labors } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @labors } %>
<% end %>

<!-- Work orders -->
<% if (@worker_orders.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_tech/wordersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_tech.work_order_types.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_tech/worders', :locals => { :orders => @worker_orders } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @worker_orders } %>
<% end %>

<% if !@work_order_type.work_order_area.blank? %>
<%= link_to t('ag2_tech.work_order_types.show.show_to'), @work_order_type.work_order_area %> |
<% end %>
<%= link_to t("ag2_tech.work_order_types.back_to_main_page"), work_order_types_path %>
