<div class="row">
  <div class="span12" style="padding-top: 5px">
    <h3 class="sign-h3"><%=t '.title' %></h3>
  </div>
</div>
<div class="row">
  <div class="span8">
    <div class="sign-description">
      <br />
      <%=t '.welcome' %>
      <br />
      <br />
      <%=t '.account_edit_m' %>
      </p>
      <p>
        <%=t :app_brand_paas_h %><a href="#"><%=t :app_brand_paas_a %></a><%=t :app_brand_paas_t %>
      </p>
      <p class="shrinked">
        <%=t :required_data_reminder %><br />
        <u><%=t :keep_in_mind %></u>:
        <ul class="shrinked">
          <li><%= t('google_apps_reminder_html') %></li>
          <li><%= t('user_name_reminder_html') %></li>
        </ul>
      </p>
    </div>
  </div>
  <div class="span4 sign">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-inline' }) do |f| %>
    <%= f.input :email, :autofocus => true, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :name, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :current_password, :autocomplete => "off", :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password, :autocomplete => "off", :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password_confirmation, :autocomplete => "off", :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <div align="center">
      <%= f.button :submit, I18n.t("submit", :scope => :"devise.registrations.edit"), :class => 'btn-primary' %>
      <a href="<%= main_app.root_path %>" class="btn btn-primary"><%=t :no_thanks %></a>
    </div>
    <% end %>
    <%= link_to I18n.t("cancel_account", :scope => :"devise.registrations.edit"), registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>
    <br />
    <%= render "devise/shared/links" %>
  </div>
</div>
