<div class="row">
  <div class="span12" style="padding-top: 5px">
    <h3 class="sign-h3">&iquest;Quieres cambiar tu cuenta de aGestiona2?</h3>
  </div>
</div>
<div class="row">
  <div class="span8">
    <br />
    Registro
  </div>
  <div class="span4 sign">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-inline' }) do |f| %>
    <%= f.input :email, :autofocus => true, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :name, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password, :autocomplete => "off", :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password_confirmation, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :current_password, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <div align="center">
      <%= f.button :submit, "Update", :class => 'btn-primary' %>
      <%= link_to 'No, thanks', main_app.root_path, :class => 'btn btn-primary' %>
    </div>
    <% end %>
      <%= link_to "Unhappy? Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %><br />
    <%= render "devise/shared/links" %>
  </div>
</div>
