<div class="row">
  <div class="span12" style="padding-top: 5px">
    <h3 class="sign-h3">Crea tu cuenta de aGestiona2</h3>
  </div>
</div>
<div class="row">
  <div class="span8">
    <div class="sign-description">
      <br />
      &iquest;Nuevo/a en aGestiona2?
      <br />
      <br />
      <p>
        Con una cuenta de aGestiona2, puedes acceder a todas las aplicaciones y sitios
        que el servicio pone a tu disposici&oacute;n, para trabajar desde cualquier lugar y
        desde cualquier dispositivo. &iquest;A qu&eacute; esperas?
      <p>
        Indica los datos que te solicita el cuadro de registro para crear tu nueva cuenta.
        &iquest;Qu&eacute; ya tienes una? Pues entonces, <a href=<%= main_app.new_user_session_path %>>inicia sesi&oacute;n</a> para acceder.
      </p>
      <p>
        aGestiona2&reg; es la plataforma de servicios de Agua y Gesti&oacute;n. &iquest;Deseas <a href="#">saber m&aacute;s</a>?
      </p>
      <p class="shrinked">
        Recuerda que todos los datos solicitados son obligatorios.<br />
        <u>Adem&aacute;s, debes tener en cuenta que</u>:
        <ul class="shrinked">
          <li>Si es una cuenta de dominio en Google Apps, <u>debes usar las mismas credenciales</u>.</li>
          <li><b>Nombre</b> <u>debe coincidir exactamente</u> con el nombre de usuario que usas para iniciar sesi&oacute;n.</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="span4 sign">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-inline' }) do |f| %>
    <%= f.input :email, :autofocus => true, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :name, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password_confirmation, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :remember_me, label: false, inline_label: 'I accept service conditions', :as => :boolean if devise_mapping.rememberable? %>
    <div align="center">
      <%= f.button :submit, "Sign up", :class => 'btn-primary' %>
      <%= link_to 'No, thanks', main_app.root_path, :class => 'btn btn-primary' %>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
