<div class="row">
  <div class="span12" style="padding-top: 5px">
    <h3 class="sign-h3"><%=t '.title' %></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="sign-description">
      <br />
      <%=t '.welcome' %>
      <br />
      <br />
      <p>
        <%=t '.signup_m' %>
      <p>
        <%=t '.signup_h' %><a href=<%= main_app.new_user_session_path %>><%=t '.signup_a' %></a><%=t '.signup_t' %>
      </p>
      <p>
        <%=t :app_brand_paas_h %><a data-toggle="modal" href="#about"><%=t :app_brand_paas_a %></a><%=t :app_brand_paas_t %>
      </p>
      <p class="shrinked">
        <%=t :required_data_reminder %><br />
        <u><%=t :keep_in_mind %></u>:
        <ul class="shrinked">
          <li><%= t('google_apps_reminder_html') %></li>
          <li><%= t('user_name_reminder_html') %></li>
        </ul>
      </p>
    </div>
  </div>
  <div class="span5 sign">
    <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'form-inline' }) do |f| %>
    <%= f.input :email, :autofocus => true, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :name, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password_confirmation, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :remember_me, label: false, inline_label: I18n.t("remember_me", :scope => :"devise.registrations.new"), :as => :boolean if devise_mapping.rememberable? %>
    <div align="center">
      <%= f.button :submit, I18n.t("submit", :scope => :"devise.registrations.new"), :class => 'btn-primary' %>
      <a href="<%= main_app.root_path %>" class="btn btn-primary"><%=t :no_thanks %></a>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
