<%= render '/layouts/ag2_admin/sitesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.sites.edit.btn_show'), @site %> |
<%= link_to I18n.t('ag2_admin.sites.back_to_main_page'), sites_path %>
