<%= render '/layouts/ag2_admin/sitesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span6">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%=t 'activerecord.attributes.site.name' %></th>
        <th><%=t 'activerecord.attributes.site.path' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @sites.each do |site| %>
      <tr>
        <td><%= link_to site.name, site %></td>
        <td><%= site.path %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Site, :path => edit_site_path(site) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Site, :path => site, :msg => I18n.t("activerecord.models.site"), :txt => site.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Site, :path => new_site_path, :txt => I18n.t("ag2_admin.sites.index.btn_new") } %>
  <%= link_to I18n.t("ag2_admin.sites.index.go_to"), apps_path %> |
  <%= link_to I18n.t("ag2_admin.sites.index.back_to_root"), ag2_admin.root_path %>
</div>
