<%= render '/layouts/ag2_admin/sitesbreadcrumb' %>

<h3><%= @site.name %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @site.id %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.site.description' %>:</td>
      <td><%= @site.description %></td>
      <td><%=t 'activerecord.attributes.site.path' %>:</td>
      <td><%= @site.path %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.site.pict_file' %>:</td>
      <td><%= @site.pict_file %></td>
      <td><%=t 'activerecord.attributes.site.icon_file' %>:</td>
      <td><%= @site.icon_file %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @site } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @site } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Site, update_path: edit_site_path(@site), update_txt: t('.btn_edit'),
delete_path: @site, delete_txt: t('.btn_delete'), msg: t("activerecord.models.site.one"), :txt => @site.name,
new_path: new_site_path, new_txt: t('ag2_admin.sites.index.btn_new') } %>

<% if (@apps.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.app.name' %></th>
      <th><%=t 'activerecord.attributes.app.path' %></th>
    </tr>
  </thead>
  <tbody>
    <% @apps.each do |app| %>
    <tr>
      <td><%= link_to app.name, app %></td>
      <td><%= @site.path %>/<%= app.path %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.sites.back_to_main_page'), sites_path %>
