<%= render '/layouts/ag2_human/departmentsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span11">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "code", t('activerecord.attributes.department.code') %></th>
        <th><%= sortable "name", t('activerecord.attributes.department.name') %></th>
        <th><%= sortable "company_id", t('activerecord.attributes.department.company') %></th>
        <th><%= sortable "worker_id", t('activerecord.attributes.department.worker') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |t| %>
      <tr>
        <td><%= link_to t.code, t %></td>
        <td><%= t.name %></td>
        <td><%= t.company.name[0,30] unless t.company.blank? %></td>
        <td><%= t.worker.full_name[0,30] unless t.worker.blank? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Department, :path => edit_department_path(t) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Department, :path => t, :msg => I18n.t("activerecord.models.department.one"), :txt => t.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @departments } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Department, :path => new_department_path, :txt => t(".btn_new") } %>
  <%= link_to I18n.t("ag2_human.departments.index.go_to_workers"), workers_path %> |
  <%= link_to I18n.t("ag2_human.departments.index.back_to_root"), ag2_human.root_path %>
</div>
