<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>
<%= render '/layouts/ag2_human/departmentsbreadcrumb' %>

<h3>Departments</h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |t| %>
      <tr>
        <td><%= link_to t.code, t %></td>
        <td><%= t.name %></td>
        <td><%= link_to 'Edit', edit_department_path(t), :class => 'btn btn-mini' %>
        <%= link_to("Delete", t, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Department', new_department_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Go to ag2Workers', workers_path %> |
  <%= link_to 'Back to ag2Human', ag2_human.root_path %>
</div>
