<%= render '/layouts/ag2_human/departmentsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @department.id %></td>
      <td><%=t 'activerecord.attributes.department.code' %>:</td>
      <td><%= @department.code %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.department.name' %>:</td>
      <td><%= @department.name %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @department } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @department } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_human.departments.show.btn_edit'), edit_department_path(@department), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@workers.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_human/workersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_human.departments.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_human/workers', :locals => { :workers => @workers } %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_human.departments.back_to_main_page'), departments_path %>
