<script>
  var _f = '';

  $(document).ready(function() {
    // Retrieves parent values
    _f = $("#fnt-class").closest('form')[0];
    // Holder Fiscal Id
    if ($("#fnt-fiscal-id").val() == "") {
      _n = $('#company_fiscal_id').val();
      $("#fnt-fiscal-id").val(_n);
    }
    // Holder Name
    if ($("#fnt-name").val() == "") {
      _n = $('#company_name').val().toUpperCase();
      $("#fnt-name").val(_n);
    }

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-bank field changes
    $("#fnt-bank").change(function() {
      // make a POST call and replace the content
      var bank = $('select#fnt-bank :selected').val();
      if (bank == "")
        bank = "0";
      jQuery.getJSON('co_update_office_select_from_bank/' + bank, function(data) {
        var o = data.office;
        $("#fnt-office").html("");
        $("#fnt-office").select2("val", "");
        $("#fnt-office").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'office' && option != "") {
              $("#fnt-office").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#fnt-office").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
      });
      return false;
    });
  });
</script>

<div id="new-account-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_admin.companies.add_account") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :bank_account_class, collection: @classes, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-class', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <!--<%#= f.association :country, label_method: :full_name, value_method: :id, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-country', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>-->
    <!--<%#= f.input :iban_dc, input_html: { class: 'x-large-text-field field', maxlength: 2, id: 'fnt-iban-dc', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeydown: "only_digit(event)" }, label_html: { class: 'form-label' } %>-->
    <!--<%#= f.association :bank, collection: @banks, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-bank', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>-->
    <!--<%#= f.association :bank_office, collection: @offices, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-office', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>-->
    <!--<%#= f.input :account_no, input_html: { class: 'x-large-text-field field', maxlength: 12, id: 'fnt-account', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeydown: "only_digit(event)" }, label_html: { class: 'form-label' } %>-->
    <%= f.input :iban, input_html: { class: 'x-large-text-field field', minlength: 4, maxlength: 34, id: 'fnt-iban', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeydown: "only_digit_or_letter(event)", onkeyup: "caps(this)" }, label_html: { class: 'form-label' } %>
    <%= f.input :holder_name, input_html: { class: 'x-large-text-field field', maxlength: 40, id: 'fnt-name', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeyup: "caps(this)" }, label_html: { class: 'form-label' } %>
    <%= f.input :holder_fiscal_id, input_html: { class: 'x-large-text-field field', id: 'fnt-fiscal-id', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeyup: "caps(this)" }, label_html: { class: 'form-label' } %>
    <%= f.input :bank_suffix, input_html: { class: 'x-large-text-field field', maxlength: 3, id: 'fnt-suffix', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeydown: "only_digit(event)" }, label_html: { class: 'form-label' } %>
    <%= f.input :starting_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.starting_at.strftime("%d/%m/%Y") if f.object.starting_at), class: 'mid-text-field idatepicker field', id: 'fnt-starting-at' }, label_html: { class: 'form-label' } %>
    <%= f.input :ending_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.ending_at.strftime("%d/%m/%Y") if f.object.ending_at), class: 'mid-text-field idatepicker field', id: 'fnt-ending-at' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated" style="vertical-align: bottom"><%= t("ag2_admin.companies.add_account_to", var: @company.fiscal_id) unless @company.fiscal_id.blank? %></span>
    <button id="addAccountButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_admin.companies.btn_add_account') %></button>
    <button id="cancelAccountButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  invalidIBAN = '<%= t("activerecord.errors.models.company_bank_account.iban_invalid") %>';
  tryAgain = '<%= t("should_try_again") %>';
  co_accountFieldsUI.init(sel2NoMatch, invalidIBAN, tryAgain);
</script>
