<script>
  var text_field_color;

  $(document).ready(function() {
    // Setup drag & drop
    dd_import_files('#dd_files', '#image_content', 'co_update_attachment');
    // Save default text color
    text_field_color = $("#company_phone").css('color')
    // Icon inside text field: Validate Fiscal Id
    $('input.iconify').wrap('<span class="validateicon" title="<%=t('ag2_admin.companies.validate_btn') %>" />').after($('<span/>').click(function() {
      // make a POST call and replace the content
      var company = $('#company_fiscal_id').val();
      if (company == "")
        company = "0";
      jQuery.getJSON('co_validate_fiscal_id_textfield/' + company, function(data) {
        if (data.f_id == "$err") {
          $("#company_fiscal_id").css('color', 'red');
          $('#submit_btn').hide();
          alert('<%= I18n.t("ag2_admin.companies.fiscal_error") %>');
          $('#company_fiscal_id').select();
        }
        else {
          // Default color & focus
          $("#company_fiscal_id").css('color', text_field_color);
          $("#company_fiscal_id").val(data.fiscal_id);
          $('#submit_btn').show();
          alert(data.f_id + ': ' + data.fiscal_name + '.');
        }
      });
      return false;
    }));
  });

  jQuery(function($) {
    // when the #company_town_id field changes
    $("#company_town_id").change(function() {
      // make a POST call and replace the content
      var company = $('select#company_town_id :selected').val();
      if (company == "")
        company = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + company, function(data) {
        $("#company_province_id").val(data.id);
      })
      return false;
    });

    // when the #company_zipcode_id field changes
    $("#company_zipcode_id").change(function() {
      // make a POST call and replace the content
      var company = $('select#company_zipcode_id :selected').val();
      if (company == "")
        company = "0";
      jQuery.getJSON('update_province_textfield_from_zipcode/' + company, function(data) {
        $("#company_town_id").val(data.town_id);
        $("#company_province_id").val(data.province_id);
      })
      return false;
    });

    // when the #company_logo field changes
    $("#company_logo").change(function() {
      readImageFromInput(this, '#dd_files');
    });
  });
</script>

<%= simple_form_for @company, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two"><%= f.input :fiscal_id, :input_html => { onkeyup: "caps(this)", :class => 'large-text-field iconify' }, :label_html => { :class => 'form-label' } %></label>
  <label class="multi-field-label-two"> <%= f.input :phone, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"><%= f.input :fax, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
  <label class="multi-field-label-two"><%= f.input :cellular, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
</div>
<div>
  <label class="multi-field-label-three-thinner"> <%= f.association :street_type, collection: StreetType.all(order: 'street_type_code'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-wider"> <%= f.input :street_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :street_number, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider"> <%= f.input :building, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor_office, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :zipcode, collection: Zipcode.all(order: 'zipcode'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :town, collection: Town.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :province, collection: Province.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"><%= f.input :email, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
  <label class="multi-field-label-two"><%= f.input :website, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
</div>
<!-- Support e-mail -->
<% if (current_user.has_role? :Administrator) %>
<%= f.input :hd_email, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %>
<% end %>
<!-- Invoices info -->
<h4><%=t 'ag2_admin.companies.invoices_info' %></h4>
<div>
  <label class="multi-field-label-two"><%= f.input :invoice_code, :input_html => { :maxlength => 3, :class => 'mid-text-field' }, :label_html => { :class => 'form-label' } %></label>
  <label class="multi-field-label-two"> <%= f.input :invoice_left_margin, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"><%= f.input :invoice_header, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
  <label class="multi-field-label-two"><%= f.input :invoice_footer, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
</div>
<!-- Attachment -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged"> <%= f.input :logo, as: :file, input_html: { accept: 'image/*' }, label_html: { class: 'form-label' } %> </td>
      <td class="form-td-two right-winged">
      <div id="dd_files">
        <% if !@company.logo_file_name.nil? %>
          <span id="image_text"></span>
          <img id="image_content" src="<%= @company.logo.url %>">
        <% else %>
          <span id="image_text"><%= t 'dd_image_message' %></span>
          <img id="image_content" hidden>
        <% end %>
      </div></td>
    </tr>
  </tbody>
</table>
<!-- Commercial info -->
<h4><%=t 'ag2_admin.companies.commercial_info' %></h4>
<div>
  <label class="multi-field-label-two"> <%= f.input :max_order_total, as: :string, input_html: { value: (number_with_precision(f.object.max_order_total, precision: 4) if f.object.max_order_total), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :max_order_price, as: :string, input_html: { value: (number_with_precision(f.object.max_order_price, precision: 4) if f.object.max_order_price), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<!-- Buttons -->
<%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %>
<% end %>
