<%= render '/layouts/ag2_admin/companiesbreadcrumb' %>

<h3 style="float: left; margin-top: 0;"><%= @company.name %></h3>
<div style="float: right">
  <% if !@company.logo.blank? %>
  <% if session[:resolution] == "LD" %>
  <%= image_tag @company.logo.url(:small) %> <!-- small image size -->
  <% elsif session[:resolution] == "SD" %>
  <%= image_tag @company.logo.url(:medium) %> <!-- medium image size -->
  <% else %>
  <%= image_tag @company.logo.url %> <!-- big image size -->
  <% end %>
  <% end %>
</div>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @company.id %></td>
      <td><%= t 'activerecord.attributes.company.organization' %>:</td>
      <td><%= @company.organization.name %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.company.fiscal_id' %>:</td>
      <td><%= @company.fiscal_id %></td>
      <td><%= t 'activerecord.attributes.company.phone' %>:</td>
      <td><%= @company.phone %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.company.fax' %>:</td>
      <td><%= @company.fax %></td>
      <td><%= t 'activerecord.attributes.company.cellular' %>:</td>
      <td><%= @company.cellular %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.company.address' %>:</td>
      <td> <%= @company.street_type.street_type_code.titleize %>. <%= @company.street_name %> <%= @company.street_number %>
      <% if !@company.building.nil? %>
      <%= @company.building.titleize %>
      <% end %>
      <% if !@company.floor.nil? %>
      <%= @company.floor %>&ordm;
      <% end %>
      <% if !@company.floor_office.nil? %>
      <%= @company.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.company.town' %>:</td>
      <td><%= @company.town.name %></td>
      <td><%= t 'activerecord.attributes.company.province' %>:</td>
      <td><%= @company.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.company.zipcode' %>:</td>
      <td><%= @company.zipcode.zipcode %></td>
      <td><%= t 'activerecord.attributes.company.email' %>:</td>
      <td><%= @company.email %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @company } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @company } %>
  </tbody>
</table>

<h4><%= t 'ag2_admin.companies.invoices_info' %></h4>
<table class="table table-condensed">
  <tbody>
    <tr>
      <td><%= t 'activerecord.attributes.company.invoice_code' %>:</td>
      <td><%= @company.invoice_code %></td>
      <td><%= t 'activerecord.attributes.company.invoice_left_margin' %>:</td>
      <td><%= @company.invoice_left_margin %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.company.invoice_header' %>:</td>
      <td><%= @company.invoice_header %></td>
      <td><%= t 'activerecord.attributes.company.invoice_footer' %>:</td>
      <td><%= @company.invoice_footer %></td>
    </tr>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update_delete_new', locals:
{ model: Company, update_path: edit_company_path(@company), update_txt: t('ag2_admin.companies.show.btn_edit'),
delete_path: @company, delete_txt: t('ag2_admin.companies.show.btn_delete'), msg: t("activerecord.models.company.one"), :txt => @company.name,
new_path: new_company_path, new_txt: t('ag2_admin.companies.index.btn_new') } %>

<% if (@offices.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.office.office_code' %></th>
      <th><%= t 'activerecord.attributes.office.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @offices.each do |office| %>
    <!-- Modal (/layouts/ag_admin/_officeinfo.html.erb) Implementation (ag_directory/corp_contacts/search) -->
    <tr>
      <!-- Modal: <td><a data-toggle="modal" href="#officeinfo"><%= office.office_code %></a></td> -->
      <td><%= link_to office.office_code, office %></td>
      <td><%= office.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.companies.show.show_to'), @company.organization %> |
<%= link_to I18n.t('ag2_admin.companies.back_to_main_page'), companies_path %>
