<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.invoice_status.id') %></th>
      <th><%= t('activerecord.attributes.invoice_status.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_statuses.each do |invoice_status| %>
    <tr>
      <td><%= invoice_status.try(:id) %></td>
      <td><%= link_to invoice_status.try(:name), invoice_status_path(invoice_status) %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => InvoiceStatus, :path => edit_invoice_status_path(invoice_status) } unless cannot_edit(invoice_status) %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => InvoiceStatus, :path => invoice_status, :msg => t("activerecord.models.invoice_status.one"), :txt => invoice_status.name } unless cannot_edit(invoice_status) %> </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @invoice_statuses } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => InvoiceStatus, :path => new_invoice_status_path, :txt => t("ag2_gest.invoice_statuses.index.btn_new") } %>
<%= link_to t("ag2_gest.invoice_statuses.index.back_to_management"), ag2_gest.contracting_management_path %>
