<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.invoice_type.id') %></th>
      <th><%= sortable "name", t('activerecord.attributes.invoice_type.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @invoice_types.each do |invoice_type| %>
      <tr>
        <td><%= invoice_type.try(:id) %></td>
        <td><%= link_to invoice_type.try(:name), invoice_type_path(invoice_type) %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => InvoiceType, :path => edit_invoice_type_path(invoice_type) } unless cannot_edit(invoice_type) %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => InvoiceType, :path => invoice_type, :msg => t("activerecord.models.invoice_type.one"), :txt => invoice_type.name } unless cannot_edit(invoice_type) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @invoice_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => InvoiceType, :path => new_invoice_type_path, :txt => t("ag2_gest.invoice_types.index.btn_new") } %>
<%= link_to t("ag2_gest.invoice_types.index.back_to_management"), ag2_gest.bill_management_path %>
