<%= render '/layouts/ag2_gest/invoicetypesbreadcrumb' %>

<h3><%= t('.title') %> <%=@invoice_type.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.invoice_type.id') %>:</td>
      <td><%= @invoice_type.try(:id) %></td>
      <td><%= t('activerecord.attributes.invoice_type.name') %>:</td>
      <td><%= @invoice_type.try(:name) %></td>
    </tr>
    	<%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @invoice_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: InvoiceType, update_path: edit_invoice_type_path(@invoice_type), update_txt: t('.btn_edit'),
delete_path: @invoice_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.invoice_type.one"), :txt => @invoice_type.id,
new_path: new_invoice_type_path, new_txt: t('ag2_gest.invoice_types.index.btn_new') } %>

<%= link_to I18n.t('ag2_gest.invoice_types.back_to_main_page'), invoice_types_path %>