<tr>
  <td><%= item.product.full_code %></td>
  <td><%= item.description %></td>
  <td align="right"><%= number_with_precision(item.quantity, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.price, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.discount_pct, precision: 2) %></td>
  <td align="right"><%= number_with_precision(item.discount, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.amount, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.tax, precision: 4) %></td>
  <% if item.is_meter %>
  <td><%= link_to receive_meters_receipt_notes_path do %> <i class="icon-barcode" title="<%= t(:receive_meters) %>"></i> <% end %></td>
  <% else %>
  <td></td>
  <% end %>
</tr>
