<!-- Modal -->
<script>
  function suppliers_Select2(intialValue) {
    $('#Supplier_').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_suppliers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $("#proc_mesage").hide();
    if ($('#Date_').val() == "") {
      $('#Date_').datepicker('setValue', es_date(new Date()));
    }
    suppliers_Select2("<%= @supplier %>");
  });

  jQuery(function($) {
    $('#btn_accept').click(function() {
      var supplier = $('#Supplier_').val();
      var request = $('#Request_ :selected').val();
      var offer_no = $('#No_').val();
      var offer_date = $('#Date_').val();
      if ((supplier == "") || (request == "")  || (offer_no == "")  || (offer_date == "")) {
        // Error
        alert('<%= I18n.t(:mandatory_subtitle) %>');
        return false;
      }
      // Right formatted date
      offer_date = right_date(offer_date, "<%= I18n.locale %>");
      // Show message
      $("#proc_mesage").show();
      // make the POST call
      jQuery.getJSON('rn_generate_note/' + supplier + '/' + request + '/' + offer_no + '/' + offer_date, function(data) {
        // Hide message
        $("#proc_mesage").hide();
        // AJAX refresh index table is necessary
        $(".icon-refresh-link").click();
        // Go on based on result
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_products.receipt_notes.generate_note_error") %>');
        } else if (data.code == "$write") {
          alert('<%= I18n.t("ag2_products.receipt_notes.generate_note_write") %>');
        } else {
          // Hide the modal and exit
          alert(data.code);
          $("#new-receipt-from-order").modal('hide');
          //window.location = "<%= ag2_products.receipt_notes_path %>";
        }
      });
      return false;
    });

    // when the #Supplier_ field changes
    $("#Supplier_").change(function() {
      // make a POST call and replace the content
      var supplier = $('#Supplier_').val();
      if (supplier == "") supplier = 0;
      jQuery.getJSON('rn_update_order_select_from_supplier/' + supplier, function(data) {
        var r = data.order;
        $("#Request_").html("");
        $("#Request_").select2("val", "");
        $("#Request_").append($('<option></option>').val("").html(""));
        if (!r.length) {
          $.each(data, function(id, option) {
            if (id == 'order' && option != "") {
              $("#Request_").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(r, function(id, option) {
            $("#Request_").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
      });
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      return false;
    });

    // when the #Request_ field changes
    $("#Request_").change(function() {
      // make a POST call and replace the content
      var order = $('#Request_ :selected').val();
      if (order == "") order = 0;
      jQuery.getJSON('rn_current_balance/' + order, function(data) {
        $("#current-balance").html(data.balance);
      });
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      return false;
    });
  });
</script>

<div id="new-receipt-from-order" class="modal hide fade" data-backdrop="static" style="display: none;">
  <div id="proc_mesage" class="alert alert-info">
    <%= t(:generating) %>
  </div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_products.receipt_notes.index.btn_new_from_purchase_order') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <!-- Supplier -->
    <label for="Supplier_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.receipt_note.supplier") %></label>
    <%= hidden_field_tag "Supplier_", params[:Supplier], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
    <!-- Purchase order -->
    <label for="Request_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.receipt_note.purchase_order") %></label>
    <%= select_tag "Request_", options_from_collection_for_select(@orders, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Receipt note No -->
    <label for="No_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.receipt_note.receipt_no_c") %></label>
    <%= text_field_tag "No_", nil, :class => 'x-large-text-field' %>
    <!-- Receipt note date -->
    <label for="Date_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.receipt_note.receipt_date_c") %></label>
    <%= text_field_tag "Date_", nil, class: 'mid-text-field ndate_picker' %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("activerecord.attributes.purchase_order.balance_c") %>=</span>
    <span class="left-floated shrinked" style="vertical-align: bottom" id="current-balance">0,0000</span>
    <a class="btn btn-primary" href="#" id="btn_accept"><%= t :generate %></a>
    <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
  </div>
</div>
