<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#Supplier").closest('form')[0];
  }); 

  $(window).bind("load", function() {
    $("#Supplier").select2("val", "<%= params[:Supplier] %>");
    $("#Project").select2("val", "<%= params[:Project] %>");
    $("#Order").select2("val", "<%= params[:Order] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#Supplier").select2("val", "");
      $("#Project").select2("val", "");
      $("#Order").select2("val", "");
      $("#search").val("");
      _thisForm.submit();
    });
  });
</script>

<%= render '/layouts/ag2_products/receiptsbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "offers", :method => 'get' do %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_products.receipt_notes.index.label_supplier"), nil, :class => 'form-label' %>
        <%= select_tag "Supplier", options_from_collection_for_select(@suppliers_s, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_products.receipt_notes.index.label_project"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Project", options_from_collection_for_select(@projects_s, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Work order -->
        <%= label_tag I18n.t("ag2_products.receipt_notes.index.label_work_order"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Order", options_from_collection_for_select(@work_orders_s, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.receipt_notes.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => ReceiptNote, :path => new_receipt_note_path, :txt => t(".btn_new") } %>
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th>Id</th>
            <th><%= t 'activerecord.attributes.receipt_note.receipt_no' %></th>
            <th align="center"><%= t 'activerecord.attributes.receipt_note.receipt_date' %></th>
            <th><%= t 'activerecord.attributes.receipt_note.supplier' %></th>
            <th><%= t 'activerecord.attributes.receipt_note.project' %></th>
            <th align="right"><%= t 'activerecord.attributes.receipt_note.total' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @receipt_notes.each do |note| %>
          <tr>
            <td><%= note.id %></td>
            <td><%= link_to note.receipt_no, note %></td>
            <td align="center"><%= note.receipt_date.strftime("%d/%m/%Y") unless note.receipt_date.blank? %></td>
            <td><%= note.supplier.name unless note.supplier.blank? %></td>
            <td><%= note.project.full_name unless note.project.blank? %></td>
            <td align="right"><%= number_with_precision(note.total, precision: 4) unless note.total.blank? %></td>
            <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => ReceiptNote, :path => edit_receipt_note_path(note) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => ReceiptNote, :path => offer, :msg => t("activerecord.models.receipt_note.one"), :txt => note.receipt_no } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @receipt_notes } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
