<%= render '/layouts/ag2_help_desk/statusesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @ticket_status.id %></td>
      <td><%=t :"activerecord.attributes.ticket_status.name" %>:</td>
      <td><%= @ticket_status.name.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @ticket_status } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @ticket_status } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_new', locals:
{ model: TicketStatus, update_path: edit_ticket_status_path(@ticket_status), update_txt: t('.btn_edit'),
new_path: new_ticket_status_path, new_txt: t('ag2_help_desk.ticket_statuses.index.btn_new') } %>

<%= link_to I18n.t("ag2_help_desk.ticket_statuses.back_to_main_page"), ticket_statuses_path %>
