<script>
  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
  }); 
</script>

<%= render '/layouts/ag2_products/pricesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "purchase_prices", :method => 'get' do %>
        <!-- Product -->
        <%= label_tag I18n.t("ag2_products.stocks.index.label_product"), nil, :class => 'form-label' %>
        <% if @product.nil? %>
        <%= select_tag "Products", options_from_collection_for_select(Product.order('main_description').all, "id", "main_description"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <% else %>
        <%= select_tag "product", options_from_collection_for_select(Product.where("id = ?", "#{@product.id}").all, "id", "main_description", @product.id), class: 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_products.purchase_prices.index.label_supplier"), nil, :class => 'form-label' %>
        <% if @supplier.nil? %>
        <%= select_tag "Suppliers", options_from_collection_for_select(Supplier.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <% else %>
        <%= select_tag "supplier", options_from_collection_for_select(Supplier.where("id = ?", "#{@supplier.id}").all, "id", "name", @supplier.id), class: 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.purchase_prices.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t("ag2_products.purchase_prices.index.btn_apply"), :class => 'btn btn-primary' %>
        <% end %>
        <!-- Buttons outside search form -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => PurchasePrice, :path => new_purchase_price_path, :txt => t(".btn_new") } %>
        <% if !session[:return_to_prod].nil? && (!@product.nil? || !@supplier.nil?) %>
        <%= link_to session[:return_to_prod], session[:return_to_prod_url] %><br />
        <% end %>
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <% if @product.nil? && @supplier.nil? %>
            <th><%= t :"activerecord.attributes.purchase_price.product" %></th>
            <th><%= t :"activerecord.attributes.product.main_description" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.supplier" %></th>
            <th><%= t :"activerecord.attributes.supplier.name" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.code" %></th>
            <th align="right"><%= t :"activerecord.attributes.purchase_price.price" %></th>
            <% elsif !@product.nil? %>
            <th><%= t :"activerecord.attributes.purchase_price.supplier" %></th>
            <th><%= t :"activerecord.attributes.supplier.name" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.code" %></th>
            <th align="right"><%= t :"activerecord.attributes.purchase_price.price" %></th>
            <% else %> <!-- !@supplier.nil? -->
            <th><%= t :"activerecord.attributes.purchase_price.product" %></th>
            <th><%= t :"activerecord.attributes.product.main_description" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.code" %></th>
            <th align="right"><%= t :"activerecord.attributes.purchase_price.price" %></th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @purchase_prices.each do |price| %>
          <tr>
            <% if @product.nil? && @supplier.nil? %>
            <td><%= link_to price.product.product_code, price %></td>
            <td><%= price.product.main_description[0,40] %></td>
            <td><%= price.supplier.supplier_code %></td>
            <td><%= price.supplier.name %></td>
            <td><%= price.code unless price.code.blank? %></td>
            <td align="right"><%= number_with_precision(price.price, precision: 4) unless price.price.blank? %></td>
            <% elsif !@product.nil? %>
            <td><%= link_to price.supplier.supplier_code, price %></td>
            <td><%= price.supplier.name %></td>
            <td><%= price.code unless price.code.blank? %></td>
            <td align="right"><%= number_with_precision(price.price, precision: 4) unless price.price.blank? %></td>
            <% else %> <!-- !@supplier.nil? -->
            <td><%= link_to price.product.product_code, price %></td>
            <td><%= price.product.main_description[0,40] %></td>
            <td><%= price.code unless price.code.blank? %></td>
            <td align="right"><%= number_with_precision(price.price, precision: 4) unless price.price.blank? %></td>
            <% end %>
            <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => PurchasePrice, :path => edit_purchase_price_path(price) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => PurchasePrice, :path => price, :msg => t("activerecord.models.purchase_price.one"), :txt => price.product.product_code + "->" + price.supplier.supplier_code } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @purchase_prices } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
