<%= render '/layouts/ag2_products/pricesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "purchase_prices", :method => 'get' do %>
        <!-- Product -->
        <%= label_tag I18n.t("ag2_products.stocks.index.label_product"), nil, :class => 'form-label' %>
        <% if @product.nil? %>
        <%= select_tag "Product", options_from_collection_for_select(Product.order('main_description').all, "id", "main_description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <% else %>
        <%= select_tag "product", options_from_collection_for_select(Product.where("id = ?", "#{@product.id}").all, "id", "main_description", @product.id), class: 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_products.purchase_prices.index.label_supplier"), nil, :class => 'form-label' %>
        <%= select_tag "Supplier", options_from_collection_for_select(Supplier.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.purchase_prices.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t("ag2_products.purchase_prices.index.btn_apply"), :class => 'btn btn-primary' %>
        <% end %>
        <!-- Buttons outside search form -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => PurchasePrice, :path => new_purchase_price_path, :txt => t(".btn_new") } %>
        <% if !session[:return_to_prod].nil? && !@product.nil? %>
        <%= link_to session[:return_to_prod], session[:return_to_prod_url] %><br />
        <% end %>
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <%= render :partial => '/layouts/lettershead', :locals => { :controller => "purchase_prices", :action => "index" } %>
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th><%= t :"activerecord.attributes.purchase_price.product" %></th>
            <th><%= t :"activerecord.attributes.product.main_description" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.supplier" %></th>
            <th><%= t :"activerecord.attributes.supplier.name" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.code" %></th>
            <th><%= t :"activerecord.attributes.purchase_price.price" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @purchase_prices.each do |price| %>
          <tr>
            <td><%= link_to price.product.product_code, price %></td>
            <td><%= price.product.main_description %></td>
            <td><%= price.supplier.supplier_code %></td>
            <td><%= price.supplier.name %></td>
            <td><%= price.code unless price.code.blank? %></td>
            <td><%= number_to_currency(price.price, precision: 4, locale: :es) unless price.price.blank? %></td>
            <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => PurchasePrice, :path => edit_purchase_price_path(price) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => PurchasePrice, :path => price, :msg => t("activerecord.models.purchase_price.one"), :txt => price.product.product_code + "->" + price.supplier.supplier_code } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @purchase_prices } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
