<%= render '/layouts/ag2_products/pricesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<% if @product %>
<%= link_to t("ag2_products.purchase_prices.back_to_main_page"), purchase_prices_path(product: @product) %>
<% elsif @supplier %>
<%= link_to t("ag2_products.purchase_prices.back_to_main_page"), purchase_prices_path(supplier: @supplier) %>
<% else %>
<%= link_to t("ag2_products.purchase_prices.back_to_main_page"), purchase_prices_path %>
<% end %>
