<%= render '/layouts/ag2_products/pricesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @purchase_price.id %></td>
      <td><%=t 'activerecord.attributes.purchase_price.code' %>:</td>
      <td class="highlighted bolded"><%= @purchase_price.code unless @purchase_price.code.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_price.product' %>:</td>
      <td><%= @purchase_price.product.full_name %></td>
      <td><%=t 'activerecord.attributes.purchase_price.favorite' %>:</td>
      <td> <% if @purchase_price.favorite %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_price.supplier' %>:</td>
      <td><%= @purchase_price.supplier.full_name %></td>
      <td><%=t 'activerecord.attributes.purchase_price.price' %>:</td>
      <td class="highlighted bolded"><%= number_with_precision(@purchase_price.price, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless @purchase_price.price.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_price.discount_rate' %>:</td>
      <td><%= number_with_precision(@purchase_price.discount_rate, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless @purchase_price.discount_rate.blank? %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_price.measure' %>:</td>
      <td><%= @purchase_price.measure.description %></td>
      <td><%=t 'activerecord.attributes.purchase_price.factor' %>:</td>
      <td><%= number_with_precision(@purchase_price.factor, precision: 4) unless @purchase_price.factor.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @purchase_price } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @purchase_price } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ProductType, update_path: edit_purchase_price_path(@purchase_price), update_txt: t('.btn_edit'),
delete_path: @purchase_price, delete_txt: t('.btn_delete'), msg: t("activerecord.models.purchase_price.one"), txt: @purchase_price.product.product_code + "->" + @purchase_price.supplier.supplier_code,
new_path: new_purchase_price_path, new_txt: t('ag2_products.purchase_prices.index.btn_new') } %>

<% if @product %>
<%= link_to t("ag2_products.purchase_prices.back_to_main_page"), purchase_prices_path(product: @product) %>
<% elsif @supplier %>
<%= link_to t("ag2_products.purchase_prices.back_to_main_page"), purchase_prices_path(supplier: @supplier) %>
<% else %>
<%= link_to t("ag2_products.purchase_prices.back_to_main_page"), purchase_prices_path %>
<% end %>
