<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<%= render :partial => '/layouts/lettershead_remote', :locals => { :controller => "product_families", :action => "index" } %>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.product_family.family_code') %></th>
      <th><%= t('activerecord.attributes.product_family.name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @product_families.each do |m| %>
    <tr>
      <td><%= link_to m.family_code, m %></td>
      <td><%= m.name %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => ProductFamily, :path => edit_product_family_path(m) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => ProductFamily, :path => m, :msg => t("activerecord.models.product_family.one"), :txt => m.name } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @product_families } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ProductFamily, :path => new_product_family_path, :txt => t("ag2_products.product_families.index.btn_new") } %>
<%= link_to t("ag2_products.product_families.index.back_to_root"), ag2_products.root_path %>
