<%= render '/layouts/ag2_products/familiesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @product_family.id %></td>
      <td><%=t 'activerecord.attributes.product_family.family_code' %>:</td>
      <td><%= @product_family.family_code %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.product_family.name' %>:</td>
      <td><%= @product_family.name %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.product_family.max_orders_count' %>:</td>
      <td><%= @product_family.max_orders_count unless @product_family.max_orders_count.blank? %></td>
      <td><%=t 'activerecord.attributes.product_family.max_orders_sum' %>:</td>
      <td><%= number_to_currency(@product_family.max_orders_sum, :locale => :es) unless @product_family.max_orders_sum.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @product_family } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @product_family } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ProductFamily, update_path: edit_product_family_path(@product_family), update_txt: t('.btn_edit'),
delete_path: @product_family, delete_txt: t('.btn_delete'), msg: t("activerecord.models.product_family.one"), txt: @product_family.name,
new_path: new_product_family_path, new_txt: t('ag2_products.product_families.index.btn_new') } %>

<% if (@products.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/productsheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_products.product_families.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_products/products', :locals => { :products => @products } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @products } %>
<% end %>

<%= link_to t("ag2_products.product_families.back_to_main_page"), product_families_path %>
