<% content_for :title, "aGestiona2 | ag2Suppliers | Contacts" %>
<% content_for :icon, "/assets/icon/ag2Suppliers.png" %>
<% content_for :alt, "ag2Suppliers" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_purchase.root_path %>">ag2Purchase</a><span class="divider">></span>
  </li>
  <li>
    <%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.suppliers_path, t("ag2_purchase.breadcrumb.suppliers.items")) %><span class="divider">></span>
  </li>
  <% if @supplier_contacts %>
  <li>
    <%=t "ag2_purchase.breadcrumb.supplier_contacts.items"%>
  </li>
  <% end %>
  <% if @supplier_contact %>
  <li>
    <a href="<%= supplier_contacts_path %>"><%=t "ag2_purchase.breadcrumb.supplier_contacts.items"%></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_purchase.breadcrumb.supplier_contacts.item"%>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_purchase.root_path %>">&#215;</a>
</ul>
