<% contacts.each do |w| %>
<%= render :partial => 'layouts/ag2_purchase/contactinfo', :locals => { :contact => w, :title => I18n.t("activerecord.models.supplier_contact.one") } %>
<tr>
  <td><a data-toggle="modal" href="#contactinfo<%= w.id.to_s %>"><%= w.full_name %></a></td>
  <td><%= w.position %></td>
  <td><%= w.phone %></td>
  <td><%= w.cellular %></td>
  <td><%= w.email %></td>
</tr>
<% end %>
