<% contacts.each do |w| %>
<%= render :partial => 'layouts/ag2_purchase/contactinfo', :locals => { :contact => w, :title => t("activerecord.models.supplier_contact.one") + ' ' + w.supplier.name } %>
<tr>
  <td><a data-toggle="modal" href="#contactinfo<%= w.id.to_s %>"><%= w.full_name %></a></td>
  <td><%= w.position unless w.position.blank? %></td>
  <td><%= w.phone unless w.phone.blank? %>
  <% if !w.extension.blank? %>
  (<%= w.extension %>)
  <% end %> </td>
  <td><%= w.cellular unless w.cellular.blank? %></td>
  <td><%= w.email unless w.email.blank? %></td>
</tr>
<% end %>
