<style>
	.center {
    text-align: center!important;
  }
</style>
<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped">
	<thead>
	  <tr>
      <th><%= sortable "id", "Id" %></th>
      <th><%= sortable "name", "Nombre" %></th>
      <th><%= sortable "required", "Requerido" %></th>
	  </tr>
	</thead>
	<tbody>
	  <% @contracting_request_document_types.each do |contracting_request_document_type| %>
		  <tr>
		    <td><%= link_to contracting_request_document_type.id, contracting_request_document_type_path(contracting_request_document_type) %></td>
		    <td><%= contracting_request_document_type.try(:name) %></td>
				<td><% if contracting_request_document_type.required %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %></td>
		    <td class="a_inline">
		      <%= link_to edit_contracting_request_document_type_path(contracting_request_document_type), class: "btn btn-mini" do %>
		        <i class="icon-edit"></i>
		      <% end %>
		      <%= link_to contracting_request_document_type, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
		        <i class="icon-trash"></i>
		      <% end %>
		    </td>
		  </tr>
	 	<% end %>
	</tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @contracting_request_document_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ContractingRequestDocumentType, :path => new_contracting_request_document_type_path, :txt => t("ag2_gest.contracting_request_document_types.index.btn_new") } %>
<%= link_to t("ag2_gest.contracting_requests.index.back_to_management"), ag2_gest.contracting_management_path %>
