<%= render '/layouts/ag2_gest/contractingrequestdocumenttypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @contracting_request_document_type %> |
<%= link_to t('.back'), contracting_request_document_types_path %>
