<script>
  var _f = '';

  $(document).ready(function() {
    $('.wsel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      containerCssClass: 'sub-select2-field'
    });
    // Retrieves parent values
    _f = $(".fnt-notification").closest('form')[0];
  }); 

  jQuery(function($) {
    /*
     * Very special function!
     * This one re-calculate table totals after delete an item
     * When the .icon-trash clicked
     * Replace behavior of link_to_remove_fields
     * (the same was done in nested_si.js)
     */
    $(".icon-trash").click(function() {
      remove_fields(this);
    });
  });
</script>

<table id="accounts-table" class="table table-condensed table-striped shrinked fixed">
  <!-- class -->
  <col width="15%" />
  <!-- account e_format -->
  <col width="15%" />
  <!-- holder fiscal_id -->
  <col width="15%" />
  <!-- holder name -->
  <col width="30%" />
  <!-- starting_at -->
  <col width="10%" />
  <!-- ending_at -->
  <col width="10%" />
  <!-- button -->
  <col width="5%" />
  <thead>
    <%= render 'accounts_header' %>
  </thead>
  <tbody>
    <%= f.simple_fields_for :supplier_bank_accounts, defaults: { input_html: { class: 'sub-form' } } do |i| %>
    <tr class="fields">
      <td><%= i.association :bank_account_class, label: false, wrapper: false, collection: @classes, input_html: { class: 'wsel2 fnt-class' } %></td>
      <td><%= i.association :country, label: false, wrapper: false, collection: @countries, input_html: { class: 'wsel2 fnt-country' } %></td>
      <td><%= i.input :iban_dc, label: false, wrapper: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field fnt-iban-dc', maxlength: 2 } %></td>
      <td><%= i.association :bank, label: false, wrapper: false, collection: @banks, input_html: { class: 'wsel2 fnt-bank', maxlength: 4 } %></td>
      <td><%= i.association :bank_office, label: false, wrapper: false, collection: @offices, input_html: { class: 'wsel2 fnt-office', maxlength: 4 } %></td>
      <td><%= i.input :ccc_dc, label: false, wrapper: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field fnt-ccc-dc', maxlength: 2 } %></td>
      <td><%= i.input :account_no, label: false, wrapper: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field fnt-account', maxlength: 10 } %></td>
      <td><%= i.input :holder_fiscal_id, label: false, wrapper: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field fnt-fiscal-id' } %></td>
      <td><%= i.input :holder_name, label: false, wrapper: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field fnt-name', maxlength: 40 } %></td>
      <td><%= i.input :starting_at, label: false, wrapper: false, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.starting_at.strftime("%d/%m/%Y") if f.object.starting_at), class: 'sub-alfanumeric-text-field idatepicker fnt-starting-at' } %></td>
      <td><%= i.input :ending_at, label: false, wrapper: false, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.ending_at.strftime("%d/%m/%Y") if f.object.ending_at), class: 'sub-alfanumeric-text-field idatepicker fnt-ending-at' } %></td>
      <% if @breadcrumb == 'create' || @breadcrumb == 'update' %>
      <td><%= link_to_remove_fields('<i class="icon-trash"></i>'.html_safe, i) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
