<script>
  var text_field_color;
  var _thisForm = '';

  $(document).ready(function() {
    // Disable fields if Fiscal Id blank
    var contact = $('#supplier_fiscal_id').val();
    if (contact == "")
      contact = "0";
    if (contact == "0") {
      // Empty fiscal id: Disable
      $('#supplier_supplier_code').prop('disabled', true);
      $('#supplier_name').prop('disabled', true);
      $('#generate_code_btn').hide();
      $('#submit_btn').hide();
    } else {
      // Fiscal Id OK: Enable
      $('#supplier_supplier_code').prop('disabled', false);
      $('#supplier_name').prop('disabled', false);
      $('#generate_code_btn').show();
      $('#submit_btn').show();
    }
    // Save default text color
    text_field_color = $("#supplier_supplier_code").css('color')
    // Icon inside text field: Validate Fiscal Id
    $('input.iconify').wrap('<span class="validateicon" title="<%=t('ag2_purchase.suppliers.validate_btn') %>" />').after($('<span/>').click(function() {
      //$(this).prev('input').val('').focus();
      // make a POST call and replace the content
      var supplier = $('#supplier_fiscal_id').val();
      if (supplier == "")
        supplier = "0";
      jQuery.getJSON('validate_fiscal_id_textfield/' + supplier, function(data) {
        if (data.fiscal_id == "$err") {
          $("#supplier_fiscal_id").css('color', 'red');
          //alert('<%= I18n.t("ag2_purchase.suppliers.fiscal_error") %>');
          // Quick entity creation
          if ($('#supplier_fiscal_id').val() == "")
            $("#supplier_fiscal_id").val(data.fiscal_id);
          if ($('#supplier_fiscal_id').val() != "$err") {
            $('#fnt_fiscal_id').val($('#supplier_fiscal_id').val());
          } else {
            $('#fnt_fiscal_id').val('');            
          }
          $("#new-entity").modal('show');
          $('#new-entity').on('hidden', function() {
            $('#supplier_fiscal_id').select();
          });
        }
        else {
          // Fill with Entity data
          $("#supplier_fiscal_id").val(data.fiscal_id);
          $("#supplier_name").val(data.name);
          $("#supplier_entity_id").val(data.id);
          $("#supplier_street_type_id").val(data.street_type_id);
          $("#supplier_street_name").val(data.street_name);
          $("#supplier_street_number").val(data.street_number);
          $("#supplier_building").val(data.building);
          $("#supplier_floor").val(data.floor);
          $("#supplier_floor_office").val(data.floor_office);
          $("#supplier_zipcode_id").val(data.zipcode_id);
          $("#supplier_town_id").val(data.town_id);
          $("#supplier_province_id").val(data.province_id);
          $("#supplier_region_id").val(data.region_id);
          $("#supplier_country_id").val(data.country_id);
          $("#supplier_phone").val(data.phone);
          $("#supplier_fax").val(data.fax);
          $("#supplier_cellular").val(data.cellular);
          $("#supplier_email").val(data.email);
          $("#supplier_active").prop('checked', true);
          $("#supplier_organization_id").val(data.organization_id);
          // Enable fields
          $('#supplier_supplier_code').prop('disabled', false);
          $('#supplier_name').prop('disabled', false);
          $('#generate_code_btn').show();
          $('#submit_btn').show();
          // Default color & focus
          $("#supplier_fiscal_id").css('color', text_field_color);
          $('#supplier_supplier_code').focus();
        }
      })
      return false;
    }));
    $('#supplier_fiscal_id').focus();

    // Initialized form variable
    _thisForm = $("#supplier_fiscal_id").closest('form')[0];
    
    // Can't change code if editing
    if ('<%= @breadcrumb %>' == "update") {
      $('#supplier_supplier_code').prop('readonly', true);
    } else {
      $('#supplier_supplier_code').prop('readonly', false);
    }
  });
  
  jQuery(function($) {
    // when the #supplier_town_id field changes
    $("#supplier_town_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#supplier_town_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + contact, function(data) {
        $("#supplier_province_id").val(data.province_id);
        $("#supplier_region_id").val(data.region_id);
        $("#supplier_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #supplier_province_id field changes
    $("#supplier_province_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#supplier_province_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_region_textfield_from_province/' + contact, function(data) {
        $("#supplier_region_id").val(data.region_id);
        $("#supplier_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #supplier_zipcode_id field changes
    $("#supplier_zipcode_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#supplier_zipcode_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_zipcode/' + contact, function(data) {
        $("#supplier_town_id").val(data.town_id);
        $("#supplier_province_id").val(data.province_id);
        $("#supplier_region_id").val(data.region_id);
        $("#supplier_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #supplier_region_id field changes
    $("#supplier_region_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#supplier_region_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_country_textfield_from_region/' + contact, function(data) {
        $("#supplier_country_id").val(data.id);
      })
      return false;
    });

    // when #validate_btn is clicked
    $("#validate_btn").click(function() {
      // make a POST call and replace the content
      var supplier = $('#supplier_fiscal_id').val();
      if (supplier == "")
        supplier = "0";
      jQuery.getJSON('validate_fiscal_id_textfield/' + supplier, function(data) {
        $("#supplier_fiscal_id").val(data.fiscal_id);
        if ($("#supplier_fiscal_id").val() == "$err") {
          $("#supplier_fiscal_id").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.suppliers.fiscal_error") %>');
          $('#supplier_fiscal_id').select();
        }
        else {
          $("#supplier_entity_id").val(data.id);
          $("#supplier_street_type_id").val(data.street_type_id);
          $("#supplier_street_name").val(data.street_name);
          $("#supplier_street_number").val(data.street_number);
          $("#supplier_building").val(data.building);
          $("#supplier_floor").val(data.floor);
          $("#supplier_floor_office").val(data.floor_office);
          $("#supplier_zipcode_id").val(data.zipcode_id);
          $("#supplier_town_id").val(data.town_id);
          $("#supplier_province_id").val(data.province_id);
          $("#supplier_region_id").val(data.region_id);
          $("#supplier_country_id").val(data.country_id);
          $("#supplier_phone").val(data.phone);
          $("#supplier_fax").val(data.fax);
          $("#supplier_cellular").val(data.cellular);
          $("#supplier_email").val(data.email);
          $("#supplier_organization_id").val(data.organization_id);
          
          $("#supplier_fiscal_id").css('color', text_field_color);
          $('#supplier_supplier_code').focus();
        }
      })
      return false;
    });
    
    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var activities = $('#checked_activities').val();
      if (activities == "")
        activities = "$";
      jQuery.getJSON('su_generate_code/' + activities, function(data) {
        $("#supplier_supplier_code").val(data.code);
        if ($("#supplier_supplier_code").val() == "$err") {
          $("#supplier_supplier_code").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.suppliers.code_error") %>');
        }
        else
          $("#supplier_supplier_code").css('color', text_field_color);
        $('#supplier_supplier_code').select();
      });
      return false;
    });

    // when the #supplier_supplier_code field changes
    $("#supplier_supplier_code").change(function() {
      // replace the color
      $("#supplier_supplier_code").css('color', text_field_color);
    });

    // when the #supplier_fiscal_id field changes
    $("#supplier_fiscal_id").change(function() {
      var contact = $('#supplier_fiscal_id').val();
      if (contact == "")
        contact = "0";
      if (contact == "0") {
        // Empty fiscal id: Disable
        $('#supplier_supplier_code').prop('disabled', true);
        $('#supplier_name').prop('disabled', true);
        $('#generate_code_btn').hide();
        $('#submit_btn').hide();
      } else {
        // Fiscal Id OK: Enable
        $('#supplier_supplier_code').prop('disabled', false);
        $('#supplier_name').prop('disabled', false);
        $('#generate_code_btn').show();
        $('#submit_btn').show();
      }
    });

    // when the #supplier_max_orders_sum field changes
    $("#supplier_max_orders_sum").change(function() {
      var num = $('#supplier_max_orders_sum').val();
      if (num == "")
        num = "0";
      // Right formatted for passing as REST parameter
      num = parseInt(right_number(num, 4) * 10000);
      jQuery.getJSON('su_format_amount/' + num, function(data) {
        $('#supplier_max_orders_sum').val(data.num);
      });
      return false;
    });

    // when the #supplier_discount_rate field changes
    $("#supplier_discount_rate").change(function() {
      var num = $('#supplier_discount_rate').val();
      if (num == "")
        num = "0";
      // Right formatted for passing as REST parameter
      num = parseInt(right_number(num, 2) * 100);
      jQuery.getJSON('su_format_percentage/' + num, function(data) {
        $('#supplier_discount_rate').val(data.num);
      });
      return false;
    });

    // when submit    
    $(_thisForm).on('submit', function() {
      // Must change decimal separator, if comma, in numeric fields
      var m = $('#supplier_max_orders_sum').val().replace(",", ".");
      var d = $('#supplier_discount_rate').val().replace(",", ".");
      $('#supplier_max_orders_sum').val(m);
      $('#supplier_discount_rate').val(d);
    });
  });

  /* Collect checkboxes values in hidden input field */
  function updateTextArea() {
    var allVals = [];
    $('#c_b :checked').each(function() {
      allVals.push($(this).val());
    });
    $('#checked_activities').val(allVals)
  }
  $(function() {
    $('#c_b input').click(updateTextArea);
    //updateTextArea();
  });
</script>

<%= simple_form_for @supplier, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"><%= f.input :fiscal_id, :required => true, :autofocus => true, :input_html => { onkeyup: "caps(this)", :class => 'large-text-field iconify' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :supplier_code, :required => true, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :name, :required => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two"> <%= f.input :contract_number, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :active, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' }, :boolean_style => :inline %> </label>
</div>
<h4><%=t 'ag2_purchase.suppliers.personal_info' %></h4>
<div>
  <label class="multi-field-label-two"> <%= f.input :phone, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :fax, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :cellular, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :email, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-thinner"> <%= f.association :street_type, collection: StreetType.all(order: 'street_type_code'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-wider"> <%= f.input :street_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :street_number, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider"> <%= f.input :building, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor_office, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :zipcode, collection: Zipcode.all(order: 'zipcode'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :town, collection: Town.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :province, collection: Province.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :region, collection: Region.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :country, collection: Country.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :remarks, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 2 }, :label_html => { :class => 'form-label' } %>
<%= f.input :entity_id, :as => :hidden %>
<h4><%=t 'ag2_purchase.suppliers.commercial_info' %></h4>
<div>
  <label class="multi-field-label-two"> <%= f.association :payment_method, collection: PaymentMethod.all(order: 'description'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :ledger_account, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.input :discount_rate, as: :string, input_html: { value: (number_with_precision(f.object.discount_rate, precision: 2) if f.object.discount_rate), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :max_orders_count, input_html: { class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :max_orders_sum, as: :string, input_html: { value: (number_with_precision(f.object.max_orders_sum, precision: 2) if f.object.max_orders_sum), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div id="c_b">
<%= f.input :activity_ids, collection: Activity.order('description'), as: :check_boxes, label_method: lambda {|t| t.description}, label_html: { :class => 'form-label' }, item_wrapper_class: 'inline' %>
</div>
<input id="checked_activities" type="hidden">
<br />
<!-- Buttons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %> </td>
      <% if @breadcrumb == 'create'%>
      <td class="form-td-three right-winged"><a href="#" id="generate_code_btn" class="btn btn-warning"><%=t 'ag2_purchase.suppliers.generate_code_btn' %></a></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>

<!-- Modal for new Entity -->
<%= render '/ag2_admin/entities/new_entity' %>
