<%= render '/layouts/ag2_purchase/suppliersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t("ag2_purchase.suppliers.edit.btn_show"), @supplier %> |
<%= link_to I18n.t("ag2_purchase.suppliers.back_to_main_page"), suppliers_path %>
