<%= render '/layouts/ag2_purchase/suppliersbreadcrumb' %>

<h3><%= t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @supplier.id %></td>
      <td><%= t 'activerecord.attributes.supplier.supplier_code' %>:</td>
      <td><%= @supplier.supplier_code %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier.fiscal_id' %>:</td>
      <td><%= @supplier.fiscal_id %></td>
      <td><%= t 'activerecord.attributes.supplier.entity_id' %>:</td>
      <td><%= @supplier.entity_id %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier.name' %>:</td>
      <td><%= @supplier.name %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier.contract_number' %>:</td>
      <td><%= @supplier.contract_number unless @supplier.contract_number.blank? %></td>
      <td><%= t 'activerecord.attributes.supplier.active' %>:</td>
      <td> <% if @supplier.active %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @supplier } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @supplier } %>
  </tbody>
</table>

<h4><%= t 'ag2_purchase.suppliers.personal_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t 'activerecord.attributes.supplier.phone' %>:</td>
      <td><%= @supplier.phone unless @supplier.phone.blank? %></td>
      <td><%= t 'activerecord.attributes.supplier.fax' %>:</td>
      <td><%= @supplier.fax unless @supplier.fax.blank? %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier.cellular' %>:</td>
      <td><%= @supplier.cellular unless @supplier.cellular.blank? %></td>
      <td><%= t 'activerecord.attributes.supplier.email' %>:</td>
      <td><%= @supplier.email unless @supplier.email.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.address" %>:</td>
      <td> <%= @supplier.street_type.street_type_code.titleize  %>. <%= @supplier.street_name %> <%= @supplier.street_number %>
      <% if !@supplier.building.blank? %>
      <%= @supplier.building.titleize %>
      <% end %>
      <% if !@supplier.floor.blank? %>
      <%= @supplier.floor %>&ordm;
      <% end %>
      <% if !@supplier.floor_office.blank? %>
      <%= @supplier.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.town" %>:</td>
      <td><%= @supplier.town.name %></td>
      <td><%= t :"activerecord.attributes.supplier.province" %>:</td>
      <td><%= @supplier.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.zipcode" %>:</td>
      <td><%= @supplier.zipcode.zipcode %></td>
      <td><%= t :"activerecord.attributes.supplier.country" %>:</td>
      <td><%= @supplier.country.name %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.remarks" %>:</td>
      <td><%= @supplier.remarks unless @supplier.remarks.blank? %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h4><%= t 'ag2_purchase.suppliers.commercial_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.payment_method" %>:</td>
      <td><%= @supplier.payment_method.description %></td>
      <td><%= t :"activerecord.attributes.supplier.ledger_account" %>:</td>
      <td><%= @supplier.ledger_account unless @supplier.ledger_account.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.discount_rate" %>:</td>
      <td><%= number_to_percentage(@supplier.discount_rate, precision: 2, locale: :es) unless @supplier.discount_rate.blank? %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.supplier.max_orders_count" %>:</td>
      <td><%= @supplier.max_orders_count unless @supplier.max_orders_count.blank? %></td>
      <td><%= t :"activerecord.attributes.supplier.max_orders_sum" %>:</td>
      <td><%= number_to_currency(@supplier.max_orders_sum, locale: :es) unless @supplier.max_orders_sum.blank? %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Supplier, update_path: edit_supplier_path(@supplier), update_txt: t('.btn_edit'),
delete_path: @supplier, delete_txt: t('.btn_delete'), msg: t("activerecord.models.supplier.one"), txt: @supplier.name,
new_path: new_supplier_path, new_txt: t('ag2_purchase.suppliers.index.btn_new') } %>

<% if @supplier.activities.count > 0 %>
  <h4><%= t 'activerecord.attributes.supplier.activity_ids' %></h4>
  &#8226;
  <% @supplier.activities.each do |activity| %>
    <span class="highlighted"><%= activity.description %></span> &#8226;
  <% end %>
<% end %>
<br />
<br />

<% if (@contacts.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render '/layouts/ag2_purchase/contactsheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_purchase/contacts', :locals => { :contacts => @contacts } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @contacts } %>
<% end %>

<% if false %><!-- Activate block removing if -->
<% if (@prices.count > 0) %>
<h4><%=t '.subtable_prices_title' %></h4>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render '/layouts/ag2_products/pricesheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_products/prices', :locals => { :prices => @prices } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @prices } %>
<% end %>
<% end %>

<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t('ag2_purchase.suppliers.back_to_main_page'), suppliers_path %>
