<script type="text/javascript">
  $(document).ready(function() {
    // Select2
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
  });
</script>

<%= simple_form_for @reading_incidence_type, :html => {:class => 'form-vertical well'} do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>

  <div class="row-fluid">

    <div class="span4">
      <%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </div>

    <div class="span4">
      <%= f.input :should_estimate, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </div>

  </div>
  <%= f.button :submit, :class => 'btn-primary' %>

<% end %>
