<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "code", t('activerecord.attributes.reading_incidence_type.name') %></th>
      <th><%= sortable "name", t('activerecord.attributes.reading_incidence_type.code') %></th>
      <th><%= t('activerecord.attributes.reading_incidence_type.should_estimate') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reading_incidence_types.each do |reading_incidence_type| %>
    <tr>
      <td><%= reading_incidence_type.try(:code)  %></td>
      <td><%= reading_incidence_type.try(:name) %></td>
      <td>
        <% if reading_incidence_type.try(:should_estimate) == true %>
          <i class="icon-thumbs-up"></i>
        <% else %>
          <i class="icon-thumbs-down"></i>
        <% end %>
      </td>
      <td>
        <%= render :partial => '/layouts/crud/read', :locals => { :model => ReadingIncidenceType, :path => reading_incidence_type_path(reading_incidence_type) } %>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => ReadingIncidenceType, :path => edit_reading_incidence_type_path(reading_incidence_type) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => ReadingIncidenceType, :path => reading_incidence_type, :msg => t("activerecord.models.reading_incidence_type.one"), :txt => reading_incidence_type.name } %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @reading_incidence_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ReadingIncidenceType, :path => new_reading_incidence_type_path, :txt => t("ag2_gest.reading_incidence_types.index.btn_new") } %>
<%= link_to t("ag2_gest.reading_incidence_types.index.back_to_management"), ag2_gest.reading_management_path %>
