<%= render '/layouts/ag2_gest/servicepointpurposebreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @service_point_purpose %> |
<%= link_to t('.back'), service_point_purposes_path %>