<tr>
  <td><%= item.product.full_name %></td>
  <td align="right"><%= number_with_precision(item.initial, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.current, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.average_price, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.quantity, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.price, precision: 4) %></td>
</tr>
