<%= render '/layouts/ag2_products/icountsncbreadcrumb' %>

<h3><%=t 'ag2_products.inventory_counts.edit.title_nc' %></h3>

<%= render 'form_nc' %>

<%= link_to t("ag2_products.inventory_counts.edit.btn_show"), @inventory_count %> |
<%= link_to t("ag2_products.inventory_counts.back_to_main_page"), inventory_counts_path %>
