<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#Store").closest('form')[0];
  }); 

  $(window).bind("load", function() {
    $("#No").val("<%= params[:No] %>");
    $("#Store").select2("val", "<%= params[:Store] %>");
    $("#Family").select2("val", "<%= params[:Family] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Store").select2("val", "");
      $("#Family").select2("val", "");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
  });
</script>

<%= render '/layouts/ag2_products/icountsbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "inventory_counts", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.inventory_count.count_no"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Store -->
        <%= label_tag I18n.t("activerecord.attributes.inventory_count.store"), nil, :class => 'form-label' %>
        <%= select_tag "Store", options_from_collection_for_select(@stores, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Family -->
        <%= label_tag I18n.t("activerecord.attributes.inventory_count.product_family"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Family", options_from_collection_for_select(@families, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.inventory_counts.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => InventoryCount, :path => new_inventory_count_path, :txt => t(".btn_new") } %>
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9" id="div_table">
      <%= render 'inventory_counts' %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
