<script>
  var text_field_color;
  var old_grp = '';
  var old_org = '';
  var old_code = '';

  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });

    // Save default text color
    text_field_color = $("#charge_account_account_code").css('color')

    // Icon inside text field: Generate No
    $('input.iconify').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      $('#generate_code_btn').trigger("click");
      return false;
    }));

    // Disable fields if #charge_account_account_code blank
    var code = $('#charge_account_account_code').val();
    if (code == "")
      code = "0";
    if (code == "0") {
      // Empty code: Disable
      $('#submit_btn').hide();
    } else {
      // Code OK: Enable
      $('#submit_btn').show();
      old_grp = $('#charge_account_charge_group_id').val();
    }

    // Disable generate_code_btn if charge_account_organization_id blank
    var order = $('#charge_account_organization_id').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty organization: Hide
      $('#generate_code_btn').hide();
    } else {
      // Organization OK: Show (if not updating)
      old_org = $('#charge_account_organization_id').val();
      old_code = $('#charge_account_account_code').val();
      if ('<%= @breadcrumb %>' == "update") {
        $('#generate_code_btn').hide();
      } else {
        $('#generate_code_btn').show();
      }
    }
    
    // Can't change code if editing
    if ('<%= @breadcrumb %>' == "update") {
      $('#charge_account_account_code').prop('readonly', true);
    } else {
      $('#charge_account_account_code').prop('readonly', false);
    }
  });

  jQuery(function($) {
    // when the #charge_account_account_code field changes
    $("#charge_account_account_code").change(function() {
      var order = $('#charge_account_account_code').val();
      if (order == "")
        order = "0";
      if (order == "0") {
        // Empty order: Disable
        $('#submit_btn').hide();
      } else {
        // Order OK: Enable
        $('#submit_btn').show();
      }
    });

    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var grp = $('select#charge_account_charge_group_id :selected').val();
      if (grp == "")
        grp = "$";
      var org = $('select#charge_account_organization_id :selected').val();
      if (org == "")
        org = "$";
      var prj = $('select#charge_account_project_id :selected').val();
      if (prj == "")
        prj = "0";
      jQuery.getJSON('cc_generate_code/' + grp + '/' + org + '/' + prj, function(data) {
        $("#charge_account_account_code").val(data.code);
        if ($("#charge_account_account_code").val() == "$err") {
          $("#charge_account_account_code").css('color', 'red');
          alert('<%= I18n.t("ag2_tech.charge_accounts.code_error") %>');
          $('#charge_account_account_code').select();
        } else {
          $("#charge_account_account_code").css('color', text_field_color);
          $("#charge_account_account_code").trigger("change");
        }
      });
      return false;
    });

    // when the #charge_account_organization_id field changes
    $("#charge_account_organization_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#charge_account_organization_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('cc_update_project_textfields_from_organization/' + order, function(data) {
        var p = data.projects;
        var g = data.groups;
        var l = data.accounts;
        // Projects
        $("#charge_account_project_id").html("");
        $("#charge_account_project_id").select2("val", "");
        $("#charge_account_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'projects' && option != "") {
              $("#charge_account_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#charge_account_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
        // Groups
        $("#charge_account_charge_group_id").html("");
        $("#charge_account_charge_group_id").select2("val", "");
        $("#charge_account_charge_group_id").append($('<option></option>').val("").html(""));
        if (!g.length) {
          $.each(data, function(id, option) {
            if (id == 'groups' && option != "") {
              $("#charge_account_charge_group_id").append($('<option></option>').val(option.id).html(option.group_code + " " + option.name));
            }
          });
        } else {
          $.each(g, function(id, option) {
            $("#charge_account_charge_group_id").append($('<option></option>').val(option.id).html(option.group_code + " " + option.name));
          });
        }
        // Ledger accounts
        $("#charge_account_ledger_account_id").html("");
        $("#charge_account_ledger_account_id").select2("val", "");
        $("#charge_account_ledger_account_id").append($('<option></option>').val("").html(""));
        if (!l.length) {
          $.each(data, function(id, option) {
            if (id == 'accounts' && option != "") {
              $("#charge_account_ledger_account_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(l, function(id, option) {
            $("#charge_account_ledger_account_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
      });
      $("#charge_account_charge_group_id").val(0);
      // Disable generate_code_btn if charge_account_organization_id blank
      show_hide_generate_code_btn();
      return false;
    });

    // when the #charge_account_charge_group_id field changes
    $("#charge_account_charge_group_id").change(function() {
      var grp = $('select#charge_account_charge_group_id :selected').val();
      if (grp == "")
        grp = "0";
      if (grp == "0") {
        // Empty group: Disable
        $('#charge_account_account_code').prop('disabled', true);
        $('#generate_code_btn').hide();
        $('#submit_btn').hide();
      } else {
        // Group OK: Enable
        $('#charge_account_account_code').prop('disabled', false);
        $('#generate_code_btn').show();
        $('#submit_btn').show();
      }
      // Disable generate_code_btn if charge_account_charge_group_id blank
      show_hide_generate_code_btn();
    });

    // when the #charge_account_project_id field changes
    $("#charge_account_project_id").change(function() {
      // make a POST call and replace the content
      var project = $('select#charge_account_project_id :selected').val();
      if (project == "")
        project = "0";
      jQuery.getJSON('cc_update_account_textfield_from_project/' + project, function(data) {
        var l = data.accounts;
        // Ledger accounts
        $("#charge_account_ledger_account_id").html("");
        $("#charge_account_ledger_account_id").select2("val", "");
        $("#charge_account_ledger_account_id").append($('<option></option>').val("").html(""));
        if (!l.length) {
          $.each(data, function(id, option) {
            if (id == 'accounts' && option != "") {
              $("#charge_account_ledger_account_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(l, function(id, option) {
            $("#charge_account_ledger_account_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
      });
      return false;
    });
  });
  
  function show_hide_generate_code_btn() {
    // Disable generate_code_btn if charge_account_organization_id and charge_account_charge_group_id are blank
    var grp = $('select#charge_account_charge_group_id :selected').val();
    if (grp == "")
      grp = "$";
    var org = $('select#charge_account_organization_id :selected').val();
    if (org == "")
      org = "$";
    if (grp != "$" && org != "$") {
      // Show (if not updating)
      if ('<%= @breadcrumb %>' == "update") {
        if (old_org == $('#charge_account_organization_id').val() && old_grp == $('#charge_account_charge_group_id').val()) {
          $('#charge_account_account_code').val(old_code);
          $("#charge_account_account_code").css('color', text_field_color);
          $('#generate_code_btn').hide();
        } else {
          $('#generate_code_btn').show();
        }
      } else {
        $('#generate_code_btn').show();
      }
    } else {
      // Hide
      $('#generate_code_btn').hide();
    }    
  }
</script>

<%= simple_form_for @charge_account, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two">
    <% if session[:organization] != '0' %>
    <%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.organizations.count > 0 %>
    <%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two"> <%= f.association :charge_group, collection: @groups, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :project, collection: @projects, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :ledger_account, collection: @ledger_accounts, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :account_code, input_html: { class: 'mid-text-field iconify', maxlength: 10 }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :name, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :opened_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.opened_at.strftime("%d/%m/%Y") if f.object.opened_at), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :closed_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.closed_at.strftime("%d/%m/%Y") if f.object.closed_at), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %> </td>
      <td class="form-td-three right-winged"><a href="#" id="generate_code_btn" class="btn btn-warning"><%=t 'ag2_tech.charge_accounts.generate_code_btn' %></a></td>
    </tr>
  </tbody>
</table>
<% end %>
