<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  }); 

  $(window).bind("load", function() {
    $("#Project").select2("val", "<%= params[:Project] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#Project").select2("val", "");
      $("#search").val("");
      _thisForm.submit();
    });
  });
</script>

<%= render '/layouts/ag2_tech/caccountsbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "charge_accounts", :method => 'get' do %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_tech.charge_accounts.index.label_project"), nil, :class => 'form-label' %>
        <%= select_tag "Project", options_from_collection_for_select(@projects, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_tech.charge_accounts.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => ChargeAccount, :path => new_charge_account_path, :txt => t(".btn_new") } %>
        <%= link_to t(".back_to_root"), ag2_tech.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th><%= t 'activerecord.attributes.charge_account.account_code' %></th>
            <th><%= t 'activerecord.attributes.charge_account.name' %></th>
            <th><%= t 'activerecord.attributes.charge_account.project' %></th>
            <th align="center"><%= t 'activerecord.attributes.charge_account.opened_at' %></th>
            <th align="center"><%= t 'activerecord.attributes.charge_account.closed_at' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @charge_accounts.each do |account| %>
          <% if account.closed_at.blank? %>
          <tr>
            <% else %>
          <tr class="inactive-row">
            <% end %>
            <td><%= link_to account.full_code, account %></td>
            <td><%= account.name %></td>
            <td><%= account.project.full_code unless account.project.blank? %></td>
            <td align="center"><%= account.opened_at.strftime("%d/%m/%Y") unless account.opened_at.blank? %></td>
            <td align="center"><%= account.closed_at.strftime("%d/%m/%Y") unless account.closed_at.blank? %></td>
            <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => ChargeAccount, :path => edit_charge_account_path(account) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => ChargeAccount, :path => account, :msg => t("activerecord.models.charge_account.one"), :txt => account.full_name } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @charge_accounts } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

