<script>
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  }); 

  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#No").val("<%= params[:No] %>");
    $("#Project").select2("val", "<%= params[:Project] %>");
    $("#Group").select2("val", "<%= params[:Group] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Project").select2("val", "");
      $("#Group").select2("val", "");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
  });
</script>

<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>

<%= render '/layouts/ag2_tech/caccountsbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_tech.charge_accounts_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "charge_accounts", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.charge_account.account_code"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_tech.charge_accounts.index.label_project"), nil, :class => 'form-label' %>
        <%= select_tag "Project", options_from_collection_for_select(@projects, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Group -->
        <%= label_tag I18n.t("ag2_tech.charge_accounts.index.label_group"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Group", options_from_collection_for_select(@groups, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_tech.charge_accounts.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => ChargeAccount, :path => new_charge_account_path, :txt => t(".btn_new") } %>
        <%= link_to t(".back_to_root"), ag2_tech.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'charge_accounts' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

