<%= render '/layouts/ag2_tech/caccountsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @charge_account.id %></td>
      <td><%=t 'activerecord.attributes.charge_account.account_code' %>:</td>
      <td><b><%= @charge_account.full_code %></b></td>
    </tr>
      <td><%=t 'activerecord.attributes.charge_account.name' %>:</td>
      <td><%= @charge_account.name %></td>
      <td><%=t 'activerecord.attributes.charge_account.charge_group' %>:</td>
      <td><%= @charge_account.charge_group.full_name unless @charge_account.charge_group.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.charge_account.ledger_account' %>:</td>
      <td><%= @charge_account.ledger_account.full_name unless @charge_account.ledger_account.blank? %></td>
      <td><%=t 'activerecord.attributes.charge_account.project' %>:</td>
      <td><%= @charge_account.project.full_name unless @charge_account.project.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.charge_account.opened_at" %>:</td>
      <td><%= @charge_account.opened_at.strftime("%d/%m/%Y") unless @charge_account.opened_at.blank? %></td>
      <td><%= t :"activerecord.attributes.charge_account.closed_at" %>:</td>
      <td><%= @charge_account.closed_at.strftime("%d/%m/%Y") unless @charge_account.closed_at.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @charge_account } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @charge_account } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ChargeAccount, update_path: edit_charge_account_path(@charge_account), update_txt: t('.btn_edit'),
delete_path: @charge_account, delete_txt: t('.btn_delete'), msg: t("activerecord.models.charge_account.one"), txt: @charge_account.full_name,
new_path: new_charge_account_path, new_txt: t('ag2_tech.charge_accounts.index.btn_new') } %>

<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t("ag2_tech.charge_accounts.back_to_main_page"), charge_accounts_path %>
