<%= render '/layouts/ag2_tech/caccountsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @charge_account.id %></td>
      <td><%=t 'activerecord.attributes.charge_account.account_code' %>:</td>
      <td class="highlighted bolded"><%= @charge_account.full_code %></td>
    </tr>
      <td><%=t 'activerecord.attributes.charge_account.name' %>:</td>
      <td><%= @charge_account.name %></td>
      <td><%=t 'activerecord.attributes.charge_account.charge_group' %>:</td>
      <td><%= @charge_account.charge_group.full_name unless @charge_account.charge_group.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.charge_account.ledger_account' %>:</td>
      <td><%= @charge_account.ledger_account.full_name unless @charge_account.ledger_account.blank? %></td>
      <td><%=t 'activerecord.attributes.charge_account.project' %>:</td>
      <td><%= @charge_account.project.full_name unless @charge_account.project.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.charge_account.opened_at" %>:</td>
      <td><%= @charge_account.opened_at.strftime("%d/%m/%Y") unless @charge_account.opened_at.blank? %></td>
      <td><%= t :"activerecord.attributes.charge_account.closed_at" %>:</td>
      <td><%= @charge_account.closed_at.strftime("%d/%m/%Y") unless @charge_account.closed_at.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @charge_account } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @charge_account } %>
  </tbody>
</table>

<!-- Ledger Accounts -->
<% if @ledger_accounts.count > 0 %>
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'activerecord.models.ledger_account.zero' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-condensed table-striped shrinked">
  <!-- company  -->
  <col width="50%" />
  <!-- ledger_account -->
  <col width="50%" />
  <thead>
    <%= render 'ledger_accounts_header' %>
  </thead>
  <tbody>
    <%= render partial: 'ledger_account', collection: @ledger_accounts %>
  </tbody>
  </table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @ledger_accounts } %>
<% end %> <!-- @charge_account.charge_account_ledger_accounts.count > 0 -->

<!-- charge Accounts cumulative-->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_tech.ag2_tech_track.charge_account_report.cumulative_report_title' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-condensed table-striped shrinked">
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <col width="20%" />
  <thead>
    <tr>
      <th><%= t :"ag2_tech.work_orders.index.title" %></th>
      <th><%= t :"ag2_products.receipt_notes.index.title" %></th>
      <th><%= t :"ag2_products.delivery_notes.index.title" %></th>
      <th><%= t :"ag2_tech.ag2_tech_track.every_report.supplier_invoice_items_c" %></th>
      <th><%= t :"ag2_tech.ag2_tech_track.every_report.invoice_items_c" %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @charge_account.wo_total(@project_ids, @group).blank? ? "0,00" : number_with_precision(@charge_account.wo_total(@project_ids, @group), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
      <td><%= @charge_account.rni_total(@project_ids, @group).blank? ? "0,00" : number_with_precision(@charge_account.rni_total(@project_ids, @group).first.rni_t, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
      <td><%= @charge_account.dni_total(@project_ids, @group).blank? ? "0,00" : number_with_precision(@charge_account.dni_total(@project_ids, @group).first.dni_t, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
      <td><%= @charge_account.sii_total(@project_ids, @group).blank? ? "0,00" : number_with_precision(@charge_account.sii_total(@project_ids, @group).first.sii_t, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
      <td><%= @charge_account.ii_total(@project_ids, @group).blank? ? "0,00" : number_with_precision(@charge_account.ii_total(@project_ids, @group).first.ii_t, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ChargeAccount, update_path: edit_charge_account_path(@charge_account), update_txt: t('.btn_edit'),
delete_path: @charge_account, delete_txt: t('.btn_delete'), msg: t("activerecord.models.charge_account.one"), txt: @charge_account.full_name,
new_path: new_charge_account_path, new_txt: t('ag2_tech.charge_accounts.index.btn_new') } %>

<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t("ag2_tech.charge_accounts.back_to_main_page"), charge_accounts_path %>
