<script>
  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; }
    });
    // Setup drag & drop
    dd_import_files('#dd_files', '#image_content', 'ti_update_attachment');
  });

  jQuery(function($) {
    // when the #ticket_created_by field changes
    $("#ticket_created_by").change(function() {
      // make a POST call and replace the content
      var ticket = $('select#ticket_created_by :selected').val();
      if (ticket == "")
        ticket = "0";
      jQuery.getJSON('ti_update_office_textfield_from_created_by/' + ticket, function(data) {
        if (data.office > 0) {
          $("#ticket_office_id").val(data.office);
        }
      })
      return false;
    });

    // when the #ticket_attachment field changes
    $("#ticket_attachment").change(function() {
      readImageFromInput(this, '#dd_files');
    });

    // when the #ticket_organization_id field changes
    $("#ticket_organization_id").change(function() {
      // make a POST call and replace the content
      var ticket = $('select#ticket_organization_id :selected').val();
      if (ticket == "")
        ticket = "0";
      jQuery.getJSON('ti_update_office_textfield_from_organization/' + ticket, function(data) {
        var o = data.offices;
        var t = data.technicians;
        // Offices
        $("#ticket_office_id").html("");
        $("#ticket_office_id").val("");
        $("#ticket_office_id").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'offices' && option != "") {
              $("#ticket_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#ticket_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
          });
        }
        // Technicians
        $("#ticket_technician_id").html("");
        $("#ticket_technician_id").val("");
        $("#ticket_technician_id").append($('<option></option>').val("").html(""));
        if (!t.length) {
          $.each(data, function(id, option) {
            if (id == 'technicians' && option != "") {
              $("#ticket_technician_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(t, function(id, option) {
            $("#ticket_technician_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
      });
      return false;
    });
  });
</script>

<%= simple_form_for @ticket, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two"> <%= f.association :ticket_category, :autofocus => true, collection: TicketCategory.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :ticket_priority, collection: TicketPriority.all(order: 'id'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :ticket_subject, :input_html => { :class => 'large-text-field', :maxlength => 30 }, :label_html => { :class => 'form-label' } %>
<%= f.input :ticket_message, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 3 }, :label_html => { :class => 'form-label' } %>
<div>
  <label class="multi-field-label-two"> <%= f.input :created_by, collection: User.all(order: 'email'), :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :updated_by, collection: User.all(order: 'email'), :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :office, collection: @offices, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :cc, collection: User.all(order: 'email'), :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :ticket_status, collection: TicketStatus.all(order: 'id'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :technician, collection: @technicians, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :assign_at, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.assign_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.assign_at), :class => 'large-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :status_changed_at, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.status_changed_at.strftime("%d/%m/%Y %H:%M:%S") if f.object.status_changed_at), :class => 'large-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :status_changed_message, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 3 }, :label_html => { :class => 'form-label' } %>
<!-- Attachment -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged"> <%= f.input :attachment, as: :file, input_html: { accept: 'image/*' }, label_html: { class: 'form-label' } %> </td>
      <td class="form-td-two right-winged">
      <div id="dd_files">
        <% if !@ticket.attachment_file_name.nil? %>
          <span id="image_text"></span>
          <img id="image_content" src="<%= @ticket.attachment.url %>">
        <% else %>
          <span id="image_text"><%= t 'dd_image_message' %></span>
          <img id="image_content" hidden>
        <% end %>
      </div></td>
    </tr>
  </tbody>
</table>
<!-- Set referrer to redirect right -->
<% if @breadcrumb == 'update'%>
<%= hidden_field_tag :referrer, ticket_path(@ticket) %>
<% else %>
<%= hidden_field_tag :referrer, '' %>
<% end %>

<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
