<script>
  var validationSettings;

  $(document).ready(function() {
    validationSettings = {
      errorMessagePosition : 'element'
    };
  });
  
  jQuery(function($) {
    $('#form_new_ticket').on('submit', function(e) {
      var isValid = $('#form_new_ticket').validate(false, validationSettings);
      if (!isValid) {
        // Error
        e.stopPropagation();
        return false;
      } else {
        // Hide the modal and exit
        $("#new-ticket").modal('hide');
        alert('<%= I18n.t("ag2_help_desk.tickets.new_ticket.submit") %>');
      }
      /*
      var category = $('select#fnt_category :selected').val();
      var priority = $('select#fnt_priority :selected').val();
      var subject = $('#fnt_subject').val();
      var message = $('#fnt_message').val();
      if ((category == "") || (priority == "")  || (subject == "")  || (message == "")) {
        // Error
        alert('<%= I18n.t("ag2_help_desk.tickets.new_ticket.footer") %>');
        return false;
      } else {
        // Hide the modal and exit
        $("#new-ticket").modal('hide');
        alert('<%= I18n.t("ag2_help_desk.tickets.new_ticket.submit") %>');
      }
       */
    });
  })
</script>

<div id="new-ticket" class="modal hide fade in" style="display: none;">
  <% if user_signed_in? %>
    <% e = t('ag2_help_desk.tickets.new_ticket.error') %>
    <%= simple_form_for Ticket.new, :url => ag2_help_desk.popup_new_tickets_path, :remote => :true, :html => { "data-type" => :json, :class => 'form-inline', :id => 'form_new_ticket' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3><%= I18n.t('ag2_help_desk.tickets.new_ticket.title') %></h3>
      <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
    </div>
    <div class="modal-body">
      <%= f.association :ticket_category, :autofocus => true, collection: TicketCategory.all(order: 'name'), :input_html => { :class => 'mid-text-field', :id => 'fnt_category', :data => { :validation => "required", "validation-error-msg" => "#{e}" } }, :label_html => { :class => 'form-label' } %>
      <%= f.association :ticket_priority, collection: TicketPriority.all(order: 'id'), :input_html => { :class => 'mid-text-field', :id => 'fnt_priority', :data => { :validation => "required", "validation-error-msg" => "#{e}" } }, :label_html => { :class => 'form-label' } %>
      <%= f.input :ticket_subject, :input_html => { :class => 'x-large-text-field', :maxlength => 20, :id => 'fnt_subject', :data => { :validation => "required", "validation-error-msg" => "#{e}" } }, :label_html => { :class => 'form-label' } %>
      <%= f.input :ticket_message, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 3, :id => 'fnt_message', :data => { :validation => "required", "validation-error-msg" => "#{e}" } }, :label_html => { :class => 'form-label' } %>
      <%= f.input :attachment, :as => :file, :label_html => { :class => 'form-label' } %>
      <%= hidden_field_tag :referrer, "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    </div>
    <div class="modal-footer">
      <%= f.submit I18n.t('ag2_help_desk.tickets.new_ticket.btn_new'), :class => "btn btn-primary" %>
      <a class="btn btn-primary" data-dismiss="modal" href="#"><%= t :close_button %></a>
    </div>
    <% end %>
  <% else %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h3>aGestiona2: <%=t :"not_signed_in.header" %></h3>
    </div>
    <div class="modal-body">
      <h4><%=t :"not_signed_in.body_title" %></h4>
      <p>
        <%=t :"not_signed_in.body_description" %>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" data-dismiss="modal"><%=t :close_button %></a>
    </div>
  <% end %>
</div>
