<div id="ticket-status-<%= ticket.id %>" class="modal" style="display: none;">
  <%= simple_form_for ticket, :html => {:method => :put, :class => 'form-inline' } do |f| %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3><%= I18n.t('ag2_help_desk.tickets.index.change_status_title', :ticket => ticket.id.to_s.rjust(6, '0')) %></h3>
    </div>
    <div class="modal-body">
      <%= hidden_field_tag :referrer, tickets_path %>
      <%= f.association :ticket_status, collection: @ticket_statuses, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
      <%= f.association :technician, collection: @technicians, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
      <%= f.input :status_changed_message, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 4, :maxlength => 254 }, :label_html => { :class => 'form-label' } %>
    </div>
    <div class="modal-footer">
      <%= f.submit I18n.t('ag2_help_desk.tickets.index.btn_change_status'), :class => "btn btn-primary" %>
      <a class="btn btn-primary" data-dismiss="modal" href="#"><%=t :close_button %></a>
    </div>
  <% end %>
</div>
