<script>
  var _thisForm = '';
  var changing = false;

	$(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
  	$('.date_picker').datepicker({
  	 format:'dd/mm/yyyy',weekStart:1
  	});
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
    // Trigger auto-refresh div_table every 60 seconds
    //setTimeout(executeQuery, 60000);
	});
  
  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
    //$("#loader").css("display","none");
  });

  $(window).bind("load", function() {
    $("#Id").val("<%= params[:Id] %>");
    $("#User").select2("val", "<%= params[:User] %>");
    $("#OfficeT").select2("val", "<%= params[:Office] %>");
    $("#From").val("<%= params[:From] %>");
    $("#To").val("<%= params[:To] %>");
    $("#Category").val("<%= params[:Category] %>");
    $("#Priority").val("<%= params[:Priority] %>");
    $("#Status").val("<%= params[:Status] %>");
    $("#Technician").val("<%= params[:Technician] %>");
    $("#Destination").val("<%= params[:Destination] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#Id").val("");
      $("#User").select2("val", "");
      $("#OfficeT").select2("val", "");
      $("#From").val("");
      $("#To").val("");
      $("#Category").val("");
      $("#Priority").val("");
      $("#Status").val("");
      $("#Technician").val("");
      $("#Destination").val("");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
  });

  // Refresh div_table content
  function executeQuery() {
    $.ajax({
      success: function(data) {
        $("#div_table").html("<%= escape_javascript(render('tickets')) %>");
      }
    });
    setTimeout(executeQuery, 60000);
  }
</script>

<%= render '/layouts/ag2_help_desk/ticketsbreadcrumb' %>

<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "tickets", :method => 'get', :remote => true do %>
        <!-- Nº -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.id"), nil, :class => 'form-label' %>
        <%= text_field_tag "Id", nil, :class => 'x-large-text-field shrinked number-text-field' %>
        <!-- User -->
        <%= label_tag I18n.t("created_by"), nil, :class => 'form-label' %>
        <%= select_tag "User", options_from_collection_for_select(User.all, "id", "email"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Office -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.office"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "OfficeT", options_from_collection_for_select(Office.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Dates -->
        <%= label_tag I18n.t("ag2_help_desk.tickets.index.label_from"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag "From", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
        <%= label_tag I18n.t("ag2_help_desk.tickets.index.label_to"), nil, :class => 'form-label' %>
        <%= text_field_tag "To", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
        <!-- Category -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.ticket_category"), nil, :class => 'form-label' %>
        <%= select_tag "Category", options_from_collection_for_select(TicketCategory.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Priority -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.ticket_priority"), nil, :class => 'form-label' %>
        <%= select_tag "Priority", options_from_collection_for_select(TicketPriority.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Status -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.ticket_status"), nil, :class => 'form-label' %>
        <%= select_tag "Status", options_from_collection_for_select(TicketStatus.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Technician -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.technician"), nil, :class => 'form-label' %>
        <%= select_tag "Technician", options_from_collection_for_select(Technician.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Destination -->
        <%= label_tag I18n.t("activerecord.attributes.ticket.destination"), nil, :class => 'form-label' %>
        <%= select_tag "Destination", options_for_select(Ticket.destinations), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_help_desk.tickets.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- New -->
        <%= render :partial => '/layouts/ag2_help_desk/crud/ticket_new', :locals => { :txt => I18n.t("ag2_help_desk.tickets.index.btn_new") } %>
        <!-- Refresh -->
        <%= link_to I18n.t("ag2_help_desk.tickets.index.refresh"), ag2_help_desk.tickets_path, remote: true %><br />
        <!-- Back -->
        <%= link_to I18n.t("ag2_help_desk.tickets.index.back_to_root"), ag2_help_desk.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'tickets' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
