<%= render '/layouts/ag2_help_desk/ticketsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.id" %>:</td>
      <td><b><%= @ticket.id.to_s.rjust(7, '0') %></b></td>
      <% if !@ticket.attachment.blank? %>
      <td><%=t :"activerecord.attributes.ticket.attachment" %>:</td>
      <td class="highlighted"><%=t :"activerecord.attributes.ticket.attach_exist" %></td>
      <% else %>
      <td></td>
      <td></td>
      <% end %>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.ticket_category" %>:</td>
      <td><%= @ticket.ticket_category.name.titleize %></td>
      <td><%=t :"activerecord.attributes.ticket.ticket_priority" %>:</td>
      <td><%= @ticket.ticket_priority.name.titleize %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.ticket_subject" %>:</td>
      <td><%= @ticket.ticket_subject %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.ticket_message" %>:</td>
      <td><%= @ticket.ticket_message %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @ticket } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @ticket } %>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.office" %>:</td>
      <td><%= @ticket.office.name unless @ticket.office.blank? %></td>
      <td><%=t :"activerecord.attributes.ticket.source_ip" %>:</td>
      <td><%= @ticket.source_ip unless @ticket.source_ip.blank? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.assign_at" %>:</td>
      <td><%= @ticket.assign_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") unless @ticket.assign_at.blank? %></td>
      <td><%=t :"activerecord.attributes.ticket.technician" %>:</td>
      <td><%= @ticket.technician.name.titleize unless @ticket.technician.blank? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.status_changed_at" %>:</td>
      <td><%= @ticket.status_changed_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") unless @ticket.status_changed_at.blank? %></td>
      <td><%=t :"activerecord.attributes.ticket.ticket_status" %>:</td>
      <td><%= @ticket.ticket_status.name.titleize unless @ticket.ticket_status.blank? %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.ticket.status_changed_message" %>:</td>
      <td><%= @ticket.status_changed_message %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Ticket, update_path: edit_ticket_path(@ticket), update_txt: t('.btn_edit'),
delete_path: @ticket, delete_txt: t('.btn_delete'), msg: t("activerecord.models.ticket.one"), txt: @ticket.id.to_s.rjust(6, '0'),
new_path: new_ticket_path, new_txt: t('ag2_help_desk.tickets.index.btn_new') } %>

<%= link_to I18n.t("ag2_help_desk.tickets.back_to_main_page"), tickets_path %>

<% if !@ticket.attachment.blank? %>
<br />
<br />
<div id="dd_files">
  <% if session[:resolution] == "LD" %>
  <%= image_tag @ticket.attachment.url(:small) %> <!-- small image size -->
  <% elsif session[:resolution] == "SD" %>
  <%= image_tag @ticket.attachment.url(:medium) %> <!-- medium image size -->
  <% else %>
  <%= image_tag @ticket.attachment.url %> <!-- big image size -->
  <% end %>
</div>
<% end %>
