<script>
  function show_buttons(_show) {
    if (_show == true) {
      $('#report_btn').show();
      $('#csv_btn').show();
      $('label[for=label_detailed]').show();
    } else {
      $('#report_btn').hide();
      $('#csv_btn').hide();
      $('label[for=label_detailed]').hide();
    }
  }

  function setupAllSelect2(p, w, a) {
    projectsSelect2(p);
    wordersSelect2(w);
    caccountsSelect2(a);
  }

  function projectsSelect2(intialValue) {
    $('#Project').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function wordersSelect2(intialValue) {
    $('#Order').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_work_orders",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function caccountsSelect2(intialValue) {
    $('#Account').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_charge_accounts",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      containerCssClass: 'left-winged',
      allowClear: true
    });

    // Setup special search (select2)
    setupAllSelect2("<%= @project %>", "<%= @work_order %>",
                    "<%= @charge_account %>");

    // Hide report button
    show_buttons(false);
  }); 

  jQuery(function($) {
    // when the #Report field changes
    $("#Report").change(function() {
      var report = $('#Report :selected').index();
      if (report == "")
        report = 0;
      switch (report) {
        case 1:
          // Project
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show("#Project", "label_project");
          hide("#Order", "label_work_order");
          hide("#Budget", "label_budget_heading");
          hide("#Group", "label_charge_group");
          hide("#Account", "label_charge_account");
          hide("#Period", "label_budget_period");
          show_buttons(true);
          break;
        case 2:
          // Budget
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show("#Project", "label_project");
          hide("#Order", "label_work_order");
          hide("#Budget", "label_budget_heading");
          hide("#Group", "label_charge_group");
          show("#Account", "label_charge_account");
          show("#Period", "label_budget_period");
          show_buttons(true);
          break;
        case 3:
          // Work order
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show("#Project", "label_project");
          show("#Order", "label_work_order");
          hide("#Budget", "label_budget_heading");
          hide("#Group", "label_charge_group");
          hide("#Account", "label_charge_account");
          hide("#Period", "label_budget_period");
          show_buttons(true);
          break;
        case 4:
          // Charge_account
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show("#Project", "label_project");
          hide("#Order", "label_work_order");
          show("#Budget", "label_budget_heading");
          show("#Group", "label_charge_group");
          show("#Account", "label_charge_account");
          hide("#Period", "label_budget_period");
          show_buttons(true);
          break;
        default:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show("#Project", "label_project");
          show("#Order", "label_work_order");
          show("#Budget", "label_budget_heading");
          show("#Group", "label_charge_group");
          show("#Account", "label_charge_account");
          show("#Period", "label_budget_period");
          show_buttons(false);
      }
      return false;
    });

    // when #report_btn is clicked
    $("#report_btn").click(function() {
      get_report_or_csv(false);
      return false;
    });

    // when #csv_btn is clicked
    $("#csv_btn").click(function() {
      get_report_or_csv(true);
      return false;
    });
    
    function get_report_or_csv(_csv) {
      var nam = '';
      var ext = '.pdf';
      var pag = '_blank';
      var report = $('#Report :selected').index();
      if (report == "")
        return;
      var detailed = $('#detailed').prop('checked');
      var from = $('#From').val();
      var to = $('#To').val();
      if (((from == "") || (to == "")) && report <= 4)
        return;
      // CSV or PDF
      if (_csv == true) {
        ext = ".csv";
        pag = '_self';
      }
      switch (report) {
        case 1:
          // Project
          var project = $('#Project').val();
          var order = $('#Order').val();
          var account = $('#Account').val();
          var group = $('#Group').val();
          var budget = $('#Budget').val();
          nam = "project_report" + ext;
          window.open(nam + "?detailed=" + detailed + "&project=" + project + "&from=" + from + "&to=" + to + "&order=" + order + "&account=" + account + "&group=" + group + "&budget=" + budget, pag);
          break;
        case 2:
          // Budget
          var project = $('#Project').val();
          var account = $('#Account').val();
          var group = $('#Group').val();
          var budget = $('#Budget').val();
          var period = $('select#Period :selected').val();
          // if ((project == "") && (account == "") && (period == ""))
          return;
          nam = "budget_report" + ext;
          window.open(nam + "?detailed=" + detailed + "&project=" + project + "&from=" + from + "&to=" + to + "&account=" + account + "&group=" + group + "&budget=" + budget + "&period=" + period, pag);
          break;
        case 3:
          // Work order
          var project = $('#Project').val();
          var order = $('#Order').val();
          var account = $('#Account').val();
          var group = $('#Group').val();
          var budget = $('#Budget').val();
          nam = "work_report" + ext;
          window.open(nam + "?detailed=" + detailed + "&project=" + project + "&order=" + order + "&account=" + account + "&group=" + group + "&budget=" + budget + "&from=" + from + "&to=" + to , pag);
          break;
        case 4:
          // charge_account_track_report
          var project = $('#Project').val();
          var order = $('#Order').val();
          var account = $('#Account').val();
          var group = $('#Group').val();
          var budget = $('#Budget').val();
          if (detailed == "") {
            nam = "charge_account_track_report" + ext;
          } else {
            nam = "charge_account_track_detailed_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&project=" + project + "&order=" + order + "&account=" + account + "&group=" + group + "&budget=" + budget + "&from=" + from + "&to=" + to , pag);
          break;
      }
    }
    
    function hide(_select, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').hide();
      $(_select).removeClass('sel2');
      $(_select).select2('destroy');
      $(_select).hide();      
    }
    
    function show(_select, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').show();
      $(_select).addClass('sel2');
      $(_select).show();
      switch (_select) {
        case '#Project':
          projectsSelect2("<%= @project %>");
          break;
        case '#Order':
          wordersSelect2("<%= @work_order %>");
          break;
        case '#Account':
          caccountsSelect2("<%= @charge_account %>");
          break;
        default:
          $(_select).select2({
            formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
            containerCssClass: 'left-winged',
            allowClear: true
          });
      }
    }
    
    function hide_date(_date, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').hide();
      $(_date).removeClass('date_picker');
      $(_date).hide();      
    }
    
    function show_date(_date, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').show();
      $(_date).addClass('date_picker');
      $(_date).show();
    }
  });
</script>

<%= render '/layouts/ag2_tech/trackbreadcrumb' %>

<div class="row">
  <div class="span12">
    <h3 class="track-h3"><%= t "control_tracking.track" %></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="track-description">
      <h4><%= t("control_tracking.task", var: "ag2Tech") %></h4>
      <br />
      <p>
        <%= t("control_tracking.description", var: "ag2Tech") %>
      </p>
      <p class="bolded">
        <%= t 'control_tracking.how_go_back_h' %>
        <%= t 'control_tracking.how_go_back_f' %>
      </p>
      <p class="track-caution">
        <%= t 'control_tracking.caution' %>
      </p>
    </div>
  </div>
  <div class="span5 track-box">
    <div align="center">
      <%= form_tag "ag2_tech_track", :method => 'get' do %>
      <!-- Report -->
      <%= label_tag t(".label_report"), nil, :class => 'form-label' %>
      <%= select_tag "Report", options_for_select(@reports), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Project -->
      <%= label_tag "label_project", t(".label_project"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Project", params[:Project], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Work order -->
      <%= label_tag "label_work_order", t(".label_work_order"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Order", params[:Order], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Budget heading -->
      <%= label_tag "label_budget_heading", t(".label_budget_heading"), :class => 'form-label-under-sel2' %>
      <%= select_tag "Budget", options_from_collection_for_select(@budget_heading, "id", "full_name"), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Charge Group -->
      <%= label_tag "label_charge_group", t(".label_charge_group"), :class => 'form-label-under-sel2' %>
      <%= select_tag "Group", options_from_collection_for_select(@charge_group, "id", "full_name"), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Charge account -->
      <%= label_tag "label_charge_account", t(".label_charge_account"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Account", params[:Account], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Dates -->
      <%= label_tag "label_from", t("control_tracking.label_from"), :class => 'form-label-under-sel2' %>
      <%= text_field_tag "From", params[:date], :class =>  'mid-text-field date_picker centered' %>
      <%= label_tag "label_to", t("control_tracking.label_to"), :class => 'form-label' %>
      <%= text_field_tag "To", params[:date], :class =>  'mid-text-field date_picker centered' %>
      <!-- Budget period -->
      <!-- Last tag into <p></p> tags for spacing -->
      <p>
        <%= label_tag "label_budget_period", t(".label_budget_period"), :class => 'form-label' %>
        <%= select_tag "Period", options_from_collection_for_select(@periods, "id", "full_name"), :prompt => "", :class => 'x-large-text-field sel2' %>
      </p>
      <!-- Detailed? -->
      <%= label_tag 'label_detailed', :class => 'checkbox inline' do %>
        <%= t("control_tracking.detailed") %>
        <%= check_box_tag 'detailed', nil, nil %>
      <% end %>
      <!-- Buttons -->
      <p>
        <a href="#" id="report_btn" class="btn btn-primary form-button-under-sel2"><%= t '.report_btn' %></a>
        <a href="#" id="csv_btn" class="btn btn-success form-button-under-sel2"><%= t '.csv_btn' %></a>
      </p>
      <!-- Links -->
      <%= link_to t(".back_to_root"), ag2_tech.root_path %>
      <% end %>
    </div>
  </div>
</div>
