<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; }
    });
    // Initialize form variable
    _thisForm = $("#worker_salary_item_amount").closest('form')[0];
  });

  jQuery(function($) {
    // when the #worker_salary_item_amount field changes
    $("#worker_salary_item_amount").change(function() {
      var amount = $('#worker_salary_item_amount').val();
      if (amount == "")
        amount = "0";
      // Right formatted for passing as REST parameter
      amount = parseInt(right_number(amount, 4) * 10000);
      jQuery.getJSON('wsi_update_amount/' + amount, function(data) {
        $('#worker_salary_item_amount').val(data.amount);
      });
      return false;
    });
    
    // when submit    
    $(_thisForm).on('submit', function() {
      // Must change decimal separator, if comma, in numeric fields
      var amount = $('#worker_salary_item_amount').val().replace(",", ".");
      $('#worker_salary_item_amount').val(amount);
    });
  });  
</script>

<%= simple_form_for @worker_salary_item, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<% if @worker_salary %>
<%= f.association :worker_salary, autofocus: true, collection: WorkerSalary.where("id = ?", "#{@worker_salary.id}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :worker_salary, autofocus: true, collection: WorkerSalary.order('year desc, id').all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two"> <%= f.association :salary_concept, collection: SalaryConcept.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :amount, as: :string, input_html: { value: (number_with_precision(f.object.amount, precision: 4) if f.object.amount), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
