<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    });
    // Initialize form variable
    _thisForm = $("#tax_type_expiration").closest('form')[0];
  });

  jQuery(function($) {
    // when #expire_btn is clicked
    $("#expire_btn").click(function() {
      jQuery.getJSON('expire', function(data) {
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_admin.tax_types.expire_error") %>');          
        } else {
          var d = new Date();
          var month = d.getMonth()+1;
          var day = d.getDate();
          var year = d.getFullYear();
          var expiration = day + "/" + month + "/" + year;
          $("#tax_type_expiration").val(expiration);
          alert('<%= I18n.t("ag2_admin.tax_types.expire_success") %>' + data.code);
          $("#edit_tax_type").submit();          
        }
      })
      return false;
    });

    // when the #tax_type_tax field changes
    $("#tax_type_tax").change(function() {
      var total = $('#tax_type_tax').val();
      if (total == "")
        total = "0";
      // Right formatted for passing as REST parameter
      total = parseInt(right_number(total, 2) * 100);
      jQuery.getJSON('tt_update_tax/' + total, function(data) {
        $('#tax_type_tax').val(data.total);
      });
      return false;
    });
    
    // when submit    
    $(_thisForm).on('submit', function() {
      // Must change decimal separator, if comma, in numeric fields
      var total = $('#tax_type_tax').val().replace(",", ".");
      $('#tax_type_tax').val(total);
    });
  });
</script>

<%= simple_form_for @tax_type, :html => {:class => 'form-vertical well', id: :edit_tax_type } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :description, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
<div>
  <label class="multi-field-label-two"> <%= f.input :tax, as: :string, input_html: { value: (number_with_precision(f.object.tax, precision: 2) if f.object.tax), class: 'small-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :expiration, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.expiration.strftime("%d/%m/%Y") if f.object.expiration), :class => 'mid-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged"> <%= f.button :submit, :class => 'btn-primary' %> </td>
      <% if @breadcrumb == 'update' %>
      <td class="form-td-two right-winged"><a href="#" id="expire_btn" class="btn btn-warning"><%=t 'ag2_admin.tax_types.expire_btn' %></a></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
