<%= render '/layouts/ag2_admin/taxtypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @tax_type.id %></td>
      <td><%=t 'activerecord.attributes.tax_type.description' %>:</td>
      <td><%= @tax_type.description %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.tax_type.tax' %>:</td>
      <td><%= number_to_percentage(@tax_type.tax, precision: 2, locale: :es) unless @tax_type.tax.blank? %></td>
      <td><%=t 'activerecord.attributes.tax_type.expiration' %>:</td>
        <td><%= @tax_type.expiration.strftime("%d/%m/%Y") unless @tax_type.expiration.nil? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @tax_type } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @tax_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: TaxType, update_path: edit_tax_type_path(@tax_type), update_txt: t('.btn_edit'),
delete_path: @tax_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.tax_type.one"), :txt => @tax_type.description,
new_path: new_tax_type_path, new_txt: t('ag2_admin.tax_types.index.btn_new') } %>

<%= link_to I18n.t('ag2_admin.tax_types.back_to_main_page'), tax_types_path %>
