<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h4><%= @from %> <%= t :notification %></h4>
    <h3><%= t 'activerecord.models.purchase_order.one' %> <%= t 'activerecord.attributes.purchase_order.order_no_report' %>: <%= @purchase_order.full_no %></h3>
    <div>
      <%= t 'activerecord.attributes.purchase_order.order_date' %>: <%= formatted_date(@purchase_order.order_date) unless @purchase_order.order_date.blank? %>
      <br />
      <%= t 'activerecord.attributes.purchase_order.order_status' %>: <%= @purchase_order.order_status.name %>
      <br />
      <%= t 'activerecord.attributes.purchase_order.supplier' %>: <%= @purchase_order.supplier.full_name %>
      <br />
      <%= t 'activerecord.attributes.purchase_order.offer' %>: <%= @purchase_order.offer.offer_no unless @purchase_order.offer.blank? %>
      <br />
      <%= t 'activerecord.attributes.purchase_order.project' %>: <%= @purchase_order.project.full_name unless @purchase_order.project.blank? %>
      <br />
      <%= t 'activerecord.attributes.purchase_order.work_order' %>: <%= @purchase_order.work_order.full_name unless @purchase_order.work_order.blank? %>
      <br />
      <%= t 'activerecord.attributes.purchase_order.payment_method' %>: <%= @purchase_order.payment_method.description unless @purchase_order.payment_method.blank? %>
      <br />
      <h4 style="color: #a67326;"><%= t 'activerecord.attributes.purchase_order.total' %>: <%= number_with_precision(@purchase_order.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless @purchase_order.total.blank? %></h4>
      <p>
        <%= t :created_at %> <%= formatted_timestamp(@purchase_order.created_at.utc.getlocal) %> <%= t :by %> <%= User.find(@purchase_order.created_by).email unless @purchase_order.created_by.blank? %>
        <br />
        <%= t :updated_at %> <%= formatted_timestamp(@purchase_order.updated_at.utc.getlocal) %> <%= t :by %> <%= User.find(@purchase_order.updated_by).email unless @purchase_order.updated_by.blank? %>
        <% if !@approved_at.blank? %>
        <br />
        <%= t :approved_at %> <%= formatted_timestamp(@approved_at) %> <%= t :by %> <%= User.find(@purchase_order.approver_id).email unless @purchase_order.approver_id.blank? %>
        <% end %>
      </p>
      <p>
        <a href="<%= ag2_purchase.purchase_order_url(:id => @purchase_order.id, :host => @current_host) %>"><%= t '.htmllink' %></a>
      </p>
      <br />
      <p>
        <%= t 'notifier.do_not_reply' %>
      </p>
    </div>
  </body>
</html>
