<%= render '/layouts/ag2_products/typesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @product_type.id %></td>
      <td><%=t 'activerecord.attributes.product_type.description' %>:</td>
      <td><%= @product_type.description %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @product_type } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @product_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_new', locals:
{ model: ProductType, update_path: edit_product_type_path(@product_type), update_txt: t('.btn_edit'),
new_path: new_product_type_path, new_txt: t('ag2_products.product_types.index.btn_new') } %>

<% if (@products.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/productsheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_products.product_types.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_products/products', :locals => { :products => @products } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @products } %>
<% end %>

<%= link_to t("ag2_products.product_types.back_to_main_page"), product_types_path %>
