<% content_for :title, "aGestiona2 | ag2AccountingGroups" %>
<% content_for :icon, "/assets/icon/ag2AccountingGroups.png" %>
<% content_for :alt, "ag2AccountingGroups" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_admin.root_path %>">ag2Admin</a><span class="divider">></span>
  </li>
  <% if @accounting_groups %>
  <li>
    <%=t "ag2_admin.breadcrumb.accounting_groups.items" %>
  </li>
  <% end %>
  <% if @accounting_group %>
  <li>
    <a href="<%= accounting_groups_path %>"><%=t "ag2_admin.breadcrumb.accounting_groups.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_admin.breadcrumb.accounting_groups.item"%>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_admin.root_path %>">&#215;</a>
</ul>
