<% content_for :title, "aGestiona2 | ag2Areas" %>
<% content_for :icon, "/assets/icon/ag2Areas.png" %>
<% content_for :alt, "ag2Areas" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_admin.root_path %>">ag2Admin</a><span class="divider">></span>
  </li>
  <% if @areas %>
  <li>
    ag2Areas
  </li>
  <% end %>
  <% if @area %>
  <li>
    <a href="<%= areas_path %>">ag2Areas</a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_admin.breadcrumb.areas.item"%>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_admin.root_path %>">&#215;</a>
</ul>
