<% content_for :title, "aGestiona2 | ag2BankOffices" %>
<% content_for :icon, "/assets/icon/ag2BankOffices.png" %>
<% content_for :alt, "ag2BankOffices" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_admin.root_path %>">ag2Admin</a><span class="divider">></span>
  </li>
  <% if @bank_offices %>
  <li>
    <%=t "ag2_admin.breadcrumb.bank_offices.items" %>
  </li>
  <% end %>
  <% if @bank_office %>
  <li>
    <a href="<%= bank_offices_path %>"><%=t "ag2_admin.breadcrumb.bank_offices.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_admin.breadcrumb.bank_offices.item"%>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_admin.root_path %>">&#215;</a>
</ul>
