<% content_for :title, "aGestiona2 | ag2Offices" %>
<% content_for :icon, "/assets/icon/ag2Offices.png" %>
<% content_for :alt, "ag2Offices" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_admin.root_path %>">ag2Admin</a><span class="divider">></span>
  </li>
  <% if @offices %>
  <li>
    ag2Offices
  </li>
  <% end %>
  <% if @office %>
  <li>
    <a href="<%= offices_path %>">ag2Offices</a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%= @office.name %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    New
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_admin.root_path %>">&#215;</a>
</ul>
