<% content_for :title, "aGestiona2 | ag2Towns" %>
<% content_for :icon, "/assets/icon/ag2Towns.png" %>
<% content_for :alt, "ag2Towns" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_admin.root_path %>">ag2Admin</a><span class="divider">></span>
  </li>
  <% if @towns %>
  <li>
    ag2Towns
  </li>
  <% end %>
  <% if @town %>
  <li>
    <a href="<%= towns_path %>">ag2Towns</a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%= @town.name %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    New
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_admin.root_path %>">&#215;</a>
</ul>
