<%= render '/layouts/ag2_gest/contracttemplatetermsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @contract_template_term %> |
<%= link_to t('.back'), contract_template_terms_path %>