<script>
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#Type").closest('form')[0];
  }); 

  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#No").val("<%= params[:No] %>");
    $("#Type").val("<%= params[:Type] %>");
    $("#Family").select2("val", "<%= params[:Family] %>");
    $("#Measure").val("<%= params[:Measure] %>");
    $("#Manufacturer").val("<%= params[:Manufacturer] %>");
    $("#Tax").val("<%= params[:Tax] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Type").val("");
      $("#Family").select2("val", "");
      $("#Measure").val("");
      $("#Manufacturer").val("");
      $("#Tax").val("");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
  });
</script>

<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>
<% session[:return_to_prod] = nil %>
<% session[:return_to_prod_url] = nil %>
<%= render '/layouts/ag2_products/productsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_products.products_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "products", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.product.product_code"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Type -->
        <%= label_tag I18n.t("ag2_products.products.index.label_type"), nil, :class => 'form-label' %>
        <%= select_tag "Type", options_from_collection_for_select(ProductType.order('description').all, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Family -->
        <%= label_tag I18n.t("ag2_products.products.index.label_family"), nil, :class => 'form-label' %>
        <%= select_tag "Family", options_from_collection_for_select(@product_families, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Measure -->
        <%= label_tag I18n.t("ag2_products.products.index.label_measure"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Measure", options_from_collection_for_select(Measure.order('description').all, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Manufacturer -->
        <%= label_tag I18n.t("ag2_products.products.index.label_manufacturer"), nil, :class => 'form-label' %>
        <%= select_tag "Manufacturer", options_from_collection_for_select(Manufacturer.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Tax -->
        <%= label_tag I18n.t("ag2_products.products.index.label_tax"), nil, :class => 'form-label' %>
        <%= select_tag "Tax", options_from_collection_for_select(TaxType.where('expiration IS NULL').order('description'), "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.products.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Product, :path => new_product_path, :txt => t(".btn_new") } %>
        <%= link_to I18n.t("ag2_products.products.index.back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'products' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

