<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>
<% session[:return_to_prod] = nil %>
<% session[:return_to_prod_url] = nil %>
<%= render '/layouts/ag2_products/productsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "products", :method => 'get' do %>
        <!-- Type -->
        <%= label_tag I18n.t("ag2_products.products.index.label_type"), nil, :class => 'form-label' %>
        <%= select_tag "Type", options_from_collection_for_select(ProductType.order('description').all, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Family -->
        <%= label_tag I18n.t("ag2_products.products.index.label_family"), nil, :class => 'form-label' %>
        <%= select_tag "Family", options_from_collection_for_select(ProductFamily.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Measure -->
        <%= label_tag I18n.t("ag2_products.products.index.label_measure"), nil, :class => 'form-label' %>
        <%= select_tag "Measure", options_from_collection_for_select(Measure.order('description').all, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Manufacturer -->
        <%= label_tag I18n.t("ag2_products.products.index.label_manufacturer"), nil, :class => 'form-label' %>
        <%= select_tag "Manufacturer", options_from_collection_for_select(Manufacturer.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Tax -->
        <%= label_tag I18n.t("ag2_products.products.index.label_tax"), nil, :class => 'form-label' %>
        <%= select_tag "Tax", options_from_collection_for_select(TaxType.order('description').all, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.products.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t("ag2_products.products.index.btn_apply"), :class => 'btn btn-primary' %>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Product, :path => new_product_path, :txt => t(".btn_new") } %>
        <%= link_to I18n.t("ag2_products.products.index.back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <%= render :partial => '/layouts/lettershead', :locals => { :controller => "products", :action => "index" } %>
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th><%= t :"activerecord.attributes.product.product_code" %></th>
            <th><%= t :"activerecord.attributes.product.main_description" %></th>
            <th><%= t :"activerecord.attributes.product.product_type" %></th>
            <th><%= t :"activerecord.attributes.product.product_family" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @products.each do |product| %>
          <tr>
            <td><%= link_to product.product_code, product %></td>
            <td><%= product.main_description %></td>
            <td><%= product.product_type.description %></td>
            <td><%= product.product_family.name %></td>
            <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Product, :path => edit_product_path(product) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => Product, :path => product, :msg => t("activerecord.models.product.one"), :txt => product.product_code } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @products } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

