<%= render '/layouts/ag2_products/productsbreadcrumb' %>

<table class="header-with-image">
  <tr>
    <td class="header-title">
      <h3><%= t '.title' %></h3>
    </td>
    <td class="header-image">
      <% if !@product.image.blank? %>
      <% if session[:resolution] == "LD" %>
      <%= image_tag @product.image.url(:small) %> <!-- small image size -->
      <% elsif session[:resolution] == "SD" %>
      <%= image_tag @product.image.url(:medium) %> <!-- medium image size -->
      <% else %>
      <%= image_tag @product.image.url %> <!-- big image size -->
      <% end %>
      <% end %>
    </td>
  </tr>
</table>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @product.id %></td>
      <td><%= t 'activerecord.attributes.product.product_code' %>:</td>
      <td><b><%= @product.full_code %></b></td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.product.main_description' %>:</td>
      <td><%= @product.main_description %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.product.aux_description' %>:</td>
      <td><%= @product.aux_description unless @product.aux_description.blank? %></td>
      <td><%= t 'activerecord.attributes.product.active' %>:</td>
      <td> <% if @product.active %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.product.product_family' %>:</td>
      <td><%= @product.product_family.name %></td>
      <td><%= t 'activerecord.attributes.product.product_type' %>:</td>
      <td><%= @product.product_type.description %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.product.measure' %>:</td>
      <td><%= @product.measure.description %></td>
      <td><%= t 'activerecord.attributes.product.manufacturer' %>:</td>
      <td><%= @product.manufacturer.name %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @product } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @product } %>
  </tbody>
</table>

<h4><%= t 'ag2_products.products.commercial_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t 'activerecord.attributes.product.manufacturer_p_code' %>:</td>
      <td><%= @product.manufacturer_p_code unless @product.manufacturer_p_code.blank? %></td>
      <td><%= t 'activerecord.attributes.product.aux_code' %>:</td>
      <td><%= @product.aux_code unless @product.aux_code.blank? %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.product.tax_type' %>:</td>
      <td><%= @product.tax_type.description %> (<%= number_to_percentage(@product.tax_type.tax, precision: 2, locale: :es) unless @product.tax_type.tax.blank? %>)</td>
      <td><%= t :"activerecord.attributes.product.reference_price" %>:</td>
      <td><%= number_with_precision(@product.reference_price, precision: 4) unless @product.reference_price.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.product.last_price" %>:</td>
      <td><%= number_with_precision(@product.last_price, precision: 4) unless @product.last_price.blank? %></td>
      <td><%= t :"activerecord.attributes.product.average_price" %>:</td>
      <td><%= number_with_precision(@product.average_price, precision: 4) unless @product.average_price.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.product.markup" %>:</td>
      <td><%= number_with_precision(@product.markup, precision: 2) unless @product.markup.blank? %></td>
      <td><%= t :"activerecord.attributes.product.sell_price" %>:</td>
      <td><%= number_with_precision(@product.sell_price, precision: 4) unless @product.sell_price.blank? %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.product.warranty_time' %>:</td>
      <td><%= @product.warranty_time unless @product.warranty_time.blank? %></td>
      <td><%= t 'activerecord.attributes.product.life_time' %>:</td>
      <td><%= @product.life_time unless @product.life_time.blank? %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.product.remarks" %>:</td>
      <td style="width: 88%"><%= @product.remarks unless @product.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Product, update_path: edit_product_path(@product), update_txt: t('.btn_edit'),
delete_path: @product, delete_txt: t('.btn_delete'), msg: t("activerecord.models.product.one"), txt: @product.full_name,
new_path: new_product_path, new_txt: t('ag2_products.products.index.btn_new') } %>

<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%=t '.subtable_stocks_title' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= render partial: '/layouts/ag2_products/productstocks', locals: { product: @product } %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@stocks.count > 0) %>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/stocksheader' %>
  </thead>
  <tfoot>
    <%= render :partial => '/layouts/ag2_products/stocksfooter', :locals => { :product => @product } %>
  </tfoot>
  <tbody>
    <%= render :partial => '/layouts/ag2_products/stocks', :locals => { :stocks => @stocks } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @stocks } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @stocks } %>
<% end %>

<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%=t '.subtable_prices_title' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= render partial: '/layouts/ag2_products/productprices', locals: { product: @product } %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@prices.count > 0) %>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/pricesheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_products/prices', :locals => { :prices => @prices } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @prices } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @prices } %>
<% end %>

<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t('ag2_products.products.back_to_main_page'), products_path %>
