<style type="text/css">
  .select2-container{
    margin-bottom: 10px;
  }
  table{
    margin-bottom: 20px;
  }
  #row-old-subscriber{
    display: none;
  }
  .service-point-plus{
    margin-bottom: 10px;
    margin-left: 10px;
  }
</style>

<script type="text/javascript">
  var invalidIBAN = '<%= t("activerecord.errors.models.supplier_bank_account.iban_invalid") %>';
  var tryAgain = '<%= t("should_try_again") %>';
  var text_field_color;
  var old_value = '';
  var old_code = '';

  $(document).ready(function() {
    // Select2
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });

    $('select.custom-sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true,
      formatSelection: function(country){
        return '<span>' + country.text.split(' ')[0] + '</span>';
      },
    });

    // DatePicker
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });

    // Disable fields if Fiscal Id blank
    var contact = $('#contracting_request_entity_fiscal_id').val();
    if (contact == "")
      contact = "0";
    if (contact == "0") {
      // Empty fiscal id: Disable
      $('.entity-field').prop('readonly', true);
      $('.client-field').prop('readonly', true);
      $('.subscriber-field').prop('readonly', true);
      $('#generate_code_btn').hide();
      $('#submit_btn').hide();
    } else {
      // Fiscal Id OK: Enable
      $('.entity-field').prop('readonly', false);
      $('.client-field').prop('readonly', false);
      $('.subscriber-field').prop('readonly', false);
      $('#generate_code_btn').show();
      $('#submit_btn').show();
    }

    // Save default text color
    text_field_color = $("#contracting_request_request_no").css('color')

    // show button submit subrogation
    $("#contracting_request_subscriber_id").change(function() {
      if($("#contracting_request_subscriber_id").val() != "" && $("#subrogation_entity_fiscal_id").val() != ""){
        $('#subrogation_submit_btn').show();
      }else{
        $('#subrogation_submit_btn').hide();
      }
    });

    // Icon inside text field: Validate Fiscal Id
    $('input.iconify').wrap('<span class="validateicon" title="<%=t('validate') %>" />').after($('<span/>').click(function() {
      // make a POST call and replace the content
      // if($('.contracting_request_type_id').select2("val") == "<%= ContractingRequestType::SUBROGATION %>"){
      //   var entity = $('#subrogation_entity_fiscal_id').val();
      // }else{
        var entity = $('#contracting_request_entity_fiscal_id').val();
      // }
      if (entity == "")
        entity = "0";
      jQuery.getJSON('validate_fiscal_id_textfield/' + entity, function(data) {
        if (data.fiscal_id == "$err") {
          // if($('.contracting_request_type_id').select2("val") == "<%= ContractingRequestType::SUBROGATION %>"){
          //   $("#subrogation_entity_fiscal_id").css('color', 'red');
          //   // Quick entity creation
          //   if ($('#subrogation_entity_fiscal_id').val() == "")
          //     $("#subrogation_entity_fiscal_id").val(data.fiscal_id);
          //   if ($('#subrogation_entity_fiscal_id').val() != "$err") {
          //     $('#fnt_fiscal_id').val($('#subrogation_entity_fiscal_id').val());
          //   } else {
          //     $('#fnt_fiscal_id').val('');
          //   }
          //   $("#new-entity").modal('show');
          //   $('#new-entity').on('hidden', function() {
          //     $('#subrogation_entity_fiscal_id').select();
          //   });
          // }else{
            $("#contracting_request_entity_fiscal_id").css('color', 'red');
            // Quick entity creation
            if ($('#contracting_request_entity_fiscal_id').val() == "")
              $("#contracting_request_entity_fiscal_id").val(data.fiscal_id);
            if ($('#contracting_request_entity_fiscal_id').val() != "$err") {
              $('#fnt_fiscal_id').val($('#contracting_request_entity_fiscal_id').val());
            } else {
              $('#fnt_fiscal_id').val('');
            }
            $("#new-entity").modal('show');
            $('#new-entity').on('hidden', function() {
              $('#contracting_request_entity_fiscal_id').select();
            });
          // }
        }
        else {
          if (data.client_debt != '0'){
            //alert('<%= I18n.t("ag2_gest.contracting_requests.debt_error")%>' + data.client_debt);
            alert('<%= I18n.t("ag2_gest.contracting_requests.debt_error")%>' + data.client_debt + '\n' + data.project_debt);
          };
          cr_type = $('.contracting_request_type_id').select2("val")

          // Enable fields
          if(cr_type == "<%= ContractingRequestType::SUPPLY %>"){
            $('.client-field').attr('readonly', false);
            $('.center-field').attr('readonly', false);
            $("#contracting_request_subscriber_street_type_id").val(data.street_type_id);
            $("#contracting_request_subscriber_street_name").val(data.street_name);
            $("#s2id_contracting_request_subscriber_street_directory").select2("val", data.street_directory_id);
            // $("#contracting_request_service_point_id").select2("val", data.street_directory_id);
            $("#contracting_request_subscriber_street_number").val(data.street_number);
            $("#contracting_request_subscriber_building").val(data.building);
            $("#contracting_request_subscriber_floor").val(data.floor);
            $("#contracting_request_subscriber_floor_office").val(data.floor_office);
            $("#contracting_request_subscriber_zipcode_id").val(data.zipcode_id);
            $("#contracting_request_subscriber_town_id").val(data.town_id);
            $("#contracting_request_subscriber_province_id").val(data.province_id);
            $("#contracting_request_subscriber_region_id").val(data.region_id);
            $("#contracting_request_subscriber_country_id").val(data.country_id);
            $("#contracting_request_service_point_id").select2("val", data.service_point);
          }else if(cr_type != "<%= ContractingRequestType::CANCELLATION %>"){
            $('.client-field').attr('readonly', false);
          }else{
            // Disable fields
            $(".entity-field").attr('readonly', true);
            $(".client-field").attr('readonly', true);
            $('.center-field').attr('readonly', true);
            $(".subscriber-field").attr('readonly', true);
          };

          // if($('.contracting_request_type_id').select2("val") == "<%= ContractingRequestType::SUBROGATION %>"){
          //   $("#subrogation-form input, #subrogation-form select").prop("disabled", false);
          //   $(".subrogation_full_name").prop("disabled", true);
          //   $("#subrogation_entity_id").val(data.id);
          //   $(".subrogation_full_name").val(data.name);
          //   $("#subrogation_entity_fiscal_id").css('color', text_field_color);
          //   $("#subrogation_client_street_type_id").val(data.street_type_id);
          //   $("#subrogation_client_street_name").val(data.street_name);
          //   $("#subrogation_client_street_number").val(data.street_number);
          //   $("#subrogation_client_building").val(data.building);
          //   $("#subrogation_client_floor").val(data.floor);
          //   $("#subrogation_client_floor_office").val(data.floor_office);
          //   $("#subrogation_client_zipcode_id").val(data.zipcode_id);
          //   $("#subrogation_client_town_id").val(data.town_id);
          //   $("#subrogation_client_province_id").val(data.province_id);
          //   $("#subrogation_client_zipcode_id").select2("val", data.zipcode_id);
          //   $("#subrogation_client_town_id").select2("val", data.town_id);
          //   $("#subrogation_client_province_id").select2("val", data.province_id);
          //   $("#subrogation_client_region_id").select2("val", data.region_id);
          //   $("#subrogation_client_country_id").select2("val", data.country_id);
          //   $("#subrogation_client_phone").val(data.phone);
          //   $("#subrogation_client_fax").val(data.fax);
          //   $("#subrogation_client_cellular").val(data.cellular);
          //   $("#subrogation_client_email").val(data.email);
          //   if($("#contracting_request_subscriber_id").val() != ""){
          //     $('#subrogation_submit_btn').show();
          //   }
          // }else{
            // Fill with Entity data
            $("#contracting_request_entity_fiscal_id").val(data.fiscal_id);
            $("#contracting_request_entity_id").val(data.id);
            $(".contracting_request_full_name").val(data.name);
            $("#contracting_request_entity_street_directory_id").val($("#street_directory").val());
            $("#contracting_request_entity_street_type_id").val(data.street_type_id);
            $("#contracting_request_entity_street_name").val(data.street_name);
            $("#contracting_request_entity_street_number").val(data.street_number);
            $("#contracting_request_entity_building").val(data.building);
            $("#contracting_request_entity_floor").val(data.floor);
            $("#contracting_request_entity_floor_office").val(data.floor_office);
            $("#contracting_request_entity_zipcode_id").val(data.zipcode_id);
            $("#contracting_request_entity_town_id").val(data.town_id);
            $("#contracting_request_entity_province_id").val(data.province_id);
            $("#contracting_request_entity_region_id").val(data.region_id);
            $("#contracting_request_entity_country_id").val(data.country_id);
            $("#contracting_request_client_street_type_id").val(data.street_type_id);
            $("#contracting_request_client_street_name").val(data.street_name);
            $("#contracting_request_client_street_directory").select2("val", data.street_directory_id);
            $("#contracting_request_client_street_number").val(data.street_number);
            $("#contracting_request_client_building").val(data.building);
            $("#contracting_request_client_floor").val(data.floor);
            $("#contracting_request_client_floor_office").val(data.floor_office);
            $("#contracting_request_client_zipcode_id").val(data.zipcode_id);
            $("#contracting_request_client_town_id").val(data.town_id);
            $("#contracting_request_client_province_id").val(data.province_id);
            $("#contracting_request_client_region_id").val(data.region_id);
            $("#contracting_request_client_country_id").val(data.country_id);
            $("#contracting_request_client_phone").val(data.phone);
            $("#contracting_request_client_fax").val(data.fax);
            $("#contracting_request_client_cellular").val(data.cellular);
            $("#contracting_request_client_email").val(data.email);

            $('#generate_code_btn').show();
            $('#submit_btn').show();
            // Default color & focus
            $("#contracting_request_entity_fiscal_id").css('color', text_field_color);
          //}
        }
      })
      return false;
    }));

    // Icon inside text field: Validate R Fiscal Id
    $('input.r_iconify').wrap('<span class="validateicon" title="<%=t('validate') %>" />').after($('<span/>').click(function() {
      // make a POST call and replace the content
      var entity = $('#contracting_request_r_fiscal_id').val();
      if (entity == "")
        entity = "0";
      jQuery.getJSON('validate_r_fiscal_id_textfield/' + entity, function(data) {
        if (data.r_fiscal_id == "$err") {
          $("#contracting_request_r_fiscal_id").css('color', 'red');
          // Quick entity creation
          if ($('#contracting_request_r_fiscal_id').val() == "")
            $("#contracting_request_r_fiscal_id").val(data.r_fiscal_id);
          if ($('#contracting_request_r_fiscal_id').val() != "$err") {
            $('#fnt_fiscal_id').val($('#contracting_request_r_fiscal_id').val());
          } else {
            $('#fnt_fiscal_id').val('');
          }
          $("#new-entity").modal('show');
          $('#new-entity').on('hidden', function() {
            $('#contracting_request_r_fiscal_id').select();
          });
        }
        else {
          // Fill with Entity data
          $("#contracting_request_r_fiscal_id").val(data.r_fiscal_id);
          $("#contracting_request_r_first_name").val(data.r_first_name);
          $("#contracting_request_r_last_name").val(data.r_last_name);
          // Default color & focus
          $("#contracting_request_r_fiscal_id").css('color', text_field_color);
        }
      })
      return false;
    }));

    // Icon inside text field: Generate No
    $('input.geniconify').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      $('#generate_code_btn').trigger("click");
      return false;
    }));

    // Disable generate_code_btn if contracting_request_project_id blank
    var contract = $('#contracting_request_project_id').val();
    if (contract == "")
      contract = "$";
    if (contract == "$") {
      // Empty organization: Hide
      $('#generate_code_btn').hide();
    } else {
      // Organization OK: Show (if not updating)
      old_value = $('#contracting_request_project_id').val();
      old_no = $('#contracting_request_request_no').val();
      if ('<%= @breadcrumb %>' == "update") {
        $('#generate_code_btn').hide();
      } else {
        $('#generate_code_btn').show();
      }
    }

    // Can't change code if editing
    if ('<%= @breadcrumb %>' == "update") {
      $('#contracting_request_request_no').prop('readonly', true);
      $('#contracting_request_request_date').attr('disabled', true);
      $('#contracting_request_contracting_request_type_id').prop('readonly', true);
      $('#contracting_request_project_id').prop('readonly', true);
    } else {
      $('#contracting_request_request_no').prop('readonly', false);
      $('#contracting_request_request_date').attr('disabled', false);
      $('#contracting_request_contracting_request_type_id').prop('readonly', false);
      $('#contracting_request_project_id').prop('readonly', false);
    }
  });

  jQuery(function($) {
    // when the #contracting_request_service_point_id field changes
    $("#contracting_request_service_point_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#contracting_request_service_point_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_subscriber_from_service_point/' + contact, function(data) {
        $("#contracting_request_subscriber_street_type_id").val(data.street_type_id);
        $("#contracting_request_subscriber_street_directory").select2("val",data.street_directory_id);
        $("#contracting_request_subscriber_street_number").val(data.street_number);
        $("#contracting_request_subscriber_building").val(data.building);
        $("#contracting_request_subscriber_floor").val(data.floor);
        $("#contracting_request_subscriber_floor_office").val(data.floor_office);
        $("#contracting_request_subscriber_zipcode_id").val(data.zipcode_id);
        $("#contracting_request_subscriber_town_id").val(data.town_id);
        $("#contracting_request_subscriber_province_id").val(data.province_id);
        $("#contracting_request_subscriber_region_id").val(data.region_id);
        $("#contracting_request_subscriber_country_id").val(data.country_id);
        $("#contracting_request_subscriber_center_id").val(data.center_id);
      });
      return false;
    });

    // when the #contracting_request_bank_id field changes
    $("#contracting_request_bank_id").change(function() {
      // make a POST call and replace the content
      var bank = $('select#contracting_request_bank_id :selected').val();
      if (bank == "")
        bank = "0";
      jQuery.getJSON('update_bank_offices_from_bank/' + bank, function(data) {
        var o = data.office;
        $("#contracting_request_bank_office_id").html("");
        $("#contracting_request_bank_office_id").select2("val", "");
        $("#contracting_request_bank_office_id").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'office' && option != "") {
              $("#contracting_request_bank_office_id").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#contracting_request_bank_office_id").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
      });
      return false;
    });

    // when the .contracting_request_type_id field changes
    $('.contracting_request_type_id').select2().on("change", function(e) {
      if($('.contracting_request_type_id').select2("val") != "<%= ContractingRequestType::SUPPLY %>"){
        $("#row-old-subscriber").show();
        $("#contracting_request_subscriber_id").attr("required", "required");
        if($('.contracting_request_type_id').select2("val") == "<%= ContractingRequestType::CANCELLATION %>"){
          $(".cancellation-field").prop('readonly', true);
          $("#contracting_request_service_point_id").attr('disabled', true);
          $("#service_point_hide").attr('disabled', false);
          $('.row-service-point').show();
          $('.row-subscriber').show();
          $('.row-bank-account').hide();
          $('.row-documents').show();
          $('.row-buttons').show();
          $('.row-client').show();
          $('.row-entity').show();
          $('.row-submit').show();
          $('.field-project').show();
          $('.field-date').show();
          $('.field-no').show();
          $('#subrogation-form').hide();
        }else{
          $(".cancellation-field").prop('readonly', false);
          $("#contracting_request_service_point_id").attr('disabled', false);
          $("#service_point_hide").attr('disabled', false);
          $('.row-service-point').show();
          $('.row-subscriber').show();
          $('.row-bank-account').show();
          $('.row-documents').show();
          $('.row-buttons').show();
          $('.row-client').show();
          $('.row-entity').show();
          $('.row-submit').show();
          $('.field-project').show();
          $('.field-date').show();
          $('.field-no').show();
          $('#subrogation-form').hide();
        }
      }else{
        $(".cancellation-field").prop('readonly', false);
        $("#contracting_request_service_point_id").attr('disabled', false);
        $("#service_point_hide").attr('disabled', true);
        $('.row-service-point').show();
        $('.row-subscriber').show();
        $('.row-bank-account').show();
        $('.row-documents').show();
        $('.row-buttons').show();
        $('.row-client').show();
        $('.row-entity').show();
        $('.row-submit').show();
        $('.field-project').show();
        $('.field-date').show();
        $('.field-no').show();
        $('#subrogation-form').hide();
        $("#row-old-subscriber").hide();
        $("#contracting_request_entity_fiscal_id").val("");
        $("#contracting_request_entity_fiscal_id").removeAttr("required", "required");
        $("#contracting_request_subscriber_id").select2("val", "");
        $("#contracting_request_subscriber_id").removeAttr("required", "required");
        $("#contracting_request_subscriber_street_type_id").val("");
        $("#contracting_request_subscriber_street_directory_id").select2("val","");
        $("#contracting_request_subscriber_street_name").val("");
        $("#contracting_request_subscriber_street_number").val("");
        $("#contracting_request_subscriber_building").val("");
        $("#contracting_request_subscriber_floor").val("");
        $("#contracting_request_subscriber_floor_office").val("");
        $("#contracting_request_subscriber_zipcode_id").val("");
        $("#contracting_request_subscriber_town_id").val("");
        $("#contracting_request_subscriber_province_id").val("");
        $("#contracting_request_subscriber_region_id").val("");
        $("#contracting_request_subscriber_country_id").val("");
        $("#contracting_request_subscriber_center_id").val("");
        $("#contracting_request_service_point_id").select2("val", "");
      };
    });

    // when the #client_town_id field changes
    $("#contracting_request_client_town_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#contracting_request_client_town_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + contact, function(data) {
        $("#contracting_request_client_province_id").val(data.province_id);
        $("#contracting_request_client_region_id").val(data.region_id);
        $("#contracting_request_client_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #old-subscriber field changes
    $("#old-subscriber").change(function() {
      // make a POST call and replace the content
      var subscriber = $('select#old-subscriber :selected').val();
      if (subscriber == ""){
        subscriber = "0";
        $('.contracting_request_type_id').prop('readonly', false);
      }else{
        // $('.contracting_request_type_id').prop('disabled', true);
      }
      // if($('.contracting_request_type_id').select2("val") == "<%= ContractingRequestType::SUBROGATION %>"){
      //   $("#subrogation_subscriber_id").val(subscriber)
      // } else {
        jQuery.getJSON('update_old_subscriber/' + subscriber, function(data) {
          if (data.subscribe_debt != '0'){
            alert('<%= I18n.t("ag2_gest.contracting_requests.sub_debt_error")%>' + data.subscriber_debt);
          };
          if($('.contracting_request_type_id').select2("val") == "<%= ContractingRequestType::CANCELLATION %>"){
            $('#contracting_request_entity_fiscal_id').val(data.subscriber.fiscal_id);
            $(".cancellation-field").attr('readonly', true);
            $('.button-service-point').hide();
            $(".entity-field").attr('readonly', true);
            $(".client-field").attr('readonly', true);
            $(".subscriber-field").attr('readonly', true);
          }else{
            $("#contracting_request_entity_fiscal_id").val("");
            $("#contracting_request_entity_fiscal_id").removeAttr("required", "required");
            $(".cancellation-field").attr('readonly', false);
            $('.button-service-point').show();
            $(".entity-field").attr('readonly', true);
            $(".client-field").attr('readonly', false);
            $(".subscriber-field").attr('readonly', true);
          }
          $("#contracting_request_subscriber_street_type_id").val(data.street_directory.street_type_id);
          $("#contracting_request_subscriber_street_directory").select2("val",data.street_directory.id);
          $("#contracting_request_subscriber_street_number").val(data.subscriber.street_number);
          $("#contracting_request_subscriber_building").val(data.subscriber.building);
          $("#contracting_request_subscriber_floor").val(data.subscriber.floor);
          $("#contracting_request_subscriber_floor_office").val(data.subscriber.floor_office);
          $("#contracting_request_subscriber_zipcode_id").val(data.subscriber.zipcode_id);
          $("#contracting_request_subscriber_town_id").val(data.town.id);
          $("#contracting_request_subscriber_province_id").val(data.province.id);
          $("#contracting_request_subscriber_region_id").val(data.region.id);
          $("#contracting_request_subscriber_country_id").val(data.country.id);
          $("#contracting_request_subscriber_center_id").val(data.subscriber.center_id);
          $("#service_point_hide").val(data.subscriber.service_point_id);
          $("#ServicePoint").val(data.ServicePoint);
          var w = data.service_point;
          if (data.code == "$err") {
            alert(data.alert);
            $('#ServicePoint').select();
          } else {
            $("#contracting_request_service_point_id").html("");
            $("#contracting_request_service_point_id").select2("val", "");
            $("#contracting_request_service_point_id").append($('<option></option>').val("").html(""));
            if (w != null){
              if (!w.length) {
                $.each(data, function(id, option) {
                  if (id == 'service_point' && option != "") {
                    $("#contracting_request_service_point_id").append($('<option></option>').val(option[0]).html(option[1]));
                  }
                });
              } else {
                $.each(w, function(id, option) {
                  $("#contracting_request_service_point_id").append($('<option></option>').val(option[0]).html(option[1]));
                });
              }
            }
          }
          $("#contracting_request_service_point_id").select2("val", data.subscriber.service_point_id);
        });
      //}
      return false;
    });


    // when the #contracting_request_project_id field changes
    $("#contracting_request_project_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#contracting_request_project_id :selected').val();
      if (order == "")
        order = "0";
      // Disable generate_code_btn if contracting_request_project_id blank
      if (order == "0") {
        // Empty organization:: Hide
        $('#generate_code_btn').hide();
      } else {
        // Organization OK: Show (if not updating)
        if ('<%= @breadcrumb == 'update' %>') {
          if (old_value == $('#contracting_request_project_id').val()) {
            $('#contracting_request_request_no').val(old_code);
            $("#contracting_request_request_no").css('color', text_field_color);
            $('#generate_code_btn').hide();
          } else {
            $('#generate_code_btn').show();
          }
        } else {
          $('#generate_code_btn').show();
        }
      }
      return false;
    });

    // when the #client_town_id field changes
    $("#contracting_request_client_town_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#contracting_request_client_town_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + contact, function(data) {
        $("#contracting_request_client_province_id").val(data.province_id);
        $("#contracting_request_client_region_id").val(data.region_id);
        $("#contracting_request_client_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #contracting_request_client_province_id field changes
    $('#contracting_request_client_province_id').change(function() {
    // $("#contracting_request_client_province_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#contracting_request_client_province_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_region_textfield_from_province/' + contact, function(data) {
        $("#contracting_request_client_region_id").val(data.region_id);
        $("#contracting_request_client_country_id").val(data.country_id);
      })
      return false;
    });

    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var project = $('#contracting_request_project_id').val();
      if (project == "")
        project = "$";
      jQuery.getJSON('cr_generate_no/' + project, function(data) {
        $("#contracting_request_request_no").val(data.code);
        if ($("#contracting_request_request_no").val() == "$err") {
          $("#contracting_request_request_no").css('color', 'red');
          alert('<%= I18n.t("ag2_gest.contracting_requests.code_error") %>');
        }
        else
          $("#contracting_request_request_no").css('color', text_field_color);
        $('#contracting_request_request_no').select();
      })
      return false;
    });

    // when #Subscriber changes
    $("#Subscriber").change(function() {
      // make a POST call and replace the content
      var m = $('#Subscriber').val();
      if (m == "")
        m = "$";
      jQuery.getJSON('cr_find_subscriber/' + m, function(data) {
        var w = data.subscriber;
        if (data.code == "$err") {
          alert(data.alert);
          $('#Subscriber').select();
        } else {
          $("#old-subscriber").html("");
          $("#old-subscriber").select2("val", "");
          $("#old-subscriber").append($('<option></option>').val("").html(""));
          if (!w.length) {
            $.each(data, function(id, option) {
              if (id == 'subscriber' && option != "") {
                $("#old-subscriber").append($('<option></option>').val(option[0]).html(option[1]));
              }
            });
          } else {
            $.each(w, function(id, option) {
              $("#old-subscriber").append($('<option></option>').val(option[0]).html(option[1]));
            });
          }
          $('#old-subscriber').select();
        }
      });
      return false;
    });

    // when #ServicePoint changes
    $("#ServicePoint").change(function() {
      // make a POST call and replace the content
      var m = $('#ServicePoint').val();
      if (m == "")
        m = "$";
      jQuery.getJSON('cr_find_service_point/' + m, function(data) {
        var w = data.service_point;
        if (data.code == "$err") {
          alert(data.alert);
          $('#ServicePoint').select();
        } else {
          $("#contracting_request_service_point_id").html("");
          $("#contracting_request_service_point_id").select2("val", "");
          $("#contracting_request_service_point_id").append($('<option></option>').val("").html(""));
          if (!w.length) {
            $.each(data, function(id, option) {
              if (id == 'service_point' && option != "") {
                $("#contracting_request_service_point_id").append($('<option></option>').val(option[0]).html(option[1]));
              }
            });
          } else {
            $.each(w, function(id, option) {
              $("#contracting_request_service_point_id").append($('<option></option>').val(option[0]).html(option[1]));
            });
          }
          $('#contracting_request_service_point_id').select();
        }
      });
      return false;
    });
    // when #check_iban_btn is clicked
    $(".check_iban_btn").click(function() {
      var country = $("#contracting_request_country_id").val();
      var dc = $("#contracting_request_iban_dc").val();
      var bank = $("#contracting_request_bank_id").val();
      var office = $("#contracting_request_bank_office_id").val();
      var account = $("#contracting_request_account_no").val();
      var isValidIBAN = validate_iban(invalidIBAN, tryAgain, country, dc, bank, office, account, 'cr_check_iban');
      return false;
    });
  });
</script>

<%= simple_form_for @contracting_request, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>

<!-- 1º ROW -->
<div class="row-fluid">

  <!-- PROJECT -->
  <label class="multi-field-label-four field-project">
    <%= f.association :project, collection: @projects, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <%# if !@projects.empty? %>
      <%#= f.association :project, collection: @projects.ser_or_tca_order_type, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <%# elsif session[:organization] != '0' %>
      <%#= f.association :project, collection: Project.where("organization_id = ?", "#{session[:organization]}").ser_or_tca_order_type, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <%# elsif current_user.projects.count > 0 %>
      <%#= f.association :project, collection: current_user.projects.ser_or_tca_order_type, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <%# else %>
      <%#= f.association :project, collection: Project.ser_or_tca_order_type, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <%# end %>
  </label>

  <!-- REQUEST_TYPE -->
  <label class="multi-field-label-four">
    <%= f.input :contracting_request_type_id, collection: ContractingRequestType.select{|c| c.id != ContractingRequestType::CONNECTION}, label_method: :description, value_method: :id, include_blank: true, :input_html => { :class => 'x-large-text-field contracting_request_type_id' }, :label_html => { :class => 'form-label' }, label: 'Tipo de solicitud' %>
    <%#= f.input :contracting_request_type_id, as: :hidden %>
  </label>

  <!-- REQUEST_DATE -->
  <label class="multi-field-label-four field-date">
    <%= f.input :request_date, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: f.object.request_date? ? (f.object.request_date.strftime("%d/%m/%Y")) : Date.today.strftime("%d/%m/%Y"), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %>
  </label>

  <!-- Nº REQUEST -->
  <label class="multi-field-label-four field-no">
    <%= f.input :request_no, :required => true, :input_html => { onkeydown: "only_digit(event)", :class => 'x-large-text-field geniconify', maxlength: 22 }, :label_html => { :class => 'form-label' } %>
  </label>
</div>

<!-- 1.5º ROW -->
<div class="row-fluid" id="row-old-subscriber">
  <label class="multi-field-label-two">
  <!-- Subscriber search -->
    <%= label_tag I18n.t("ag2_gest.contracting_requests.label_subscriber_search"), nil, :class => 'form-label' %>
    <%= text_field_tag "Subscriber", nil, :class => 'x-large-text-field shrinked' %>
  </label>
 <label class="multi-field-label-two"> <%= f.input :subscriber_id, collection: @subscribers, :input_html => { :class => 'x-large-text-field sel2', id: 'old-subscriber' }, :label_html => { :class => 'form-label' }, label: I18n.t("activerecord.attributes.contracting_request.subscriber_id") %> </label>
</div>

<!-- 2º ROW -->
<div class="row-fluid row-entity">

  <!-- ENTITY -->
  <div class="span8">
    <h4><%=t 'ag2_gest.contracting_requests.new.claimant' %></h4>
    <%= f.input :entity_id, as: :hidden %>
    <div class="row-fluid">
      <!-- ENTITY FISCAL ID -->
      <%= f.input :entity_fiscal_id, :required => true, :input_html => { onkeyup: "caps(this)", :class => 'cancellation-field mid-text-field iconify' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span12" } %>
    </div>


    <div class="row-fluid">
      <!-- NOMBRE -->
      <div class="control-group string">
        <label class="string control-label form-label"><%= t('activerecord.attributes.contracting_request.info_name') %></label>
        <div class="controls">
          <input class="contracting_request_full_name string x-large-text-field text-field" type="text" disabled="" value="<%= @contracting_request.try(:entity).try(:full_name) %>">
        </div>
      </div>
    </div>

    <!-- <div class="row-fluid"> -->
      <!-- ENTITY STREET DIRECTORY -->
      <%#= f.association :entity_street_directory, collection: StreetDirectory.all(order: 'street_type_id'), label_method: lambda { |s| s.to_full_label }, value_method: :id, :input_html => { :class => 'entity-field x-large-text-field sel2' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span12" } %>
    <!-- </div> -->

    <div class="row-fluid">
      <!-- ENTITY STREET TYPE -->
      <%= f.association :entity_street_type, collection: @street_types, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
      <!-- ENTITY STREET NAME -->
      <%= f.input :entity_street_name, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span8" } %>
      <!-- ENTITY STREET NUMBER -->
      <%= f.input :entity_street_number, :input_html => { :class => 'entity-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span1" } %>
    </div>

    <div class="row-fluid">
      <!-- ENTITY building -->
      <%= f.input :entity_building, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
      <!-- ENTITY floor -->
      <%= f.input :entity_floor, :input_html => { :class => 'entity-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
      <!-- ENTITY floor_office -->
      <%= f.input :entity_floor_office, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
      <!-- ENTITY zipcode -->
      <%= f.association :entity_zipcode, collection: @zipcodes, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span5" } %>
    </div>
    <div class="row-fluid">
      <!-- ENTITY town -->
      <%= f.association :entity_town, collection: @towns, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
      <!-- ENTITY province -->
      <%= f.association :entity_province, collection: @provinces, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    </div>

    <div class="row-fluid">
      <!-- ENTITY region -->
      <%= f.association :entity_region, collection: @regions, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
      <!-- ENTITY country -->
      <%= f.association :entity_country, collection: @countries, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    </div>


  </div>

    <!-- REPRESENTANTE -->
  <div class="span4">
    <h4><%=t "ag2_gest.contracting_requests.new.representative" %></h4>
    <label class="multi-field-label-one">
    <%= f.input :r_fiscal_id, :input_html => { onkeyup: "caps(this)", :class => 'large-text-field r_iconify' }, :label_html => { :class => 'form-label' } %>
    </label>
    <label class="multi-field-label-one">
    <%= f.input :r_first_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </label>
    <label class="multi-field-label-one">
    <%= f.input :r_last_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </label>
  </div>
</div>

<!-- 3º ROW -->
<div class="row-fluid row-client">
  <!-- CLIENT -->
  <h4><%=t 'ag2_gest.contracting_requests.new.client' %></h4>
  <div class="row-fluid">
    <!-- NOMBRE -->
    <div class="control-group string">
      <label class="string control-label form-label"><%= t('activerecord.attributes.contracting_request.info_name') %></label>
      <div class="controls">
        <input class="contracting_request_full_name string x-large-text-field text-field" type="text" disabled="" value="<%= @contracting_request.try(:entity).try(:full_name) %>">
      </div>
    </div>
  </div>
  <!-- <div class="row-fluid"> -->
    <!-- CLIENT STREET DIRECTORY -->
    <%#= f.association :client_street_directory, collection: StreetDirectory.all(order: 'street_type_id'), label_method: lambda { |s| s.to_full_label }, value_method: :id, :input_html => { :class => 'entity-field x-large-text-field sel2' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span12" } %>
  <!-- </div> -->

  <div class="row-fluid">
    <!-- CLIENT STREET TYPE -->
    <%= f.association :client_street_type, collection: @street_types, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
    <!-- CLIENT STREET NAME -->
    <%= f.input :client_street_name, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span8" } %>
    <!-- CLIENT STREET NUMBER -->
    <%= f.input :client_street_number, :input_html => { :class => 'client-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span1" } %>
  </div>

  <div class="row-fluid">
    <!-- CLIENT building -->
    <%= f.input :client_building, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
    <!-- CLIENT floor -->
    <%= f.input :client_floor, :input_html => { :class => 'client-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
    <!-- CLIENT floor_office -->
    <%= f.input :client_floor_office, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
    <!-- CLIENT zipcode -->
    <%= f.association :client_zipcode, collection: @zipcodes, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span5" } %>
  </div>
  <div class="row-fluid">
    <!-- CLIENT town -->
    <%= f.association :client_town, collection: @towns, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    <!-- CLIENT province -->
    <%= f.association :client_province, collection: @provinces, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
  </div>

  <div class="row-fluid">
    <!-- CLIENT region -->
    <%= f.association :client_region, collection: @regions, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    <!-- CLIENT country -->
    <%= f.association :client_country, collection: @countries, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'client-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
  </div>

  <div class="row-fluid">
    <!-- CLIENT PHONE -->
    <%= f.input :client_phone, :input_html => { :class => 'client-field x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    <!-- CLIENT FAX -->
    <%= f.input :client_fax, :input_html => { :class => 'client-field x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
  </div>

  <div class="row-fluid">
    <!-- CLIENT CELLULAR -->
    <%= f.input :client_cellular, :input_html => { :class => 'client-field x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    <!-- CLIENT EMAIL -->
    <%= f.input :client_email, :input_html => { :class => 'client-field x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
  </div>
</div>

<!-- 3,5º ROW -->
<div class="row-fluid row-service-point">
  <!-- SERVICE POINT -->
  <h4><%=t 'ag2_gest.contracting_requests.new.service_point' %></h4>
  <div class="row-fluid" id="row-service-point">
    <label class="multi-field-label-two">
    <!-- Service point search -->
      <%= label_tag I18n.t("ag2_gest.contracting_requests.label_service_point_search"), nil, :class => 'form-label' %>
      <%= text_field_tag "ServicePoint", nil, :class => 'cancellation-field x-large-text-field shrinked' %>
    </label>
    <label class="multi-field-label-two">
    <%= f.input :service_point_id, :required => true, collection: @service_points, label: I18n.t("activerecord.attributes.contracting_request.service_point_id"), :input_html => { :class => 'cancellation-field x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %>
    <%= f.input :service_point_id, as: :hidden, disabled: true, input_html: { id: 'service_point_hide'} %>
    </label>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <a href="#new-service-point" role="button" class="button-service-point btn btn-primary btn-mini btn-warning" data-toggle="modal">Añadir punto de servicio</a>
    </div>
  </div>
</div>

<!-- 4º ROW -->
<div class="row-fluid row-subscriber">
  <!-- SUBSCRIBER -->
  <h4><%=t 'ag2_gest.contracting_requests.new.address_subscriber' %></h4>

  <div class="row-fluid row-buttons">
    <!-- NOMBRE -->
    <div class="control-group string">
      <label class="string control-label form-label"><%= t('activerecord.attributes.contracting_request.info_name') %></label>
      <div class="controls">
        <input class="contracting_request_full_name string x-large-text-field text-field" type="text" disabled="" value="<%= @contracting_request.try(:entity).try(:full_name) %>">
      </div>
    </div>
  </div>

  <div class="row-fluid">
    <!-- SUBSCRIBER STREET TYPE -->
    <%= f.association :subscriber_street_type, :readonly => true, collection: @street_types, label_method: :second, value_method: :first, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
    <!-- SUBSCRIBER STREET DIRECTORY -->
    <%#= f.association :subscriber_street_directory, :readonly => true, collection: StreetDirectory.by_towns(@offices).order(:street_name), label_method: lambda { |s| s.to_full_label }, value_method: :id, :input_html => { :class => 'subscriber-field x-large-text-field sel2', id: "contracting_request_subscriber_street_directory" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span8" } %>
    <%= f.association :subscriber_street_directory, :readonly => true, collection: @street_directories, label_method: :second, value_method: :first, :input_html => { :class => 'subscriber-field x-large-text-field sel2', id: "contracting_request_subscriber_street_directory" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span8" } %>
    <!-- SUBSCRIBER STREET NUMBER -->
    <%= f.input :subscriber_street_number, :input_html => { :class => 'subscriber-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span1" } %>
  </div>

  <div class="row-fluid">
    <!-- SUBSCRIBER building -->
    <%= f.input :subscriber_building, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
    <!-- SUBSCRIBER floor -->
    <%= f.input :subscriber_floor, :input_html => { :class => 'subscriber-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
    <!-- SUBSCRIBER floor_office -->
    <%= f.input :subscriber_floor_office, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
    <!-- SUBSCRIBER zipcode -->
    <%= f.association :subscriber_zipcode, collection: @zipcodes, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span5" } %>
  </div>
  <div class="row-fluid">
    <!-- SUBSCRIBER town -->
    <%= f.association :subscriber_town, collection: @towns, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    <!-- SUBSCRIBER province -->
    <%= f.association :subscriber_province, collection: @provinces, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
  </div>

  <div class="row-fluid">
    <!-- SUBSCRIBER region -->
    <%= f.association :subscriber_region, collection: @regions, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span4" } %>
    <!-- SUBSCRIBER country -->
    <%= f.association :subscriber_country, collection: @countries, label_method: :second, value_method: :first, :readonly => true, :input_html => { :class => 'subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span4" } %>
    <%= f.association :subscriber_center, :readonly => true, collection: @centers, label_method: :second, value_method: :first, :input_html => { :class => 'center-field subscriber-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span4" } %>
  </div>
</div>


<!-- 5º ROW -->
<div class="row-fluid row-bank-account">
  <!-- IBAN INFO -->
  <h4><%=t 'ag2_gest.contracting_requests.new.iban' %></h4>
  <div class="row-fluid">
    <!-- COUNTRY CODE -->
    <%= f.input :country_id, collection: @countries, label_method: :second, value_method: :first, :input_html => { :class => 'x-large-text-field', maxlength: "2" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
    <!-- IBAN DC -->
    <%= f.input :iban_dc, :input_html => { :class => 'x-large-text-field', maxlength: "2" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span1" } %>
    <!-- BANK -->
    <%= f.input :bank_id, collection: @bank, label_method: :second, value_method: :first, :input_html => { :class => 'x-large-text-field', maxlength: "4" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
    <!-- BANK OFFICE -->
    <%= f.input :bank_office_id, collection: @bank_offices, label_method: :second, value_method: :first, :input_html => { :class => 'x-large-text-field', maxlength: "4" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
    <!-- DC -->
    <%#= f.input :ccc_dc, :input_html => { :class => 'x-large-text-field', maxlength: "2" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span1" } %>
    <!-- ACCOUNT NO -->
    <%= f.input :account_no, :input_html => { :class => 'x-large-text-field', maxlength: "12" }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
    <a href="#" class="check_iban_btn" title="<%=t('validate') %>"><i class="icon-ok"></i></a>
  </div>
</div>

<!-- Documents -->
<% unless @contracting_request.errors.messages[:contracting_request_document_ids].blank? %>
  <div class="alert alert-error"><%= @contracting_request.errors.messages[:contracting_request_document_ids].join(", ") %></div>
<% end %>
<div class="row-fluid row-documents">
  <h4><%= t('activerecord.attributes.contracting_request.documents_gest') %></h4>
  <%= f.simple_fields_for :contracting_request_documents do |document|%>
    <%= render 'document_fields', :f => document %>
  <%end%>
  <%= link_to_add_fields( t('activerecord.attributes.contracting_request.add_document'), f, :contracting_request_documents, "document_fields", "new-document-fields", class: "btn btn-warning fnt-new-btn") %>
  <hr>
</div>

<!-- Buttons -->
<table class="form-table row-submit">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %> </td>
      <% if @breadcrumb == 'create'%>
        <td class="form-td-three right-winged"><a href="#" id="generate_code_btn" class="btn btn-warning"><%=t 'ag2_gest.contracting_requests.generate_code_btn' %></a></td>
      <% end %>
    </tr>
  </tbody>
</table>

<% end %> <!-- simple_form_for @contracting_request -->

<%= simple_form_for :subrogation, url: subrogation_contracting_requests_path, :html => {id: "subrogation-form", :class => 'form-vertical well hide' } do |f| %>
  <%= f.input :entity_id, as: :hidden %>
  <%= f.input :subscriber_id, as: :hidden %>
  <h4><%=t 'ag2_gest.contracting_requests.new.client' %></h4>
  <div class="row-fluid">
    <!-- ENTITY FISCAL ID -->
    <%= f.input :entity_fiscal_id, :required => true, label: t('activerecord.attributes.contracting_request.new_entity'), :input_html => { onkeyup: "caps(this)", :class => 'mid-text-field iconify' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span12" } %>
  </div>
  <div class="row-fluid">
    <!-- NOMBRE -->
    <div class="control-group string">
      <label class="string control-label form-label"><%= t('activerecord.attributes.contracting_request.info_name') %></label>
      <div class="controls">
        <input class="subrogation_full_name string x-large-text-field text-field" type="text" disabled="disabled" value="<%= @contracting_request.try(:entity).try(:full_name) %>">
      </div>
    </div>

    <div class="row-fluid">
      <!-- CLIENT STREET TYPE -->
      <%= f.input :client_street_type_id, label: t('activerecord.attributes.contracting_request.client_street_type'), collection: @street_types, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
      <!-- CLIENT STREET NAME -->
      <%= f.input :client_street_name, label: t('activerecord.attributes.contracting_request.client_street_name'), :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span8" } %>
      <!-- CLIENT STREET NUMBER -->
      <%= f.input :client_street_number, required: false, label: t('activerecord.attributes.contracting_request.client_street_number'), :input_html => { :class => 'entity-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span1" } %>
    </div>

    <div class="row-fluid">
      <!-- CLIENT building -->
      <%= f.input :client_building, required: false, label: t('activerecord.attributes.contracting_request.client_building'), :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span3" } %>
      <!-- CLIENT floor -->
      <%= f.input :client_floor, required: false, label: t('activerecord.attributes.contracting_request.client_floor'), :input_html => { :class => 'entity-field x-large-text-field number-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
      <!-- CLIENT floor_office -->
      <%= f.input :client_floor_office, required: false, label: t('activerecord.attributes.contracting_request.client_floor_office'), :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span2" } %>
      <!-- CLIENT zipcode -->
      <%= f.input :client_zipcode_id, label: t('activerecord.attributes.contracting_request.client_zipcode'), collection: @zipcodes, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span5" } %>
    </div>
    <div class="row-fluid">
      <!-- CLIENT town -->
      <%= f.input :client_town_id, label: t('activerecord.attributes.contracting_request.client_town'), collection: @towns, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
      <!-- CLIENT province -->
      <%= f.input :client_province_id, label: t('activerecord.attributes.contracting_request.client_province'), collection: @provinces, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    </div>

    <div class="row-fluid">
      <!-- CLIENT region -->
      <%= f.input :client_region_id, label: t('activerecord.attributes.contracting_request.client_region'), collection: @regions, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
      <!-- CLIENT country -->
      <%= f.input :client_country_id, label: t('activerecord.attributes.contracting_request.client_country'), collection: @countries, :input_html => { :class => 'entity-field x-large-text-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    </div>

    <div class="row-fluid">
      <!-- CLIENT PHONE -->
      <%= f.input :client_phone, required: false, label: t('activerecord.attributes.contracting_request.client_phone'), :input_html => { :class => 'x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
      <!-- CLIENT FAX -->
      <%= f.input :client_fax, required: false, required: false, label: t('activerecord.attributes.contracting_request.client_fax'), :input_html => { :class => 'x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    </div>

    <div class="row-fluid">
      <!-- CLIENT CELLULAR -->
      <%= f.input :client_cellular, required: false, label: t('activerecord.attributes.contracting_request.client_cellular'), :input_html => { :class => 'x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
      <!-- CLIENT EMAIL -->
      <%= f.input :client_email, required: false, label: t('activerecord.attributes.contracting_request.client_email'), :input_html => { :class => 'x-large-text-field entity-field' }, :label_html => { :class => 'form-label' }, wrapper_html: { class: "span6" } %>
    </div>

  </div>
  <table class="form-table">
    <tbody>
      <tr class="form-tr">
        <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary hide', :id => 'subrogation_submit_btn' %> </td>
      </tr>
    </tbody>
  </table>

<% end %> <!-- simple_form_for :subrogation -->

<!-- Modal for new Entity -->
<%= render '/ag2_admin/entities/new_entity_cr' %>
<!-- Modal for new Service Point -->
<%= render '/ag2_gest/service_points/new_service_point' %>

<script type="text/javascript">
  // When DOM is fully loaded
  $(window).load(function() {
    // Charge aux dropdowns
    // jQuery.getJSON('cr_load_form_dropdowns', function(data) {
    //   var su = data.subscribers;
    //   var sp = data.service_points;
    //   var spt = data.service_point_types;
    //   var spl = data.service_point_locations;
    //   var spp = data.service_point_purposes;
    //   var ce = data.centers;
    //   var to = data.towns_by_offce;
    //   var st = data.street_types;
    //   var sdt = data.street_directories_by_town;
    //   // var sd = data.street_directories;
    //   var tbo = data.towns_by_offce;
    //   var t = data.towns;
    //   var p = data.provinces;
    //   var z = data.zipcodes;
    //   var r = data.regions;
    //   var c = data.countries;
    //   var b = data.banks;
    //   var bo = data.bank_offices;
    //   var rr = data.reading_routes;

    //   // subscribers
    //   $("#contracting_request_subscriber_id").html("");
    //   $("#contracting_request_subscriber_id").select2("val", "");
    //   // $("#contracting_request_subscriber_id").val("val", "");
    //   $("#contracting_request_subscriber_id").append($('<option></option>').val("").html(""));
    //   if (!su.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'subscribers' && option != "") {
    //         $("#contracting_request_subscriber_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(su, function(id, option) {
    //       $("#contracting_request_subscriber_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // service_points
    //   $("#contracting_request_service_point_id").html("");
    //   $("#contracting_request_service_point_id").select2("val", "");
    //   // $("#contracting_request_service_point_id").val("val", "");
    //   $("#contracting_request_service_point_id").append($('<option></option>').val("").html(""));
    //   if (!sp.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'service_points' && option != "") {
    //         $("#contracting_request_service_point_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(sp, function(id, option) {
    //       $("#contracting_request_service_point_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // service_point_types
    //   $("#form_new_service_point_service_point_type_id").html("");
    //   $("#form_new_service_point_service_point_type_id").select2("val", "");
    //   $("#form_new_service_point_service_point_type_id").append($('<option></option>').val("").html(""));
    //   if (!spt.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'service_point_types' && option != "") {
    //         $("#form_new_service_point_service_point_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(spt, function(id, option) {
    //       $("#form_new_service_point_service_point_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // service_point_locations
    //   $("#form_new_service_point_service_point_location_id").html("");
    //   $("#form_new_service_point_service_point_location_id").select2("val", "");
    //   $("#form_new_service_point_service_point_location_id").append($('<option></option>').val("").html(""));
    //   if (!spt.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'service_point_locations' && option != "") {
    //         $("#form_new_service_point_service_point_location_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(spt, function(id, option) {
    //       $("#form_new_service_point_service_point_location_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // service_point_purposes
    //   $("#form_new_service_point_service_point_purpose_id").html("");
    //   $("#form_new_service_point_service_point_purpose_id").select2("val", "");
    //   $("#form_new_service_point_service_point_purpose_id").append($('<option></option>').val("").html(""));
    //   if (!spt.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'service_point_purposes' && option != "") {
    //         $("#form_new_service_point_service_point_purpose_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(spt, function(id, option) {
    //       $("#form_new_service_point_service_point_purpose_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // reading_routes
    //   $("#form_new_service_point_reading_route_id").html("");
    //   $("#form_new_service_point_reading_route_id").select2("val", "");
    //   $("#form_new_service_point_reading_route_id").append($('<option></option>').val("").html(""));
    //   if (!rr.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'reading_routes' && option != "") {
    //         $("#form_new_service_point_reading_route_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(rr, function(id, option) {
    //       $("#form_new_service_point_reading_route_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }

    //   // centers
    //   $("#contracting_request_subscriber_center_id").html("");
    //   $("#contracting_request_subscriber_center_id").val("");
    //   // $("#contracting_request_subscriber_center_id").val("val", "");
    //   $("#contracting_request_subscriber_center_id").append($('<option></option>').val("").html(""));
    //   $("#form_new_service_point_center_id").html("");
    //   $("#form_new_service_point_center_id").val("");
    //   $("#form_new_service_point_center_id").append($('<option></option>').val("").html(""));
    //   if (!ce.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'centers' && option != "") {
    //         $("#contracting_request_subscriber_center_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#form_new_service_point_center_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(ce, function(id, option) {
    //       $("#contracting_request_subscriber_center_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#form_new_service_point_center_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // street_directories_by_town
    //   $("#contracting_request_subscriber_street_directory").html("");
    //   $("#contracting_request_subscriber_street_directory").select2("val", "");
    //   $("#contracting_request_subscriber_street_directory").append($('<option></option>').val("").html(""));
    //   $("#form_new_service_point_street_directory_id").html("");
    //   $("#form_new_service_point_street_directory_id").select2("val", "");
    //   $("#form_new_service_point_street_directory_id").append($('<option></option>').val("").html(""));
    //   if (!sdt.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'street_directories_by_town' && option != "") {
    //         $("#contracting_request_subscriber_street_directory").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#form_new_service_point_street_directory_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(sdt, function(id, option) {
    //       $("#contracting_request_subscriber_street_directory").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#form_new_service_point_street_directory_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // street_types
    //   $("#contracting_request_entity_street_type_id").html("");
    //   $("#contracting_request_entity_street_type_id").val("");
    //   $("#contracting_request_entity_street_type_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_client_street_type_id").html("");
    //   $("#contracting_request_client_street_type_id").val("");
    //   $("#contracting_request_client_street_type_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_subscriber_street_type_id").html("");
    //   $("#contracting_request_subscriber_street_type_id").val("");
    //   $("#contracting_request_subscriber_street_type_id").append($('<option></option>').val("").html(""));
    //   $("#subrogation_client_street_type_id").html("");
    //   $("#subrogation_client_street_type_id").val("");
    //   $("#subrogation_client_street_type_id").append($('<option></option>').val("").html(""));
    //   if (!st.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'street_types' && option != "") {
    //         $("#contracting_request_entity_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_client_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_subscriber_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#subrogation_client_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(st, function(id, option) {
    //       $("#contracting_request_entity_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_client_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_subscriber_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#subrogation_client_street_type_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // towns
    //   $("#contracting_request_entity_town_id").html("");
    //   $("#contracting_request_entity_town_id").select2("val", "");
    //   $("#contracting_request_entity_town_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_client_town_id").html("");
    //   $("#contracting_request_client_town_id").select2("val", "");
    //   $("#contracting_request_client_town_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_subscriber_town_id").html("");
    //   $("#contracting_request_subscriber_town_id").select2("val", "");
    //   $("#contracting_request_subscriber_town_id").append($('<option></option>').val("").html(""));
    //   $("#subrogation_client_town_id").html("");
    //   $("#subrogation_client_town_id").select2("val", "");
    //   $("#subrogation_client_town_id").append($('<option></option>').val("").html(""));
    //   if (!t.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'towns' && option != "") {
    //         $("#contracting_request_entity_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_client_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_subscriber_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#subrogation_client_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(t, function(id, option) {
    //       $("#contracting_request_entity_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_client_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_subscriber_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#subrogation_client_town_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // provinces
    //   $("#contracting_request_entity_province_id").html("");
    //   $("#contracting_request_entity_province_id").select2("val", "");
    //   $("#contracting_request_entity_province_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_client_province_id").html("");
    //   $("#contracting_request_client_province_id").select2("val", "");
    //   $("#contracting_request_client_province_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_subscriber_province_id").html("");
    //   $("#contracting_request_subscriber_province_id").select2("val", "");
    //   $("#contracting_request_subscriber_province_id").append($('<option></option>').val("").html(""));
    //   $("#subrogation_client_province_id").html("");
    //   $("#subrogation_client_province_id").select2("val", "");
    //   $("#subrogation_client_province_id").append($('<option></option>').val("").html(""));
    //   if (!p.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'provinces' && option != "") {
    //         $("#contracting_request_entity_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_client_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_subscriber_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#subrogation_client_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(p, function(id, option) {
    //       $("#contracting_request_entity_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_client_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_subscriber_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#subrogation_client_province_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // zipcodes
    //   $("#contracting_request_entity_zipcode_id").html("");
    //   $("#contracting_request_entity_zipcode_id").select2("val", "");
    //   $("#contracting_request_entity_zipcode_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_client_zipcode_id").html("");
    //   $("#contracting_request_client_zipcode_id").select2("val", "");
    //   $("#contracting_request_client_zipcode_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_subscriber_zipcode_id").html("");
    //   $("#contracting_request_subscriber_zipcode_id").select2("val", "");
    //   $("#contracting_request_subscriber_zipcode_id").append($('<option></option>').val("").html(""));
    //   $("#subrogation_client_zipcode_id").html("");
    //   $("#subrogation_client_zipcode_id").select2("val", "");
    //   $("#subrogation_client_zipcode_id").append($('<option></option>').val("").html(""));
    //   $("#form_new_service_point_zipcode_id").html("");
    //   $("#form_new_service_point_zipcode_id").select2("val", "");
    //   $("#form_new_service_point_zipcode_id").append($('<option></option>').val("").html(""));
    //   if (!z.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'zipcodes' && option != "") {
    //         $("#contracting_request_entity_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_client_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_subscriber_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#subrogation_client_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#form_new_service_point_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(z, function(id, option) {
    //       $("#contracting_request_entity_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_client_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_subscriber_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#subrogation_client_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#form_new_service_point_zipcode_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // regions
    //   $("#contracting_request_entity_region_id").html("");
    //   $("#contracting_request_entity_region_id").select2("val", "");
    //   $("#contracting_request_entity_region_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_client_region_id").html("");
    //   $("#contracting_request_client_region_id").select2("val", "");
    //   $("#contracting_request_client_region_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_subscriber_region_id").html("");
    //   $("#contracting_request_subscriber_region_id").select2("val", "");
    //   $("#contracting_request_subscriber_region_id").append($('<option></option>').val("").html(""));
    //   $("#subrogation_client_region_id").html("");
    //   $("#subrogation_client_region_id").select2("val", "");
    //   $("#subrogation_client_region_id").append($('<option></option>').val("").html(""));
    //   if (!r.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'regions' && option != "") {
    //         $("#contracting_request_entity_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_client_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_subscriber_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#subrogation_client_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(r, function(id, option) {
    //       $("#contracting_request_entity_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_client_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_subscriber_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#subrogation_client_region_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // countries
    //   $("#contracting_request_entity_country_id").html("");
    //   $("#contracting_request_entity_country_id").select2("val", "");
    //   $("#contracting_request_entity_country_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_client_country_id").html("");
    //   $("#contracting_request_client_country_id").select2("val", "");
    //   $("#contracting_request_client_country_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_subscriber_country_id").html("");
    //   $("#contracting_request_subscriber_country_id").select2("val", "");
    //   $("#contracting_request_subscriber_country_id").append($('<option></option>').val("").html(""));
    //   $("#contracting_request_country_id").html("");
    //   $("#contracting_request_country_id").select2("val", "");
    //   $("#contracting_request_country_id").append($('<option></option>').val("").html(""));
    //   $("#subrogation_client_country_id").html("");
    //   $("#subrogation_client_country_id").select2("val", "");
    //   $("#subrogation_client_country_id").append($('<option></option>').val("").html(""));
    //   if (!c.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'countries' && option != "") {
    //         $("#contracting_request_entity_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_client_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_subscriber_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#contracting_request_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //         $("#subrogation_client_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(c, function(id, option) {
    //       $("#contracting_request_entity_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_client_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_subscriber_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#contracting_request_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       $("#subrogation_client_country_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // banks
    //   $("#contracting_request_bank_id").html("");
    //   $("#contracting_request_bank_id").val("val", "");
    //   $("#contracting_request_bank_id").append($('<option></option>').val("").html(""));
    //   if (!b.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'banks' && option != "") {
    //         $("#contracting_request_bank_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(b, function(id, option) {
    //         $("#contracting_request_bank_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    //   // bank offices
    //   $("#contracting_request_bank_office_id").html("");
    //   $("#contracting_request_bank_office_id").val("val", "");
    //   $("#contracting_request_bank_office_id").append($('<option></option>').val("").html(""));
    //   if (!bo.length) {
    //     $.each(data, function(id, option) {
    //       if (id == 'bank_offices' && option != "") {
    //         $("#contracting_request_bank_office_id").append($('<option></option>').val(option[0]).html(option[1]));
    //       }
    //     });
    //   } else {
    //     $.each(bo, function(id, option) {
    //         $("#contracting_request_bank_office_id").append($('<option></option>').val(option[0]).html(option[1]));
    //     });
    //   }
    // });
  });
</script>
