<%= render '/layouts/ag2_gest/crequestsbreadcrumb' %>

<% if @contracting_request.contracting_request_type_id == ContractingRequestType::CONNECTION %>
  <h3><%= t('.title_connection')%></h3>
  <%= render 'form_connection' %>
<% else %>
  <h3><%= t('.title')%></h3>
  <%= render 'form' %>
<% end %>

<%= link_to t(".btn_show"), contracting_request_path(@contracting_request) %> |
<%= link_to t("ag2_gest.contracting_requests.back_to_main_page"), contracting_requests_path %>
