<%= render '/layouts/ag2_help_desk/categoriesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @ticket_category.id %></td>
      <td><%=t :"activerecord.attributes.ticket_category.name" %>:</td>
      <td><%= @ticket_category.name.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @ticket_category } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @ticket_category } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: TicketCategory, update_path: edit_ticket_category_path(@ticket_category), update_txt: t('.btn_edit'),
delete_path: @ticket_category, delete_txt: t('.btn_delete'), msg: t("activerecord.models.ticket_category.one"), txt: @ticket_category.name,
new_path: new_ticket_category_path, new_txt: t('ag2_help_desk.ticket_categories.index.btn_new') } %>

<%= link_to I18n.t("ag2_help_desk.ticket_categories.back_to_main_page"), ticket_categories_path %>
