<%= render '/layouts/ag2_human/pgroupsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span11">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "pg_code", t('activerecord.attributes.professional_group.pg_code') %></th>
        <th><%= sortable "name", t('activerecord.attributes.professional_group.name') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @professional_groups.each do |t| %>
      <tr>
        <td><%= link_to t.pg_code, t %></td>
        <td><%= t.name %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => ProfessionalGroup, :path => edit_professional_group_path(t) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => ProfessionalGroup, :path => t, :msg => I18n.t("activerecord.models.professional_group.one"), :txt => t.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @professional_groups } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => ProfessionalGroup, :path => new_professional_group_path, :txt => I18n.t("ag2_human.professional_groups.index.btn_new") } %>
  <%= link_to I18n.t("ag2_human.professional_groups.index.go_to_workers"), workers_path %> |
  <%= link_to I18n.t("ag2_human.professional_groups.index.back_to_root"), ag2_human.root_path %>
</div>
