<%= render '/layouts/ag2_human/pgroupsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @professional_group.id %></td>
      <td><%=t 'activerecord.attributes.professional_group.pg_code' %>:</td>
      <td><%= @professional_group.pg_code unless @professional_group.pg_code.nil? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.professional_group.name' %>:</td>
      <td><%= @professional_group.name %></td>
      <td><%= t :"activerecord.attributes.professional_group.nomina_id" %>:</td>
      <td><%= @professional_group.nomina_id unless @professional_group.nomina_id.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @professional_group } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @professional_group } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ProfessionalGroup, update_path: edit_professional_group_path(@professional_group), update_txt: t('.btn_edit'),
delete_path: @professional_group, delete_txt: t('.btn_delete'), msg: t("activerecord.models.professional_group.one"), txt: @professional_group.name,
new_path: new_professional_group_path, new_txt: t('ag2_human.professional_groups.index.btn_new') } %>

<% if (@workers.count > 0) %>
<% session[:return_to] = I18n.t('ag2_human.professional_groups.show.return_to') %>
<% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_human/workersheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_human/workers', :locals => { :workers => @workers } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @workers } %>
<% end %>

<%= link_to I18n.t('ag2_human.professional_groups.back_to_main_page'), professional_groups_path %>
