<%= render '/layouts/ag2_admin/regionsbreadcrumb' %>

<h3><%= @region.name %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @region.id %></td>
      <td><%=t 'activerecord.attributes.region.country' %>:</td>
      <td><%= @region.country.name unless @region.country.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @region } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @region } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Region, update_path: edit_region_path(@region), update_txt: t('.btn_edit'),
delete_path: @region, delete_txt: t('.btn_delete'), msg: t("activerecord.models.region.one"), :txt => @region.name,
new_path: new_region_path, new_txt: t('ag2_admin.regions.index.btn_new') } %>

<% if (@provinces.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.province.name' %></th>
      <th><%=t 'activerecord.attributes.province.ine_cpro' %></th>
    </tr>
  </thead>
  <tbody>
    <% @provinces.each do |province| %>
    <tr>
      <td><%= link_to province.name, province %></td>
      <td><%= province.ine_cpro %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.regions.show.show_to'), @region.country %> |
<%= link_to I18n.t('ag2_admin.regions.back_to_main_page'), regions_path %>
