<%= render '/layouts/ag2_admin/regionsbreadcrumb' %>

<h3><%= @region.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @region.id %></td>
      <td><%=t 'activerecord.attributes.region.country' %>:</td>
      <td><%= @region.country.name unless @region.country.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @region } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_admin.regions.show.btn_edit'), edit_region_path(@region), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@provinces.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.province.name' %></th>
      <th><%=t 'activerecord.attributes.province.ine_cpro' %></th>
    </tr>
  </thead>
  <tbody>
    <% @provinces.each do |province| %>
    <tr>
      <td><%= link_to province.name, province %></td>
      <td><%= province.ine_cpro %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.regions.show.show_to'), @region.country %> |
<%= link_to I18n.t('ag2_admin.regions.back_to_main_page'), regions_path %>
