<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.billable_item.id') %></th>
      <th><%= sortable "billable_concept_id", t('activerecord.attributes.billable_item.billable_concept_id') %></th>
      <th><%= sortable "project_id", t('activerecord.attributes.billable_item.project_id') %></th>
      <th><%= sortable "office_id", t('activerecord.attributes.billable_item.office_id') %></th>
      <th><%= sortable "biller_id", t('activerecord.attributes.billable_item.biller_id') %></th>
      <th><%= t('activerecord.attributes.billable_item.tariffs_by_caliber') %></th>
      <th><%= t('activerecord.attributes.billable_item.bill_by_endowments') %></th>
      <th><%= t('activerecord.attributes.billable_item.bill_by_inhabitants') %></th>
      <th><%= t('activerecord.attributes.billable_item.bill_by_users') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @billable_items.each do |billable| %>
      <tr>
        <td><%= billable.try(:id) %></td>
        <td><%= billable.try(:billable_concept).try(:code) %></td>
        <td><%= billable.try(:project).try(:name) %></td>
        <td><%= billable.try(:office).try(:name) %></td>
        <td><%= billable.try(:biller).try(:name) %></td>
        <td><% if billable.try(:tariffs_by_caliber) %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %></td>
        <td><% if billable.try(:bill_by_endowments) %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %></td>
        <td><% if billable.try(:bill_by_inhabitants) %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %></td>
        <td><% if billable.try(:bill_by_users) %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %></td>
        <td>
          <%= render :partial => '/layouts/crud/read', :locals => { :model => BillableItem, :path => billable_item_path(billable) } %>
          <%= render :partial => '/layouts/crud/edit', :locals => { :model => BillableItem, :path => edit_billable_item_path(billable) } %>
          <%= render :partial => '/layouts/crud/delete', :locals => { :model => BillableItem, :path => billable, :msg => t("activerecord.models.billable_item.one"), :txt => billable.to_label } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @billable_items } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => BillableItem, :path => new_billable_item_path, :txt => t("ag2_gest.billable_items.index.btn_new") } %>
<%= link_to t("ag2_gest.billable_items.index.back_to_management"), ag2_gest.bill_management_path %>
