<%= render '/layouts/ag2_gest/billableitemsbreadcrumb' %>

<h3><%= t('.title') %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @billable_item %> |
<%= link_to t('.back'), billable_items_path %>