<script>
  $(document).ready(function() {
    var contact = $('select#entity_entity_type_id :selected').val();
    if (contact == "")
      contact = "0";
    if (contact == "0") {
      // Empty type
      $('#entity_company').prop('disabled', true);
      $('#entity_last_name').prop('disabled', true);
      $('#entity_first_name').prop('disabled', true);
      $('#submit_btn').hide();
    } else if (contact == "1") {
      // Type is Person
      $('#entity_company').prop('disabled', true);
      $('#entity_last_name').prop('disabled', false);
      $('#entity_first_name').prop('disabled', false);
      $('#submit_btn').show();
    } else {
      // Type is Company or Other
      $('#entity_company').prop('disabled', false);
      $('#entity_last_name').prop('disabled', true);
      $('#entity_first_name').prop('disabled', true);
      $('#submit_btn').show();
    }
    // Save default text color
    text_field_color = $("#entity_phone").css('color')
    // Icon inside text field: Validate Fiscal Id
    $('input.iconify').wrap('<span class="validateicon" title="<%=t('ag2_admin.entities.validate_btn') %>" />').after($('<span/>').click(function() {
      // make a POST call and replace the content
      var entity = $('#entity_fiscal_id').val();
      if (entity == "")
        entity = "0";
      jQuery.getJSON('validate_fiscal_id_textfield/' + entity, function(data) {
        if (data.fiscal_id == "$err") {
          $("#entity_fiscal_id").css('color', 'red');
          alert('<%= I18n.t("ag2_admin.entities.fiscal_error") %>');
          $('#entity_fiscal_id').select();
        }
        else {
          // Default color & focus
          $("#entity_fiscal_id").css('color', text_field_color);
        }
      })
      return false;
    }));
  });

  jQuery(function($) {
    // when the #entity_town_id field changes
    $("#entity_town_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#entity_town_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + contact, function(data) {
        $("#entity_province_id").val(data.province_id);
        $("#entity_region_id").val(data.region_id);
        $("#entity_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #entity_province_id field changes
    $("#entity_province_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#entity_province_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_region_textfield_from_province/' + contact, function(data) {
        $("#entity_region_id").val(data.region_id);
        $("#entity_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #entity_zipcode_id field changes
    $("#entity_zipcode_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#entity_zipcode_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_zipcode/' + contact, function(data) {
        $("#entity_town_id").val(data.town_id);
        $("#entity_province_id").val(data.province_id);
        $("#entity_region_id").val(data.region_id);
        $("#entity_country_id").val(data.country_id);
      })
      return false;
    });

    // when the #entity_region_id field changes
    $("#entity_region_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#entity_region_id :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_country_textfield_from_region/' + contact, function(data) {
        $("#entity_country_id").val(data.id);
      })
      return false;
    });

    // when the #entity_entity_type_id field changes
    $("#entity_entity_type_id").change(function() {
      // make a POST call and replace the content
      var contact = $('select#entity_entity_type_id :selected').val();
      if (contact == "")
        contact = "0";
      if (contact == "0") {// Empty type
        $('#entity_company').prop('disabled', true);
        $('#entity_last_name').prop('disabled', true);
        $('#entity_first_name').prop('disabled', true);
        $('#submit_btn').hide();
      } else if (contact == "1") {// Type is Person
        $('#entity_company').prop('disabled', true);
        $('#entity_last_name').prop('disabled', false);
        $('#entity_first_name').prop('disabled', false);
        $('#submit_btn').show();
      } else {// Type is Company or Other
        $('#entity_company').prop('disabled', false);
        $('#entity_last_name').prop('disabled', true);
        $('#entity_first_name').prop('disabled', true);
        $('#submit_btn').show();
      }
      return false;
    });
  })
</script>

<%= simple_form_for @entity, :html => { :class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.association :entity_type, :autofocus => true, collection: EntityType.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :fiscal_id, :input_html => { :class => 'large-text-field iconify' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :company, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
<div>
  <label class="multi-field-label-two"> <%= f.input :last_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :first_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two"> <%= f.input :phone, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :extension, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :fax, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :cellular, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-thinner"> <%= f.association :street_type, collection: StreetType.all(order: 'street_type_code'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-wider"> <%= f.input :street_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :street_number, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider"> <%= f.input :building, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor_office, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :zipcode, collection: Zipcode.all(order: 'zipcode'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :town, collection: Town.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :province, collection: Province.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :region, collection: Region.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :country, collection: Country.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :email, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
<%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %>
<% end %>
