<script>
  jQuery(function($) {
    $('#form_new_entity').on('submit', function() {
      var entity_type = $('select#fnt_entity_type :selected').val();
      var fiscal_id = $('#fnt_fiscal_id').val();
      var company = $('#fnt_company').val();
      var last_name = $('#fnt_last_name').val();
      var first_name = $('#fnt_first_name').val();
      var phone = $('#fnt_phone').val();
      var extension = $('#fnt_extension').val();
      var fax = $('#fnt_fax').val();
      var cellular = $('#fnt_cellular').val();
      var street_type = $('select#fnt_street_type :selected').val();
      var street_name = $('#fnt_street_name').val();
      var street_number = $('#fnt_street_number').val();
      var building = $('#fnt_building').val();
      var floor = $('#fnt_floor').val();
      var floor_office = $('#fnt_floor_office').val();
      var zipcode = $('select#fnt_zipcode :selected').val();
      var town = $('select#fnt_town :selected').val();
      var province = $('select#fnt_province :selected').val();
      var region = $('select#fnt_region :selected').val();
      var country = $('select#fnt_country :selected').val();
      var email = $('#fnt_email').val();

      if ((entity_type == "") || (fiscal_id == "")  || (phone == "")  || (email == "")) ||
          (street_type == "") || (zipcode == "")  || (town == "")  || (province == "")) ||
          (street_name == "") || (street_number == "")  || (region == "")  || (country == "")) {
        // Error: Mandatory fields
        alert('<%= I18n.t("ag2_admin.entities.new_entity.footer") %>');
        return false;
      } else if (((last_name == "") && (first_name == "") && (company == "")) ||
                 ((last_name != "") && (first_name == "") && (company != ""))) {
        // Error: Name and company empty OR Name and company filled
        alert('<%= I18n.t("ag2_admin.entities.new_entity.entity_type_alert") %>');
        return false;
      } else {
        // Hide the modal and exit
        $("#new-entity").modal('hide');
        alert('<%= I18n.t("ag2_admin.entities.new_entity.submit") %>');
      }
    });
  })
</script>

<div id="new-entity" class="modal" style="display: none;">
  <%= simple_form_for Entity.new, :url => ag2_admin.entities_path, :remote => :true, :html => { "data-type" => :json, :class => 'form-inline', :id => 'form_new_entity' } do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= I18n.t('ag2_help_desk.tickets.new_ticket.title') %></h3>
  </div>
  <div class="modal-body">
    <%= f.association :ticket_category, :autofocus => true, collection: TicketCategory.all(order: 'name'), :input_html => { :class => 'mid-text-field', :id => 'fnt_category' }, :label_html => { :class => 'form-label' } %>
    <%= f.association :ticket_priority, collection: TicketPriority.all(order: 'id'), :input_html => { :class => 'mid-text-field', :id => 'fnt_priority' }, :label_html => { :class => 'form-label' } %>
    <%= f.input :ticket_subject, :input_html => { :class => 'x-large-text-field', :maxlength => 20, :id => 'fnt_subject' }, :label_html => { :class => 'form-label' } %>
    <%= f.input :ticket_message, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 3, :id => 'fnt_message' }, :label_html => { :class => 'form-label' } %>
    <%= I18n.t('ag2_help_desk.tickets.new_ticket.footer') %>
  </div>
  <div class="modal-footer">
    <%= f.submit I18n.t('ag2_help_desk.tickets.new_ticket.btn_new'), :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" href="#"><%= t :close_button %></a>
  </div>
  <% end %>
</div>
