<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.service_point_type.id') %></th>
      <th><%= sortable "name", t('activerecord.attributes.service_point_type.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @service_point_types.each do |service_point_type| %>
      <tr>
        <td><%= link_to service_point_type.try(:id), service_point_type_path(service_point_type) %></td>
        <td><%= service_point_type.try(:name) %></td>
        <td>
          <%= link_to edit_service_point_type_path(service_point_type), class: "btn btn-mini" do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to service_point_type, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @service_point_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ServicePointType, :path => new_service_point_type_path, :txt => t("ag2_gest.service_point_types.index.btn_new") } %>
<%= link_to t("ag2_gest.service_point_types.index.back_to_root"), ag2_gest.root_path %>     