<%= render '/layouts/ag2_gest/servicepointtypebreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @service_point_type %> |
<%= link_to t('.back'), service_point_types_path %>