<%= render '/layouts/ag2_human/wtypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_human.worker_types.edit.btn_show'), @worker_type %> |
<%= link_to I18n.t('ag2_human.worker_types.back_to_main_page'), worker_types_path %>
