<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>
<%= render '/layouts/ag2_human/wtypesbreadcrumb' %>

<h3>Worker types</h3>
<div class="span6">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Description</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @worker_types.each do |t| %>
      <tr>
        <td><%= link_to t.description.titleize, t %></td>
        <td><%= link_to edit_worker_type_path(t), :class => 'btn btn-mini' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to(t, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') do %> <i class="icon-trash"></i> <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Worker type', new_worker_type_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Go to ag2Workers', workers_path %> |
  <%= link_to 'Back to ag2Human', ag2_human.root_path %>
</div>
