<%= render '/layouts/ag2_human/wtypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @worker_type.id %></td>
      <td><%=t 'activerecord.attributes.worker_type.description' %>:</td>
      <td><%= @worker_type.description.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @worker_type } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @worker_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: WorkerType, update_path: edit_worker_type_path(@worker_type), update_txt: t('.btn_edit'),
delete_path: @worker_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.worker_type.one"), txt: @worker_type.description,
new_path: new_worker_type_path, new_txt: t('ag2_human.worker_types.index.btn_new') } %>

<% if (@workers.count > 0) %>
<% session[:return_to] = I18n.t('ag2_human.worker_types.show.return_to') %>
<% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_human/workersheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_human/workers', :locals => { :workers => @workers } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @workers } %>
<% end %>

<%= link_to I18n.t('ag2_human.worker_types.back_to_main_page'), worker_types_path %>
