<%= render '/layouts/ag2_human/wtypesbreadcrumb' %>

<h3>Worker type</h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @worker_type.id %></td>
      <td><%=t 'activerecord.attributes.worker_type.description' %>:</td>
      <td><%= @worker_type.description.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @worker_type } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_human.worker_types.show.btn_edit'), edit_worker_type_path(@worker_type), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@workers.count > 0) %>
<h4>Worker type Workers</h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_human/workersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_human.worker_types.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_human/workers', :locals => { :workers => @workers } %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_human.worker_types.back_to_main_page'), worker_types_path %>
