<%= render '/layouts/ag2_gest/complaintclassesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @complaint_class %> |
<%= link_to t("ag2_gest.complaint_classes.back_to_main_page"), complaint_classes_path %>
