<script>
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#Supplier").closest('form')[0];
  }); 

  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#No").val("<%= params[:No] %>");
    $("#Supplier").select2("val", "<%= params[:Supplier] %>");
    $("#Invoice").select2("val", "<%= params[:Invoice] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Supplier").select2("val", "");
      $("#Invoice").select2("val", "");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      window.open("supplier_payment_report.pdf", "_blank");
      return false;
    });
    // when #print_csv_btn is clicked
    $("#print_csv_btn").click(function() {
      // make a POST call and get report
      window.open("supplier_payment_report.csv", "_self");
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_purchase/paymentsbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_purchase.supplier_payments_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "supplier_payments", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.supplier_payment.payment_no"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_purchase.supplier_payments.index.label_supplier"), nil, :class => 'form-label' %>
        <%= select_tag "Supplier", options_from_collection_for_select(@suppliers, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Invoice -->
        <%= label_tag I18n.t("ag2_purchase.supplier_payments.index.label_invoice"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Invoice", options_from_collection_for_select(@invoices, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_purchase.supplier_payments.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => SupplierPayment, :path => new_supplier_payment_path, :txt => t(".btn_new") } %>
        <!-- Control&Tracking -->
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t 'ag2_tech.home.index.control' %></a>
        <br /><br /> 
        <a href="#" id="print_csv_btn" class="btn btn-success"><i class="glyphicon glyphicon-download-alt icon-download-alt icon-white"></i> <%= t 'ag2_tech.home.index.control_csv' %></a>

        <br /><br />
        <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'supplier_payments' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
