<script>
  var text_field_color;

  $(document).ready(function(){

  $("#form_change_data_supply")
    .bind("ajax:success", function(xhr, data, status) {
      // modal water supply contract hide
      $("#changeDataSupply").modal('hide');
      location.reload();
      return;
    })
    .bind("ajax:error", function(xhr, data, status) {
      alert('<%= I18n.t("ag2_gest.contracting_requests.required_error") %>');
    });
  });

  jQuery(function($) {
    
    // when the #fnt_town field changes
    $("#fnt_town").change(function() {
      // make a POST call and replace the content
      var contact = $('select#fnt_town :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + contact, function(data) {
        $("#fnt_province").val(data.province_id);
        $("#fnt_region").val(data.region_id);
        $("#fnt_country").val(data.country_id);
      })
      return false;
    });

    // when the #fnt_province field changes
    $("#fnt_province").change(function() {
      // make a POST call and replace the content
      var contact = $('select#fnt_province :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_region_textfield_from_province/' + contact, function(data) {
        $("#fnt_region").val(data.region_id);
        $("#fnt_country").val(data.country_id);
      })
      return false;
    });

    // when the #fnt_zipcode field changes
    $("#fnt_zipcode").change(function() {
      // make a POST call and replace the content
      var contact = $('select#fnt_zipcode :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_zipcode/' + contact, function(data) {
        $("#fnt_town").val(data.town_id);
        $("#fnt_province").val(data.province_id);
        $("#fnt_region").val(data.region_id);
        $("#fnt_country").val(data.country_id);
      })
      return false;
    });

    // when the #fnt_region field changes
    $("#fnt_region").change(function() {
      // make a POST call and replace the content
      var contact = $('select#fnt_region :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_country_textfield_from_region/' + contact, function(data) {
        $("#fnt_country").val(data.id);
      })
      return false;
    });

  });
</script>

<div id="changeDataSupply" class="modal hide fade" data-backdrop="static">
  <%= simple_form_for @subscriber, :remote => :true, :html => { "data-type" => :json, :class => 'modal-footer-right form-inline', :id => 'form_change_data_supply' } do |f| %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= I18n.t('activerecord.attributes.subscriber.data_supply') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.input :id, as: :hidden, input_html: { id: 'fnt_id', :value => @subscriber.id } %>
    <%= f.input :postal_first_name, required: true, :input_html => { :class => 'mid-text-field', :id => 'fnt_first_name', :value => !@subscriber.postal_first_name.blank? ? @subscriber.postal_first_name : @subscriber.try(:client).try(:first_name) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :postal_last_name, required: true, :input_html => { :class => 'mid-text-field', :id => 'fnt_last_name', :value => !@subscriber.postal_last_name.blank? ? @subscriber.postal_last_name : @subscriber.try(:client).try(:last_name) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :postal_company, required: true, :input_html => { :class => 'mid-text-field', :id => 'fnt_company', :value => !@subscriber.postal_company.blank? ? @subscriber.postal_company : @subscriber.try(:client).try(:company) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :phone, required: true, :input_html => { :class => 'mid-text-field', :id => 'fnt_phone', :value => !@subscriber.phone.blank? ? @subscriber.phone : @subscriber.try(:client).try(:phone) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :cellular, :input_html => { :class => 'mid-text-field', :id => 'fnt_cellular', :value => !@subscriber.cellular.blank? ? @subscriber.cellular : @subscriber.try(:client).try(:cellular) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :email, :input_html => { :class => 'x-large-text-field', :id => 'fnt_email', :value => !@subscriber.email.blank? ? @subscriber.email : @subscriber.try(:client).try(:email) }, :label_html => { :class => 'form-label' } %>
    
    <%= f.association :postal_street_type, collection: StreetType.all(order: 'street_type_code'), selected: !@subscriber.postal_street_type_id.blank? ? @subscriber.postal_street_type_id : @subscriber.try(:client).try(:street_type_id), :input_html => { :class => 'mid-text-field', :id => 'fnt_street_type' }, :label_html => { :class => 'form-label' } %>
    
    <%= f.input :postal_street_name, required: true, :input_html => { :class => 'x-large-text-field', :id => 'fnt_street_name', :value => !@subscriber.postal_street_name.blank? ? @subscriber.postal_street_name : @subscriber.try(:client).try(:street_name) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :postal_street_number, required: true, :input_html => { :class => 'small-text-field number-text-field', :id => 'fnt_street_number', :value => !@subscriber.postal_street_number.blank? ? @subscriber.postal_street_number : @subscriber.try(:client).try(:street_number) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :postal_building, :input_html => { :class => 'mid-text-field', :id => 'fnt_building', :value => !@subscriber.postal_building.blank? ? @subscriber.postal_building : @subscriber.try(:client).try(:building) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :postal_floor, :input_html => { :class => 'small-text-field number-text-field', :id => 'fnt_floor', :value => !@subscriber.postal_floor.blank? ? @subscriber.postal_floor : @subscriber.try(:client).try(:floor) }, :label_html => { :class => 'form-label' } %>
    <%= f.input :postal_floor_office, :input_html => { :class => 'small-text-field number-text-field', :id => 'fnt_floor_office', :value => !@subscriber.postal_floor_office.blank? ? @subscriber.postal_floor_office : @subscriber.try(:client).try(:floor_office) }, :label_html => { :class => 'form-label' } %>

    <%= f.association :postal_zipcode, collection: @zipcodes, :input_html => { :class => 'large-text-field', :id => 'fnt_zipcode' }, :label_html => { :class => 'form-label' } %>
    <%= f.association :postal_town, collection: @towns, :input_html => { :class => 'x-large-text-field', :id => 'fnt_town' }, :label_html => { :class => 'form-label' } %>
    <%= f.association :postal_province, collection: @provinces, :input_html => { :class => 'x-large-text-field', :id => 'fnt_province' }, :label_html => { :class => 'form-label' } %>
    <%= f.association :postal_region, collection: @regions, :input_html => { :class => 'x-large-text-field', :id => 'fnt_region' }, :label_html => { :class => 'form-label' } %>
    <%= f.association :postal_country, collection: @countries, :input_html => { :class => 'large-text-field', :id => 'fnt_country' }, :label_html => { :class => 'form-label' } %>
  </div>
  <div class="modal-footer">
    <%= f.submit t('activerecord.attributes.subscriber.accept'), disable_with: t("activerecord.attributes.pre_reading.loading"), :class => "btn btn-primary" %>
    <a class="btn btn-primary" data-dismiss="modal" href="#"><%= t :close_button %></a>
  </div>
  <% end %>
</div>
