<!-- Cobrar Factura -->
<div id="charge-invoice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Cobrar factura</h3>
  </div>
  <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.subscriber.series') %></th>
            <th><%= t('activerecord.attributes.subscriber.invoice_number') %></th>
            <th><%= t('activerecord.attributes.subscriber.subscriber_code') %></th>
            <th><%= t('activerecord.attributes.subscriber.class_invoice') %></th>
            <th><%= t('activerecord.attributes.subscriber.pending') %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>30</td>
            <td>17</td>
            <td>4231-111111</td>
            <td>Acometida</td>
            <td>236.55 €</td>
          </tr>
        </tbody>
      </table>
      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label"><b>Forma de pago</b></label>
          <div class="controls">
            <select id="payment-method-select">
              <option></option>
              <option>Transferencia bancaria</option>
              <option>Ventanilla bancaria</option>
              <option>Caja</option>
            </select>
          </div>
        </div>
      </form>

      <form class="form-horizontal hide" id="cash-machine">
        <fieldset>
          <legend>Cobro por ventanilla</legend>
          <div class="control-group">
            <label class="control-label"><b>Fecha cobro</b></label>
            <div class="controls">
              <input type="date" value="2015-09-17">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><b>Total</b></label>
            <div class="controls">
              <input type="text" value="236.55" disabled>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><b>Recibido</b></label>
            <div class="controls">
              <input type="text">
            </div>
          </div>
          <div class="control-group">
            <label class="control-label"><b>Vuelta</b></label>
            <div class="controls">
              <input type="text" disabled>
            </div>
          </div>
        </fieldset>
      </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
    <button class="btn btn-primary">Cobrar</button>
  </div>
</div>