<style>
label.checkbox {
    width: 50%;
    display: inline-block;
}
</style>
<script>
jQuery(function($) {
  // when #input_change_meter changes
  $("#input_change_meter").change(function() {
    // make a POST call and replace the content
    var meter = $('#input_change_meter').val();
    if (meter == "")
      meter = "$";
    jQuery.getJSON('su_find_meter/' + meter, function(data) {
      $("#alert_change").html(data.alert);
      if (data.code == "$err") {
        $("#alert_change").css('color', 'red');
        alert('<%= I18n.t("activerecord.errors.models.meter.installation_error") %>\n' + data.alert);
        $('#input_change_meter').select();
      } else {
        $("#alert_change").css('color', text_field_color);
        $('#sel2_association_change').val(data.meter_id);
      }
    });
    return false;
  });
});
//End jQuery function, exclusive $ jQuery function
</script>

<div id="changeMeter" class="modal modalMeterChange hide fade" data-backdrop="static">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t('activerecord.attributes.subscriber.change_meter') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <%= simple_form_for :reading, url: { action: :change_meter, controller: 'subscribers'}, :html => { "data-type" => :json, :class => 'form-inline', :id => 'form_change_meter' } do |f| %>
    <div class="modal-body">
 
      <h4><%= t('activerecord.attributes.subscriber.quit_meter') %></h4>

      <%= f.input :q_reading_index, label: t('activerecord.attributes.reading.reading'), :required => true, :input_html => { :class => 'mid-text-field', :id => 'input_quit_reading_index' }, :label_html => { :class => 'form-label' } %>

      <%= f.input :q_reading_date, label: t('activerecord.attributes.reading.reading_date'), :required => true, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => Date.today, :class => 'mid-text-field date_picker'}, :label_html => { :class => 'form-label' } %>

      <%= f.input :q_billing_period_id, collection: BillingPeriod.all, label: t('activerecord.attributes.subscriber.reading_period'), :required => true, input_html: { class: 'x-large-text-field sel2'}, label_html: { class: 'form-label' }, include_blank: true %>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseChangeMeterQ"><%= t('activerecord.attributes.subscriber.incidences') %></a>
        </div>
        <div id="collapseChangeMeterQ" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= f.input :q_reading_incidence_type_ids, collection: ReadingIncidenceType.all, as: :check_boxes, label: false, input_html: { class: 'x-large-text-field sel2'}, label_html: { class: 'form-label' }, include_blank: true %>
          </div>
        </div>
      </div>
      <h4><%= t('activerecord.attributes.subscriber.add_meter') %></h4>

      <%= f.input :meter, required: true, input_html: { class: 'mid-text-field', maxlength: 20, id: 'input_change_meter' }, label_html: { class: 'form-label' }, label: t('activerecord.attributes.meter.meter_code_f') %>
      <%= f.input :meter_id, as: :hidden, input_html: { id: 'sel2_association_change' } %>

      <%= f.input :meter_location_id, required: true, collection: MeterLocation.all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: true, label: t('activerecord.attributes.meter_detail.meter_location') %>

      <%= f.input :a_reading_index, label: t('activerecord.attributes.reading.reading'), :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field'}, :label_html => { :class => 'form-label' } %>

      <%= f.input :a_reading_date, label: t('activerecord.attributes.reading.reading_date'), :required => true, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => Date.today, :class => 'mid-text-field date_picker'}, :label_html => { :class => 'form-label' } %>

      <%= f.input :a_billing_period, collection: BillingPeriod.all, label: t('activerecord.attributes.subscriber.reading_period'), :required => true, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: true %>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseChangeMeterA"><%= t('activerecord.attributes.subscriber.incidences') %></a>
        </div>
        <div id="collapseChangeMeterA" class="accordion-body collapse">
          <div class="accordion-inner">
            <%= f.input :a_reading_incidence_type_ids, collection: ReadingIncidenceType.all, as: :check_boxes, label: false, input_html: { class: 'x-large-text-field sel2'}, label_html: { class: 'form-label' }, include_blank: true %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <span class="left-floated shrinked" style="vertical-align: bottom" id="alert_change"></span>
      <%= f.submit t('activerecord.attributes.subscriber.accept'), :class => "btn btn-primary" %>
      <button id="cancelButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
    </div>

  <% end %>

</div>
