<script>
var invalidIBAN = '<%= t("activerecord.errors.models.client_bank_account.iban_invalid") %>';
var tryAgain = '<%= t("should_try_again") %>';

$(document).ready(function() {
  // Select2
  $('select.custom-sel2').select2({
    formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
    allowClear: true,
    formatSelection: function(country){
      return '<span>' + country.text.split(' ')[0] + '</span>';
    },
  });

  // DatePicker
  $('.date_picker').datepicker({
    format : 'dd/mm/yyyy',
    weekStart : 1
  }).on('changeDate', function(e){
    $('.date_picker').datepicker('hide');
  });

  $('#submit_client_bank_btn').click(function(e){
    var iban = $("#fnt-iban").val();
    if (iban.length){
      e.preventDefault();
      var isValid = true;
      jQuery.getJSON('https://openiban.com/validate/' + iban, function (data) {
        isValid = data.valid
        if (data.valid == false) {
          alert(data.iban + ' ' + invalidIBAN + '\n' + tryAgain);
          $("#fnt-iban").val("");
          return false;
        } else {
          alert(data.iban + ' OK');
          $("#form_new_client_bank").submit();
          $("#newAccountModal").modal('hide');
        }
      });
    }
  });
});

jQuery(function($) {
  // when the #client_bank_account_bank field changes
  $("#fnt_bank").change(function() {
    // make a POST call and replace the content
    //var bank = $('select#fnt_bank :selected').val();
    var bank = $('select#fnt_bank').val();
    if (bank == "")
      bank = "0";
    jQuery.getJSON('/ag2_gest/contracting_requests/update_bank_offices_from_bank/' + bank, function(data) {
      var o = data.office;
      $("#fnt_bank_office").html("");
      $("#fnt_bank_office").select2("val", "");
      $("#fnt_bank_office").append($('<option></option>').val("").html(""));
      if (!o.length) {
        $.each(data, function(id, option) {
          if (id == 'office' && option != "") {
            $("#fnt_bank_office").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          }
        });
      } else {
        $.each(o, function(id, option) {
          $("#fnt_bank_office").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
        });
      }
    });
    return false;
  });
  // when #check_iban_btn is clicked
  $(".check_iban_btn").click(function() {
    // var country = $("#fnt_bank_country").val();
    // var dc = $("#client_bank_account_iban_dc").val();
    // var bank = $("#fnt_bank").val();
    // var office = $("#fnt_bank_office").val();
    // var account = $("#client_bank_account_account_no").val();
    // var isValidIBAN = validate_iban(invalidIBAN, tryAgain, country, dc, bank, office, account, 'sub_check_iban');
    var iban = $("#fnt-iban").val();
    var isValidIBAN = validate_iban_new(invalidIBAN, tryAgain, iban);
    return false;
  });
});
</script>

<div id="newAccountModal" class="modal hide fade" style="display: none;">
  <%= simple_form_for ClientBankAccount.new, url: add_bank_account_path(@subscriber), method: :post, :remote => true, :html => { class: 'modal-footer-right form-inline', :id => 'form_new_client_bank' } do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <% e = t(:item_error) %>
    <div class="modal-header">
      <a class="close" data-dismiss="modal">&#215;</a>
      <h3><%= t("ag2_purchase.suppliers.add_account") %></h3>
      <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
    </div>
    <div class="modal-body">
      <%= f.input :client_id, :as => :hidden, :input_html => { :value => @subscriber.client_id } %>
      <%= f.input :subscriber_id, :as => :hidden, :input_html => { id: 'fnt_id', :value => @subscriber.id } %>
      <%= f.association :bank_account_class, required: true, collection: @bank_account_classes, label_method: :full_name, value_method: :id, input_html: { class: 'x-large-text-field', :id => 'fnt_bank_account_class' }, label_html: { class: 'form-label' }, include_blank: true %>
      <%#= f.input :country_id, :required => true, collection: @countries, label_method: :full_name, value_method: :id, :input_html => { :class => 'x-large-text-field', maxlength: "2", :id => 'fnt_bank_country' }, :label_html => { :class => 'form-label' } %>
      <%#= f.input :iban_dc, :required => true, :input_html => { :class => 'x-large-text-field', maxlength: "2" }, :label_html => { :class => 'form-label' } %>
      <!-- BANK -->
      <%#= f.input :bank_id, :required => true, collection: @bank, label_method: :full_name, value_method: :id, :input_html => { :class => 'x-large-text-field', maxlength: "4", :id => 'fnt_bank' }, :label_html => { :class => 'form-label' } %>
      <!-- BANK OFFICE -->
      <%#= f.input :bank_office_id, :required => true, collection: @bank_offices, label_method: :full_name, value_method: :id, :input_html => { :class => 'x-large-text-field', maxlength: "4", :id => 'fnt_bank_office' }, :label_html => { :class => 'form-label' } %>
      <!-- <#%= f.input :ccc_dc, :required => true, :input_html => { :class => 'x-large-text-field', maxlength: "2" }, :label_html => { :class => 'form-label' } %> -->
      <%#= f.input :account_no, :required => true, :input_html => { :class => 'x-large-text-field', maxlength: "12" }, :label_html => { :class => 'form-label' } %>
      <%= f.input :iban, :required => true, input_html: { class: 'x-large-text-field field', minlength: 4, maxlength: 34, id: 'fnt-iban', data: { validation: "required", "validation-error-msg" => "#{e}" }, onkeydown: "only_digit_or_letter(event)", onkeyup: "caps(this)" }, label_html: { class: 'form-label' } %>
      <%= f.input :holder_name, :required => true, :input_html => { :class => 'x-large-text-field', :value => @subscriber.client.full_name_or_company }, :label_html => { :class => 'form-label' } %>
      <%= f.input :holder_fiscal_id, :required => true, :input_html => { :class => 'x-large-text-field', :value => @subscriber.client.fiscal_id }, :label_html => { :class => 'form-label' } %>
      <%= f.input :starting_at, :required => true, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => Date.today, :class => 'x-large-text-field date_picker' }, :label_html => { :class => 'form-label' } %>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary check_iban_btn" href="#"><%=t('validate') %></a>
      <%= f.button :submit, t("activerecord.attributes.contracting_request.accept"), disable_with: t("activerecord.attributes.pre_reading.loading"), :class => 'btn btn-primary', :id => 'submit_client_bank_btn' %>

      <a class="btn btn-primary" data-dismiss="modal" href="#"><%= t :close_button %></a>
    </div>
  <% end %>
</div>
