<script type="text/javascript">
  $(document).ready(function(){

    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });


  //Via Ajax Indicate Meter associated
  jQuery(function($) {

    $("#form_quit_meter").bind("ajax:success", function(xhr, data, status) {

      //Clean fields
      $('#info_meter, #info_brand, #info_caliber').empty();

      $(".modalMeterQuit").modal().hide();
      $('.modalMeterQuit').modal('toggle');

      var add_button = `<a href="#addMeter" id="add_meter" role="button" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.data_add_meter') %></a>`;

      var parent_buttons = $('#link_reading').parent();
      parent_buttons.children().remove(); //Delete Children Buttons
      parent_buttons.append(add_button); //Add Button "Add Meter"

      //Formatt Date
      var date =``;

      if (data.reading.reading_date !== undefined) {
        date += `${data.reading.reading_date.substring(8, 10)}/${data.reading.reading_date.substring(5, 7)}/${data.reading.reading_date.substring(0, 4)}`;
      }

      //ReadingIncidenceTypes
      var reading_incidence_types = "";
      var title = "";

      if (data.reading_incidence_types[0] == undefined && data.reading_incidence_types[0] == null){
        reading_incidence_types = "-";

      } else {
        var str_incidence = data.reading_incidence_types.length;
        /*Añadir los elementos i en función de los incidence types que tenga*/

        for(var i=0; i < str_incidence; i++) {
          if (i >= 1) {
            title += `, `;
          }
          title += `${data.reading_incidence_types[i]}`;
        }
        reading_incidence_types = `<i title="${title}" class="icon-ok"></i>`;
      }

      //Add Reading to Table
      var text = `<tr><td>${data.reading.id}</td><td>-</td><td><a href="/es/ag2_gest/es/reading_types/${data.reading.reading_type_id}">${data.reading_type_name}</a></td><td>${date}</td><td>${data.reading.reading_index}</td><td>${reading_incidence_types}</td>`;
        text += `<td class="a_inline"><a href="/es/ag2_gest/es/readings/${data.reading.id}/edit" class="btn btn-mini"><i class="icon-edit"></i></a><a href="/es/ag2_gest/es/readings/${data.reading.id}"class="btn btn-mini" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a></td></tr>`;

      $('#readings table tbody').after(text);

      //Put Values to 0
      $('#form_quit_meter').find('[type=checkbox]').prop('checked', false);
      $('#input_quit_reading_index, #input_quit_reading_date').val("");

      //Hide Collapse Options //=> doesn't work
      //$('#collapseQuitMeter').collapse('hide');

    });

  });//End jQuery function, exclusive $ jQuery functions

</script>

<!-- QuitMeter -->
<div id="quitMeter" class="modal modalMeterQuit hide fade" data-backdrop="static">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t('activerecord.attributes.subscriber.quit_meter') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <%= simple_form_for @reading, url: { action: :quit_meter, controller: 'subscribers'}, :html => { "data-type" => :json, :class => 'modal-footer-right form-inline', :id => 'form_quit_meter' } do |f| %>
    <div class="modal-body">
      <%#= f.association :project, collection: @project_dropdown, label: t('activerecord.attributes.subscriber.project'), input_html: { class: 'x-large-text-field sel2', :id => "project" }, :required => true, label_html: { class: 'form-label' }, include_blank: true %>

      <%= f.input :reading_index, label: t('activerecord.attributes.reading.reading'), :required => true, :input_html => { :class => 'mid-text-field', :id => 'input_quit_reading_index' }, :label_html => { :class => 'form-label' } %>

      <%= f.input :reading_date, label: t('activerecord.attributes.reading.reading_date'), :required => true, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.reading_date.strftime("%d/%m/%Y") if f.object.reading_date), :class => 'mid-text-field date_picker', :id => 'input_quit_reading_date'  }, :label_html => { :class => 'form-label' } %>

      <%= f.association :billing_period, collection: @billing_period, label: t('activerecord.attributes.subscriber.reading_period'), :required => true, input_html: { class: 'x-large-text-field sel2', :id => "input_quit_billing_period" }, label_html: { class: 'form-label' }, include_blank: true %>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseQuitMeter"><%= t('activerecord.attributes.subscriber.incidences') %></a>
        </div>
        <div id="collapseQuitMeter" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <% @reading_incidence.each do |incidence_type| %>
                <li style="width:50%;float:left;">
                  <label class="checkbox">
                    <%= check_box_tag 'incidence_type_ids[]', incidence_type.id %>
                    <%= h incidence_type.name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <%= f.submit t('activerecord.attributes.subscriber.accept'), :class => "btn btn-primary", :id => "submit_quit" %>
      <button id="cancelButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
    </div>

  <% end %>

</div>
<script>
  jQuery(function($) {
    $("#submit_quit").click(function () {
      var reading_index = $("#input_quit_reading_index").val();
      var reading_date = $("#input_quit_reading_date").val();
      var billing_period= $("#input_quit_billing_period").val();
      if (reading_index == "" || reading_date == "" || billing_period == "") {
        alert("<%= I18n.t(:mandatory_subtitle) %>");
        return false;
      } else if (reading_index < 0) {
        alert("<%= I18n.t(:index_negative) %>");
        return false;
      }
    });
  });
</script>
