<%= render '/layouts/ag2_gest/waterconnectiontypebreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @water_connection_type %> |
<%= link_to t('.back'), water_connection_types_path %>