<%= render '/layouts/ag2_purchase/ostatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "name", t('activerecord.attributes.order_status.name') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @order_statuses.each do |status| %>
      <tr>
        <td><%= link_to status.name, status %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => OrderStatus, :path => edit_order_status_path(status) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => OrderStatus, :path => status, :msg => t("activerecord.models.order_status.one"), :txt => status.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @order_statuses } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => OrderStatus, :path => new_order_status_path, :txt => t(".btn_new") } %>
  <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
</div>
