<%= render '/layouts/ag2_purchase/ostatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @order_status.id %></td>
      <td><%=t 'activerecord.attributes.order_status.name' %>:</td>
      <td><%= @order_status.name.titleize %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.order_status.approval' %>:</td>
      <td> <% if @order_status.approval %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
      <td><%=t 'activerecord.attributes.order_status.notification' %>:</td>
      <td> <% if @order_status.notification %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @order_status } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @order_status } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: OrderStatus, update_path: edit_order_status_path(@order_status), update_txt: t('.btn_edit'),
delete_path: @order_status, delete_txt: t('.btn_delete'), msg: t("activerecord.models.order_status.one"), txt: @order_status.name,
new_path: new_order_status_path, new_txt: t('ag2_purchase.order_statuses.index.btn_new') } %>

<%= link_to t("ag2_purchase.order_statuses.back_to_main_page"), order_statuses_path %>
