<%= render '/layouts/ag2_admin/appsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%=t 'activerecord.attributes.app.name' %></th>
        <th><%=t 'activerecord.attributes.app.path' %></th>
        <th><%=t 'activerecord.attributes.app.site' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @apps.each do |app| %>
      <tr>
        <td><%= link_to app.name, app %></td>
        <td><%= app.site.path %>/<%= app.path %></td>
        <td><%= app.site.name unless app.site.blank? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => App, :path => edit_app_path(app) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => App, :path => app, :msg => I18n.t("activerecord.models.app"), :txt => app.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => App, :path => new_app_path, :txt => I18n.t("ag2_admin.apps.index.btn_new") } %>
  <%= link_to I18n.t("ag2_admin.apps.index.go_to"), sites_path %> |
  <%= link_to I18n.t("ag2_admin.apps.index.back_to_root"), ag2_admin.root_path %>
</div>
