<%= render '/layouts/ag2_admin/appsbreadcrumb' %>

<h3><%= @app.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @app.id %></td>
      <td><%=t 'activerecord.attributes.app.site' %>:</td>
      <td><%= @app.site.name unless @app.site.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.app.description' %>:</td>
      <td><%= @app.description %></td>
      <td><%=t 'activerecord.attributes.app.path' %>:</td>
      <td><%= @app.site.path %>/<%= @app.path %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.app.pict_file' %>:</td>
      <td><%= @app.pict_file %></td>
      <td><%=t 'activerecord.attributes.app.icon_file' %>:</td>
      <td><%= @app.icon_file %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @app } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @app } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_admin.apps.show.btn_edit'), edit_app_path(@app), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t('ag2_admin.apps.show.show_to'), @app.site %> |
<%= link_to I18n.t('ag2_admin.apps.back_to_main_page'), apps_path %>
