<%= render '/layouts/ag2_admin/appsbreadcrumb' %>

<h3><%= @app.name %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @app.id %></td>
      <td><%=t 'activerecord.attributes.app.site' %>:</td>
      <td><%= @app.site.name unless @app.site.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.app.description' %>:</td>
      <td><%= @app.description %></td>
      <td><%=t 'activerecord.attributes.app.path' %>:</td>
      <td><%= @app.site.path %>/<%= @app.path %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.app.pict_file' %>:</td>
      <td><%= @app.pict_file %></td>
      <td><%=t 'activerecord.attributes.app.icon_file' %>:</td>
      <td><%= @app.icon_file %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @app } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @app } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update_delete_new', locals:
{ model: App, update_path: edit_app_path(@app), update_txt: t('ag2_admin.apps.show.btn_edit'),
delete_path: @app, delete_txt: t('ag2_admin.apps.show.btn_delete'), msg: t("activerecord.models.app.one"), :txt => @app.name,
new_path: new_app_path, new_txt: t('ag2_admin.apps.index.btn_new') } %>

<%= link_to I18n.t('ag2_admin.apps.show.show_to'), @app.site %> |
<%= link_to I18n.t('ag2_admin.apps.back_to_main_page'), apps_path %>
