<style>
  .center {
    text-align: center!important;
  }
</style>

<%= render '/layouts/ag2_gest/prereadingsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Buttons -->
        <%= link_to t('activerecord.attributes.pre_reading.generate_readings'), new_pre_reading_path, class: "btn btn-block btn-primary" %>
        <%= link_to t('activerecord.attributes.pre_reading.impute_readings'), new_impute_pre_readings_path, class: "btn btn-block btn-primary" %>
        <br />
        <%= link_to t("ag2_gest.pre_readings.index.back_to_management"), ag2_gest.reading_management_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9" id="div_table">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.pre_reading.reading_route_id") %></th>
            <th class="center"><%= t("activerecord.attributes.pre_reading.billing_period_id") %></th>
            <th class="center"><%= t("activerecord.attributes.pre_reading.prereadings_number") %></th>
          </tr>
        </thead>
        <tbody>
          <% @pre_readings.each do |pre_reading| %>
            <tr>
              <td ><%= ReadingRoute.find(pre_reading[0][0]).try(:name) %></td>
              <td class="center"><%= BillingPeriod.find(pre_reading[0][1]).try(:period) %></td>
              <td class="center"><%= pre_reading[1].count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.span9 -->

  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
