<%= render '/layouts/ag2_gest/prereadingsbreadcrumb' %>

<h3><%=t 'ag2_gest.pre_readings.list_title' %></h3>

<h5>Periodo: <%= BillingPeriod.find(@period).try(:period) %></h5>
<h5>Rutas: <%= ReadingRoute.where(id: @routes).map(&:name).join(",") %></h5>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="div_table">
      <table class="table table-condensed table-striped shrinked stu">
        <thead>
          <tr>
            <th><%= t("activerecord.attributes.pre_reading.route") %></th>
            <th align="right"><%= t("activerecord.attributes.pre_reading.reading_seq") %></th>
            <th><%= t("activerecord.attributes.pre_reading.subscriber_id") %></th>
            <th><%= t("activerecord.attributes.pre_reading.delivery_address") %></th>
            <th><%= t("activerecord.attributes.pre_reading.meter_id") %></th>
            <th><%= t("activerecord.attributes.pre_reading.billing_period_id") %></th>
            <th><%= t("activerecord.attributes.pre_reading.reading_index_2") %></th>
            <th><%= t("activerecord.attributes.pre_reading.reading_index_1") %></th>
          </tr>
        </thead>
        <tbody>
          <% @pre_readings.each_with_index do |pre_reading,index| %>
            <tr>
                <td>
                  <%= pre_reading.try(:reading_route).try(:route_code) %>
                </td>
                <td align="right">
                  <%= pre_reading.reading_sequence %>
                </td>
                <td>
                  <%= pre_reading.try(:subscriber).try(:subscriber_code) %>
                </td>
                <td>
                  <%= pre_reading.try(:subscriber).try(:street_directory).try(:street_name) %>
                </td>
                <td>
                  <%= pre_reading.try(:meter).try(:meter_code) %>
                </td>
                <td>
                  <%= pre_reading.try(:billing_period).try(:period) %>
                </td>
                <td>
                  <%= "#{pre_reading.reading_2.try(:billing_period).try(:period)} #{pre_reading.reading_index_2}"  %>
                </td>
                <td>
                  <%= "#{pre_reading.reading_1.try(:billing_period).try(:period)} #{pre_reading.reading_index_1}" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @pre_readings } %>
    </div>
    <div>
      <%= link_to "Imprimir", to_pdf_pre_readings_path(:format => :pdf, prereading: {reading_routes: @routes, period: @period, project: @project }), class: "btn btn-warning", target: "_blank" %>
      <%= link_to "Enviar tpl", to_pdf_pre_readings_path(:format => :pdf, prereading: {reading_routes: @routes, period: @period, project: @project }), class: "btn btn-warning", target: "_blank" %>
      <!-- <#%= link_to t('activerecord.attributes.pre_reading.impute_readings'), new_impute_pre_readings_path, class: "btn btn-primary" %> -->
      <%= link_to t('activerecord.attributes.pre_reading.impute_readings'), impute_readings_pre_readings_path(prereading: {reading_routes: @routes, period: @period, project: @project }), class: "btn btn-primary" %>
      <a href="<%= show_list_pre_readings_path(format: :csv) %>" download class="btn btn-success pull-right"><%= I18n.t('activerecord.attributes.reading.exportcsv') %></a>   
    </div>
  </div>
  <br>
  <%= link_to t("ag2_gest.pre_readings.back_to_main_page"), ag2_gest.pre_readings_path %>
</div>
