<script type="text/javascript">
  $(document).ready(function() {
    // Select2
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });

    jQuery(function($) {

      // when the #pre_period field changes
      $("#prereading_period").change(function() {
        // make a POST call and replace the content
        //var contact = $('select#prereading_period :selected').val();
        var contact = $('select#prereading_period').val();
        if (contact == "")
          contact = "0";
        jQuery.getJSON('update_reading_route_from_period/' + contact, function(data) {
          var rr = data.reading_route;
          $("#prereading_reading_routes").html("");
          $("#prereading_reading_routes").select2("val", "");
          $("#prereading_reading_routes").append($('<option></option>').val("").html(""));
          if (!rr.length) {
            $.each(data, function(id, option) {
              if (id == 'reading_route' && option != "") {
                $("#prereading_reading_routes").append($('<option></option>').val(option.id).html(option.routing_code.substring(0,4) + "-" + option.routing_code.substring(4,10) + " (" + option.name + ")"));
              }
            });
          } else {
            $.each(rr, function(id, option) {
              $("#prereading_reading_routes").append($('<option></option>').val(option.id).html(option.routing_code.substring(0,4) + "-" + option.routing_code.substring(4,10) + " (" + option.name + ")"));
            });
          }
        })
        return false;
      });
    });
  });
  </script>

<%= render '/layouts/ag2_gest/prereadingsbreadcrumb' %>

<h3><%=t 'activerecord.attributes.pre_reading.impute_readings' %></h3>

<%= simple_form_for :prereading, url: impute_readings_pre_readings_path, method: :get, :html => {:class => 'form-vertical well', multiple: "multiple"} do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>

<div class="row-fluid">
  <div class="span4">
    <%= f.input :period, required: true, label: t('activerecord.attributes.reading.billing_period_id'), collection: @billing_periods, input_html: {class: "x-large-text-field", id: 'new_input_period'}, :label_html => { :class => 'form-label' } %>
  </div>
  <div class="span4">
    <%= f.input :centers, required: true, label: t('activerecord.attributes.service_point.center_id'), collection: @centers, label_method: :second, value_method: :first, input_html: {class: "sel2 x-large-text-field multiple", multiple: "multiple", id: 'new_input_centers'}, :label_html => { :class => 'form-label' } %>
  </div>
  <div class="span4">
    <%= f.input :reading_routes, required: false, label: t('activerecord.attributes.reading.reading_route'), collection: @reading_routes, label_method: :second, value_method: :first, input_html: {class: "sel2 x-large-text-field multiple", multiple: "multiple"}, :label_html => { :class => 'form-label' } %>
  </div>
</div>

<%= f.button :submit, "Cargar e Imputar", :class => 'btn-primary', :id => "submit_input" %>
<% end %>

<%= link_to I18n.t('ag2_gest.pre_readings.back_to_main_page'), pre_readings_path %>

<script>
  jQuery(function($) {
    $("#submit_input").click(function () {
      var new_period = $("#new_input_period").val();
      var new_centers = $("#new_input_centers").select2("val",);
      if (new_period == "" || new_centers == "" ) {
        alert("<%= I18n.t(:mandatory_subtitle) %>");
        return false;
      }
    });
  });
</script>
