<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", 'Id' %></th>
      <th><%= sortable "name", t('activerecord.attributes.work_order_status.name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @work_order_statuses.each do |status| %>
    <tr>
      <td><%= status.id %></td>
      <td><%= link_to status.name, status %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => WorkOrderStatus, :path => edit_work_order_status_path(status) } unless cannot_edit(status) %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => WorkOrderStatus, :path => status, :msg => t("activerecord.models.work_order_status.one"), :txt => status.name } unless cannot_edit(status) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @work_order_statuses } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => WorkOrderStatus, :path => new_work_order_status_path, :txt => t("ag2_tech.work_order_statuses.index.btn_new") } %>
<%= link_to t("ag2_tech.work_order_statuses.index.back_to_root"), ag2_tech.root_path %>
