<%= render '/layouts/ag2_tech/worderstatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @work_order_status.id %></td>
      <td><%=t 'activerecord.attributes.work_order_status.name' %>:</td>
      <td><%= @work_order_status.name.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @work_order_status } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @work_order_status } %>
  </tbody>
</table>

<% if cannot_edit(@work_order_status) %>
<%= render partial: '/layouts/crud/new', locals: { model: WorkOrderStatus, path: new_work_order_status_path, txt: t('ag2_tech.work_order_statuses.index.btn_new') } %>
<% else %>
<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: WorkOrderStatus, update_path: edit_work_order_status_path(@work_order_status), update_txt: t('.btn_edit'),
delete_path: @work_order_status, delete_txt: t('.btn_delete'), msg: t("activerecord.models.work_order_status.one"), txt: @work_order_status.name,
new_path: new_work_order_status_path, new_txt: t('ag2_tech.work_order_statuses.index.btn_new') } %>
<% end %>

<% if (@worker_orders.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_tech/wordersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_tech.work_order_statuses.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_tech/worders', :locals => { :orders => @worker_orders } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @worker_orders } %>
<% end %>

<%= link_to t("ag2_tech.work_order_statuses.back_to_main_page"), work_order_statuses_path %>
