<%= simple_form_for @town, :html => {:class => 'span12 two-columns-form form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div class="span6 form-column">
  <%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' } %>
  <%= f.input :ine_cmun, :required => true, :input_html => { :class => 'x-small-text-field number-text-field' } %>
  <%= f.input :ine_dc, :required => true, :input_html => { :class => 'x-small-text-field number-text-field' } %>
</div>
<div class="span6 form-column">
  <%= f.association :province, collection: Province.all(order: 'name'), :input_html => { :class => 'large-text-field' } %>
</div>
<div class="span12 form-column">
  <%= f.button :submit, :class => 'btn-primary' %>
  <br />
  <br />
</div>
<% end %>
