<%= render '/layouts/ag2_admin/townsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span8">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%=t 'activerecord.attributes.town.name' %></th>
        <th><%=t 'activerecord.attributes.town.province' %></th>
        <th><%=t 'activerecord.attributes.town.ine_cmun' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @towns.each do |town| %>
      <tr>
        <td><%= link_to town.name, town %></td>
        <td><%= town.province.name_and_region unless town.province.blank? %></td>
        <td><%= town.ine_cmun %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Town, :path => edit_town_path(town) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Town, :path => town, :msg => I18n.t("activerecord.models.town"), :txt => town.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Town, :path => new_town_path, :txt => I18n.t("ag2_admin.towns.index.btn_new") } %>
  <%= link_to I18n.t("ag2_admin.towns.index.go_to_parent"), provinces_path %> |
  <%= link_to I18n.t("ag2_admin.towns.index.go_to_link"), zipcodes_path %> |
  <%= link_to I18n.t("ag2_admin.towns.index.back_to_root"), ag2_admin.root_path %>
</div>
