<%= render '/layouts/ag2_help_desk/prioritiesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span6">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%=t :"activerecord.attributes.ticket_priority.name" %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @ticket_priorities.each do |t| %>
      <tr>
        <td><%= link_to t.name.titleize, t %></td>
        <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => TicketPriority, :path => edit_ticket_priority_path(t) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => TicketPriority, :path => t, :msg => I18n.t("activerecord.models.ticket_priority.one"), :txt => t.name } unless t.id < 4 %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @ticket_priorities } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => TicketPriority, :path => new_ticket_priority_path, :txt => I18n.t("ag2_help_desk.ticket_priorities.index.btn_new") } %>
  <%= link_to I18n.t("ag2_help_desk.ticket_priorities.index.back_to_root"), ag2_help_desk.root_path %>
</div>
