<%= render '/layouts/ag2_help_desk/prioritiesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @ticket_priority.id %></td>
      <td><%=t :"activerecord.attributes.ticket_priority.name" %>:</td>
      <td><%= @ticket_priority.name.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @ticket_priority } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @ticket_priority } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_new', locals:
{ model: TicketPriority, update_path: edit_ticket_priority_path(@ticket_priority), update_txt: t('.btn_edit'),
new_path: new_ticket_priority_path, new_txt: t('ag2_help_desk.ticket_priorities.index.btn_new') } %>

<%= link_to I18n.t("ag2_help_desk.ticket_priorities.back_to_main_page"), ticket_priorities_path %>
