<script type="text/javascript">
  $(document).ready(function() {
    // ajax success for instalation_subscriber

    $("#billing-form").bind("ajax:success", function(xhr, data, status) {
        //alert("Guardado con exito");
    });


    $("#billing-form input, #billing-form select").change(function() {

      /*Know the invoice*/
      var _id = this.name.substring(this.name.indexOf("[")+1, this.name.indexOf("]")); //Obtengo el número de name = ID INVOICEITEM CHANGED

      /*Saber que tipo de input ha cambiado*/
      var str = this.name.substring(this.name.length-3 ,this.name.length);

      /*Value changed*/
      var value = this.value;

      var index_table = $(`.in_item${_id} input`).closest("table").attr('class').substring(11, ($(`.in_item${_id} input`).closest("table").attr('class').length)); //Get number table changed = INVOICE CHANGED

      /*GET ALL VALUES INVOICEITEM CHANGED*/
      var _tax = $(`#invoice_item_${_id}_tax_type_id`).find(":selected").text(); //Obtengo el Impuesto
      var _quantity = $(`.in_item${_id} input`).get(0).value;
      var _price = $(`.in_item${_id} input`).get(1).value;
      var _discount = $(`.in_item${_id} input`).get(2).value;
      var _discountpct = $(`.in_item${_id} input`).get(3).value;

      var index_table = $(`.in_item${_id} input`).closest("table").attr('class').substring(11, ($(`.in_item${_id} input`).closest("table").attr('class').length)); //Get number table changed
      var invoice = "." + $(`.in_item${_id} input`).closest("table").attr('class').substring(6, ($(`.in_item${_id} input`).closest("table").attr('class').length)); //Get class identifier table changed

      if (str == "unt"){ //discount
        _discount = value;
      }
      if (str == "pct"){ //discount_pct
        _discountpct = value;
      }
      if (str == "ice"){ //price
        _price = value;
      }
      if (str == "ity"){ //quantity
        _quantity = value;
      }
      if (str == "id]"){ //Select Option Impuesto and Update Attributte
        var opt_total = $(`#invoice_item_${_id}_tax_type_id option`).length; //get total option

        //Remove Attributte Selected DOM
        for (var opt = 0; opt < opt_total; opt++){
          if ($(`#invoice_item_${_id}_tax_type_id option`)[opt].hasAttribute("selected")){
            $(`#invoice_item_${_id}_tax_type_id option`)[opt].removeAttribute('selected');
          }
        }
        //Add Attribute selected value changed
        $(`#invoice_item_${_id}_tax_type_id`).find(":selected").attr("selected", "selected");
      }

      /*Pass all the values to server*/
      var arr_iv_ites = $(`.in_item${_id}`).closest("table").find(".in_item"); //Array InvoiceItems
      /*Get all values and make object*/
      var inv_it_to = $(`.in_item${_id}`).closest("table").find(".in_item").length; //Total InvoiceItems

      /*Initilialize to 0*/
      var inv_item_id = [];
      var qty = 0; //Truncate 4 number right and * 10000 QUANTITY
      var pce = 0;
      var tax = 0;
      var disc = 0;
      var disc_per = 0;
      var invoice_id = parseInt(index_table);
      var invoice_item_id = 0;
      var total = 0;

      for (var t = 0; t < inv_it_to; t++){
        var id = arr_iv_ites[t].className.substring(15, arr_iv_ites[t].className.length);

        if (id == _id) {
          qty = (parseInt(right_number(_quantity, 4) * 10000)).toString(); //Truncate 4 number right and * 10000 QUANTITY
          pce = parseInt(right_number(_price, 4) * 10000);
          tax = parseInt(right_number(_tax, 4) * 10000);
          disc = parseInt(right_number(_discount, 4) * 10000);
          disc_per = parseInt(right_number(_discountpct, 4) * 10000);

          invoice_item_id = parseInt(_id);

          total = 0;
        }else { /*Get all values*/

          var item =  arr_iv_ites[t];
          qty = parseInt(right_number(item.children[1].children[0].value, 4) * 10000);
          pce = parseInt(right_number(item.children[2].children[0].value, 4) * 10000);
          tax = parseInt(right_number($(`#invoice_item_${id}_tax_type_id`).find(":selected").text(), 4) * 10000);
          disc = parseInt(right_number(item.children[5].children[0].value, 4) * 10000);
          disc_per = parseInt(right_number(item.children[6].children[0].value, 4) * 10000);
          total = parseInt(right_number(item.children[7].textContent, 4) * 10000);

        }/*InvoiceItem changed take values above//*/

        inv_item_id[t] = {qty: qty.toString(), pce: pce.toString(), tax: tax.toString(), disc: disc.toString(), disc_per: disc_per.toString(), invoice_id: invoice_id.toString(), invoice_item_id: id.toString(), changed: _id };

      }

      var arr_invoice = JSON.stringify(inv_item_id);
      var arr_invoice = encodeURIComponent(arr_invoice);

      jQuery.getJSON('dn_update_from_invoice/'+ arr_invoice, function(data) {

        /*UPDATE VALUES INVOICEITEM in HTML TABLE*/
        var invoice_id = data.invoice_items[0].invoice_id;
        var invoice_items = data.invoice_items;
        var invoice_item_changed = data.invoice_items[0].changed;

        for (var i=0; i < invoice_items.length; i++) {
          if (invoice_items[i].invoice_item_id == invoice_item_changed) {
            $(`.in_item${invoice_item_changed}`).children('.amount').get(0).textContent = invoice_items[i].amount;
            $(`.in_item${invoice_item_changed}`).children('.total').get(0).textContent = invoice_items[i].total;
          }
        }

        /*UPDATE BREAKDOWN*/
        var breakdown = data.tax_breakdown;
        $(`.table${invoice_id}`).find('.breakdown').remove();

        var content = "";
        var article = "";
        for (var p=0; p < breakdown.length; p++){

          if (breakdown[p].tax_count > 1 ){
            article = "<%= t("activerecord.attributes.contracting_request.items") %>";
          } else {
            article = "<%= t("activerecord.attributes.contracting_request.item") %>";
          }

          content += `<tr class="breakdown"><td colspan="3" class="no-boder"></td><td class="no-boder" colspan="2" ><b><%= t("activerecord.attributes.contracting_request.base_imp") %>: </b>${breakdown[p].total}</td><td class="no-boder">${breakdown[p].tax_count} ${article} </td><td><b>IVA (${breakdown[p].tax}%)</b></td><td>${breakdown[p].tax_total}</td></tr>`;
        }

        //Insert Tax Breakdown to the table
        $(`.table${invoice_id}`).find('.subtotal').first().after(content);

        /*UPDATE TOTAL AND SUBTOTAL*/
        $(`.subtotal${invoice_id}`).get(0).textContent = data.subtotal;
        $(`.total${invoice_id}`).get(0).textContent = data.total;

      });
      return false;
    });

    $("#submit-bill").click(function () {
      $("#billing-form").submit();
    });
  });
</script>

<!-- modal bill -->
<div id="billing-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_invoice" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= t("activerecord.attributes.contracting_request.invoice_contract") %></h3>
  </div>
  <div class="modal-body" style="overflow-x: hidden;">

    <form id="billing-form" accept-charset="UTF-8" action="<%= params[:id] %>/update_bill" class="form-inline" data-remote="true" data-type="json" method="post" novalidate="novalidate">
      <% if @contracting_request.try(:water_supply_contract).try(:bill).try(:invoices)  %>
        <% @contracting_request.water_supply_contract.bill.invoices.each_with_index do |invoice, index| %>

        <!-- <h1><%#= "#{@contracting_request.id} #{@contracting_request.water_supply_contract.bill.id} " %> </h1> -->
        <h5><%= t("activerecord.attributes.contracting_request.invoice_number") %>: <%= invoice.try(:invoice_no) %></h5>
        <h5><%= invoice.try(:biller).try(:name) %> | <%= t("activerecord.attributes.contracting_request.fiscal_id") %> <%= invoice.try(:biller).try(:fiscal_id) %></h5>

        <h5><%#= t("activerecord.attributes.contracting_request.payment_method") %> </h5>
        <table class="table table<%= invoice.id %>"> <!-- Num table = Num Invoice -->
          <tr>
            <th><%= t("activerecord.attributes.contracting_request.code") %></th>
            <th><%= t("activerecord.attributes.contracting_request.quantity") %></th>
            <th><%= t("activerecord.attributes.contracting_request.price") %></th>
            <th><%= t("activerecord.attributes.contracting_request.amount") %></th>
            <th><%= t("activerecord.attributes.contracting_request.tax") %></th>
            <th><%= t("activerecord.attributes.contracting_request.discount") %></th>
            <th><%= t("activerecord.attributes.contracting_request.discount_pct") %></th>
            <th><%= t("activerecord.attributes.contracting_request.total") %></th>
          </tr>
          <% invoice.invoice_items.each_with_index do |item, index| %>
            <tr class="in_item in_item<%= item.id %>">
              <td><%= item.code %></td>
              <td><input class="mid-text-field input-sm" name="invoice_item[<%= item.id %>]quantity" type="number" value="<%= item.quantity %>"></td>
              <td><input class="mid-text-field input-sm" name="invoice_item[<%= item.id %>]price" type="number" value="<%= item.price %>"></td>
              <td class="td-amount<%= item.id %> amount"><%= item.amount %></td>
              <td><%= collection_select("invoice_item["+item.id.to_s+"]", :tax_type_id, TaxType.all, :id, :tax, {include_blank: true, selected: item.tax_type_id}, {:class=>'x-large-text-field'}) %></td>
              <td><input class="mid-text-field input-sm" name="invoice_item[<%= item.id %>]discount" type="number" value="<%= item.discount %>"></td>
              <td><input class="mid-text-field input-sm" name="invoice_item[<%= item.id %>]discount_pct" type="number" value="<%= item.discount_pct %>"></td>
              <td class="total total<%= item.id %>"><%= item.total %></td>
            </tr>
          <% end %>
          <tr class="subtotal">
            <td colspan="6" class="no-boder"></td>
            <td class="subtotal black-border"><b><%= t("activerecord.attributes.contracting_request.subtotal").upcase %></b></td>
            <td class="subtotal<%= index %> black-border subtotal<%= invoice.id %>"><%= invoice.subtotal %></td>
          </tr>
          <% invoice.tax_breakdown.each do |tax| %>
            <tr class="breakdown">
              <td colspan="3" class="no-boder"></td>
              <td class="no-boder" colspan="2"><b><%= t("activerecord.attributes.contracting_request.base_imp") %>: </b> <%= tax[1] %></td>
              <td class="no-boder"><%= "#{pluralize(tax[3], 'artículo')}"  %></td>
              <td><b><%= t("activerecord.attributes.contracting_request.vat") %> (<%= tax[0] %>%)</b></td>
              <td><%= tax[2] %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="6" class="black-border"></td>
            <td class="black-border"><b><%= t("activerecord.attributes.contracting_request.total").upcase %></b></td>
            <td class="black-border total_invoice total<%= invoice.id %>"><%= invoice.total %></td>
          </tr>
        </table>
        <% end %>
      <% end %>
    </form>

  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" id="submit-bill"><%= t("activerecord.attributes.contracting_request.update") %></a>
    <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t("activerecord.attributes.contracting_request.close") %></a>
  </div>
</div>
