<%= render '/layouts/ag2_tech/cgroupsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @charge_group.id %></td>
      <td><%=t 'activerecord.attributes.charge_group.group_code' %>:</td>
      <td class="highlighted bolded"><%= @charge_group.group_code %></td>
    </tr>
      <td><%=t 'activerecord.attributes.charge_group.name' %>:</td>
      <td><%= @charge_group.name %></td>
      <td><%=t 'activerecord.attributes.charge_group.flow' %>:</td>
      <td><%= @charge_group.flow_label unless @charge_group.flow.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.charge_group.budget_heading' %>:</td>
      <td><%= @charge_group.budget_heading.full_name unless @charge_group.budget_heading.blank? %></td>
      <td><%=t 'activerecord.attributes.charge_group.ledger_account' %>:</td>
      <td><%= @charge_group.ledger_account.full_name unless @charge_group.ledger_account.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @charge_group } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @charge_group } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ChargeGroup, update_path: edit_charge_group_path(@charge_group), update_txt: t('.btn_edit'),
delete_path: @charge_group, delete_txt: t('.btn_delete'), msg: t("activerecord.models.charge_group.one"), txt: @charge_group.full_name,
new_path: new_charge_group_path, new_txt: t('ag2_tech.charge_groups.index.btn_new') } %>

<% if (@charge_accounts.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render '/layouts/ag2_tech/accountsheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_tech.charge_groups.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_tech/accounts', :locals => { :accounts => @charge_accounts } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @charge_accounts } %>
<% end %>

<% if !session[:return_to2].nil? %>
<%= link_to session[:return_to2], session[:return_to_url2] %> |
<% end %>
<%= link_to t("ag2_tech.charge_groups.back_to_main_page"), charge_groups_path %>
