<%= simple_form_for @invoice_operation, :html => {:class => 'form-vertical well' } do |f| %>

  <%= f.error_notification %>
  <%= display_base_errors resource %>

  <div class="row-fluid">
    <div class="span4">
      <%= f.input :name, :required => true, :input_html => { :class => 'x-large-text-field'}, :label_html => { :class => 'form-label' } %>
    </div>
  </div>

  <%= f.button :submit, :class => 'btn-primary' %>
<% end %>
