<%= render '/layouts/ag2_gest/invoiceoperationsbreadcrumb' %>

<h3><%= t('.title')%></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.invoice_operation.id') %>:</td>
      <td><%= @invoice_operation.try(:id) %></td>
      <td><%= t('activerecord.attributes.invoice_operation.name') %>:</td>
      <td><%= @invoice_operation.try(:name) %></td>
    </tr>
      <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @invoice_operation } %>
      <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @invoice_operation } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: InvoiceOperation, update_path: edit_invoice_operation_path(@invoice_operation), update_txt: t('.btn_edit'),
delete_path: @invoice_operation, delete_txt: t('.btn_delete'), msg: t("activerecord.models.invoice_operation.one"), :txt => @invoice_operation.name,
new_path: new_invoice_operation_path, new_txt: t('ag2_gest.invoice_operations.index.btn_new') } %>

<%= link_to I18n.t('ag2_gest.invoice_operations.back_to_main_page'), invoice_operations_path %>
