<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <!-- no -->
  <col width="15%" />
  <!-- codes -->
  <col width="5%" />
  <!-- date -->
  <col width="9%" />
  <!-- bill -->
  <col width="20%" />
  <!-- biller -->
  <col width="18%" />
  <!-- client -->
  <col width="18%" />
  <!-- total -->
  <col width="10%" />
  <!-- buttons -->
  <col width="5%" />
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.commercial_billing.invoice_no' %></th>
      <th><%= t 'activerecord.attributes.commercial_billing.codes' %></th>
      <th align="center"><%= t 'activerecord.attributes.commercial_billing.invoice_date' %></th>
      <th><%= t 'activerecord.attributes.commercial_billing.bill' %></th>
      <th><%= t 'activerecord.attributes.commercial_billing.sale_offer' %></th>
      <th><%= t 'activerecord.attributes.bill.client' %></th>
      <th align="right"><%= t 'activerecord.attributes.commercial_billing.total' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @invoices.each do |invoice| %>
      <td><%= link_to invoice.full_no, commercial_billing_path(invoice) %></td>
      <td>
        <span class="blue"><%= invoice.invoice_type.code unless invoice.invoice_type.blank? %></span>
        <span class="yellow"><%= invoice.invoice_status.code unless invoice.invoice_status.blank? %></span>
        <span class="brown"><%= invoice.invoice_operation.code unless invoice.invoice_operation.blank? %></span>
      </td>
      <td align="center"><%= formatted_date(invoice.invoice_date) unless invoice.invoice_date.blank? %></td>
      <td><%= invoice.bill.to_label unless invoice.bill.blank? %></td>
      <td><%= invoice.sale_offer.full_no unless invoice.sale_offer.blank? %></td>
      <td><%= client_name(invoice) %></td>
      <td align="right"><%= number_with_precision(invoice.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless invoice.total.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => Invoice, :path => edit_commercial_billing_path(invoice) } unless cannot_edit(invoice) %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => Invoice, :path => invoice, :msg => t("activerecord.models.commercial_billing.one"), :txt => invoice.invoice_no } unless cannot_edit(invoice) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @invoices } %>
