<!-- Modal -->
<script>

  function clients_Select2(intialValue) {
    $('#Client_').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_clients",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return {
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });

    $("#proc_mesage").hide();
    if ($('#Date_').val() == "") {
      $('#Date_').datepicker('setValue', es_date(new Date()));
    }
    clients_Select2("<%= @client %>");
  });

  jQuery(function($) {
    $('#btn_accept').click(function() {
      var supplier = $('#Client_').val();
      //var request = $('#Offer_ :selected').val();
      var request = $('#Offer_').val();
      var offer_date = $('#Date_').val();
      if ((supplier == "") || (request == "") || (offer_date == "")) {
        // Error
        alert('<%= I18n.t(:mandatory_subtitle) %>');
        return false;
      }
      // Right formatted date
      offer_date = right_date(offer_date, "<%= I18n.locale %>");
      // Show message
      $("#proc_mesage").show();
      // make the POST call
      jQuery.getJSON('ci_generate_invoice/' + supplier + '/' + request + '/' + offer_date, function(data) {
        // Hide message
        $("#proc_mesage").hide();
        // AJAX refresh index table is necessary
        $(".icon-refresh-link").click();
        // Go on based on result
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_gest.commercial_billings.generate_invoice_error") %>');
        } else if (data.code == "$write") {
          alert('<%= I18n.t("ag2_gest.commercial_billings.generate_invoice_write") %>');
        } else {
          // Hide the modal and exit
          alert(data.code);
          $("#new-invoice-from-offer").modal('hide');
          //window.location = "<%= ag2_gest.commercial_billings_path %>";
        }
      });
      return false;
    });

    // when the #Client_ field changes
    $("#Client_").change(function() {
      // make a POST call and replace the content
      var supplier = $('#Client_').val();
      if (supplier == "") supplier = 0;
      jQuery.getJSON('ci_update_offer_select_from_client/' + supplier, function(data) {
        var r = data.offer;
        $("#Offer_").html("");
        $("#Offer_").select2("val", "");
        $("#Offer_").append($('<option></option>').val("").html(""));
        if (!r.length) {
          $.each(data, function(id, option) {
            if (id == 'note' && option != "") {
              $("#Offer_").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(r, function(id, option) {
            $("#Offer_").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
      });
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      return false;
    });

    // when the #Offer_ field changes
    $("#Offer_").change(function() {
      // make a POST call and replace the content
      //var order = $('#Offer_ :selected').val();
      var order = $('#Offer_').val();
      if (order == "") order = 0;
      jQuery.getJSON('ci_current_balance/' + order, function(data) {
        $("#current-balance").html(data.balance);
      });
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      return false;
    });
  });
</script>

<div id="new-invoice-from-offer" class="modal hide fade" data-backdrop="static" style="display: none;">
  <div id="proc_mesage" class="alert alert-info">
    <%= t(:generating) %>
  </div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_gest.commercial_billings.index.btn_new_from_sale_offer') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <!-- Client -->
    <label for="Client_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.bill.client") %></label>
    <%= hidden_field_tag "Client_", params[:Client], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
    <!-- Sale offer -->
    <label for="Offer_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.commercial_billing.sale_offer") %></label>
    <%= select_tag "Offer_", options_from_collection_for_select(@sale_offers, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Invoice date -->
    <label for="Date_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.commercial_billing.invoice_date") %></label>
    <%= text_field_tag "Date_", nil, class: 'mid-text-field ndate_picker' %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("activerecord.attributes.sale_offer.unbilled_balance_c") %>=</span>
    <span class="left-floated shrinked" style="vertical-align: bottom" id="current-balance">0,0000</span>
    <a class="btn btn-primary" href="#" id="btn_accept"><%= t :generate %></a>
    <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
  </div>
</div>
