<%= render '/layouts/ag2_gest/cbillingsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @commercial_billing %> |
<%= link_to t("ag2_gest.commercial_billings.back_to_main_page"), commercial_billings_path %>
