<%= render '/layouts/ag2_gest/meterbrandsbreadcrumb' %>

<h3><%= t(".title")%></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.meter_brand.id') %>:</td>
      <td><%= @meter_brand.try(:id) %></td>
      <td><%= t('activerecord.attributes.meter_brand.brand') %>:</td>
      <td><%= @meter_brand.try(:brand) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter_brand.manufacturer') %>:</td>
      <td><%= @meter_brand.try(:manufacturer).try(:name) %></td>
      <td><%= t('activerecord.attributes.meter_brand.letter_id') %>:</td>
      <td><%= @meter_brand.letter_id %></td>
    </tr>
      <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @meter_brand } %>
      <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @meter_brand } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: MeterType, update_path: edit_meter_brand_path(@meter_brand), update_txt: t('.btn_edit'),
delete_path: @meter_brand, delete_txt: t('.btn_delete'), msg: t("activerecord.models.meter_brand.one"), :txt => @meter_brand.brand,
new_path: new_meter_brand_path, new_txt: t('ag2_gest.meter_brands.index.btn_new') } %>

<%= link_to I18n.t('ag2_gest.meter_brands.back_to_main_page'), meter_brands_path %>
