<%= render '/layouts/ag2_gest/contractingrequeststatusesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @contracting_request_status %> |
<%= link_to t('.back'), contracting_request_statuses_path %>
