<%= render '/layouts/ag2_admin/currenciesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @currency.id %></td>
      <td><%=t 'activerecord.attributes.currency.alphabetic_code' %>:</td>
      <td class="highlighted bolded"><%= @currency.alphabetic_code unless @currency.alphabetic_code.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.currency.currency' %>:</td>
      <td><%= @currency.currency unless @currency.currency.blank? %></td>
      <td><%=t 'activerecord.attributes.currency.numeric_code' %>:</td>
      <td><%= @currency.numeric_code unless @currency.numeric_code.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.currency.minor_unit' %>:</td>
      <td colspan="3"><%= @currency.minor_unit unless @currency.minor_unit.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @currency } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @currency } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update_delete_new', locals:
{ model: Currency, update_path: edit_currency_path(@currency), update_txt: t('ag2_admin.currencies.show.btn_edit'),
delete_path: @currency, delete_txt: t('ag2_admin.currencies.show.btn_delete'), msg: t("activerecord.models.currency.one"), :txt => @currency.to_label,
new_path: new_currency_path, new_txt: t('ag2_admin.currencies.index.btn_new') } %>

<% if (@currency_instruments.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.currency_instrument.type_i' %></th>
      <th align="right"><%= t 'activerecord.attributes.currency_instrument.value' %></th>
    </tr>
  </thead>
  <tbody>
    <% @currency_instruments.each do |t| %>
    <tr>
      <td><%= t.type_label unless t.type_i.blank? %></td>
      <td align="right"><%= number_with_precision(t.value_i, precision: t.currency.minor_unit, delimiter: I18n.locale == :es ? "." : ",") unless t.value_i.blank? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.currencies.back_to_main_page'), currencies_path %>
