<% accounts.each do |account| %>
<tr>
  <td><%= link_to account.full_code, account %></td>
  <td><%= account.name %></td>
  <td><%= account.project.full_code unless account.project.blank? %></td>
  <td align="center"><%= account.opened_at.strftime("%d/%m/%Y") unless account.opened_at.blank? %></td>
  <td align="center"><%= account.closed_at.strftime("%d/%m/%Y") unless account.closed_at.blank? %></td>
</tr>
<% end %>
