<%= render '/layouts/ag2_human/cagreementsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_human.collective_agreements.edit.btn_show'), @collective_agreement %> |
<%= link_to I18n.t('ag2_human.collective_agreements.back_to_main_page'), collective_agreements_path %>
