<%= render '/layouts/ag2_human/cagreementsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "ca_code", t('activerecord.attributes.collective_agreement.ca_code') %></th>
        <th><%= sortable "name", t('activerecord.attributes.collective_agreement.name') %></th>
        <th align="right"><%= sortable "hours", t('activerecord.attributes.collective_agreement.hours') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @collective_agreements.each do |t| %>
      <tr>
        <td><%= link_to t.ca_code, t %></td>
        <td><%= t.name %></td>
        <td align="right"><%= t.hours %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => CollectiveAgreement, :path => edit_collective_agreement_path(t) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => CollectiveAgreement, :path => t, :msg => I18n.t("activerecord.models.collective_agreement.one"), :txt => t.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @collective_agreements } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => CollectiveAgreement, :path => new_collective_agreement_path, :txt => I18n.t("ag2_human.collective_agreements.index.btn_new") } %>
  <%= link_to I18n.t("ag2_human.collective_agreements.index.go_to_workers"), workers_path %> |
  <%= link_to I18n.t("ag2_human.collective_agreements.index.back_to_root"), ag2_human.root_path %>
</div>
