<%= render '/layouts/ag2_human/cagreementsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @collective_agreement.id %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.collective_agreement.ca_code' %>:</td>
      <td><%= @collective_agreement.ca_code unless @collective_agreement.ca_code.nil? %></td>
      <td><%=t 'activerecord.attributes.collective_agreement.name' %>:</td>
      <td><%= @collective_agreement.name %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.collective_agreement.hours' %>:</td>
      <td><%= @collective_agreement.hours unless @collective_agreement.hours.blank? %></td>
      <td><%= t :"activerecord.attributes.collective_agreement.nomina_id" %>:</td>
      <td><%= @collective_agreement.nomina_id unless @collective_agreement.nomina_id.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @collective_agreement } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @collective_agreement } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: CollectiveAgreement, update_path: edit_collective_agreement_path(@collective_agreement), update_txt: t('.btn_edit'),
delete_path: @collective_agreement, delete_txt: t('.btn_delete'), msg: t("activerecord.models.collective_agreement.one"), txt: @collective_agreement.name,
new_path: new_collective_agreement_path, new_txt: t('ag2_human.collective_agreements.index.btn_new') } %>

<% if (@workers.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_human/workersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_human.collective_agreements.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_human/workers', :locals => { :workers => @workers } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @workers } %>
<% end %>

<%= link_to I18n.t('ag2_human.collective_agreements.back_to_main_page'), collective_agreements_path %>
