<%= render '/layouts/ag2_human/cagreementsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @collective_agreement.id %></td>
      <td><%=t 'activerecord.attributes.collective_agreement.ca_code' %>:</td>
      <td><%= @collective_agreement.ca_code unless @collective_agreement.ca_code.nil? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.collective_agreement.name' %>:</td>
      <td><%= @collective_agreement.name %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @collective_agreement } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_human.collective_agreements.show.btn_edit'), edit_collective_agreement_path(@collective_agreement), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@workers.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_human/workersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_human.collective_agreements.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_human/workers', :locals => { :workers => @workers } %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_human.collective_agreements.back_to_main_page'), collective_agreements_path %>
