<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <title>aGestiona2 | ag2Portal</title>
    <link rel="shortcut icon" href="/favicon.ico" >
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <script language="javascript" type="text/javascript">
      <!--
      var defaultPage;

      window.onload = function() {
        // Min resolution for this site: 1024x768
        // LowRes resolution for this site: 1280x900 or less
        // Default resolution for this site: 1280x900 or more
        // Default site home page: home#index (HD)
        // LowRes site home page: lowres#index (SD)
        // IcoRes site home page: icores#index (LD)
        defaultPage = RedirectUponScreenResolution(1280, 900);
        if (defaultPage == "icon") {
          window.location.href = "<%= I18n.locale %>/icores/index";
        } else {
          if (defaultPage == "default") {
            window.location.href = "<%= I18n.locale %>/home/index";
          } else {
            window.location.href = "<%= I18n.locale %>/lowres/index";
          }
        }
      }
      // -->
    </script>
  </head>
  <body></body>
</html>
