<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.billing_frequency.frequency_id') %></th>
      <th><%= sortable "name", t('activerecord.attributes.billing_frequency.name') %></th>
      <th><%= sortable "days", t('activerecord.attributes.billing_frequency.days') %></th>
      <th><%= sortable "months", t('activerecord.attributes.billing_frequency.months') %></th>
      <th><%= sortable "fix_measure_id", t('activerecord.attributes.billing_frequency.fix_measure_id') %></th>
      <th><%= sortable "var_measure_id", t('activerecord.attributes.billing_frequency.var_measure_id') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @billing_frequencies.each do |billfrec| %>
      <tr>
        <td><%= billfrec.try(:id) %></td>
        <td><%= link_to billfrec.try(:name), billing_frequency_path(billfrec) %></td>
        <td><%= billfrec.try(:days) %></td>
        <td><%= billfrec.try(:months) %></td>
        <td><%= billfrec.try(:fix_measure).try(:description) %></td>
        <td><%= billfrec.try(:var_measure).try(:description) %></td>
        <td>
          <%= link_to edit_billing_frequency_path(billfrec), class: "btn btn-mini" do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to billfrec, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @billing_frequencies } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => BillingFrequency, :path => new_billing_frequency_path, :txt => t("ag2_gest.billing_frequencies.index.btn_new") } %>
<%= link_to t("ag2_gest.billing_frequencies.index.back_to_root"), ag2_gest.root_path %>
