<script type="text/javascript">
	$(document).ready(function() {
	  // Select2
	  $('select.sel2').select2({
	    formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
	    allowClear: true
	  });
	});
</script>

<%= simple_form_for @billing_frequency, :html => {:class => 'form-vertical well' } do |f| %>
	<%= f.error_notification %>
	<%= display_base_errors resource %>

	<div class="row-fluid">
	  <div class="span4">
		<%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
		</div>

		<div class="span2">
			<%= f.input :days, :input_html => { min: 0, max: 366, :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
		</div>
		<div class="span2">
			<%= f.input :months, :autofocus => false, :input_html => { min: 0, max: 13, :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
		</div>

		<div class="span2">
      <%= f.association :fix_measure, label: t('activerecord.attributes.billing_frequency.fix_measure_id'), collection: Measure.all(), :input_html => { :class => 'sel2 x-large-text-field' }, :label_html => { :class => 'form-label' }%>
    </div>
		<div class="span2">
      <%= f.association :var_measure, label: t('activerecord.attributes.billing_frequency.var_measure_id'), collection: Measure.all(), :input_html => { :class => 'sel2 x-large-text-field' }, :label_html => { :class => 'form-label' }%>
    </div>
	</div>
	<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
