<script type="text/javascript">
$(document).ready(function() {
  // Select2
  $('select.sel2').select2({
    formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
    allowClear: true
  });
});
</script>

<%= render '/layouts/ag2_gest/readingsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= simple_form_for :prereading, url: create_pre_readings_path, :html => {:class => 'form-vertical well', multiple: "multiple"} do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
                                                                                                                                                                                                
<div class="row-fluid">
  <div class="span6">
    <%= f.input :period, collection: BillingPeriod.all.map{|b| [b.period,b.id]}, input_html: {class: "mid-text-field"} %>
  </div>
  <div class="span6">
    <%= f.input :reading_routes, collection: ReadingRoute.all, input_html: {class: "sel2 mid-text-field multiple", multiple: "multiple"} %>
  </div>
</div>

<%= f.button :submit, :class => 'btn-primary' %>
<% end %>


<%= link_to I18n.t('ag2_gest.readings.back_to_main_page'), readings_path %>