<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "code", t('activerecord.attributes.billable_concept.code') %></th>
      <th><%= sortable "name", t('activerecord.attributes.billable_concept.name') %></th>
      <th><%= sortable "type", t('activerecord.attributes.billable_concept.type') %></th>
    </tr>
  </thead>
  <tbody>
    <% @billable_concepts.each do |bill| %>
      <tr>
        <td><%= link_to bill.try(:code), billable_concept_path(bill) %></td>
        <td><%= bill.try(:name) %></td>
        <td><%= bill.try(:document) == "SUMINISTRO" ? "FACTURA AGUA" : "FACTURA CONTRATACIÓN" %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => BillableConcept, :path => edit_billable_concept_path(bill) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => BillableConcept, :path => bill, :msg => t("activerecord.models.billable_concept.one"), :txt => bill.name } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @billable_concepts } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => BillableConcept, :path => new_billable_concept_path, :txt => t("ag2_gest.billable_concepts.index.btn_new") } %>
<%= link_to t("ag2_gest.billable_concepts.index.back_to_management"), ag2_gest.tariff_management_path %>
