<%= render '/layouts/ag2_gest/billableconceptsbreadcrumb' %>

<h3><%= t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @billable_concept %> | 
<%= link_to t('.back'), billable_concepts_path %>