<!-- Modal -->
<script>
  function suppliers_Select2(intialValue) {
    $('#Supplier_').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_suppliers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $("#proc_mesage").hide();
    if ($('#Date_').val() == "") {
      $('#Date_').datepicker('setValue', es_date(new Date()));
    }
    suppliers_Select2("<%= @supplier %>");
  });

  jQuery(function($) {
    $('#btn_accept').click(function() {
      var supplier = $('#Supplier_').val();
      var family = $('#Family_').val();
      if (family == null) family = "";
      var offer_date = $('#Date_').val();
      var project = $('#Project_ :selected').val();
      var store = $('#Store_ :selected').val();
      var account = $('#Account_ :selected').val();
      var payment = $('#Payment_ :selected').val();
      if ((supplier == "") || (family == "") || (offer_date == "") || (project == "") || (store == "") || (account == "") || (payment == "")) {
        // Error
        alert('<%= I18n.t(:mandatory_subtitle) %>');
        return false;
      }
      // Right formatted date
      offer_date = right_date(offer_date, "<%= I18n.locale %>");
      // Show message
      $("#proc_mesage").show();
      // make the POST call
      jQuery.getJSON('or_generate_request?supplier=' + supplier + '&family=' + family + '&offer_date=' + offer_date + '&project=' + project + '&store=' + store + '&account=' + account + '&payment=' + payment, function(data) {
        // Hide message
        $("#proc_mesage").hide();
        // AJAX refresh index table is necessary
        $(".icon-refresh-link").click();
        // Go on based on result
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_purchase.offer_requests.generate_request_error") %>');
        } else if (data.code == "$write") {
          alert('<%= I18n.t("ag2_purchase.offer_requests.generate_request_write") %>');
        } else {
          // Hide the modal and exit
          alert(data.code);
          $("#new-auto-request").modal('hide');
        }
      });
      return false;
    });
  });
</script>

<div id="new-auto-request" class="modal hide fade" data-backdrop="static" style="display: none;">
  <div id="proc_mesage" class="alert alert-info">
    <%= t(:generating) %>
  </div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_purchase.offer_requests.index.btn_new_auto_request') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <!-- Supplier -->
    <label for="Supplier_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("ag2_purchase.offer_requests.suppliers_info") %></label>
    <%= hidden_field_tag "Supplier_", params[:Supplier], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
    <!-- Family -->
    <label for="Family_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("ag2_purchase.offer_requests.families_info") %></label>
    <%= select_tag "Family_", options_from_collection_for_select(@families, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2', multiple: true %>
    <!-- Request date -->
    <label for="Date_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer.offer_date") %></label>
    <%= text_field_tag "Date_", nil, class: 'mid-text-field ndate_picker' %>
    <!-- Project -->
    <label for="Project_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer_request.project") %></label>
    <%= select_tag "Project_", options_from_collection_for_select(@current_projects, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Store -->
    <label for="Store_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer_request.store") %></label>
    <%= select_tag "Store_", options_from_collection_for_select(@stores, "id", "name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Account -->
    <label for="Account_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer_request.charge_account") %></label>
    <%= select_tag "Account_", options_from_collection_for_select(@charge_accounts, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Payment -->
    <label for="Payment_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer_request.payment_method") %></label>
    <%= select_tag "Payment_", options_from_collection_for_select(@payment_methods, "id", "to_label"), :prompt => "", :class => 'x-large-text-field nsel2' %>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="#" id="btn_accept"><%= t :generate %></a>
    <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
  </div>
</div>
