<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.offer_request.request_no' %></th>
      <th align="center"><%= t 'activerecord.attributes.offer_request.request_date' %></th>
      <th align="center"><%= t 'activerecord.attributes.offer_request.deadline_date' %></th>
      <th><%= t 'activerecord.attributes.offer_request.project' %></th>
      <th><%= t 'activerecord.attributes.offer_request.approved_offer' %></th>
      <th align="right"><%= t 'activerecord.attributes.offer_request.total' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @offer_requests.each do |request| %>
    <tr>
      <td><%= link_to order.request_no, request %></td>
      <td align="center"><%= request.order_date.strftime("%d/%m/%Y") unless request.order_date.blank? %></td>
      <td align="center"><%= request.deadline_date.strftime("%d/%m/%Y") unless request.deadline_date.blank? %></td>
      <td><%= request.project.full_name unless request.project.blank? %></td>
      <td><%= request.approved_offer.partial_name unless request.approved_offer.blank? %></td>
      <td align="right"><%= number_with_precision(request.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless request.total.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => OfferRequest, :path => edit_offer_request_path(request) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => OfferRequest, :path => request, :msg => t("activerecord.models.offer_request.one"), :txt => request.request_no } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @offer_requests } %>
