<script>
  jQuery(function($) {
    /*
     * Very special functions!
     */
    // Approve offer from selected table row, when the .icon-ok clicked
    $(".icon-ok").click(function() {
      var _row = $(this).closest("tr");
      var _offer_id = _row.find(".offer-id").text();
      var _offer_request_id = $('#offer_request_table').find(".offer-request-id").text();
      jQuery.getJSON('approve_offer/' + _offer_id + '/' + _offer_request_id, function(data) {
        document.getElementById('foot-quantity').innerHTML = data.qty;
        document.getElementById('foot-amount').innerHTML = data.amount;
        document.getElementById('foot-tax').innerHTML = data.tax;
        document.getElementById('foot-discount').innerHTML = data.discount;
        document.getElementById('foot-taxable').innerHTML = data.taxable;
        document.getElementById('foot-total').innerHTML = data.total;
      });
    });

    // Disapprove offer from selected table row, when the .icon-remove clicked
    $(".icon-remove").click(function() {
      var _row = $(this).closest("tr");
      var _offer_id = _row.find("offer-id").text();
      var _offer_request_id = $('#offer_request_table').find(".offer-request-id").text();
      jQuery.getJSON('disapprove_offer/' + _offer_id + '/' + _offer_request_id, function(data) {
        document.getElementById('foot-quantity').innerHTML = data.qty;
        document.getElementById('foot-amount').innerHTML = data.amount;
        document.getElementById('foot-tax').innerHTML = data.tax;
        document.getElementById('foot-discount').innerHTML = data.discount;
        document.getElementById('foot-taxable').innerHTML = data.taxable;
        document.getElementById('foot-total').innerHTML = data.total;
      });
    });
  });
</script>

<%= render '/layouts/ag2_purchase/requestsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table id="offer_request_table" class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @offer_request.id %></td>
      <td><%=t 'activerecord.attributes.offer_request.request_no' %>:</td>
      <td class="offer-request-id"><b><%= @offer_request.request_no %></b></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer_request.request_date' %>:</td>
      <td><%= @offer_request.request_date.strftime("%d/%m/%Y") unless @offer_request.request_date.blank? %></td>
      <td><%=t 'activerecord.attributes.offer_request.deadline_date' %>:</td>
      <td><%= @offer_request.deadline_date.strftime("%d/%m/%Y") unless @offer_request.deadline_date.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer_request.project' %>:</td>
      <td><%= @offer_request.project.full_name unless @offer_request.project.blank? %></td>
      <td><%=t 'activerecord.attributes.offer_request.work_order' %>:</td>
      <td><%= @offer_request.work_order.full_name unless @offer_request.work_order.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer_request.charge_account' %>:</td>
      <td> <%= @offer_request.charge_account.full_name unless @offer_request.charge_account.blank? %> </td>
      <td><%=t 'activerecord.attributes.offer_request.store' %>:</td>
      <td> <%= @offer_request.store.name unless @offer_request.store.blank? %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer_request.payment_method' %>:</td>
      <td> <%= @offer_request.payment_method.description %> </td>
      <td><%=t 'activerecord.attributes.offer_request.approved_offer' %>:</td>
      <td> <%= @offer_request.approved_offer.full_name unless @offer_request.approved_offer.blank? %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer_request.approval_date' %>:</td>
      <td><%= @offer_request.approval_date.strftime("%d/%m/%Y") unless @offer_request.approval_date.blank? %></td>
      <td><%=t 'activerecord.attributes.offer_request.approver' %>:</td>
      <td> <%= @offer_request.approver.email unless @offer_request.approver.blank? %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @offer_request } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @offer_request } %>
  </tbody>
</table>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.offer_requests.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to t(".print"), offer_requests_path, :class => 'btn btn-warning' %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'items_footer', :locals => { note: @offer_request } %>
  </tfoot>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @items } %>
<% end %> <!-- end @items.count > 0 -->

<!-- Suppliers -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.offer_requests.suppliers_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to t(".print"), offer_requests_path, :class => 'btn btn-warning' %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@suppliers.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'suppliers_header' %>
  </thead>
  <tbody>
    <%= render partial: 'supplier', collection: @suppliers %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @suppliers } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @suppliers } %>
<% end %> <!-- end @suppliers.count > 0 -->

<!-- Remarks -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.offer_request.remarks" %>:</td>
      <td style="width: 88%"><%= @offer_request.remarks unless @offer_request.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: OfferRequest, update_path: edit_offer_request_path(@offer_request), update_txt: t('.btn_edit'),
delete_path: @offer_request, delete_txt: t('.btn_delete'), msg: t("activerecord.models.offer_request.one"), txt: @offer_request.request_no,
new_path: new_offer_request_path, new_txt: t('ag2_purchase.offer_requests.index.btn_new') } %>

<!-- Offers -->
<% if (@offers.count > 0) %>
<h4><%=t 'ag2_purchase.offer_requests.offers_info' %></h4>
<table id="offers_table" class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'offers_header' %>
  </thead>
  <tbody>
    <%= render partial: 'offer', collection: @offers %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @offers } %>
<% end %>

<%= link_to t("ag2_purchase.offer_requests.back_to_main_page"), offer_requests_path %>
