<%= render '/layouts/ag2_products/manufacturersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span6">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "name", t('activerecord.attributes.manufacturer.name') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @manufacturers.each do |m| %>
      <tr>
        <td><%= link_to m.name, m %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Manufacturer, :path => edit_manufacturer_path(m) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Manufacturer, :path => m, :msg => t("activerecord.models.manufacturer.one"), :txt => m.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @manufacturers } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Manufacturer, :path => new_manufacturer_path, :txt => t(".btn_new") } %>
  <%= link_to t(".back_to_root"), ag2_products.root_path %>
</div>
