<%= render '/layouts/ag2_products/manufacturersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @manufacturer.id %></td>
      <td><%=t 'activerecord.attributes.manufacturer.name' %>:</td>
      <td><%= @manufacturer.name %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @manufacturer } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @manufacturer } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Manufacturer, update_path: edit_manufacturer_path(@manufacturer), update_txt: t('.btn_edit'),
delete_path: @manufacturer, delete_txt: t('.btn_delete'), msg: t("activerecord.models.manufacturer.one"), txt: @manufacturer.name,
new_path: new_manufacturer_path, new_txt: t('ag2_products.manufacturers.index.btn_new') } %>

<% if false %><!-- Activate block removing if -->
<% if (@products.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/productsheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_products.manufacturers.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_products/products', :locals => { :products => @products } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @products } %>
<% end %>
<% end %>

<%= link_to t('ag2_products.manufacturers.back_to_main_page'), manufacturers_path %>
