<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "name", "Nombre" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @meter_owners.each do |met_owner| %>
    <tr>
      <td><%= link_to met_owner.try(:name), meter_owner_path(met_owner) %></td>
      <td>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => MeterOwner, :path => edit_meter_owner_path(met_owner) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => MeterOwner, :path => met_owner, :msg => t("activerecord.models.meter_owner.one"), :txt => met_owner.name } %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @meter_owners } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => MeterOwner, :path => new_meter_owner_path, :txt => t("ag2_gest.meter_owners.index.btn_new") } %>
<%= link_to t("ag2_gest.meter_owners.index.back_to_management"), ag2_gest.meter_management_path %>
