<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.regulation_type.id') %></th>
      <th><%= sortable "description", t('activerecord.attributes.regulation_type.description') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @regulation_types.each do |regulation_type| %>
      <tr>
        <td><%= regulation_type.try(:id) %></td>
        <td><%= link_to regulation_type.try(:description), regulation_type_path(regulation_type) %></td>
        <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => RegulationType, :path => edit_regulation_type_path(regulation_type) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => RegulationType, :path => regulation_type, :msg => t("activerecord.models.regulation_type.one"), :txt => regulation_type.description } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @regulation_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => RegulationType, :path => new_regulation_type_path, :txt => t("ag2_gest.regulation_types.index.btn_new") } %>
<%= link_to t("ag2_gest.regulation_types.index.back_to_management"), ag2_gest.regulation_management_path %>
