<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.regulation_type.id') %></th>
      <th><%= sortable "description", t('activerecord.attributes.regulation_type.description') %></th>
    </tr>
  </thead>
  <tbody>
    <% @regulation_types.each do |regulation_type| %>
      <tr>
        <td><%= link_to regulation_type.try(:id), regulation_type_path(regulation_type) %></td>
        <td><%= regulation_type.try(:description) %></td>
        <td>
          <%= link_to edit_regulation_type_path(regulation_type), class: "btn btn-mini" do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to regulation_type, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @regulation_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => RegulationType, :path => new_regulation_type_path, :txt => t("ag2_gest.regulation_types.index.btn_new") } %>
<%= link_to t("ag2_gest.regulation_types.index.back_to_root"), ag2_gest.root_path %>     