<%= render '/layouts/ag2_gest/regulationtypebreadcrumb' %>

<h3><%= t('.title') %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.regulation_type.id') %>:</td>
      <td><%= @regulation_type.try(:id) %></td>
      <td><%= t('activerecord.attributes.regulation_type.description') %>:</td>
      <td><%= @regulation_type.try(:description) %></td>
    </tr>
    	<%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @regulation_type } %>
      <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @regulation_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: RegulationType, update_path: edit_regulation_type_path(@regulation_type), update_txt: t('.btn_edit'),
delete_path: @regulation_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.regulation_type.one"), :txt => @regulation_type.description,
new_path: new_regulation_type_path, new_txt: t('ag2_gest.regulation_types.index.btn_new') } %>

<%= link_to I18n.t('ag2_gest.regulation_types.back_to_main_page'), regulation_types_path %>
