<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th>Id</th>
      <th><%= t 'activerecord.attributes.water_supply_contract.contracting_request_id' %></th>
      <th><%= t 'activerecord.attributes.water_supply_contract.subscriber_id' %></th>
      <th align="center"><%= t 'activerecord.attributes.water_supply_contract.contract_date' %></th>
      <th><%= t 'activerecord.attributes.water_supply_contract.meters' %></th>
      <th><%= t 'activerecord.attributes.water_supply_contract.tariff_scheme_id' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @water_supply_contracts.each do |water_supply_contract| %>
    <tr>
      <td><%= link_to water_supply_contract.id, water_supply_contract %>
      <td><%= link_to water_supply_contract.contracting_request.to_label, water_supply_contract.contracting_request unless water_supply_contract.contracting_request.blank? %></td>
      <td><%= link_to water_supply_contract.subscriber.to_label, water_supply_contract.subscriber unless water_supply_contract.subscriber.blank? %></td>
      <td align="center"><%= formatted_date(water_supply_contract.contract_date) unless water_supply_contract.contract_date.blank? %></td>
      <td><%= link_to water_supply_contract.meter.to_label, water_supply_contract.meter unless water_supply_contract.meter.blank? %></td>
      <td><%= link_to water_supply_contract.tariff_scheme.to_label, water_supply_contract.tariff_scheme unless water_supply_contract.tariff_scheme.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => WaterSupplyContract, :path => edit_water_supply_contract_path(water_supply_contract) } %>
      <%#= render :partial => '/layouts/crud/delete', :locals => { :model => WaterSupplyContract, :path => water_supply_contract, :msg => t("activerecord.models.water_supply_contract.one"), :txt => water_supply_contract.subscriber.to_label } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @water_supply_contracts } %>
