<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.subscriber.contract' %></th>
      <th><%= t 'activerecord.attributes.water_supply_contract.subscriber_id' %></th>
      <th align="center"><%= t 'activerecord.attributes.water_supply_contract.contract_date' %></th>
      <th><%= t 'activerecord.attributes.water_supply_contract.meters' %></th>
      <th><%= t 'activerecord.attributes.water_supply_contract.tariff_scheme_id' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @water_supply_contracts.each do |water_supply_contract| %>
    <tr>
      <td><%= water_supply_contract.full_no %>
      <td><%= water_supply_contract.subscriber.try(:full_code) %></td>
      <td align="center"><%= formatted_date(water_supply_contract.contract_date) if water_supply_contract.contract_date %></td>
      <td><%= water_supply_contract.meter.try(:meter_code) %></td>
      <td><%= water_supply_contract.tariff_scheme.try(:to_label) %></td>
      <td>
        <%= link_to water_supply_contract_path(water_supply_contract.id), class: "btn btn-mini" do %><i class="icon-eye-open"></i><% end %>
        <%#= render :partial => '/layouts/crud/edit', :locals => { :model => WaterSupplyContract, :path => edit_water_supply_contract_path(water_supply_contract) } %>
        <%#= render :partial => '/layouts/crud/delete', :locals => { :model => WaterSupplyContract, :path => water_supply_contract, :msg => t("activerecord.models.water_supply_contract.one"), :txt => water_supply_contract.subscriber.to_label } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @water_supply_contracts } %>
