<%= render '/layouts/ag2_gest/watersupplycontractsbreadcrumb' %>

<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h3><%=t '.title' %></h3>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to "<i class='icon-print icon-white'></i> #{t('activerecord.attributes.contracting_request.show_contract')}".html_safe, contract_pdf_contracting_request_path(@water_supply_contract.contracting_request_id, :format => :pdf), class: "btn btn-warning", target: "_blank"  %>
      </td>
    </tr>
  </tbody>
</table>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td colspan="3"><%= @water_supply_contract.id %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.contracting_request_id' %>:</td>
      <td><%= @water_supply_contract.contracting_request.try(:to_label) %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.client_id' %>:</td>
      <td><%= @water_supply_contract.client.try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.subscriber_id' %>:</td>
      <td><%= @water_supply_contract.subscriber.try(:to_label) %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.reading_route_id' %>:</td>
      <td><%= @water_supply_contract.reading_route.try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.work_order_id' %>:</td>
      <td><%= @water_supply_contract.work_order.try(:to_label) %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.meter_id' %>:</td>
      <td><%= @water_supply_contract.meter.try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.tariff_scheme_id' %>:</td>
      <td><%= @water_supply_contract.tariff_scheme.try(:to_label) %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.bill_id' %>:</td>
      <td><%= @water_supply_contract.bill.try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.tariff_type' %>:</td>
      <td><%= @water_supply_contract.try(:tariff_type).try(:name) %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.use' %>:</td>
      <td><%= @water_supply_contract.try(:use).try(:name) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.caliber_id' %>:</td>
      <td><%= @water_supply_contract.caliber.try(:to_label) %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.contract_date' %>:</td>
      <td><%= @water_supply_contract.contract_date %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.reading_sequence' %>:</td>
      <td><%= @water_supply_contract.reading_sequence %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.cadastral_reference' %>:</td>
      <td><%= @water_supply_contract.cadastral_reference %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.gis_id' %>:</td>
      <td><%= @water_supply_contract.gis_id %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.endowments' %>:</td>
      <td><%= @water_supply_contract.endowments %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.inhabitants' %>:</td>
      <td><%= @water_supply_contract.inhabitants %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.installation_date' %>:</td>
      <td><%= @water_supply_contract.formatted_date(installation_date) if @water_supply_contract.installation_date %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.water_supply_contract.installation_index' %>:</td>
      <td><%= @water_supply_contract.installation_index %></td>
      <td><%=t 'activerecord.attributes.water_supply_contract.remarks' %>:</td>
      <td><%= @water_supply_contract.remarks %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @water_supply_contract } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @water_supply_contract } %>
  </tbody>
</table>

<%#= render partial: '/layouts/crud/update_delete_new', locals:
{ model: PaymentMethod, update_path: edit_water_supply_contract_path(@water_supply_contract), update_txt: t('.btn_edit'),
delete_path: @water_supply_contract, delete_txt: t('.btn_delete'), msg: t("activerecord.models.water_supply_contract.one"), txt: @water_supply_contract.description,
new_path: new_water_supply_contract_path, new_txt: t('ag2_admin.water_supply_contracts.index.btn_new') } %>

<% if !session[:return_to_subscriber].nil? %>
  <%= link_to session[:return_to_subscriber], session[:return_to_subscriber_url] %> |
<% end %>
<%= link_to t('ag2_gest.water_supply_contracts.back_to_main_page'), water_supply_contracts_path %>
