<%= simple_form_for @province, :html => {:class => 'span12 default-form form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div class="span12 form-column">
  <%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'mid-text-field' } %>
  <%= f.input :ine_cpro, :required => true, :input_html => { :class => 'x-small-text-field number-text-field' } %>
  <%= f.button :submit, :class => 'btn-primary' %>
  <br />
  <br />
</div>
<% end %>
