<%= render '/layouts/ag2_admin/provincesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.provinces.edit.btn_show'), @province %> |
<%= link_to I18n.t('ag2_admin.provinces.back_to_main_page'), provinces_path %>
