<%= render '/layouts/ag2_admin/provincesbreadcrumb' %>

<h3>Provinces</h3>
<div class="span5">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>INE CPro</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @provinces.each do |province| %>
      <tr>
        <td><%= link_to province.name, province %></td>
        <td><%= province.ine_cpro %></td>
        <td><%= link_to 'Edit', edit_province_path(province), :class => 'btn btn-mini' %>
        <%= link_to("Delete", province, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Province', new_province_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Go to ag2Towns', towns_path %> |
  <%= link_to 'Go to ag2Zipcodes', zipcodes_path %> |
  <%= link_to 'Back to ag2Admin', ag2_admin.root_path %>
</div>
