<%= render '/layouts/ag2_admin/provincesbreadcrumb' %>

<h3><%= @province.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @province.id %></td>
      <td><%=t 'activerecord.attributes.province.ine_cpro' %>:</td>
      <td><b><%= @province.ine_cpro %></b></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.province.region' %>:</td>
      <td><%= @province.region.name_and_country unless @province.region.blank? %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @province } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @province } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Province, update_path: edit_province_path(@province), update_txt: t('.btn_edit'),
delete_path: @province, delete_txt: t('.btn_delete'), msg: t("activerecord.models.province.one"), :txt => @province.name,
new_path: new_province_path, new_txt: t('ag2_admin.provinces.index.btn_new') } %>

<% if (@towns.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.town.name' %></th>
      <th><%=t 'activerecord.attributes.town.ine_cmun' %></th>
      <th><%=t 'activerecord.attributes.town.ine_dc' %></th>
    </tr>
  </thead>
  <tbody>
    <% @towns.each do |town| %>
    <tr>
      <td><%= link_to town.name, town %></td>
      <td><%= town.ine_cmun %></td>
      <td><%= town.ine_dc %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.provinces.show.show_to'), @province.region %> |
<%= link_to I18n.t('ag2_admin.provinces.back_to_main_page'), provinces_path %>
