<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", 'Id' %></th>
      <th><%= sortable "name", t('activerecord.attributes.debt_claim_phase.name') %></th>
      <th align="right"><%= sortable "surcharge_pct", t('activerecord.attributes.debt_claim_phase.surcharge_pct') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @debt_claim_phases.each do |type| %>
    <tr>
      <td><%= type.id %></td>
      <td><%= link_to type.name, type %></td>
      <td align="right"><%= number_with_precision(type.surcharge_pct, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless type.surcharge_pct.blank? %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => DebtClaimPhase, :path => edit_debt_claim_phase_path(type) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => DebtClaimPhase, :path => type, :msg => t("activerecord.models.debt_claim_phase.one"), :txt => type.name } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @debt_claim_phases } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => DebtClaimPhase, :path => new_debt_claim_phase_path, :txt => t("ag2_gest.debt_claim_phases.index.btn_new") } %>
<%= link_to t("ag2_gest.debt_claim_phases.index.back_to_management"), ag2_gest.debt_claim_management_path %>
