<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.vehicle.registration') %></th>
      <th><%= t('activerecord.attributes.vehicle.name') %></th>
      <th><%= t('activerecord.attributes.vehicle.brand') %></th>
      <th><%= t('activerecord.attributes.vehicle.model') %></th>
      <th align="right"><%= t('activerecord.attributes.vehicle.cost') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @vehicles.each do |m| %>
    <tr>
      <td><%= link_to m.registration, m %></td>
      <td><%= m.name %></td>
      <td><%= m.brand unless m.brand.blank? %></td>
      <td><%= m.model unless m.model.blank? %></td>
      <td align="right"><%= number_with_precision(m.cost, precision: 4) unless m.cost.blank? %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Vehicle, :path => edit_vehicle_path(m) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => Vehicle, :path => m, :msg => t("activerecord.models.vehicle.one"), :txt => m.full_name } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @vehicles } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Vehicle, :path => new_vehicle_path, :txt => t("ag2_tech.vehicles.index.btn_new") } %>
<%= link_to t("ag2_tech.vehicles.index.back_to_root"), ag2_tech.root_path %>
