<%= render '/layouts/ag2_admin/configbreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Db.png" width="48" height="48" alt="ag2Db" /><h5 class="h5-narrow">ag2Db</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Db.png" width="96" height="96" alt="ag2Db" /><h5 class="h5-narrow">ag2Db</h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Db.png" width="128" height="128" alt="ag2Db" /><h5 class="h5-narrow">ag2Db</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/Configuration.png" width="48" height="48" alt="Configuration" /><h5 class="h5-narrow"><%=t '.configuration' %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/Configuration.png" width="96" height="96" alt="Configuration" /><h5 class="h5-narrow"><%=t '.configuration' %></h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/Configuration.png" width="128" height="128" alt="Configuration" /><h5 class="h5-narrow"><%=t '.configuration' %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= data_import_configs_path %>" class="thumbnail centered"><img src="/assets/icon/ag2DataImport.png" width="48" height="48" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= data_import_configs_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2DataImport.png" width="96" height="96" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% else %>
    <a href="<%= data_import_configs_path %>" class="thumbnail centered"><img src="/assets/pict/ag2DataImport.png" width="128" height="128" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
