<%= render '/layouts/ag2_admin/configbreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="<%= @ag2db_path %>" target="<%= @target %>" class="thumbnail centered"><img src="/assets/icon/ag2Db.png" width="48" height="48" alt="ag2Db" /><h5 class="h5-narrow">ag2Db</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="<%= @ag2db_path %>" target="<%= @target %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Db.png" width="96" height="96" alt="ag2Db" /><h5 class="h5-narrow">ag2Db</h5></a>
    <% else %>
    <a data-toggle="modal" href="<%= @ag2db_path %>" target="<%= @target %>" class="thumbnail centered"><img src="/assets/pict/ag2Db.png" width="128" height="128" alt="ag2Db" /><h5 class="h5-narrow">ag2Db</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= organizations_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Org.png" width="48" height="48" alt="ag2Org" /><h5 class="h5-narrow">ag2Org</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= organizations_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Org.png" width="96" height="96" alt="ag2Org" /><h5 class="h5-narrow">ag2Org</h5></a>
    <% else %>
    <a href="<%= organizations_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Org.png" width="128" height="128" alt="ag2Org" /><h5 class="h5-narrow">ag2Org</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= users_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Users.png" width="48" height="48" alt="ag2Users" /><h5 class="h5-narrow">ag2Users</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= users_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Users.png" width="96" height="96" alt="ag2Users" /><h5 class="h5-narrow">ag2Users</h5></a>
    <% else %>
    <a href="<%= users_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Users.png" width="128" height="128" alt="ag2Users" /><h5 class="h5-narrow">ag2Users</h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 2 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= sites_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Sites.png" alt="ag2Sites" /><h5 class="h5-narrow">ag2Sites</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= sites_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Sites.png" width="96" height="96" alt="ag2Sites" /><h5 class="h5-narrow">ag2Sites</h5></a>
    <% else %>
    <a href="<%= sites_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Sites.png" width="128" height="128" alt="ag2Sites" /><h5 class="h5-narrow">ag2Sites</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= apps_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Apps.png" width="48" height="48" alt="ag2Apps" /><h5 class="h5-narrow">ag2Apps</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= apps_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Apps.png" width="96" height="96" alt="ag2Apps" /><h5 class="h5-narrow">ag2Apps</h5></a>
    <% else %>
    <a href="<%= apps_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Apps.png" width="128" height="128" alt="ag2Apps" /><h5 class="h5-narrow">ag2Apps</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= data_import_configs_path %>" class="thumbnail centered"><img src="/assets/icon/ag2DataImport.png" width="48" height="48" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= data_import_configs_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2DataImport.png" width="96" height="96" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% else %>
    <a href="<%= data_import_configs_path %>" class="thumbnail centered"><img src="/assets/pict/ag2DataImport.png" width="128" height="128" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 3 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= guides_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Guides.png" alt="ag2Guides" /><h5 class="h5-narrow">ag2Guides</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= guides_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Guides.png" width="96" height="96" alt="ag2Guides" /><h5 class="h5-narrow">ag2Guides</h5></a>
    <% else %>
    <a href="<%= guides_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Guides.png" width="128" height="128" alt="ag2Guides" /><h5 class="h5-narrow">ag2Guides</h5></a>
    <% end %>
  </li>
  <li class="span4"></li>
  <li class="span4"></li>
</ul><!-- /.thumbnails -->
