<%= render '/layouts/ag2_directory/sharedcontacttypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @shared_contact_type.id %></td>
      <td><%=t :"ag2_directory.shared_contact_types.col_name" %>:</td>
      <td><%= @shared_contact_type.name.titleize %></td>
    </tr>
    <tr>
      <td><%=t :created_at %>:</td>
      <td><%= @shared_contact_type.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td><%=t :updated_at %>:</td>
      <td><%= @shared_contact_type.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to I18n.t("btn_edit", :scope => :"ag2_directory.shared_contact_types.show"), edit_shared_contact_type_path(@shared_contact_type), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t("back_to_main_page", :scope => :"ag2_directory.shared_contact_types"), shared_contact_types_path %>
