<tr>
  <td></td>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.product.stock" %></td>
  <td align="right"><%= number_with_precision(stock.deliveries, precision: 4) unless stock.deliveries.blank? %></td>
  <td align="right"><%= number_with_precision(stock.deliveries_price_avg, precision: 4) unless stock.deliveries_price_avg.blank? %></td>
  <td align="right"><%= number_with_precision(stock.deliveries_discount, precision: 4) unless stock.deliveries_discount.blank? %></td>
  <td align="right"><%= number_with_precision(stock.deliveries_amount, precision: 4) unless stock.deliveries_amount.blank? %></td>
</tr>
