<%= render '/layouts/ag2_products/stocksbreadcrumb' %>

<h3>
  <%=t '.title' %>
  <% if !@product.nil? %>
  <%= @product.product_code %>
  <% end %>
</h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @stock %> |
<% if @product %>
<%= link_to t("ag2_products.stocks.back_to_main_page"), stocks_path(product: @product) %>
<% else %>
<%= link_to t("ag2_products.stocks.back_to_main_page"), stocks_path %>
<% end %>
