<%= render '/layouts/ag2_products/stocksbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "stocks", :method => 'get' do %>
        <!-- Product -->
        <%= label_tag I18n.t("ag2_products.stocks.index.label_product"), nil, :class => 'form-label' %>
        <% if @product.nil? %>
        <%= select_tag "product", options_from_collection_for_select(Product.order('main_description').all, "id", "main_description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <% else %>
        <%= select_tag "product", options_from_collection_for_select(Product.where("id = ?", "#{@product.id}").all, "id", "main_description", @product.id), class: 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Store -->
        <%= label_tag I18n.t("ag2_products.stocks.index.label_store"), nil, :class => 'form-label' %>
        <%= select_tag "Store", options_from_collection_for_select(Store.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t("ag2_products.stocks.index.btn_apply"), class: 'btn btn-primary' %>
        <% end %>
        <!-- Buttons outside search form -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Stock, :path => new_stock_path, :txt => t(".btn_new") } %>
        <% if !session[:return_to_prod].nil? && !@product.nil? %>
        <%= link_to session[:return_to_prod], session[:return_to_prod_url] %><br />
        <% end %>
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th><%= t :"activerecord.attributes.stock.product" %></th>
            <th><%= t :"activerecord.attributes.product.main_description" %></th>
            <th><%= t :"activerecord.attributes.stock.store" %></th>
            <th><%= t :"activerecord.attributes.stock.current" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @stocks.each do |stock| %>
          <tr>
            <td><%= link_to stock.product.product_code, stock %></td>
            <td><%= stock.product.main_description %></td>
            <td><%= stock.store.name %></td>
            <td><%= number_with_precision(stock.current, precision: 4, locale: :es) unless stock.current.blank? %></td>
            <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Stock, :path => edit_stock_path(stock) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => Stock, :path => stock, :msg => t("activerecord.models.stock.one"), :txt => stock.product.product_code + "->" + stock.store.name } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @stocks } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
