<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  }); 

  $(window).bind("load", function() {
    $("#Products").select2("val", "<%= params[:Products] %>");
    $("#Stores").select2("val", "<%= params[:Stores] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#Products").select2("val", "");
      $("#Stores").select2("val", "");
      _thisForm.submit();
    });
  });
</script>

<%= render '/layouts/ag2_products/stocksbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "stocks", :method => 'get' do %>
        <!-- Product -->
        <%= label_tag I18n.t("ag2_products.stocks.index.label_product"), nil, :class => 'form-label' %>
        <% if @product.nil? %>
        <%= select_tag "Products", options_from_collection_for_select(Product.order('main_description').all, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <% else %>
        <%= select_tag "product", options_from_collection_for_select(Product.where("id = ?", "#{@product.id}").all, "id", "full_name", @product.id), class: 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Store -->
        <%= label_tag I18n.t("ag2_products.stocks.index.label_store"), nil, :class => 'form-label' %>
        <% if @store.nil? %>
        <%= select_tag "Stores", options_from_collection_for_select(Store.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <% else %>
        <%= select_tag "store", options_from_collection_for_select(Store.where("id = ?", "#{@store.id}").all, "id", "name", @store.id), class: 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary form-button-under-sel2' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary form-button-under-sel2" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons outside search form -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Stock, :path => new_stock_path, :txt => t(".btn_new") } %>
        <% if !session[:return_to_prod].nil? && (!@product.nil? || !@store.nil?) %>
        <%= link_to session[:return_to_prod], session[:return_to_prod_url] %><br />
        <% end %>
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <% if @product.nil? && @store.nil? %>
            <th><%= t :"activerecord.attributes.stock.product" %></th>
            <th><%= t :"activerecord.attributes.stock.store" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.current" %></th>
            <% elsif !@product.nil? %>
            <th><%= t :"activerecord.attributes.stock.store" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.minimum" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.maximum" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.initial" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.current" %></th>
            <% else %> <!-- !@store.nil? -->
            <th><%= t :"activerecord.attributes.stock.product" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.minimum" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.maximum" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.initial" %></th>
            <th align="right"><%= t :"activerecord.attributes.stock.current" %></th>
            <% end %>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @stocks.each do |stock| %>
          <tr>
            <% if @product.nil? && @store.nil? %>
            <td><%= link_to stock.product.full_name, stock %></td>
            <td><%= stock.store.name %></td>
            <td align="right"><%= number_with_precision(stock.current, precision: 4) unless stock.current.blank? %></td>
            <% elsif !@product.nil? %>
            <td><%= link_to stock.store.name, stock %></td>
            <td align="right"><%= number_with_precision(stock.minimum, precision: 4) unless stock.minimum.blank? %></td>
            <td align="right"><%= number_with_precision(stock.maximum, precision: 4) unless stock.maximum.blank? %></td>
            <td align="right"><%= number_with_precision(stock.initial, precision: 4) unless stock.initial.blank? %></td>
            <td align="right"><%= number_with_precision(stock.current, precision: 4) unless stock.current.blank? %></td>
            <% else %> <!-- !@store.nil? -->
            <td><%= link_to stock.product.full_name, stock %></td>
            <td align="right"><%= number_with_precision(stock.minimum, precision: 4) unless stock.minimum.blank? %></td>
            <td align="right"><%= number_with_precision(stock.maximum, precision: 4) unless stock.maximum.blank? %></td>
            <td align="right"><%= number_with_precision(stock.initial, precision: 4) unless stock.initial.blank? %></td>
            <td align="right"><%= number_with_precision(stock.current, precision: 4) unless stock.current.blank? %></td>
            <% end %>
            <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Stock, :path => edit_stock_path(stock) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => Stock, :path => stock, :msg => t("activerecord.models.stock.one"), :txt => stock.product.full_name + "->" + stock.store.name } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @stocks } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
