<%= render '/layouts/ag2_products/stocksbreadcrumb' %>

<h3><%=t '.title' %></h3>

<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @stock.id %></td>
      <td><%=t 'activerecord.attributes.stock.product' %>:</td>
      <td><b><%= @stock.product.full_name %></b></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.stock.store' %>:</td>
      <td><b><%= @stock.store.name %></b></td>
      <td><%=t 'activerecord.attributes.stock.location' %>:</td>
      <td><%= @stock.location unless @stock.location.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.stock.minimum' %>:</td>
      <td><%= number_with_precision(@stock.minimum, precision: 4) unless @stock.minimum.blank? %></td>
      <td><%=t 'activerecord.attributes.stock.maximum' %>:</td>
      <td><%= number_with_precision(@stock.maximum, precision: 4) unless @stock.maximum.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.stock.initial' %>:</td>
      <td><%= number_with_precision(@stock.initial, precision: 4) unless @stock.initial.blank? %></td>
      <td class="highlighted bolded"><%=t 'activerecord.attributes.stock.current' %>:</td>
      <td class="highlighted bolded"><%= number_with_precision(@stock.current, precision: 4) unless @stock.current.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.stock.receipts' %>:</td>
      <td><%= number_with_precision(@stock.receipts, precision: 4) unless @stock.receipts.blank? %></td>
      <td><%=t 'activerecord.attributes.stock.deliveries' %>:</td>
      <td><%= number_with_precision(@stock.deliveries, precision: 4) unless @stock.deliveries.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @stock } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @stock } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ProductType, update_path: edit_stock_path(@stock), update_txt: t('.btn_edit'),
delete_path: @stock, delete_txt: t('.btn_delete'), msg: t("activerecord.models.stock.one"), txt: @stock.product.full_name + "->" + @stock.store.name,
new_path: new_stock_path, new_txt: t('ag2_products.stocks.index.btn_new') } %>

<% if @product %>
<%= link_to t("ag2_products.stocks.back_to_main_page"), stocks_path(product: @product) %>
<% elsif @store %>
<%= link_to t("ag2_products.stocks.back_to_main_page"), stocks_path(store: @store) %>
<% else %>
<%= link_to t("ag2_products.stocks.back_to_main_page"), stocks_path %>
<% end %>
