<script>
  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
  });
</script>

<%= simple_form_for @notification, :html => { :class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<%= f.input :name, :autofocus => true, :input_html => { :class => 'x-large-text-field', maxlength: 40 }, :label_html => { :class => 'form-label' } %>
<div>

  <label class="multi-field-label-two">
    <%= f.input :action,
      collection: [[1, t('activerecord.attributes.notification.crud_1')],
                   [2, t('activerecord.attributes.notification.crud_2')],
                   [3, t('activerecord.attributes.notification.crud_3')],
                   [4, t('activerecord.attributes.notification.crud_4')]],
                   as: :select, label_method: :last, value_method: :first,
                   input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
  </label>
  <label class="multi-field-label-two">
    <%= f.input :table, collection: @tables, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
  </label>
</div>
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
