<%= render '/layouts/ag2_admin/notificationsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.notifications.edit.btn_show'), @notification %> |
<%= link_to I18n.t('ag2_admin.notifications.back_to_main_page'), notifications_path %>
