<%= render '/layouts/ag2_tech/ratiosbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @ratio %> |
<%= link_to t("ag2_tech.ratios.back_to_main_page"), ratios_path %>
