<% content_for :title, "aGestiona2 | ag2TimeRecord | ag2Tables" %>
<% content_for :icon, "/assets/icon/TableA.png" %>
<% content_for :alt, "ag2Tables" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_human.root_path %>">ag2Human</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_timerecord_path %>">ag2TimeRecord</a><span class="divider">></span>
  </li>
  <% if @timerecord_codes %>
  <li>
    <%=t "ag2_human.breadcrumb.trecordcodes.items" %>
  </li>
  <% end %>
  <% if @timerecord_code %>
  <li>
    <a href="<%= timerecord_codes_path %>"><%=t "ag2_human.breadcrumb.trecordcodes.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_human.breadcrumb.trecordcodes.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_human.root_path %>">&#215;</a>
</ul>
