<% items.each do |item| %>
<% first_item = true %>
<% salaries = item.worker_salaries.order('year desc') %>
<% if (salaries.count > 0) %>
<% salaries.each do |salary| %>
<% if item.ending_at.blank? %>
<tr>
<% else %>
<tr class="inactive-row">
<% end %> <!-- end item.ending_at.blank? && salaries.count > 0 -->
  <% if first_item %>
  <td><%= item.id %></td>
  <td><%= item.company.name unless item.company.blank? %></td>
  <td><%= item.office.name unless item.office.blank? %></td>
  <td align="center"><%= item.starting_at.strftime("%d/%m/%Y") unless item.starting_at.blank? %></td>
  <td align="center"><%= item.issue_starting_at.strftime("%d/%m/%Y") unless item.issue_starting_at.blank? %></td>
  <td align="right"><%= item.years_worked %></td>
  <td align="center" class="highlighted">></td>
  <td align="right"><%= salary.year %></td>
  <td align="right"><%= number_to_currency(salary.gross_salary, locale: :es) %></td>
  <td align="right"><%= number_to_currency(salary.total_cost, locale: :es) %></td>
  <td align="right"><%= number_to_percentage(salary.day_pct, precision: 2, locale: :es) %></td>
  <td align="center"> <% if salary.active %> <i class="icon-thumbs-up"></i> <% end %> </td>
  <td align="right">
    <%= link_to worker_item_path(item, worker: item.worker), :class => 'btn btn-mini' do %> <i class="icon-eye-open"></i> <% end %>
    <%= render :partial => '/layouts/crud/edit', :locals => { :model => WorkerItem, :path => edit_worker_item_path(item, worker: item.worker) } %>
    <%= render :partial => '/layouts/crud/delete', :locals => { :model => WorkerItem, :path => item, :msg => I18n.t("activerecord.models.worker_item.one"), :txt => item.id.to_s + " - " + item.worker.full_name } %>
  </td>
  <% first_item = false %>
  <% else %>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="center" class="highlighted">></td>
  <td align="right"><%= salary.year %></td>
  <td align="right"><%= number_to_currency(salary.gross_salary, locale: :es) %></td>
  <td align="right"><%= number_to_currency(salary.total_cost, locale: :es) %></td>
  <td align="right"><%= number_to_percentage(salary.day_pct, precision: 2, locale: :es) %></td>
  <td align="center"> <% if salary.active %> <i class="icon-thumbs-up"></i> <% end %> </td>
  <td></td>
  <% end %> <!-- end first_item -->
</tr>
<% end %> <!-- end salaries.each do |salary| -->
<% else %> <!-- else (salaries.count > 0) -->
<% if item.ending_at.blank? %>
<tr>
<% else %>
<tr class="inactive-row">
<% end %> <!-- end item.ending_at.blank? && salaries.count <= 0 -->
  <td><%= item.id %></td>
  <td><%= item.company.name unless item.company.blank? %></td>
  <td><%= item.office.name unless item.office.blank? %></td>
  <td align="center"><%= item.starting_at.strftime("%d/%m/%Y") unless item.starting_at.blank? %></td>
  <td align="center"><%= item.issue_starting_at.strftime("%d/%m/%Y") unless item.issue_starting_at.blank? %></td>
  <td align="right"><%= item.years_worked %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right">
    <%= link_to worker_item_path(item, worker: item.worker), :class => 'btn btn-mini' do %> <i class="icon-eye-open"></i> <% end %>
    <%= render :partial => '/layouts/crud/edit', :locals => { :model => WorkerItem, :path => edit_worker_item_path(item, worker: item.worker) } %>
    <%= render :partial => '/layouts/crud/delete', :locals => { :model => WorkerItem, :path => item, :msg => I18n.t("activerecord.models.worker_item.one"), :txt => item.id.to_s + " - " + item.worker.full_name } %>
  </td>
</tr>
<% end %> <!-- end (salaries.count > 0) -->
<% end %> <!-- end items.each do |item| -->

