<% content_for :title, "aGestiona2 | ag2Workers" %>
<% content_for :icon, "/assets/icon/ag2Workers.png" %>
<% content_for :alt, "ag2Workers" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_human.root_path %>">ag2Human</a><span class="divider">></span>
  </li>
  <% if @workers %>
  <li>
    ag2Workers
  </li>
  <% end %>
  <% if @worker %>
  <li>
    <a href="<%= workers_path %>">ag2Workers</a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%= @worker.worker_code %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_human.root_path %>">&#215;</a>
</ul>
