<% content_for :title, "aGestiona2 | ag2Workers" %>
<% content_for :icon, "/assets/icon/ag2Workers.png" %>
<% content_for :alt, "ag2Workers" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_human.root_path %>">ag2Human</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_human.workers_path %>">ag2Workers</a><span class="divider">></span>
  </li>
  <% if @worker_salaries %>
  <li>
    <%= t :"ag2_human.breadcrumb.worker_salaries.items" %>
  </li>
  <% end %>
  <% if @worker_salary %>
  <% if @worker_item %>
  <li>
    <%= link_to @worker_item.worker.worker_code, @worker_item.worker %><span class="divider">></span>
  </li>
  <li>
    <%= link_to t("ag2_human.breadcrumb.worker_items.item"), worker_item_path(@worker_item, worker: @worker_item.worker) %><span class="divider">></span>
  </li>
  <% else %>
  <li>
    <%= link_to t("ag2_human.breadcrumb.worker_salaries.items"), worker_salaries_path %><span class="divider">></span>
  </li>
  <% end %>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <li>
    <%= t :"ag2_human.breadcrumb.worker_salaries.item" %>
  </li>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
  <% if @worker_item %>
    <%= t :"ag2_human.breadcrumb.worker_salaries.new" %>
  <% else %>
    <%= t :"breadcrumb.new" %>
  <% end %>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_human.workers_path %>">&#215;</a>
</ul>
