<% salaries.each do |w| %>
<tr>
  <!--<td><%#= link_to w.year, w %></td>-->
  <td><%= w.year %></td>
  <td align="right"><%= number_to_currency(w.gross_salary, locale: :es) %></td>
  <td align="right"><%= number_to_currency(w.variable_salary, locale: :es) %></td>
  <td align="right"><%= number_to_currency(w.social_security_cost, locale: :es) %></td>
  <td align="right"><%= number_to_currency(w.total_cost, locale: :es) %></td>
  <td align="right"><%= number_to_percentage(w.day_pct, precision: 2, locale: :es) %></td>
  <td align="center"> <% if w.active %> <i class="icon-thumbs-up"></i> <% end %> </td>
</tr>
<% end %>
