<%= render '/layouts/ag2_admin/streettypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.street_types.edit.btn_show'), @street_type %> |
<%= link_to I18n.t('ag2_admin.street_types.back_to_main_page'), street_types_path %>
