<%= render '/layouts/ag2_admin/streettypesbreadcrumb' %>

<h3><%=t '.title' %> <%= @street_type.street_type_code %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @street_type.id %></td>
      <td><%=t 'activerecord.attributes.street_type.street_type_description' %>:</td>
      <td><%= @street_type.street_type_description.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @street_type } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @street_type } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: StreetType, update_path: edit_street_type_path(@street_type), update_txt: t('.btn_edit'),
delete_path: @street_type, delete_txt: t('.btn_delete'), msg: t("activerecord.models.street_type.one"), :txt => @street_type.street_type_description,
new_path: new_street_type_path, new_txt: t('ag2_admin.street_types.index.btn_new') } %>

<%= link_to I18n.t('ag2_admin.street_types.back_to_main_page'), street_types_path %>
