<%= render '/layouts/ag2_gest/formalitiesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @formality %> |
<%= link_to t("ag2_gest.formalities.back_to_main_page"), formalities_path %>
