<script type="text/javascript">
  $(document).ready(function() {
    // Select2
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });

    // when the #project_id field changes
    //$("#reading_route_project_id").change(function() {
    $("#reading_route_project_id").on("change", function (e) {
      // make a POST call and replace the content
      //var project = $('select#reading_route_project_id :selected').val();
      var project = $('select#reading_route_project_id').val();
      if (project == "")
        project = "0";
      jQuery.getJSON('/ag2_gest/reading_routes/update_office_textfield_from_project/' + project, function(data) {
        $("#reading_route_office_id").select2("val", data.office_id);
      })
      return false;
    });
  });
</script>

<%= simple_form_for @reading_route, :html => {:class => 'form-vertical well'} do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>

  <div class="row-fluid">

    <!-- <div class="span3">
      <%#= f.input :route_code, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </div> -->

    <div class="span4">
      <%= f.input :name, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    </div>

    <%= f.association :project, label: t('activerecord.attributes.reading_route.project_id'), collection: @projects, :input_html => { :class => 'sel2 x-large-text-field' }, label_method: lambda { |st| st.name }, value_method: :id, :label_html => { :class => 'form-label' }, wrapper_html: {class: "span4"} %>

    <%= f.association :office, label: t('activerecord.attributes.reading_route.office_id'), collection: @offices, :input_html => { :class => 'sel2 x-large-text-field' }, label_method: lambda { |st| st.name }, value_method: :id, :label_html => { :class => 'form-label' }, wrapper_html: {class: "span4"} %>


  </div>
  <%= f.button :submit, :class => 'btn-primary' %>

<% end %>
