<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "route_code", t('activerecord.attributes.reading_route.route_code') %></th>
      <th><%= sortable "name", t('activerecord.attributes.reading_route.name') %></th>
      <th><%= sortable "project_id", t('activerecord.attributes.reading_route.project_id') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reading_routes.each do |reading_route| %>
    <tr>
      <td><%= link_to reading_route.try(:route_code), reading_route_path(reading_route) %></td>
      <td><%= reading_route.try(:name) %></td>
      <td><%= reading_route.try(:project).try(:name) %></td>
      <td>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => ReadingRoute, :path => edit_reading_route_path(reading_route)} %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => ReadingRoute, :path => reading_route, :msg => t("activerecord.models.reading_route.one"), :txt => reading_route.to_label } %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @reading_routes } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ReadingRoute, :path => new_reading_route_path, :txt => t("ag2_gest.reading_routes.index.btn_new") } %>
<%= link_to t("ag2_gest.reading_routes.index.back_to_management"), ag2_gest.reading_management_path %>
