<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.reading_route.id') %></th>
      <th><%= sortable "project_id", t('activerecord.attributes.reading_route.project_id') %></th>
      <th><%= sortable "route_code", t('activerecord.attributes.reading_route.route_code') %></th>
      <th><%= sortable "name", t('activerecord.attributes.reading_route.name') %></th>
    </tr>
  </thead>
  <tbody>
    <% @reading_routes.each do |reading_route| %>
    <tr>
      <td><%= link_to reading_route.try(:id), reading_route_path(reading_route) %></td>
      <td><%= reading_route.try(:project).try(:name) %></td>
      <td><%= reading_route.try(:route_code) %></td>
      <td><%= reading_route.try(:name) %></td>
      <td>
        <%= link_to edit_reading_route_path(reading_route), class: "btn btn-mini" do%>
          <i class="icon-edit"></i>
        <% end %>
        <%= link_to reading_route, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="icon-trash"></i>
        <% end %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @reading_routes } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ReadingRoute, :path => new_reading_route_path, :txt => t("ag2_gest.reading_routes.index.btn_new") } %>
<%= link_to t("ag2_gest.reading_routes.index.back_to_root"), ag2_gest.root_path %>