<%= render '/layouts/ag2_human/workersalariesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<% if @worker_item %>
<%= link_to t("ag2_human.worker_salaries.back_to_main_page"), worker_item_path(@worker_item, worker: @worker_item.worker) %>
<% else %>
<%= link_to t("ag2_human.worker_salaries.back_to_salaries"), worker_salaries_path %>
<% end %>
