<%= render '/layouts/ag2_human/ctypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_human.contract_types.edit.btn_show'), @contract_type %> |
<%= link_to I18n.t('ag2_human.contract_types.back_to_main_page'), contract_types_path %>
