<%= render '/layouts/ag2_human/ctypesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%=t 'activerecord.attributes.contract_type.ct_code' %></th>
        <th><%=t 'activerecord.attributes.contract_type.name' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @contract_types.each do |t| %>
      <tr>
        <td><%= link_to t.ct_code, t %></td>
        <td><%= t.name %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => ContractType, :path => edit_contract_type_path(t) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => ContractType, :path => t, :msg => I18n.t("activerecord.models.contract_type"), :txt => t.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => ContractType, :path => new_contract_type_path, :txt => I18n.t("ag2_human.contract_types.index.btn_new") } %>
  <%= link_to I18n.t("ag2_human.contract_types.index.go_to_workers"), workers_path %> |
  <%= link_to I18n.t("ag2_human.contract_types.index.back_to_root"), ag2_human.root_path %>
</div>
