<%= render '/layouts/ag2_human/ctypesbreadcrumb' %>

<h3>Contract type</h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @contract_type.id %></td>
      <td>Code:</td>
      <td><%= @contract_type.ct_code unless @contract_type.ct_code.nil? %></td>
    </tr>
    <tr>
      <td>Name:</td>
      <td><%= @contract_type.name %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td><%= @contract_type.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td>Updated at:</td>
      <td><%= @contract_type.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit Contract type', edit_contract_type_path(@contract_type), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@workers.count > 0) %>
<h4>Contract type Workers</h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Code</th>
      <th>Full Name</th>
      <th>Company</th>
      <th>Office</th>
    </tr>
  </thead>
  <tbody>
    <% session[:return_to] = 'Contract type' %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <% @workers.each do |w| %>
    <tr>
      <td><%= link_to w.worker_code, w %></td>
      <td><%= w.last_name %>, <%= w.first_name %></td>
      <td><%= Company.find(w.company).name unless w.company.nil? %></td>
      <td><%= Office.find(w.office).name unless w.office.nil? %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Back to Contract types', contract_types_path %>
