<tr>
  <td><%= item.product.full_code %></td>
  <td><%= item.description %></td>
  <td align="right"><%= number_with_precision(item.quantity, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.price, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.discount_pct, precision: 2) %></td>
  <td align="right"><%= number_with_precision(item.discount, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.amount, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.tax, precision: 4) %></td>
  <td align="right"><%= number_with_precision(item.balance, precision: 4) %></td>
</tr>
