<tr>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.purchase_order.quantity" %> | <%= t :"activerecord.attributes.purchase_order.subtotal" %> | <%= t :"activerecord.attributes.purchase_order.balance" %></td>
  <td align="right"><%= number_with_precision(order.quantity, precision: 4) unless order.quantity.blank? %></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(order.subtotal, precision: 4) unless order.subtotal.blank? %></td>
  <td></td>
  <td align="right"><%= number_with_precision(order.balance, precision: 4) unless order.balance.blank? %></td>
</tr>
<tr>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.purchase_order.bonus" %> | <%= t :"activerecord.attributes.purchase_order.taxable" %> | <%= t :"activerecord.attributes.purchase_order.taxes" %></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(order.discount_pct, precision: 2) unless order.discount_pct.blank? %></td>
  <td align="right"><%= number_with_precision(order.bonus, precision: 4) unless order.bonus.blank? %></td>
  <td align="right"><%= number_with_precision(order.taxable, precision: 4) unless order.taxable.blank? %></td>
  <td align="right"><%= number_with_precision(order.taxes, precision: 4) unless order.taxes.blank? %></td>
  <td></td>
</tr>
<tr class="totals">
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.purchase_order.total" %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(order.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless order.total.blank? %></td>
  <td></td>
  <td></td>
</tr>
