<script>
  var _thisForm = '';
  var changing = false;

  function setupAllSelect2(s, p, f, x) {
    suppliersSelect2(s);
    projectsSelect2(p);
    familiesSelect2(f);    
    productsSelect2(x);    
  }

  function suppliersSelect2(intialValue) {
    $('#Supplier').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_suppliers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function projectsSelect2(intialValue) {
    $('#Project').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function familiesSelect2(intialValue) {
    $('#Family').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_product_families",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function productsSelect2(intialValue) {
    $('#Products').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_products",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });

    // Setup special search (select2)
    setupAllSelect2("<%= @supplier %>", "<%= @project %>", "<%= @family %>", "<%= @product %>");

    // Initialized form variable
    _thisForm = $("#Supplier").closest('form')[0];
  }); 

  // $(document).ajaxStart(function() {
  //   // show loader on start
  //   if (changing == false) {
  //     $("#div_table").html("");
  //     $("#loader").show();
  //   }
  // });
  $(document).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    a = "<%= po_restore_filters %>";
    $("#No").val("<%= params[:No] %>");
    // $("#Project").select2("val", "<%= params[:Project] %>");
    // $("#Supplier").select2("val", "<%= params[:Supplier] %>");
    // $("#Family").select2("val", "<%= params[:Family] %>");
    // $("#Products").select2("val", "<%= params[:Products] %>");
    $("#Petitioner").select2("val", "<%= params[:Petitioner] %>");
    $("#Status").val("<%= params[:Status] %>");
    $("#Balance").val("<%= params[:Balance] %>");
    $("#search").val("<%= params[:search] %>");
  });

  jQuery(function($) {
    // when .icon-refresh-link is clicked
    $(".icon-refresh-link").click(function() {
      // show loader
      $("#div_table").html("");
      $("#loader").show();
    });

    // when #submit_btn is clicked
    $("#submit_btn").click(function() {
      // show loader
      $("#div_table").html("");
      $("#loader").show();
    });

    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Project").select2("val", "");
      $("#Supplier").select2("val", "");
      $("#Family").select2("val", "");
      $("#Products").select2("val", "");
      $("#Petitioner").select2("val", "");
      $("#Status").val("");
      $("#Balance").val("");
      $("#search").val("");
      a = "<%= po_remove_filters %>";
      setupAllSelect2(a, a, a, a);
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      window.open("purchase_orders_report.pdf", "_blank");
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_products/ordersbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_products.purchase_orders_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "purchase_orders", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.purchase_order.order_no"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_project"), nil, :class => 'form-label' %>
        <%= hidden_field_tag "Project", params[:Project], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_supplier"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Supplier", params[:Supplier], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Family -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_family"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Family", params[:Family], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Product -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_product"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Products", params[:Products], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Petitioner -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_petitioner"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Petitioner", options_from_collection_for_select(@petitioners, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Status -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_status"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Status", options_from_collection_for_select(@statuses, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Reception status -->
        <%= label_tag I18n.t("activerecord.attributes.purchase_order.reception_status"), nil, :class => 'form-label' %>
        <%= select_tag "Balance", options_for_select(@balances), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => PurchaseOrder, :path => new_purchase_order_path, :txt => t(".btn_new") } %>
        <!-- Control&Tracking -->
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t 'ag2_products.home.index.control' %></a>
        <br /><br />
        <!-- Back -->
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'purchase_orders' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
