<script>
  $(document).ready(function() {
    // Show generate_order_btn based on approval
    approver = $('#approver').html();
    if (approver == "") {
      $('#print_report_btn').hide();
      $('#approve_order_btn').show();
    } else {
      $('#print_report_btn').show();
      $('#approve_order_btn').hide();
    }
  });

  jQuery(function($) {
    // when #approve_order_btn is clicked
    $("#approve_order_btn").click(function() {
      // make a POST call and replace the content
      var order = $('#id').html();
      if (order == "")
        order = "0";
      jQuery.getJSON('po_approve_order/' + order, function(data) {
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_purchase.purchase_orders.approve_order_error") %>');
        } else if (data.code == "$write") {
          alert('<%= I18n.t("ag2_purchase.purchase_orders.approve_order_write") %>');
        } else if (data.code == "$warn") {
          alert('<%= I18n.t("ag2_purchase.purchase_orders.approve_order_warn") %>');
        } else {
          $('#approver').text(data.approver);
          $('#approval_date').text(data.approval_date);
          $('#approve_order_btn').hide();
          $('#print_report_btn').show();
        }
      });
      return false;
    });

    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      window.open("purchase_order_form.pdf?id=" + id, "_blank");
      return false;
    });
  });
</script>

<%= render '/layouts/ag2_products/ordersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td id="id"><%= @purchase_order.id %></td>
      <td><%=t 'activerecord.attributes.purchase_order.order_no' %>:</td>
      <td><b><%= @purchase_order.full_no %></b></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.order_date' %>:</td>
      <td><%= formatted_date(@purchase_order.order_date) unless @purchase_order.order_date.blank? %></td>
      <td><%=t 'activerecord.attributes.purchase_order.order_status' %>:</td>
      <td> <%= @purchase_order.order_status.name %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.supplier' %>:</td>
      <td><%= @purchase_order.supplier.full_name %></td>
      <td><%=t 'activerecord.attributes.purchase_order.offer' %>:</td>
      <td><%= @purchase_order.offer.offer_no unless @purchase_order.offer.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.payment_method' %>:</td>
      <td> <%= @purchase_order.payment_method.description %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.project' %>:</td>
      <td><%= @purchase_order.project.full_name unless @purchase_order.project.blank? %></td>
      <td><%=t 'activerecord.attributes.purchase_order.work_order' %>:</td>
      <td><%= @purchase_order.work_order.full_name unless @purchase_order.work_order.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.charge_account' %>:</td>
      <td> <%= @purchase_order.charge_account.full_name unless @purchase_order.charge_account.blank? %> </td>
      <td><%=t 'activerecord.attributes.purchase_order.store' %>:</td>
      <td> <%= @purchase_order.store.name unless @purchase_order.store.blank? %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.retention_pct' %>:</td>
      <td><%= number_with_precision(@purchase_order.retention_pct, precision: 2) unless @purchase_order.retention_pct.blank? %></td>
      <td><%=t 'activerecord.attributes.purchase_order.retention_time' %>:</td>
      <td><%= @purchase_order.retention_time unless @purchase_order.retention_time.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.approval_date' %>:</td>
      <td id="approval_date"><%= formatted_timestamp(@purchase_order.approval_date) unless @purchase_order.approval_date.blank? %></td>
      <td><%=t 'activerecord.attributes.purchase_order.approver' %>:</td>
      <td id="approver"><%= @purchase_order.approver.email unless @purchase_order.approver.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @purchase_order } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @purchase_order } %>
  </tbody>
</table>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.purchase_orders.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t '.print' %></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'items_footer', :locals => { order: @purchase_order } %>
  </tfoot>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @items } %>
<% end %> <!-- end @items.count > 0 -->

<!-- Remarks -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.purchase_order.remarks" %>:</td>
      <td style="width: 88%"><%= @purchase_order.remarks unless @purchase_order.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<!-- Buttons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged">
        <%= render partial: '/layouts/crud/update_delete_new_no_br', locals:
        { model: PurchaseOrder, update_path: edit_purchase_order_path(@purchase_order), update_txt: t('.btn_edit'),
        delete_path: @purchase_order, delete_txt: t('.btn_delete'), msg: t("activerecord.models.purchase_order.one"), txt: @purchase_order.full_no,
        new_path: new_purchase_order_path, new_txt: t('ag2_purchase.purchase_orders.index.btn_new') } %>
      </td>
      <td class="form-td-two right-winged">
        <!-- Approve purchase order -->
        <a href="#" id="approve_order_btn" class="btn btn-warning"><i class="icon-ok icon-white"></i> <%=t :approve %></a>
        <br />
      </td>
    </tr>
  </tbody>
</table>
<br />

<%= link_to t("ag2_purchase.purchase_orders.back_to_main_page"), purchase_orders_path %>
