<%= render '/layouts/ag2_human/insurancesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('ag2_human.insurances.edit.btn_show'), @insurance %> |
<%= link_to t('ag2_human.insurances.back_to_main_page'), insurances_path %>
