<%= render '/layouts/ag2_purchase/contactsbreadcrumb' %>
<%= render :partial => '/layouts/searchhead', :locals => { :title => t(".title"), :path => supplier_contacts_path } %>

<div class="span11">
  <%= render :partial => '/layouts/lettershead', :locals => { :controller => "supplier_contacts", :action => "index" } %>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.supplier.full_name' %></th>
        <th><%= t 'activerecord.attributes.supplier.position' %></th>
        <th><%= t 'activerecord.attributes.supplier.phone' %></th>
        <th><%= t 'activerecord.attributes.supplier.cellular' %></th>
        <th><%= t 'activerecord.attributes.supplier.email' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @supplier_contacts.each do |w| %>
      <%= render :partial => 'layouts/ag2_purchase/contactinfo', :locals => { :contact => w, :title => I18n.t("activerecord.models.supplier_contact.one") } %>
      <tr>
        <td><a data-toggle="modal" href="#contactinfo<%= w.id.to_s %>"><%= w.full_name %></a></td>
        <td><%= w.position unless w.position.blank? %></td>
        <td><%= w.phone unless w.phone.blank? %>
        <% if !w.extension.blank? %>
        (<%= w.extension %>)
        <% end %> </td>
        <td><%= w.cellular unless w.cellular.blank? %></td>
        <td><%= w.email unless w.email.blank? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => SupplierContact, :path => edit_supplier_contact_path(w) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => SupplierContact, :path => supplier_contact, :msg => t("activerecord.models.supplier_contact.one"), :txt => w.full_name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @supplier_contacts } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => SupplierContact, :path => new_supplier_contact_path, :txt => t(".btn_new") } %>
  <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
</div>
