<%= render '/layouts/ag2_purchase/contactsbreadcrumb' %>

<h3><%= t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @supplier_contact.id %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier_contact.fiscal_id' %>:</td>
      <td><%= @supplier_contact.fiscal_id %></td>
      <td><%= t 'activerecord.attributes.supplier_contact.supplier_id' %>:</td>
      <td><%= @supplier_contact.supplier_id %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier_contact.full_name' %>:</td>
      <td><%= @supplier_contact.full_name %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier_contact.department' %>:</td>
      <td><%= @supplier_contact.department unless @supplier.contract_number.blank? %></td>
      <td><%= t 'activerecord.attributes.supplier_contact.position' %>:</td>
      <td><%= @supplier_contact.position unless @supplier_contact.position.blank? %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier_contact.phone' %>:</td>
      <td><%= @supplier_contact.phone unless @supplier_contact.phone.blank? %>
      <% if @supplier_contact.extension.blank? %>
      (<%= @supplier_contact.extension %>)
      <% end %> </td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.supplier_contact.cellular' %>:</td>
      <td><%= @supplier_contact.cellular unless @supplier.cellular.blank? %></td>
      <td><%= t 'activerecord.attributes.supplier_contact.email' %>:</td>
      <td><%= @supplier_contact.email unless @supplier.email.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @supplier_contact } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @supplier_contact } %>
    <tr>
      <td><%= t :"activerecord.attributes.supplier_contact.remarks" %>:</td>
      <td><%= @supplier_contact.remarks unless @supplier_contact.remarks.blank? %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update_delete',
:locals => { :model => SupplierContact, :update_path => edit_supplier_contact_path(@supplier_contact), :update_txt => t('.btn_edit'),
:delete_path => @supplier_contact, :delete_txt => t('.btn_delete'),
:msg => t("activerecord.models.supplier_contact.one"), :txt => @supplier_contact.full_name } %>

<%= link_to t('ag2_purchase.supplier_contacts.back_to_main_page'), supplier_contacts_path %>
