<%= render '/layouts/ag2_tech/bheadingsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @budget_heading %> |
<%= link_to t("ag2_tech.budget_headings.back_to_main_page"), budget_headings_path %>
