<script type="text/javascript">
var text_field_color;

  $(document).ready(function() {
    // Select2
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });

    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    });

    // Save default text color
    text_field_color = $("#service_point_code").css('color')
    // Icon inside text field: Validate Fiscal Id
    $('input.geniconify_serpoint').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      $('#generate_serpoint_code_btn').trigger("click");
      return false;
    }));
    
    // Set initial focus
    $(this).find(".form-label:first").focus();
  });

  jQuery(function($) {

    //Update offices for each company selected
    $("#company").change(function(e) {

      e.preventDefault(); //If this method is called, the default action of the event will not be triggered.

      var company_id = $('select#company :selected')[0].value; //id Element

      if (company_id == "") {
        company_id = "0";
      }
      jQuery.getJSON('update_offices_textfield_from_company/' + company_id, function(data) {

        var content = "";
            content += "<option></option>";
        if (data.length >= 1){
          data.forEach(function (data) {
            content += `<option value="${data.id}">${data.name}</option>`;
          });
        }

        $('#office').select2("val", ""); //Delete value select2 when fields change
        $('#office option').remove();
        $('#office').append(content);

      });
      return false;
    });

    // when #generate_code_btn is clicked
    $("#generate_serpoint_code_btn").click(function() {
      // make a POST call and replace the content
      var office = $('#service_point_office_id').val();
      if (office == "")
        office = "$";
      jQuery.getJSON('serpoint_generate_no/' + office, function(data) {
        $("#service_point_code").val(data.code);
        if ($("#service_point_code").val() == "$err") {
          $("#service_point_code").css('color', 'red');
          alert('<%= I18n.t("ag2_gest.service_points.code_error") %>');
        }
        else
          $("#service_point_code").css('color', text_field_color);
        $('#service_point_code').select();
      })
      return false;
    });

    // when the #fnt_zipcode field changes
    $("#fnt_zipcode").change(function() {

      // make a POST call and replace the content
      var contact = $('select#fnt_zipcode :selected').val();
      if (contact == "")
        contact = "0";
      jQuery.getJSON('update_province_textfield_from_zipcode/' + contact, function(data) {
        $("#fnt_town").val(data.town_id);
        $("#fnt_province").val(data.province_id);
        $("#fnt_region").val(data.region_id);
        $("#fnt_country").val(data.country_id);
      });
      return false;
    });

    // when changes street_directory, street_name and street_type changes and disbaled, or enables if empty
    $("#street_directory").change(function() {

      var contact = $('select#street_directory :selected').val();

      if (contact == "")
        contact = "0";

      jQuery.getJSON('update_province_textfield_from_street_directory/' + contact, function(data) {

        $("#fnt_street_type").select2("val", data.street_type_id);
        $("#fnt_town").val(data.town_id);
        $("#fnt_province").val(data.province_id);
        $("#fnt_region").val(data.region_id);
        $("#fnt_country").val(data.country_id);

        $("#fnt_street_type").prop('disabled', true);
        $("#fnt_town").prop('disabled', true);
        $("#fnt_province").prop('disabled', true);
        $("#fnt_region").prop('disabled', true);
        $("#fnt_country").prop('disabled', true);

        if ((data.street_name == "") || (data.street_name == undefined)) {
          $("#street_name")[0].value = "";
          $("#street_name").prop('disabled', false);
          $("#fnt_street_type").prop('disabled', false);
          $("#fnt_town").prop('disabled', false);
          $("#fnt_province").prop('disabled', false);
          $("#fnt_region").prop('disabled', false);
          $("#fnt_country").prop('disabled', false);
        } else {
          $("#street_name")[0].value = data.street_name;
          $("#street_name").prop('disabled', true);
        }

      });
      return false;
    });
  }); //end jQuery


</script>

<%= simple_form_for @service_point, :html => {:class => 'form-vertical well', :id => 'form_new_service_point' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two">
    <% if session[:office] != '0' %>
    <%= f.association :office, collection: Office.where("id = ?", "#{session[:office]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.offices.count > 0 %>
    <%= f.association :office, collection: current_user.offices.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :office, collection: @offices, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two">
    <% if session[:company] != '0' %>
    <%= f.association :company, collection: Company.where("id = ?", "#{session[:company]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.companies.count > 0 %>
    <%= f.association :company, collection: current_user.companies.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :company, collection: @companies, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :code, required: true, input_html: { onkeydown: "only_digit(event)", class: 'large-text-field geniconify_serpoint', maxlength: 11 }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :name, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :service_point_type, collection: ServicePointType.all(order: 'name'), :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :service_point_location, collection: ServicePointLocation.all(order: 'name'), :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :service_point_purpose, collection: ServicePointPurpose.all(order: 'name'), :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :available_for_contract, :input_html => { :class => 'x-medium-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :verified, :input_html => { :class => 'x-medium-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :street_directory, collection: StreetDirectory.by_name_type, :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :center, collection: Center.by_town, :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :street_number, :input_html => { :class => 'mid-text-field number-text-field' }, :label_html => { :class => 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :cadastral_reference, :input_html => { :class => 'mid-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider"> <%= f.input :building, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor_office, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :zipcode, collection: @zipcodes, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' }%> </label>
  <label class="multi-field-label-two"> <%= f.association :reading_route, collection: @reading_routes, :input_html => { :class => 'sel2 x-large-text-field' }, :label_html => { :class => 'form-label' }%> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :reading_sequence, :input_html => { :class => 'mid-text-field number-text-field' }, :label_html => { :class => 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :reading_variant, :input_html => { :class => 'mid-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :diameter, :input_html => { :class => 'mid-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :gis_id, :input_html => { :class => 'mid-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<!-- Buttons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary' %> </td>
      <% if @breadcrumb == 'create'%>
      <td class="form-td-three right-winged"><a href="#" id="generate_serpoint_code_btn" class="btn btn-warning"><%=t 'ag2_gest.service_points.generate_code_btn' %></a></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
