<%= render '/layouts/ag2_gest/servicepointbreadcrumb' %>

<h3><%= t('.title') %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.service_point.id') %>:</td>
      <td><%= @service_point.try(:id) %></td>
      <td><%= t('activerecord.attributes.service_point.code') %>:</td>
      <td class="highlighted bolded"><%= @service_point.code %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.name') %>:</td>
      <td><%= @service_point.try(:name) %></td>
      <td><%= t('activerecord.attributes.service_point.gis_id') %>:</td>
      <td><%= @service_point.try(:gis_id) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.cadastral_reference') %>:</td>
      <td><%= @service_point.try(:cadastral_reference) %></td>
      <td><%= t('activerecord.attributes.service_point.service_point_type_id') %>:</td>
      <td><%= @service_point.try(:service_point_type).try(:name) %></td>
    </tr>
    <tr> 
      <td><%= t('activerecord.attributes.service_point.street_type_id') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:street_type).try(:street_type_description) %></td>
      <td><%= t('activerecord.attributes.service_point.street_directory_id') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:to_full_label) %></td>
     </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.street_name') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:street_name) %></td>
      <td><%= t('activerecord.attributes.service_point.street_number') %>:</td>
      <td><%= @service_point.try(:street_number) %></td>
    </tr>
    <tr> 
      <td><%= t('activerecord.attributes.service_point.building') %>:</td>
      <td><%= @service_point.try(:building) %></td>
      <td><%= t('activerecord.attributes.service_point.floor') %>:</td>
      <td><%= @service_point.try(:floor) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.floor_office') %>:</td>
      <td><%= @service_point.try(:floor_office) %></td>
      <td><%= t('activerecord.attributes.service_point.zipcode_id') %>:</td>
      <td><%= @service_point.try(:zipcode).try(:to_label) %></td>
    </tr>
    <tr> 
      <td><%= t('activerecord.attributes.service_point.town_id') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:town).try(:name) %></td>
      <td><%= t('activerecord.attributes.service_point.province_id') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:town).try(:province).try(:name) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.region_id') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:town).try(:province).try(:region).try(:name) %></td>
      <td><%= t('activerecord.attributes.service_point.country_id') %>:</td>
      <td><%= @service_point.try(:street_directory).try(:town).try(:province).try(:region).try(:country).try(:name) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.service_point_location_id') %>:</td>
      <td><%= @service_point.try(:service_point_location).try(:name) %></td>
      <td><%= t('activerecord.attributes.service_point.service_point_purpose_id') %>:</td>
      <td><%= @service_point.try(:service_point_purpose).try(:name) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.verified') %>:</td>
      <td>
        <% if @service_point.try(:verified) == true %>
          <i class="icon-thumbs-up"></i>
        <% else %>
          <i class="icon-thumbs-down"></i>
        <% end %>
      </td>
      <td><%= t('activerecord.attributes.service_point.available_for_contract') %>:</td>
      <td>
        <% if @service_point.try(:available_for_contract) == true %>
          <i class="icon-thumbs-up"></i>
        <% else %>
          <i class="icon-thumbs-down"></i>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.diameter') %>:</td>
      <td><%= @service_point.try(:diameter) %></td>
      <td><%= t('activerecord.attributes.service_point.reading_route_id') %>:</td>
      <td><%= @service_point.try(:reading_route).try(:to_label) unless @service_point.reading_route.nil? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.reading_sequence') %>:</td>
      <td><%= @service_point.try(:reading_sequence) %></td>
      <td><%= t('activerecord.attributes.service_point.reading_variant') %>:</td>
      <td><%= @service_point.try(:reading_variant) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.service_point.company_id') %>:</td>
      <td><%= @service_point.try(:company).try(:name) %></td>
      <td><%= t('activerecord.attributes.service_point.office_id') %>:</td>
      <td><%= @service_point.try(:office).try(:to_label) %></td>
    </tr>

    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @service_point } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @service_point } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: ServicePoint, update_path: edit_service_point_path(@service_point), update_txt: t('.btn_edit'),
delete_path: @service_point, delete_txt: t('.btn_delete'), msg: t("activerecord.models.service_point.one"), :txt => @service_point.id,
new_path: new_service_point_path, new_txt: t('ag2_gest.service_points.index.btn_new') } %>

<% if !session[:return_to].nil? %>
  <%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<% if !session[:return_to_subscriber].nil? %>
  <%= link_to session[:return_to_subscriber], session[:return_to_subscriber_url] %> |
<% end %>
<%= link_to I18n.t('ag2_gest.service_points.back_to_main_page'), service_points_path %>
