<script>
  var _f = '';
  var _i = '';
  var text_field_color;

  $(document).ready(function() {
    $('.wdatepicker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.wdatepicker').datepicker('hide');
    });

    // Save default text color
    //text_field_color = $(".fnt-approver").css('color')

    // Trigger to display totals at table foot
    $('#approvals-table').bind('totals', function(event) {
      // Sum necessary values from table rows
      var amount = 0;
      $('#approvals-table tr.fields:visible').each(function() {
        amount += parseFloat(right_number($(this).find('input.fnt-approved-amount').val(), 4));
      });
      amount = parseInt(right_number(amount.toString(), 4) * 10000);
      jQuery.getJSON('si_approval_totals/' + amount, function(data) {
        document.getElementById('foot-totala').innerHTML = data.total;
      });
    });
    // Update and display totals
    $('#approvals-table').trigger('totals');

    // Retrieves parent values
    _f = $(".fnt-approver").closest('form')[0];
    _i = $('#hidden_id').val();
    if (_i == "") _i = "0";
  }); 

  jQuery(function($) {
    // when the .fnt-approved-amount field changes
    $(".fnt-approved-amount").change(function() {
      // can't approve more than current debt
      var _this = (this);
      var amount = $(_this).closest('tr').find('.fnt-approved-amount').val();
      if (amount == "")
        amount = "0";
      amount = parseInt(right_number(amount, 4) * 10000);
      jQuery.getJSON('si_update_approved_amount/' + amount + '/' + _i, function(data) {
        $(_this).closest('tr').find('.fnt-approved-amount').val(data.amount);
        if (data.amount == "$err") {
          $(_this).closest('tr').find('.fnt-approved-amount').css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.supplier_invoices.approval_error", var: @invoice_debt, bal: @invoice_not_yet_approved) %>');
          $(_this).closest('tr').find('.fnt-approved-amount').select();
        } else {
          $(_this).closest('tr').find('.fnt-approved-amount').css('color', text_field_color);
          // Update and display totals
          $('#approvals-table').trigger('totals');
        }
      });
      return false;
    });

    /*
     * Very special function!
     * This one re-calculate table totals after delete an item
     * When the .icon-trash clicked
     * Replace behavior of link_to_remove_fields
     * (the same was done in nested_si.js)
     */
    $(".icon-trash").click(function() {
      remove_fields(this);
      // Update and display totals
      $('#approvals-table').trigger('totals');
    });
  });
</script>

<table id="approvals-table" class="table table-condensed table-striped shrinked fixed">
  <!-- approver -->
  <col width="30%" />
  <!-- approval_date -->
  <col width="15%" />
  <!-- approval_amount -->
  <col width="15%" />
  <!-- remarks -->
  <col width="35%" />
  <!-- button -->
  <col width="5%" />
  <thead>
    <%= render 'approvals_header' %>
  </thead>
  <tfoot>
    <%= render 'approvals_table_footer', f: f %>
  </tfoot>
  <tbody>
    <%= f.simple_fields_for :supplier_invoice_approvals, defaults: { input_html: { class: 'sub-form' } } do |i| %>
    <tr class="fields">
      <td><%= i.association :approver, collection: @users, include_blank: false, readonly: true, label: false, wrapper: false, input_html: { class: 'sub-alfanumeric-text-field sub-disabled-field fnt-approver' } %></td>
      <td><%= i.input :approval_date, label: false, wrapper: false, as: :string, start_year: Time.now.year - 100, end_year: Time.now.year + 100, input_html: { value: (i.object.approval_date.strftime("%d/%m/%Y") if i.object.approval_date), class: 'sub-alfanumeric-text-field wdatepicker fnt-approval-date' } %></td>
      <td><%= i.input :approved_amount, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.approved_amount, precision: 4) if i.object.approved_amount), class: 'sub-number-text-field fnt-approved-amount' } %></td>
      <td><%= i.input :remarks, label: false, wrapper: false, input_html: { class: 'sub-alfanumeric-text-field fnt-remarks', maxlength: 40 } %></td>
      <% if @breadcrumb == 'create' || @breadcrumb == 'update' %>
      <td><%= link_to_remove_fields('<i class="icon-trash"></i>'.html_safe, i) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
