<% if approval.supplier_payments.count > 0 %>
  <tr class="approved-tr">
<% else %>
  <tr>
<% end %>
  <td><%= approval.approver.email %></td>
  <td align="center"><%= formatted_timestamp(approval.approval_date.utc.getlocal) %></td>
  <td align="right"><%= number_with_precision(approval.approved_amount, precision: 4) %></td>
  <td align="right"><%= number_with_precision(approval.paid, precision: 4) %></td>
  <td><%= approval.remarks[0,40] %></td>
</tr>
