<script>
  var _f = '';
  var _i = '';
  var text_field_color;

  $(document).ready(function() {
    $('.idatepicker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.idatepicker').datepicker('hide');
    });

    // Retrieves parent values
    _f = $("#fnt-approver").closest('form')[0];
    _i = $('#hidden_id').val();
    if (_i == "") _i = "0";

    // Save default text color
    text_field_color = $("#fnt-approver").css('color')

    // Set #fnt-approver
    if ($('#fnt-approver').val() == "") {
      $('#fnt-approver').val('<%= current_user.id %>');
    }
    // Set #fnt-approval-date
    if ($('#fnt-approval-date').val() == "") {
      $('#fnt-approval-date').datepicker('setValue', es_date(new Date()));
    }
    // Set #fnt-approved-amount
    if ($('#fnt-approved-amount').val() == "0,0000" || $('#fnt-approved-amount').val() == "0.0000" || $('#fnt-approved-amount').val() == "") {
      jQuery.getJSON('si_current_invoice_debt/' + _i, function(data) {
        $('#fnt-approved-amount').val(data.debt);
      });
    }

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-approved-amount field changes
    $("#fnt-approved-amount").change(function() {
      // preserve the current object
      var _this = (this);
      // can't approve more than current debt
      var tbl = false;
      var amount = $('#fnt-approved-amount').val();
      if (typeof amount === "undefined") {
        tbl = true;
        amount = $(_this).closest('tr').find('.fnt-approved-amount').val();
      }
      if (amount == "")
        amount = "0";
      amount = parseInt(right_number(amount, 4) * 10000);
      jQuery.getJSON('si_update_approved_amount/' + amount + '/' + _i + '/' + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-approved-amount').val(data.amount);
          if (data.amount == "$err") {
            $(_this).closest('tr').find('.fnt-approved-amount').css('color', 'red');
            alert('<%= I18n.t("ag2_purchase.supplier_invoices.approval_error", var: @invoice_debt, bal: @invoice_not_yet_approved) %>');
            $(_this).closest('tr').find('.fnt-approved-amount').select();
          } else {
            $(_this).closest('tr').find('.fnt-approved-amount').css('color', text_field_color);
            // Update and display totals
            $('#approvals-table').trigger('totals');
          }
        } else {
          $('#fnt-approved-amount').val(data.amount);
          if (data.amount == "$err") {
            $('#fnt-approved-amount').css('color', 'red');
            alert('<%= I18n.t("ag2_purchase.supplier_invoices.approval_error", var: @invoice_debt, bal: @invoice_not_yet_approved) %>');
            $('#fnt-approved-amount').select();
          } else {
            $('#fnt-approved-amount').css('color', text_field_color);
            // Update and display totals
            $('#approvals-table').trigger('totals');
          }
        }
      });
      return false;
    });
  });
</script>

<div id="new-approval-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_purchase.supplier_invoices.add_approval") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :approver, collection: @users, include_blank: false, readonly: true, input_html: { class: 'x-large-text-field sub-disabled-field field', id: 'fnt-approver', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :approval_date, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.approval_date.strftime("%d/%m/%Y") if f.object.approval_date), class: 'mid-text-field idatepicker field', id: 'fnt-approval-date', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :approved_amount, as: :string, input_html: { value: (number_with_precision(f.object.approved_amount, precision: 4) if f.object.approved_amount), class: 'mid-text-field number-text-field field', id: 'fnt-approved-amount', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :remarks, input_html: { class: 'x-large-text-field field', maxlength: 40, id: 'fnt-remarks' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_purchase.supplier_invoices.add_item_to", var: @supplier_invoice.invoice_no) unless @supplier_invoice.invoice_no.blank? %></span>
    <button id="addApprovalButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_purchase.supplier_invoices.btn_add_item') %></button>
    <button id="cancelApprovalButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  si_approvalFieldsUI.init(sel2NoMatch);
</script>