<script>
  var text_field_color;
  var _thisForm = '';
  
  // Show or hide button(s) to add new item
  function show_new(_show) {
    if (_show == true) {
      $('#submit_btn').show();
      $('.fnt-new-btn').show();
      $('.fnt-new-approval-btn').show();
      $('#icon-new-btn').show();      
      $('#icon-new-approval-btn').show();      
    } else {
      $('#submit_btn').hide();
      $('.fnt-new-btn').hide();
      $('.fnt-new-approval-btn').hide();
      $('#icon-new-btn').hide();      
      $('#icon-new-approval-btn').hide();      
    }
  }

  function setupAllSelect2(w, c) {
    wordersSelect2ForNew(w, 0);
    caccountsSelect2ForNew(c);
    // metersSelect2ForNew(m, 0);
  }

  function wordersSelect2ForNew(intialValue, searchedProject) {
    var target_url = "/search_work_orders";
    if (searchedProject > 0) {
      target_url = "/search_project_work_orders?project=" + searchedProject
    }
    $('#Worder').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: target_url,
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function caccountsSelect2ForNew(intialValue) {
    $('#Account').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_projects_expenditure_charge_accounts?projects=<%= @search_projects %>",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }
  
  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    if ($('#supplier_invoice_invoice_date').val() == "") {
      $('#supplier_invoice_invoice_date').datepicker('setValue', es_date(new Date()));
    }
    // Setup drag & drop
    dd_import_files('#dd_files', '#image_content', 'si_update_attachment');

    // Setup special search (select2)
    // setupAllSelect2("<%= @work_order %>", "<%= @charge_account %>");

    // Save default text color
    text_field_color = $("#supplier_invoice_invoice_no").css('color')
    
    // Initialized form variable
    _thisForm = $("#supplier_invoice_invoice_no").closest('form')[0];

    // Icon inside text field: Generate No
    $('input.iconify').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      // $('#generate_code_btn').trigger("click");
      // make a POST call and replace the content
      var company = $('select#supplier_invoice_company_id :selected').val();
      if (company == "")
        company = "$";
      var posted_at = $('#supplier_invoice_posted_at').val();
      if (posted_at == "")
        posted_at = "$";
      jQuery.getJSON('si_generate_no?company=' + company + "&posted_at=" + posted_at, function(data) {
        $("#supplier_invoice_internal_no").val(data.code);
        if ($("#supplier_invoice_internal_no").val() == "$err") {
          $("#supplier_invoice_internal_no").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.supplier_invoices.no_error") %>');
          $('#supplier_invoice_internal_no').select();
        } else {
          $("#supplier_invoice_internal_no").css('color', text_field_color);
          // $('#supplier_invoice_internal_no').trigger("change");
        }
      });
      return false;
    }));

    // Disable fields if Invoice# blank
    var order = $('#supplier_invoice_invoice_no').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty order: Disable
      show_new(false);
    } else {
      // Order OK: Enable
      show_new(true);
    }
  });
  
  jQuery(function($) {
    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var company = $('select#supplier_invoice_company_id :selected').val();
      if (company == "")
        company = "$";
      var posted_at = $('#supplier_invoice_posted_at').val();
      if (posted_at == "")
        posted_at = "$";
      jQuery.getJSON('si_generate_no/' + company + '/' + posted_at, function(data) {
        $("#supplier_invoice_internal_no").val(data.code);
        if ($("#supplier_invoice_internal_no").val() == "$err") {
          $("#supplier_invoice_internal_no").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.purchase_orders.no_error") %>');
          $('#supplier_invoice_internal_no').select();
        } else {
          $("#supplier_invoice_internal_no").css('color', text_field_color);
          // $('#supplier_invoice_internal_no').trigger("change");
        }
      });
      return false;
    });

    // when the #supplier_invoice_attachment field changes
    $("#supplier_invoice_attachment").change(function() {
      readImageFromInput(this, '#dd_files');
      jQuery.getJSON('si_attachment_changed', function(data) {
      });
    });

    // when the #supplier_invoice_invoice_no field changes
    $("#supplier_invoice_invoice_no").change(function() {
      var order = $('#supplier_invoice_invoice_no').val();
      if (order == "")
        order = "0";
      if (order == "0") {
        // Empty order: Disable
        show_new(false);
      } else {
        // Order: OK: Enable
        show_new(true);
      }
    });

    // when the #supplier_invoice_organization_id field changes
    $("#supplier_invoice_organization_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#supplier_invoice_organization_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('si_update_project_textfields_from_organization/' + order, function(data) {
        var c = data.supplier;
        var p = data.project;
        var w = data.work_order;
        var h = data.charge_account
        var s = data.store
        var m = data.payment_method
        var prods = data.product
        var e = data.company
        // Supplier
        $("#supplier_invoice_supplier_id").html("");
        $("#supplier_invoice_supplier_id").select2("val", "");
        $("#supplier_invoice_supplier_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'supplier' && option != "") {
              $("#supplier_invoice_supplier_id").append($('<option></option>').val(option.id).html(option.supplier_code.substring(0,4) + "-" + option.supplier_code.substring(4,8) + "-" + option.supplier_code.substring(8,14) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#supplier_invoice_supplier_id").append($('<option></option>').val(option.id).html(option.supplier_code.substring(0,4) + "-" + option.supplier_code.substring(4,8) + "-" + option.supplier_code.substring(8,14) + " " + option.name));
          });
        }
        // Project
        $("#supplier_invoice_project_id").html("");
        $("#supplier_invoice_project_id").select2("val", "");
        $("#supplier_invoice_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'project' && option != "") {
              $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
        // Work order
        $("#supplier_invoice_work_order_id").html("");
        $("#supplier_invoice_work_order_id").select2("val", "");
        $("#supplier_invoice_work_order_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'type' && option != "") {
              $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        // Charge account
        $("#supplier_invoice_charge_account_id").html("");
        $("#supplier_invoice_charge_account_id").select2("val", "");
        $("#supplier_invoice_charge_account_id").append($('<option></option>').val("").html(""));
        if (!h.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(h, function(id, option) {
            $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        // Store
        /*
        $("#supplier_invoice_store_id").html("");
        $("#supplier_invoice_store_id").select2("val", "");
        $("#supplier_invoice_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        */
        // Payment method
        $("#supplier_invoice_payment_method_id").html("");
        $("#supplier_invoice_payment_method_id").val("");
        $("#supplier_invoice_payment_method_id").append($('<option></option>').val("").html(""));
        if (!m.length) {
          $.each(data, function(id, option) {
            if (id == 'payment_method' && option != "") {
              $("#supplier_invoice_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
            }
          });
        } else {
          $.each(m, function(id, option) {
            $("#supplier_invoice_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
          });
        }
        // Company
        $("#supplier_invoice_company_id").html("");
        $("#supplier_invoice_company_id").val("");
        $("#supplier_invoice_company_id").append($('<option></option>').val("").html(""));
        if (!e.length) {
          $.each(data, function(id, option) {
            if (id == 'company' && option != "") {
              $("#supplier_invoice_company_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(e, function(id, option) {
            $("#supplier_invoice_company_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
      });
      if (order == "0") {
        $("#supplier_invoice_project_id").val(0);
        //$("#supplier_invoice_project_id").trigger("change");
      }
      return false;
    });

    // when the #supplier_invoice_company_id field changes
    $("#supplier_invoice_company_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#supplier_invoice_company_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('si_update_selects_from_company/' + order, function(data) {
        var p = data.project;
        // Project
        $("#supplier_invoice_project_id").html("");
        $("#supplier_invoice_project_id").select2("val", "");
        $("#supplier_invoice_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'project' && option != "") {
              $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
      });
      if (order == "0") {
        $("#supplier_invoice_project_id").val(0);
      }
      $("#supplier_invoice_project_id").trigger("change");
      return false;
    });

    // when the #supplier_invoice_supplier_id field changes
    $("#supplier_invoice_supplier_id").change(function() {
      // make a POST call and replace the content
      var supplier = $('select#supplier_invoice_supplier_id :selected').val();
      if (supplier == "")
        supplier = "0";
      jQuery.getJSON('si_update_receipt_and_order_select_from_supplier/' + supplier , function(data) {
        var o = data.note;
        var p = data.order;
        // Receipt note
        $("#supplier_invoice_receipt_note_id").html("");
        $("#supplier_invoice_receipt_note_id").select2("val", "");
        $("#supplier_invoice_receipt_note_id").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'note' && option != "") {
              $("#supplier_invoice_receipt_note_id").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#supplier_invoice_receipt_note_id").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
        // Purchase order
        $("#supplier_invoice_purchase_order_id").html("");
        $("#supplier_invoice_purchase_order_id").select2("val", "");
        $("#supplier_invoice_purchase_order_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'order' && option != "") {
              $("#supplier_invoice_purchase_order_id").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#supplier_invoice_purchase_order_id").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
      });
      return false;
    });

    // when the #supplier_invoice_receipt_note_id field changes
    $("#supplier_invoice_receipt_note_id").change(function() {
      // make a POST call and replace the content
      var o = $('select#supplier_invoice_receipt_note_id :selected').val();
      if (o == "")
        o = "0";
      jQuery.getJSON('si_update_selects_from_note/' + o, function(data) {
        var p = data.project;
        var w = data.work_order;
        var h = data.charge_account
        var s = data.store
        var m = data.payment_method
        var prods = data.product
        var p_id = data.project_id;
        var w_id = data.work_order_id;
        var c_id = data.charge_account_id;
        var s_id = data.store_id;
        var m_id = data.payment_method_id;
        var i = data.note_item
        // Project
        $("#supplier_invoice_project_id").html("");
        $("#supplier_invoice_project_id").select2("val", "");
        $("#supplier_invoice_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'project' && option != "") {
              $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
        if (p_id != 0) $("#supplier_invoice_project_id").select2("val", p_id);
        // Work order
        // wordersSelect2ForNew(data.worder, data.project_id);
        $("#supplier_invoice_work_order_id").html("");
        $("#supplier_invoice_work_order_id").select2("val", "");
        $("#supplier_invoice_work_order_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'work_order' && option != "") {
              $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (w_id != 0) $("#supplier_invoice_work_order_id").select2("val", w_id);
        // Charge account
        // caccountsSelect2ForNew(data.caccount);
        $("#supplier_invoice_charge_account_id").html("");
        $("#supplier_invoice_charge_account_id").select2("val", "");
        $("#supplier_invoice_charge_account_id").append($('<option></option>').val("").html(""));
        if (!h.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(h, function(id, option) {
            $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        if (c_id != 0) $("#supplier_invoice_charge_account_id").select2("val", c_id);
        // Store
        /*
        $("#supplier_invoice_store_id").html("");
        $("#supplier_invoice_store_id").select2("val", "");
        $("#supplier_invoice_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        if (s_id != 0) $("#supplier_invoice_store_id").select2("val", s_id);
        */
        // Payment method
        $("#supplier_invoice_payment_method_id").html("");
        $("#supplier_invoice_payment_method_id").val("");
        $("#supplier_invoice_payment_method_id").append($('<option></option>').val("").html(""));
        if (!m.length) {
          $.each(data, function(id, option) {
            if (id == 'payment_method' && option != "") {
              $("#supplier_invoice_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
            }
          });
        } else {
          $.each(m, function(id, option) {
            $("#supplier_invoice_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
          });
        }
        if (m_id != 0) $("#supplier_invoice_payment_method_id").val(m_id);
      });
      // Note not selected
      if (o == "0") {
        $("#supplier_invoice_project_id").val(0);
        $("#supplier_invoice_project_id").trigger("change");
      }
      //return false;
    });

    // when the #supplier_invoice_purchase_order_id field changes
    $("#supplier_invoice_purchase_order_id").change(function() {
      // make a POST call and replace the content
      var o = $('select#supplier_invoice_purchase_order_id :selected').val();
      if (o == "")
        o = "0";
      jQuery.getJSON('si_update_selects_from_order/' + o, function(data) {
        var p = data.project;
        var w = data.work_order;
        var h = data.charge_account
        var s = data.store
        var m = data.payment_method
        var prods = data.product
        var p_id = data.project_id;
        var w_id = data.work_order_id;
        var c_id = data.charge_account_id;
        var s_id = data.store_id;
        var m_id = data.payment_method_id;
        var i = data.note_item
        // Project
        $("#supplier_invoice_project_id").html("");
        $("#supplier_invoice_project_id").select2("val", "");
        $("#supplier_invoice_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'project' && option != "") {
              $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#supplier_invoice_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
        if (p_id != 0) $("#supplier_invoice_project_id").select2("val", p_id);
        // Work order
        // wordersSelect2ForNew(data.worder, data.project_id);
        $("#supplier_invoice_work_order_id").html("");
        $("#supplier_invoice_work_order_id").select2("val", "");
        $("#supplier_invoice_work_order_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'work_order' && option != "") {
              $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (w_id != 0) $("#supplier_invoice_work_order_id").select2("val", w_id);
        // Charge account
        // caccountsSelect2ForNew(data.caccount);
        $("#supplier_invoice_charge_account_id").html("");
        $("#supplier_invoice_charge_account_id").select2("val", "");
        $("#supplier_invoice_charge_account_id").append($('<option></option>').val("").html(""));
        if (!h.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(h, function(id, option) {
            $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        if (c_id != 0) $("#supplier_invoice_charge_account_id").select2("val", c_id);
        // Store
        /*
        $("#supplier_invoice_store_id").html("");
        $("#supplier_invoice_store_id").select2("val", "");
        $("#supplier_invoice_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        if (s_id != 0) $("#supplier_invoice_store_id").select2("val", s_id);
        */
        // Payment method
        $("#supplier_invoice_payment_method_id").html("");
        $("#supplier_invoice_payment_method_id").val("");
        $("#supplier_invoice_payment_method_id").append($('<option></option>').val("").html(""));
        if (!m.length) {
          $.each(data, function(id, option) {
            if (id == 'payment_method' && option != "") {
              $("#supplier_invoice_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
            }
          });
        } else {
          $.each(m, function(id, option) {
            $("#supplier_invoice_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
          });
        }
        if (m_id != 0) $("#supplier_invoice_payment_method_id").val(m_id);
      });
      // Note not selected
      if (o == "0") {
        $("#supplier_invoice_project_id").val(0);
        $("#supplier_invoice_project_id").trigger("change");
      }
      //return false;
    });

    // when the #supplier_invoice_project_id field changes
    $("#supplier_invoice_project_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#supplier_invoice_project_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('si_update_charge_account_from_project/' + order, function(data) {
        var w = data.work_order;
        var c = data.charge_account;
        var s = data.store;
        // Work Order
        // wordersSelect2ForNew(data.worder, order);
        $("#supplier_invoice_work_order_id").html("");
        $("#supplier_invoice_work_order_id").select2("val", "");
        $("#supplier_invoice_work_order_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'work_order' && option != "") {
              $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#supplier_invoice_work_order_id").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        // Charge Account
        // caccountsSelect2ForNew(data.caccount);
        $("#supplier_invoice_charge_account_id").html("");
        $("#supplier_invoice_charge_account_id").select2("val", "");
        $("#supplier_invoice_charge_account_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        // Store
        /*
        $("#supplier_invoice_store_id").html("");
        $("#supplier_invoice_store_id").select2("val", "");
        $("#supplier_invoice_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        */
      });
      return false;
    });

    // when the #supplier_invoice_work_order_id field changes
    $("#supplier_invoice_work_order_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#supplier_invoice_work_order_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('si_update_charge_account_from_order/' + order, function(data) {
        var c = data.charge_account;
        var s = data.store;
        var c_id = data.charge_account_id;
        var s_id = data.store_id;
        // Charge Account
        $("#supplier_invoice_charge_account_id").html("");
        $("#supplier_invoice_charge_account_id").select2("val", "");
        $("#supplier_invoice_charge_account_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#supplier_invoice_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        if (c_id != 0) $("#supplier_invoice_charge_account_id").select2("val", c_id);
        // Store
        /*
        $("#supplier_invoice_store_id").html("");
        $("#supplier_invoice_store_id").select2("val", "");
        $("#supplier_invoice_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#supplier_invoice_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        if (s_id != 0) $("#supplier_invoice_store_id").select2("val", s_id);
        */
      });
      return false;
    });

    // when the #supplier_invoice_discount_pct field changes
    $("#supplier_invoice_discount_pct").change(function() {
      var num = $('#supplier_invoice_discount_pct').val();
      if (num == "")
        num = "0";
      // Right formatted for passing as REST parameter
      num = parseInt(right_number(num, 2) * 100);
      jQuery.getJSON('si_format_number/' + num, function(data) {
        $('#supplier_invoice_discount_pct').val(data.num);
      });
      // Update and display totals
      $('#items-table').trigger('totals');
      return false;
    });

    // when the #supplier_invoice_withholding field changes
    $("#supplier_invoice_withholding").change(function() {
      var num = $('#supplier_invoice_withholding').val();
      if (num == "") num = "0";
      // Right formatted for passing as REST parameter
      num = parseInt(right_number(num, 4) * 10000);
      if (num > 0) num = num * (-1);
      jQuery.getJSON('si_format_number_4/' + num, function(data) {
        $('#supplier_invoice_withholding').val(data.num);
      });
      // Update and display totals
      $('#items-table').trigger('totals');
      return false;
    });

    // when the #supplier_invoice_payment_method_id field changes
    $("#supplier_invoice_payment_method_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#supplier_invoice_payment_method_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('si_update_payday_limit_from_method/' + order, function(data) {
        var c = new Date(data.payday_limit);
        if ($('#supplier_invoice_payday_limit').val() == "") {
          $('#supplier_invoice_payday_limit').datepicker('setValue', es_date(c));
        }
      });
      return false;
    });
    
    // when submit    
    $(_thisForm).on('submit', function() {
      var price = '';
      var qty = '';
      var discount_p = '';
      var discount = '';
      // Must change decimal separator, if comma, in items table numeric fields
      $('#items-table tr.fields').each(function() {
        qty = $(this).find('input.fnt-quantity').val().replace(",", ".");
        price = $(this).find('input.fnt-price').val().replace(",", ".");
        discount_p = $(this).find('input.fnt-discount-pct').val().replace(",", ".");
        discount = $(this).find('input.fnt-discount').val().replace(",", ".");
        $(this).find('input.fnt-quantity').val(qty);
        $(this).find('input.fnt-price').val(price);
        $(this).find('input.fnt-discount-pct').val(discount_p);
        $(this).find('input.fnt-discount').val(discount);
      });
      // Must change decimal separator, if comma, in approvals table numeric fields
      $('#approvals-table tr.fields').each(function() {
        price = $(this).find('input.fnt-approved-amount').val().replace(",", ".");
        $(this).find('input.fnt-approved-amount').val(price);
      });
      // Must change decimal separator, if comma, in numeric fields
      var discount_pct = $('#supplier_invoice_discount_pct').val().replace(",", ".");
      var withholding = $('#supplier_invoice_withholding').val().replace(",", ".");
      $('#supplier_invoice_discount_pct').val(discount_pct);
      $('#supplier_invoice_withholding').val(withholding);
      //e.preventDefault();
    });
  });
</script>

<%= simple_form_for @supplier_invoice, html: { class: 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-three"> <%= f.input :invoice_no, autofocus: true, input_html: { class: 'mid-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :invoice_date, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.invoice_date.strftime("%d/%m/%Y") if f.object.invoice_date), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.input :posted_at, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.posted_at.strftime("%d/%m/%Y") if f.object.posted_at), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two">
    <% if session[:organization] != '0' %>
    <%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.organizations.count > 0 %>
    <%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two">
    <% if session[:company] != '0' %>
    <%= f.association :company, collection: Company.where("id = ?", "#{session[:company]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.companies.count > 0 %>
    <%= f.association :company, collection: current_user.companies.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :company, collection: @companies, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    <% end %>
  </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :supplier, collection: @suppliers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :receipt_note, collection: @receipt_notes, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :purchase_order, collection: @purchase_orders, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :project, collection: @projects, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :work_order, collection: @work_orders, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :payment_method, collection: @payment_methods, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.supplier_invoices.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_purchase.supplier_invoices.btn_new_item"), f, :supplier_invoice_items, "item_fields", "new-item-fields", class: "btn btn-warning fnt-new-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'items_table', f: f %>
<!-- Approvals -->
<!-- Only for approvers! -->
<% if @breadcrumb == 'update' && @is_approver %>
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.supplier_invoices.approvals_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_purchase.supplier_invoices.btn_new_approval"), f, :supplier_invoice_approvals, "approval_fields", "new-approval-fields", class: "btn btn-warning fnt-new-approval-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'approvals_table', f: f %>
<% end %>
<!-- Remarks -->
<%= f.input :remarks, as: :text, input_html: { class: 'x-large-text-field', rows: 3 }, label_html: { class: 'form-label' } %>
<div>
  <label class="multi-field-label-two"> <%= f.input :internal_no, input_html: { class: 'mid-text-field iconify' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :payday_limit, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.payday_limit.strftime("%d/%m/%Y") if f.object.payday_limit), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<!-- Attachment -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged"> <%= f.input :attachment, as: :file, input_html: { accept: 'image/*' }, label_html: { class: 'form-label' } %> </td>
      <td class="form-td-two right-winged">
      <div id="dd_files">
        <% if !@supplier_invoice.attachment_file_name.nil? %>
          <span id="image_text"></span>
          <img id="image_content" src="<%= @supplier_invoice.attachment.url %>">
        <% else %>
          <span id="image_text"><%= t 'dd_image_message' %></span>
          <img id="image_content" hidden>
        <% end %>
      </div></td>
    </tr>
  </tbody>
</table>
<!-- Special hidden Id -->
<%= f.input :id, as: :hidden, input_html: { id: 'hidden_id' } %>
<!-- Buttons -->
<%= f.button :submit, class: 'btn-primary', id: 'submit_btn' %>
<% end %>
