<script>
  var _supplier;

  $(document).ready(function() {
    $('.isel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      containerCssClass: 'sub-select2-field'
    });

    // Supplier
    _supplier = $('#supplier_invoice_supplier_id').val();
    if (_supplier == "") _supplier = "0";

    // Trigger to display totals at table foot
    $('#items-table').bind('totals', function(event) {
      // Sum necessary values from table rows
      var qty = 0;
      var amount = 0;
      var tax = 0;
      $('#items-table tr.fields:visible').each(function() {
        qty += parseFloat(right_number($(this).find('input.fnt-quantity').val(), 4));
        amount += parseFloat(right_number($(this).find('input.fnt-amount').val(), 4));
        tax += parseFloat(right_number($(this).find('input.fnt-tax').val(), 4));
      });
      qty = parseInt(right_number(qty.toString(), 4) * 10000);
      amount = parseInt(right_number(amount.toString(), 4) * 10000);
      tax = parseInt(right_number(tax.toString(), 4) * 10000);
      // Bonus
      var discount_p = $('#supplier_invoice_discount_pct').val();
      if (discount_p == "")
        discount_p = "0";
      discount_p = parseInt(right_number(discount_p, 2) * 100);
      // Withholding
      var withholding = $('#supplier_invoice_withholding').val();
      if (withholding == "")
        withholding = "0";
      withholding = parseInt(right_number(withholding, 4) * 10000);
      if (withholding > 0) withholding = withholding * (-1);
      jQuery.getJSON('si_item_totals/' + qty + '/' + amount + '/' + tax + '/' + discount_p + '/' + withholding, function(data) {
        document.getElementById('foot-quantity').innerHTML = data.qty;
        document.getElementById('foot-amount').innerHTML = data.amount;
        document.getElementById('foot-tax').innerHTML = data.tax;
        document.getElementById('foot-discount').innerHTML = data.discount;
        document.getElementById('foot-taxable').innerHTML = data.taxable;
        document.getElementById('foot-total').innerHTML = data.total;
      });
    });
    // Update and display totals
    $('#items-table').trigger('totals');
  });

  jQuery(function($) {
    // when the .fnt-product field changes
    $(".fnt-product").change(function() {
      // preserve the current object
      var _this = (this);
      // make a POST call and replace the content
      var tbl = true;
      var product = $(this).closest('tr').find('.fnt-product').val();
      if (product == "")
        product = "0";
      var qty = $(this).closest('tr').find('.fnt-quantity').val();
      if (qty == "")
        qty = "0";
      // Right formatted for passing as REST parameter
      qty = parseInt(right_number(qty, 4) * 10000);
      jQuery.getJSON('si_update_description_prices_from_product/' + product + '/' + qty + '/' + _supplier + '/' + tbl, function(data) {
        $(_this).closest('tr').find('.fnt-description').val(data.description);
        $(_this).closest('tr').find('.fnt-price').val(data.price);
        $(_this).closest('tr').find('.fnt-amount').val(data.amount);
        $(_this).closest('tr').find('.fnt-tax').val(data.tax);
        $(_this).closest('tr').find(".fnt-tax-type").val(data.type);
        $(_this).closest('tr').find('.fnt-discount-pct').val(data.discountp);
        $(_this).closest('tr').find('.fnt-discount').val(data.discount);
        $(_this).closest('tr').find('.fnt-code').val(data.code);
        // Update and display totals is necessary
        $('#items-table').trigger('totals');
      });
      return false;
    });

    // when the .fnt-quantity field changes
    $(".fnt-quantity").change(function() {
      // preserve the current object
      var _this = (this);
      // right method name
      var bcm = "si_item_balance_check/";
      // balance check
      var i = $(_this).closest('tr').find('.fnt-receipt-note-item').val();
      if (i == "") i = "0";
      var j = $(_this).closest('tr').find('.fnt-purchase-order-item').val();
      if (j == "") j = "0";
      if (i == "0" && j != "0") {
        bcm = "si_purchase_order_item_balance_check/";
        i = j;
      }
      var qty = $(_this).closest('tr').find('.fnt-quantity').val();
      if (qty == "") qty = "0";
      qty = parseInt(right_number(qty, 4) * 10000);
      jQuery.getJSON(bcm + i + '/' + qty, function(data) {
        if (data.alert != "") {
          alert(data.alert);
        }
      });
      // recalculate & format
      recalculate_si_table(_this);
      return false;
    });

    // when the .fnt-price field changes
    $(".fnt-price").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate_si_table(_this);
      return false;
    });

    // when the .fnt-discount-pct field changes
    $(".fnt-discount-pct").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate_si_table(_this);
      return false;
    });

    // when the .fnt-discount field changes
    $(".fnt-discount").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate_si_table(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate_si_table(_this) {
      // make a POST call and replace the content
      var tbl = true;
      var price = $(_this).closest('tr').find('.fnt-price').val();
      if (price == "")
        price = "0";
      var qty = $(_this).closest('tr').find('.fnt-quantity').val();
      if (qty == "")
        qty = "0";
      var tax_type = $(_this).closest('tr').find('.fnt-tax-type').val();
      if (tax_type == "")
        tax_type = "0";
      var discount_p = $(_this).closest('tr').find('.fnt-discount-pct').val();
      if (discount_p == "")
        discount_p = "0";
      var discount = $(_this).closest('tr').find('.fnt-discount').val();
      if (discount == "")
        discount = "0";
      var product = $(_this).closest('tr').find('.fnt-product').val();
      if (product == "")
        product = "0";
      // Right formatted for passing as REST parameter
      price = parseInt(right_number(price, 4) * 10000);
      qty = parseInt(right_number(qty, 4) * 10000);
      discount_p = parseInt(right_number(discount_p, 2) * 100);
      discount = parseInt(right_number(discount, 4) * 10000);
      jQuery.getJSON('si_update_amount_from_price_or_quantity/' + price + '/' + qty + '/' + tax_type + '/' + discount_p + '/' + discount + '/' + product + "/" + tbl, function(data) {
        $(_this).closest('tr').find('.fnt-quantity').val(data.quantity);
        $(_this).closest('tr').find('.fnt-price').val(data.price);
        $(_this).closest('tr').find('.fnt-amount').val(data.amount);
        $(_this).closest('tr').find('.fnt-tax').val(data.tax);
        $(_this).closest('tr').find('.fnt-discount-pct').val(data.discountp);
        $(_this).closest('tr').find('.fnt-discount').val(data.discount);
        // Update and display totals
        $('#items-table').trigger('totals');
      });
    }

    /*
     * Very special function!
     * This one re-calculate table totals after delete an item
     * When the .icon-trash clicked
     * Replace behavior of link_to_remove_fields
     * (the same was done in nested_po.js)
     */
    $(".icon-trash").click(function() {
      remove_fields(this);
      // Update and display totals
      $('#items-table').trigger('totals');
      //return false;
    });
  });
</script>

<table id="items-table" class="table table-condensed table-striped shrinked fixed">
  <!-- product -->
  <col width="0%" />
  <!-- thing -->
  <col width="16%" />
  <!-- description -->
  <col width="26%" />
  <!-- quantity -->
  <col width="9%" />
  <!-- price -->
  <col width="9%" />
  <!-- discount_pct -->
  <col width="8%" />
  <!-- discount -->
  <col width="9%" />
  <!-- amount -->
  <col width="9%" />
  <!-- tax -->
  <col width="9%" />
  <!-- button -->
  <col width="5%" />
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render 'items_table_footer', f: f %>
  </tfoot>
  <tbody>
    <%= f.simple_fields_for :supplier_invoice_items, defaults: { input_html: { class: 'sub-form' } } do |i| %>
    <tr class="fields">
      <td><%= i.input :product_id, label: false, wrapper: false, as: :hidden, input_html: { class: 'sub-alfanumeric-text-field sub-disabled-field fnt-product' } %></td>
      <td><%= i.input :thing, readonly: true, label: false, wrapper: false, as: :string, input_html: { value: (i.object.product.full_name if i.object.product_id), class: 'iconify_item sub-alfanumeric-text-field sub-disabled-field fnt-thing' } %></td>
      <td><%= i.input :description, label: false, wrapper: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field fnt-description', maxlength: 40 } %></td>
      <td style="display:none;"><%= i.input :code, label: false, wrapper: false, input_html: { class: 'sub-alfanumeric-text-field fnt-code' } %></td>
      <td><%= i.input :quantity, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.quantity, precision: 4) if i.object.quantity), class: 'sub-number-text-field fnt-quantity' } %></td>
      <td><%= i.input :price, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.price, precision: 4) if i.object.price), class: 'sub-number-text-field fnt-price' } %></td>
      <td><%= i.input :discount_pct, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.discount_pct, precision: 2) if i.object.discount_pct), class: 'sub-number-text-field fnt-discount-pct' } %></td>
      <td><%= i.input :discount, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.discount, precision: 4) if i.object.discount), class: 'sub-number-text-field fnt-discount' } %></td>
      <td><%= i.input :amount, disabled: true, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.amount, precision: 4) if i.object.amount), class: 'sub-number-text-field sub-disabled-field fnt-amount' } %></td>
      <td style="display:none;"><%= i.input :tax_type_id, label: false, wrapper: false, input_html: { class: 'sub-alfanumeric-text-field fnt-tax-type' } %></td>
      <td><%= i.input :tax, disabled: true, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.tax, precision: 4) if i.object.tax), class: 'sub-number-text-field sub-disabled-field fnt-tax' } %></td>
      <td style="display:none;"><%= i.input :receipt_note_id, label: false, wrapper: false, input_html: { class: 'fnt-receipt-note' } %></td>
      <td style="display:none;"><%= i.input :receipt_note_item_id, label: false, wrapper: false, input_html: { class: 'fnt-receipt-note-item' } %></td>
      <td style="display:none;"><%= i.input :purchase_order_id, label: false, wrapper: false, input_html: { class: 'fnt-purchase-order' } %></td>
      <td style="display:none;"><%= i.input :purchase_order_item_id, label: false, wrapper: false, input_html: { class: 'fnt-purchase-order-item' } %></td>
      <td style="display:none;"><%= i.input :project_id, label: false, wrapper: false, input_html: { class: 'fnt-project' } %></td>
      <td style="display:none;"><%= i.input :work_order_id, label: false, wrapper: false, input_html: { class: 'fnt-work-order' } %></td>
      <td style="display:none;"><%= i.input :charge_account_id, label: false, wrapper: false, input_html: { class: 'fnt-charge-account' } %></td>
      <% if @breadcrumb == 'create' || @breadcrumb == 'update' %>
      <td><%= link_to_remove_fields('<i class="icon-trash"></i>'.html_safe, i) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
