<!-- Modal -->
<script>
var text_field_color;
  function suppliers_Select2O(intialValue) {
    $('#SupplierO_').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_suppliers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $("#proc_mesage_o").hide();
    if ($('#Date_').val() == "") {
      $('#Date_').datepicker('setValue', es_date(new Date()));
    }
    suppliers_Select2O("<%= @supplier %>");

    // Icon inside text field: Generate No
    $('input.iconify_O').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      // $('#generate_code_btn').trigger("click");
      // make a POST call and replace the content
      var company = $('#CompanyO_').val();
      if (company == "")
        company = "$";
      var posted_at = $('#PostedDateO_').val();
      if (posted_at == "")
        posted_at = "$";
      jQuery.getJSON('si_generate_no?company=' + company + "&posted_at=" + posted_at, function(data) {
        $("#InternalNoO_").val(data.code);
        if ($("#InternalNoO_").val() == "$err") {
          $("#InternalNoO_").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.supplier_invoices.no_error") %>');
          $('#InternalNoO_').select();
        } else {
          $("#InternalNoO_").css('color', text_field_color);
          // $('#InternalNoO_').trigger("change");
        }
      });
      return false;
    }));
  });

  jQuery(function($) {
    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var company = $('#CompanyO_').val();
      if (company == "")
        company = "$";
      var posted_at = $('#PostedDateO_').val();
      if (posted_at == "")
        posted_at = "$";
      jQuery.getJSON('si_generate_no/' + company + '/' + posted_at, function(data) {
        $("#InternalNoO_").val(data.code);
        if ($("#InternalNoO_").val() == "$err") {
          $("#InternalNoO_").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.purchase_orders.no_error") %>');
          $('#InternalNoO_').select();
        } else {
          $("#InternalNoO_").css('color', text_field_color);
          // $('#InternalNoO_').trigger("change");
        }
      });
      return false;
    });

    $('#btn_accept_o').click(function() {
      var supplier = $('#SupplierO_ :selected').val();
      var order = $('#Order_').val();
      if (order == null) order = "";
      var offer_no = $('#NoO_').val();
      var offer_date = $('#DateO_').val();
      var internal_no = $('#InternalNoO_').val();
      var posted_at = $('#PostedDateO_').val();
      var company = $('#CompanyO_').val();
      if ((supplier == "") || (order == "")  || (offer_no == "")  || (offer_date == "") || (internal_no == "") || (posted_at == "") || (company == "")) {
        // Error
        alert('<%= I18n.t(:mandatory_subtitle) %>');
        return false;
      }
      // Right formatted date
      offer_date = right_date(offer_date, "<%= I18n.locale %>");
      posted_at = right_date(posted_at, "<%= I18n.locale %>");
      // Show message
      $("#proc_mesage_o").show();
      // make the POST call
      jQuery.getJSON('si_generate_invoice_from_order?supplier=' + supplier + '&order=' + order + '&offer_no=' + offer_no + '&offer_date=' + offer_date + '&internal_no=' + internal_no + '&posted_at=' + posted_at + '&company=' + company, function(data) {
        // Hide message
        $("#proc_mesage_o").hide();
        // AJAX refresh index table is necessary
        $(".icon-refresh-link").click();
        // Go on based on result
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_purchase.supplier_invoices.generate_invoice_error") %>');
        } else if (data.code == "$write") {
          alert('<%= I18n.t("ag2_purchase.supplier_invoices.generate_invoice_write") %>');
        } else {
          // Hide the modal and exit
          alert(data.code);
          $("#new-invoice-from-order").modal('hide');
        }
      });
      return false;
    });

    // when the #SupplierO_ field changes
    $("#SupplierO_").change(function() {
      // make a POST call and replace the content
      var supplier = $('#SupplierO_').val();
      if (supplier == "") supplier = 0;
      jQuery.getJSON('si_update_order_select_from_supplier/' + supplier, function(data) {
        var r = data.order;
        $("#Order_").html("");
        $("#Order_").select2("val", "");
        $("#Order_").append($('<option></option>').val("").html(""));
        if (!r.length) {
          $.each(data, function(id, option) {
            if (id == 'order' && option != "") {
              $("#Order_").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
            }
          });
        } else {
          $.each(r, function(id, option) {
            $("#Order_").append($('<option></option>').val(option[0]).html(option[1] + " " + option[2] + " " + option[3]));
          });
        }
      });
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      return false;
    });

    // when the #Order_ field changes
    $("#Order_").change(function() {
      // make a POST call and replace the content
      var order = $('#Order_ :selected').val();
      if (order == "") order = 0;
      jQuery.getJSON('si_current_balance_order/' + order, function(data) {
        $("#current-balance-o").html(data.balance);
      });
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      return false;
    });
  });
</script>

<div id="new-invoice-from-order" class="modal hide fade" data-backdrop="static" style="display: none;">
  <div id="proc_mesage_o" class="alert alert-info">
    <%= t(:generating) %>
  </div>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_purchase.supplier_invoices.index.btn_new_from_purchase_order') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <!-- Company -->
    <label for="CompanyO_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.company") %></label>
    <% if session[:company] != '0' %>
      <%= select_tag "CompanyO_", options_from_collection_for_select(Company.where("id = ?", "#{session[:company]}").all, "id", "full_name", session[:company]), :prompt => "", :class => 'x-large-text-field nsel2', include_blank: false %>
    <% else %>
      <%= select_tag "CompanyO_", options_from_collection_for_select(Company.all, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2', include_blank: false %>
    <% end %>
    <!-- Supplier -->
    <label for="SupplierO_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.supplier") %></label>
    <%= hidden_field_tag "SupplierO_", params[:Supplier], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
    <!-- Purchase order -->
    <label for="Order_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.purchase_order") %></label>
    <%= select_tag "Order_", options_from_collection_for_select(@purchase_orders, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2', multiple: true %>
    <!-- Invoice No -->
    <label for="NoO_" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.invoice_no_c") %></label>
    <%= text_field_tag "NoO_", nil, :class => 'x-large-text-field' %>
    <!-- Invoice date -->
    <label for="DateO_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.invoice_date_c") %></label>
    <%= text_field_tag "DateO_", nil, class: 'mid-text-field ndate_picker' %>
    <!-- Posted date -->
    <label for="PostedDateO_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.posted_at") %></label>
    <%= text_field_tag "PostedDateO_", nil, class: 'mid-text-field ndate_picker' %>
    <!-- Internal Invoice No -->
    <label for="InternalNoO_" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.supplier_invoice.internal_no") %></label>
    <%= text_field_tag "InternalNoO_", nil, :class => 'mid-text-field iconify_O' %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("activerecord.attributes.purchase_order.balance_c") %>=</span>
    <span class="left-floated shrinked" style="vertical-align: bottom" id="current-balance-o">0,0000</span>
    <a class="btn btn-primary" href="#" id="btn_accept_o"><%= t :generate %></a>
    <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
  </div>
</div>
