<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th>Id</th>
      <th><%= t 'activerecord.attributes.supplier_invoice.invoice_no' %></th>
      <th align="center"><%= t 'activerecord.attributes.supplier_invoice.invoice_date' %></th>
      <th><%= t 'activerecord.attributes.supplier_invoice.supplier' %></th>
      <th><%= t 'activerecord.attributes.supplier_invoice.project' %></th>
      <th align="right"><%= t 'activerecord.attributes.supplier_invoice.total' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @supplier_invoices.each do |invoice| %>
    <% if invoice.supplier_invoice_approvals.size > 0 %>
      <tr class="approved-tr">
    <% else %>
      <tr>
    <% end %>
      <% b = invoice.invoice_no %>
      <% if !invoice.internal_no.blank? %>
      <% b = invoice.internal_no %>
      <% end %>
      <td><%= invoice.id %></td>
      <td><%= link_to b, invoice %>
        <% if !invoice.attachment.blank? %><i class="icon-paperclip-black" style="margin-left: 0.2em;"><% end %>
      </td>
      <td align="center"><%= formatted_date(invoice.invoice_date) unless invoice.invoice_date.blank? %></td>
      <td><%= invoice.supplier.full_name[0,40] unless invoice.supplier.blank? %></td>
      <td><%= invoice.project.full_code unless invoice.project.blank? %></td>
      <td align="right"><%= number_with_precision(invoice.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless invoice.totals.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => SupplierInvoice, :path => edit_supplier_invoice_path(invoice) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => SupplierInvoice, :path => invoice, :msg => t("activerecord.models.supplier_invoice.one"), :txt => invoice.invoice_no } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @supplier_invoices } %>
