<%= render '/layouts/ag2_human/trecordcodesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @timerecord_code.id %></td>
      <td><%=t :"ag2_human.timerecord_codes.col_name" %>:</td>
      <td><%= @timerecord_code.name.titleize %></td>
    </tr>
    <tr>
      <td><%=t :created_at %>:</td>
      <td><%= @timerecord_code.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td><%=t :updated_at %>:</td>
      <td><%= @timerecord_code.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to I18n.t("btn_edit", :scope => :"ag2_human.timerecord_codes.show"), edit_timerecord_code_path(@timerecord_code), :class => 'btn btn-primary' %>
<br />
<br />
<%= link_to I18n.t("back_to_main_page", :scope => :"ag2_human.timerecord_codes"), timerecord_codes_path %>
