<%= render '/layouts/ag2_human/trecordcodesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @timerecord_code.id %></td>
      <td><%=t :"activerecord.attributes.timerecord_code.name" %>:</td>
      <td><%= @timerecord_code.name.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @timerecord_code } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @timerecord_code } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update', :locals => { :model => TimerecordCode, :path => edit_timerecord_code_path(@timerecord_code), :txt => I18n.t('ag2_human.timerecord_codes.show.btn_edit') } %>
<%= link_to I18n.t("ag2_human.timerecord_codes.back_to_main_page"), timerecord_codes_path %>
