<%= render '/layouts/ag2_gest/meterlocationsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @meter_location %> |
<%= link_to t('.back'), meter_locations_path %>
