<%= render '/layouts/ag2_gest/gestbreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= clients_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Clients.png" width="48" height="48" alt="ag2Clients" /><h5 class="h5-narrow"><%=t ".clients" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= clients_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Clients.png" width="96" height="96" alt="ag2Clients" /><h5 class="h5-narrow"><%=t ".clients" %></h5></a>
    <% else %>
    <a href="<%= clients_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Clients.png" width="128" height="128" alt="ag2Clients" /><h5 class="h5-narrow"><%=t ".clients" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= subscribers_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Subscribers.png" width="48" height="48" alt="ag2Subscribers" /><h5 class="h5-narrow"><%=t ".subscribers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= subscribers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Subscribers.png" width="96" height="96" alt="ag2Subscribers" /><h5 class="h5-narrow"><%=t ".subscribers" %></h5></a>
    <% else %>
    <a href="<%= subscribers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Subscribers.png" width="128" height="128" alt="ag2Subscribers" /><h5 class="h5-narrow"><%=t ".subscribers" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="<%= contracting_management_path %>" class="thumbnail centered"><img src="/assets/icon/ag2ContractingManagement.png" width="48" height="48" alt="ag2ContractingManagement" /><h5 class="h5-narrow"><%=t ".contracting_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="<%= contracting_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2ContractingManagement.png" width="96" height="96" alt="ag2ContractingManagement" /><h5 class="h5-narrow"><%=t ".contracting_management" %></h5></a>
    <% else %>
    <a data-toggle="modal" href="<%= contracting_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2ContractingManagement.png" width="128" height="128" alt="ag2ContractingManagement" /><h5 class="h5-narrow"><%=t ".contracting_management" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 2 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= tariff_management_path %>" class="thumbnail centered"><img src="/assets/icon/ag2TariffManagement.png" width="48" height="48" alt="ag2Tariffs" /><h5 class="h5-narrow"><%=t ".tariff_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= tariff_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2TariffManagement.png" width="96" height="96" alt="ag2Tariffs" /><h5 class="h5-narrow"><%=t ".tariff_management" %></h5></a>
    <% else %>
    <a href="<%= tariff_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2TariffManagement.png" width="128" height="128" alt="ag2Tariffs" /><h5 class="h5-narrow"><%=t ".tariff_management" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= meter_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2MeterManagement.png" width="48" height="48" alt="ag2Meters" /><h5 class="h5-narrow"><%=t ".meter_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= meter_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2MeterManagement.png" width="96" height="96" alt="ag2Meters" /><h5 class="h5-narrow"><%=t ".meter_management" %></h5></a>
    <% else %>
    <a href="<%= meter_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2MeterManagement.png" width="128" height="128" alt="ag2Meters" /><h5 class="h5-narrow"><%=t ".meter_management" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= reading_management_path %>" class="thumbnail centered"><img src="/assets/icon/ag2ReadingManagement.png" width="48" height="48" alt="ag2Readings" /><h5 class="h5-narrow"><%=t ".reading_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= reading_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2ReadingManagement.png" width="96" height="96" alt="ag2Readings" /><h5 class="h5-narrow"><%=t ".reading_management" %></h5></a>
    <% else %>
    <a href="<%= reading_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2ReadingManagement.png" width="128" height="128" alt="ag2Readings" /><h5 class="h5-narrow"><%=t ".reading_management" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 3 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= sale_offers_path %>" class="thumbnail centered"><img src="/assets/icon/ag2SaleOffers.png" width="48" height="48" alt="ag2SaleOffers" /><h5 class="h5-narrow"><%=t ".sale_offers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= sale_offers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2SaleOffers.png" width="96" height="96" alt="ag2SaleOffers" /><h5 class="h5-narrow"><%=t ".sale_offers" %></h5></a>
    <% else %>
    <a href="<%= sale_offers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2SaleOffers.png" width="128" height="128" alt="ag2SaleOffers" /><h5 class="h5-narrow"><%=t ".sale_offers" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= bill_management_path %>" class="thumbnail centered"><img src="/assets/icon/ag2BillsB.png" width="48" height="48" alt="ag2Bills" /><h5 class="h5-narrow"><%=t ".bill_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= bill_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2BillsB.png" width="96" height="96" alt="ag2Bills" /><h5 class="h5-narrow"><%=t ".bill_management" %></h5></a>
    <% else %>
    <a href="<%= bill_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2BillsB.png" width="128" height="128" alt="ag2Bills" /><h5 class="h5-narrow"><%=t ".bill_management" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= client_payments_path %>" class="thumbnail centered"><img src="/assets/icon/ag2BillCollectionsB.png" width="48" height="48" alt="ag2BillCollection" /><h5 class="h5-narrow"><%=t ".client_payments" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= client_payments_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2BillCollectionsB.png" width="96" height="96" alt="ag2BillCollection" /><h5 class="h5-narrow"><%=t ".client_payments" %></h5></a>
    <% else %>
    <a href="<%= client_payments_path %>" class="thumbnail centered"><img src="/assets/pict/ag2BillCollectionsB.png" width="128" height="128" alt="ag2BillCollection" /><h5 class="h5-narrow"><%=t ".client_payments" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 4 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= service_point_management_path %>" class="thumbnail centered"><img src="/assets/icon/ag2ServicePointManagement.png" width="48" height="48" alt="ag2ServicePoints" /><h5 class="h5-narrow"><%=t ".service_point_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= service_point_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2ServicePointManagement.png" width="96" height="96" alt="ag2ServicePoints" /><h5 class="h5-narrow"><%=t ".service_point_management" %></h5></a>
    <% else %>
    <a href="<%= service_point_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2ServicePointManagement.png" width="128" height="128" alt="ag2ServicePoints" /><h5 class="h5-narrow"><%=t ".service_point_management" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= regulation_management_path %>" class="thumbnail centered"><img src="/assets/icon/ag2RegulationManagement.png" width="48" height="48" alt="ag2Regulations" /><h5 class="h5-narrow"><%=t ".regulation_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= regulation_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2RegulationManagement.png" width="96" height="96" alt="ag2Regulations" /><h5 class="h5-narrow"><%=t ".regulation_management" %></h5></a>
    <% else %>
    <a href="<%= regulation_management_path %>" class="thumbnail centered"><img src="/assets/pict/ag2RegulationManagement.png" width="128" height="128" alt="ag2Regulations" /><h5 class="h5-narrow"><%=t ".regulation_management" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2DebtManagement.png" width="48" height="48" alt="ag2DebtClaimManagement" /><h5 class="h5-narrow"><%=t ".debt_claim_management" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2DebtManagement.png" width="96" height="96" alt="ag2DebtClaimManagement" /><h5 class="h5-narrow"><%=t ".debt_claim_management" %></h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2DebtManagement.png" width="128" height="128" alt="ag2DebtClaimManagement" /><h5 class="h5-narrow"><%=t ".debt_claim_management" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 5 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Frauds.png" width="48" height="48" alt="ag2Frauds" /><h5 class="h5-narrow"><%=t ".frauds" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Frauds.png" width="96" height="96" alt="ag2Frauds" /><h5 class="h5-narrow"><%=t ".frauds" %></h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Frauds.png" width="128" height="128" alt="ag2Frauds" /><h5 class="h5-narrow"><%=t ".frauds" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Complaints.png" width="48" height="48" alt="ag2Complaints" /><h5 class="h5-narrow"><%=t ".complaints" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Complaints.png" width="96" height="96" alt="ag2Complaints" /><h5 class="h5-narrow"><%=t ".complaints" %></h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Complaints.png" width="128" height="128" alt="ag2Complaints" /><h5 class="h5-narrow"><%=t ".complaints" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Formalities.png" width="48" height="48" alt="ag2Formalities" /><h5 class="h5-narrow"><%=t ".formalities" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Formalities.png" width="96" height="96" alt="ag2Formalities" /><h5 class="h5-narrow"><%=t ".formalities" %></h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Formalities.png" width="128" height="128" alt="ag2Formalities" /><h5 class="h5-narrow"><%=t ".formalities" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 6 -->
  <li class="span4">
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2GestTrack.png" width="48" height="48" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2GestTrack.png" width="96" height="96" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2GestTrack.png" width="128" height="128" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 7 -->
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/icon/ag2PaymentMethods.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2PaymentMethods72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% else %>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2PaymentMethods96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= sale_offer_statuses_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".sale_offer_statuses" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= sale_offer_statuses_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".sale_offer_statuses" %></h5></a>
    <% else %>
    <a href="<%= sale_offer_statuses_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".sale_offer_statuses" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= billing_periods_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".billing_periods" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= billing_periods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".billing_periods" %></h5></a>
    <% else %>
    <a href="<%= billing_periods_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".billing_periods" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= billing_frequencies_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".billing_frequencies" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= billing_frequencies_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".billing_frequencies" %></h5></a>
    <% else %>
    <a href="<%= billing_frequencies_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".billing_frequencies" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= centers_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".centers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= centers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".centers" %></h5></a>
    <% else %>
    <a href="<%= centers_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".centers" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= street_directories_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".street_directories" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= street_directories_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".street_directories" %></h5></a>
    <% else %>
    <a href="<%= street_directories_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".street_directories" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
