<%= render '/layouts/ag2_products/ctypesbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @inventory_count_type %> |
<%= link_to t("ag2_products.inventory_count_types.back_to_main_page"), inventory_count_types_path %>
