<div class="row">
  <div class="span12" style="padding-top: 5px">
    <h3 class="sign-h3"><%=t '.title' %></h3>
  </div>
</div>
<div class="row">
  <div class="span8">
    <div class="sign-description">
      <br />
      <%=t '.welcome' %>
      <br />
      <br />
      <p>
        <%=t '.login_h' %> <a href="<%= main_app.new_user_registration_path %>"><%=t '.login_a' %></a><%=t '.login_t' %>
      </p>
      <p>
        <%=t :app_brand_paas_h %><a href="#"><%=t :app_brand_paas_a %></a><%=t :app_brand_paas_t %>
      </p>
      <p class="shrinked">
        <%=t :required_data_reminder %>
      </p>
    </div>
  </div>
  <div class="span4 sign">
    <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class =>  'form-inline' }) do |f| %>
    <%= f.input :email, :autofocus => true, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :password, :input_html => { :class => 'sign-field' }, :label_html => { :class => 'sign-label' } %>
    <%= f.input :remember_me, label: false, inline_label: I18n.t("remember_me", :scope => :"devise.sessions.new"), :as => :boolean if devise_mapping.rememberable? %>
    <div align="center">
      <%= f.button :submit, I18n.t("submit", :scope => :"devise.sessions.new"), :class => 'btn-primary' %>
      <a href="<%= main_app.root_path %>" class="btn btn-primary"><%=t :no_thanks %></a>
    </div>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
