<script>
  jQuery(function($) {
    // when the #store_office_id field changes
    $("#store_office_id").change(function() {
      // make a POST call and replace the content
      var store = $('select#store_office_id :selected').val();
      if (store == "")
        store = "0";
      jQuery.getJSON('update_company_textfield_from_office/' + store, function(data) {
        $("#store_company_id").val(data.id);
      })
      return false;
    });
  });
</script>

<%= simple_form_for @store, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :location, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :office, collection: Office.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :company, collection: Company.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<h4><%= t 'ag2_products.stores.depot' %></h4>
<%= f.association :supplier, collection: Supplier.all(order: 'name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
<%= f.button :submit, :class => 'btn-primary' %>
<% end %>
