<script>
  // Show or hide button(s) to add new item
  function show_new(_show) {
    if (_show == true) {
      $('#offices-table-header').show();
      $('#offices-table').show();
      $('.fnt-new-office-btn').show();
    } else {
      $('#offices-table-header').hide();
      $('#offices-table').hide();
      $('.fnt-new-office-btn').hide();
    }
  }

  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });

    // Disable fields if #store_office_id blank
    var order = $('#store_office_id').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty office: Enable office table
      show_new(true);
    } else {
      // Office OK: Disable office table
      show_new(false);
    }
  });

  jQuery(function($) {
    // when the #store_office_id field changes
    $("#store_office_id").change(function() {
      // make a POST call and replace the content
      var store = $('select#store_office_id :selected').val();
      if (store == "")
        store = "0";
      jQuery.getJSON('st_update_company_textfield_from_office/' + store, function(data) {
        $("#store_company_id").select2("val", data.id);
      })
      if (store == "0") {
        // Empty office: Enable office table
        show_new(true);
      } else {
        // Office OK: Disable office table
        show_new(false);
      }
      return false;
    });

    // when the #store_organization_id field changes
    $("#store_organization_id").change(function() {
      // make a POST call and replace the content
      var store = $('select#store_organization_id :selected').val();
      if (store == "")
        store = "0";
      jQuery.getJSON('st_update_company_and_office_textfields_from_organization/' + store, function(data) {
        var c = data.companies;
        var o = data.offices;
        var s = data.suppliers;
        // Companies
        $("#store_company_id").html("");
        $("#store_company_id").select2("val", "");
        $("#store_company_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'companies' && option != "") {
              $("#store_company_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#store_company_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Offices
        $("#store_office_id").html("");
        $("#store_office_id").select2("val", "");
        $("#store_office_id").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'offices' && option != "") {
              $("#store_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#store_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
          });
        }
        // Suppliers
        $("#store_supplier_id").html("");
        $("#store_supplier_id").select2("val", "");
        $("#store_supplier_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'suppliers' && option != "") {
              $("#store_supplier_id").append($('<option></option>').val(option.id).html(option.supplier_code.substring(0,4) + "-" + option.supplier_code.substring(4,10) + " " + option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#store_supplier_id").append($('<option></option>').val(option.id).html(option.supplier_code.substring(0,4) + "-" + option.supplier_code.substring(4,10) + " " + option.name));
          });
        }
      });
      return false;
    });

    // when the #store_town_id field changes
    $("#store_town_id").change(function() {
      // make a POST call and replace the content
      var office = $('select#store_town_id :selected').val();
      if (office == "")
        office = "0";
      jQuery.getJSON('st_update_province_textfield_from_town/' + office, function(data) {
        $("#store_province_id").val(data.id);
      });
      return false;
    });

    // when the #store_zipcode_id field changes
    $("#store_zipcode_id").change(function() {
      // make a POST call and replace the content
      var office = $('select#store_zipcode_id :selected').val();
      if (office == "")
        office = "0";
      jQuery.getJSON('st_update_province_textfield_from_zipcode/' + office, function(data) {
        $("#store_town_id").val(data.town_id);
        $("#store_province_id").val(data.province_id);
      });
      return false;
    });
  });
</script>

<%= simple_form_for @store, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.input :name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :location, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<% if session[:organization] != '0' %>
<%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% elsif current_user.organizations.count > 0 %>
<%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
<% else %>
<%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
<% end %>
<div>
  <label class="multi-field-label-two">
    <% if session[:office] != '0' %>
    <%= f.association :office, collection: Office.where("id = ?", "#{session[:office]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.offices.count > 0 %>
    <%= f.association :office, collection: current_user.offices.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :office, collection: @offices, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two">
    <% if session[:company] != '0' %>
    <%= f.association :company, collection: Company.where("id = ?", "#{session[:company]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.companies.count > 0 %>
    <%= f.association :company, collection: current_user.companies.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :company, collection: @companies, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
</div>
<!-- Is depot? -->
<h4><%= t 'ag2_products.stores.depot' %></h4>
<%= f.association :supplier, collection: @suppliers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label-under-sel2' } %>
<!-- Address -->
<br />
<h4><%= t 'ag2_products.stores.address' %></h4>
<div>
  <label class="multi-field-label-three-thinner"> <%= f.association :street_type, collection: StreetType.all(order: 'street_type_code'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-wider"> <%= f.input :street_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :street_number, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider"> <%= f.input :building, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor_office, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :zipcode, collection: @zipcodes, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :town, collection: @towns, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :province, collection: @provinces, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :phone, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label-under-sel2' } %> </label>
  <label class="multi-field-label-two"><%= f.input :fax, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %></label>
</div>
<%= f.input :email, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %>
<!-- Offices -->
<table class="form-table" id="offices-table-header">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_products.stores.offices_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields('<i class="icon-plus icon-white"></i>'.html_safe + " " + t("ag2_products.stores.btn_new_office"), f, :store_offices, "office_fields", "new-office-fields", class: "btn btn-warning fnt-new-office-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'offices_table', f: f %>

<%= f.button :submit, :class => 'btn-primary form-button-under-sel2' %>
<% end %>
