<% session[:return_to_prod] = nil %>
<% session[:return_to_prod_url] = nil %>
<%= render '/layouts/ag2_products/storesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span11">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "name", t('activerecord.attributes.store.name') %></th>
        <th><%= sortable "location", t('activerecord.attributes.store.location') %></th>
        <th><%= sortable "company_id", t('activerecord.attributes.store.company') %></th>
        <th><%= sortable "office_id", t('activerecord.attributes.store.office') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @stores.each do |m| %>
      <tr>
        <td><%= link_to m.name, m %></td>
        <td><%= m.location %></td>
        <td><%= m.company.name unless m.company.nil? %></td>
        <td><%= m.office.name unless m.office.nil? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Store, :path => edit_store_path(m) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Store, :path => m, :msg => t("activerecord.models.store.one"), :txt => m.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @stores } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Store, :path => new_store_path, :txt => t(".btn_new") } %>
  <%= link_to t(".back_to_root"), ag2_products.root_path %>
</div>
