<%= render '/layouts/ag2_products/receipts_deliveries_storebreadcrumb' %>

<table class="header-with-image">
  <tr>
    <td class="header-title">
      <h3><%= t '.title' %></h3>
    </td>
    <td class="header-image">
      <span class="highlighted bolded"><%= @store.name %></span>
    </td>
  </tr>
</table>

<!-- Link to return here -->
<% session[:return_to_prod] = I18n.t('ag2_products.stores.receipts_deliveries.return_to') %>
<% session[:return_to_prod_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="div_table">

      <!-- Inventory counts -->
      <a href="#counts" data-toggle="collapse"><h4><%= t :"activerecord.attributes.product.inventory_counts" %></h4></a>
      <% if (@counts.count > 0) %>
      <div id="counts" class="collapse in">
      <table class="table table-condensed table-striped">
        <!-- id -->
        <col width="8%" />
        <!-- date -->
        <col width="10%" />
        <!-- no -->
        <col width="22%" />
        <!-- product -->
        <col width="39%" />
        <!-- quantity -->
        <col width="21%" />
        <thead>
          <tr>
            <th>Id</th>
            <th align="center"><%= t 'activerecord.attributes.inventory_count.count_date' %></th>
            <th><%= t 'activerecord.attributes.inventory_count.count_no' %></th>
            <th><%=t "activerecord.attributes.inventory_count_item.product" %></th>
            <th align="right"><%=t "activerecord.attributes.inventory_count_item.quantity_c" %></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td align="right"><%= t :"activerecord.attributes.product.stock" %></td>
            <td align="right"><%= number_with_precision(@store.counts, precision: 4) unless @store.counts.blank? %></td>
          </tr>
        </tfoot>
        <tbody>
          <% @counts.each do |m| %>
          <tr>
            <td><%= m.inventory_count.id %></td>
            <td align="center"><%= formatted_date(m.inventory_count.count_date) unless m.inventory_count.count_date.blank? %></td>
            <td><%= link_to m.inventory_count.full_no, m.inventory_count %></td>
            <td><%= m.product.partial_name unless m.product.blank? %></td>
            <td align="right"><%= number_with_precision(m.quantity, precision: 4) unless m.quantity.blank? %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% end %>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @counts } %>

      <!-- Receipts -->
      <a href="#receipts" data-toggle="collapse"><h4><%= t :"activerecord.attributes.store.receipts" %></h4></a>
      <% if (@receipts.count > 0) %>
      <div id="receipts" class="collapse in">
      <table class="table table-condensed table-striped">
        <!-- id -->
        <col width="5%" />
        <!-- date -->
        <col width="10%" />
        <!-- no -->
        <col width="12%" />
        <!-- product -->
        <col width="29%" />
        <!-- quantity -->
        <col width="11%" />
        <!-- price -->
        <col width="11%" />
        <!-- discount -->
        <col width="11%" />
        <!-- amount -->
        <col width="11%" />
        <thead>
          <tr>
            <th>Id</th>
            <th align="center"><%= t 'activerecord.attributes.receipt_note.receipt_date' %></th>
            <th><%= t :"activerecord.attributes.receipt_note.receipt_no" %></th>
            <th><%=t "activerecord.attributes.receipt_note_item.product" %></th>
            <th align="right"><%=t "activerecord.attributes.receipt_note_item.quantity_c" %></th>
            <th align="right"><%= t "activerecord.attributes.receipt_note_item.price_c" %></th>
            <th align="right"><%= t "activerecord.attributes.receipt_note_item.discount_c" %></th>
            <th align="right"><%=t "activerecord.attributes.receipt_note_item.amount_c" %></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td align="right"><%= t :"activerecord.attributes.product.stock" %></td>
            <td align="right"><%= number_with_precision(@store.receipts, precision: 4) unless @store.receipts.blank? %></td>
            <td align="right"><%= number_with_precision(@store.receipts_price_avg, precision: 4) unless @store.receipts_price_avg.blank? %></td>
            <td align="right"><%= number_with_precision(@store.receipts_discount, precision: 4) unless @store.receipts_discount.blank? %></td>
            <td align="right"><%= number_with_precision(@store.receipts_amount, precision: 4) unless @store.receipts_amount.blank? %></td>
          </tr>
        </tfoot>
        <tbody>
          <% @receipts.each do |m| %>
          <tr>
            <td><%= m.receipt_note.id %></td>
            <td align="center"><%= formatted_date(m.receipt_note.receipt_date) unless m.receipt_note.receipt_date.blank? %></td>
            <td><%= link_to m.receipt_note.receipt_no, m.receipt_note %></td>
            <td><%= m.product.partial_name unless m.product.blank? %></td>
            <td align="right"><%= number_with_precision(m.quantity, precision: 4) unless m.quantity.blank? %></td>
            <td align="right"><%= number_with_precision(m.price, precision: 4) unless m.price.blank? %></td>
            <td align="right"><%= number_with_precision(m.discount, precision: 4) unless m.discount.blank? %></td>
            <td align="right"><%= number_with_precision(m.amount, precision: 4) unless m.amount.blank? %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% end %>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @receipts } %>

      <!-- Deliveries -->
      <a href="#deliveries" data-toggle="collapse"><h4><%= t :"activerecord.attributes.store.deliveries" %></h4></a>
      <% if (@deliveries.count > 0) %>
      <div id="deliveries" class="collapse in">
      <table class="table table-condensed table-striped">
        <!-- id -->
        <col width="5%" />
        <!-- date -->
        <col width="10%" />
        <!-- no -->
        <col width="12%" />
        <!-- product -->
        <col width="29%" />
        <!-- quantity -->
        <col width="11%" />
        <!-- price -->
        <col width="11%" />
        <!-- discount -->
        <col width="11%" />
        <!-- amount -->
        <col width="11%" />
        <thead>
          <tr>
            <th>Id</th>
            <th align="center"><%= t 'activerecord.attributes.delivery_note.delivery_date' %></th>
            <th><%= t :"activerecord.attributes.delivery_note.delivery_no" %></th>
            <th><%=t "activerecord.attributes.delivery_note_item.product" %></th>
            <th align="right"><%=t "activerecord.attributes.delivery_note_item.quantity_c" %></th>
            <th align="right"><%= t "activerecord.attributes.delivery_note_item.price_c" %></th>
            <th align="right"><%= t "activerecord.attributes.delivery_note_item.discount_c" %></th>
            <th align="right"><%=t "activerecord.attributes.delivery_note_item.amount_c" %></th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td align="right"><%= t :"activerecord.attributes.product.stock" %></td>
            <td align="right"><%= number_with_precision(@store.deliveries, precision: 4) unless @store.deliveries.blank? %></td>
            <td align="right"><%= number_with_precision(@store.deliveries_price_avg, precision: 4) unless @store.deliveries_price_avg.blank? %></td>
            <td align="right"><%= number_with_precision(@store.deliveries_discount, precision: 4) unless @store.deliveries_discount.blank? %></td>
            <td align="right"><%= number_with_precision(@store.deliveries_amount, precision: 4) unless @store.deliveries_amount.blank? %></td>
          </tr>
        </tfoot>
        <tbody>
          <% @deliveries.each do |m| %>
          <tr>
            <td><%= m.delivery_note.id %></td>
            <td align="center"><%= formatted_date(m.delivery_note.delivery_date) unless m.delivery_note.delivery_date.blank? %></td>
            <td><%= link_to m.delivery_note.full_no, m.delivery_note %></td>
            <td><%= m.product.partial_name unless m.product.blank? %></td>
            <td align="right"><%= number_with_precision(m.quantity, precision: 4) unless m.quantity.blank? %></td>
            <td align="right"><%= number_with_precision(m.price, precision: 4) unless m.price.blank? %></td>
            <td align="right"><%= number_with_precision(m.discount, precision: 4) unless m.discount.blank? %></td>
            <td align="right"><%= number_with_precision(m.amount, precision: 4) unless m.amount.blank? %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      </div>
      <% end %>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @deliveries } %>

      <%= link_to t("ag2_products.stores.show.return_to"), @store %>
    </div><!-- /.span12 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
