<%= render '/layouts/ag2_products/storesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @store.id %></td>
      <td><%=t 'activerecord.attributes.store.name' %>:</td>
      <td><%= @store.name %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.store.company' %>:</td>
      <td><%= @store.company.name unless @store.company.blank? %></td>
      <td><%=t 'activerecord.attributes.store.office' %>:</td>
      <td><%= @store.office.name unless @store.office.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.store.location' %>:</td>
      <td><%= @store.location unless @store.location.blank? %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @store } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @store } %>
  </tbody>
</table>

<!-- Is depot? -->
<h4><%= t 'ag2_products.stores.depot' %></h4>
<table class="table table-condensed">
  <tbody>
    <tr>
      <td><%=t 'activerecord.attributes.store.depot' %>:</td>
      <td><%= @store.supplier.full_name unless @store.supplier.blank? %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<!-- Address -->
<h4><%= t 'ag2_products.stores.address' %></h4>
<table class="table table-condensed">
  <tbody>
    <tr>
      <td><%= t 'activerecord.attributes.store.address' %>:</td>
      <td> <%= @store.street_type.street_type_code.titleize  %>. <%= @store.street_name %> <%= @store.street_number %>
      <% if !@store.building.nil? %>
      <%= @store.building.titleize %>
      <% end %>
      <% if !@store.floor.nil? %>
      <%= @store.floor %>&ordm;
      <% end %>
      <% if !@store.floor_office.nil? %>
      <%= @store.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.store.town' %>:</td>
      <td><%= @store.town.name %></td>
      <td><%= t 'activerecord.attributes.store.province' %>:</td>
      <td><%= @store.province.name_region_country %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.store.zipcode' %>:</td>
      <td><%= @store.zipcode.zipcode %></td>
      <td><%= t 'activerecord.attributes.store.email' %>:</td>
      <td><%= @store.email %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.store.phone' %>:</td>
      <td><%= @store.phone %></td>
      <td><%= t 'activerecord.attributes.store.fax' %>:</td>
      <td><%= @store.fax %></td>
    </tr>
  </tbody>
</table>

<!-- Offices -->
<% if (@offices.count > 0) %>
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_products.stores.offices_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'offices_header' %>
  </thead>
  <tbody>
    <%= render partial: 'office', collection: @offices %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @offices } %>
<% end %> <!-- end @offices.count > 0 -->

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Store, update_path: edit_store_path(@store), update_txt: t('.btn_edit'),
delete_path: @store, delete_txt: t('.btn_delete'), msg: t("activerecord.models.store.one"), txt: @store.name,
new_path: new_store_path, new_txt: t('ag2_products.stores.index.btn_new') } %>

<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%=t '.subtable_title' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to t("ag2_products.stores.receipts_deliveries.title"), receipts_deliveries_stores_path(id: @store), :class => 'btn btn-warning' %>
        <%= render partial: '/layouts/ag2_products/storestocks', locals: { store: @store } %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@stocks.count > 0) %>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/stocksstoreheader' %>
  </thead>
  <tfoot>
    <%= render :partial => '/layouts/ag2_products/stocksstorefooter', :locals => { :store => @store } %>
  </tfoot>
  <tbody>
    <%= render :partial => '/layouts/ag2_products/stocksstore', :locals => { :stocks => @stocks } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @stocks } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @stocks } %>
<% end %>

<%= link_to t("ag2_products.stores.back_to_main_page"), stores_path %>
