<%= render '/layouts/ag2_purchase/pmethodsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span8">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "description", t('activerecord.attributes.payment_method.description') %></th>
        <th><%= sortable "flow", t('activerecord.attributes.payment_method.flow') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @payment_methods.each do |pmethod| %>
      <tr>
        <td><%= link_to pmethod.description, pmethod %></td>
        <td><%= pmethod.flow_label %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => PaymentMethod, :path => edit_payment_method_path(pmethod) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => PaymentMethod, :path => pmethod, :msg => t("activerecord.models.payment_method.one"), :txt => pmethod.description } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @payment_methods } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => PaymentMethod, :path => new_payment_method_path, :txt => t(".btn_new") } %>

  <%= link_to t('.all'), controller: "payment_methods", action: "index" %> |
  <%= link_to t('.collection_only'), controller: "payment_methods", action: "index", filter: "collection" %> |
  <%= link_to t('.payment_only'), controller: "payment_methods", action: "index", filter: "payment" %> |
  <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
</div>
