<%= render '/layouts/ag2_purchase/pmethodsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @payment_method.id %></td>
      <td><%=t 'activerecord.attributes.payment_method.description' %>:</td>
      <td><%= @payment_method.description.titleize %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.payment_method.expiration_days' %>:</td>
      <td><%= @payment_method.expiration_days unless @payment_method.expiration_days.blank? %></td>
      <td><%=t 'activerecord.attributes.payment_method.default_interest' %>:</td>
      <td><%= number_to_percentage(@payment_method.default_interest, :locale => :es) unless @payment_method.default_interest.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @payment_method } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @payment_method } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: PaymentMethod, update_path: edit_payment_method_path(@payment_method), update_txt: t('.btn_edit'),
delete_path: @payment_method, delete_txt: t('.btn_delete'), msg: t("activerecord.models.payment_method.one"), txt: @payment_method.description,
new_path: new_payment_method_path, new_txt: t('ag2_purchase.payment_methods.index.btn_new') } %>

<% if (@suppliers.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_purchase/suppliersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_purchase.payment_methods.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_purchase/suppliers', :locals => { :suppliers => @suppliers } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @suppliers } %>
<% end %>

<%= link_to t('ag2_purchase.payment_methods.back_to_main_page'), payment_methods_path %>
