<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.delivery_note.delivery_no' %></th>
      <th align="center"><%= t 'activerecord.attributes.delivery_note.delivery_date' %></th>
      <th><%= t 'activerecord.attributes.delivery_note.client' %></th>
      <th><%= t 'activerecord.attributes.delivery_note.project' %></th>
      <th><%= t 'activerecord.attributes.delivery_note.work_order' %></th>
      <th align="right"><%= t 'activerecord.attributes.delivery_note.total' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_notes.each do |note| %>
    <tr>
      <td><%= link_to note.delivery_no, note %></td>
      <td align="center"><%= note.delivery_date.strftime("%d/%m/%Y") unless note.delivery_date.blank? %></td>
      <td><%= note.client.full_name unless note.client.blank? %></td>
      <td><%= note.project.full_name unless note.project.blank? %></td>
      <td><%= note.work_order.full_name unless note.work_order.blank? %></td>
      <td align="right"><%= number_with_precision(note.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless note.total.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => ReceiptNote, :path => edit_delivery_note_path(note) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => ReceiptNote, :path => offer, :msg => t("activerecord.models.delivery_note.one"), :txt => note.delivery_no } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @delivery_notes } %>
