<script>
  var _thisForm = '';
  var changing = false;

  function setupAllSelect2(c, p, w, a) {
    clientsSelect2(c);
    projectsSelect2(p);
    wordersSelect2(w);    
    caccountsSelect2(a);    
  }

  function clientsSelect2(intialValue) {
    $('#Client').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_clients",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function projectsSelect2(intialValue) {
    $('#Project').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function wordersSelect2(intialValue) {
    $('#Order').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_work_orders",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function caccountsSelect2(intialValue) {
    $('#Account').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_charge_accounts",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });

    // Setup special search (select2)
    setupAllSelect2("<%= @client %>", "<%= @project %>", "<%= @work_order %>", "<%= @charge_account %>");

    // Initialized form variable
    _thisForm = $("#Client").closest('form')[0];
  }); 

  // $(document).ajaxStart(function() {
  //   // show loader on start
  //   if (changing == false) {
  //     $("#div_table").html("");
  //     $("#loader").show();
  //   }
  // });
  $(document).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    a = "<%= dn_restore_filters %>";
    $("#No").val("<%= params[:No] %>");
    // $("#Client").select2("val", "<%= params[:Supplier] %>");
    // $("#Project").select2("val", "<%= params[:Project] %>");
    // $("#Order").select2("val", "<%= params[:Order] %>");
    // $("#Account").select2("val", "<%= params[:Account] %>");
    $("#search").val("<%= params[:search] %>");
  });

  jQuery(function($) {
    // when .icon-refresh-link is clicked
    $(".icon-refresh-link").click(function() {
      // show loader
      $("#div_table").html("");
      $("#loader").show();
    });

    // when #submit_btn is clicked
    $("#submit_btn").click(function() {
      // show loader
      $("#div_table").html("");
      $("#loader").show();
    });

    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Client").select2("val", "");
      $("#Project").select2("val", "");
      $("#Order").select2("val", "");
      $("#Account").select2("val", "");
      $("#search").val("");
      a = "<%= dn_remove_filters %>";
      setupAllSelect2(a, a, a, a);
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      window.open("delivery_notes_report.pdf", "_blank");
      return false;
    });
    // when #print_csv_btn is clicked
    $("#print_csv_btn").click(function() {
      // make a POST call and get report
      window.open("delivery_notes_report.csv", "_blank");
      return false;
    });
  });
</script>

<% session[:return_to_prod] = nil %>
<% session[:return_to_prod_url] = nil %>
<%= render '/layouts/ag2_products/deliveriesbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_products.delivery_notes_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "delivery_notes", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.delivery_note.delivery_no"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", params[:No], :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Client -->
        <%= label_tag I18n.t("ag2_products.delivery_notes.index.label_client"), nil, :class => 'form-label' %>
        <%= hidden_field_tag "Client", params[:Client], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_products.delivery_notes.index.label_project"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Project", params[:Project], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Work order -->
        <%= label_tag I18n.t("ag2_products.delivery_notes.index.label_work_order"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Order", params[:Order], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Charge account -->
        <%= label_tag I18n.t("ag2_products.delivery_notes.index.label_charge_account"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Account", params[:Account], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_products.delivery_notes.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => ReceiptNote, :path => new_delivery_note_path, :txt => t(".btn_new") } %>
        <!-- Control&Tracking -->
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t 'ag2_products.home.index.control' %></a>
        <br /><br /> 
        <a href="#" id="print_csv_btn" class="btn btn-success"><i class="glyphicon glyphicon-download-alt icon-download-alt icon-white"></i> <%= t 'ag2_products.home.index.control' %></a>

        <br /><br />
        <!-- Back -->
        <%= link_to t(".back_to_root"), ag2_products.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'delivery_notes' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
