<script>
  jQuery(function($) {
    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      window.open("delivery_note_form.pdf?id=" + id, "_blank");
      return false;
    });

    // when #print_report_btn_client is clicked
    $("#print_report_btn_client").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      window.open("delivery_note_form_client.pdf?id=" + id, "_blank");
      return false;
    });
  });  
</script>

<%= render '/layouts/ag2_products/deliveriesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td id="id"><%= @delivery_note.id %></td>
      <td><%=t 'activerecord.attributes.delivery_note.delivery_no' %>:</td>
      <td class="highlighted bolded"><%= @delivery_note.full_no %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.delivery_note.delivery_date' %>:</td>
      <td><%= formatted_date(@delivery_note.delivery_date) unless @delivery_note.delivery_date.blank? %></td>
      <td><%=t 'activerecord.attributes.delivery_note.sale_offer' %>:</td>
      <td><%= @delivery_note.sale_offer.offer_no unless @delivery_note.sale_offer.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.delivery_note.client' %>:</td>
      <td><%= @delivery_note.client.full_name unless @delivery_note.client.blank? %></td>
      <td><%=t 'activerecord.attributes.delivery_note.payment_method' %>:</td>
      <td> <%= @delivery_note.payment_method.description unless @delivery_note.payment_method.blank? %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.delivery_note.project' %>:</td>
      <td><%= @delivery_note.project.full_name unless @delivery_note.project.blank? %></td>
      <td><%=t 'activerecord.attributes.delivery_note.work_order' %>:</td>
      <td><%= @delivery_note.work_order.full_name unless @delivery_note.work_order.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.delivery_note.charge_account' %>:</td>
      <td> <%= @delivery_note.charge_account.full_name unless @delivery_note.charge_account.blank? %> </td>
      <td><%=t 'activerecord.attributes.delivery_note.store' %>:</td>
      <td> <%= @delivery_note.store.name unless @delivery_note.store.blank? %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @delivery_note } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @delivery_note } %>
  </tbody>
</table>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_products.delivery_notes.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t '.print' %></a>
        <% if !@delivery_note.client.blank? %>
          <a href="#" id="print_report_btn_client" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t '.print_client' %></a>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'items_footer', :locals => { note: @delivery_note } %>
  </tfoot>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @items } %>
<% end %> <!-- end @items.count > 0 -->

<!-- Remarks -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.delivery_note.remarks" %>:</td>
      <td style="width: 88%"><%= @delivery_note.remarks unless @delivery_note.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: DeliveryNote, update_path: edit_delivery_note_path(@delivery_note), update_txt: t('.btn_edit'),
delete_path: @delivery_note, delete_txt: t('.btn_delete'), msg: t("activerecord.models.delivery_note.one"), txt: @delivery_note.full_no,
new_path: new_delivery_note_path, new_txt: t('ag2_products.delivery_notes.index.btn_new') } %>

<% if !session[:return_to_prod].nil? %>
<%= link_to session[:return_to_prod], session[:return_to_prod_url] %> |
<% end %>
<%= link_to t("ag2_products.delivery_notes.back_to_main_page"), delivery_notes_path %>
