<% content_for :title, "aGestiona2 | ag2InventoryCounts" %>
<% content_for :icon, "/assets/icon/ag2Counts.png" %>
<% content_for :alt, "ag2InventoryCounts" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_products.root_path %>">ag2Logistics</a><span class="divider">></span>
  </li>
  <% if @inventory_counts %>
  <li>
    <%=t "ag2_products.breadcrumb.inventory_counts.items" %>
  </li>
  <% end %>
  <% if @inventory_count %>
  <li>
    <a href="<%= inventory_counts_path %>"><%=t "ag2_products.breadcrumb.inventory_counts.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_products.breadcrumb.inventory_counts.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>
  <!-- Records navigator -->
  <% if @breadcrumb == 'read' %>
  <li>
    <span class="divider"></span>
  </li>
  <li>
    <%= link_to @inventory_count.to_first, :class => 'notice-icon-button', :id => 'first', :title => I18n.t(:first) do %>
    <i class="icon-fast-backward"></i>
    <% end %>
  </li>
  <li>
    <%= link_to @inventory_count.to_prev, :class => 'notice-icon-button', :id => 'prev', :title => I18n.t(:prev) do %>
    <i class="icon-backward"></i>
    <% end %>
  </li>
  <li>
    <%= link_to @inventory_count.to_next, :class => 'notice-icon-button', :id => 'next', :title => I18n.t(:next) do %>
    <i class="icon-forward"></i>
    <% end %>
  </li>
  <li>
    <%= link_to @inventory_count.to_last, :class => 'notice-icon-button', :id => 'last', :title => I18n.t(:last) do %>
    <i class="icon-fast-forward"></i>
    <% end %>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_products.root_path %>">&#215;</a>
</ul>
