<% content_for :title, "aGestiona2 | ag2Products | ag2Tables" %>
<% content_for :icon, "/assets/icon/ag2Products.png" %>
<% content_for :alt, "ag2Tables" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_products.root_path %>">ag2Products</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_products.products_path %>"><%=t :"ag2_products.home.index.products" %></a><span class="divider">></span>
  </li>
  <% if @purchase_prices %>
  <li>
    <%=t :"ag2_products.breadcrumb.prices.items" %>
  </li>
  <% end %>
  <% if @purchase_price %>
  <li>
    <a href="<%= product_types_path %>"><%=t :"ag2_products.breadcrumb.prices.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_products.breadcrumb.prices.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_products.root_path %>">&#215;</a>
</ul>
