<% content_for :title, "aGestiona2 | ag2Products" %>
<% content_for :icon, "/assets/icon/ag2Products.png" %>
<% content_for :alt, "ag2Products" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_products.root_path %>">ag2Products</a><span class="divider">></span>
  </li>
  <% if @products %>
  <li>
    <%=t :"ag2_products.breadcrumb.products.items" %>
  </li>
  <% end %>
  <% if @product %>
  <li>
    <a href="<%= products_path %>"><%=t :"ag2_products.breadcrumb.products.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_products.breadcrumb.products.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>
  <!-- Records navigator -->
  <% if @breadcrumb == 'read' %>
  <li>
    <span class="divider"></span>
  </li>
  <li>
    <%= link_to @product.to_first, :class => 'notice-icon-button', :id => 'first', :title => I18n.t(:first) do %>
    <i class="icon-fast-backward"></i>
    <% end %>
  </li>
  <li>
    <%= link_to @product.to_prev, :class => 'notice-icon-button', :id => 'prev', :title => I18n.t(:prev) do %>
    <i class="icon-backward"></i>
    <% end %>
  </li>
  <li>
    <%= link_to @product.to_next, :class => 'notice-icon-button', :id => 'next', :title => I18n.t(:next) do %>
    <i class="icon-forward"></i>
    <% end %>
  </li>
  <li>
    <%= link_to @product.to_last, :class => 'notice-icon-button', :id => 'last', :title => I18n.t(:last) do %>
    <i class="icon-fast-forward"></i>
    <% end %>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_products.root_path %>">&#215;</a>
</ul>
