<% stocks.each do |w| %>
<tr>
  <td><%= w.store.name %></td>
  <td align="right"><%= number_with_precision(w.minimum, precision: 4) unless w.minimum.blank? %></td>
  <td align="right"><%= number_with_precision(w.maximum, precision: 4) unless w.maximum.blank? %></td>
  <td align="right"><%= number_with_precision(w.initial, precision: 4) unless w.initial.blank? %></td>
  <td align="right"><%= number_with_precision(w.receipts_by_product, precision: 4) unless w.receipts_by_product.blank? %></td>
  <td align="right"><%= number_with_precision(w.deliveries_by_product, precision: 4) unless w.deliveries_by_product.blank? %></td>
  <td align="right"><%= number_with_precision(w.current, precision: 4) unless w.current.blank? %></td>
</tr>
<% end %>
