<script>
  function show_buttons(_show) {
    if (_show == true) {
      $('#report_btn').show();
      $('#csv_btn').show();
      $('label[for=label_detailed]').show();
    } else {
      $('#report_btn').hide();
      $('#csv_btn').hide();
      $('label[for=label_detailed]').hide();
    }
  }
  function show_buttons_without_detail(_show) {
    if (_show == true) {
      $('#report_btn').show();
      $('#csv_btn').show();
      $('label[for=label_detailed]').hide();
    } else {
      $('#report_btn').hide();
      $('#csv_btn').hide();
      $('label[for=label_detailed]').hide();
    }
  }
  function show_buttons_without_detail_and_csv(_show) {
    if (_show == true) {
      $('#report_btn').show();
      $('#csv_btn').hide();
      $('label[for=label_detailed]').hide();
    } else {
      $('#report_btn').hide();
      $('#csv_btn').hide();
      $('label[for=label_detailed]').hide();
    }
  }

  function setupAllSelect2(p, r, u, c, s, a, b, r, sp) {
    projectsSelect2(p);
    periodsSelect2(r);
    usersSelect2(u);
    clientsSelect2(c);
    subscribersSelect2(s);
    // addressesSelect2(a);
    billersSelect2(b);    
    routes_Select2(r);
    servicePointsSelect2(sp); 
  }

  function projectsSelect2(intialValue) {
    $('#Project').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return {
            results: data
          }
        },
        cache: true
      }
    });
  }

  function periodsSelect2(intialValue) {
    $('#Period').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_billing_periods",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return {
            results: data
          }
        },
        cache: true
      }
    });
  }

  function usersSelect2(intialValue) {
    $('#User').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_users",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return {
            results: data
          }
        },
        cache: true
      }
    });
  }

  function clientsSelect2(intialValue) {
    $('#Client').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_clients",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return {
            results: data
          }
        },
        cache: true
      }
    });
  }

  function subscribersSelect2(intialValue) {
    $('#Subscriber').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_subscribers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return {
            results: data
          }
        },
        cache: true
      }
    });
  }

  // function addressesSelect2(intialValue) {
  //   $('#StreetName').select2({
  //     formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
  //     dropdownCssClass: 'shrinked',
  //     dropdownAutoWidth: true,
  //     placeholder: intialValue,
  //     allowClear: true,
  //     ajax: {
  //       url: "/search_supply_addresses",
  //       dataType: "json",
  //       delay: 250,
  //       data: function(term, page) {
  //         return {
  //           q: term || '',
  //           page: page || 1
  //         };
  //       },
  //       results: function(data, page) {
  //         return {
  //           results: data
  //         }
  //       },
  //       cache: true
  //     }
  //   });
  // }

  function billersSelect2(intialValue) {
    $('#Biller').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_companies",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function routes_Select2(intialValue) {
    $('#ReadingRoute').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_reading_routes",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function servicePointsSelect2(intialValue) {
    $('#ServicePoint').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_service_points_all",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      containerCssClass: 'left-winged',
      allowClear: true
    });

    // Setup special search (select2)
    setupAllSelect2("<%= @project %>", "<%= @period %>", "<%= @user %>", "<%= @client %>", "<%= @subscriber %>", "<%= @biller %>", "<%= @reading_route %>", "<%= @service_point %>");

    // Hide report button
    show_buttons(false);
  }); 

  jQuery(function($) {
    // when the #Report field changes
    $("#Report").change(function() {
      var report = $('#Report :selected').index();
      if (report == "")
        report = 0;
      switch (report) {
        // water_supply_contract_report
        case 1:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          show("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          show("#RequestStatus", "label_request_status");
          show("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail_and_csv(true);
          break;
        // water_connection_contract_report
        case 2:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          show("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          show("#RequestStatus", "label_request_status");
          show("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail_and_csv(true);
          break;
        // contracting_request_report
        case 3:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          show("#RequestStatus", "label_request_status");
          show("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail_and_csv(true);
          break;
        // invoice_report
        case 4:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          show("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          show("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          show("#Status", "label_status");
          show("#Type", "label_type");
          show("#Operation", "label_operation");
          hide("#Use", "label_use");
          show("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          show("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons(true);
          break;
        // client_payment_report
        case 5:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          show("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          show("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          show("#Status", "label_status");
          show("#Type", "label_type");
          show("#Operation", "label_operation");
          hide("#Use", "label_use");
          show("#PaymentMethod", "label_payment_method");
          show("#PaymentType", "label_payment_type");
          show("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // debt_claim_report
        case 6:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          show("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          show("#User", "label_user");
          show("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          show("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          show("#RequestStatus", "label_request_status");
          show("#RequestType", "label_request_type");
          show("#Status", "label_status");
          show("#Type", "label_type");
          show("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          show("#TariffType", "label_tariff_type");
          show_buttons(true);
          break;
        // reading_report
        case 7:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          show("#Period", "label_period");
          hide("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // service_point_report 
        case 8:
          hide_date("#From", "label_from");
          hide_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          hide("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // sp_with_meter
        case 9:
          hide_date("#From", "label_from");
          hide_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          hide("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // subscriber_report
        case 10:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // subscriber_eco_report
        case 11:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons(true);
          break;
        // subscriber_tec_report
        case 12:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // subscriber_debt_report
        case 13:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons(true);
          break;
        // subscriber_invoice_charged_report
        case 14:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          show("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail_and_csv(true);
          break;
        // client_report
        case 15:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons(true);
          break;
        // client_debt_report
        case 16:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons(true);
          break;
        // client_invoice_charged_report
        case 17:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          show("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          hide_text("#Meter", "label_meter");
          hide("#Caliber", "label_caliber");
          hide("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          hide("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail_and_csv(true);
          break;
        // meter_report
        case 18:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          hide("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // meter_expired_report
        case 19:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          hide("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // meter_shared_report
        case 20:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          hide("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        // meter_master_report
        case 21:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          hide_date("#ToDebt", "label_to_debt");
          hide("#Project", "label_project");
          hide("#Period", "label_period");
          hide("#Client", "label_client");
          hide("#Subscriber", "label_subscriber");
          hide_text("#StreetName", "label_street");
          hide("#User", "label_user");
          hide("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          hide("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          hide("#RequestStatus", "label_request_status");
          hide("#RequestType", "label_request_type");
          hide("#Status", "label_status");
          hide("#Type", "label_type");
          hide("#Operation", "label_operation");
          hide("#Use", "label_use");
          hide("#PaymentMethod", "label_payment_method");
          hide("#PaymentType", "label_payment_type");
          hide("#Concept", "label_concept");
          hide("#TariffType", "label_tariff_type");
          show_buttons_without_detail(true);
          break;
        //Default
        default:
          show_date("#From", "label_from");
          show_date("#To", "label_to");
          show_date("#ToDebt", "label_to_debt");
          show("#Project", "label_project");
          show("#Period", "label_period");
          show("#Client", "label_client");
          show("#Subscriber", "label_subscriber");
          show_text("#StreetName", "label_street");
          show("#User", "label_user");
          show("#Biller", "label_biller");
          show_text("#Meter", "label_meter");
          show("#Caliber", "label_caliber");
          show("#ServicePoint", "label_service_point");
          show("#TariffScheme", "label_tariff_scheme");
          show("#ReadingRoute", "label_reading_route");
          show("#RequestStatus", "label_request_status");
          show("#RequestType", "label_request_type");
          show("#Status", "label_status");
          show("#Type", "label_type");
          show("#Operation", "label_operation");
          show("#Use", "label_use");
          show("#PaymentMethod", "label_payment_method");
          show("#PaymentType", "label_payment_type");
          show("#Concept", "label_concept");
          show("#TariffType", "label_tariff_type");
          show_buttons(false);
      }
      return false;
    });

    // when #report_btn is clicked
    $("#report_btn").click(function() {
      get_report_or_csv(false);
      return false;
    });

    // when #csv_btn is clicked
    $("#csv_btn").click(function() {
      get_report_or_csv(true);
      return false;
    });
    
    function get_report_or_csv(_csv) {
      var nam = '';
      var ext = '.pdf';
      var pag = '_blank';
      var report = $('#Report :selected').index();
      if (report == "")
        return;
      var detailed = $('#detailed').prop('checked');
      var from = $('#From').val();
      var to = $('#To').val();
      var todebt = $('#ToDebt').val();
      if (((from == "") || (to == "")) && report == 1)
        return;
      if (((from == "") || (to == "")) && report == 2)
        return;
      if (((from == "") || (to == "")) && report == 3)
        return;
      if (((from == "") || (to == "")) && report == 4)
        return;
      if (((from == "") || (to == "")) && report == 5)
        return;
      if (((from == "") || (to == "")) && report == 6)
        return;
      if (((from == "") || (to == "")) && report == 7)
        return;
      if (((from == "") || (to == "")) && report == 10)
        return;
      if (((from == "") || (to == "")) && report == 11)
        return;
      if (((from == "") || (to == "")) && report == 12)
        return;
      if (((from == "") || (to == "") || (todebt == "")) && report == 13)
        return;
      if (((from == "") || (to == "")) && report == 14)
        return;
      if (((from == "") || (to == "")) && report == 15)
        return;
      if (((from == "") || (to == "") || (todebt == "")) && report == 16)
        return;
      if (((from == "") || (to == "")) && report == 17)
        return;
      if (((from == "") || (to == "")) && report == 18)
        return;
      if (((from == "") || (to == "")) && report == 19)
        return;
      if (((from == "") || (to == "")) && report == 20)
        return;
      if (((from == "") || (to == "")) && report == 21)
        return;
      // CSV or PDF
      if (_csv == true) {
        ext = ".csv";
        pag = '_self';
      }
      switch (report) {
        // OKwater_supply_contract_report
        case 1:
          var project = $('#Project').val();
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var tariff_scheme = $('#TariffScheme').val();
          var reading_route = $('#ReadingRoute').val();
          var use = $('#Use').val();
          var request_status = $('#RequestStatus').val();
          var request_type = $('#RequestType').val();
          nam = "water_supply_contract_report" + ext;
          // if (detailed == "") {
          //   nam = "water_supply_contract_report" + ext;
          // } else {
          //   nam = "water_supply_contract_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project + "&client=" + client 
            + "&subscriber=" + subscriber + "&meter=" + meter + "&caliber=" + caliber 
            + "&tariff_scheme=" + tariff_scheme + "&reading_route=" + reading_route + "&use=" + use + "&request_status=" + request_status + "&request_type=" + request_type
            , pag);
          break;
        // OKwater_connection_contract_report
        case 2:
          var project = $('#Project').val();
          var client = $('#Client').val();
          var caliber = $('#Caliber').val();
          var tariff_scheme = $('#TariffScheme').val();
          var request_status = $('#RequestStatus').val();
          var request_type = $('#RequestType').val();
          nam = "water_connection_contract_report" + ext;
          // if (detailed == "") {
          //   nam = "water_connection_contract_report" + ext;
          // } else {
          //   nam = "water_connection_contract_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project + "&client=" + client 
            + "&caliber=" + caliber 
            + "&tariff_scheme=" + tariff_scheme + "&request_status=" + request_status + "&request_type=" + request_type
            , pag);
          break;
        // OKcontracting_request_report
        case 3:
          var project = $('#Project').val();
          var client = $('#Client').val();
          var request_status = $('#RequestStatus').val();
          var request_type = $('#RequestType').val();
          nam = "contracting_request_report_track" + ext;
          // if (detailed == "") {
          //   nam = "contracting_request_report" + ext;
          // } else {
          //   nam = "contracting_request_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project + "&client=" + client
            + "&request_status=" + request_status + "&request_type=" + request_type
            , pag);
          break;
        // OKinvoice_report
        case 4:
          var project = $('#Project').val();
          var period = $('#Period').val();
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var biller = $('#Biller').val();
          var status = $('#Status').val();
          var type = $('#Type').val();
          var payment_method = $('#PaymentMethod').val();
          var operation = $('#Operation').val();
          var concept = $('#Concept').val();
          if (detailed == "") {
            nam = "invoice_report" + ext;
          } else {
            nam = "invoice_items_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project  + "&period=" + period + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&biller=" + biller
            + "&status=" + status + "&type=" + type + "&operation=" + operation + "&concept=" + concept + "&payment_method=" + payment_method
            , pag);
          break;
        // client_payment_report
        case 5:
          var project = $('#Project').val();
          var period = $('#Period').val();
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var biller = $('#Biller').val();
          var status = $('#Status').val();
          var type = $('#Type').val();
          var payment_method = $('#PaymentMethod').val();
          var payment_type = $('#PaymentType').val();
          var operation = $('#Operation').val();
          var concept = $('#Concept').val();
          nam = "client_payment_report" + ext;
          // if (detailed == "") {
          //   nam = "client_payment_report" + ext;
          // } else {
          //   nam = "client_payment_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project  + "&period=" + period + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&biller=" + biller
            + "&status=" + status + "&type=" + type + "&operation=" + operation + "&concept=" + concept + "&payment_method=" + payment_method + "&payment_type=" + payment_type
            , pag);
          break;
        // debt_claim_report
        case 6:
          var project = $('#Project').val();
          var period = $('#Period').val();
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var user = $('#User').val();
          var biller = $('#Biller').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var tariff_scheme = $('#TariffScheme').val();
          var reading_route = $('#ReadingRoute').val();
          var request_status = $('#RequestStatus').val();
          var request_type = $('#RequestType').val();
          var status = $('#Status').val();
          var type = $('#Type').val();
          var operation = $('#Operation').val();
          var use = $('#Use').val();
          var tariff_type = $('#TariffType').val();
          if (detailed == "") {
            nam = "water_supply_contract_report" + ext;
          } else {
            nam = "water_supply_contract_items_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project  + "&period=" + period + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&user=" + user + "&biller=" + biller + "&meter=" + meter + "&caliber=" + caliber 
            + "&service_point=" + service_point + "&tariff_scheme=" + tariff_scheme + "&reading_route=" + reading_route + "&request_status=" + request_status
            + "&request_type=" + request_type + "&status=" + status + "&type=" + type + "&operation=" + operation + "&use=" + use + "&tariff_type=" + tariff_type
            , pag);
          break;
        // OKreading_report
        case 7:
          var project = $('#Project').val();
          var period = $('#Period').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var meter = $('#Meter').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "reading_report" + ext;
          // if (detailed == "") {
          //   nam = "reading_report" + ext;
          // } else {
          //   nam = "reading_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&project=" + project  + "&period=" + period 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&meter=" + meter 
            + "&service_point=" + service_point + "&reading_route=" + reading_route 
            , pag);
          break;
        // OKservice_point_report
        case 8:
          var meter = $('#Meter').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "service_point_report" + ext;
          // if (detailed == "") {
          //   nam = "service_point_report" + ext;
          // } else {
          //   nam = "service_point_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to
            + "&meter=" + meter + "&service_point=" + service_point + "&reading_route=" + reading_route
            , pag);
          break;
        // OKsp_with_meter
        case 9:
          var meter = $('#Meter').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "sp_with_meter_report" + ext;
          // if (detailed == "") {
          //   nam = "sp_with_meter_report" + ext;
          // } else {
          //   nam = "sp_with_meter_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to
            + "&meter=" + meter + "&service_point=" + service_point + "&reading_route=" + reading_route
            , pag);
          break;
        // OKsubscriber_report
        case 10:
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          var use = $('#Use').val();
          nam = "subscriber_report_track" + ext;
          // if (detailed == "") {
          //   nam = "subscriber_report" + ext;
          // } else {
          //   nam = "subscriber_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&meter=" + meter + "&caliber=" + caliber 
            + "&service_point=" + service_point + "&reading_route=" + reading_route + "&use=" + use
            , pag);
          break;
        // OKsubscriber_eco_report
        case 11:
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          var use = $('#Use').val();
          if (detailed == "") {
            nam = "subscriber_eco_report" + ext;
          } else {
            nam = "subscriber_eco_items_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&meter=" + meter + "&caliber=" + caliber 
            + "&service_point=" + service_point + "&reading_route=" + reading_route + "&use=" + use
            , pag);
          break;
        // OKsubscriber_tec_report
        case 12:
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          var use = $('#Use').val();
          nam = "subscriber_tec_report" + ext;
          // if (detailed == "") {
          //   nam = "subscriber_tec_report" + ext;
          // } else {
          //   nam = "subscriber_tec_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&meter=" + meter + "&caliber=" + caliber 
            + "&service_point=" + service_point + "&reading_route=" + reading_route + "&use=" + use
            , pag);
          break;
        // OKsubscriber_debt_report
        case 13:
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          var use = $('#Use').val();
          if (detailed == "") {
            nam = "subscriber_debt_report" + ext;
          } else {
            nam = "subscriber_debt_items_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&todebt=" + todebt + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&meter=" + meter + "&caliber=" + caliber 
            + "&service_point=" + service_point + "&reading_route=" + reading_route + "&use=" + use
            , pag);
          break;
        // OKsubscriber_invoice_charged_report
        case 14:
          var client = $('#Client').val();
          var subscriber = $('#Subscriber').val();
          var street_name = $('#StreetName').val();
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          var use = $('#Use').val();
          nam = "subscriber_invoice_charged_report" + ext;
          // if (detailed == "") {
          //   nam = "subscriber_tec_report" + ext;
          // } else {
          //   nam = "subscriber_tec_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&client=" + client 
            + "&subscriber=" + subscriber + "&street_name=" + street_name + "&meter=" + meter + "&caliber=" + caliber 
            + "&service_point=" + service_point + "&reading_route=" + reading_route + "&use=" + use
            , pag);
          break;
        // OKclient_eco_report
        case 15:
          var client = $('#Client').val();
          if (detailed == "") {
            nam = "client_eco_report" + ext;
          } else {
            nam = "client_eco_items_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&client=" + client
            , pag);
          break;
        // OKclient_debt_report
        case 16:
          var client = $('#Client').val();
          if (detailed == "") {
            nam = "client_debt_report" + ext;
          } else {
            nam = "client_debt_items_report" + ext;
          }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&todebt=" + todebt + "&client=" + client
            , pag);
          break;
        // OKclient_invoice_charged_report
        case 17:
          var client = $('#Client').val();
          nam = "client_invoice_charged_report" + ext;
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + "&client=" + client
            , pag);
          break;
        // OKmeter_report
        case 18:
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "meter_report" + ext;
          // if (detailed == "") {
          //   nam = "meter_report" + ext;
          // } else {
          //   nam = "meter_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + 
            "&meter=" + meter + "&caliber=" + caliber + "&service_point=" + service_point + "&reading_route=" + reading_route
            , pag);
          break;
        // OKmeter_expired_report
        case 19:
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "meter_expired_report" + ext;
          // if (detailed == "") {
          //   nam = "meter_expired_report" + ext;
          // } else {
          //   nam = "meter_expired_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + 
            "&meter=" + meter + "&caliber=" + caliber + "&service_point=" + service_point + "&reading_route=" + reading_route
            , pag);
          break;
        // OKmeter_shared_report
        case 20:
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "meter_shared_report" + ext;
          // if (detailed == "") {
          //   nam = "meter_shared_report" + ext;
          // } else {
          //   nam = "meter_shared_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + 
            "&meter=" + meter + "&caliber=" + caliber + "&service_point=" + service_point + "&reading_route=" + reading_route
            , pag);
          break;
        // OKmeter_master_report
        case 21:
          var meter = $('#Meter').val();
          var caliber = $('#Caliber').val();
          var service_point = $('#ServicePoint').val();
          var reading_route = $('#ReadingRoute').val();
          nam = "meter_master_report" + ext;
          // if (detailed == "") {
          //   nam = "meter_master_report" + ext;
          // } else {
          //   nam = "meter_master_items_report" + ext;
          // }
          window.open(nam + "?detailed=" + detailed + "&from=" + from + "&to=" + to + 
            "&meter=" + meter + "&caliber=" + caliber + "&service_point=" + service_point + "&reading_route=" + reading_route
            , pag);
          break;
      }
    }
    
    function hide(_select, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').hide();
      $(_select).removeClass('sel2');
      $(_select).select2('destroy');
      $(_select).hide();      
    }
    
    function show(_select, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').show();
      $(_select).addClass('sel2');
      $(_select).show();
      switch (_select) {
        case '#Project':
          projectsSelect2("<%= @project %>");
          break;
        case '#Period':
          periodsSelect2("<%= @period %>");
          break;
        case '#User':
          usersSelect2("<%= @user %>");
          break;
        case '#Client':
          clientsSelect2("<%= @client %>");
          break;
        case '#Subscriber':
          subscribersSelect2("<%= @subscriber %>");
          break;
        // case '#StreetName':
        //   addressesSelect2("<%= @address %>");
        //   break;
        case '#Biller':
          billersSelect2("<%= @biller %>");
          break;
        case '#ReadingRoute':
          routes_Select2("<%= @reading_route %>");
          break;
        case '#ServicePoint':
          servicePointsSelect2("<%= @service_point %>");
          break;
        default:
          $(_select).select2({
            formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
            containerCssClass: 'left-winged',
            allowClear: true
          });
      }
    }
    
    function hide_date(_date, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').hide();
      $(_date).removeClass('date_picker');
      $(_date).hide();      
    }
    
    function show_date(_date, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').show();
      $(_date).addClass('date_picker');
      $(_date).show();
    }

    function hide_text(_text, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').hide();
      $(_text).hide();      
    }
    
    function show_text(_text, _label) {
      _label = replace_with_underscore(_label);
      $('label[for=' + _label + ']').show();
      $(_text).show();
    }
  });
</script>

<%= render '/layouts/ag2_gest/trackbreadcrumb' %>

<div class="row">
  <div class="span12">
    <h3 class="track-h3"><%= t "control_tracking.track" %></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="track-description">
      <h4><%= t("control_tracking.task", var: "ag2Gest") %></h4>
      <br />
      <p>
        <%= t("control_tracking.description", var: "ag2Gest") %>
      </p>
      <p class="bolded">
        <%= t 'control_tracking.how_go_back_h' %>
        <%= t 'control_tracking.how_go_back_f' %>
      </p>
      <p class="track-caution">
        <%= t 'control_tracking.caution' %>
      </p>
    </div>
  </div>
  <div class="span5 track-box">
    <div align="center">
      <%= form_tag "ag2_purchase_track", :method => 'get' do %>
      <!-- Report -->
      <%= label_tag t(".label_report"), nil, :class => 'form-label' %>
      <%= select_tag "Report", options_for_select(@reports), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Project -->
      <%= label_tag "label_project", I18n.t("ag2_gest.client_payments.index.label_project"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Project", params[:Project], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Period -->
      <%= label_tag "label_period", I18n.t("ag2_gest.client_payments.index.label_period"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Period", params[:Period], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Client (name) -->
      <%= label_tag "label_client", I18n.t("ag2_gest.client_payments.index.label_client"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Client", params[:Client], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Subscriber (name) -->
      <%= label_tag "label_subscriber", I18n.t("ag2_gest.client_payments.index.label_subscriber"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Subscriber", params[:Subscriber], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Supply address (street name) -->
      <%= label_tag "label_street", I18n.t("ag2_gest.client_payments.index.label_street"), :class => 'form-label-under-sel2' %>
      <%= text_field_tag "StreetName", params[:StreetName], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- User -->
      <%= label_tag "label_user", I18n.t("activerecord.models.user.one"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "User", params[:User], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Biller -->
      <%= label_tag "label_biller", I18n.t("ag2_gest.invoices.index.label_biller"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "Biller", params[:Biller], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Meter -->
      <%= label_tag "label_meter", I18n.t("activerecord.attributes.water_supply_contract.meter_id"), :class => 'form-label-under-sel2' %>
      <%= text_field_tag "Meter", params[:Meter], :class => 'x-large-text-field shrinked', onkeyup: "caps(this)" %>
      <!-- Service Point -->
      <%= label_tag "label_service_point", I18n.t("activerecord.models.service_point.one"), :class => 'form-label' %>
      <%= hidden_field_tag "ServicePoint", params[:ServicePoint], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Tariff Scheme -->
      <%= label_tag "label_tariff_scheme", I18n.t("activerecord.attributes.water_supply_contract.tariff_scheme_id"), :class => 'form-label-under-sel2' %>
      <%= select_tag "TariffScheme", options_from_collection_for_select(@tariff_schemes, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
      <!-- ReadingRoute -->
      <%= label_tag "label_reading_route", I18n.t("activerecord.attributes.reading.reading_route"), :class => 'form-label-under-sel2' %>
      <%= hidden_field_tag "ReadingRoute", params[:ReadingRoute], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
      <!-- Request Status -->
      <%= label_tag "label_request_status", I18n.t("ag2_gest.contracting_requests.index.label_request_status"), :class => 'form-label-under-sel2' %>
      <%= select_tag "RequestStatus", options_from_collection_for_select(@request_statuses, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Request Type -->
      <%= label_tag "label_request_type", I18n.t("ag2_gest.contracting_requests.index.label_request_type"), :class => 'form-label' %>
      <%= select_tag "RequestType", options_from_collection_for_select(@request_types, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Type -->
      <%= label_tag "label_type", I18n.t("ag2_gest.invoices.index.label_type"), :class => 'form-label' %>
      <%= select_tag "Type", options_from_collection_for_select(@types, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Status -->
      <%= label_tag "label_status", I18n.t("ag2_gest.invoices.index.label_status"), :class => 'form-label' %>
      <%= select_tag "Status", options_from_collection_for_select(@status, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Operation -->
      <%= label_tag "label_operation", I18n.t("ag2_gest.invoices.index.label_operation"), :class => 'form-label' %>
      <%= select_tag "Operation", options_from_collection_for_select(@operations, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Payment Method -->
      <%= label_tag "label_payment_method", I18n.t("activerecord.attributes.client_payment.payment_method_id"), :class => 'form-label' %>
      <%= select_tag "PaymentMethod", options_from_collection_for_select(@payment_methods, "id", "description"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Payment Type -->
      <%= label_tag "label_payment_type", I18n.t("activerecord.attributes.client_payment.payment_type_id"), :class => 'form-label' %>
      <%= select_tag "PaymentType", options_from_collection_for_select(@payment_types, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Concept -->
      <%= label_tag "label_concept", I18n.t("ag2_gest.tariffs.index.label_concept"), :class => 'form-label' %>
      <%= select_tag "Concept", options_from_collection_for_select(@concepts, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked' %>
      <!-- Caliber -->
      <%= label_tag "label_caliber", I18n.t("ag2_gest.subscribers.index.caliber"), :class => 'form-label' %>
      <%= select_tag "Caliber", options_from_collection_for_select(@calibers, "id", "caliber"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
      <!-- Use -->
      <%= label_tag "label_use", I18n.t("ag2_gest.subscribers.index.use"), :class => 'form-label-under-sel2' %>
      <%= select_tag "Use", options_from_collection_for_select(@uses, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
    <!-- TariffType -->
      <%= label_tag "label_tariff_type", I18n.t("ag2_gest.subscribers.index.tariff_type"), :class => 'form-label' %>
      <%= select_tag "TariffType", options_from_collection_for_select(@tariff_types, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
      <!-- Dates -->
      <%= label_tag "label_from", t("control_tracking.label_from"), :class => 'form-label-under-sel2' %>
      <%= text_field_tag "From", params[:date], :class =>  'mid-text-field date_picker centered' %>
      <%= label_tag "label_to", t("control_tracking.label_to"), :class => 'form-label' %>
      <%= text_field_tag "To", params[:date], :class =>  'mid-text-field date_picker centered' %>
      <%= label_tag "label_to_debt", t("ag2_gest.ag2_gest_track.index.label_to_debt"), :class => 'form-label' %>
      <%= text_field_tag "ToDebt", params[:date], :class =>  'mid-text-field date_picker centered' %>
      <!-- Detailed? -->
      <br>
      <%= label_tag 'label_detailed', :class => 'checkbox inline' do %>
        <%= t("control_tracking.detailed") %>
        <%= check_box_tag 'detailed', nil, nil %>
      <% end %>
      <!-- Buttons -->
      <p>
        <a href="#" id="report_btn" class="btn btn-primary form-button-under-sel2"><%= t '.report_btn' %></a>
        <a href="#" id="csv_btn" class="btn btn-success form-button-under-sel2"><%= t '.csv_btn' %></a>
      </p>
      <!-- Links -->
      <%= link_to t(".back_to_root"), ag2_gest.root_path %>
      <% end %>
    </div>
  </div>
</div>
