<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.regulation.id') %></th>
      <th><%= sortable "description", t('activerecord.attributes.regulation.description') %></th>
      <th><%= sortable "project_id", t('activerecord.attributes.regulation.project_id') %></th>
      <th><%= sortable "regulation_type_id", t('activerecord.attributes.regulation.regulation_type_id') %></th>
    </tr>
  </thead>
  <tbody>
    <% @regulations.each do |regulation| %>
      <tr>
        <td><%= link_to regulation.try(:id), regulation_path(regulation) %></td>
        <td><%= regulation.try(:description) %></td>
        <td><%= regulation.try(:project).try(:name) %></td>
        <td><%= regulation.try(:regulation_type).try(:description) %></td>
        <td>
          <%= link_to edit_regulation_path(regulation), class: "btn btn-mini" do %>
            <i class="icon-edit"></i>
          <% end %>
          <%= link_to regulation, class: "btn btn-mini", method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="icon-trash"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @regulations } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Regulation, :path => new_regulation_path, :txt => t("ag2_gest.regulations.index.btn_new") } %>
<%= link_to t("ag2_gest.regulations.index.back_to_root"), ag2_gest.root_path %>     