<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.regulation.id') %></th>
      <th><%= sortable "description", t('activerecord.attributes.regulation.description') %></th>
      <th><%= sortable "project_id", t('activerecord.attributes.regulation.project_id') %></th>
      <th><%= sortable "regulation_type_id", t('activerecord.attributes.regulation.regulation_type_id') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @regulations.each do |regulation| %>
      <tr>
        <td><%= regulation.try(:id) %></td>
        <td><%= link_to regulation.try(:description), regulation_path(regulation) %></td>
        <td><%= regulation.try(:project).try(:name) %></td>
        <td><%= regulation.try(:regulation_type).try(:description) %></td>
        <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => Regulation, :path => edit_regulation_path(regulation) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Regulation, :path => regulation, :msg => t("activerecord.models.regulation.one"), :txt => regulation.description } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @regulations } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Regulation, :path => new_regulation_path, :txt => t("ag2_gest.regulations.index.btn_new") } %>
<%= link_to t("ag2_gest.regulations.index.back_to_management"), ag2_gest.regulation_management_path %>
