<% content_for :title, "aGestiona2 | ag2CorporateContacts" %>
<% content_for :icon, "/assets/icon/ag2Directory.png" %>
<% content_for :alt, "ag2Contacts" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_directory.root_path %>">ag2Directory</a><span class="divider">></span>
  </li>
  <% if @corp_contacts %>
  <li>
    <%=t "ag2_directory.breadcrumb.corpcontacts.items" %>
  </li>
  <% end %>
  <% if @corp_contact %>
  <li>
    <a href="<%= corp_contacts_path %>"><%=t "ag2_directory.breadcrumb.corpcontacts.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_directory.breadcrumb.corpcontacts.item"%>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_directory.root_path %>">&#215;</a>
</ul>
