<% content_for :title, "aGestiona2 | ag2SharedContacts | ag2Tables" %>
<% content_for :icon, "/assets/icon/ag2Contacts.png" %>
<% content_for :alt, "ag2Contacts" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_directory.root_path %>">ag2Directory</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_directory.shared_contacts_path %>"><%=t "ag2_directory.breadcrumb.sharedcontacts.items" %></a><span class="divider">></span>
  </li>
  <% if @shared_contact_types %>
  <li>
    <%=t :"ag2_directory.breadcrumb.sharedcontacttypes.items"%>
  </li>
  <% end %>
  <% if @shared_contact_type %>
  <li>
    <a href="<%= shared_contact_types_path %>"><%=t :"ag2_directory.breadcrumb.sharedcontacttypes.items"%></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_directory.breadcrumb.sharedcontacttypes.item"%>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%=t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_directory.root_path %>">&#215;</a>
</ul>
