<% content_for :title, "aGestiona2 | Shared Contacts" %>
<% content_for :icon, "/assets/icon/ag2Contacts.png" %>
<% content_for :alt, "ag2Contacts" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_directory.root_path %>">ag2Directory</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_directory.shared_contacts_path %>">Shared Contacts</a><span class="divider">></span>
  </li>
  <% if @shared_contact_types %>
  <li>
    Shared contact Types
  </li>
  <% end %>
  <% if @shared_contact_type %>
  <li>
    <a href="<%= shared_contact_types_path %>">Shared contact Types</a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  Type
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    New
  </li>
  <% end %>
  <% end %>
  <a class="close" href="<%= ag2_directory.root_path %>">&#215;</a>
</ul>
