<%= render '/layouts/ag2_human/trecordsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t("ag2_human.time_records.edit.btn_show"), @time_record %> |
<%= link_to I18n.t("ag2_human.time_records.back_to_main_page"), time_records_path %>
