<script>
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#Worker").closest('form')[0];
  }); 

  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#Worker").select2("val", "<%= params[:Worker] %>");
    $("#From").val("<%= params[:From] %>");
    $("#To").val("<%= params[:To] %>");
    $("#Type").val("<%= params[:Type] %>");
    $("#Code").val("<%= params[:Code] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#Worker").select2("val", "");
      $("#From").val("");
      $("#To").val("");
      $("#Type").val("");
      $("#Code").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

    // when the .icon-refresh-link button clicked
    $(".icon-refresh-link").click(function() {
      a = "<%= session[:reindex] = true %>";
    });
  });
</script>

<%= render '/layouts/ag2_human/trecordsbreadcrumb' %>

<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_human.time_records_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag time_records_path, :method => 'get', :remote => true do %>
        <!-- Worker -->
        <%= label_tag I18n.t("ag2_human.time_records.index.label_worker"), nil, :class => 'form-label' %>
        <%= select_tag "Worker", options_from_collection_for_select(Worker.order('worker_code').all, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Dates -->
        <%= label_tag I18n.t("ag2_human.time_records.index.label_from"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag "From", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
        <%= label_tag I18n.t("ag2_human.time_records.index.label_to"), nil, :class => 'form-label' %>
        <%= text_field_tag "To", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
        <!-- Type & Code -->
        <%= label_tag I18n.t("ag2_human.time_records.index.label_type"), nil, :class => 'form-label' %>
        <%= select_tag "Type", options_from_collection_for_select(TimerecordType.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <%= label_tag I18n.t("ag2_human.time_records.index.label_code"), nil, :class => 'form-label' %>
        <%= select_tag "Code", options_from_collection_for_select(TimerecordCode.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => TimeRecord, :path => new_time_record_path, :txt => I18n.t("ag2_human.time_records.index.btn_new") } %>
        <%= link_to I18n.t("ag2_human.time_records.index.back_to_root"), ag2_human.ag2_timerecord_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'time_records' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
