<%= render '/layouts/ag2_human/trecordsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @time_record.id %></td>
      <td><%=t :"activerecord.attributes.time_record.worker" %>:</td>
      <td><%= @time_record.worker.full_name %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.time_record.timerecord_date" %>:</td>
      <td><%= @time_record.timerecord_date.strftime("%d/%m/%Y") %></td>
      <td><%=t :"activerecord.attributes.time_record.timerecord_time" %>:</td>
      <td><%= @time_record.timerecord_time.strftime("%H:%M") %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.time_record.timerecord_type" %>:</td>
      <td><%= @time_record.timerecord_type.name %></td>
      <td><%=t :"activerecord.attributes.time_record.timerecord_code" %>:</td>
      <td><%= @time_record.timerecord_code.name.titleize %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @time_record } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @time_record } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update', :locals => { :model => TimeRecord, :path => edit_time_record_path(@time_record), :txt => I18n.t('ag2_human.time_records.show.btn_edit') } %>
<%= link_to I18n.t("ag2_human.time_records.back_to_main_page"), time_records_path %>
