<script type="text/javascript">
  var text_field_color;

  $(document).ready(function(){
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });

    // Save default text color
    text_field_color = $("#alert").css('color')

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {

    $("#form_install_meter").bind("ajax:success", function(xhr, data, status) {

      //Clean fields to update after of to insert
      $('#info_meter, #info_brand, #info_caliber').empty();

      //Update fields
      $('#info_meter').prepend(`<a href="/es/ag2_gest/es/meters/${data.meter.id}">${data.meter.meter_code}</a>`);
      $('#info_brand').prepend(`<a href="/es/ag2_gest/es/meter_models/${data.meter_model.id}">${data.meter_model.brand}/${data.meter_model.model}</a>`);
      $('#info_caliber').prepend(`<a href="/es/ag2_gest/es/calibers/${data.caliber.id}">${data.caliber.caliber}</a>`);

      //Close Modal
      $(".modalMeter").modal().hide();
      $('.modalMeter').modal('toggle');

      //Display buttons
      var add_buttons = `<a href='#newReadingModal' id='link_reading' role='button' class='btn btn-mini btn-primary' data-toggle='modal'><%= t('activerecord.attributes.subscriber.reading_new') %></a> <a href='#withdrawalMeter' id='withdrawal_meter' role='button' class='btn btn-mini btn-primary' data-toggle='modal'><%= t('activerecord.attributes.subscriber.remove_meter') %></a> <a href='#changeMeter' id='change_meter' role='button' class='btn btn-mini btn-primary' data-toggle='modal'><%= t('activerecord.attributes.subscriber.change_meter') %></a>`;

      $('#install_meter').after(add_buttons);
      $('#install_meter').remove();

      //Formatt Date
      var date =``;

      if (data.reading.reading_date !== undefined) {
        date += `${data.reading.reading_date.substring(8, 10)}/${data.reading.reading_date.substring(5, 7)}/${data.reading.reading_date.substring(0, 4)}`;
      }

      //Show ReadingIncidenceType
      var reading_incidence_types = "";
      var title = "";

      if (data.reading_incidence_types[0] == undefined && data.reading_incidence_types[0] == null){
        reading_incidence_types = "-";

      } else {
        var str_incidence = data.reading_incidence_types.length;
        /*Añadir los elementos i en función de los incidence types que tenga*/
        for(var i=0; i < str_incidence; i++) {
          if (i >= 1) {
            title += `, `;
          }
          title += `${data.reading_incidence_types[i]}`;
        }
        reading_incidence_types = `<i title="${title}" class="icon-ok"></i>`;
      }

      //Add Reading to Table
      var text = `<tr><td>${data.reading.id}</td><td>-</td><td><a href="/es/ag2_gest/es/reading_types/${data.reading.reading_type_id}">${data.reading_type_name}</a></td><td>${date}</td><td>${data.reading.reading_index}</td><td>${reading_incidence_types}</td>`;
        text += `<td class="a_inline"><a href="/es/ag2_gest/es/readings/${data.reading.id}/edit" class="btn btn-mini"><i class="icon-edit"></i></a><a href="/es/ag2_gest/es/readings/${data.reading.id}"class="btn btn-mini" data-confirm="Are you sure?" data-method="delete" rel="nofollow"><i class="icon-trash"></i></a></td></tr>`;

      $('#readings table tbody').after(text);

      //Put Values to 0
      $('#form_install_meter').find('[type=checkbox]').prop('checked', false);
      //$('#sel2_association').select2("val", "");
      $('#sel2_association').val("");
      $('#input_add_reading_index, #input_add_reading_date, #input_add_meter').val("");

      //Hide Collapse Options //=> doesn't work
      //$('#collapseAddMeter').collapse('hide');

    });
    
    // when #input_add_meter changes
    $("#input_add_meter").change(function() {
      // make a POST call and replace the content
      var meter = $('#input_add_meter').val();
      if (meter == "")
        meter = "$";
      jQuery.getJSON('sp_find_meter/' + meter, function(data) {
        $("#alert").html(data.alert);
        if (data.code == "$err") {
          $("#alert").css('color', 'red');
          alert('<%= I18n.t("activerecord.errors.models.meter.installation_error") %>\n' + data.alert);
          $('#input_add_meter').val("");
        } else {
          $("#alert").css('color', text_field_color);
          $('#sel2_association').val(data.meter_id);
        }
      });
      return false;
    });
  });

  //End jQuery function, exclusive $ jQuery function
</script>

<!-- AddMeter -->
<div id="installMeter" class="modal modalMeter hide fade" data-backdrop="static">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t('activerecord.attributes.subscriber.add_meter') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <%= simple_form_for @reading, url: { action: :install_meter, controller: 'service_points'},  :method => :post, :html => { :class => 'modal-footer-right form-inline', :id => 'form_install_meter' } do |f| %>
    <div class="modal-body">
      <%#= f.association :project, collection: @project_dropdown, label: t('activerecord.attributes.subscriber.project'), input_html: { class: 'x-large-text-field sel2', :id => "project" }, :required => true, label_html: { class: 'form-label' }, include_blank: true %>

      <%= f.input :meter, required: true, input_html: { class: 'mid-text-field', maxlength: 20, id: 'input_add_meter' }, label_html: { class: 'form-label' }, label: t('activerecord.attributes.meter.meter_code_f') %>
      <%= f.input :meter_id, as: :hidden, input_html: { id: 'sel2_association' } %>
      <%#= f.association :meter, required: true, collection: Meter.from_office(session[:office]).availables, input_html: { class: 'x-large-text-field sel2', id: 'sel2_association' }, label_html: { class: 'form-label' }, include_blank: true, label: t('activerecord.attributes.contracting_request.meter') %>

      <%= f.input :meter_location_id, required: true, collection: MeterLocation.all, input_html: { class: 'x-large-text-field sel2', id: 'input_add_meter_location' }, label_html: { class: 'form-label' }, include_blank: true, label: t('activerecord.attributes.meter_detail.meter_location') %>

      <%= f.input :reading_index, label: t('activerecord.attributes.reading.reading'), :required => true, :input_html => { :class => 'mid-text-field', id: 'input_add_reading_index', min: '0', step: 'any'  }, :label_html => { :class => 'form-label' } %>

      <%= f.input :reading_date, :as => :hidden, :required => true, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.reading_date.strftime("%d/%m/%Y") if f.object.reading_date), :class => 'mid-text-field date_picker', id: 'input_add_reading_date' }, :label_html => { :class => 'form-label' } %>

      <%= f.association :billing_period, collection: @billing_period, label: t('activerecord.attributes.subscriber.reading_period'), :required => true, input_html: { class: 'x-large-text-field sel2', :id => "input_add_billing_period" }, label_html: { class: 'form-label' }, include_blank: true %>

      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" href="#collapseinstallMeter"><%= t('activerecord.attributes.subscriber.incidences') %></a>
        </div>
        <div id="collapseinstallMeter" class="accordion-body collapse">
          <div class="accordion-inner">
            <ul class="unstyled">
              <% ReadingIncidenceType.all.each do |incidence_type| %>
                <li style="width:50%;float:left;">
                  <label class="checkbox">
                    <%= check_box_tag 'incidence_type_ids[]', incidence_type.id %>
                    <%= h incidence_type.name %>
                  </label>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <span class="left-floated shrinked" style="vertical-align: bottom" id="alert"></span>
      <%= f.submit t('activerecord.attributes.subscriber.accept'), :class => "btn btn-primary", :id => "submit_install" %>
      <button id="cancelButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
    </div>
  <% end %>
</div>
<script>
  jQuery(function($) {
    $("#submit_install").click(function () { 
      var meter = $("#input_add_meter").val();
      var meter_location = $("#input_add_meter_location").val();
      var reading_index = $("#input_add_reading_index").val();
      var reading_date = $("#input_add_reading_date").val();
      var billing_period= $("#input_add_billing_period").val();
      if (meter == "" || meter_location == "" || reading_index == "" || reading_date == "" || billing_period == "" ) {
        alert("<%= I18n.t(:mandatory_subtitle) %>");
        return false;
      } else if (reading_index < 0) {
        alert("<%= I18n.t(:index_negative) %>");
        return false;
      }
    });
  });
</script>
