<%= render '/layouts/ag2_products/productbreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= products_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Products.png" width="48" height="48" alt="ag2Products" /><h5 class="h5-narrow"><%=t ".products" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= products_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Products.png" width="96" height="96" alt="ag2Products" /><h5 class="h5-narrow"><%=t ".products" %></h5></a>
    <% else %>
    <a href="<%= products_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Products.png" width="128" height="128" alt="ag2Products" /><h5 class="h5-narrow"><%=t ".products" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= inventory_counts_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Counts.png" width="48" height="48" alt="ag2InventoryCounts" /><h5 class="h5-narrow"><%=t ".inventory_counts" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= inventory_counts_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Counts.png" width="96" height="96" alt="ag2InventoryCounts" /><h5 class="h5-narrow"><%=t ".inventory_counts" %></h5></a>
    <% else %>
    <a href="<%= inventory_counts_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Counts.png" width="128" height="128" alt="ag2InventoryCounts" /><h5 class="h5-narrow"><%=t ".inventory_counts" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= purchase_orders_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Orders.png" width="48" height="48" alt="ag2PurchaseOrders" /><h5 class="h5-narrow"><%=t ".purchase_orders" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= purchase_orders_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Orders.png" width="96" height="96" alt="ag2PurchaseOrders" /><h5 class="h5-narrow"><%=t ".purchase_orders" %></h5></a>
    <% else %>
    <a href="<%= purchase_orders_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Orders.png" width="128" height="128" alt="ag2PurchaseOrders" /><h5 class="h5-narrow"><%=t ".purchase_orders" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 2 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= receipt_notes_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Receipts.png" width="48" height="48" alt="ag2ReceiptNotes" /><h5 class="h5-narrow"><%=t ".receipt_notes" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= receipt_notes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Receipts.png" width="96" height="96" alt="ag2ReceiptNotes" /><h5 class="h5-narrow"><%=t ".receipt_notes" %></h5></a>
    <% else %>
    <a href="<%= receipt_notes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Receipts.png" width="128" height="128" alt="ag2ReceiptNotes" /><h5 class="h5-narrow"><%=t ".receipt_notes" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= delivery_notes_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Deliveries.png" width="48" height="48" alt="ag2DeliveryNotes" /><h5 class="h5-narrow"><%=t ".delivery_notes" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= delivery_notes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Deliveries.png" width="96" height="96" alt="ag2DeliveryNotes" /><h5 class="h5-narrow"><%=t ".delivery_notes" %></h5></a>
    <% else %>
    <a href="<%= delivery_notes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Deliveries.png" width="128" height="128" alt="ag2DeliveryNotes" /><h5 class="h5-narrow"><%=t ".delivery_notes" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= inventory_transfers_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Transfers.png" width="48" height="48" alt="ag2InventoryTransfers" /><h5 class="h5-narrow"><%=t ".inventory_transfers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= inventory_transfers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Transfers.png" width="96" height="96" alt="ag2InventoryTransfers" /><h5 class="h5-narrow"><%=t ".inventory_transfers" %></h5></a>
    <% else %>
    <a href="<%= inventory_transfers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Transfers.png" width="128" height="128" alt="ag2InventoryTransfers" /><h5 class="h5-narrow"><%=t ".inventory_transfers" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 3 -->
  <li class="span2"></li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= stores_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Stores.png" width="48" height="48" alt="ag2Stores" /><h5 class="h5-narrow"><%=t ".stores" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= stores_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Stores.png" width="96" height="96" alt="ag2Stores" /><h5 class="h5-narrow"><%=t ".stores" %></h5></a>
    <% else %>
    <a href="<%= stores_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Stores.png" width="128" height="128" alt="ag2Stores" /><h5 class="h5-narrow"><%=t ".stores" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= ag2_products.ag2_products_track_path %>" class="thumbnail centered"><img src="/assets/icon/ag2LogisticsTrack.png" width="48" height="48" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= ag2_products.ag2_products_track_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2LogisticsTrack.png" width="96" height="96" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% else %>
    <a href="<%= ag2_products.ag2_products_track_path %>" class="thumbnail centered"><img src="/assets/pict/ag2LogisticsTrack.png" width="128" height="128" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% end %>
  </li>
  <li class="span2"></li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 4 -->
  <li class="span1"></li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= product_families_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".families" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= product_families_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".families" %></h5></a>
    <% else %>
    <a href="<%= product_families_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".families" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= product_types_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".types" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= product_types_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".types" %></h5></a>
    <% else %>
    <a href="<%= product_types_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".types" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= measures_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".measures" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= measures_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".measures" %></h5></a>
    <% else %>
    <a href="<%= measures_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".measures" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= manufacturers_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".manufacturers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= manufacturers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".manufacturers" %></h5></a>
    <% else %>
    <a href="<%= manufacturers_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".manufacturers" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= inventory_count_types_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".inventory_count_types" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= inventory_count_types_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".inventory_count_types" %></h5></a>
    <% else %>
    <a href="<%= inventory_count_types_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".inventory_count_types" %></h5></a>
    <% end %>
  </li>
  <li class="span1"></li>
</ul><!-- /.thumbnails -->
