<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "description", t('activerecord.attributes.measure.description') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @measures.each do |m| %>
    <tr>
      <td><%= link_to m.description, m %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Measure, :path => edit_measure_path(m) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => Measure, :path => m, :msg => t("activerecord.models.measure.one"), :txt => m.description } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @measures } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Measure, :path => new_measure_path, :txt => t("ag2_products.measures.index.btn_new") } %>
<%= link_to t("ag2_products.measures.index.back_to_root"), ag2_products.root_path %>
