<%= render '/layouts/ag2_products/measuresbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @measure.id %></td>
      <td><%=t 'activerecord.attributes.measure.description' %>:</td>
      <td><%= @measure.description %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @measure } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @measure } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Measure, update_path: edit_measure_path(@measure), update_txt: t('.btn_edit'),
delete_path: @measure, delete_txt: t('.btn_delete'), msg: t("activerecord.models.measure.one"), txt: @measure.description,
new_path: new_measure_path, new_txt: t('ag2_products.measures.index.btn_new') } %>

<% if false %><!-- Activate block removing if -->
<% if (@products.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_products/productsheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_products.measures.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_products/products', :locals => { :products => @products } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @products } %>
<% end %>
<% end %>

<%= link_to t("ag2_products.measures.back_to_main_page"), measures_path %>
