<%= render '/layouts/ag2_gest/readingincidencesbreadcrumb' %>

<h3><%= t('.title') %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @reading_incidence %> |
<%= link_to t('.back'), reading_incidences_path %>