<% content_for :title, "aGestiona2 | ag2Admin" %>
<% content_for :icon, "/assets/icon/ag2Admin.png" %>
<% content_for :alt, "ag2Admin" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    ag2Admin
  </li>
  <a class="close" href="<%= main_app.root_path %>">&#215;</a>
</ul>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <a href="<%= users_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Users.png" alt="ag2Users" /><h5 class="h5-narrow">ag2Users</h5></a>
  </li>
  <li class="span4">
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Apps.png" alt="ag2Apps" /><h5 class="h5-narrow">ag2Apps</h5></a>
  </li>
  <li class="span4">
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Sites.png" alt="ag2Sites" /><h5 class="h5-narrow">ag2Sites</h5></a>
  </li>
</ul><!-- /.thumbnails -->

<!--<%= button_to "Regresar", main_app.root_path, :class => "btn btn-primary", :method => "get" %>-->

<!-- Modals -->
<%= render '/layouts/notfound' %>
