<%= render '/layouts/ag2_admin/adminbreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= entities_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Entities.png" width="48" height="48" alt="ag2Entities" /><h5 class="h5-narrow"><%=t ".entities" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= entities_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Entities.png" width="96" height="96" alt="ag2Entities" /><h5 class="h5-narrow"><%=t ".entities" %></h5></a>
    <% else %>
    <a href="<%= entities_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Entities.png" width="128" height="128" alt="ag2Entities" /><h5 class="h5-narrow"><%=t ".entities" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= companies_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Companies.png" width="48" height="48" alt="ag2Companies" /><h5 class="h5-narrow"><%=t ".companies" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= companies_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Companies.png" width="96" height="96" alt="ag2Companies" /><h5 class="h5-narrow"><%=t ".companies" %></h5></a>
    <% else %>
    <a href="<%= companies_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Companies.png" width="128" height="128" alt="ag2Companies" /><h5 class="h5-narrow"><%=t ".companies" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= offices_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Offices.png" width="48" height="48" alt="ag2Offices" /><h5 class="h5-narrow"><%=t ".offices" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= offices_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Offices.png" width="96" height="96" alt="ag2Offices" /><h5 class="h5-narrow"><%=t ".offices" %></h5></a>
    <% else %>
    <a href="<%= offices_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Offices.png" width="128" height="128" alt="ag2Offices" /><h5 class="h5-narrow"><%=t ".offices" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 2 (Tables) -->
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= countries_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Countries.png" width="48" height="48" alt="ag2Countries" /><h5 class="h5-narrow"><%=t ".countries" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= countries_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Countries72.png" width="72" height="72" alt="ag2Countries" /><h5 class="h5-narrow"><%=t ".countries" %></h5></a>
    <% else %>
    <a href="<%= countries_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Countries96.png" width="96" height="96" alt="ag2Countries" /><h5 class="h5-narrow"><%=t ".countries" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= regions_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Regions.png" width="48" height="48" alt="ag2Regions" /><h5 class="h5-narrow"><%=t ".regions" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= regions_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Regions72.png" width="72" height="72" alt="ag2Regions" /><h5 class="h5-narrow"><%=t ".regions" %></h5></a>
    <% else %>
    <a href="<%= regions_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Regions96.png" width="96" height="96" alt="ag2Regions" /><h5 class="h5-narrow"><%=t ".regions" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= provinces_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Provinces.png" width="48" height="48" alt="ag2Provinces" /><h5 class="h5-narrow"><%=t ".provinces" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= provinces_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Provinces72.png" width="72" height="72" alt="ag2Provinces" /><h5 class="h5-narrow"><%=t ".provinces" %></h5></a>
    <% else %>
    <a href="<%= provinces_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Provinces96.png" width="96" height="96" alt="ag2Provinces" /><h5 class="h5-narrow"><%=t ".provinces" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= towns_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Towns.png" width="48" height="48" alt="ag2Towns" /><h5 class="h5-narrow"><%=t ".towns" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= towns_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Towns72.png" width="72" height="72" alt="ag2Towns" /><h5 class="h5-narrow"><%=t ".towns" %></h5></a>
    <% else %>
    <a href="<%= towns_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Towns96.png" width="96" height="96" alt="ag2Towns" /><h5 class="h5-narrow"><%=t ".towns" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= zipcodes_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Zipcodes.png" width="48" height="48" alt="ag2ZipCodes" /><h5 class="h5-narrow"><%=t ".zipcodes" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= zipcodes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Zipcodes72.png" width="72" height="72" alt="ag2ZipCodes" /><h5 class="h5-narrow"><%=t ".zipcodes" %></h5></a>
    <% else %>
    <a href="<%= zipcodes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Zipcodes96.png" width="96" height="96" alt="ag2ZipCodes" /><h5 class="h5-narrow"><%=t ".zipcodes" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= street_types_path %>" class="thumbnail centered"><img src="/assets/icon/ag2StreetTypes.png" width="48" height="48" alt="ag2StTypes" /><h5 class="h5-narrow"><%=t ".street_types" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= street_types_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2StreetTypes72.png" width="72" height="72" alt="ag2StTypes" /><h5 class="h5-narrow"><%=t ".street_types" %></h5></a>
    <% else %>
    <a href="<%= street_types_path %>" class="thumbnail centered"><img src="/assets/pict/ag2StreetTypes96.png" width="96" height="96" alt="ag2StTypes" /><h5 class="h5-narrow"><%=t ".street_types" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 3 -->
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= zones_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Zones.png" width="48" height="48" alt="ag2Zones" /><h5 class="h5-narrow"><%=t ".zones" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= zones_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Zones72.png" width="72" height="72" alt="ag2Zones" /><h5 class="h5-narrow"><%=t ".zones" %></h5></a>
    <% else %>
    <a href="<%= zones_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Zones96.png" width="96" height="96" alt="ag2Zones" /><h5 class="h5-narrow"><%=t ".zones" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= departments_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Departments.png" width="48" height="48" alt="ag2Depts" /><h5 class="h5-narrow"><%=t ".departments" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= departments_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Departments72.png" width="72" height="72" alt="ag2Depts" /><h5 class="h5-narrow"><%=t ".departments" %></h5></a>
    <% else %>
    <a href="<%= departments_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Departments96.png" width="96" height="96" alt="ag2Depts" /><h5 class="h5-narrow"><%=t ".departments" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= areas_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Areas.png" width="48" height="48" alt="ag2Areas" /><h5 class="h5-narrow"><%=t ".areas" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= areas_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Areas72.png" width="72" height="72" alt="ag2Areas" /><h5 class="h5-narrow"><%=t ".areas" %></h5></a>
    <% else %>
    <a href="<%= areas_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Areas96.png" width="96" height="96" alt="ag2Areas" /><h5 class="h5-narrow"><%=t ".areas" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= tax_types_path %>" class="thumbnail centered"><img src="/assets/icon/ag2TaxTypes.png" width="48" height="48" alt="ag2TaxTypes" /><h5 class="h5-narrow"><%=t ".tax_types" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= tax_types_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2TaxTypes72.png" width="72" height="72" alt="ag2TaxTypes" /><h5 class="h5-narrow"><%=t ".tax_types" %></h5></a>
    <% else %>
    <a href="<%= tax_types_path %>" class="thumbnail centered"><img src="/assets/pict/ag2TaxTypes96.png" width="96" height="96" alt="ag2TaxTypes" /><h5 class="h5-narrow"><%=t ".tax_types" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= accounting_groups_path %>" class="thumbnail centered"><img src="/assets/icon/ag2AccountingGroups.png" width="48" height="48" alt="ag2AccountingGroups" /><h5 class="h5-narrow"><%=t ".accounting_groups" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= accounting_groups_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2AccountingGroups72.png" width="72" height="72" alt="ag2AccountingGroups" /><h5 class="h5-narrow"><%=t ".accounting_groups" %></h5></a>
    <% else %>
    <a href="<%= accounting_groups_path %>" class="thumbnail centered"><img src="/assets/pict/ag2AccountingGroups96.png" width="96" height="96" alt="ag2AccountingGroups" /><h5 class="h5-narrow"><%=t ".accounting_groups" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= ledger_accounts_path %>" class="thumbnail centered"><img src="/assets/icon/ag2LedgerAccounts.png" width="48" height="48" alt="ag2LedgerAccounts" /><h5 class="h5-narrow"><%=t ".ledger_accounts" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= ledger_accounts_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2LedgerAccounts72.png" width="72" height="72" alt="ag2LedgerAccounts" /><h5 class="h5-narrow"><%=t ".ledger_accounts" %></h5></a>
    <% else %>
    <a href="<%= ledger_accounts_path %>" class="thumbnail centered"><img src="/assets/pict/ag2LedgerAccounts96.png" width="96" height="96" alt="ag2LedgerAccounts" /><h5 class="h5-narrow"><%=t ".ledger_accounts" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 4 -->
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/icon/ag2PaymentMethods.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2PaymentMethods72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% else %>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2PaymentMethods96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= banks_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Banks.png" width="48" height="48" alt="ag2Banks" /><h5 class="h5-narrow"><%=t ".banks" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= banks_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Banks72.png" width="72" height="72" alt="ag2Banks" /><h5 class="h5-narrow"><%=t ".banks" %></h5></a>
    <% else %>
    <a href="<%= banks_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Banks96.png" width="96" height="96" alt="ag2Banks" /><h5 class="h5-narrow"><%=t ".banks" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= bank_offices_path %>" class="thumbnail centered"><img src="/assets/icon/ag2BankOffices.png" width="48" height="48" alt="ag2BankOffices" /><h5 class="h5-narrow"><%=t ".bank_offices" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= bank_offices_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2BankOffices72.png" width="72" height="72" alt="ag2BankOffices" /><h5 class="h5-narrow"><%=t ".bank_offices" %></h5></a>
    <% else %>
    <a href="<%= bank_offices_path %>" class="thumbnail centered"><img src="/assets/pict/ag2BankOffices96.png" width="96" height="96" alt="ag2BankOffices" /><h5 class="h5-narrow"><%=t ".bank_offices" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= bank_account_classes_path %>" class="thumbnail centered"><img src="/assets/icon/ag2BankAccountClasses.png" width="48" height="48" alt="ag2BankAccountClasses" /><h5 class="h5-narrow"><%=t ".bank_account_classes" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= bank_account_classes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2BankAccountClasses72.png" width="72" height="72" alt="ag2BankAccountClasses" /><h5 class="h5-narrow"><%=t ".bank_account_classes" %></h5></a>
    <% else %>
    <a href="<%= bank_account_classes_path %>" class="thumbnail centered"><img src="/assets/pict/ag2BankAccountClasses96.png" width="96" height="96" alt="ag2BankAccountClasses" /><h5 class="h5-narrow"><%=t ".bank_account_classes" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
  </li>
  <li class="span2">
  </li>
</ul><!-- /.thumbnails -->

<!--<%= button_to "Regresar", main_app.root_path, :class => "btn btn-primary", :method => "get" %>-->
