<script>
  var text_field_color;
  var old_payday_limit;

  function addDays(theDate, days) {
      return new Date(theDate.getTime() + days*24*60*60*1000);
  }

  function set_date_bills() {
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1; //January is 0!
    var yyyy = today.getFullYear();
    if(dd<10) {
        dd = '0'+dd
    }
    if(mm<10) {
        mm = '0'+mm
    }
    today = dd + '/' + mm + '/' + yyyy;
    $("#invoice_date").val(today);
    
    var limit_days = "<%= @bills.first.project.office.days_for_invoice_due_date %>";
    var currentDate = addDays(new Date(), limit_days);
    var dd = currentDate.getDate();
    var mm = currentDate.getMonth()+1; //January is 0!
    var yyyy = currentDate.getFullYear();
    if(dd<10) {
        dd = '0'+dd
    }
    if(mm<10) {
        mm = '0'+mm
    }
    payday_limit = dd + '/' + mm + '/' + yyyy;
    $("#payday_limit").val(payday_limit);
    old_payday_limit = payday_limit;
  };

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    
    $("#div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
    $('.accor').click(function () {
      if (this.classList.contains("collapsed")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }
    });
  });

  jQuery(function($) {
    $("#btn_confirm_bills").click(function () {
      set_date_bills();
    });

    $("#payday_limit").on('changeDate', function() {
      // preserve the current object
      var invoice_date = $("#invoice_date").val();
      var payday_limit = $("#payday_limit").val();
      if (payday_limit < invoice_date) {
        $("#payday_limit").val(old_payday_limit);
        // // Right formatted date
        // invoice_date = right_date(invoice_date,"<%= I18n.locale %>");
        // // make the POST call
        // jQuery.getJSON('check_invoice_date/' + project_id  + '/' + invoice_date, function(data) {
        //   $("#payday_limit").val(old_payday_limit);
        // });
      }
      return false;
    });

    $("#invoice_date").on('changeDate', function() {
      // preserve the current object
      $("#submit_pre_bill").removeClass('hide');
      var invoice_date = $("#invoice_date").val();
      var project_id = "<%= @bills.first.project_id %>";
      if (invoice_date == "") {
        return false;
      }
      // Right formatted date
      invoice_date = right_date(invoice_date,"<%= I18n.locale %>");
      // make the POST call
      jQuery.getJSON('check_invoice_date/' + project_id  + '/' + invoice_date, function(data) {
        $("#payday_limit").val(data.payday_limit);
        old_payday_limit = data.payday_limit;
        if (data.code != "") {
          $("#invoice_date").val("");
          $("#payday_limit").val("");
          // $("#submit_pre_bill").addClass('hide');
          set_date_bills();
          alert(data.code);
        }
      });
      return false;
    });
    
  });
</script>

<div class="row-fluid grey-frame">
  <b>
  <div class="span3"><h5><%= I18n.t("ag2_gest.bills.index.totals") %></h5></div>
  <div class="span3"><h5><%= I18n.t("ag2_gest.bills.index.total_bills") %>: <%= @totals.bills %></h5></div>
  <div class="span3" align="center"><h5><%= I18n.t("ag2_gest.bills.index.total_consumptions") %>: <%= @totals.consumptions.to_i %></h5></div>
  <div class="span3" align="right"><h5><%= I18n.t("ag2_gest.bills.index.total_total") %>: <%= number_with_precision(@totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></h5></div>
  </b>
</div>
<br/>
<div class="row-fluid">
  <div class="span1"><b>&nbsp;</b></div> <!-- Space for icon-plus -->
  <div class="span1">
    <b>Id</b>
  </div>
  <div class="span1">
    <b><%= I18n.t("activerecord.attributes.invoice.billing_period") %></b>
  </div>
  <div class="span4">
    <b><%= I18n.t("activerecord.attributes.bill.subscriber") %></b>
  </div>
  <div class="span1">
    <b><%= I18n.t("activerecord.attributes.subscriber.meter") %></b>
  </div>
  <div align="right" class="span1">
    <b><%= I18n.t("activerecord.attributes.invoice.consumption") %></b>
  </div>
  <div align="right" class="span1">
    <b><%= I18n.t("activerecord.attributes.bill.total") %></b>
  </div>
  <div class="span1">
    <b><%= I18n.t("activerecord.attributes.pre_bill.billed") %></b>
  </div>
  <div class="span1"></div>
</div>

<% @bills.each do |b| %>

<!-- RENDER2 FACTURA DE SUMINISTRO-->
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading row-fluid">
      <div class="span1">
        <a class="accor accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= b.id %>"><i class='icon-plus'></i></a>
      </div>
      <div class="span1 soft-padding">
        <%= b.bill_id.blank? ? b.id : b.bill_id %>
      </div>
      <div class="span1 soft-padding">
        <%= b.try(:pre_invoices).first.try(:billing_period).try(:period) %>
      </div>
      <div class="span4 soft-padding">
        <%= link_to b.subscriber.to_label, subscriber_path(b.subscriber) %>
      </div>
      <div class="span1 soft-padding">
        <%= link_to b.subscriber.try(:meter).try(:meter_code), meter_path(b.subscriber.meter) unless b.subscriber.try(:meter).blank? %>
      </div>
      <div align="right" class="span1 soft-padding">
        <%= b.try(:reading).try(:consumption_total_period_to_invoice) || 0 %>
      </div>
      <div align="right" class="span1 soft-padding">
        <%= number_with_precision(b.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
      </div>
      <div class="span1 text-center">
        <% if b.bill %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %>
      </div>
      <div class="span1 soft-padding pull-right">
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => PreBill, :path => bill_path(b, bills: b.pre_group_no), :msg => t("activerecord.models.bill.one"), :txt => b.id } if b.bill.blank? %>
        <%= link_to "<i class='icon-print'></i>".html_safe, biller_pdf_bill_path(b.bill_id, :format => :pdf), target: "_blank", class: "btn btn-mini" if b.bill %>
      </div>
    </div>
    <div id="collapse-<%= b.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <% b.pre_invoices.each do |invoice| %>
          <table class="table">
            <div><small><%= t("activerecord.attributes.contracting_request.invoice_number") %>: <%= invoice.try(:invoice).try(:full_no) %></small></div>
            <div><small><%= invoice.try(:biller).try(:name) %> | <%= t("activerecord.attributes.contracting_request.fiscal_id") %> <%= invoice.try(:biller).try(:fiscal_id) %></small></div>
            <tr>
              <th><%= t("activerecord.attributes.contracting_request.code") %></th>
              <th><%= t("activerecord.attributes.contracting_request.subcode") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.quantity") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.price") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.amount") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.tax") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.discount") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.discount_pct") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.total") %></th>
            </tr>
            <% invoice.pre_invoice_items.each do |item| %>
              <tr>
                <td><%= item.code %></td>
                <td><%= item.subcode_name %></td>
                <td align="right"><%= number_with_precision(item.quantity, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.price, precision: 6, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.tax_type.try(:tax), precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.discount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.discount_pct, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
              </tr>
            <% end %>
            <tr class="subtotal">
              <td colspan="7" class="no-boder"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.subtotal').upcase %></b></td>
              <td align="right" class="black-border"><%= number_with_precision(invoice.subtotal, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
            <% invoice.tax_breakdown.each do |tax| %>
              <% if tax[0] != TaxType.exempt.tax %>
                <tr>
                  <td colspan="5" class="no-boder"></td>
                  <td class="no-boder"><b>Base imponible:</b>&nbsp;&nbsp;  <%= number_with_precision(tax[1], precision: 4, delimiter: I18n.locale == :es ? "." : ",")  %></td>
                  <td class="no-boder"><%= "#{pluralize(tax[3], 'artículo')}"  %></td>
                  <td><b><%= " #{t('activerecord.attributes.subscriber.vat')} (#{tax[0]}%)" %></b></td>
                  <td align="right"><%= number_with_precision(tax[2], precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                </tr>
              <% end %>
            <% end %>
            <tr>
              <td colspan="7" class="black-border"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.total').upcase %></b></td>
              <td  align="right" class="black-border"><%= number_with_precision(invoice.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
  <% end %>
</div>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @bills } %>

<% if @bills and @bills.first.bill_id.nil? %>
  <a href="#confirm-bills" id="btn_confirm_bills" role="button" class="btn btn-primary" data-toggle="modal">Confirmar facturas</a>
<% else %>
<%= link_to "<i class='icon-print icon-white'></i> #{t 'activerecord.attributes.bill.summary'}".html_safe, bills_summary_bill_path(@bills.first.pre_group_no, :format => :pdf), target: "_blank", class: "btn btn-warning", title: I18n.t("activerecord.attributes.bill.summary") %>
<% end %>

<a href="<%= show_pre_bills_bills_path(:pre_group => @bills.first.pre_group_no,format: :csv) %>" download class="btn btn-success pull-right"><%= I18n.t('activerecord.attributes.reading.exportcsv') %></a>

<br/><br/>

<%= link_to t("ag2_gest.bills.index.back_to_pre_index"), ag2_gest.pre_index_bills_path %>

<!-- Modal -->
<div id="confirm-bills" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ConfirmarBills" aria-hidden="true">
  <%= simple_form_for :pre_bill, url: confirm_bills_path, method: :get, :html => { "data-type" => :json, :class => 'modal-footer-right form-inline form_confirm_bills'} do |f| %>
    <%= f.input :ids, :as => :hidden, :input_html => { :value =>  params[:bills] } %>
    <div class="modal-header">
      <h4>Confirmar facturas</h4>
    </div>
    <div class="modal-body">      
      <%= f.input :confirmation_date, required: true, label: I18n.t("ag2_gest.bills.index.confirmation_date"), :label_html => { :class => 'form-label' }, :input_html => {class: "string required mid-text-field date_picker", value: formatted_date(Date.today), id: "confirmation_date"} %>
      <%= f.input :invoice_date, required: true, label: I18n.t("ag2_gest.bills.index.invoice_date"), :label_html => { :class => 'form-label' }, :input_html => {class: "mid-text-field date_picker", value: formatted_date(Date.today), id: "invoice_date"} %>
      <%= f.input :payday_limit, required: false, label: I18n.t("ag2_gest.bills.index.payday_limit"), :label_html => { :class => 'form-label' }, :input_html => {class: "mid-text-field date_picker", value: formatted_date(Date.today + @bills.first.project.office.days_for_invoice_due_date), id: "payday_limit"} %>
    </div>
    <div class="modal-footer">
      <span class="left-floated shrinked" style="vertical-align: bottom"><%= I18n.t("activerecord.attributes.bill.alert_invoice_date") + " " + @bill_last_date %></span>
      <%= f.submit "Confirmar facturas", disable_with: t("activerecord.attributes.pre_reading.loading"), :class => 'btn btn-primary hide', :id => "submit_pre_bill" %>
      <a class="btn btn-primary" data-dismiss="modal" href="#"><%= t :close_button %></a>
    </div>
  <% end %>
</div>

<script>
  jQuery(function($) {
    $("#submit_pre_bill").click(function () { 
      var confirmation_date = $("#confirmation_date").val();
      var invoice_date = $("#invoice_date").val();
      if (confirmation_date == "" || invoice_date == "") {
        alert("<%= I18n.t(:mandatory_subtitle) %>");
        return false;
      }
    });
  });
</script>
