<script>
  $(document).ready(function() {
    $("#div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>


<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th align="right">Grupo nº</th>
      <th align="right">Fecha</th>
      <th align="right">Nº prefacturas</th>
      <th align="right">Periodod</th>
      <th align="right">Confirmadas</th>
      <th align="right">Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pre_bills.each do |pre_bill| %>
      <tr>
        <td align="right"><%= pre_bill[1].first.pre_group_no %></td>
        <td align="right"><%=l pre_bill[1].first.bill_date %></td>
        <td align="right"><%= pre_bill[1].count %></td>
        <td align="right"><%= pre_bill[1].first.try(:pre_invoices).first.try(:billing_period).try(:period) %></td>    
        <td align="right"><% if pre_bill[1].select{|p| !p.bill.nil?}.count != 0 %><i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
        <td align="right"><%= number_with_precision(pre_bill[1].sum{|b| b.total}, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
        <td align="right"><%= link_to bills_path(:bills => pre_bill[1].first.pre_group_no), class: "btn btn-mini" do %><i class="icon-eye-open"></i><% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @pre_bills } %>
