<script>
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    $('.date_picker').datepicker({
     format:'dd/mm/yyyy',weekStart:1
    });
  });

  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#From").val("<%= params[:From] %>");
    $("#To").val("<%= params[:To] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#From").val("");
      $("#To").val("");
      $("#submit_btn").trigger("click");
    });
  });
</script>

<%= render '/layouts/ag2_gest/billsbreadcrumb' %>

<h3><%= t(".title") %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">    <!-- Refresh -->
        <%= link_to ag2_gest.pre_index_bills_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>

        <%= form_tag "pre_index", :method => 'get', :remote => true do %>
          <!-- Dates -->
          <%= label_tag I18n.t("ag2_gest.bills.index.label_from"), nil, :class => 'form-label-under-sel2' %>
          <%= text_field_tag "From", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
          <%= label_tag I18n.t("ag2_gest.bills.index.label_to"), nil, :class => 'form-label' %>
          <%= text_field_tag "To", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
          <br><br>
          <!-- Submit -->
          <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>

          <!-- Remove filter -->
          <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= link_to "Generar PreFacturas", new_bill_path, class: "btn btn-primary" %>
        <%#= link_to "Confirmar PreFacturas", bills_path, class: "btn btn-primary" %>
        <br><br>
        <!-- Back -->
        <%= link_to t("ag2_gest.bills.index.back_to_management"), ag2_gest.bill_management_path %>
      </div>
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render "pre_bills" %>
      </div>
    </div><!-- /.span9 -->

  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

<!-- MODAL RESMUE TOTAL -->
<% if !params[:modal].blank? %>
  <div class="modalTotal modal hide fade">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3><%= "Resumen Facturado" %></h3>
    </div>
    <div class="modal-body">
          <h5><%= I18n.t('ag2_gest.bills.index.count') %>: <b><%= params[:count] %></b></h5>
          <h5><%= I18n.t('ag2_gest.bills.index.pre_bills') %>: <b><%= params[:pre_bills] %></b></h5>
          <hr>
          <h5><%= I18n.t('ag2_gest.bills.index.consumptions') %>: <b><%= params[:consumptions] %></b></h5>
          <h5><%= I18n.t('ag2_gest.bills.index.total') %>: <b><%= number_with_precision(params[:total], precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></b></h5>
          <hr>
          <h5><%= I18n.t('ag2_gest.bills.index.invoice_date') %>: <b><%= params[:invoice_date] %></b></h5>
          <h5><%= I18n.t('ag2_gest.bills.index.payday_limit') %>: <b><%= params[:payday_limit] %></b></h5>
          <hr>
          <h5><%= I18n.t('ag2_gest.bills.index.first_bill') %>: <b><%= params[:first_bill] %></b></h5>
          <h5><%= I18n.t('ag2_gest.bills.index.last_bill') %>: <b><%= params[:last_bill] %></b></h5>
      <% @invoices_by_biller.each do |invoices| %>
        <hr>
        <h5><%= I18n.t('ag2_gest.bills.index.biller') %>: <%= Company.find(invoices[0]).try(:name) %></h5>
        <h5><%= I18n.t('ag2_gest.bills.index.first_invoice') %>: <b><%= invoices[1].try(:first).try(:invoice_no) %></b></h5>
        <h5><%= I18n.t('ag2_gest.bills.index.last_invoice') %>: <b><%= invoices[1].try(:last).try(:invoice_no) %></b></h5>
        <h5><%= I18n.t('ag2_gest.bills.index.total') %>: <b><%= number_with_precision(invoices[1].sum(&:total), precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless invoices[1].blank? %></b></h5>
      <% end %>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" data-dismiss="modal"><%= t('activerecord.attributes.subscriber.close') %></button>
    </div>
  </div>
  <script>
    $(".modalTotal").modal('show');
  </script>
<% end %>
