<style>
  .center {
    text-align: center!important;
  }
</style>

<%= render '/layouts/ag2_gest/billsbreadcrumb' %>

<h3><%= t(".title") %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Buttons -->
        <%= link_to "Generar PreFacturas", new_bill_path, class: "btn btn-block btn-primary" %>
        <%= link_to "Confirmar PreFacturas", bills_path, class: "btn btn-block btn-primary" %>
        <br /><br />
        <%= link_to t("ag2_gest.billable_items.index.back_to_management"), ag2_gest.bill_management_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9" id="div_table">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th>Grupo nº</th>
            <th>Fecha</th>
            <th>Nº prefacturas</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <% @pre_bills.each do |pre_bill| %>
            <tr>
              <td><%= link_to pre_bill[1].first.pre_group_no, bills_path(:bills => pre_bill[1].first.pre_group_no) %></td>
              <td><%=l pre_bill[1].first.bill_date %></td>
              <td><%= pre_bill[1].count %></td>
              <td><%= pre_bill[1].sum{|b| b.total} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!-- /.span9 -->

  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
