<% session[:return_to_bill] = nil %>
<% session[:return_to_bill_url] = nil %>

<script>
  $(document).ready(function() {
  });

  jQuery(function($) {
    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      //window.open("invoice_form.pdf?id=" + id, "_blank");
      $("#notfound").modal('show');
      return false;
    });
  });
</script>
<% session[:return_to_bill] = I18n.t('ag2_gest.bills.show.return_to') %>
<% session[:return_to_bill_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h3><%=t '.title' %></h3>
      </td>
      <td class="form-td-two right-winged">
        <% if @bill.invoices.first.invoice_type.id == InvoiceType::WATER %>
          <%= link_to "<i class='icon-print icon-white'></i> #{t '.print'}".html_safe, biller_pdf_bill_path(@bill, :format => :pdf), target: "_blank", class: "btn btn-warning" %>
        <% elsif @bill.invoices.first.invoice_type.id == InvoiceType::CONTRACT %>
          <% if !@bill.water_connection_contract.blank? %>
            <%= link_to "<i class='icon-print icon-white'></i> #{t '.print'}".html_safe, biller_connection_contract_pdf_bill_path(@bill, :format => :pdf), target: "_blank", class: "btn btn-warning" %>
          <% else %>
            <%= link_to "<i class='icon-print icon-white'></i> #{t '.print'}".html_safe, biller_contract_pdf_bill_path(@bill, :format => :pdf), target: "_blank", class: "btn btn-warning" %>        
          <% end %>
        <% else %>
          <%= link_to "<i class='icon-print icon-white'></i> #{t '.print'}".html_safe, invoice_form_commercial_billing_path(@bill, :format => :pdf), target: "_blank", class: "btn btn-warning" %>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>

<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td id="id"><%= @bill.id %></td>
      <td><%=t 'activerecord.attributes.invoice.invoice_no' %>:</td>
      <td class="highlighted bolded"><%= @bill.full_no %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.bill.project' %>:</td>
      <td colspan="3"><%= @bill.try(:project).try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.bill.client' %>:</td>
      <td><%= @bill.try(:client).try(:full_name_or_company_and_code) %></td>
      <td><%=t 'activerecord.attributes.bill.subscriber' %>:</td>
      <td><%= @bill.try(:subscriber).try(:to_label) %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.subscriber.address' %>:</td>
      <td colspan="3"><%= @subscriber.address_1 + ", " + @subscriber.address_2 %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.invoice.invoice_date' %>:</td>
      <td><%= formatted_date(@bill.bill_date) unless @bill.bill_date.blank? %></td>
      <td><%=t 'activerecord.attributes.invoice.payday_limit' %>:</td>
      <td><%= formatted_date(@bill.payday_limit) unless @bill.payday_limit.blank? %></td>
    </tr>
    <% if @bill.invoices.first.invoice_type_id != InvoiceType::CONTRACT %>
    <tr>
      <td>Periodo: </td>
      <td><%= @reading.billing_period.period %></td>
      <td>Consumo: </td>
      <td><%= @reading.consumption  %></td>
    </tr>   
    <tr> 
      <td>Lec. anterior: </td>
      <td><%= @reading.reading_index_1 %></td>
      <td>Lec. actual: </td>
      <td><%= @reading.reading_index %></td>     
    </tr>
    <% end %>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @bill } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @bill } %>
  </tbody>
</table>

<!-- Invoices-->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_gest.invoices.index.title' %></h4>
      </td>
    </tr>
  </tbody>
</table>
<% if (@invoice.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render partial: 'invoices_header', :locals => { invoice: @invoice } %>
  </thead>
  <tfoot>
    <%= render partial: 'invoices_footer', :locals => { bill: @bill } %>
  </tfoot>
  <tbody>
   <%= render partial: 'invoice', collection: @invoice %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @invoice } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @invoice } %>
<% end %> <!-- end @items.count > 0 -->

<% if !session[:return_to].nil? %>
  <%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t("ag2_gest.bills.back_to_main_page"), bills_path %>
