<% content_for :title, "aGestiona2 | ag2Bills" %>
<% content_for :icon, "/assets/icon/TableA.png" %>
<% content_for :alt, "ag2Bills" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.new_bill_path %>">Facturación masiva</a><span class="divider">></span>
  </li>
  <li>
     Consumos
  </li>
</ul>

<h3>Facturación masiva - Consumos</h3>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12" id="div_table">
      <table class="table table-condensed table-striped shrinked stu">
        <thead>
          <tr>
            <th><%= I18n.t('activerecord.attributes.reading.reading_route_id') %></th>
            <th><%= I18n.t('activerecord.attributes.reading.sequence') %></th>
            <th><%= I18n.t('activerecord.attributes.reading.subscriber') %></th>
            <th><%= I18n.t('activerecord.attributes.reading.address') %></th>
            <th><%= I18n.t('activerecord.attributes.reading.meter') %></th>
            <th><%= I18n.t('activerecord.attributes.reading.period') %></th>
            <th align="right"><%= I18n.t('activerecord.attributes.reading.reading_2_index') %></th>
            <th align="right"><%= I18n.t('activerecord.attributes.reading.reading_1_index_c') %></th>
            <th align="right"><%= I18n.t('activerecord.attributes.reading.reading') %></th>
            <th align="right"><%= I18n.t('activerecord.attributes.reading.consumption') %></th>
          </tr>
        </thead>
        <tbody>
          <% @readings.each do |reading| %>
            <tr>
                <td>
                  <%= reading.try(:reading_route).try(:route_code) %>
                </td>
                <td>
                  <%= reading.reading_sequence %>
                </td>
                <td>
                  <%= reading.try(:subscriber).try(:subscriber_code) %>
                </td>
                <td>
                  <%= reading.try(:subscriber).try(:street_directory).try(:street_name) %>
                </td>
                <td>
                  <%= reading.try(:meter).try(:meter_code) %>
                </td>
                <td>
                  <%= reading.try(:billing_period).try(:period) %>
                </td>
                <td align="right">
                  <%= "#{reading.reading_index_2}"  %>
                </td>
                <td align="right">
                  <%= "#{reading.reading_index_1}" %>
                </td>
                <td align="right">
                  <%= "#{reading.reading_index}" %>
                </td>
                <td align="right">
                  <%= "#{reading.consumption_total_period}" %>
                </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="row">
      <%= link_to I18n.t('activerecord.attributes.reading.exportcsv'), show_consumptions_bills_path(subscribers: {period: params[:subscribers][:period], ids: params[:subscribers][:ids]}, format: :csv), class: "btn btn-warning pull-right" %>
        <%= simple_form_for :bill, url: bills_path, method: :post do |f| %>
        <%= f.input :readings, :as => :hidden, :input_html => { :value =>  @readings.map(&:id) } %>
        <%= f.button :submit, "Aplicar tarifas", :class => 'btn btn-primary' %>
      <% end %>
    </div>
      <%= link_to t("ag2_gest.bills.index.back_to_pre_index"), ag2_gest.pre_index_bills_path %>
  </div>
</div>
