<br>
<%= link_to "<i class='icon-print icon-white'></i> Imprimir".html_safe, bill_supply_pdf_bill_path(@bill, :format => :pdf), class: "btn btn-warning pull-right", target: "_blank" %>

<h3>Factura suministro</h3>
<div class="row">
  <div class="span4">
    <h4>AGUA Y GESTION</h4>
  </div>
  <div class="span4">
    <h5>Abonado</h5>
    <div><%= @subscriber.to_label %></div>
    <div><%= @subscriber.address_1 %></div>
  </div>
  <div class="span4">
    <div><b>Nº recibo</b> <%= @bill.full_no %></div>
  </div>
</div>
<div class="row">
  <div class="span2">
    <div class="well">
      <table>
        <tr>
          <td>Lec. anterior: </td>
          <td class="pull-right"><%= @reading.reading_index_1 %></td>
        </tr>
        <tr>
          <td>Lec. actual: </td>
          <td class="pull-right"><%= @reading.reading_index %></td>
        </tr>
        <tr>
          <td>Consumo: </td>
          <td class="pull-right"><%= @reading.consumption %></td>
        </tr>
      </table>
    </div>
    <div class="well">
      <div>Reglamentación</div>
    </div>
    <div class="well">
      <div>Periodo: <%= @reading.billing_period.period %></div>
    </div>
  </div>
  <div class="span10">
    <h4 class="text-center">Detalle</h4>
    <% @bill.invoices.each do |invoice| %>
      <div><small><%= t("activerecord.attributes.contracting_request.invoice_number") %>: <%= invoice.try(:invoice_no) %></small></div>
      <div><small><%= invoice.try(:biller).try(:name) %> | <%= t("activerecord.attributes.contracting_request.fiscal_id") %> <%= invoice.try(:biller).try(:fiscal_id) %></small></div>
      <% invoice.invoice_items.each do |item| %>
        <h5><%= "#{item.description} (#{item.code})" %></h5>
        <table class="table">
          <tr>
            <td>Cuota fija</td>
            <td><%= @subscriber.billing_frequency.to_label if @subscriber.billing_frequency %></td>
            <td><%= item.try(:tariff).try(:fixed_fee) || 0 %> €</td>
          </tr>
          <% unless item.tariff.block1_fee.zero? %>
            <tr>
              <td colspan="3"><b>CONSUMO</b></td>
            </tr>
          <% end %>
          <% overflw=false %>
          <% (1..8).each do |i| %>
            <% unless item.tariff.instance_eval("block#{i}_fee").zero? || overflw %>
              <tr>
                <td>BLOQUE <%= i %></td>
                <td><%= item.tariff.instance_eval("block#{i}_limit") %> m<sup>3</sup> (<%= item.tariff.instance_eval("block#{i}_fee") %> €)</td>
                <% if (item.tariff.instance_eval("block#{i}_limit").nil? or item.tariff.instance_eval("block#{i}_limit") > @reading.consumption)%>
                  <td><%= item.tariff.instance_eval("block#{i}_fee") * (@reading.consumption - (i==1 ? 0 : item.tariff.instance_eval("block#{i-1}_limit")) )%></td>
                <% else %>
                  <td><%= item.tariff.instance_eval("block#{i}_fee") * (item.tariff.instance_eval("block#{i}_limit") - (i==1 ? 0 : item.tariff.instance_eval("block#{i-1}_limit")) ) %></td>
                <% end %>
                <% acu = item.tariff.instance_eval("block#{i}_limit") %>
              </tr>
              <%( overflw = item.tariff.instance_eval("block#{i}_limit") > @reading.consumption ? true : false ) unless item.tariff.instance_eval("block#{i}_limit").nil?  %>
            <% end %>
          <% end %>
          <tr>
            <td></td>
            <td><b>SUBTOTAL</b></td>
            <td><%= item.total %></td>
          </tr>
        </table>
      <% end %>
      <div class="row">
        <div class="span9">
          <h4 class="pull-right">Total Factura: <%= invoice.total %></h4>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
