<style>
  .soft-padding{
    padding-top: 8px;
    padding-bottom: 8px;
  }
</style>
<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });

    $('.accor').click(function () {
      if (this.classList.contains("collapsed")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th></th>
      <th><%= t("activerecord.attributes.tariff.billable_concept") %></th>
      <th><%= t("activerecord.attributes.tariff.tariff_type_id") %></th>
      <th><%= t("activerecord.attributes.tariff.billing_frequency_id") %></th>
      <th align="right"><%= t('activerecord.attributes.tariff.starting_at') %></th>
      <th align="right"><%= t('activerecord.attributes.tariff.ending_at') %></th>
      <th align="center"><%= t("activerecord.attributes.tariff.caliber_id") %></th>
      <th align="right"></th>
    </tr>
  </thead>
  <tbody>
    <% @grouped_tariffs.each do |tariff| %>
      <tr>
        <td>
          <% if !tariff.caliber_id.blank? %>
            <a class="accor accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= tariff.id %>"><i class='icon-plus'></i></a>
          <% else %>
            <b>&nbsp;</b>
          <% end %>
        </td>
        <td><%= tariff.billable_concept_label_ %></td>
        <td><%= tariff.tariff_type_label_ %></td>
        <td><%= tariff.billing_frequency_label_ %></td>
        <td align="right"><%=l tariff.starting_at unless tariff.starting_at.blank? %></td>
        <td align="right"><%=l tariff.ending_at unless tariff.ending_at.blank? %></td>
        <td align="center"></td>
        <td align="right">
        <% if tariff.caliber_id.blank? %>
            <%= render :partial => '/layouts/crud/read', :locals => { :model => Tariff, :path => tariff_path(tariff.id) } %>
            <%= render :partial => '/layouts/crud/edit', :locals => { :model => Tariff, :path => edit_tariff_path(tariff.id) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => Tariff, :path => tariff, :msg => t("activerecord.models.tariff.one"), :txt => tariff.id } %>
          </td>
        </tr>
        <tr><td colspan="8"></td></tr>
        <% else %>
          </td>
        </tr>
        <tr>
          <td colspan="8">
          <div id="collapse-<%= tariff.id %>" class="accordion-body collapse">
              <table class="table table-condensed table-striped">
                <% Tariff.all_tariffs_with_caliber(tariff.billable_item_id, tariff.tariff_type_id, tariff.billing_frequency_id , tariff.starting_at , tariff.ending_at).each do |tariff_item| %>
                <tr>
                  <td class="span1"><b>&nbsp;</b></td>
                  <td class="span1"><b>&nbsp;</b></td>
                  <td class="span1"><b>&nbsp;</b></td>
                  <td class="span1"><b>&nbsp;</b></td>
                  <td class="span1" align="right"><b>&nbsp;</b></td>
                  <td class="span1" align="right"><b>&nbsp;</b></td>
                  <td class="span1" align="center"><%= tariff_item.caliber_ %></td>
                  <td class="span1" align="right">
                    <%= render :partial => '/layouts/crud/read', :locals => { :model => Tariff, :path => tariff_path(tariff_item.id) } %>
                    <%= render :partial => '/layouts/crud/edit', :locals => { :model => Tariff, :path => edit_tariff_path(tariff_item.id) } %>
                    <%= render :partial => '/layouts/crud/delete', :locals => { :model => Tariff, :path => tariff_item, :msg => t("activerecord.models.tariff.one"), :txt => tariff_item.id } %>
                  </td>
                </tr>
                <% end %>
              </table>
          </div>
        </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @grouped_tariffs } %>
