<% session[:return_to_subscriber] = nil %>
<% session[:return_to_subscriber_url] = nil %>
<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>

<script type="text/javascript">
  var _thisForm = '';
  var changing = false;

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      allowClear: true
    });
    $('.date_picker').datepicker({
     format:'dd/mm/yyyy',weekStart:1
    });
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  });


  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#Project").select2("val", "<%= params[:Project] %>");
    $("#Concept").select2("val", "<%= params[:Concept] %>");
    $("#Item").select2("val", "<%= params[:Item] %>");
    $("#Type").select2("val", "<%= params[:Type] %>");
    $("#Caliber").select2("val", "<%= params[:Caliber] %>");
    $("#Frequency").select2("val", "<%= params[:Frequency] %>");
    $("#From").val("<%= params[:From] %>");
    $("#To").val("<%= params[:To] %>");
  });

  jQuery(function($) {
    $("#removeFilter").click(function() {
      $("#Project").select2("val", "");
      $("#Concept").select2("val", "");
      $("#Item").select2("val", "");
      $("#Type").select2("val", "");
      $("#Caliber").select2("val", "");
      $("#Frequency").select2("val", "");
      $("#From").val("");
      $("#To").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

  });

</script>

<%= render '/layouts/ag2_gest/tariffschemesbreadcrumb' %>

<h3><%= t(".title") %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_gest.tariffs_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "tariffs", :method => 'get', :remote => true do %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_project"), nil, :class => 'form-label' %>
        <%= select_tag "Project", options_from_collection_for_select(@projects, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Concept -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_concept"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Concept", options_from_collection_for_select(@concepts, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Item -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_item"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Item", options_from_collection_for_select(@items, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Type -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_type"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Type", options_from_collection_for_select(@types, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Caliber -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_caliber"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Caliber", options_from_collection_for_select(@calibers, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Frequency -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_frequency"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Frequency", options_from_collection_for_select(@frequencies, "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Dates -->
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_from"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag "From", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
        <%= label_tag I18n.t("ag2_gest.tariffs.index.label_to"), nil, :class => 'form-label' %>
        <%= text_field_tag "To", params[:date], :class =>  'x-large-text-field shrinked date_picker' %>
        <br><br>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Tariff, :path => new_tariff_path, :txt => t("ag2_gest.tariffs.index.btn_new") } %>
        <a href="#new-tariff-pct" role="button" class="btn btn-warning" data-toggle="modal">Nuevas tarifas por tipo</a>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->


    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'tariffs' %>
      </div>
    </div>

  </div>
</div>

<%= render '/ag2_gest/tariffs/modals/new-tariff-pct' %>



