<style>
  .divborder_radius {
    border: 2px solid #ddd;
    padding: 10px 40px; 
    width: auto;
    border-radius: 10px;
  }
  .divborder {
    border: 2px solid #ddd;
    padding: 10px 40px; 
    width: auto;
  }
</style>

<%= render '/layouts/ag2_gest/tariffschemesbreadcrumb' %>

<h3><%= t('.title') %></h3>
<table class="table">
  <tbody>
  <div class="row-fluid divborder_radius">
    <div class="row-fluid">
      <div class="span3">
          <b><%= t('activerecord.attributes.tariff.id') %>:</b>
          <%= @tariff.try(:id) %>
      </div>
      <div class="span3">
        <b><%= t('activerecord.attributes.tariff.tariff_type_id') %>:</b>
        <%= @tariff.try(:tariff_type).try(:to_label) %>
      </div>
      <div class="span6">
        <b><%= t('activerecord.attributes.tariff.billable_item_id') %>:</b>
        <%= @tariff.try(:billable_item).try(:to_label) %>
      </div>
    </div>
    <div class="row-fluid">
      <div class="span3">
        <b><%= t('activerecord.attributes.tariff.caliber_id') %>:</b>
        <%= @tariff.try(:caliber).try(:to_label) %>
      </div>
      <div class="span3">
        <b><%= t('activerecord.attributes.tariff.billing_frequency_id') %>:</b>
        <%= @tariff.try(:billing_frequency).try(:to_label) %>
      </div>
      <div class="span3">
        <b><%= t('activerecord.attributes.tariff.starting_at') %>:</b>
        <%= formatted_date(@tariff.starting_at) if @tariff.starting_at %>
      </div>
      <div class="span3">
        <b><%= t('activerecord.attributes.tariff.ending_at') %>:</b>
        <%= formatted_date(@tariff.ending_at) if @tariff.ending_at %>
      </div>
    </div>
  </div>
  <br>
  <div class="row-fluid">
    <div class="span5 divborder_radius">
      <h4 class="text-center"><%= t('activerecord.attributes.tariff.blocks') %></h4>
      <div class="row-fluid">
        <div class="span4 offset3"><b><%= t('activerecord.attributes.tariff.limit') %></b></div>
        <div class="span4"><b><%= t('activerecord.attributes.tariff.price') %></b></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block1') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block1_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block1_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block2') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block2_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block2_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block3') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block3_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block3_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block4') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block4_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block4_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block5') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block5_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block5_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block6') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block6_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block6_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block7') %>:</b></div>
        <div class="span4"><%= @tariff.try(:block7_limit) %></div>
        <div class="span4"><%= number_with_precision(@tariff.block7_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span3"><b><%= t('activerecord.attributes.tariff.block8') %>:</b></div>
        <div class="span4"><%= "> " + @tariff.try(:block7_limit).to_s if @tariff.try(:block7_limit) and @tariff.try(:block8_fee) != 0.0 %></div>
        <div class="span4"><%= number_with_precision(@tariff.block8_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
    </div>

    <div class="span3 divborder_radius">
      <h4><br></h4>
      <div class="row-fluid">
        <div class="span7"><b><%= t('activerecord.attributes.tariff.fixed_fee') %>:</b></div>
        <div class="span4"><%= number_with_precision(@tariff.fixed_fee, precision: 12, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><b><%= t('activerecord.attributes.tariff.variable_fee') %>:</b></div>
        <div class="span4"><%= number_with_precision(@tariff.variable_fee, precision: 10, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><b><%= t('activerecord.attributes.tariff.percentage_fee') %>:</b></div>
        <div class="span4"><%= number_with_precision(@tariff.percentage_fee, precision: 6, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><b><%= t('activerecord.attributes.tariff.percentage_fixed_fee') %>:</b></div>
        <div class="span4"><%= number_with_precision(@tariff.percentage_fixed_fee, precision: 6, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",")  %></div>
      </div>
      <div class="row-fluid">
        <div class="span7"><b><%= t('activerecord.attributes.tariff.percentage_applicable_formula') %>:</b></div>
        <div class="span4"><%= @tariff.get_code_formula  %></div>
      </div>
    </div>

    <div class="span4 divborder_radius">
      <h4><br></h4>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.discount_pct_f') %>:</b></div>
        <div class="span5"><%= number_with_precision(@tariff.discount_pct_f, precision: 6, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.discount_pct_b') %>:</b></div>
        <div class="span5"><%= number_with_precision(@tariff.discount_pct_b, precision: 6, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.discount_pct_v') %>:</b></div>
        <div class="span5"><%= number_with_precision(@tariff.discount_pct_v, precision: 6, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.discount_pct_p') %>:</b></div>
        <div class="span5"><%= number_with_precision(@tariff.discount_pct_p, precision: 6, strip_insignificant_zeros: true, delimiter: I18n.locale == :es ? "." : ",") %></div>
      </div>

      <h4><br></h4>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.tax_type_f_id') %>:</b></div>
        <div class="span5"><%= @tariff.tax_type_f.description + " (" + number_with_precision(@tariff.tax_type_f.tax, precision: 2, delimiter: I18n.locale == :es ? "." : ",") + ")" %></div>
      </div>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.tax_type_b_id') %>:</b></div>
        <div class="span5"><%= @tariff.tax_type_b.description + " (" + number_with_precision(@tariff.tax_type_b.tax, precision: 2, delimiter: I18n.locale == :es ? "." : ",") + ")" %></div>
      </div>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.tax_type_v_id') %>:</b></div>
        <div class="span5"><%= @tariff.tax_type_v.description + " (" + number_with_precision(@tariff.tax_type_v.tax, precision: 2, delimiter: I18n.locale == :es ? "." : ",") + ")" %></div>
      </div>
      <div class="row-fluid">
        <div class="span6"><b><%= t('activerecord.attributes.tariff.tax_type_p_id') %>:</b></div>
        <div class="span5"><%= @tariff.tax_type_p.description + " (" + number_with_precision(@tariff.tax_type_p.tax, precision: 2, delimiter: I18n.locale == :es ? "." : ",") + ")" %></div>
      </div>
    </div>
  </div>
  <br>
      <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @tariff } %>
      <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @tariff } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Tariff, update_path: edit_tariff_path(@tariff), update_txt: t('.btn_edit'),
delete_path: @tariff_scheme, delete_txt: t('.btn_delete'), msg: t("activerecord.models.tariff.one"), :txt => @tariff.id,
new_path: new_tariff_path, new_txt: t('ag2_gest.tariffs.index.btn_new') } %>

<% if !session[:return_to_subscriber].nil? %>
  <%= link_to session[:return_to_subscriber], session[:return_to_subscriber_url] %> |
<% end %>
<% if !session[:return_to].nil? %>
  <%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to I18n.t('ag2_gest.tariffs.back_to_main_page'), tariffs_path %>
