<script>
  var previousLink;

  $(document).ready(function() {
    var _links = document.getElementById('index').rows[0].cells[0].getElementsByTagName("a");
    previousLink = _links[0];
    previousLink.style.color = "#da4f49";
  });
  
  jQuery(function($) {
    // when the .guide link is clicked
    $(".guide").click(function(e) {
      e.preventDefault();
      // make a POST call and replace the content
      var _this = (this);
      setContent(_this, 'gu_content_from_guide/');
      return false;
    });

    // when the .subguide link is clicked
    $(".subguide").click(function(e) {
      e.preventDefault();
      // make a POST call and replace the content
      var _this = (this);
      setContent(_this, 'gu_content_from_subguide/');
      return false;
    });

    // Set content
    function setContent(_this, f) {
      var t = _this.innerText;
      jQuery.getJSON(f + t, function(data) {
        previousLink.removeAttribute("style");
        _this.style.color = "#da4f49";
        document.getElementById("name").innerHTML = t;
        if (data.description != null) {
          document.getElementById("description").innerHTML = data.description;
        } else {
          document.getElementById("description").innerHTML = '';
        }
        if (data.body != null) {
          document.getElementById("body").innerHTML = data.body;
        } else {
          document.getElementById("body").innerHTML = '';
        }
        previousLink = _this;
        $('html,body').animate({
          scrollTop: $("body").position().top},'slow');
      });
    }
  });
</script>

<div class="row-fluid" style="padding-top: 12px">
  <div class="span4 well sidebar-nav" style="overflow-y: scroll; height: 550px;">
    <table id="index">
      <tbody>
        <% @guides.each do |g| %>
        <tr>
          <td><a href="#" class="guide"><%= g.name %></a></td>
        </tr>
        <% g.subguides.order(:sort_order).each do |s| %>
        <tr>
          <td style="padding-left: 1em;"><a href="#" class="subguide"><%= s.name %></a></td>
        </tr>
        <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span8" id="content" style="padding-right: 12px; overflow-y: scroll; height: 550px;">
    <h4 id="name" class="guide-h4"><%= @guide.name.html_safe %></h4>
    <div style="padding-left: 1em;">
      <p><b id="description"><%= @guide.description.html_safe %></b></p>
      <div id="body">
        <%= @guide.body.html_safe %>
      </div>
    </div>
  </div>
</div>
