<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    // Initialize form variable
    _thisForm = $("#tool_cost").closest('form')[0];
    // Set initial focus
    $(this).find(".form-label:first").focus();
  });

  jQuery(function($) {
    // when the #tool_office_id field changes
    $("#tool_office_id").change(function() {
      // make a POST call and replace the content
      var tool = $('select#tool_office_id :selected').val();
      if (tool == "")
        tool = "0";
      jQuery.getJSON('tl_update_company_textfield_from_office/' + tool, function(data) {
        $("#tool_company_id").select2("val", data.id);
      });
      return false;
    });

    // when the #tool_organization_id field changes
    $("#tool_organization_id").change(function() {
      // make a POST call and replace the content
      var tool = $('select#tool_organization_id :selected').val();
      if (tool == "")
        tool = "0";
      jQuery.getJSON('tl_update_company_and_office_textfields_from_organization/' + tool, function(data) {
        var c = data.companies;
        var o = data.offices;
        var p = data.products
        // Companies
        $("#tool_company_id").html("");
        $("#tool_company_id").select2("val", "");
        $("#tool_company_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'companies' && option != "") {
              $("#tool_company_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#tool_company_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Offices
        $("#tool_office_id").html("");
        $("#tool_office_id").select2("val", "");
        $("#tool_office_id").append($('<option></option>').val("").html(""));
        if (!o.length) {
          $.each(data, function(id, option) {
            if (id == 'offices' && option != "") {
              $("#tool_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
            }
          });
        } else {
          $.each(o, function(id, option) {
            $("#tool_office_id").append($('<option></option>').val(option[0]).html(option[1] + " (" + option[2] + ")"));
          });
        }
        // Products
        $("#tool_product_id").html("");
        $("#tool_product_id").select2("val", "");
        $("#tool_product_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'products' && option != "") {
              $("#tool_product_id").append($('<option></option>').val(option.id).html(option.product_code.substring(0,4) + "-" + option.product_code.substring(4,10) + " " + option.main_description));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#tool_product_id").append($('<option></option>').val(option.id).html(option.product_code.substring(0,4) + "-" + option.product_code.substring(4,10) + " " + option.main_description));
          });
        }
      });
      if (tool == "0") {
        $("#tool_company_id").val(0);
        $("#tool_office_id").val(0);
        $("#tool_product_id").val(0);
      }
      return false;
    });

    // when the #tool_product_id field changes
    $("#tool_product_id").change(function() {
      // make a POST call and replace the content
      var tool = $('select#tool_product_id :selected').val();
      if (tool == "")
        tool = "0";
      jQuery.getJSON('tl_update_name_textfield_from_product/' + tool, function(data) {
        $("#tool_name").val(data.description);
        $("#tool_cost").val(data.cost);
        $("#tool_brand").val(data.manufacturer);
      });
      return false;
    });

    // when the #tool_cost field changes
    $("#tool_cost").change(function() {
      var cost = $('#tool_cost').val();
      if (cost == "")
        cost = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      jQuery.getJSON('tl_update_cost/' + cost, function(data) {
        $('#tool_cost').val(data.cost);
      });
      return false;
    });
    
    // when submit    
    $(_thisForm).on('submit', function() {
      // Must change decimal separator, if comma, in numeric fields
      var cost = $('#tool_cost').val().replace(",", ".");
      $('#tool_cost').val(cost);
    });
  });  
</script>

<%= simple_form_for @tool, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two">
    <% if session[:organization] != '0' %>
    <%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.organizations.count > 0 %>
    <%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two"> <%= f.input :serial_no, input_html: { onkeyup: "caps(this)", class: 'mid-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two">
    <% if session[:office] != '0' %>
    <%= f.association :office, collection: Office.where("id = ?", "#{session[:office]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.offices.count > 0 %>
    <%= f.association :office, collection: current_user.offices.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :office, collection: @offices, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two">
    <% if session[:company] != '0' %>
    <%= f.association :company, collection: Company.where("id = ?", "#{session[:company]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.companies.count > 0 %>
    <%= f.association :company, collection: current_user.companies.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :company, collection: @companies, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :product, collection: @products, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :name, input_html: { onkeyup: "caps(this)", class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :cost, as: :string, input_html: { value: (number_with_precision(f.object.cost, precision: 4) if f.object.cost), class: 'mid-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :brand, input_html: { onkeyup: "caps(this)", class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :model, input_html: { onkeyup: "caps(this)", class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %>
<% end %>
