<% annotations.each do |w| %>
<tr>
  <td><%= w.annotation_class_code %></td>
  <td><%= w.annotation_class_type %></td>
  <td><%= w.annotation %></td>
  <td><%= w.annotation_created_at %></td>
  <td><%= w.annotation_created_by %></td>
</tr>
<% end %>
