<!-- RENDER2 FACTURA DE SUMINISTRO-->
<% nullable = bill.nullable_ != 0 ? true : false %>
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading row">
      <div class="myspan">
        <a class="accor accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= bill.bill_id_ %>"><i class='icon-plus'></i></a>
      </div>
      <div class="span2 soft-padding">
        <%= bill.invoice_based_old_no_real_no_ %>
      </div>
      <div class="span1 soft-padding">
          <span class="blue"><%= InvoiceType.code_with_param(bill.bill_type_id_) unless bill.bill_type_id_.blank? %></span>
          <span class="yellow"><%= InvoiceStatus.code_with_param(bill.bill_status_id_) unless bill.bill_status_id_.blank? %></span>
          <span class="brown"><%= InvoiceOperation.code_with_param(bill.bill_operation_id_) unless bill.bill_operation_id_.blank? %></span>
      </div>
      <div class="span1 soft-padding" align="center">
        <%= bill.billing_period_ %>
      </div>
      <div class="span1 soft-padding" align="center">
        <%= formatted_date_slash(bill.bill_date_) unless bill.bill_date_.blank? %>
      </div>
      <div class="span1 soft-padding" align="center">
        <%= formatted_date_slash(bill.bill_payday_limit_) unless bill.bill_payday_limit_.blank? %>
      </div>
      <!-- <div class="span2">
        <#%= bill.try(:bill_type).try(:name) %>
      </div> -->
      <div align="right" class="span1 soft-padding">
        <%= number_with_precision(bill.bill_total_, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
      </div>
      <div align="right" class="span1 soft-padding">
        <%= number_with_precision(bill.bill_charged_, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
      </div>
      <div align="right" class="span1 soft-padding">
        <%= number_with_precision(bill.bill_debt_, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
      </div>
      <div class="span2 soft-padding pull-right">
        <%= link_to "<i class='icon-print icon-white'></i>".html_safe, biller_pdf_bill_path(bill.bill_id_, :format => :pdf), target: "_blank", class: "btn btn-warning btn-mini", title: "Imprimir" %>
        <%= link_to "<i class='icon-remove icon-white'></i>".html_safe, void_subscriber_bill_path(@subscriber,bill.bill_id_), :remote => true, class: "btn btn-warning btn-mini", data: {confirm: I18n.t("ag2_gest.subscribers.show.are_you_sure_to_void") + "#{t("activerecord.models.bill.one")}? (#{bill.bill_right_no_})"}, title: "Abonar" if bill.nullable_  %>
        <%= link_to "<i class='icon-plus icon-white'></i>".html_safe, rebilling_subscriber_bill_path(@subscriber,bill.bill_id_), :remote => true, class: "btn btn-warning btn-mini", data: {confirm: I18n.t("ag2_gest.subscribers.show.are_you_sure_to_rebill") + "#{t("activerecord.models.bill.one")}? (#{bill.bill_right_no_})"}, title: "Refacturar" %>
      </div>
    </div>
    <div id="collapse-<%= bill.bill_id_ %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <% Invoice.by_bill_id(bill.bill_id_).each do |invoice| %>
          <% unpaid = invoice.unpaid_ != 0 ? true : false %>
          <table class="table">
            <% if !invoice.original_invoice_no_.nil? %>
              <% if invoice.invoice_operation_id_ == InvoiceOperation::CANCELATION %>
                <div class="<%= 'text-error' if unpaid %> fields"><small><%= I18n.t("activerecord.attributes.invoice.invoice_cancellation") + " " + I18n.t("activerecord.attributes.bill.bill_no") + ": " + invoice.invoice_no_ + "  (" + invoice.original_invoice_no_ + ")" %></small></div>
              <% else %>
                <div class="<%= 'text-error' if unpaid %> fields"><small><%= I18n.t("activerecord.models.invoice.one") + " " + I18n.t("activerecord.attributes.bill.bill_no") + ": " + invoice.invoice_no_ + "  (" + invoice.original_invoice_no_ + ")" %></small></div>
              <% end %>
            <% else %>
              <div class="<%= 'text-error' if unpaid %> fields"><small><%= I18n.t("activerecord.models.invoice.one") + " " + I18n.t("activerecord.attributes.bill.bill_no") %>: <%= invoice.invoice_no_ %></small></div>
            <% end %>
            <div class="<%= 'text-error' if unpaid %> fields"><small><%= invoice.biller_name_ %> | <%= t("activerecord.attributes.contracting_request.fiscal_id") %> <%= invoice.biller_fiscal_id_ %></small></div>
            <% if !invoice.payment_date_.blank? && invoice.invoice_status_id_ == InvoiceStatus::CHARGED %>
              <div class="<%= 'text-error' if unpaid %> fields"><small><%= t("activerecord.attributes.client_payment.charged") %> <%= PaymentType.code_with_param(invoice.payment_type_) %> | <%= invoice.payment_method_ %> | <%= I18n.l(invoice.payment_date_, format: :long_whit_day_and_hour)%></small></div>
            <% end %>
            <tr class="<%= 'text-error' if unpaid %> fields">
              <th><%= t("activerecord.attributes.contracting_request.code") %></th>
              <th><%= t("activerecord.attributes.contracting_request.subcode") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.quantity") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.price") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.amount") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.tax") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.discount") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.discount_pct") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.total") %></th>
            </tr>
            <% InvoiceItem.by_invoice_id(invoice.invoice_id_).each do |item| %>
              <tr class="<%= 'text-error' if unpaid %> fields">
                <td><%= item.code_ %></td>
                <td><%= InvoiceItem.subcode_names(item.subcode_) %></td>
                <td align="right"><%= number_with_precision(item.quantity_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.price_, precision: 6, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.amount_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.tax_type_tax_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.discount_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.discount_pct_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.total_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
              </tr>
            <% end %>
            <tr class="subtotal <%= 'text-error' if unpaid %> fields">
              <td colspan="7" class="no-boder"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.subtotal').upcase %></b></td>
              <td align="right" class="black-border"><%= number_with_precision(invoice.subtotal_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
            <% InvoiceTax.by_invoice_id(invoice.invoice_id_).each do |tax| %>
              <tr class="<%= 'text-error' if unpaid %> fields">
                <td colspan="5" class="no-boder"></td>
                <td class="no-boder"><b>Base imponible:</b>&nbsp;&nbsp;  <%= number_with_precision(tax.taxable_, precision: 4, delimiter: I18n.locale == :es ? "." : ",")  %></td>
                <td class="no-boder"><%= "#{pluralize(tax.items_qty_, 'artículo')}"  %></td>
                <td><b><%= " #{t('activerecord.attributes.subscriber.vat')} (#{tax.tax_}%)" %></b></td>
                <td align="right"><%= number_with_precision(tax.tax_amount_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
              </tr>
            <% end %>
            <tr class="<%= 'text-error' if unpaid %> fields">
              <td colspan="7" class="black-border"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.total').upcase %></b></td>
              <td  align="right" class="black-border"><%= number_with_precision(invoice.totals_, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
