<!-- RENDER2 FACTURA DE SUMINISTRO-->
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading row">
      <div class="span1">
        <a class="accor accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= bill.id %>"><i class='icon-plus'></i></a>
      </div>
      <div class="span3 soft-padding">
        <%= bill.try(:old_no_based_no) %>
      </div>
      <div class="span1 soft-padding">
          <span class="blue"><%= bill.invoices.first.invoice_type.code unless bill.invoices.first.invoice_type.blank? %></span>
          <span class="yellow"><%= bill.invoices.first.invoice_status.code unless bill.invoices.first.invoice_status.blank? %></span>
          <span class="brown"><%= bill.invoices.first.invoice_operation.code unless bill.invoices.first.invoice_operation.blank? %></span>
      </div>
      <div class="span1 soft-padding" align="center">
        <%= bill.try(:invoices).try(:first).try(:billing_period).try(:period) %>
      </div>
      <div class="span1 soft-padding" align="center">
        <%= bill.try(:bill_date).strftime("%d/%m/%Y") %>
      </div>
      <div class="span1 soft-padding" align="center">
        <%= bill.payday_limit.strftime("%d/%m/%Y") unless bill.payday_limit.blank? %>
      </div>
      <!-- <div class="span2">
        <#%= bill.try(:bill_type).try(:name) %>
      </div> -->
      <div align="right" class="span1 soft-padding">
        <%= number_with_precision(bill.try(:total), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
      </div>
      <div class="span2 soft-padding pull-right">
        <%= link_to "<i class='icon-print icon-white'></i>".html_safe, biller_pdf_bill_path(bill, :format => :pdf), target: "_blank", class: "btn btn-warning btn-mini", title: "Imprimir" %>
        <%= link_to "<i class='icon-remove icon-white'></i>".html_safe, void_subscriber_bill_path(@subscriber,bill) , class: "btn btn-warning btn-mini", data: {confirm: I18n.t("ag2_gest.subscribers.show.are_you_sure_to_void") + "#{t("activerecord.models.bill.one")}? (#{bill.full_no})"}, title: "Abonar" if bill.nullable?  %>
        <%= link_to "<i class='icon-plus icon-white'></i>".html_safe, rebilling_subscriber_bill_path(@subscriber,bill) , class: "btn btn-warning btn-mini", remote: true, data: {confirm: I18n.t("ag2_gest.subscribers.show.are_you_sure_to_rebill") + "#{t("activerecord.models.bill.one")}? (#{bill.full_no})"}, title: "Refacturar" %>
      </div>
    </div>
    <div id="collapse-<%= bill.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <% bill.invoices.each do |invoice| %>
          <table class="table">
            <div class="<%= 'text-error' if invoice.unpaid? %> fields"><small><%= t("activerecord.attributes.contracting_request.invoice_number") %>: <%= invoice.try(:full_no) %></small></div>
            <div class="<%= 'text-error' if invoice.unpaid? %> fields"><small><%= invoice.try(:biller).try(:name) %> | <%= t("activerecord.attributes.contracting_request.fiscal_id") %> <%= invoice.try(:biller).try(:fiscal_id) %></small></div>
            <tr class="<%= 'text-error' if invoice.unpaid? %> fields">
              <th><%= t("activerecord.attributes.contracting_request.code") %></th>
              <th><%= t("activerecord.attributes.contracting_request.subcode") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.quantity") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.price") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.amount") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.tax") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.discount") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.discount_pct") %></th>
              <th align="right"><%= t("activerecord.attributes.contracting_request.total") %></th>
            </tr>
            <% invoice.invoice_items.each do |item| %>
              <tr class="<%= 'text-error' if invoice.unpaid? %> fields">
                <td><%= item.code %></td>
                <td><%= item.subcode_name %></td>
                <td align="right"><%= number_with_precision(item.quantity, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.price, precision: 6, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.tax_type.try(:tax), precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.discount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.discount_pct, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <td align="right"><%= number_with_precision(item.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
              </tr>
            <% end %>
            <tr class="subtotal <%= 'text-error' if invoice.unpaid? %> fields">
              <td colspan="7" class="no-boder"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.subtotal').upcase %></b></td>
              <td align="right" class="black-border"><%= number_with_precision(invoice.subtotal, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
            <% invoice.tax_breakdown.each do |tax| %>
              <% if tax[0] != TaxType.exempt.tax %>
                <tr class="<%= 'text-error' if invoice.unpaid? %> fields">
                  <td colspan="5" class="no-boder"></td>
                  <td class="no-boder"><b>Base imponible:</b>&nbsp;&nbsp;  <%= number_with_precision(tax[1], precision: 4, delimiter: I18n.locale == :es ? "." : ",")  %></td>
                  <td class="no-boder"><%= "#{pluralize(tax[3], 'artículo')}"  %></td>
                  <td><b><%= " #{t('activerecord.attributes.subscriber.vat')} (#{tax[0]}%)" %></b></td>
                  <td align="right"><%= number_with_precision(tax[2], precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                </tr>
              <% end %>
            <% end %>
            <tr class="<%= 'text-error' if invoice.unpaid? %> fields">
              <td colspan="7" class="black-border"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.total').upcase %></b></td>
              <td  align="right" class="black-border"><%= number_with_precision(invoice.totals, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
