<!-- RENDER2 FACTURA DE SUMINISTRO-->
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading row">
      <div class="span1">
        <a class="accor accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= bill.id %>"><i class='icon-plus'></i></a>
      </div>
      <div class="span3 soft-padding">
        <%= bill.try(:full_no) %>
      </div>
      <div class="span2 soft-padding">
        <%= bill.try(:bill_date) %>
      </div>
      <div class="span2 soft-padding">
        <%= bill.try(:bill_type).try(:name) %>
      </div>
      <div class="span1 soft-padding">
        <%= bill.try(:total) %>
      </div>
      <div class="span2 soft-padding pull-right">
        <%= link_to "<i class='icon-print icon-white'></i>".html_safe, bill_path(bill), target: "_blank", class: "btn btn-warning btn-mini" %>
        <%= link_to "<i class='icon-remove icon-white'></i>".html_safe, void_subscriber_bill_path(@subscriber,bill) , class: "btn btn-warning btn-mini", data: {confirm: I18n.t("ag2_gest.subscribers.show.are_you_sure_to_void") + "#{t("activerecord.models.bill.one")}? (#{bill.full_no})"} %>
        <%= link_to "<i class='icon-plus icon-white'></i>".html_safe, rebilling_subscriber_bill_path(@subscriber,bill) , class: "btn btn-warning btn-mini", remote: true, data: {confirm: I18n.t("ag2_gest.subscribers.show.are_you_sure_to_rebill") + "#{t("activerecord.models.bill.one")}? (#{bill.full_no})"} %>
      </div>
    </div>
    <div id="collapse-<%= bill.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <% bill.invoices.each do |invoice| %>
          <div><small><%= t("activerecord.attributes.contracting_request.invoice_number") %>: <%= invoice.try(:invoice_no) %></small></div>
          <div><small><%= invoice.try(:biller).try(:name) %> | <%= t("activerecord.attributes.contracting_request.fiscal_id") %> <%= invoice.try(:biller).try(:fiscal_id) %></small></div>
          <table class="table">
            <tr>
              <th><%= t("activerecord.attributes.contracting_request.code") %></th>
              <th><%= t("activerecord.attributes.contracting_request.subcode") %></th>
              <th><%= t("activerecord.attributes.contracting_request.quantity") %></th>
              <th><%= t("activerecord.attributes.contracting_request.price") %></th>
              <th><%= t("activerecord.attributes.contracting_request.amount") %></th>
              <th><%= t("activerecord.attributes.contracting_request.tax") %></th>
              <th><%= t("activerecord.attributes.contracting_request.discount") %></th>
              <th><%= t("activerecord.attributes.contracting_request.discount_pct") %></th>
              <th><%= t("activerecord.attributes.contracting_request.total") %></th>
            </tr>
            <% invoice.invoice_items.each do |item| %>
              <tr>
                <td><%= item.code %></td>
                <td><%= item.subcode %></td>
                <td align="right"><%= item.quantity %></td>
                <td align="right"><%= item.price %></td>
                <td align="right"><%= item.amount %></td>
                <td align="right"><%= item.tax_type.try(:tax) %></td>
                <td align="right"><%= item.discount %></td>
                <td align="right"><%= item.discount_pct %></td>
                <td align="right"><%= item.total %></td>
              </tr>
            <% end %>
            <tr class="subtotal">
              <td colspan="7" class="no-boder"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.subtotal').upcase %></b></td>
              <td class="black-border" align="right"><%= invoice.subtotal %></td>
            </tr>
            <% invoice.tax_breakdown.each do |tax| %>
              <tr>
                <td colspan="5" class="no-boder"></td>
                <td class="no-boder"><b>Base imponible:</b> <%= tax[1] %></td>
                <td class="no-boder"><%= "#{pluralize(tax[3], 'artículo')}"  %></td>
                <td><b><%= " #{t('activerecord.attributes.subscriber.vat')} (#{tax[0]}%)" %></b></td>
                <td align="right"><%= tax[2] %></td>
              </tr>
            <% end %>
            <tr>
              <td colspan="7" class="black-border"></td>
              <td class="black-border"><b><%= t('activerecord.attributes.subscriber.total').upcase %></b></td>
              <td class="black-border" align="right"><%= invoice.total %></td>
            </tr>
        <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
