<script type="text/javascript">
  $(document).ready(function() {
    var active = true;
    var active_ifilter = "<%= @active_ifilter %>";

    $('.bill-all').removeClass('highlighted')
    $('.bill-pending').removeClass('highlighted')
    $('.bill-charged').removeClass('highlighted')
    if (active_ifilter == "all") {
      $('.bill-all').addClass('highlighted')
    } else if (active_ifilter == "pending") {
      $('.bill-pending').addClass('highlighted')
    } else {
      $('.bill-charged').addClass('highlighted')
    }

    $("#pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });

    $('#collapse-init').click(function () {
      if (active) {
        active = false;
        $('.accordion-body').collapse('show');
          $('.accordion-toggle').children().removeClass().addClass("icon-minus");
          $(this).text('Ocultar todos');
      } else {
        active = true;
        $('.accordion-body').collapse('hide');
        $('.accordion-toggle').children().removeClass().addClass("icon-plus");
        $(this).text('Ver todos');
      }
    });

    $('.accor').click(function () {
      if (this.classList.contains("collapsed")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }
    });
  });

  jQuery(function($) {
    // $(".btn_void_rebilling").click(function() {
    //   // make a POST call and replace the content
    //   var subscriber_id = "<%= @subscriber.id %>";
    //   var office_id = "<%= @subscriber.office_id %>";
    //   var today = new Date();
    //   var dd = today.getDate();
    //   var mm = today.getMonth()+1; //January is 0!
    //   var yyyy = today.getFullYear();
    //   if(dd<10) {
    //       dd = '0'+dd
    //   }
    //   if(mm<10) {
    //       mm = '0'+mm
    //   }
    //   today = dd + '/' + mm + '/' + yyyy;
    //   var invoice_date = right_date(today,"<%= I18n.locale %>");
    //   jQuery.getJSON('su_check_invoice_date/' + office_id  + '/' + invoice_date, function(data) {
    //     if (data.code != "") {
    //       alert(data.code);
    //       return false;
    //     }
    //   });
    // });
    
    $('#new_bill').click(function(){
      var subscriber_id = $("#fnt_id").val();
      if (subscriber_id == "") subscriber_id = "0";
      jQuery.getJSON('add_bill_new/' + subscriber_id, function(data) {
        var bpr = data.billing_periods_reading;
        // reading periods not billed
        $("#billing_period_reading").html("");
        $("#billing_period_reading").val("val", "");
        $("#billing_period_reading").append($('<option></option>').val("").html(""));
        if (!bpr.length) {
          $.each(data, function(id, option) {
            if (id == 'billing_periods_reading' && option != "") {
              $("#billing_period_reading").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(bpr, function(id, option) {
              $("#billing_period_reading").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
      });
    });
  });
</script>
<div class="row-fluid">
  <div class="span4">
    <a href="#new-bill" role="button" id="new_bill" class="btn btn-mini btn-primary <%= 'hide' unless !@subscriber.non_billable %>" data-toggle="modal">Nueva factura</a>
    <button id="collapse-init" class="btn btn-mini btn-primary"><%= "Ver todos" %></button>
    <%= link_to "<i class='icon-print icon-white'></i> #{t('ag2_gest.ag2_gest_track.index.label_report')}".html_safe, {controller: "subscribers", action: "sub_invoices_report", ifilter_show: @active_ifilter, :format => :pdf},class: "btn btn-mini btn-warning", target: "_blank" unless @subscriber.blank?  %>
  </div>
  <div class="span4" align="center">
    <%= link_to t('ag2_gest.subscribers.show.pendig_only'), {controller: "subscribers", action: "show", ifilter_show: "pending", :remote => true}, class: "bill-pending" %> |
    <%= link_to t('ag2_gest.subscribers.show.charged_only'), {controller: "subscribers", action: "show", ifilter_show: "charged", :remote => true}, class: "bill-charged" %> |
    <%= link_to t('ag2_gest.subscribers.show.all'), {controller: "subscribers", action: "show", ifilter_show: "all", :remote => true}, class: "bill-all" %>
    <!-- <%#= link_to t('ag2_gest.subscribers.show.unpaid_only'), controller: "subscribers", action: "show", ifilter: "unpaid", :remote => true %> | -->
  </div>
  <div class="span3" align="right">
    <b><%= I18n.t("ag2_gest.subscribers.show.total_bills") %>:</b> <%= number_with_precision(@subscriber_bills_total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
  </div>
</div>

<!-- Total bills/invoices -->
<div class="row">
  <div class="myspan"><b>&nbsp;</b></div> <!-- Space for icon-plus -->
  <div class="span2 soft-padding">
    <b><%= t('activerecord.attributes.subscriber.receipt') %></b>
  </div>
  <div class="span1 soft-padding">
    <b><%= t('activerecord.attributes.commercial_billing.codes') %></b>
  </div>
  <div class="span1 soft-padding" align="center">
    <b><%= t('activerecord.attributes.subscriber.period') %></b>
  </div>
  <div class="span1 soft-padding" align="center">
    <b><%= t('activerecord.attributes.subscriber.date') %></b>
  </div>
  <div class="span1 soft-padding" align="center">
    <b><%= t('activerecord.attributes.invoice.payday_limit') %></b>
  </div>
  <!-- <div class="span2">
    <b><#%= t('activerecord.attributes.subscriber.type') %></b>
  </div> -->
  <div align="right" class="span1 soft-padding">
    <b><%= t('activerecord.attributes.subscriber.total') %></b>
  </div>
  <div align="right" class="span1 soft-padding">
    <b><%= t('activerecord.attributes.subscriber.charged_c') %></b>
  </div>
  <div align="right" class="span1 soft-padding">
    <b><%= t('activerecord.attributes.subscriber.debt') %></b>
  </div>
  <div class="span2 soft-padding pull-right"></div>
</div>
<% @subscriber_bills.each do |bill| %>
  <% if !WaterSupplyContract.billed(bill.bill_id_).nil? %>
    <!-- Contract Bill -->
    <%= render 'bill_contracting_request', :bill => bill %>
  <% else %>
    <!-- Service Bill -->
    <%= render 'bill_reading', :bill => bill %>
  <% end %>
<% end %>
<%#= render :partial => '/layouts/pagination', :locals => { :ivar => @subscriber_bills } %>
<%= render :partial => '/layouts/pagination_ok', :locals => { :ivar => @subscriber_bills, :pvar => "bill_page"} %>

