<script type="text/javascript">
  $(document).ready(function() {
    $("#pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $("#reset_estimation").click(function(){
      window.location.reload();
    });
  });
</script>

<div class="row-fluid">
  <div class="span4">
    <% unless @subscriber.meter.blank? %>
      <a href="#newReadingModal" id="link_reading" role="button" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.reading_new') %></a>
      <a href="#quitMeter" id="quit_meter" role="button" class="btn btn-mini btn-primary" data-toggle="modal" data-confirm="<%= t("activerecord.attributes.subscriber.alert_quit_meter")%>" ><%= t('activerecord.attributes.subscriber.remove_meter') %></a>
      <a href="#changeMeter" id="change_meter" role="button" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.change_meter') %></a>
    <% else %>
      <a href="#addMeter" id="add_meter" role="button" class="btn btn-mini btn-primary" data-toggle="modal" data-confirm="<%= t("activerecord.attributes.subscriber.alert_add_meter")%>" ><%= t('activerecord.attributes.subscriber.add_meter') %></a>
    <% end %>
  </div>
  <div align="right" class="span7">
    <a href="<%= params[:id] %>/reset_estimation" data-remote="true" id="reset_estimation" role="button" class="btn btn-mini btn-primary  <%= 'hide' if @subscriber.current_estimation.nil? %>" data-confirm="<%= t("activerecord.attributes.subscriber.alert_reset_estimation")%>" ><%= t('activerecord.attributes.subscriber.reset_estimation') %></a>
    &nbsp;
    <span class="<%= 'hide' if @subscriber.current_estimation.nil? %>"><b><%= I18n.t('activerecord.attributes.subscriber.total_estimations') %>:</b> <%= @subscriber.current_estimation_balance %></span>
    &nbsp;
    <span><b><%= I18n.t("activerecord.attributes.reading.con") %>:</b> <%= @subscriber_readings.first.consumption_previous_readings(@subscriber_readings.last.reading_date, @subscriber_readings.first.reading_date) %></span>
  </div>
</div>


<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.reading.meter_id') %></th>
      <th><%= t('activerecord.attributes.reading.billing_period_id') %></th>
      <th><%= t('activerecord.attributes.reading.reading_type_id') %></th>
      <th><%= t('activerecord.attributes.reading.reading_date') %></th>
      <th align="right"><%= t('activerecord.attributes.reading.reading') %></th>
      <th></th>
      <th align="right"><%= t('activerecord.attributes.reading.reading_1') %></th>
      <th align="right"><%= t('activerecord.attributes.reading.consumption') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @subscriber_readings.each do |reading| %>
    <tr>
      <td><%= reading.meter_code unless reading.meter_code.blank? %></td>
      <td><%= reading.period unless reading.period.blank? %></td>
      <td><%= reading.reading_type_name unless reading.reading_type_name.blank? %></td>
      <td><%= formatted_date(reading.reading_date) unless reading.reading_date.blank? %></td>
      <td align="right"><%= reading.reading_index unless reading.reading_index.blank? %></td>
      <td>
        <% unless reading.reading_incidence_types_pluck.blank? %>
          <i title="<%= reading.reading_incidence_types_pluck %>" class="icon-warning-sign"></i>
        <% end %>
      </td>
      <td align="right"><%= reading.reading_index_1 unless reading.reading_index_1.blank? %></td>
      <td align="right"><%= reading.consumption unless reading.consumption.blank? %></td>
      <td>&nbsp;
      <%= link_to reading_path(reading.reading_id), class: "btn btn-mini" do %><i class="icon-eye-open"></i><% end %>
      <%= render :partial => '/layouts/crud/edit', :locals => { :model => Reading, :path => edit_reading_path(reading.reading_id) } if reading.is_billable %>
      <%#= render :partial => '/layouts/crud/delete', :locals => { :model => Reading, :path => reading, :msg => t("activerecord.models.reading.one"), :txt => reading.id } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @subscriber_readings } %>
