<style>
.checkbox_container{
  display: block;
  margin: 10px 0px;
}
.checkbox_container input, .checkbox_container label {
  display: inline !important;
  margin-top: -2px;
  margin-left: 7px;
}
</style>
<script type="text/javascript">
  $(document).ready(function() {

    $("#disable_tariff_button").click(function(){
      var subscriber_id = "<%= @subscriber.id %>"
      var st_id = $("#st_id").text();
      var result = confirm("<%= t('activerecord.attributes.subscriber.alert_disable_tariff')%>");
      if (result) {
        jQuery.getJSON(subscriber_id + '/disable_tariff_button/' + st_id, function(data) {
          var today = new Date();
          var dd = today.getDate();
          var mm = today.getMonth()+1; //January is 0!
          var yyyy = today.getFullYear();
          if(dd<10) {
              dd = '0'+dd
          }
          if(mm<10) {
              mm = '0'+mm
          }
          today = dd + '/' + mm + '/' + yyyy;
          $("#tariff_ending_at").text(today);
          $("#disable_tariff_button").addClass("hide");
        });
        return false;
      }
    });
  });
</script>

<!-- Button to trigger modal -->
<a href="#add_tariff" role="button" class="btn btn-warning btn-mini" data-toggle="modal"><%=t "ag2_gest.subscribers.index.add_tariff" %></a>

<!-- Modal -->
<div id="add_tariff" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%=t "ag2_gest.subscribers.index.add_tariff" %></h3>
  </div>
  <%= form_for @subscriber, url: update_tariffs_subscriber_path(@subscriber), method: :post, :html => { class: 'modal-footer-right' } do |f| %>
    <div class="modal-body">
        <%#= f.collection_check_boxes(:tariff_ids, @tariffs_dropdown, :id, :to_label, :item_wrapper_class => 'checkbox_container') %>
        <%= f.collection_check_boxes(:tariff_ids, @tariffs_dropdown, :id, :tariff_label, :item_wrapper_class => 'checkbox_container') %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
      <input type="submit" class="btn btn-primary" value='<%=t "ag2_gest.subscribers.index.add_tariff" %>'>
    </div>
  <% end %>

</div>
   <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th><%= t('activerecord.attributes.tariff_scheme.billable_concept') %></th>
          <th><%= t('activerecord.attributes.tariff_scheme.tariff_type_id') %></th>
          <th><%= t('activerecord.attributes.tariff.billing_frequency_id') %>:</th>
          <th><%= t('activerecord.attributes.tariff.starting_at') %></th>
          <th><%= t('activerecord.attributes.tariff.ending_at') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @subscriber_tariffs.each do |t| %>
          <tr>
            <td class="billable_concept"><%= t.billable_concept_name unless t.billable_concept_name.blank? %></td>
            <td class="tariff_type"><%= t.tariff_type_name unless t.tariff_type_name.blank? %></td>
            <td class="billing_frequency"><%= t.billing_frequency_label unless t.billing_frequency_label.blank? %></td>
            <td class="starting_at"><%= formatted_date(t.starting_at) unless t.starting_at.blank? %></td>
            <td class="ending_at" id="tariff_ending_at"><%= formatted_date(t.ending_at) unless t.ending_at.blank? %></td>
            <td class="hide" id="st_id"><%= t.id %></td>
            <td>
              <%= render :partial => '/layouts/crud/read', :locals => { :model => Tariff, :path => tariff_path(t.tariff_id) } %>
              <a id='disable_tariff_button' class="btn btn-mini" title ='<%=t('activerecord.attributes.subscriber.non_billable_button') %>'><i class='icon-trash'></i></a>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
