<script type="text/javascript">
  $(document).ready(function() {
    $("#pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
    var active = true;
    $('#collapse-init').click(function () {
      if (active) {
        active = false;
        $('.accordion-body').collapse('show');
          $('.accordion-toggle').children().removeClass().addClass("icon-minus");
          $(this).text('Ocultar todos');
      } else {
        active = true;
        $('.accordion-body').collapse('hide');
        $('.accordion-toggle').children().removeClass().addClass("icon-plus");
        $(this).text('Ver todos');
      }
    });

    $('.accor').click(function () {
      if (this.classList.contains("collapsed")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }
    });

  });
</script>
<div class="row">
  <div class="span12">
    <%= link_to t('ag2_gest.subscribers.show.all'), controller: "subscribers", action: "show", ifilter: "all", :remote => true %> |
    <%= link_to t('ag2_gest.subscribers.show.pendig_only'), controller: "subscribers", action: "show", ifilter: "pending", :remote => true %> |
    <!-- <%#= link_to t('ag2_gest.subscribers.show.unpaid_only'), controller: "subscribers", action: "show", ifilter: "unpaid", :remote => true %> | -->
    <%= link_to t('ag2_gest.subscribers.show.charged_only'), controller: "subscribers", action: "show", ifilter: "charged", :remote => true %>
    <button id="collapse-init" class="btn btn-mini btn-primary pull-right" style="margin-left:5px;"><%= "Ver todos" %></button>
    <a href="#new-bill" role="button" class="btn btn-mini btn-primary pull-right" style="margin-left:5px;" data-toggle="modal">Nueva factura</a>
  </div>
</div>

  <div align="right" class="span11"><h5><b><%= I18n.t("ag2_gest.subscribers.show.total_bills") %>:</b> <%= @subscriber_bills.sum{|b| b.total} %></h5></div>

<div class="row">
  <div class="span1"></div> <!-- Space for icon-plus -->
  <div class="span3">
    <b><%= t('activerecord.attributes.subscriber.receipt') %></b>
  </div>
  <div class="span2" align="center">
    <b><%= t('activerecord.attributes.subscriber.date_starting') %></b>
  </div>
  <div class="span2">
    <b><%= t('activerecord.attributes.subscriber.type') %></b>
  </div>
  <div align="right" class="span1">
    <b><%= t('activerecord.attributes.subscriber.total') %></b>
  </div>
  <div class="span2 soft-padding pull-right">
  </div>
</div>
<% @subscriber_bills.each do |bill| %>
  <%# unless (session[:ifilter] == "pending" and bill.unpaid?) or (session[:ifilter] == "unpaid" and bill.payable?) %>
    <!-- Make two Render (Example Controller) -->
    <% if !bill.water_supply_contract.nil? %>
      <!-- RENDER1 RECIBO DE CONTRATACIÓN-->
      <%= render 'bill_contracting_request', :bill => bill %>

    <% else %>
      <!-- RENDER2 FACTURA DE SUMINISTRO-->
      <%= render 'bill_reading', :bill => bill %>
    <% end %>
  <%# end %>

<% end %>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @subscriber_bills } %>
