<script type="text/javascript">
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });

</script>
<%= render :partial => '/layouts/lettershead_remote', :locals => { :controller => "subscribers", :action => "index" } %>
<table class="table table-condensed table-striped shrinked">

  <thead>
    <tr>
      <th><%= t('activerecord.attributes.subscriber.subscriber_code') %></th>
      <th><%= t('activerecord.attributes.subscriber.full_name') %></th>
      <th><%= t('activerecord.attributes.subscriber.fiscal_id_') %></th>
      <th><%= t('activerecord.attributes.subscriber.address_1') %></th>
      <th><%= t('activerecord.attributes.subscriber.meter') %></th>
      <th align="center"><%= t('activerecord.attributes.subscriber.active')%></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribers.each do |subscriber| %>
      <tr>
        <td><%= link_to subscriber.try(:full_code), subscriber_path(subscriber) %></td>
        <td><%= subscriber.try(:full_name) %></td>
        <td><%= subscriber.try(:fiscal_id) %></td>
        <td><%= subscriber.try(:address_1) %></td>
        <td><%= subscriber.try(:meter_code) %></td>
        <% if subscriber.try(:active) %>
          <td align="center"><i class="icon-thumbs-up"></i></td>
        <% else %>
          <td align="center"><i class="icon-thumbs-down"></i></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @subscribers } %>
