<% session[:return_to_subscriber] = nil %>
<% session[:return_to_subscriber_url] = nil %>
<% session[:return_to_reading] = nil %>
<% session[:return_to_reading_url] = nil %>
<% session[:return_to] = nil %>
<% session[:return_to] = nil %>

<%= render '/layouts/ag2_gest/subscribersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
    <div class="well sidebar-nav">

      <!-- Refresh -->
      <%= link_to ag2_gest.subscribers_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>

      <%= form_tag "subscribers", :method => 'get', :remote => true do %>
        <!-- Code -->
        <%= label_tag I18n.t("ag2_gest.subscribers.index.subscriber_code"), nil, :class => 'form-label' %>
        <%= text_field_tag "SubscriberCode", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Street name -->
        <%= label_tag I18n.t("ag2_gest.subscribers.index.street_name"), nil, :class => 'form-label' %>
        <%= text_field_tag "StreetName", nil, :class => 'x-large-text-field shrinked' %>
        <!-- Meter -->
        <%= label_tag I18n.t("ag2_gest.subscribers.index.meter"), nil, :class => 'form-label' %>
        <%= text_field_tag "Meter", nil, :class => 'x-large-text-field shrinked', onkeyup: "caps(this)" %>
        <!-- BillingFrequency -->
        <%= label_tag I18n.t("ag2_gest.subscribers.index.billing_frequency"), nil, :class => 'form-label' %>
        <%= select_tag "BillingFrequency", options_from_collection_for_select(BillingFrequency.order(:name), "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- TariffType -->
        <%= label_tag I18n.t("ag2_gest.subscribers.index.tariff_type"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "TariffType", options_from_collection_for_select(TariffType.order(:name), "id", "to_label"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_gest.subscribers.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>

        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
      <% end %>

      <!-- Report -->
      <%= label_tag I18n.t("ag2_gest.subscribers.report.report"), nil, :class => 'form-label-under-sel2' %>
      <%= select_tag "Report", options_for_select(@reports), :prompt => "", :class => 'x-large-text-field shrinked sel3' %>
        <br /><br />
        <!-- Control&Tracking -->
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t 'ag2_gest.home.index.control' %></a>
        <br /><br />
      <!-- Back -->
      <%= link_to t("ag2_gest.subscribers.index.back_to_root"), ag2_gest.root_path %>
    </div>

    </div>

    <div class="span9" id="div_table">
      <%= render 'subscribers' %>
    </div><!-- /.span9 -->

  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->


<script type="text/javascript">

  var _thisForm = ''; //Inicia variable String empty y false
  var changing = false;

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    $('.sel3').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      allowClear: true
    });

    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];

  });

  $(document).ajaxStart(function() {
    // show loader on start
    if (changing == false) {
      $("#div_table").html("");
      $("#loader").show();
    }
  }).ajaxSuccess(function(){
    // hide loader on success Ya ha cargado los objects
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    $("#SubscriberCode").val("<%= params[:SubscriberCode] %>");
    $("#StreetName").val("<%= params[:StreetName] %>");
    $("#Meter").val("<%= params[:Meter] %>");
    $("#BillingFrequency").val("<%= params[:BillingFrequency] %>");
    $("#TariffType").val("<%= params[:TariffType] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#SubscriberCode").val("");
      $("#StreetName").val("");
      $("#Meter").val("");
      $("#BillingFrequency").select2("val", "");
      $("#TariffType").select2("val", "");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

   // when #report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var report = $('#Report :selected').index();
      if (report == "")
        return;
      switch (report) {
        case 1:
          // Subscriber
          window.open("subscriber_report.pdf", "_blank");
          return false;
          break;

          case 2:
          // Subscriber
          window.open("subscriber_tec_report.pdf", "_blank");
          return false;
          break;

          case 3:
          // Subscriber
          window.open("subscriber_eco_report.pdf", "_blank");
          return false;
          break;
      }
      return false;
    });
  });
</script>
