<%# session[:return_to] = nil %>
<%# session[:return_to_url] = nil %>
<% content_for :title, "aGestiona2 | ag2Subscribers" %>
<% content_for :icon, "/assets/pict/ag2/ag2Subscriber.png" %>
<% content_for :alt, "ag2Subscribers" %>
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>  
  <li>
    Abonados
  </li>
</ul>
<h3>Abonados</h3>
<div class="fixed-table-toolbar">
  <div class="columns columns-right btn-group pull-right">
    <button class="btn btn-primary btn-small" type="button" name="refresh" title="Refresh"><i class="glyphicon glyphicon-refresh icon-refresh icon-white"></i></button>
    <button type="button" class="btn btn-primary btn-small dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-th icon-th icon-white"></i> <span class="caret"></span></button>
    <ul class="dropdown-menu" role="menu" style="padding-left: 7px;">
      <li><label><input type="checkbox" data-field="id" value="1" checked="checked">Código</label></li>
      <li><label><input type="checkbox" data-field="id" value="1" checked="checked">Nombre</label></li>
      <li><label><input type="checkbox" data-field="name" value="2" checked="checked">DNI</label></li>
      <li><label><input type="checkbox" data-field="price" value="3" checked="checked">Dirección</label></li>
      <li><label><input type="checkbox" data-field="operate" value="4" checked="checked">Población</label></li>
      <li><label><input type="checkbox" data-field="operate" value="4" checked="checked">Código Postal</label></li>
    </ul>
  </div>
  <div class="pull-right search"><input class="form-control input-large" type="text" placeholder="Buscar" style="height: 16px;"></div>
</div>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <form accept-charset="UTF-8" action="sale_offers" data-remote="true" method="get">
          <!-- Project -->
          <label class="form-label" for="Proyecto">Oficina</label>
          <select class="x-large-text-field shrinked sel2" id="oficina" name="oficina">
            <option></option>
            <option value="B">4321</option>
            <option value="P">4353</option>
            <option value="F">4536</option>
            <option value="V">4789</option>
          </select>
          <!-- Type -->
          <label class="form-label" for="Proyecto">Municipio</label>
          <select class="x-large-text-field shrinked sel2" id="municipio" name="municipio">
            <option></option>
            <option value="F">FREGENAL DE LA SIERRA (23456)</option>
            <option value="P">PUEBLA DE LA CALZADA (34567)</option>
            <option value="V">VALLE DE SANTA ANA (21345)</option>
          </select>
          <!-- Status -->
          <label class="form-label" for="Proyecto">Provincia</label>
          <select class="x-large-text-field shrinked sel2" id="provincia" name="provincia">
            <option></option>
            <option value="B">BADAJOZ</option>
            <option value="F">CACERES</option>
            <option value="P">JAEN</option>
          </select>
          <!-- Others -->
          <label class="form-label" for="Otros">Fecha de alta</label>
          <input class="x-large-text-field shrinked" id="search" name="search" type="date" />

          <label class="form-label" for="Otros">Fecha de baja</label>
          <input class="x-large-text-field shrinked" id="search" name="search" type="date" />
          <!-- Submit -->
          <input class="btn btn-primary" id="submit_btn" name="commit" type="submit" value="Aplicar Filtro" />
          <!-- Remove filter -->
          <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Quitar Filtro</button>
        </form>   
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9" id="div_table">
      <table class="table table-condensed table-striped shrinked">
        <thead>
            <tr>
              <th>Código</th>
              <th>Nombre</th>
              <th>DNI</th>
              <th>Oficina</th>
              <th>Municipio</th>
              <th>¿Activo?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><a href="subscribers/show_test">4231-111111</a></td>
              <td>Pedro Martín García</td>
              <td>47259863E</td>
              <td><a href="#">4321</a></td>
              <td>Fregenal de la Sierra</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">2063-131412</a></td>
              <td>Jaime Martín Oreja</td>
              <td>32415423N</td>
              <td><a href="#">2063</a></td>
              <td>Pan Bendito</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">4231-111111</a></td>
              <td>Pedro Martín García</td>
              <td>47259863E</td>
              <td><a href="#">4321</a></td>
              <td>Fregenal de la Sierra</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">2063-131412</a></td>
              <td>Jaime Martín Oreja</td>
              <td>32415423N</td>
              <td><a href="#">2063</a></td>
              <td>Pan Bendito</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">4231-111111</a></td>
              <td>Pedro Martín García</td>
              <td>47259863E</td>
              <td><a href="#">4321</a></td>
              <td>Fregenal de la Sierra</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">2063-131412</a></td>
              <td>Jaime Martín Oreja</td>
              <td>32415423N</td>
              <td><a href="#">2063</a></td>
              <td>Pan Bendito</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">4231-111111</a></td>
              <td>Pedro Martín García</td>
              <td>47259863E</td>
              <td><a href="#">4321</a></td>
              <td>Fregenal de la Sierra</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">2063-131412</a></td>
              <td>Jaime Martín Oreja</td>
              <td>32415423N</td>
              <td><a href="#">2063</a></td>
              <td>Pan Bendito</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">4231-111111</a></td>
              <td>Pedro Martín García</td>
              <td>47259863E</td>
              <td><a href="#">4321</a></td>
              <td>Fregenal de la Sierra</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            <tr>
              <td><a href="subscribers/show_test">2063-131412</a></td>
              <td>Jaime Martín Oreja</td>
              <td>32415423N</td>
              <td><a href="#">2063</a></td>
              <td>Pan Bendito</td>
              <td><i class="icon-thumbs-up"></i></td>
            </tr>
            
          </tbody>
        </table>
        <div class="row-fluid fixed-table-pagination pagination-small">
          <div class="pull-left pagination-detail">
            <small class="pagination-info">Mostrando 1 a 10 de 800 abonados</small>
          </div>
          <div class="pull-right pagination-detail">
            <small class="page-list">
              <span class="btn-group btn-small dropup">
                <button type="button" class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown"><small class="page-size">10</small> <span class="caret icon-white"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li class="active"><a href="javascript:void(0)">10</a></li>
                  <li><a href="javascript:void(0)">25</a></li>
                  <li><a href="javascript:void(0)">50</a></li>
                  <li><a href="javascript:void(0)">100</a></li>
                  <li><a href="javascript:void(0)">200</a></li>
                </ul>
              </span> registros por página
            </small>
          </div>
          <div class="pagination pagination-centered" style="margin-top: -20px;">
            <ul class="pagination">
              <li class="page-first disabled"><a href="javascript:void(0)">&lt;&lt;</a></li>
              <li class="page-pre disabled"><a href="javascript:void(0)">&lt;</a></li>
              <li class="page-number active disabled"><a href="javascript:void(0)">1</a></li>
              <li class="page-number"><a href="javascript:void(0)">2</a></li>
              <li class="page-number"><a href="javascript:void(0)">3</a></li>
              <li class="page-number"><a href="javascript:void(0)">4</a></li>
              <li class="page-number"><a href="javascript:void(0)">5</a></li>
              <li class="page-next"><a href="javascript:void(0)">&gt;</a></li>
              <li class="page-last"><a href="javascript:void(0)">&gt;&gt;</a></li>
            </ul>
          </div>
        </div>
        <%= link_to t("ag2_gest.clients.index.back_to_root"), ag2_gest.root_path %>
        
        <%#= link_to "Solicitud pdf", subscriber_pdf_subscriber_path(@subscriber, :format => :pdf), class: "btn btn-primary" %>
    


    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

<script type="text/javascript">
  $(document).ready(function () {
    
    $(".sel2").select2();

  });
</script>


<!-- 



<h1>Listing subscribers</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subscribers.each do |subscriber| %>
  <tr>
    <td><%= link_to 'Show', subscriber %></td>
    <td><%= link_to 'Edit', edit_subscriber_path(subscriber) %></td>
    <td><%= link_to 'Destroy', subscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subscriber', new_subscriber_path %> -->