<% session[:return_to_subscriber] = "Volver a abonado" %>
<% session[:return_to_subscriber_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

<style>
  a.pull-right {
    margin-bottom: 20px;
  }
  .soft-padding{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  button:hover + title {
    display: block!important;
  }

  .newInvoiceModal {
    width:600px;
    height:300px;
  }
  .newInvoiceModal .modal-header {
    background-color:#ccc;
  }
  .newInvoiceModal .modal-header button {
    font-size:30px;
  }
  .newInvoiceModal .modal-body {
    overflow-y: hidden;
    height: 100%;
    max-height:190px;
  }
    .modal-invoice { width: 80%; margin-left: -40%;/*height: 96%;margin-top: -5%;*/}
    /*.modal-invoice .modal-body{ max-height: 575px;}*/
    .mid-text-field {width: 53%;}
    .large-text-field {width: 90%;}
    .table-center td, .table-center th {text-align: center;}
    .zeroPadding {
      padding: 0 !important;
    }
    .icon-chevron-right, .icon-chevron-down{
      cursor: pointer;
    }

  .accordion-inner {
    background-color: #F7F7F7;
  }
  #bill-supply-modal {
    width: 1020px !important;
    left: 32% !important;
  }
</style>

<%= render '/layouts/ag2_gest/subscribersbreadcrumb' %>

<%= link_to t('activerecord.attributes.subscriber.print'), subscriber_pdf_subscriber_path(:format => :pdf), class: "btn btn-warning btn-mini pull-right", target: "_blank" %>

<% if !session[:return_to_reading].nil? %>
  <%= link_to session[:return_to_reading], session[:return_to_reading_url] %><br />
<% end %>
<h3><%= t('.title') %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.id') %>:</b></td>
      <td><%= @subscriber.try(:id) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.full_name') %>:</b></td>
      <td><%= @subscriber.try(:full_name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.fiscal_id_c') %>:</b></td>
      <td><%= @subscriber.try(:fiscal_id) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.subscriber_code') %>:</b></td>
      <td><%= @subscriber.try(:full_code) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.client_id') %>:</b></td>
      <td colspan="3"><%= link_to @subscriber.try(:client).try(:full_code), ag2_gest.client_path(@subscriber.client_id) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.starting_at') %>:</b></td>
      <td><%= I18n.localize(@subscriber.try(:starting_at)) unless @subscriber.try(:starting_at).blank? %></td>
      <td><b><%= t('activerecord.attributes.subscriber.ending_at') %>:</b></td>
      <td><%= I18n.localize(@subscriber.try(:ending_at)) unless @subscriber.try(:ending_at).blank? %></td>
      <td><b><%= t('activerecord.attributes.subscriber.active') %>:</b></td>
      <td> <% if @subscriber.active %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
  </tbody>
</table>

<h4><%= t('activerecord.attributes.subscriber.address_data') %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.direction') %>:</b></td>
      <td colspan="3"><%= @subscriber.address_1 %></td>
      <td><b><%= t('activerecord.attributes.subscriber.zipcode_id') %>:</b></td>
      <td><%= @subscriber.try(:zipcode).try(:zipcode) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.office_id') %>:</b></td>
      <td><%= @subscriber.try(:office).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.town_id') %>:</b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.province_id') %></b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:province).try(:name) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.region_id') %>:</b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:province).try(:region).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.country_id') %>:</b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:province).try(:region).try(:country).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.center_id') %>:</b></td>
      <td><%= link_to @subscriber.try(:center).try(:name), ag2_gest.center_path(@subscriber.center_id) %></td>
    </tr>
  </tbody>
</table>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#details" data-toggle="tab"><%= t('activerecord.attributes.subscriber.detail') %></a></li>
  <li><a href="#readings" data-toggle="tab"><%= t('activerecord.attributes.subscriber.readings') %></a></li>
  <li><a href="#bills" data-toggle="tab"><%= t('activerecord.attributes.subscriber.invoices') %></a></li>
  <li><a href="#direction" data-toggle="tab"><%= t('activerecord.attributes.subscriber.data_supply') %></a></li>
  <li><a href="#debits" data-toggle="tab"><%= t('activerecord.attributes.subscriber.debits') %></a></li>
  <li><a href="#notes" data-toggle="tab"><%= t('activerecord.attributes.subscriber.notes') %></a></li>
</ul>

<div class="tab-content" id="myTabContent">

  <!-- DETAILS -->
  <div class="tab-pane fade active in" id="details">
    <table class="table">
      <tbody>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.contract') %>:</b></td>
          <td colspan="5"><%= link_to @subscriber.water_supply_contract.contracting_request.try(:full_no), ag2_gest.water_supply_contract_path(@subscriber.water_supply_contract) %></td>
        <!--   <td><b><%#= t('activerecord.attributes.subscriber.tariff') %>:</b></td>
          <td><%#= (link_to @subscriber.try(:tariff_scheme).try(:name), ag2_gest.tariff_scheme_path(@subscriber.tariff_scheme)) if @subscriber.tariff_scheme %></td>
         --></tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.meter_id') %>:</b></td>
          <td id="info_meter"><%= link_to @subscriber.try(:meter).try(:meter_code), ag2_gest.meter_path(@subscriber.meter_id) unless @subscriber.try(:meter).blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.model') %>:</b></td>
          <td id="info_brand"><%= link_to @subscriber.meter.meter_model.model, ag2_gest.meter_model_path(@subscriber.meter.meter_model) unless @subscriber.meter.nil? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.caliber') %>:</b></td>
          <td id="info_caliber"><%= link_to @subscriber.try(:meter).try(:caliber).try(:caliber), ag2_gest.caliber_path(@subscriber.meter.caliber_id) if @subscriber.try(:meter) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.tariff_scheme_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:tariff_scheme).try(:name), tariff_scheme_path(@subscriber.tariff_scheme) if @subscriber.tariff_scheme %></td>
          <td><b><%= t('activerecord.attributes.subscriber.tariff_type_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:tariff_scheme).try(:tariff_type).try(:name), ag2_gest.tariff_type_path(@subscriber.tariff_scheme.tariff_type_id) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.billing_frequency_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:billing_frequency).try(:name), billing_frequency_path(@subscriber.billing_frequency_id) if @subscriber.billing_frequency %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.reading_route_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:reading_route).try(:to_label), reading_route_path(@subscriber.reading_route) if @subscriber.reading_route %></td>
          <td><b><%= t('activerecord.attributes.subscriber.reading_sequence') %>:</b></td>
          <td><%= @subscriber.try(:reading_sequence) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.reading_variant') %>:</b></td>
          <td><%= @subscriber.try(:reading_variant) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.service_point_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:service_point).try(:to_full_label), service_point_path(@subscriber.service_point) if @subscriber.service_point %></td>
          <td><b><%= t('activerecord.attributes.subscriber.cadastral_reference') %>:</b></td>
          <td><%= @subscriber.try(:cadastral_reference) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.gis_id_wc') %>:</b></td>
          <td><%= @subscriber.try(:gis_id_wc) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.endowments') %>:</b></td>
          <td><%= @subscriber.try(:endowments) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.inhabitants') %>:</b></td>
          <td><%= @subscriber.try(:inhabitants) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.gis_id') %>:</b></td>
          <td><%= @subscriber.try(:gis_id) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.comments') %>:</b></td>
          <td colspan="6"><%= @subscriber.try(:remarks) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- READINGS -->
  <div class="tab-pane fade active" id="readings">
    <%= render 'show_tab_readings' %>
  </div>

  <!-- INVOICES / Link to CHARGEINVOICE-->
  <div class="tab-pane fade active" id="bills">
    <%= render 'show_tab_bills' %>
  </div>

  <!-- CLIENT -->
  <div class="tab-pane fade active" id="direction">
    <table class="table">
      <tbody>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.name') %></b></td>
          <td><%= @subscriber.try(:client).try(:to_name) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.direction') %></b></td>
          <td><%= @subscriber.try(:client).try(:street_name) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.number') %></b></td>
          <td><%= @subscriber.try(:client).try(:street_number) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.block') %></b></td>
          <td><%= @subscriber.try(:client).try(:building) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.floor') %></b></td>
          <td><%= @subscriber.try(:client).try(:floor) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.door') %></b></td>
          <td><%= @subscriber.try(:client).try(:floor_office) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.town_id') %></b></td>
          <td><%= @subscriber.try(:client).try(:town).try(:name) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.zipcode_id') %></b></td>
          <td><%= @subscriber.try(:client).try(:zipcode).try(:zipcode) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.province_id') %></b></td>
          <td><%= @subscriber.try(:client).try(:province).try(:name) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.region_id') %></b></td>
          <td><%= @subscriber.try(:client).try(:region).try(:name) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.country_id') %></b></td>
          <td><%= @subscriber.try(:client).try(:country).try(:name) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.phone') %></b></td>
          <td><%= @subscriber.try(:client).try(:phone) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.cellular') %></b></td>
          <td><%= @subscriber.try(:client).try(:cellular) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.fax') %></b></td>
          <td><%= @subscriber.try(:client).try(:fax) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.email') %></b></td>
          <td colspan="5"><%= @subscriber.try(:client).try(:email) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ClientBankAccount -->
  <div class="tab-pane fade active" id="debits">
    <div class="row-fluid">
      <div class="span12">
        <a href="#newAccountModal" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.new_account') %></a>
      </div>
      <table class="table table-condensed table-striped shrinked stu">
        <thead>
          <tr>
            <th><%= t('activerecord.attributes.subscriber.titular') %></th>
            <th><%= t('activerecord.attributes.subscriber.titular_id') %></th>
            <th><%= t('activerecord.attributes.subscriber.class') %></th>
            <th><%= t('activerecord.attributes.subscriber.bank') %></th>
            <th><%= t('activerecord.attributes.subscriber.sucursal') %></th>
            <th><%= t('activerecord.attributes.subscriber.control') %></th>
            <th><%= t('activerecord.attributes.subscriber.account_iban') %></th>
            <th><%= t('activerecord.attributes.subscriber.ending_at') %></th>
            <th><%= t('activerecord.attributes.subscriber.active') %></th>
          </tr>
        </thead>
        <tbody>
          <% @subscriber_accounts.each do |client_bank_account| %>
            <tr>
              <td><%= client_bank_account.name %></td>
              <td><%= client_bank_account.try(:client).try(:fiscal_id) %></td>
              <td><%= client_bank_account.try(:fiscal_id) %></td>
              <td><%= client_bank_account.try(:bank_account_class) %></td>
              <td><%= client_bank_account.try(:bank) %></td>
              <td><%= client_bank_account.try(:bank_office) %></td>
              <td><%= client_bank_account.try(:country_code) %></td>
              <td><%= client_bank_account.try(:country_code) %></td>
              <td><%#= I18n.localize(@client_bank_account.try(:ending_at)) %></td>
              <td><!-- fecha de caducidad active de la tarjeta o boolean model¿??¿?¿ --></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @subscriber_accounts } %>
    </div>
  </div>

  <!-- Notes(Está en blanco) -->
  <div class="tab-pane fade active" id="notes">
  </div>

</div>

<!-- MODALS -->
<%= render '/ag2_gest/subscribers/modals/new_reading' %>
<%= render '/ag2_gest/subscribers/modals/new_client_bank_account' %>
<%= render '/ag2_gest/subscribers/modals/charge_invoice' %>
<%= render '/ag2_gest/subscribers/modals/quit_meter' %>
<%= render '/ag2_gest/subscribers/modals/add_meter' %>
<%= render '/ag2_gest/subscribers/modals/change_meter' %>
<%= render '/ag2_gest/contracting_requests/modals/new_bill' %>
<!-- Modal -->
<div id="new-bill" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nueva factura</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for :bills, url: simple_bill_subscriber_path(@subscriber), remote: true do |f| %>
      <%= f.input :billing_period_id, label: 'Periodo', collection: @billing_periods, input_html: {class: "large-text-field"}, :label_html => { :class => 'form-label' } %>
      <%= f.submit "Crear factura", class: "btn btn-primary" %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <% end %>
  </div>

</div>

<!-- modal bill -->
<div id="bill-supply-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_invoice" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= "Factura de suministro" %></h3>
  </div>
  <div class="modal-body" style="overflow-x: hidden;">

    <%= simple_form_for :simple_bill, url: update_simple_subscriber_path(@subscriber), method: "post" do |f| %>
    <% end %>
    <!-- <form id="bill-supply-form" action="<%= update_simple_subscriber_path(@subscriber) %>" method="post" accept-charset="UTF-8" action="" class="form-inline" novalidate="novalidate">
    </form> -->

  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" id="submit-simple-bill">Actualizar Factura</a>
    <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cerrar</a>
  </div>
</div>

<script type="text/javascript">
  $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if(results == null){
      return null
    }else{
      return results[1] || 0;
    }
  }

  $(document).ready(function () {

    $(".icon-chevron-right").click(function(){
      if ($(this).hasClass('icon-chevron-right')) {
        $(this).removeClass("icon-chevron-right").addClass("icon-chevron-down");
      }else{
        $(this).removeClass("icon-chevron-down").addClass("icon-chevron-right");
      }
    });

    $('#myTab a').click(function (e) {
      e.preventDefault();
      e.stopPropagation();
      // $(this).tab('show');

      $('#myTab li').removeClass('active');
      $(this).parent().addClass('active');
      $('.tab-pane.active').removeClass('active').removeClass('in');
      $('#'+this.href.split('#')[1]).addClass('active').addClass('in');
    });


    $("#payment-method-select").on("change", function(){
      if (this.value == "Caja") {
        $("#cash-machine").removeClass("hide");
      }
      else {
        $("#cash-machine").addClass("hide");
      }
    });

    $('.popover-test').popover({
      html : true,
    }).popover('toggle');

    var active = true;

    /*Show or Hiden All Bills*/
    $('#collapse-init').click(function () {

      if (active) {
        active = false;
        $('.accordion-body').collapse('show');
          $('.accordion-toggle').children().removeClass().addClass("icon-minus");
          $(this).text('Ocultar todos');
      } else {
        active = true;
        $('.accordion-body').collapse('hide');
        $('.accordion-toggle').children().removeClass().addClass("icon-plus");
        $(this).text('Ver todos');
      }
    });

    $('.accor').click(function () {
      /*Execute function before than bootstrap*/
      /*var accordion = $(this).closest(".accordion-group");
      accordion.children(".accordion-body").hasClass("in");

      if (accordion.children(".accordion-body").hasClass("in")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }*/
      if (this.classList.contains("collapsed")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }
    });

    if($.urlParam('bill') != null){

    };

  });
  $("#submit-simple-bill").click(function () {
    $("form.simple_bill").submit();
  });


</script>
