<% session[:return_to_subscriber] = I18n.t('ag2_gest.subscribers.show.return_to') %>
<% session[:return_to_subscriber_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

<style>
  a.pull-right {
    margin-bottom: 20px;
  }
  .soft-padding{
    padding-top: 8px;
    padding-bottom: 8px;
  }

  button:hover + title {
    display: block!important;
  }

  .newInvoiceModal {
    width:600px;
    height:300px;
  }
  .newInvoiceModal .modal-header {
    background-color:#ccc;
  }
  .newInvoiceModal .modal-header button {
    font-size:30px;
  }
  .newInvoiceModal .modal-body {
    overflow-y: hidden;
    height: 100%;
    max-height:190px;
  }
    .modal-invoice { width: 80%; margin-left: -40%;/*height: 96%;margin-top: -5%;*/}
    /*.modal-invoice .modal-body{ max-height: 575px;}*/
    .mid-text-field {width: 53%;}
    .large-text-field {width: 90%;}
    .table-center td, .table-center th {text-align: center;}
    .zeroPadding {
      padding: 0 !important;
    }
    .icon-chevron-right, .icon-chevron-down{
      cursor: pointer;
    }

  .accordion-inner {
    background-color: #F7F7F7;
  }
  #bill-supply-modal {
    width: 1020px !important;
    left: 32% !important;
  }
</style>

<%= render '/layouts/ag2_gest/subscribersbreadcrumb' %>

<h3><%= t('.title') %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.id') %>:</b></td>
      <td><%= @subscriber.try(:id) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.full_name') %>:</b></td>
      <td><%= @subscriber.try(:full_name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.fiscal_id_c') %>:</b></td>
      <td><%= @subscriber.try(:fiscal_id) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.subscriber_code') %>:</b></td>
      <td class="highlighted bolded"><%= @subscriber.try(:full_code) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.client_id') %>:</b></td>
      <td colspan="3"><%= link_to @subscriber.try(:client).try(:full_code), ag2_gest.client_path(@subscriber.client_id) unless @subscriber.try(:client).blank? %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.starting_at') %>:</b></td>
      <td><%= I18n.localize(@subscriber.try(:starting_at)) unless @subscriber.try(:starting_at).blank? %></td>
      <td><b><%= t('activerecord.attributes.subscriber.ending_at') %>:</b></td>
      <td><%= I18n.localize(@subscriber.try(:ending_at)) unless @subscriber.try(:ending_at).blank? %></td>
      <td><b><%= t('activerecord.attributes.subscriber.active') %>:</b></td>
      <td> <% if @subscriber.active %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.non_billable') %>:</b></td>
      <% if @subscriber.non_billable %>
        <td> <i class="icon-thumbs-down"></i> &nbsp; <a id='billable_button' data-confirm='<%= t('activerecord.attributes.subscriber.alert_billable')%>' class="btn btn-primary btn-mini nextBtn" href="<%= params[:id] %>/billable_button" data-remote="true"><%= t('activerecord.attributes.subscriber.billable_button') %></a></td>
      <% else %>
        <td> <i class="icon-thumbs-up"></i> &nbsp; <a id='billable_button' data-confirm='<%= t('activerecord.attributes.subscriber.alert_non_billable')%>' class="btn btn-primary btn-mini nextBtn" href="<%= params[:id] %>/non_billable_button" data-remote="true"><%= t('activerecord.attributes.subscriber.non_billable_button') %></a></td>
      <% end %>
      <td><b><%= t('activerecord.attributes.subscriber.debt') %>:</b></td>
      <td class="highlighted bolded"><%= number_with_precision(@current_debt, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless @current_debt.blank? %></td>
      <td><b><%= t('activerecord.attributes.subscriber.deposit') %>:</b></td>
      <td  colspan="2" class="highlighted bolded"><%= number_with_precision(@subscriber.try(:deposit), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
    </tr>
  </tbody>
</table>

<h4><%= t('activerecord.attributes.subscriber.address_data') %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.service_point_id') %>:</b></td>
      <td><%= link_to @subscriber.try(:service_point).try(:to_full_label), service_point_path(@subscriber.service_point) unless @subscriber.service_point.blank? %></td>
      <td><b><%= t('activerecord.attributes.subscriber.cadastral_reference') %>:</b></td>
      <td><%= @subscriber.try(:cadastral_reference) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.pub_record') %>:</b></td>
      <td><%= @subscriber.try(:pub_record) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.direction') %>:</b></td>
      <td colspan="3"><%= @subscriber.address_1 %></td>
      <td><b><%= t('activerecord.attributes.subscriber.zipcode_id') %>:</b></td>
      <td><%= @subscriber.try(:zipcode).try(:zipcode) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.office_id') %>:</b></td>
      <td><%= @subscriber.try(:office).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.town_id') %>:</b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.province_id') %></b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:province).try(:name) %></td>
    </tr>
    <tr>
      <td><b><%= t('activerecord.attributes.subscriber.region_id') %>:</b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:province).try(:region).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.country_id') %>:</b></td>
      <td><%= @subscriber.try(:center).try(:town).try(:province).try(:region).try(:country).try(:name) %></td>
      <td><b><%= t('activerecord.attributes.subscriber.center_id') %>:</b></td>
      <td><%= link_to @subscriber.try(:center).try(:name), ag2_gest.center_path(@subscriber.center_id) unless @subscriber.try(:center).blank? %></td>
    </tr>
  </tbody>
</table>

<% if !session[:return_to_reading].nil? %>
  <%= link_to session[:return_to_reading], session[:return_to_reading_url] %> |
<% end %>
<% if !session[:return_to_client].nil? %>
  <%= link_to session[:return_to_client], session[:return_to_client_url] %> |
<% end %>
<% if !session[:return_to].nil? %>
  <%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to t("ag2_gest.subscribers.back_to_main_page"), subscribers_path %>
<br/>
<br/>

<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#details" data-toggle="tab"><%= t('activerecord.attributes.subscriber.detail') %></a></li>
  <li><a href="#tariffs" data-toggle="tab"><%= t('activerecord.attributes.subscriber.tariffs') %></a></li>
  <li><a href="#readings" data-toggle="tab"><%= t('activerecord.attributes.subscriber.readings') %></a></li>
  <li><a href="#bills" data-toggle="tab"><%= t('activerecord.attributes.subscriber.invoices') %></a></li>
  <li><a href="#direction" data-toggle="tab"><%= t('activerecord.attributes.subscriber.data_supply') %></a></li>
  <li><a href="#debits" data-toggle="tab"><%= t('activerecord.attributes.subscriber.debits') %></a></li>
  <li><a href="#notes" data-toggle="tab"><%= t('activerecord.attributes.subscriber.notes') %></a></li>
</ul>

<div class="tab-content" id="myTabContent">

  <!-- DETAILS -->
  <div class="tab-pane fade active in" id="details">
    <table class="table">
      <tbody>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.contract') %>:</b></td>
          <td><%= link_to @subscriber.water_supply_contract.contracting_request.try(:full_no), ag2_gest.water_supply_contract_path(@subscriber.water_supply_contract) unless @subscriber.try(:water_supply_contract).blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.tariff_scheme_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:tariff_scheme).try(:name), tariff_scheme_path(@subscriber.tariff_scheme) unless @subscriber.tariff_scheme.blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.tariff_type_contract') %>:</b></td>
          <td><%= @tariff_type %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.billing_frequency_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:billing_frequency).try(:name), billing_frequency_path(@subscriber.billing_frequency_id) unless @subscriber.try(:billing_frequency).blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.use') %>:</b></td>
          <td colspan="3"><%= @subscriber.try(:use).try(:name)%></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.meter_id') %>:</b></td>
          <td id="info_meter"><% if @subscriber.try(:meter).try(:is_shared?) %><i class="icon-screenshot"></i> &nbsp;<% end %><%= link_to @subscriber.try(:meter).try(:meter_code), ag2_gest.meter_path(@subscriber.meter_id) unless @subscriber.try(:meter).blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.model') %>:</b></td>
          <td id="info_brand"><%= link_to @subscriber.meter.meter_model.full_name, ag2_gest.meter_model_path(@subscriber.meter.meter_model) unless @subscriber.meter.blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.caliber') %>:</b></td>
          <td id="info_caliber"><%= link_to @subscriber.try(:meter).try(:caliber).try(:caliber), ag2_gest.caliber_path(@subscriber.meter.caliber_id) unless @subscriber.try(:meter).try(:caliber).blank? %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.reading_route_id') %>:</b></td>
          <td><%= link_to @subscriber.try(:reading_route).try(:to_label), reading_route_path(@subscriber.reading_route) unless @subscriber.reading_route.blank? %></td>
          <td><b><%= t('activerecord.attributes.subscriber.reading_sequence') %>:</b></td>
          <td><%= @subscriber.try(:reading_sequence) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.reading_variant') %>:</b></td>
          <td><%= @subscriber.try(:reading_variant) %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.gis_id_wc') %>:</b></td>
          <td><%= @subscriber.try(:gis_id_wc) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.gis_id') %>:</b></td>
          <td><%= @subscriber.try(:gis_id) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.endowments') %>:</b></td>
          <td><%= @subscriber.try(:endowments) %></td>
        </tr>
          <td><b><%= t('activerecord.attributes.subscriber.inhabitants') %>:</b></td>
          <td><%= @subscriber.try(:inhabitants) %></td>
          <td><b><%= t('activerecord.attributes.subscriber.equiv_dwelling') %>:</b></td>
          <td><%= number_with_precision(@subscriber.try(:equiv_dwelling), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
          <td><b><%= t('activerecord.attributes.subscriber.m2') %>:</b></td>
          <td><%= number_with_precision(@subscriber.try(:m2), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>

        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.comments') %>:</b></td>
          <td colspan="6"><%= @subscriber.try(:remarks) %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- TARIFFS -->
  <div class="tab-pane fade active" id="tariffs">
    <%= render 'show_tab_tariffs' %>
  </div>

  <!-- READINGS -->
  <div class="tab-pane fade active" id="readings">
    <%= render 'show_tab_readings' %>
  </div>

  <!-- INVOICES / Link to CHARGEINVOICE-->
  <div class="tab-pane fade active" id="bills">
    <%= render 'show_tab_bills' %>
  </div>

  <!-- POSTAL ADDRESS (CLIENT) -->
  <div class="tab-pane fade active" id="direction">
    <a id="sub_load_postal_button" href="#changeDataSupply" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.change_data_supply') %></a>
    <table class="table table-striped shrinked">
    <!-- <table class="table"> -->
      <thead>
        <!-- <br></br> -->
      </thead>
      <tbody>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.name') %></b></td>
          <td><%= @subscriber.right_postal_name %></td>
          <td><b><%= t('activerecord.attributes.subscriber.street_name') %></b></td>
          <td><%= @subscriber.right_postal_street_name %></td>
          <td><b><%= t('activerecord.attributes.subscriber.number') %></b></td>
          <td><%= @subscriber.right_postal_street_number %></td>
          <td><b><%= t('activerecord.attributes.subscriber.block') %></b></td>
          <td><%= @subscriber.right_postal_building %></td>
          <td><b><%= t('activerecord.attributes.subscriber.floor') %></b></td>
          <td><%= @subscriber.right_postal_floor %></td>
          <td><b><%= t('activerecord.attributes.subscriber.door') %></b></td>
          <td><%= @subscriber.right_postal_floor_office %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.town_id') %></b></td>
          <td><%= @subscriber.right_postal_town %></td>
          <td><b><%= t('activerecord.attributes.subscriber.zipcode_id') %></b></td>
          <td><%= @subscriber.right_postal_zipcode %></td>
          <td><b><%= t('activerecord.attributes.subscriber.province_id') %></b></td>
          <td><%= @subscriber.right_postal_province %></td>
          <td><b><%= t('activerecord.attributes.subscriber.region_id') %></b></td>
          <td><%= @subscriber.right_postal_region %></td>
          <td><b><%= t('activerecord.attributes.subscriber.country_id') %></b></td>
          <td colspan="3"><%= @subscriber.right_postal_country %></td>
        </tr>
        <tr>
          <td><b><%= t('activerecord.attributes.subscriber.phone') %></b></td>
          <td><%= @subscriber.right_phone %></td>
          <td><b><%= t('activerecord.attributes.subscriber.cellular') %></b></td>
          <td><%= @subscriber.right_cellular %></td>
          <td><b><%= t('activerecord.attributes.subscriber.fax') %></b></td>
          <td><%= @subscriber.right_fax %></td>
          <td><b><%= t('activerecord.attributes.subscriber.email') %></b></td>
          <td colspan="5"><%= @subscriber.right_email %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ClientBankAccount -->
  <div class="tab-pane fade active" id="debits">
    <div class="row-fluid">
      <div class="span12">
        <a id="sub_load_bank_button" href="#newAccountModal" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.new_account') %></a>

        <%= link_to "<i class='icon-print icon-white'></i> #{t('activerecord.attributes.water_supply_contract.pay_sepa_order_c')}".html_safe, sub_sepa_pdf_subscriber_path(@subscriber, :format => :pdf), id: "sepa_pdf",class: "btn btn-mini btn-warning", target: "_blank" unless @subscriber_accounts.blank?  %>
      </div>
      <table class="table table-condensed table-striped shrinked stu">
        <thead>
          <tr>
            <th><%= t "activerecord.attributes.supplier_bank_account.bank_account_class" %></th>
            <th><%= t "activerecord.attributes.supplier_bank_account.e_format" %></th>
            <th><%= t "activerecord.attributes.supplier_bank_account.holder_name" %></th>
            <th><%= t "activerecord.attributes.supplier_bank_account.holder_fiscal_id_c" %></th>
            <th align="center"><%= t "activerecord.attributes.supplier_bank_account.starting_at" %></th>
            <th align="center"><%= t "activerecord.attributes.supplier_bank_account.ending_at" %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @subscriber_accounts.each do |client_bank_account| %>
            <tr>
              <td><%= client_bank_account.bank_account_class_name unless client_bank_account.bank_account_class_name.blank? %></td>
              <td><%= client_bank_account.iban_with_spaces unless client_bank_account.iban_with_spaces.blank? %></td>
              <td><%= client_bank_account.holder_name unless client_bank_account.holder_name.blank? %></td>
              <td><%= client_bank_account.holder_fiscal_id unless client_bank_account.holder_fiscal_id.blank? %></td>
              <td align="center"><%= formatted_date(client_bank_account.starting_at) unless client_bank_account.starting_at.blank? %></td>
              <td align="center"><%= formatted_date(client_bank_account.ending_at) unless client_bank_account.ending_at.blank? %></td>
              <td>
                <%#= link_to "<i class='icon-print icon-white'></i>".html_safe, sub_sepa_pdf_subscriber_path(@subscriber, :format => :pdf), id: "sepa_pdf",class: "btn btn-mini btn-warning", target: "_blank"  %>
                <a id='disable_bank_account_button' data-confirm='<%= t('activerecord.attributes.subscriber.alert_disable_bank_account')%>' class="btn btn-danger btn-mini <%= 'hide' unless client_bank_account.is_active != 0 %>" href="<%= params[:id] %>/disable_bank_account/<%= client_bank_account.id %>" title ='<%=t('activerecord.attributes.subscriber.non_billable_button') %>' data-remote="true"><i class='icon-trash icon-white'></i></a>
              </td>
            </tr>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @subscriber_accounts } %>
    </div>
  </div>

  <!-- Notes(Está en blanco) -->
  <div class="tab-pane fade active" id="notes">
  </div>

</div>

<!-- MODALS -->
<%= render '/ag2_gest/subscribers/modals/new_reading' %>
<%= render '/ag2_gest/subscribers/modals/change_data_supply' %>
<%= render '/ag2_gest/subscribers/modals/new_client_bank_account' %>
<%= render '/ag2_gest/subscribers/modals/charge_invoice' %>
<%= render '/ag2_gest/subscribers/modals/quit_meter' %>
<%= render '/ag2_gest/subscribers/modals/add_meter' %>
<%= render '/ag2_gest/subscribers/modals/change_meter' %>
<%= render '/ag2_gest/contracting_requests/modals/new_bill' %>
<!-- Modal -->
<div id="new-bill" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Nueva factura</h3>
  </div>
  <div class="modal-body">
    <%= simple_form_for :bills, url: simple_bill_subscriber_path(@subscriber), remote: true do |f| %>
      <%= f.input :billing_period_id, label: I18n.t("ag2_gest.bills.index.billing_period_id"), collection: @billing_periods_reading, input_html: {class: "large-text-field sel2"}, :label_html => { :class => 'form-label' } %>
      <%= f.input :invoice_date, required: false, label: I18n.t("ag2_gest.bills.index.invoice_date"), :label_html => { :class => 'form-label' }, :input_html => {class: "mid-text-field date_picker"} %>
      <%= f.input :payday_limit, required: false, label: I18n.t("ag2_gest.bills.index.payday_limit"), :label_html => { :class => 'form-label' }, :input_html => {class: "mid-text-field date_picker"} %>
      <%= f.submit "Crear factura", disable_with: t("activerecord.attributes.pre_reading.loading"), class: "btn btn-primary" %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <% end %>
  </div>
</div>

<!-- modal bill -->
<div id="bill-supply-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="modal_invoice" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel"><%= "Factura de suministro" %></h3>
  </div>
  <div class="modal-body" style="overflow-x: hidden;">

    <%= simple_form_for :simple_bill, url: update_simple_subscriber_path(@subscriber), method: "post" do |f| %>
    <% end %>

  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("activerecord.attributes.contracting_request.text_footer") %></span>
    <a class="btn btn-primary" id="submit-simple-bill"><%= t("activerecord.attributes.contracting_request.update") %></a>
    <a class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t("activerecord.attributes.contracting_request.close") %></a>
  </div>
</div>

<script type="text/javascript">
  $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if(results == null){
      return null
    }else{
      return results[1] || 0;
    }
  }

  $(document).ready(function () {

    $("#billable_button").click(function(){
      window.location.reload();
    });

    $("#disable_bank_account_button").click(function(){
      window.location.reload();
    });

    $("#sub_load_postal_button").click(function(){
      var subscriber_id = $("#fnt_id").val();
      if (subscriber_id == "") subscriber_id = "0";
      jQuery.getJSON('sub_load_postal/' + subscriber_id, function(data) {
        var z = data.zipcodes;
        var t = data.towns;
        var p = data.provinces;
        var r = data.regions;
        var c = data.countries;
        var s = data.street_types;
        var z_id = data.zipcode_id;
        var t_id = data.town_id;
        var p_id = data.province_id;
        var r_id = data.region_id;
        var c_id = data.country_id;
        var s_id = data.street_type_id;

        // zipcodes
        $("#fnt_zipcode").html("");
        $("#fnt_zipcode").val("val", "");
        $("#fnt_zipcode").append($('<option></option>').val("").html(""));
        if (!z.length) {
          $.each(data, function(id, option) {
            if (id == 'zipcodes' && option != "") {
              $("#fnt_zipcode").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(z, function(id, option) {
              $("#fnt_zipcode").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (z_id != 0) $("#fnt_zipcode").val(z_id);
        // towns
        $("#fnt_town").html("");
        $("#fnt_town").val("val", "");
        $("#fnt_town").append($('<option></option>').val("").html(""));
        if (!t.length) {
          $.each(data, function(id, option) {
            if (id == 'towns' && option != "") {
              $("#fnt_town").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(t, function(id, option) {
              $("#fnt_town").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (t_id != 0) $("#fnt_town").val(t_id);
        // provinces
        $("#fnt_province").html("");
        $("#fnt_province").val("val", "");
        $("#fnt_province").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'provinces' && option != "") {
              $("#fnt_province").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(p, function(id, option) {
              $("#fnt_province").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (p_id != 0) $("#fnt_province").val(p_id);
        // regions
        $("#fnt_region").html("");
        $("#fnt_region").val("val", "");
        $("#fnt_region").append($('<option></option>').val("").html(""));
        if (!r.length) {
          $.each(data, function(id, option) {
            if (id == 'regions' && option != "") {
              $("#fnt_region").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(r, function(id, option) {
              $("#fnt_region").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (r_id != 0) $("#fnt_region").val(r_id);
        // countries
        $("#fnt_country").html("");
        $("#fnt_country").val("val", "");
        $("#fnt_country").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'countries' && option != "") {
              $("#fnt_country").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(c, function(id, option) {
              $("#fnt_country").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (c_id != 0) $("#fnt_country").val(c_id);
        // street types
        $("#fnt_street_type").html("");
        $("#fnt_street_type").val("val", "");
        $("#fnt_street_type").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'street_types' && option != "") {
              $("#fnt_street_type").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#fnt_street_type").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (s_id != 0) $("#fnt_street_type").val(s_id);

        return false;
      });
    });

    $("#sub_load_bank_button").click(function(){
      var subscriber_id = $("#fnt_id").val();
      if (subscriber_id == "") subscriber_id = "0";
      jQuery.getJSON('sub_load_bank/' + subscriber_id, function(data) {
        var b = data.banks;
        var bo = data.bank_offices;
        var bac = data.bank_account_classes;
        var c = data.countries;
        var b_id = data.bank_id;
        var bo_id = data.bank_office_id;
        var bac_id = data.bank_account_class_id;
        var c_id = data.country_id;

        // banks
        $("#fnt_bank").html("");
        $("#fnt_bank").val("val", "");
        $("#fnt_bank").append($('<option></option>').val("").html(""));
        if (!b.length) {
          $.each(data, function(id, option) {
            if (id == 'banks' && option != "") {
              $("#fnt_bank").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(b, function(id, option) {
              $("#fnt_bank").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (b_id != 0) $("#fnt_bank").val(b_id);
        // bank offices
        $("#fnt_bank_office").html("");
        $("#fnt_bank_office").val("val", "");
        $("#fnt_bank_office").append($('<option></option>').val("").html(""));
        if (!bo.length) {
          $.each(data, function(id, option) {
            if (id == 'bank_offices' && option != "") {
              $("#fnt_bank_office").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(bo, function(id, option) {
              $("#fnt_bank_office").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (bo_id != 0) $("#fnt_bank_office").val(bo_id);
        // bank account classes
        $("#fnt_bank_account_class").html("");
        $("#fnt_bank_account_class").val("val", "");
        $("#fnt_bank_account_class").append($('<option></option>').val("").html(""));
        if (!bac.length) {
          $.each(data, function(id, option) {
            if (id == 'bank_account_classes' && option != "") {
              $("#fnt_bank_account_class").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(bac, function(id, option) {
              $("#fnt_bank_account_class").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (bac_id != 0) $("#fnt_bank_account_class").val(bac_id);
        // countries
        $("#fnt_bank_country").html("");
        $("#fnt_bank_country").val("val", "");
        $("#fnt_bank_country").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'countries' && option != "") {
              $("#fnt_bank_country").append($('<option></option>').val(option[0]).html(option[1]));
            }
          });
        } else {
          $.each(c, function(id, option) {
              $("#fnt_bank_country").append($('<option></option>').val(option[0]).html(option[1]));
          });
        }
        if (c_id != 0) $("#fnt_bank_country").val(c_id);

        return false;
      });
    });

    $(".icon-chevron-right").click(function(){
      if ($(this).hasClass('icon-chevron-right')) {
        $(this).removeClass("icon-chevron-right").addClass("icon-chevron-down");
      }else{
        $(this).removeClass("icon-chevron-down").addClass("icon-chevron-right");
      }
    });

    $('#myTab a').click(function (e) {
      e.preventDefault();
      e.stopPropagation();
      // $(this).tab('show');

      $('#myTab li').removeClass('active');
      $(this).parent().addClass('active');
      $('.tab-pane.active').removeClass('active').removeClass('in');
      $('#'+this.href.split('#')[1]).addClass('active').addClass('in');
      // MJ
      window.location.hash = $(this).attr('href');
    });

    // if(window.location.hash){
    //    $('#myTab a[href="'+window.location.hash+'"]').tab('show');
    // }
    if (location.hash !== '') $('#myTab a[href="' + location.hash + '"]').tab('show');
      return $('#myTab a[data-toggle="tab"]').on('shown', function(e) {
       return location.hash = $(e.target).attr('href').substr(1);
    });

    $("#payment-method-select").on("change", function(){
      if (this.value == "Caja") {
        $("#cash-machine").removeClass("hide");
      }
      else {
        $("#cash-machine").addClass("hide");
      }
    });

    $('.popover-test').popover({
      html : true,
    }).popover('toggle');

    var active = true;

    /*Show or Hiden All Bills*/
    $('#collapse-init').click(function () {

      if (active) {
        active = false;
        $('.accordion-body').collapse('show');
          $('.accordion-toggle').children().removeClass().addClass("icon-minus");
          $(this).text('Ocultar todos');
      } else {
        active = true;
        $('.accordion-body').collapse('hide');
        $('.accordion-toggle').children().removeClass().addClass("icon-plus");
        $(this).text('Ver todos');
      }
    });

    $('.accor').click(function () {
      /*Execute function before than bootstrap*/
      /*var accordion = $(this).closest(".accordion-group");
      accordion.children(".accordion-body").hasClass("in");

      if (accordion.children(".accordion-body").hasClass("in")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }*/
      if (this.classList.contains("collapsed")){
        this.children[0].className = "icon-minus";
      }else {
        this.children[0].className = "icon-plus";
      }
    });

    if($.urlParam('bill') != null){

    };

  });
  $("#submit-simple-bill").click(function () {
    $("form.simple_bill").submit();
  });
</script>
