<% session[:return_to_client] = I18n.t('ag2_gest.clients.show.return_to') %>
<% session[:return_to_client_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<%= render '/layouts/ag2_gest/clientsbreadcrumb' %>

<h3><%= t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @client.id %></td>
      <td><%= t 'activerecord.attributes.client.client_code' %>:</td>
      <td class="highlighted bolded"><%= @client.full_code %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.client.fiscal_id' %>:</td>
      <td><%= @client.fiscal_id %></td>
      <td><%= t 'activerecord.attributes.client.entity_id' %>:</td>
      <td><%= @client.entity_id %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.client.company' %>:</td>
      <td><%= @client.company %></td>
      <td><%= t 'activerecord.attributes.client.full_name' %>:</td>
      <td><%= @client.full_name %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.client.active' %>:</td>
      <td> <% if @client.active %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
      <td><%= t 'activerecord.attributes.client.is_contact' %>:</td>
      <td> <% if @client.is_contact %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @client } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @client } %>
  </tbody>
</table>

<h4><%= t 'ag2_gest.clients.personal_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t 'activerecord.attributes.client.phone' %>:</td>
      <td><%= @client.phone unless @client.phone.blank? %></td>
      <td><%= t 'activerecord.attributes.client.fax' %>:</td>
      <td><%= @client.fax unless @client.fax.blank? %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.client.cellular' %>:</td>
      <td><%= @client.cellular unless @client.cellular.blank? %></td>
      <td><%= t 'activerecord.attributes.client.email' %>:</td>
      <td><%= @client.email unless @client.email.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.client.address" %>:</td>
      <td> <%= @client.street_type.street_type_code.titleize  %>. <%= @client.street_name %> <%= @client.street_number %>
      <% if !@client.building.blank? %>
      <%= @client.building.titleize %>
      <% end %>
      <% if !@client.floor.blank? %>
      <%= @client.floor_human %>
      <% end %>
      <% if !@client.floor_office.blank? %>
      <%= @client.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.client.town" %>:</td>
      <td><%= @client.town.name %></td>
      <td><%= t :"activerecord.attributes.client.province" %>:</td>
      <td><%= @client.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.client.zipcode" %>:</td>
      <td><%= @client.zipcode.zipcode %></td>
      <td><%= t :"activerecord.attributes.client.country" %>:</td>
      <td><%= @client.country.name %></td>
    </tr>
  </tbody>
</table>

<!-- Commercial info -->
<h4><%= t 'ag2_gest.clients.commercial_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.client.payment_method" %>:</td>
      <td><%= @client.payment_method.description unless @client.payment_method.blank? %></td>
      <td><%= t :"activerecord.attributes.client.ledger_account" %>:</td>
      <td><%= @client.ledger_account.full_name unless @client.ledger_account.blank? %></td>
    </tr>
  </tbody>
</table>

<!-- Debt -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.client.debt" %>:</td>
      <td style="width: 88%"><%= number_with_precision(@client.total_debt_unpaid, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless @client.total_debt_unpaid.blank? %></td>
    </tr>
  </tbody>
</table>

<!-- Remarks -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.client.remarks" %>:</td>
      <td style="width: 88%"><%= @client.remarks unless @client.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Client, update_path: edit_client_path(@client), update_txt: t('.btn_edit'),
delete_path: @client, delete_txt: t('.btn_delete'), msg: t("activerecord.models.client.one"), txt: @client.full_name_or_company_and_code,
new_path: new_client_path, new_txt: t('ag2_gest.clients.index.btn_new') } %>


<ul class="nav nav-tabs" id="myTab">
  <li class="active"><a href="#bills" data-toggle="tab"><%= t '.subtable_bill_title' %></a></li>
  <li><a href="#subscribers" data-toggle="tab"><%= t '.subtable_title' %></a></li>
</ul>

<div class="tab-content" id="myTabContent">
  
<!-- Bills -->
<div class="tab-pane fade active in" id="bills">

  <% if (@bills.count > 0) %>
  <table class="table table-condensed table-striped shrinked">
    <!-- no -->
    <col width="15%" />
    <!-- codes -->
    <col width="5%" />
    <!-- date -->
    <col width="9%" />
    <!-- bill -->
    <col width="20%" />
    <!-- biller -->
    <col width="28%" />
    <!-- total -->
    <col width="10%" />
    <!-- buttons -->
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.commercial_billing.invoice_no' %></th>
        <th><%= t 'activerecord.attributes.commercial_billing.codes' %></th>
        <th align="center"><%= t 'activerecord.attributes.commercial_billing.invoice_date' %></th>
        <th><%= t 'activerecord.attributes.commercial_billing.bill' %></th>
        <th><%= t 'activerecord.attributes.invoice.biller' %></th>
        <th align="right"><%= t 'activerecord.attributes.commercial_billing.total' %></th>
      </tr>
    </thead>
    <tbody>
      <% @bills.each do |bill| %>
      <% bill.invoices.each do |invoice| %>
      <tr class="<%= 'text-error' if invoice.unpaid? %> fields">
        <% if invoice.invoice_type_id == InvoiceType::CONTRACT %>
          <td><%= link_to invoice.full_no, invoice_path(invoice) %></td>
        <% else %>
          <td><%= link_to invoice.full_no, commercial_billing_path(invoice) %></td>
        <% end %>
        <td>
          <span class="blue"><%= invoice.invoice_type.code unless invoice.invoice_type.blank? %></span>
          <span class="yellow"><%= invoice.invoice_status.code unless invoice.invoice_status.blank? %></span>
          <span class="brown"><%= invoice.invoice_operation.code unless invoice.invoice_operation.blank? %></span>
        </td>
        <td align="center"><%= formatted_date(invoice.invoice_date) unless invoice.invoice_date.blank? %></td>
        <td><%= invoice.bill.to_label unless invoice.bill.blank? %></td>
        <td><%= invoice.biller.name unless invoice.biller.blank? %></td>
        <td align="right"><%= number_with_precision(invoice.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless invoice.totals.blank? %></td>
      </tr>
      <% end %>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @bills } %>
  <% end %>
</div>
<!-- Subscribers -->
<div class="tab-pane fade active" id="subscribers">

  <% if (@subscribers.count > 0) %>
  <table class="table table-condensed table-striped shrinked">
    <thead>
      <%= render '/layouts/ag2_gest/subscribersheader' %>
    </thead>
    <tbody>
      <%= render :partial => '/layouts/ag2_gest/subscribers', :locals => { :subscribers => @subscribers } %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @subscribers } %>
  <% end %>
</div>
</div>
<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<% if !session[:return_to_contracting_request].nil? %>
  <%= link_to session[:return_to_contracting_request], session[:return_to_contracting_request_url] %> |
<% end %>
<% if !session[:return_to_subscriber].nil? %>
  <%= link_to session[:return_to_subscriber], session[:return_to_subscriber_url] %> |
<% end %>
<%= link_to t('ag2_gest.clients.back_to_main_page'), clients_path %>
