<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", t('activerecord.attributes.reading_type.id') %></th>
      <th><%= sortable "name", t('activerecord.attributes.reading_type.name') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @reading_types.each do |reading_type| %>
    <tr>
      <td><%= reading_type.try(:id) %></td>
      <td><%= reading_type.try(:name)  %></td>
      <td>
        <%= render :partial => '/layouts/crud/read', :locals => { :model => ReadingType, :path => reading_type_path(reading_type) } %>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => ReadingType, :path => edit_reading_type_path(reading_type)} %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => ReadingType, :path => reading_type, :msg => t("activerecord.models.reading_type.one"), :txt => reading_type.to_label } %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @reading_types } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => ReadingType, :path => new_reading_type_path, :txt => t("ag2_gest.reading_types.index.btn_new") } %>
<%= link_to t("ag2_gest.reading_types.index.back_to_management"), ag2_gest.reading_management_path %>