<%= render '/layouts/ag2_tech/infrasbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @infrastructure.id %></td>
      <td><%=t 'activerecord.attributes.infrastructure.code' %>:</td>
      <td class="highlighted bolded"><%= @infrastructure.full_code %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.infrastructure.name' %>:</td>
      <td><%= @infrastructure.name %></td>
      <td><%=t 'activerecord.attributes.infrastructure.infrastructure_type' %>:</td>
      <td><%= @infrastructure.infrastructure_type.name unless @infrastructure.infrastructure_type.blank? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.infrastructure.company" %>:</td>
      <td><%= @infrastructure.company.name %></td>
      <td><%= t :"activerecord.attributes.infrastructure.office" %>:</td>
      <td><%= @infrastructure.office.name %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @infrastructure } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @infrastructure } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Infrastructure, update_path: edit_infrastructure_path(@infrastructure), update_txt: t('.btn_edit'),
delete_path: @infrastructure, delete_txt: t('.btn_delete'), msg: t("activerecord.models.infrastructure.one"), txt: @infrastructure.full_name,
new_path: new_infrastructure_path, new_txt: t('ag2_tech.infrastructures.index.btn_new') } %>

<% if (@worker_orders.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_tech/wordersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_tech/worders', :locals => { :orders => @worker_orders } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @worker_orders } %>
<% end %>

<%= link_to t('ag2_tech.infrastructures.show.show_to'), @infrastructure.infrastructure_type %> |
<%= link_to t("ag2_tech.infrastructures.back_to_main_page"), infrastructures_path %>
