<%= render '/layouts/ag2_admin/banksbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.banks.edit.btn_show'), @bank %> |
<%= link_to I18n.t('ag2_admin.banks.back_to_main_page'), banks_path %>
