<%= render '/layouts/ag2_admin/rolesbreadcrumb' %>

<h3><%= @role.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @role.id %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @role } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @role } %>
    <tr>
      <td><%=t 'activerecord.attributes.role.resource_id' %>:</td>
      <td><%= @role.resource_id %></td>
      <td><%=t 'activerecord.attributes.role.resource_type' %>:</td>
      <td><%= @role.resource_type %></td>
    </tr>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update_delete_new', locals:
{ model: Role, update_path: edit_role_path(@role), update_txt: t('ag2_admin.roles.show.btn_edit'),
delete_path: @role, delete_txt: t('ag2_admin.roles.show.btn_delete'), msg: t("activerecord.models.role.one"), :txt => @role.name.titleize,
new_path: new_role_path, new_txt: t('ag2_admin.roles.index.btn_new') } %>

<% if (@users.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%=t 'activerecord.attributes.user.email' %></th>
      <th><%=t 'activerecord.attributes.user.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.email, user %></td>
      <td><%= user.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.roles.back_to_main_page'), roles_path %>
