<style>
  .center {
    text-align: center!important;
  }
  .center a {
    display: table;
  }
</style>

<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  });
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "meter_code", t('activerecord.attributes.meter.meter_code') %></th>
      <th></th>
      <th><%= sortable "meter_model_id", t('activerecord.attributes.meter.meter_model_id') %></th>
      <th class="center"><%= sortable "caliber_id", t('activerecord.attributes.meter.caliber_id') %></th>
      <th class="center"><%= t('activerecord.attributes.meter.manufacturing_year_min') %></th>
      <th class="center"><%= t('activerecord.attributes.meter.expiry_date_min') %></th>
      <th class="center"><%= t('activerecord.attributes.meter.purchase_date_min') %></th>
    </tr>
  </thead>
  <tbody>
    <% @meters.each do |meter| %>
    <% if !meter.is_master? %>
      <tr>
    <% else %>
      <tr class="attention-row">
    <% end %>
      <td><%= link_to meter.try(:meter_code), ag2_gest.meter_path(meter) %></td>
      <td><% if meter.is_installed_now? %><i class="icon-thumbs-up"></i><% else %><i class="icon-thumbs-down"></i><% end %></td>      
      <td><%= meter.try(:meter_model).try(:full_name) %></td>
      <td class="center"><%= meter.try(:caliber).try(:caliber) %></td>
      <td class="center"><%= meter.try(:manufacturing_year) %></td>
      <td class="center"><%=l meter.try(:expiry_date) unless meter.try(:expiry_date).blank?  %></td>
      <td class="center"><%=l meter.try(:purchase_date) unless meter.try(:purchase_date).blank? %></td>
      <td>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => Meter, :path => edit_meter_path(meter) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Meter, :path => meter, :msg => t("activerecord.models.meter.one"), :txt => meter.full_name } %>
      </td>
    </tr>
   <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @meters } %>
