<%# session[:return_to_meter] = I18n.t('ag2_gest.meters.show.return_to') %>
<%# session[:return_to_meter_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
<%# session[:return_to_subscriber] = I18n.t('ag2_gest.meters.show.return_to') %>
<%# session[:return_to_subscriber_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

<%= render '/layouts/ag2_gest/metersbreadcrumb' %>

<h3><%= t('.title') %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.meter.id') %>:</td>
      <td><%= @meter.try(:id) %></td>
      <td><%= t('activerecord.attributes.meter.meter_code') %>:</td>
      <td class="highlighted bolded"><%= @meter.try(:meter_code) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter.meter_model_id') %>:</td>
      <td><%= link_to @meter.try(:meter_model).try(:full_name), ag2_gest.meter_model_path(@meter.meter_model_id) %></td>
      <td><%= t('activerecord.attributes.meter.caliber_id') %>:</td>
      <td><%= link_to @meter.try(:caliber).try(:caliber), ag2_gest.caliber_path(@meter.caliber_id) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter.meter_owner_id') %>:</td>
      <td><%= @meter.try(:meter_owner).try(:name) %></td>
      <td><%= t('activerecord.attributes.meter.is_installed_now') %>:</td>
      <td><% if @meter.is_installed_now? %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter.manufacturing_year') %>:</td>
      <td><%= @meter.try(:manufacturing_year) %></td>
      <td><%= t('activerecord.attributes.meter.first_installation_date') %>:</td>
      <td><%=l @meter.try(:first_installation_date) unless @meter.try(:first_installation_date).blank? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter.expiry_date') %>:</td>
      <td><%=l @meter.try(:expiry_date) unless @meter.try(:expiry_date).blank? %></td>
      <td><%= t('activerecord.attributes.meter.purchase_date') %>:</td>
      <td><%=l @meter.try(:purchase_date) unless @meter.try(:purchase_date).blank? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter.master_meter') %>:</td>
      <td colspan="3"><%= link_to @meter.try(:master_meter).try(:meter_code), ag2_gest.meter_path(@meter.master_meter_id) unless @meter.master_meter.blank? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.meter.company_id') %>:</td>
      <td><%= @meter.try(:company).try(:name) %></td>
      <td><%= t('activerecord.attributes.meter.office_id') %>:</td>
      <td><%= @meter.try(:office).try(:name) %></td>
    </tr>

      <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @meter } %>
      <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @meter } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Meter, update_path: edit_meter_path(@meter), update_txt: t('.btn_edit'),
delete_path: @meter, delete_txt: t('.btn_delete'), msg: t("activerecord.models.meter.one"), :txt => @meter.meter_code,
new_path: new_meter_path, new_txt: t('ag2_gest.meters.index.btn_new') } %>

<!-- Details -->
<% if (@details.count > 0) %>
<h4><%=t '.subtable_title_details' %></h4>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render '/layouts/ag2_gest/meter_detailsheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_gest/meter_details', :locals => { :details => @details } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @details } %>
<% end %>

<!-- Readings -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%=t '.subtable_title_readings' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <% if @meter.is_installed_now? %>
          <a href="#newReadingModal" id="link_reading" role="button" class="btn btn-mini btn-primary" data-toggle="modal"><%= t('activerecord.attributes.subscriber.reading_new') %></a>
        <% end %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@readings.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render :partial => '/layouts/ag2_gest/readingsheader', :locals => { :source => 'M' } %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_gest/readings', :locals => { :readings => @readings, :source => 'M' } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @readings } %>
<% end %>

<!-- Child meters -->
<% if (@child_meters.count > 0) %>
<h4><%=t '.subtable_title_child_meters' %></h4>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render :partial => '/layouts/ag2_gest/child_metersheader' %>
  </thead>
  <tbody>
    <%= render :partial => '/layouts/ag2_gest/child_meters', :locals => { :child_meters => @child_meters } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @child_meters } %>
<% end %>

<!-- Return to links -->
<% if !session[:return_to].nil? %>
  <%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<% if !session[:return_to_subscriber].nil? %>
  <%= link_to session[:return_to_subscriber], session[:return_to_subscriber_url] %> |
<% end %>
<% if !session[:return_to_reading].nil? %>
  <%= link_to session[:return_to_reading], session[:return_to_reading_url] %> |
<% end %>


<%= link_to I18n.t('ag2_gest.meters.back_to_main_page'), meters_path %>

<!-- MODALS -->
<%= render '/ag2_gest/subscribers/modals/new_reading' %>
