<!-- Modal Generate -->
<script type="text/javascript">

  function setup_AllSelect2(p, e, r, c, s) {
    projects_Select2(p);
    periods_Select2(e);
    routes_Select2(r)
    clients_Select2(c);    
    subscribers_Select2(s);    
  }

  function projects_Select2(intialValue) {
    $('#debt_claim_projects').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      // dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      multiple: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function periods_Select2(intialValue) {
    $('#debt_claim_periods').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      // dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      multiple: true,
      data: intialValue,
      ajax: {
        url: "/search_billing_periods",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function routes_Select2(intialValue) {
    $('#debt_claim_reading_routes').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      // dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      multiple: true,
      data: intialValue,
      ajax: {
        url: "/search_reading_routes",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function clients_Select2(intialValue) {
    $('#debt_claim_clients').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      // dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      multiple: true,
      ajax: {
        url: "/search_clients",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function subscribers_Select2(intialValue) {
    $('#debt_claim_subscribers').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      // dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      multiple: true,
      ajax: {
        url: "/search_subscribers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $("#proc_mesage_dc").hide();

    // Setup special search (select2)
    setup_AllSelect2("<%= @project %>", "<%= @period %>", "<%= @reading_route %>", "<%= @client %>", "<%= @subscriber %>");
  });

  jQuery(function($) {
    $("form.generate-form").submit(function(){
      if ($('#debt_claim_office').val() == '' ||
          $('#debt_claim_office').val() == null) {
        alert("<%= I18n.t('activerecord.attributes.debt_claim.office') %> <%= I18n.t(:item_error) %>");
        return false;
      }
      if ($('#debt_claim_payday_limit').val() == '' ||
          $('#debt_claim_payday_limit').val() == null) {
        alert("<%= I18n.t('activerecord.attributes.debt_claim.payday_limit') %> <%= I18n.t(:item_error) %>");
        return false;
      }
      // AJAX refresh index table is necessary
      $(".icon-refresh-link").click();
      // Show message
      $("#proc_mesage_dc").show();
    });
  });
</script>

<div id="generate-debt-claim" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="GenerateDebtClaim" aria-hidden="true" data-backdrop="static" style="display: none;">
  <div id="proc_mesage_dc" class="alert alert-info">
    <%= t(:generating) %>
  </div>
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_gest.debt_claims.generate.title') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <%= simple_form_for :debt_claim, url: generate_debt_claims_path, method: :post, :html => { class: 'modal-footer-right generate-form'} do |f| %>
    <div class="modal-body">
      <%= f.input :office, required: true, label: I18n.t("activerecord.attributes.debt_claim.office"), collection: @offices, inline_label: "Yes", :input_html => { :class => 'x-large-text-field sel4', data: { validation: "required", "validation-error-msg" => "#{e}" } }, :label_html => { :class => 'form-label' } %>
      <%= f.input :payday_limit, required: true, label: I18n.t("activerecord.attributes.debt_claim.payday_limit"), inline_label: "Yes", input_html: { class: 'x-large-text-field ndate_picker', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
      <%= f.input :projects, required: false, label: I18n.t("activerecord.attributes.debt_claim.project"), inline_label: "Yes", input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :periods, required: false, label: I18n.t("activerecord.attributes.invoice.billing_period"), inline_label: "Yes", input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :reading_routes, required: false, label: I18n.t("activerecord.attributes.debt_claim.reading_route"), inline_label: "Yes", input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :clients, required: false, label: I18n.t("activerecord.attributes.debt_claim.client"), inline_label: "Yes", input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :subscribers, required: false, label: I18n.t("activerecord.attributes.debt_claim.subscriber"), inline_label: "Yes", input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :invoice_types, required: false, label: I18n.t("activerecord.attributes.debt_claim.invoice_type"), collection: @invoice_types, inline_label: "Yes", input_html: { class: 'x-large-text-field sel4', multiple: 'multiple' }, label_html: { class: 'form-label' } %>
      <%= f.input :pending_amount, required: false, label: I18n.t("activerecord.attributes.debt_claim.pending_amount"), as: :decimal, inline_label: "Yes", input_html: { class: 'x-large-text-field number-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :pending_invoices, required: false, label: I18n.t("activerecord.attributes.debt_claim.pending_invoices"), as: :integer, inline_label: "Yes", input_html: { class: 'x-large-text-field number-text-field' }, label_html: { class: 'form-label' } %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, t(:generate), :class => 'btn btn-primary', id: 'btn-submit-generate' %>
      <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
    </div>
  <% end %>
</div>
