<tr>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.debt_claim.quantity" %> | <%= t :"activerecord.attributes.debt_claim.subtotal" %></td>
  <td align="right"><%= number_with_precision(claim.quantity, precision: 4) unless claim.quantity.blank? %></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(claim.subtotal, precision: 4) unless claim.subtotal.blank? %></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.debt_claim.bonus" %> | <%= t :"activerecord.attributes.debt_claim.taxable" %> | <%= t :"activerecord.attributes.debt_claim.taxes" %></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(claim.discount_pct, precision: 2) + "%" unless claim.discount_pct.blank? %></td>
  <td align="right"><%= number_with_precision(claim.bonus, precision: 4) unless claim.bonus.blank? %></td>
  <td align="right"><%= number_with_precision(claim.taxable, precision: 4) unless claim.taxable.blank? %></td>
  <td align="right"><%= number_with_precision(claim.taxes, precision: 4) unless claim.taxes.blank? %></td>
</tr>
<tr class="totals">
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.debt_claim.total" %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(claim.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless claim.total.blank? %></td>
  <td></td>
</tr>
