<%= render '/layouts/ag2_tech/worderlaborsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @work_order_labor.id %></td>
      <td><%=t 'activerecord.attributes.work_order_labor.name' %>:</td>
      <td><%= @work_order_labor.name %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @work_order_labor } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @work_order_labor } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: WorkOrderLabor, update_path: edit_work_order_labor_path(@work_order_labor), update_txt: t('.btn_edit'),
delete_path: @work_order_labor, delete_txt: t('.btn_delete'), msg: t("activerecord.models.work_order_labor.one"), txt: @work_order_labor.name,
new_path: new_work_order_labor_path, new_txt: t('ag2_tech.work_order_labors.index.btn_new') } %>

<% if (@worker_orders.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_tech/wordersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_tech.work_order_labors.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_tech/worders', :locals => { :orders => @worker_orders } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @worker_orders } %>
<% end %>

<%= link_to t("ag2_tech.work_order_labors.back_to_main_page"), work_order_labors_path %>
