<div class="row-fluid">
  <div class="span4"><h5><b><%= I18n.t("ag2_gest.client_payments.index.total") %>:</b> <%= @bills_pending.count unless @bills_pending.blank?  %></h5></div>
  <div class="span4" align="center"><h5><b><%= I18n.t("ag2_gest.client_payments.index.total_consumptions") %>:</b> <%= @bills_pending.map(&:reading_2).flatten.compact.sum{|r| r.consumption } unless @bills_pending.blank?  %> m<sup>3</sup></h5></div>
  <div class="span4" align="right"><h5><b><%= I18n.t("ag2_gest.client_payments.index.total_bills") %>:</b> <%= number_with_precision(@bills_pending.sum{|b| b.total}, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless @bills_pending.blank?  %></h5></div>
</div>

<div class="row-fluid">
  <div class="span12">
    <input type="checkbox" class="checkbox-main">
    <a href="#modal-cash" role="button" class="btn btn-primary btn-small btn-payment btn-cash" data-toggle="modal">Caja</a>
    <a href="#modal-bank" role="button" class="btn btn-primary btn-small btn-payment" data-toggle="modal">Banco</a>
    <!-- <a href="#" class="btn btn-primary btn-small">Ventanilla Bancaria</a> -->
    <a href="#modal-fracionated" role="button" class="btn btn-primary btn-small btn-payment" data-toggle="modal">Aplazamientos</a>
    <a href="#modal-cash" role="button" class="btn btn-primary btn-small btn-payment btn-others" data-toggle="modal">Otros</a>
    <!-- <a href="#" class="btn btn-primary btn-small pull-right">Devoluciones</a> -->
  </div>
</div>
<% if !@bills_pending.blank? %>
<% @bills_pending.each do |bill| %>
  <% unless bill.payable? %>
    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading row-fluid">
          <div class="span2">
            <input type="checkbox" class="checkbox-master pull-left">
            <a class="accor accordion-toggle collapsed pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapse-unpaid-<%= bill.id %>"><i class='icon-plus'></i></a>
          </div>
          <div class="span3 soft-padding">
            <%= link_to bill.try(:full_no), bill_path(bill) %>
          </div>
          <div class="span4 soft-padding">
            <%= link_to bill.client.to_label, client_path(bill.client) if bill.client %>
          </div>
          <div class="span1 soft-padding">
            <%= "Bco." if bill.client.active_bank_accounts?  %>
          </div>
          <div align="right" class="span2 soft-padding">
            <%= number_with_precision(bill.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %>
          </div>
        </div>

        <div id="collapse-unpaid-<%= bill.id %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Nº</th>
                  <th>Fecha</th>
                  <th>Vencimiento</th>
                  <th align="right">Total</th>
                  <th align="right">Cobrado</th>
                  <th align="right">Deuda</th>
                  <th align="right">Estado</th>
                </tr>
              </thead>
              <tbody>
                <% bill.invoices.order("created_at DESC").each do |i| %>
                <% if !i.payday_limit.nil? && i.payday_limit < Date.today %>
                  <tr>
                    <td><%= (check_box_tag 'invoice_id', i.id, false, class: "checkbox-slave", :data => {total: i.total, collected: i.collected, debt: i.debt}) if i.invoice_status_id == 1 %></td>
                    <td><%= i.invoice_no %></td>
                    <td><%= i.invoice_date.strftime("%d/%m/%Y") %></td>
                    <td><%= i.payday_limit.strftime("%d/%m/%Y") %></td>
                    <% if i.bill.try(:instalments).blank? %>
                      <td align="right"><%= number_with_precision(i.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
                      <td align="right"><%= number_with_precision(i.collected, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
                      <td align="right"><%= number_with_precision(i.debt, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
                    <% else %>
                      <td align="right"><%= number_with_precision(i.bill.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
                      <td align="right"><%= number_with_precision(i.bill.client_payments.sum("amount"), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
                      <td align="right"><%= number_with_precision(i.bill.total - i.bill.client_payments.sum("amount"), precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></td>
                    <% end %>
                    <td align="right"><%= i.invoice_status.name %></td>
                  </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @bills_pending } %>
<% end %>
