<div class="row-fluid">
  <div class="span12">
    <input type="checkbox" class="checkbox-main">
    <a href="#modal-cash" role="button" class="btn btn-primary btn-small btn-payment btn-cash" data-toggle="modal">Caja</a>
    <a href="#modal-bank" role="button" class="btn btn-primary btn-small btn-payment" data-toggle="modal">Banco</a>
    <!-- <a href="#" class="btn btn-primary btn-small">Ventanilla Bancaria</a> -->
    <a href="#modal-fracionated" role="button" class="btn btn-primary btn-small btn-payment" data-toggle="modal">Aplazamientos</a>
    <a href="#modal-cash" role="button" class="btn btn-primary btn-small btn-payment btn-others" data-toggle="modal">Otros</a>
    <!-- <a href="#" class="btn btn-primary btn-small pull-right">Devoluciones</a> -->
  </div>
</div>

<% @bills_pending.each do |bill| %>
  <% unless bill.payable? %>
    <div class="accordion">
      <div class="accordion-group">
        <div class="accordion-heading row-fluid">
          <div class="span2">
            <input type="checkbox" class="checkbox-master pull-left">
            <a class="accor accordion-toggle collapsed pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapse-unpaid-<%= bill.id %>"><i class='icon-plus'></i></a>
          </div>
          <div class="span3 soft-padding">
            <%= link_to bill.try(:bill_no), bill_path(bill) %>
          </div>
          <div class="span4 soft-padding">
            <%= link_to bill.client.to_label, client_path(bill.client) if bill.client %>
          </div>
          <div class="span1 soft-padding">
            <%= "Bco." if bill.client.active_bank_accounts?  %>
          </div>
          <div class="span2 soft-padding">
            <%= number_to_currency(bill.total, :precision => 4, :unit => "€") %>
          </div>
        </div>

        <div id="collapse-unpaid-<%= bill.id %>" class="accordion-body collapse">
          <div class="accordion-inner">
            <table class="table table-condensed table-striped">
              <thead>
                <tr>
                  <th></th>
                  <th>Nº</th>
                  <th>Fecha</th>
                  <th>Vencimiento</th>
                  <th>Total</th>
                  <th>Cobrado</th>
                  <th>Deuda</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody>
                <% bill.invoices.order("created_at DESC").each do |i| %>
                <% if !i.payday_limit.nil? && i.payday_limit < Date.today %>
                  <tr>
                    <td><%= (check_box_tag 'invoice_id', i.id, false, class: "checkbox-slave", :data => {total: i.total, collected: i.collected, debt: i.debt}) if i.invoice_status_id == 1 %></td>
                    <td><%= i.invoice_no %></td>
                    <td><%= i.invoice_date %></td>
                    <td><%= i.payday_limit %></td>
                    <% if i.bill.try(:instalments).blank? %>
                      <td><%= i.total.round(4) %></td>
                      <td><%= i.collected.round(4) %></td>
                      <td><%= i.debt.round(4) %></td>
                    <% else %>
                      <td><%= i.bill.total.round(4) %></td>
                      <td><%= i.bill.client_payments.sum("amount").round(4) %></td>
                      <td><%= i.bill.total - i.bill.client_payments.sum("amount").round(4) %></td>
                    <% end %>
                    <td><%= i.invoice_status.name %></td>
                  </tr>
                <% end %>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @bills_pending } %>
