<div class="row-fluid">
  <b>
  <div class="span6"><h5><%= I18n.t("activerecord.models.bill.few") %>: <%= @charged_totals[:bills] %></h5></div>
  <div class="span6" align="right"><h5><%= I18n.t("ag2_gest.client_payments.index.total_bills") %>: <%= number_with_precision(@charged_totals[:totals], precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></h5></div>
  </b>
</div>

<% if !@bills_charged.blank? %>
<% @bills_charged.each do |bill| %>
  <div class="accordion condensed-accordion">
    <div class="accordion-group">
      <div class="accordion-heading row-fluid shrinked">
        <table class="form-table">
          <!-- plus -->
          <col width="5%" />
          <!-- bill -->
          <col width="30%" />
          <!-- client -->
          <col width="34%" />
          <!-- period -->
          <col width="4%" />
          <!-- amount -->
          <col width="14%" />
          <!-- payment date -->
          <col width="9%" />
          <!-- payment method -->
          <col width="4%" />
          <tbody>
            <td><a class="accor accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= bill.id %>"><i class='icon-plus'></i></a></td>
            <% if bill.bill_type_id == InvoiceType::COMMERCIAL %>
            <td><%= bill.bill_type_id %> <%= link_to bill.try(:invoice_based_old_no_real_no), commercial_billing_path(bill) %></td>
            <% else %>
            <td><%= bill.bill_type_id %> <%= link_to bill.try(:invoice_based_old_no_real_no), bill_path(bill) %></td>
            <% end %>
            <% if bill.bill_type_id == InvoiceType::WATER %>
            <td><%= link_to bill.subscriber.to_label, subscriber_path(bill.subscriber) if bill.subscriber %></td>
            <% else %>
            <td><%= link_to bill.client.to_label, client_path(bill.client) if bill.client %></td>
            <% end %>
            <td align="right"><%= bill.billing_period_code %></td>
            <td align="right" title="<%= bill.invoices.size.to_s %>"><%= number_with_precision(bill.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            <td align="right"><%= bill.payment_date %></td>
            <td align="right" title="<%= bill.real_payment_method_name %>"><%= bill.real_payment_method_code %></td>
          </tbody>
        </table>
      </div>

      <div id="collapse-<%= bill.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Nº</th>
                <th>Fecha</th>
                <th>Ult.Cobro</th>
                <th align="right">Total</th>
                <th align="right">Cobrado</th>
                <th align="right">Deuda</th>
              </tr>
            </thead>
            <tbody>
              <% bill.invoices.order(:invoice_no).each do |i| %>
                <tr>
                  <td><%= i.full_no %></td>
                  <td><%= formatted_date(i.invoice_date) unless i.invoice_date.blank? %></td>
                  <td><%= i.payment_date %></td>
                  <td align="right"><%= number_with_precision(i.receivables, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                  <td align="right"><%= number_with_precision(i.collected, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                  <td align="right"><%= number_with_precision(i.debt, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div> <!-- collapse-<%= bill.id %> -->
    </div>
  </div>
<% end %>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @bills_charged } %>
<% end %>
