<div class="row-fluid">
  <b>
  <div class="span6"><h5><%= I18n.t("activerecord.models.bill.few") %>: <%= @pending_totals.bills  %></h5></div>
  <div class="span6" align="right"><h5><%= I18n.t("ag2_gest.client_payments.index.total_bills") %>: <%= number_with_precision(@pending_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></h5></div>
  </b>
</div>

<div class="row-fluid">
  <div class="span12">
    <input type="checkbox" class="checkbox-main">
    <a href="#modal-cash" role="button" class="btn btn-primary btn-small btn-payment btn-cash" data-toggle="modal"><%= I18n.t("ag2_gest.client_payments.index.cash") %></a>
    <a href="#modal-bank" role="button" class="btn btn-primary btn-small btn-payment btn-bank" data-toggle="modal"><%= I18n.t("ag2_gest.client_payments.index.bank") %></a>
    <!-- <a href="#" class="btn btn-primary btn-small">Ventanilla Bancaria</a> -->
    <a href="#modal-fracionated" role="button" class="btn btn-primary btn-small btn-payment btn-fractionated" data-toggle="modal"><%= I18n.t("ag2_gest.client_payments.index.deferrals") %></a>
    <a href="#modal-others" role="button" class="btn btn-primary btn-small btn-payment btn-others" data-toggle="modal"><%= I18n.t("ag2_gest.client_payments.index.others") %></a>
    <!-- <a href="#" class="btn btn-primary btn-small pull-right">Devoluciones</a> -->
  </div>
</div>

<% if !@bills_pending.blank? %>
<% @bills_pending.each do |bill| %>
  <div class="accordion condensed-accordion">
    <div class="accordion-group">
      <div class="accordion-heading row-fluid shrinked">
        <table class="form-table">
          <!-- plus -->
          <col width="8%" />
          <!-- bill -->
          <col width="30%" />
          <!-- client -->
          <col width="35%" />
          <!-- count -->
          <col width="2%" />
          <!-- amount -->
          <col width="15%" />
          <!-- status -->
          <col width="10%" />
          <tbody>
            <td>
              <input type="checkbox" class="checkbox-master pull-left" <%= 'disabled' if bill.invoice_status_id != 1 %>>
              <a class="accor accordion-toggle collapsed pull-left" data-toggle="collapse" data-parent="#accordion2" href="#collapse-<%= bill.id %>"><i class='icon-plus'></i></a>
              <% if bill.client.active_bank_accounts? %><i class="icon-briefcase"></i><% end %>
            </td>
            <td><%= link_to bill.try(:full_no), bill_path(bill) %></td>
            <td><%= link_to bill.client.to_label, client_path(bill.client) if bill.client %></td>
            <td align="right"><%= bill.invoices.count unless bill.invoices.blank? %></td>
            <td align="right"><%= number_with_precision(bill.debt, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            <td align="right"><%= bill.invoice_status.name unless bill.invoice_status.blank? %></td>
          </tbody>
        </table>
      </div>
    </div>

    <div id="collapse-<%= bill.id %>" class="accordion-body collapse">
      <div class="accordion-inner">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th></th>
              <th>Nº</th>
              <th>Fecha</th>
              <th>Vencimiento</th>
              <th align="right">Total</th>
              <th align="right">Cobrado</th>
              <th align="right">Deuda</th>
              <th align="right">Estado</th>
            </tr>
          </thead>
          <tbody>
            <% bill.invoices.order(:invoice_no).each do |i| %>
              <tr class="<%= 'text-error' if i.unpaid? %>">
                <td><%= (check_box_tag 'invoice_id', i.id, false, class: "checkbox-slave", :data => {total: i.total, collected: i.collected, debt: i.debt}) if i.invoice_status_id == 1 %></td>
                <td><%= i.full_no %></td>
                <td><%= formatted_date(i.invoice_date) unless i.invoice_date.blank? %></td>
                <td><%= formatted_date(i.payday_limit) unless i.payday_limit.blank? %></td>
                <% if i.bill.try(:instalments).blank? %>
                  <td align="right"><%= number_with_precision(i.receivables, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                  <td align="right"><%= number_with_precision(i.collected, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                  <td align="right"><%= number_with_precision(i.debt, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <% else %>
                  <td align="right"><%= number_with_precision(i.bill.receivable, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                  <td align="right"><%= number_with_precision(i.bill.collected, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                  <td align="right"><%= number_with_precision(i.bill.debt, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                <% end %>
                <td align="right"><%= i.invoice_status.name %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% end %>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @bills_pending } %>
<% end %>
