<div class="row-fluid">
  <b>
  <div class="span4"><h5><%= I18n.t("ag2_gest.client_payments.index.count_instalments") %>: <%= @plans_totals.plans %></h5></div>
  <div class="span4" align="center"><h5><%= I18n.t("activerecord.attributes.instalment_plan.instalments_qty") %>: <%= @instalments_totals.payments unless @instalments_totals.blank? %></h5></div>
  <div class="span4" align="right"><h5><%= I18n.t("ag2_gest.client_payments.index.total_payments") %>: <%= number_with_precision(@instalments_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless @instalments_totals.blank? %></h5></div>
  </b>
</div>

<div class="row-fluid">
  <div class="span12">
    <a href="#modal-bank" role="button" class="btn btn-primary btn-small btn-payment btn-bank-instalment" data-toggle="modal"><%= I18n.t("ag2_gest.client_payments.index.bank") %></a>
  </div>
</div>

<% if !@instalments.blank? %>
<%#= simple_form_for :payment_fractionated, url: charge_instalment_client_payments_path, method: :post do |f|  %>
  <%#= f.input :ids, :as => :hidden %>
  <%#= f.button :submit, I18n.t("ag2_gest.client_payments.index.collect_instalments"), :class => 'btn btn-primary btn-small' %>
<%# end %>

<table class="form-table shrinked" style="margin-top: -10px !important;">
  <!-- plus -->
  <col width="8%" />
  <!-- no -->
  <col width="20%" />
  <!-- date -->
  <col width="9%" />
  <!-- client -->
  <col width="23%" />
  <!-- instalment -->
  <col width="4%" />
  <!-- payday limit -->
  <col width="9%" />
  <!-- amount -->
  <col width="9%" />
  <!-- surcharge -->
  <col width="9%" />
  <!-- total -->
  <col width="9%" />
  <thead>
    <tr>
      <th align="left"><input type="checkbox" id="instalments-checkbox-master"></th>
      <th align="left"><%= t('activerecord.attributes.instalment_plan.instalment_no') %></th>
      <th align="center"><%= t('activerecord.attributes.instalment_plan.instalment_date') %></th>
      <th align="left"><%= t('activerecord.attributes.instalment_plan.client_id') %></th>
      <th align="right"><%= t('activerecord.attributes.instalment.instalment') %></th>
      <th align="center"><%= t('activerecord.attributes.instalment.payday_limit') %></th>
      <th align="right"><%= t('activerecord.attributes.instalment.amount') %></th>
      <th align="right"><%= t('activerecord.attributes.instalment.surcharge') %></th>
      <th align="right"><%= t('activerecord.attributes.instalment.total') %></th>
    </tr>
  </thead>
</table>

<% @instalments.each do |instalment| %>
  <div class="accordion condensed-accordion">
    <div class="accordion-group">
      <div class="accordion-heading row-fluid shrinked">
        <table class="form-table" id="instalments-table">
          <!-- plus -->
          <col width="8%" />
          <!-- no -->
          <col width="20%" />
          <!-- date -->
          <col width="9%" />
          <!-- client -->
          <col width="23%" />
          <!-- instalment -->
          <col width="4%" />
          <!-- payday limit -->
          <col width="9%" />
          <!-- amount -->
          <col width="9%" />
          <!-- surcharge -->
          <col width="9%" />
          <!-- total -->
          <col width="9%" />
          <tbody>
            <tr class="fields">
              <td>
                <%= check_box_tag 'instalment_id', instalment.id, false, class: "instalment-checkbox-slave", :data => {amount: instalment.amount, surcharge: instalment.surcharge, debt: instalment.total} %>
                <a class="accor accordion-toggle collapsed pull-right" data-toggle="collapse" data-parent="#accordion2" href="#collapse-instalment-<%= instalment.id %>"><i class='icon-plus'></i></a>
                <% if instalment.instalment_plan.client.active_bank_accounts? %><i class="icon-briefcase"></i><% end %>
              </td>
              <td><%= instalment.instalment_no %></td>
              <td align="center"><%= formatted_date(instalment.instalment_date) unless instalment.instalment_date.blank? %></td>
              <td><%= link_to instalment.client.to_name, client_path(instalment.client) %></td>
              <td align="right"><%= instalment.instalment %></td>
              <td align="center"><%= formatted_date(instalment.payday_limit) unless instalment.payday_limit.blank? %></td>
              <td align="right"><%= number_with_precision(instalment.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
              <td align="right"><%= number_with_precision(instalment.surcharge, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
              <td align="right" class="debt-field"><%= number_with_precision(instalment.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
            </tr>
          </tbody>
        </table> <!-- form-table -->
      </div> <!-- accordion-heading -->

      <div id="collapse-instalment-<%= instalment.id %>" class="accordion-body collapse">
        <div class="accordion-inner">
          <table class="table table-condensed table-striped">
          <!-- bill -->
          <col width="28%" />
          <!-- invoice -->
          <col width="22%" />
          <!-- subscriber -->
          <col width="40%" />
          <!-- amount -->
          <col width="10%" />
            <thead>
              <tr>
                <th><%= t('activerecord.attributes.instalment.bill_id') %></th>
                <th><%= t('activerecord.attributes.instalment.invoice_id') %></th>
                <th><%= t('activerecord.attributes.instalment_plan.subscriber_id') %></th>
                <th align="right"><%= t('activerecord.attributes.instalment.amount') %></th>
              </tr>
            </thead>
            <tbody>
              <% instalment.instalment_invoices.order(:id).each do |i| %>
                <tr>
                  <td><%= link_to i.bill.try(:full_no), bill_path(i.bill) %></td>
                  <td><%= link_to i.invoice.try(:full_no), invoice_path(i.invoice) %></td>
                  <td class="shrinked"><%= link_to i.instalment.instalment_plan.subscriber.to_label, subscriber_path(i.instalment.instalment_plan.subscriber) unless i.instalment.instalment_plan.subscriber.blank? %></td>
                  <td align="right"><%= number_with_precision(i.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div> <!-- collapse-instalment.id -->
    </div>
  </div>
<% end %> <!-- @instalments.each -->
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @instalments } %>
<% end %> <!-- if !@instalments.blank? -->
