<!-- Modal Others -->
<script type="text/javascript">
  $(document).ready(function() {
    $("#proc_mesage_i").hide();
  });
</script>

<div id="modal-fracionated" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ConfirmarBills" aria-hidden="true" data-backdrop="static" style="display: none;">
  <div id="proc_mesage_i" class="alert alert-info">
    <%= t(:generating) %>
  </div>
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_gest.client_payments.index.deferrals') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <%= simple_form_for :instalment, url: fractionate_client_payments_path, method: :post, :html => { class: 'modal-footer-right instalment-form'} do |f| %>
    <div class="modal-body">
      <%= f.input :invoices_ids, :as => :hidden %>
      <div class="control-group string required">
        <label class="form-label"><%= t('activerecord.attributes.client_payment.to_deferred') %></label>
        <div class="controls highlighted bolded">
          <span class="debt-total">0,0000</span>
        </div>
      </div>
      <%= f.input :number_inst, required: true, label: I18n.t("activerecord.attributes.instalment_plan.instalments_qty"), as: :integer, inline_label: "Yes", input_html: { class: 'small-text-field number-text-field', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
      <%= f.input :amount_first, required: true, label: I18n.t("activerecord.attributes.instalment_plan.amount_first"), as: :decimal, inline_label: "Yes", input_html: { class: 'mid-text-field number-text-field', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
      <%= f.input :charge, label: I18n.t("activerecord.attributes.instalment_plan.surcharge_pct"), as: :decimal, inline_label: "Yes", input_html: { class: 'small-text-field number-text-field' }, label_html: { class: 'form-label' } %>
      <%= f.input :payment_method_id, required: true, label: I18n.t("activerecord.attributes.instalment_plan.payment_method_id"), collection: @payment_methods, inline_label: "Yes", :input_html => { :class => 'x-large-text-field sel4', data: { validation: "required", "validation-error-msg" => "#{e}" } }, :label_html => { :class => 'form-label' } %>
    </div>
    <div class="modal-footer">
      <%= f.button :submit, t(:confirm), :class => 'btn btn-primary', id: 'btn-submit-modal-fracionated' %>
      <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
    </div>
  <% end %>
</div>
