<div class="row-fluid">
  <b>
  <div class="span6"><h5><%= I18n.t("ag2_gest.client_payments.index.count_payments") %>: <%= @bank_totals.payments %></h5></div>
  <div class="span6" align="right"><h5><%= I18n.t("ag2_gest.client_payments.index.total_payments") %>: <%= number_with_precision(@bank_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",")  %></h5></div>
  </b>
</div>

<%= simple_form_for :bank_confirm, url: confirm_bank_client_payments_path, method: :post do |f| %>
  <%= f.input :ids, :as => :hidden %>
  <%= f.button :submit, "Confirmar cobros", :class => 'btn btn-primary btn-small' %>
  <button id="bank_order" type="button" class="btn btn-primary btn-small" data-dismiss="modal" aria-hidden="true"><%= t "ag2_gest.client_payments.index.bank_order" %></button>
<% end %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><input type="checkbox" class="checkbox-master-table"></th>
      <th>Nº</th>
      <th>Factura</th>
      <th>Abonado</th>
      <th>F. pago</th>
      <th align="right">Importe a cobrar</th>
      <th align="right">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @client_payments_bank.each do |client_payment| %>
      <tr>
        <td><%= check_box_tag 'client_payment_id', client_payment.id, false, class: "checkbox-slave" %></td>
        <td><%= client_payment.receipt_no %></td>
        <td><%= link_to client_payment.bill.try(:full_no), bill_path(client_payment.bill) %></td>
        <td><%= link_to client_payment.client.to_label, client_path(client_payment.client) %></td>
        <td><%= formatted_date(client_payment.payment_date) unless client_payment.payment_date.blank? %></td>
        <td align="right"><%= number_with_precision(client_payment.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
        <td align="right"><%= number_with_precision(client_payment.invoice.totals, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @client_payments_bank } %>
