<div class="row-fluid">
  <b>
  <div class="span6"><h5><%= I18n.t("ag2_gest.client_payments.index.count_payments") %>: <%= @others_totals.payments %></h5></div>
  <div class="span6" align="right"><h5><%= I18n.t("ag2_gest.client_payments.index.total_payments") %>: <%= number_with_precision(@others_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></h5></div>
  </b>
</div>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Factura</th>
      <th>Abonado</th>
      <th>F. pago</th>
      <th align="right">Importe a cobrar</th>
      <th align="right">Total</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @client_payments_others.each do |client_payment| %>
      <tr>
        <td><%= client_payment.receipt_no %></td>
        <td><%= link_to client_payment.bill.try(:full_no), bill_path(client_payment.bill) %></td>
        <td><%= link_to client_payment.bill.client.to_label, client_path(client_payment.bill.client) %></td>
        <td><%= client_payment.payment_date.strftime("%d/%m/%Y") %></td>
        <td align="right"><%= number_with_precision(client_payment.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
        <td align="right"><%= number_with_precision(client_payment.invoice.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
        <td>
          <%= link_to "<i class='icon-print icon-white'></i>".html_safe, biller_pdf_bill_path(client_payment.bill, :format => :pdf), target: "_blank", class: "btn btn-warning btn-mini", title: "Imprimir" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @client_payments_others } %>
