<div class="row-fluid">
  <div class="span6"><h5><b><%= I18n.t("ag2_gest.client_payments.index.count_payments") %>:</b> <%= @client_payments_cash.count unless @client_payments_cash.blank? %></h5></div>
  <div class="span6" align="right"><h5><b><%= I18n.t("ag2_gest.client_payments.index.total_payments") %>:</b> <%= number_with_precision(@client_payments_cash.sum{|b| b.amount}, precision: 2, delimiter: I18n.locale == :es ? "." : ",")  unless @client_payments_cash.blank?    %></h5></div>
</div>

<div class="row-fluid">
  <div class="span12">
    <a href="#modal-close-cash" role="button" class="btn btn-primary btn-small btn-payment" data-toggle="modal">Cerrar Caja</a>
  </div>
</div>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Nº</th>
      <th>Factura</th>
      <th>Abonado</th>
      <th>F. pago</th>
      <th align="right">Importe a cobrar</th>
      <th align="right">Total</th>
    </tr>
  </thead>
  <tbody>
    <% @client_payments_cash.each do |client_payment| %>
      <tr>
        <td><%= client_payment.receipt_no %></td>
        <td><%= link_to client_payment.bill.try(:full_no), bill_path(client_payment.bill) %></td>
        <td><%= link_to client_payment.bill.client.to_label, client_path(client_payment.bill.client) %></td>
        <td><%= client_payment.payment_date %></td>
        <td align="right"><%= number_with_precision(client_payment.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
        <td align="right"><%= number_with_precision(client_payment.invoice.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @client_payments_cash } %>
