<div class="row-fluid">
  <b>
  <div class="span6"><h5><%= I18n.t("ag2_gest.client_payments.index.count_payments") %>: <%= @bank_totals.payments %></h5></div>
  <div class="span6" align="right"><h5><%= I18n.t("ag2_gest.client_payments.index.total_payments") %>: <%= number_with_precision(@bank_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",")  %></h5></div>
  </b>
</div>

<a href="#modal-bank-confirm" id="bank-confirm" role="button" class="btn btn-primary btn-small" data-toggle="modal"><%= t "ag2_gest.client_payments.index.bank_confirm" %></a>
<a href="#modal-bank-to-pending" id="bank-to-pending" role="button" class="btn btn-primary btn-small" data-toggle="modal"><%= t "ag2_gest.client_payments.index.back_to_pending" %></a>
<button id="bank_counter" type="button" class="btn btn-primary btn-small right-floated" data-dismiss="modal" aria-hidden="true"><%= t "ag2_gest.client_payments.index.bank_counter_c" %></button>
<button id="bank_return" type="button" class="btn btn-primary btn-small right-floated-and-separator" data-dismiss="modal" aria-hidden="true"><%= t "ag2_gest.client_payments.index.bank_return_c" %></button>
<button id="bank_order" type="button" class="btn btn-primary btn-small right-floated-and-separator" data-dismiss="modal" aria-hidden="true"><%= t "ag2_gest.client_payments.index.bank_order_c" %></button>
<span class="btn-small right-floated"><%= t "ag2_gest.client_payments.index.bank_operations" %> <span class="divider">></span></span>
<table id="bank-table" class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><input type="checkbox" class="checkbox-master-table"></th>
      <th class="hidden-text-field">Id</th>
      <th>Nº</th>
      <th>Recibo/Factura</th>
      <th>Aplazamiento</th>
      <th>Cliente</th>
      <th>Fecha</th>
      <th align="right"><%= t("activerecord.attributes.client_payment.collected") %></th>
    </tr>
  </thead>
  <tbody>
    <% @client_payments_bank.each do |client_payment| %>
      <tr>
        <td class="cpb-cb"><%= check_box_tag 'client_payment_id', client_payment.id, false, class: "checkbox-slave" %></td>
        <td class="cpb-id hidden-text-field"><%= client_payment.id %></td>
        <td><%= client_payment.receipt_no %></td>
        <td><%= link_to client_payment.bill.try(:full_no), bill_path(client_payment.bill) %></td>
        <td><%= client_payment.instalment.partial_instalment_no unless client_payment.instalment_id.blank? %></td>
        <td><%= link_to client_payment.client.to_label, client_path(client_payment.client) %></td>
        <td><%= formatted_date(client_payment.payment_date) unless client_payment.payment_date.blank? %></td>
        <td class="cpb-amount" align="right"><%= number_with_precision(client_payment.amount, precision: 4, delimiter: I18n.locale == :es ? "." : ",") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= render :partial => '/layouts/pagination', :locals => { :ivar => @client_payments_bank } %>
