<% session[:return_to] = nil %>
<% session[:return_to] = nil %>

<script>
  var _thisForm = '';
  var changing = false;
  var _currentLocale = 'es';
  var _delimiter = '.';
  var _separator = ',';
  var _active_tab = 'pendings-tab';

  function show_cashier() {
    if (_active_tab == "pendings-tab") {
      <% if !@bills_pending.blank? && !@bills_charged.blank? %>
      $("#cashier").show();
      <% else %>
      $("#cashier").hide();
      <% end %>
    } else {
      $("#cashier").hide();
    }
  }

  function setupAllSelect2(p, r) {
    projectsSelect2(p);
    periodsSelect2(r);    
  }

  function projectsSelect2(intialValue) {
    $('#Project').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function periodsSelect2(intialValue) {
    $('#Period').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_billing_periods",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      allowClear: true
    });
    $('.sel3').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      allowClear: true
    });
    $('.sel4').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownAutoWidth: true,
      allowClear: true
    });
    // Date picker
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });

    // Current localization
    _currentLocale = '<%= I18n.locale %>'
    if (_currentLocale == 'es') {
      _delimiter = '.';
      _separator = ',';
    } else {
      _delimiter = ',';
      _separator = '.';
    }

    // Setup special search (select2)
    setupAllSelect2("<%= @project %>", "<%= @period %>");

    // Hide elements at init
    show_cashier();

    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  });

  // $(document).ajaxStart(function() {
  //   // show loader on start
  //   if (changing == false) {
  //     $("#pendings").html("");
  //     $("#unpaid").html("");
  //     $("#charged").html("");
  //     $("#cash").html("");
  //     $("#banks").html("");
  //     $("#others").html("");
  //     $("#fractionated").html("");
  //     $("#loader").show();
  //   }
  // });
  $(document).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    a = "<%= cp_restore_filters %>";
    $("#No").val("<%= params[:No] %>");
    // $("#Project").select2("val", "<%#= params[:Project] %>");
    $("#Client").val("<%= params[:Client] %>");
    $("#Subscriber").val("<%= params[:Subscriber] %>");
    $("#StreetName").val("<%= params[:StreetName] %>");
    $("#BankAccount").val("<%= params[:BankAccount] %>");
    // $("#Period").select2("val", "<%#= params[:billing_period] %>");
  });

  jQuery(function($) {
    // when .icon-refresh-link is clicked
    $(".icon-refresh-link").click(function() {
      // show loader
      $('#pendings').removeClass('pendings');
      $("#pendings").html("");
      $("#unpaid").html("");
      $("#charged").html("");
      $("#cash").html("");
      $("#banks").html("");
      $("#others").html("");
      $("#fractionated").html("");
      $("#cashier").hide();
      $("#loader").show();
    });

    // when #submit_btn is clicked
    $("#submit_btn").click(function() {
      // show loader
      $('#pendings').removeClass('pendings');
      $("#pendings").html("");
      $("#unpaid").html("");
      $("#charged").html("");
      $("#cash").html("");
      $("#banks").html("");
      $("#others").html("");
      $("#fractionated").html("");
      $("#cashier").hide();
      $("#loader").show();
    });

    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Project").select2("val", "");
      $("#Client").val("");
      $("#Subscriber").val("");
      $("#StreetName").val("");
      $("#BankAccount").val("");
      $("#Period").select2("val", "");
      a = "<%= cp_remove_filters %>";
      setupAllSelect2(a, a);
      show_cashier();
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
  });

  $('.accor').click(function () {
    if (this.classList.contains("collapsed")){
      this.children[0].className = "icon-minus";
    }else {
      this.children[0].className = "icon-plus";
    }
  });

  // when .btn-payment (cash, bank, fractionated and others) clicked (register payment)
  $(".btn-payment").click(function(){
    var elements = $( "input:checked" );
    if (elements.length <= 0) return false;
    var invoices_id = [];
    var debts_array = [];
    for(var i=0;typeof(elements[i])!='undefined';invoices_id.push(elements[i++].getAttribute('value')));
    for(var i=0;typeof(elements[i])!='undefined';debts_array.push(elements[i++].getAttribute('data-debt')));
    var total_debt = 0.0;
    for (var i = 0; i < debts_array.length; i++) {
      if(debts_array[i] != null){
        total_debt += parseFloat(debts_array[i]);
      }
    }
    $(".debt-total").text(total_debt.format(2, 3, _delimiter, _separator));

    // Update Ids in the
    $("#client_payment_invoices_ids").val(invoices_id.filter(i=>i!=null))         // cash
    $("#client_payment_other_invoices_ids").val(invoices_id.filter(i=>i!=null))   // others
    $("#client_payment_bank_invoices_ids").val(invoices_id.filter(i=>i!=null))    // bank
    $("#instalment_invoices_ids").val(invoices_id.filter(i=>i!=null))             // instalments
  });

  $("#client_payment_amount").change(function() {
    amount = parseFloat(this.value) || 0;
    debt = parseFloat($(this).parents(".modal").find(".debt-total").text().replace(",", ".")) || 0;
    cash_return = debt - amount;
    // alert(debt + "-" + amount + " = " + cash_return);
    $(".cash-return").text(cash_return.format(2, 3, _delimiter, _separator));
  });

  $("#initial-cash").change(function() {
    initial_cash = parseFloat(this.value)
    cashed = parseFloat($("#total-cash").text());
    ending_cash = initial_cash + cashed
    $("#ending-cash").text(ending_cash.format(2, 3, _delimiter, _separator));
  });

  $("form.bank_confirm").submit(function(){
   var $input = $(this).find("input[name='bank_confirm[ids]']");
   var elements = $( "input.checkbox-slave:checked" );
   var client_payment_ids = [];
   for(var i=0;typeof(elements[i])!='undefined';client_payment_ids.push(elements[i++].getAttribute('value')));
   $input.val(client_payment_ids);
  });

  $("form.payment_fractionated").submit(function(){
   var $input = $(this).find("input[name='payment_fractionated[ids]']");
   var elements = $( "input.checkbox-slave:checked" );
   var instalments_ids = [];
   for(var i=0;typeof(elements[i])!='undefined';instalments_ids.push(elements[i++].getAttribute('value')));
   $input.val(instalments_ids);
  });

  /* modal_cash form.client_payment: Check required values before submit */
  // $("#btn-submit-modal-cash").click(function(){
  //   alert('html');
  //   if ($('#client_payment_amount').val() == '' ||
  //       $('#client_payment_amount').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.client_payment.amount') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  //   if ($('#client_payment_payment_method_id').val() == '' ||
  //       $('#client_payment_payment_method_id').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.client_payment.payment_method_id') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  // });

  /* modal_others form.client_payment_other: Check required values before submit */
  // $("#btn-submit-modal-others").click(function(){
  //   if ($('#client_payment_amount').val() == '' ||
  //       $('#client_payment_amount').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.client_payment.amount') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  //   if ($('#client_payment_payment_method_id').val() == '' ||
  //       $('#client_payment_payment_method_id').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.client_payment.payment_method_id') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  // });

  /* modal_bank form.client_payment_bank: Check required values before submit */
  // $("#btn-submit-modal-bank").click(function(){
  //   if ($('#client_payment_bank_receipt_no').val() == '' ||
  //       $('#client_payment_bank_receipt_no').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.client_payment.bank_order_no') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  // });

  /* modal_instalment form.instalment: Check required values before submit */
  // $("#btn-submit-modal-fracionated").click(function(){
  //   if ($('#instalment_number_inst').val() == '' ||
  //       $('#instalment_number_inst').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.instalment_plan.instalments_qty') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  //   if ($('#instalment_amount_first').val() == '' ||
  //       $('#instalment_amount_first').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.instalment_plan.amount_first') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  //   if ($('#instalment_charge').val() == '' ||
  //       $('#instalment_charge').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.instalment_plan.surcharge_pct') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  //   if ($('#instalment_payment_method_id').val() == '' ||
  //       $('#instalment_payment_method_id').val() == null) {
  //     alert("<%= I18n.t('activerecord.attributes.instalment_plan.payment_method_id') %> <%= I18n.t(:item_error) %>");
  //     return false;
  //   }
  // });

  $("#pages a").on("click", function() {
    $.getScript(this.href);
    return false;
  });

  // when #print_report_btn is clicked
  $("#print_report_btn").click(function() {
    // make a POST call and get report
    window.open("client_payment_report.pdf", "_blank");
    return false;
  });

  //  // when #report_btn is clicked
  //   $("#print_report_btn").click(function() {
  //     // make a POST call and get report
  //     var report = $('#Report :selected').index();
  //     if (report == "")
  //       return;
  //     switch (report) {
  //       case 1:
  //         // bill
  //         window.open("bill_report.pdf", "_blank");
  //         return false;
  //         break;

  //         case 2:
  //         // bill pending
  //         window.open("bill_pending_report.pdf", "_blank");
  //         return false;
  //         break;

  //         case 3:
  //         // bill unpaid
  //         window.open("bill_unpaid_report.pdf", "_blank");
  //         return false;
  //         break;

  //         case 4:
  //         // bill charged
  //         window.open("bill_charged_report.pdf", "_blank");
  //         return false;
  //         break;

  //         case 5:
  //         // client_payment
  //         window.open("client_payment_report.pdf", "_blank");
  //         return false;
  //         break;
  //     }
  //     return false;
  // });
</script>

<style>
  .accordion{
    background-color: white !important;
  }
  .tab-pane{
    width: 98%;
    padding: 0 1% 0 1%;
  }
  .checkbox-master{
    margin-top: 12px !important;
    margin-left: 5px !important;
  }
  .condensed-accordion {
    margin:5px 0 5px 0 !important;
  }
  #pendings, #unpaid, #charged{
    background-color: #FDE3A7;
  }
  .pendings {
    padding-bottom: 38px !important;
  }
  #cash, #banks, #others ,#fractionated{
    background-color: #FFCCBC;
  }
  #cashier {
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 810px;
  }
</style>

<% session[:return_to] = I18n.t('ag2_gest.client_payments.show.return_to') %>
<% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>

<%= render '/layouts/ag2_gest/clientpaymentsbreadcrumb' %>

<h3><%= 'Cobros' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_gest.client_payments_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %><i class="icon-refresh"></i><% end %>
        <!-- Search form -->
        <%= form_tag "client_payments", :method => 'get', :remote => true do %>
          <!-- No -->
          <%= label_tag "label_no", I18n.t("activerecord.attributes.bill.bill_no_c"), :class => 'form-label' %>
          <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
          <!-- Project -->
          <%= label_tag "label_project", I18n.t("ag2_gest.invoices.index.label_project"), :class => 'form-label' %>
          <%= hidden_field_tag "Project", params[:Project], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
          <!-- Client -->
          <%= label_tag "label_client", I18n.t("ag2_gest.invoices.index.label_client"), :class => 'form-label-under-sel2' %>
          <%= text_field_tag "Client", params[:Client], :class => 'x-large-text-field shrinked' %>
          <!-- Subscriber -->
          <%= label_tag "label_subscriber", I18n.t("ag2_gest.invoices.index.label_subscriber"), :class => 'form-label' %>
          <%= text_field_tag "Subscriber", params[:Subscriber], :class => 'x-large-text-field shrinked' %>
          <!-- Street name -->
          <%= label_tag "label_street", I18n.t("ag2_gest.subscribers.index.supply_address"), :class => 'form-label' %>
          <%= text_field_tag "StreetName", params[:StreetName], :class => 'x-large-text-field shrinked' %>
          <!-- BankAccount -->
          <%= label_tag "label_bank_account", I18n.t("ag2_gest.contracting_requests.index.label_bank_account"), :class => 'form-label' %>
          <%= select_tag "BankAccount", options_for_select(@have_bank_account), include_blank: true, :prompt => "", :class => 'x-large-text-field shrinked' %>
          <!-- Period -->
          <%= label_tag "label_period", I18n.t("ag2_gest.invoices.index.label_period"), :class => 'form-label' %>
          <%= hidden_field_tag "Period", params[:Period], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
          <br /><br />
          <!-- Submit -->
          <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
          <!-- Remove filter -->
          <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>

      <!-- Report -->
      <!--
      <%#= label_tag I18n.t("ag2_gest.client_payments.report.report"), nil, :class => 'form-label-under-sel2' %>
      <%#= select_tag "Report", options_for_select(@reports), :prompt => "", :class => 'x-large-text-field shrinked sel3' %>
        <br /><br /> -->
        <!-- Control&Tracking -->
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t 'ag2_gest.home.index.control' %></a>
        <br /><br />

        <!-- <br /> -->
        <%= link_to t(".back_to_root"), ag2_gest.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div class="span6 text-center"><h4><%= t('activerecord.models.invoice.few') %></h4></div>
      <div class="span6 text-center"><h4><%= t('activerecord.models.client_payment.few') %></h4></div>
      <ul class="nav nav-tabs" id="payments-tabs">
        <li class="active" style="width:25%"><a id="pendings-tab" href="#pendings" data-toggle="tab"><%= I18n.t("ag2_gest.client_payments.index.pending") %></a></li>
        <!-- <li style="width:16%"><a href="#unpaid">Impagadas</a></li> -->
        <li style="width:25%"><a id="charged-tab" href="#charged" data-toggle="tab"><%= I18n.t("ag2_gest.client_payments.index.charged") %></a></li>
        <li class="pull-right"><a id="others-tab" href="#others" data-toggle="tab"><%= I18n.t("ag2_gest.client_payments.index.others") %></a></li>
        <li class="pull-right"><a id="fractionated-tab" href="#fractionated" data-toggle="tab"><%= I18n.t("ag2_gest.client_payments.index.deferrals") %></a></li>
        <li class="pull-right"><a id="banks-tab" href="#banks" data-toggle="tab"><%= I18n.t("ag2_gest.client_payments.index.bank") %></a></li>
        <li class="pull-right"><a id="cash-tab" href="#cash" data-toggle="tab"><%= I18n.t("ag2_gest.client_payments.index.cash") %></a></li>
      </ul>
      <div id="loader"></div>

      <div id="div_table">
        <div class="tab-content">
        <!-- PENDING TAB -->
          <div id="pendings" class="pendings tab-pane active">
            <%= render 'bills_pendings' %>
          </div>
          <div id="cashier" class="modal-footer">
            Future Cash payment (replacing modal)
            <a class="btn btn-primary" data-dismiss="modal" href="#" id="btn_close"><%= t :close_button %></a>
          </div>

          <!-- UNPAID TAB -->
          <!-- <div class="tab-pane" id="unpaid">
            <%#= render 'bills_unpaid' %>
          </div> -->

          <!-- CHARGED TAB -->
          <div id="charged" class="tab-pane">
            <%= render 'bills_charged' %>
          </div>

          <!-- CASH TAB -->
          <div id="cash" class="tab-pane">
            <%= render 'payments_cash' %>
          </div>

          <!-- BANK TAB -->
          <div id="banks" class="tab-pane">
            <%= render 'payments_bank' %>
          </div>

          <!-- OTHERS TAB -->
          <div id="others" class="tab-pane">
            <%= render 'payments_other' %>
          </div>

          <!-- FRACTIONATED TAB -->
          <div id="fractionated" class="tab-pane">
            <%= render 'instalments' %>
          </div>
        </div><!-- /.tab-content -->
      </div><!-- /#div_table -->
    </div><!-- /.span9 -->

    <!-- Modals -->
    <!-- Cash -->
    <%= render 'modal_cash' %>

    <!-- Others -->
    <%= render 'modal_others' %>

    <!-- Bank -->
    <%= render 'modal_bank' %>

    <!-- Instalments -->
    <%= render 'modal_instalment' %>

    <!-- Close Cash (modal) -->
    <div id="modal-close-cash" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="CerrarCaja" aria-hidden="true">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4><%= t "ag2_gest.client_payments.index.cash_closing" %></h4>
      </div>
      <%= simple_form_for :close_cash, url: close_cash_client_payments_path, method: :post, :html => {:class => 'modal-footer-right'} do |f| %>
        <div class="modal-body">
          <%= f.input :client_payments_ids, :as => :hidden %>
          <div class="control-group string required">
            <label class="string control-label">Saldo de apertura</label>
            <div class="controls">
              <input id="initial-cash" size="50" type="number" step="0.01">
            </div>
          </div>

          <div class="control-group string required">
            <label class="string control-label">Total cobrado</label>
            <div class="controls">
              <span id="total-cash"><%= number_with_precision(@cash_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></span>
            </div>
          </div>

          <div class="control-group string required">
            <label class="string control-label">Saldo de cierre</label>
            <div class="controls">
              <span id="ending-cash" size="50" type="number" step="0.01"><%= @client_payments_cash.sum{|c| c.amount} %></span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Confirmar", disable_with: t("activerecord.attributes.pre_reading.loading"), :class => 'btn btn-primary' %>
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
        </div>
      <% end %>
    </div><!-- Close Cash -->

    <!-- Cash To Pending (modal) -->
    <div id="modal-cash-to-pending" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Devolver" aria-hidden="true">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4><%= t "ag2_gest.client_payments.index.back_to_pending" %></h4>
      </div>
      <%= simple_form_for :cash_to_pending, url: cash_to_pending_client_payments_path, method: :post, :html => {:class => 'modal-footer-right'} do |f| %>
        <div class="modal-body">
          <%= f.input :client_payments_ids, :as => :hidden %>
          <div class="control-group string required">
            <label class="string control-label">Total a devolver</label>
            <div class="controls highlighted bolded">
              <span id="total-cash-to-pending"><%= number_with_precision(@cash_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Confirmar", disable_with: t("activerecord.attributes.pre_reading.loading"), :class => 'btn btn-primary' %>
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
        </div>
      <% end %>
    </div><!-- Cash To Pending -->

    <!-- Bank Confirmation (modal) -->
    <div id="modal-bank-confirm" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="ConfirmarBanco" aria-hidden="true">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4><%= t "ag2_gest.client_payments.index.bank_confirm" %></h4>
      </div>
      <%= simple_form_for :bank_confirm, url: confirm_bank_client_payments_path, method: :post, :html => {:class => 'modal-footer-right'} do |f| %>
        <div class="modal-body">
          <%= f.input :client_payments_ids, :as => :hidden %>
          <div class="control-group string required">
            <label class="string control-label">Recibos seleccionados</label>
            <div class="controls highlighted bolded">
              <span id="bank-bills-selected"><%= @bank_totals.payments %></span>
            </div>
          </div>

          <div class="control-group string required">
            <label class="string control-label">Total cobrado</label>
            <div class="controls highlighted bolded">
              <span id="bank-total-selected"><%= number_with_precision(@bank_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Confirmar", disable_with: t("activerecord.attributes.pre_reading.loading"), :class => 'btn btn-primary' %>
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
        </div>
      <% end %>
    </div><!-- Modal Close Cash -->

    <!-- Bank To Pending (modal) -->
    <div id="modal-bank-to-pending" class="modal hide fade" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Devolver" aria-hidden="true">
      <div class="modal-header">
        <a class="close" data-dismiss="modal">&#215;</a>
        <h4><%= t "ag2_gest.client_payments.index.back_to_pending" %></h4>
      </div>
      <%= simple_form_for :bank_to_pending, url: bank_to_pending_client_payments_path, method: :post, :html => {:class => 'modal-footer-right'} do |f| %>
        <div class="modal-body">
          <%= f.input :client_payments_ids, :as => :hidden %>
          <div class="control-group string required">
            <label class="string control-label">Recibos seleccionados</label>
            <div class="controls highlighted bolded">
              <span id="bank-to-pending-bills-selected"><%= @bank_totals.payments %></span>
            </div>
          </div>
          <div class="control-group string required">
            <label class="string control-label">Total a devolver</label>
            <div class="controls highlighted bolded">
              <span id="bank-to-pending-total-selected"><%= number_with_precision(@bank_totals.totals, precision: 2, delimiter: I18n.locale == :es ? "." : ",") %></span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <%= f.button :submit, "Confirmar", disable_with: t("activerecord.attributes.pre_reading.loading"), :class => 'btn btn-primary' %>
          <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
        </div>
      <% end %>
    </div><!-- Bank To Pending -->
  </div><!-- row-fluid -->
</div><!-- container-fluid -->

<script type="text/javascript">
  $('#payments-tabs a').click(function (e) {
    _active_tab = $(this).attr("id");
    e.preventDefault();
    $('input:checkbox').removeAttr('checked');
    $(this).tab('show');
    if (_active_tab == "pendings-tab") {
      show_cashier();
    } else {
      $("#cashier").hide();
    }
  });  

  $(".btn-others").click(function (e) {
    ids = $("#client_payment_other_invoices_ids").val();
    if (ids == null || ids == '') {
      alert('¡Debes seleccionar recibos o facturas pendientes de cobrar!');
      return false;
    }
  });

  $(".btn-cash").click(function (e) {
    ids = $("#client_payment_invoices_ids").val();
    if (ids == null || ids == '') {
      alert('¡Debes seleccionar recibos o facturas pendientes de cobrar!');
      return false;
    }
  });

  $(".btn-bank").click(function (e) {
    ids = $("#client_payment_bank_invoices_ids").val();
    if (ids == null || ids == '') {
      alert('¡Debes seleccionar recibos o facturas pendientes de cobrar!');
      return false;
    }
  });

  $(".btn-fractionated").click(function (e) {
    ids = $("#instalment_invoices_ids").val();
    if (ids == null || ids == '') {
      alert('¡Debes seleccionar recibos o facturas pendientes de cobrar!');
      return false;
    }
  });

  $("#close-cash").click(function(){
    var cp_ids = [];
    var cp_amount = 0;
    $('#cash-table tr').each(function() {
      id = $(this).find('td.cp-id').text();
      if (id != null && id != '') cp_ids.push(id);
      // amount = $(this).find('td.cp-amount').val();
      // cp_amount += parseFloat(amount);
    });
    $("#close_cash_client_payments_ids").val(cp_ids.filter(i=>i!=null))   // modal-cash
    // $("#close_cash_total-cash").text(cp_amount.format(4, 3, _delimiter, _separator));
  });

  $("#cash-to-pending").click(function(){
    var cp_ids = [];
    $('#cash-table tr').each(function() {
      id = $(this).find('td.cp-id').text();
      if (id != null && id != '') cp_ids.push(id);
    });  
    $("#cash_to_pending_client_payments_ids").val(cp_ids.filter(i => i!=null || i!=''))   // modal-cash-to-pending
  });

  $("#bank-confirm").click(function(){
    var cp_ids = [];
    var cp_amount = 0.0;
    $('#bank-table tr').each(function() {
      if ($(this).find('td input:checkbox').is(':checked')) {
        id = $(this).find('td.cpb-id').text();
        if (id != null && id != '') {
          cp_ids.push(id);
          amount = $(this).find('td.cpb-amount').text().replace(",", ".");
          cp_amount += parseFloat(amount);
        }
      }
    });
    if (cp_ids.length <= 0) {
      alert('¡Debes seleccionar cobros pendientes de confirmar!');
      return false;
    } else {
      $("#bank_confirm_client_payments_ids").val(cp_ids)   // modal-bank
      $("#bank-bills-selected").html(cp_ids.length);
      $("#bank-total-selected").html(cp_amount.format(4, 3, _delimiter, _separator));
    }
  });

  $("#bank-to-pending").click(function(){
    var cp_ids = [];
    var cp_amount = 0.0;
    $('#bank-table tr').each(function() {
      if ($(this).find('td input:checkbox').is(':checked')) {
        id = $(this).find('td.cpb-id').text();
        if (id != null && id != '') {
          cp_ids.push(id);
          amount = $(this).find('td.cpb-amount').text().replace(",", ".");
          cp_amount += parseFloat(amount);
        }
      }
    });
    if (cp_ids.length <= 0) {
      alert('¡Debes seleccionar cobros pendientes de confirmar!');
      return false;
    } else {
      $("#bank_to_pending_client_payments_ids").val(cp_ids.filter(i => i!=null || i!=''))   // modal-bank-to-pending
      $("#bank-to-pending-bills-selected").html(cp_ids.length);
      $("#bank-to-pending-total-selected").html(cp_amount.format(4, 3, _delimiter, _separator));
    }
  });

  $(".checkbox-master").click(function () {
    $(this).parents(".accordion").find("tbody").find("input[type=checkbox]").prop('checked', $(this).prop('checked'));
  });

  $(".checkbox-master-table").click(function () {
    $(this).parents(".table").find("tbody").find("input[type=checkbox]").prop('checked', $(this).prop('checked'));
  });

  $(".checkbox-main").click(function () {
    $(".checkbox-slave, .checkbox-master:not(:disabled)").prop('checked', $(this).prop('checked'));
  });
</script>
