<script>
$(document).ready(function() {
  $("#div_table th a, #div_table #pages a").on( "click", function() {
    $.getScript(this.href);
    return false;
  });
});
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", "Id" %></th>
      <th><%= sortable "name", t('activerecord.attributes.zone.name') %></th>
      <th><%= sortable "worker_id", t('activerecord.attributes.zone.worker') %></th>
      <th><%= sortable "organization_id", t('activerecord.attributes.zone.organization') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @zones.each do |zone| %>
    <tr>
      <td><%= zone.id %></td>
      <td><%= link_to zone.name, zone %></td>
      <td><%= zone.worker.full_name unless zone.worker.blank? %></td>
      <td><%= zone.organization.name %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Zone, :path => edit_zone_path(zone) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => Zone, :path => zone, :msg => I18n.t("activerecord.models.zone.one"), :txt => zone.name } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @zones } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => Zone, :path => new_zone_path, :txt => I18n.t("ag2_admin.zones.index.btn_new") } %>
<%= link_to I18n.t("ag2_admin.zones.index.go_to"), offices_path %> |
<%= link_to I18n.t("ag2_admin.zones.index.back_to_root"), ag2_admin.root_path %>
