<%= render '/layouts/ag2_help_desk/techniciansbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @technician.id %></td>
      <td><%=t :"activerecord.attributes.technician.name" %>:</td>
      <td><%= @technician.name.titleize %></td>
    </tr>
    <tr>
      <td><%=t :"activerecord.attributes.technician.user" %>:</td>
      <td><%= @technician.user.email %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @technician } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @technician } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Technician, update_path: edit_technician_path(@technician), update_txt: t('.btn_edit'),
delete_path: @technician, delete_txt: t('.btn_delete'), msg: t("activerecord.models.technician.one"), txt: @technician.name,
new_path: new_technician_path, new_txt: t('ag2_help_desk.technicians.index.btn_new') } %>

<%= link_to I18n.t("ag2_help_desk.technicians.back_to_main_page"), technicians_path %>
