<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= sortable "id", 'Id' %></th>
      <th><%= sortable "name", t('activerecord.attributes.debt_claim_status.name') %></th>
      <th align="center"><%= sortable "action", t('activerecord.attributes.debt_claim_status.action') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @debt_claim_statuses.each do |type| %>
    <tr>
      <td><%= type.id %></td>
      <td><%= link_to type.name, type %></td>
      <td align="center"><%= number_with_precision(type.action, precision: 0, delimiter: I18n.locale == :es ? "." : ",") unless type.action.blank? %></td>
      <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => DebtClaimStatus, :path => edit_debt_claim_status_path(type) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => DebtClaimStatus, :path => type, :msg => t("activerecord.models.debt_claim_status.one"), :txt => type.name } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @debt_claim_statuses } %>
<%= render :partial => '/layouts/crud/new', :locals => { :model => DebtClaimStatus, :path => new_debt_claim_status_path, :txt => t("ag2_gest.debt_claim_statuses.index.btn_new") } %>
<%= link_to t("ag2_gest.debt_claim_statuses.index.back_to_management"), ag2_gest.debt_claim_management_path %>
