<% content_for :title, "aGestiona2 | ag2Bill" %>
<% content_for :icon, "/assets/icon/TableA.png" %>
<% content_for :alt, "ag2Bill" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.new_bill_path %>"><%= t "ag2_gest.home.index.bill_management" %></a><span class="divider">></span>
  </li>

  <!-- New -->
  <% if (request.path == "/es/ag2_gest/es/bills/new" || request.path == "/en/ag2_gest/en/bills/new") %>
    <li>
      <a href="<%= ag2_gest.pre_index_bills_path %>"><%= t "ag2_gest.home.bill.service_billing" %></a><span class="divider">></span>
    </li>
    <li>
      Generar PreFacturas
    </li>
  <% else %>
    <!-- Bills -->
    <% if (request.path == "/es/ag2_gest/es/bills" || request.path == "/en/ag2_gest/en/bills") %>
      <li>
        <a href="<%= ag2_gest.pre_index_bills_path %>"><%= t "ag2_gest.home.bill.service_billing" %></a><span class="divider">></span>
      </li>
      <li>
        Confirmar PreFacturas
      </li>
    <% else %>
      <li>
        <%= t "ag2_gest.home.bill.service_billing" %>
      </li>
    <% end %>
  <% end %>

  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
