<% content_for :title, "aGestiona2 | ag2Caliber" %>
<% content_for :icon, "/assets/icon/TableA.png" %>
<% content_for :alt, "ag2Caliber" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.meter_management_path %>"><%= t "ag2_gest.home.index.meter_management" %></a><span class="divider">></span>
  </li>
  <% if @calibers %>
  <li>
    <%=t "ag2_gest.breadcrumb.calibers.items" %>
  </li>
  <% end %>
  <% if @caliber %>
  <li>
    <a href="<%= calibers_path %>"><%=t :"ag2_gest.breadcrumb.calibers.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.calibers.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>