<% content_for :title, "aGestiona2 | ag2GestDebtClaims" %>
<% content_for :icon, "/assets/icon/ag2DebtManagement.png" %>
<% content_for :alt, "ag2GestDebtClaim" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.debt_claim_management_path %>"><%= t "ag2_gest.home.index.debt_claim_management" %></a><span class="divider">></span>
  </li>
  <% if @debt_claims %>
  <li>
    <%=t "ag2_gest.breadcrumb.debt_claims.items" %>
  </li>
  <% end %>
  <% if @bills %>
  <li>
    <a href="<%= debt_claims_path %>"><%=t "ag2_gest.breadcrumb.debt_claims.items" %></a><span class="divider">></span>
    <%=t "ag2_gest.breadcrumb.debt_claims.bills" %>
  </li>
  <% end %>
  <% if @debt_claim %>
  <li>
    <a href="<%= debt_claims_path %>"><%=t "ag2_gest.breadcrumb.debt_claims.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.debt_claims.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
