<% content_for :title, "aGestiona2 | ag2GestFormalities" %>
<% content_for :icon, "/assets/icon/TableA.png" %>
<% content_for :alt, "ag2GestFormalities" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.formality_management_path %>"><%= t "ag2_gest.home.index.formality_management" %></a><span class="divider">></span>
  </li>
  <% if @formalities %>
  <li>
    <%=t "ag2_gest.breadcrumb.formalities.items" %>
  </li>
  <% end %>
  <% if @formality %>
  <li>
    <a href="<%= formalities_path %>"><%=t :"ag2_gest.breadcrumb.formalities.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.formalities.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
