<% content_for :title, "aGestiona2 | ag2Meters" %>
<% content_for :icon, "/assets/icon/ag2Meters.png" %>
<% content_for :alt, "ag2Meters" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.meter_management_path %>"><%= t "ag2_gest.home.index.meter_management" %></a><span class="divider">></span>
  </li>
  <% if @meters %>
  <li>
    <%=t "ag2_gest.breadcrumb.meters.items" %>
  </li>
  <% end %>
  <% if @meter %>
  <li>
    <a href="<%= meters_path %>"><%=t :"ag2_gest.breadcrumb.meters.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.meters.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>