<% content_for :title, "aGestiona2 | ag2Gest | ag2Tables" %>
<% content_for :icon, "/assets/icon/ag2PaymentMethods.png" %>
<% content_for :alt, "ag2Tables" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <% if @payment_methods %>
  <li>
    <%=t :"ag2_gest.breadcrumb.payment_methods.items" %>
  </li>
  <% end %>
  <% if @payment_method %>
  <li>
    <a href="<%= payment_methods_path %>"><%=t :"ag2_gest.breadcrumb.payment_methods.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.payment_methods.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
