<% content_for :title, "aGestiona2 | ag2GestPreReadings" %>
<% content_for :icon, "/assets/icon/ag2PreReadings.png" %>
<% content_for :alt, "ag2GestPreReadings" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.reading_management_path %>"><%= t "ag2_gest.home.index.reading_management" %></a><span class="divider">></span>
  </li>
  <% if @pre_readings %>
    <li>
      <%=t "ag2_gest.breadcrumb.pre_readings.items" %>
    </li>
    <% end %>
    <% if request.path == "/es/ag2_gest/es/pre_readings/new_impute" %>
    <li>
      <span class="divider">></span><a href="<%= ag2_gest.pre_readings_path %>"><%= t('activerecord.attributes.pre_reading.impute_readings') %></a>
    </li>
    <li>
      <span class="divider">></span><%= t('activerecord.attributes.pre_reading.impute_readings') %>
    </li>
  <% end %>
  <% if request.path == "/es/ag2_gest/es/pre_readings/impute_readings" %>
    <li>
      <span class="divider">></span><a href="<%= ag2_gest.pre_readings_path %>">Prelecturas</a>
    </li>
    <li>
      <span class="divider">></span>Confirmar definitivas
    </li>
  <% end %>

  <% if @pre_reading %>
  <li>
    <a href="<%= pre_readings_path %>"><%=t :"ag2_gest.breadcrumb.pre_readings.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.pre_readings.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>