<% content_for :title, "aGestiona2 | ag2ProcessedFiles" %>
<% content_for :icon, "/assets/icon/ag2BillCollectionsB.png" %>
<% content_for :alt, "ag2ProcessedFiles" %>

<!-- Breadcrumb -->
<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.client_payments_path %>"><%=t "ag2_gest.client_payments.index.title" %></a><span class="divider">></span>
  </li>
  <% if @processed_files %>
  <li>
    <%=t "ag2_gest.breadcrumb.processed_files.items" %>
  </li>
  <% end %>
  <% if @processed_file %>
  <li>
    <a href="<%= processed_files_path %>"><%=t "ag2_gest.breadcrumb.processed_files.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t "ag2_gest.breadcrumb.processed_files.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>
  <!-- Records navigator -->
  <% if @breadcrumb == 'read' %>
  <li>
    <span class="divider"></span>
  </li>
  <% end %>
  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
