<% content_for :title, "aGestiona2 | ag2GestReadings" %>
<% content_for :icon, "/assets/icon/ag2Readings.png" %>
<% content_for :alt, "ag2GestReadings" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.reading_management_path %>"><%= t "ag2_gest.home.index.reading_management" %></a><span class="divider">></span>
  </li>
  <% if @readings %>
  <li>
    <%=t "ag2_gest.breadcrumb.readings.items" %>
  </li>
  <% end %>
  <% if @reading %>
  <li>
    <a href="<%= readings_path %>"><%=t :"ag2_gest.breadcrumb.readings.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.readings.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
