<% content_for :title, "aGestiona2 | ag2GestRegulationType" %>
<% content_for :icon, "/assets/icon/TableA.png" %>
<% content_for :alt, "ag2GestRegulationType" %>

<ul class="breadcrumb">
  <li>
    <a href="<%= main_app.root_path %>"><i class="icon-home"></i></a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.root_path %>">ag2Gest</a><span class="divider">></span>
  </li>
  <li>
    <a href="<%= ag2_gest.tariff_management_path %>">Gestión de tarifas</a><span class="divider">></span>
  </li>
  <% if @regulation_types %>
  <li>
    <%=t "ag2_gest.breadcrumb.regulation_types.items" %>
  </li>
  <% end %>
  <% if @regulation_type %>
  <li>
    <a href="<%= regulation_types_path %>"><%=t :"ag2_gest.breadcrumb.regulation_types.items" %></a><span class="divider">></span>
  </li>
  <% if @breadcrumb == 'read' || @breadcrumb == 'update' %>
  <%=t :"ag2_gest.breadcrumb.regulation_types.item" %>
  <% end %>
  <% if @breadcrumb == 'create' %>
  <li>
    <%= t :"breadcrumb.new" %>
  </li>
  <% end %>

  <% end %>
  <!-- Close -->
  <a class="close" href="<%= ag2_gest.root_path %>">&#215;</a>
</ul>
