<script>
  var text_field_color;
  var _thisForm = '';
  
  $(document).ready(function() {
    $('select.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    if ($('#purchase_order_order_date').val() == "") {
      $('#purchase_order_order_date').datepicker('setValue', es_date(new Date()));
    }

    // Save default text color
    text_field_color = $("#purchase_order_order_no").css('color')
    
    // Initialized form variable
    _thisForm = $("#purchase_order_order_no").closest('form')[0];

    // Icon inside text field: Generate No
    $('input.iconify').wrap('<span class="generateicon" title="<%=t('generate') %>" />').after($('<span/>').click(function() {
      $('#generate_code_btn').trigger("click");
      return false;
    }));

    // Disable fields if Order# blank
    var order = $('#purchase_order_order_no').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty order: Disable
      $('#submit_btn').hide();
      $('.fnt-new-btn').hide();
    } else {
      // Order OK: Enable
      $('#submit_btn').show();
      $('.fnt-new-btn').show();
    }

    // Disable generate_code_btn if purchase_order_project_id blank
    var order = $('#purchase_order_project_id').val();
    if (order == "")
      order = "0";
    if (order == "0") {
      // Empty project: Hide
      $('#generate_code_btn').hide();
    } else {
      // Project OK: Show
      $('#generate_code_btn').show();
    }
    
    // Can't change order no if editing
    if ('<%= @breadcrumb %>' == "update") {
      $('#purchase_order_order_no').prop('readonly', true);
    } else {
      $('#purchase_order_order_no').prop('readonly', false);
    }
    
    // Set initial focus
    $(this).find(".form-label:first").focus();
  });
  
  jQuery(function($) {
    // when the #purchase_order_order_no field changes
    $("#purchase_order_order_no").change(function() {
      var order = $('#purchase_order_order_no').val();
      if (order == "")
        order = "0";
      if (order == "0") {
        // Empty order: Disable
        $('#submit_btn').hide();
        $('.fnt-new-btn').hide();
      } else {
        // Order: OK: Enable
        $('#submit_btn').show();
        $('.fnt-new-btn').show();
      }
    });
    
    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var order = $('select#purchase_order_project_id :selected').val();
      if (order == "")
        order = "$";
      jQuery.getJSON('po_generate_no/' + order, function(data) {
        $("#purchase_order_order_no").val(data.code);
        if ($("#purchase_order_order_no").val() == "$err") {
          $("#purchase_order_order_no").css('color', 'red');
          alert('<%= I18n.t("ag2_purchase.purchase_orders.no_error") %>');
          $('#purchase_order_order_no').select();
        } else {
          $("#purchase_order_order_no").css('color', text_field_color);
          $('#purchase_order_order_no').trigger("change");
        }
      });
      return false;
    });

    // when the #purchase_order_organization_id field changes
    $("#purchase_order_organization_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#purchase_order_organization_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('po_update_project_textfields_from_organization/' + order, function(data) {
        var c = data.supplier;
        var p = data.project;
        var w = data.work_order;
        var h = data.charge_account
        var s = data.store
        var m = data.payment_method
        // Supplier
        $("#purchase_order_supplier_id").html("");
        $("#purchase_order_supplier_id").select2("val", "");
        $("#purchase_order_supplier_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'supplier' && option != "") {
              $("#purchase_order_supplier_id").append($('<option></option>').val(option.id).html(option.supplier_code.substring(0,4) + "-" + option.supplier_code.substring(4,8) + "-" + option.supplier_code.substring(8,14) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#purchase_order_supplier_id").append($('<option></option>').val(option.id).html(option.supplier_code.substring(0,4) + "-" + option.supplier_code.substring(4,8) + "-" + option.supplier_code.substring(8,14) + " " + option.name));
          });
        }
        // Project
        $("#purchase_order_project_id").html("");
        $("#purchase_order_project_id").select2("val", "");
        $("#purchase_order_project_id").append($('<option></option>').val("").html(""));
        if (!p.length) {
          $.each(data, function(id, option) {
            if (id == 'project' && option != "") {
              $("#purchase_order_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
            }
          });
        } else {
          $.each(p, function(id, option) {
            $("#purchase_order_project_id").append($('<option></option>').val(option.id).html(option.project_code.substring(0,3) + "-" + option.project_code.substring(3,6) + "-" + option.project_code.substring(6,12) + " " + option.name));
          });
        }
        // Work order
        $("#purchase_order_work_order_id").html("");
        $("#purchase_order_work_order_id").select2("val", "");
        $("#purchase_order_work_order_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'type' && option != "") {
              $("#purchase_order_work_order_id").append($('<option></option>').val(option.id).html(option.order_no.substring(0,10) + "-" + option.order_no.substring(10,14) + "-" + option.order_no.substring(14,20) + " " + option.description.substring(0,41)));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#purchase_order_work_order_id").append($('<option></option>').val(option.id).html(option.order_no.substring(0,10) + "-" + option.order_no.substring(10,14) + "-" + option.order_no.substring(14,20) + " " + option.description.substring(0,41)));
          });
        }
        // Charge account
        $("#purchase_order_charge_account_id").html("");
        $("#purchase_order_charge_account_id").select2("val", "");
        $("#purchase_order_charge_account_id").append($('<option></option>').val("").html(""));
        if (!h.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#purchase_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(h, function(id, option) {
            $("#purchase_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        // Store
        $("#purchase_order_store_id").html("");
        $("#purchase_order_store_id").select2("val", "");
        $("#purchase_order_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#purchase_order_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#purchase_order_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Payment method
        $("#purchase_order_payment_method_id").html("");
        $("#purchase_order_payment_method_id").val("");
        $("#purchase_order_payment_method_id").append($('<option></option>').val("").html(""));
        if (!m.length) {
          $.each(data, function(id, option) {
            if (id == 'payment_method' && option != "") {
              $("#purchase_order_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
            }
          });
        } else {
          $.each(m, function(id, option) {
            $("#purchase_order_payment_method_id").append($('<option></option>').val(option.id).html(option.description));
          });
        }
      });
      if (order == "0") {
        $("#purchase_order_project_id").val(0);
        $("#purchase_order_project_id").trigger("change");
      }
      return false;
    });

    // when the #purchase_order_supplier_id field changes
    $("#purchase_order_supplier_id").change(function() {
      // make a POST call and replace the content
      var supplier = $('select#purchase_order_supplier_id :selected').val();
      if (supplier == "")
        supplier = "0";
      jQuery.getJSON('po_update_offer_select_from_supplier/' + supplier, function(data) {
        $("#purchase_order_offer_id").html("");
        $("#purchase_order_offer_id").select2("val", "");
        $("#purchase_order_offer_id").append($('<option></option>').val("").html(""));
        $.each(data, function(id, option) {
          $("#purchase_order_offer_id").append($('<option></option>').val(option.id).html(option.offer_no + ' ' + option.offer_date + ' ' + option.supplier.name));
        });
        //$("#purchase_order_offer_id").val(data.id);
      });
      return false;
    });

    // when the #purchase_order_project_id field changes
    $("#purchase_order_project_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#purchase_order_project_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('po_update_charge_account_from_project/' + order, function(data) {
        var w = data.work_order;
        var c = data.charge_account;
        var s = data.store;
        // Work Order
        $("#purchase_order_work_order_id").html("");
        $("#purchase_order_work_order_id").select2("val", "");
        $("#purchase_order_work_order_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'work_order' && option != "") {
              $("#purchase_order_work_order_id").append($('<option></option>').val(option.id).html(option.order_no.substring(0,10) + "-" + option.order_no.substring(10,14) + "-" + option.order_no.substring(14,20) + " " + option.description));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#purchase_order_work_order_id").append($('<option></option>').val(option.id).html(option.order_no.substring(0,10) + "-" + option.order_no.substring(10,14) + "-" + option.order_no.substring(14,20) + " " + option.description));
          });
        }
        // Charge Account
        $("#purchase_order_charge_account_id").html("");
        $("#purchase_order_charge_account_id").select2("val", "");
        $("#purchase_order_charge_account_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#purchase_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#purchase_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        // Store
        $("#purchase_order_store_id").html("");
        $("#purchase_order_store_id").select2("val", "");
        $("#purchase_order_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#purchase_order_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#purchase_order_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
      });
      // Disable generate_code_btn if purchase_order_project_id blank
      if (order == "0") {
        // Empty project: Hide
        $('#generate_code_btn').hide();
      } else {
        // Project OK: Show
        $('#generate_code_btn').show();
      }
      return false;
    });

    // when the #purchase_order_work_order_id field changes
    $("#purchase_order_work_order_id").change(function() {
      // make a POST call and replace the content
      var order = $('select#purchase_order_work_order_id :selected').val();
      if (order == "")
        order = "0";
      jQuery.getJSON('po_update_charge_account_from_order/' + order, function(data) {
        var c = data.charge_account;
        var s = data.store;
        var c_id = data.charge_account_id;
        var s_id = data.store_id;
        // Charge Account
        $("#purchase_order_charge_account_id").html("");
        $("#purchase_order_charge_account_id").select2("val", "");
        $("#purchase_order_charge_account_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'charge_account' && option != "") {
              $("#purchase_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#purchase_order_charge_account_id").append($('<option></option>').val(option.id).html(option.account_code.substring(0,4) + "-" + option.account_code.substring(4,11) + " " + option.name));
          });
        }
        if (c_id != 0) $("#purchase_order_charge_account_id").select2("val", c_id);
        // Store
        $("#purchase_order_store_id").html("");
        $("#purchase_order_store_id").select2("val", "");
        $("#purchase_order_store_id").append($('<option></option>').val("").html(""));
        if (!s.length) {
          $.each(data, function(id, option) {
            if (id == 'store' && option != "") {
              $("#purchase_order_store_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(s, function(id, option) {
            $("#purchase_order_store_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        if (s_id != 0) $("#purchase_order_store_id").select2("val", s_id);
      });
      return false;
    });

    // when the #purchase_order_discount_pct field changes
    $("#purchase_order_discount_pct").change(function() {
      var num = $('#purchase_order_discount_pct').val();
      if (num == "")
        num = "0";
      // Right formatted for passing as REST parameter
      num = parseInt(right_number(num, 2) * 100);
      jQuery.getJSON('po_format_number/' + num, function(data) {
        $('#purchase_order_discount_pct').val(data.num);
      });
      // Update and display totals
      $('#items-table').trigger('totals');
      return false;
    });

    // when the #purchase_order_retention_pct field changes
    $("#purchase_order_retention_pct").change(function() {
      var num = $('#purchase_order_retention_pct').val();
      if (num == "")
        num = "0";
      // Right formatted for passing as REST parameter
      num = parseInt(right_number(num, 2) * 100);
      jQuery.getJSON('po_format_number/' + num, function(data) {
        $('#purchase_order_retention_pct').val(data.num);
      });
      return false;
    });
    
    // when submit    
    $(_thisForm).on('submit', function() {
      // Must change decimal separator, if comma, in items table numeric fields
      var price = '';
      var qty = '';
      var discount_p = '';
      var discount = '';
      $('tr.fields').each(function() {
        price = $(this).find('input.fnt-price').val().replace(",", ".");
        qty = $(this).find('input.fnt-quantity').val().replace(",", ".");
        discount_p = $(this).find('input.fnt-discount-pct').val().replace(",", ".");
        discount = $(this).find('input.fnt-discount').val().replace(",", ".");
        $(this).find('input.fnt-price').val(price);
        $(this).find('input.fnt-quantity').val(qty);
        $(this).find('input.fnt-discount-pct').val(discount_p);
        $(this).find('input.fnt-discount').val(discount);
      });
      // Must change decimal separator, if comma, in numeric fields
      var num = $('#purchase_order_discount_pct').val().replace(",", ".");
      $('#purchase_order_discount_pct').val(num);
      var num = $('#purchase_order_retention_pct').val().replace(",", ".");
      $('#purchase_order_retention_pct').val(num);
      //e.preventDefault();
    });
  });
</script>

<%= simple_form_for @purchase_order, html: { class: 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two">
    <% if session[:organization] != '0' %>
    <%= f.association :organization, disabled: true, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.organizations.count > 0 %>
    <%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two"> <%= f.association :project, collection: @projects, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :order_no, input_html: { class: 'mid-text-field iconify' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :order_date, start_year: Time.now.year - 100, end_year: Time.now.year + 100, as: :string, input_html: { value: (f.object.order_date.strftime("%d/%m/%Y") if f.object.order_date), class: 'mid-text-field date_picker' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :supplier, collection: @suppliers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :offer, collection: @offers, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :order_status, collection: OrderStatus.all(order: 'id'), input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :work_order, collection: @work_orders, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :store, collection: @stores, input_html: { class: 'x-large-text-field sel2' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider-half"> <%= f.association :payment_method, collection: @payment_methods, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner-quarter"><%= f.input :retention_pct, as: :string, input_html: { value: (number_with_precision(f.object.retention_pct, precision: 2) if f.object.retention_pct), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner-quarter"> <%= f.input :retention_time, input_html: { class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.purchase_orders.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to_add_fields(t("ag2_purchase.purchase_orders.btn_new_item"), f, :purchase_order_items, "item_fields", "new-item-fields", class: "btn btn-warning fnt-new-btn") %>
      </td>
    </tr>
  </tbody>
</table>
<%= render 'items_table', f: f %>
<!-- Remarks -->
<%= f.input :remarks, as: :text, input_html: { class: 'x-large-text-field', rows: 3 }, label_html: { class: 'form-label' } %>
<!-- Buttons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary', :id => 'submit_btn' %> </td>
      <% if @breadcrumb == 'create'%>
      <td class="form-td-three right-winged"><a href="#" id="generate_code_btn" class="btn btn-warning"><%=t 'ag2_purchase.purchase_orders.generate_code_btn' %></a></td>
      <% end %>
    </tr>
  </tbody>
</table>
<% end %>
