<script>
  $(document).ready(function() {
    $('.isel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      containerCssClass: 'sub-select2-field'
    });
  }); 
</script>

<table id="items-table" class="table table-condensed table-striped shrinked fixed">
  <!-- product -->
  <col width="10%" />
  <!-- description -->
  <col width="25%" />
  <!-- quantity -->
  <col width="10%" />
  <!-- price -->
  <col width="10%" />
  <!-- discount_pct -->
  <col width="10%" />
  <!-- discount -->
  <col width="10%" />
  <!-- amount -->
  <col width="10%" />
  <!-- tax -->
  <col width="10%" />
  <!-- button -->
  <col width="5%" />
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tbody>
    <%= f.simple_fields_for :purchase_order_items, defaults: { input_html: { class: 'sub-form' } } do |i| %>
    <tr class="fields">
      <td><%= i.association :product, label: false, collection: Product.all(order: 'product_code'), input_html: { class: 'isel2' } %></td>
      <td><%= i.input :description, label: false, input_html: { onkeyup: "caps(this)", class: 'sub-alfanumeric-text-field' } %></td>
      <td><%= i.input :quantity, label: false, as: :string, input_html: { value: (number_with_precision(i.object.quantity, precision: 4) if i.object.quantity), class: 'sub-number-text-field' } %></td>
      <td><%= i.input :price, label: false, as: :string, input_html: { value: (number_with_precision(i.object.price, precision: 4) if i.object.price), class: 'sub-number-text-field' } %></td>
      <td><%= i.input :discount_pct, label: false, as: :string, input_html: { value: (number_with_precision(i.object.discount_pct, precision: 2) if i.object.discount_pct), class: 'sub-number-text-field' } %></td>
      <td><%= i.input :discount, label: false, as: :string, input_html: { value: (number_with_precision(i.object.discount, precision: 4) if i.object.discount), class: 'sub-number-text-field' } %></td>
      <td><%= i.input :amount, disabled: true, label: false, as: :string, input_html: { value: (number_with_precision(i.object.amount, precision: 4) if i.object.amount), class: 'sub-number-text-field sub-disabled-field' } %></td>
      <td><%= i.input :tax, disabled: true, label: false, as: :string, input_html: { value: (number_with_precision(i.object.tax, precision: 4) if i.object.tax), class: 'sub-number-text-field sub-disabled-field' } %></td>
      <% if current_page?(new_purchase_order_path) || current_page?(edit_purchase_order_path) %>
      <td><%= link_to_remove_fields('<i class="icon-trash"></i>'.html_safe, i) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
