<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.purchase_order.order_no' %></th>
      <th align="center"><%= t 'activerecord.attributes.purchase_order.order_date' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.order_status' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.supplier' %></th>
      <th><%= t 'activerecord.attributes.purchase_order.offer' %></th>
      <th align="right"><%= t 'activerecord.attributes.purchase_order.total' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @purchase_orders.each do |order| %>
    <% if !order.approver_id.blank? %>
      <tr class="approved-tr">
    <% else %>
      <tr>
    <% end %>
      <td><%= link_to order.full_no, order %>
        <% if order.balance <= 0 %> <!-- fully received -->
        <i class="icon-star" style="margin-left: 0.2em;">
        <% elsif order.balance == order.quantity %> <!-- not received -->
        <i class="icon-warning-sign" style="margin-left: 0.2em;"
        title="<%= number_with_precision(order.balance, precision: 4) %>">
        <% else %> <!-- partially received -->
        <i class="icon-star-empty" style="margin-left: 0.2em;" 
        title="<%= number_with_precision(order.balance, precision: 4) + 
        t(:of) + number_with_precision(order.quantity, precision: 4) %>">
        <% end %>
      </td>
      <td align="center"><%= formatted_date(order.order_date) unless order.order_date.blank? %></td>
      <td><%= order.order_status.name %></td>
      <td><%= order.supplier.full_name[0,32] %></td>
      <td><%= order.offer.offer_no unless order.offer.blank? %></td>
      <td align="right"><%= number_with_precision(order.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless order.total.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => PurchaseOrder, :path => edit_purchase_order_path(order) } unless cannot_edit(order) %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => PurchaseOrder, :path => order, :msg => t("activerecord.models.purchase_order.one"), :txt => order.full_no } unless cannot_edit(order) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @purchase_orders } %>
