<%= render '/layouts/ag2_purchase/ordersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t(".btn_show"), @purchase_order %> |
<%= link_to t("ag2_purchase.purchase_orders.back_to_main_page"), purchase_orders_path %>
