<script>
  var _thisForm = '';

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    // Initialized form variable
    _thisForm = $("#Supplier").closest('form')[0];
  }); 

  $(window).bind("load", function() {
    $("#Project").select2("val", "<%= params[:Project] %>");
    $("#Supplier").select2("val", "<%= params[:Supplier] %>");
    $("#Status").val("<%= params[:Status] %>");
  });

  jQuery(function($) {
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#Project").select2("val", "");
      $("#Supplier").select2("val", "");
      $("#Status").val("");
      $("#search").val("");
      _thisForm.submit();
    });
  });
</script>

<%= render '/layouts/ag2_purchase/ordersbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "purchase_orders", :method => 'get' do %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_project"), nil, :class => 'form-label' %>
        <%= select_tag "Project", options_from_collection_for_select(@projects, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_supplier"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Supplier", options_from_collection_for_select(@suppliers, "id", "full_name"), :prompt => "", :class => 'x-large-text-field shrinked sel2' %>
        <!-- Status -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_status"), nil, :class => 'form-label-under-sel2' %>
        <%= select_tag "Status", options_from_collection_for_select(@statuses, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_purchase.purchase_orders.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => PurchaseOrder, :path => new_purchase_order_path, :txt => t(".btn_new") } %>
        <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <tr>
            <th><%= t 'activerecord.attributes.purchase_order.order_no' %></th>
            <th align="center"><%= t 'activerecord.attributes.purchase_order.order_date' %></th>
            <th><%= t 'activerecord.attributes.purchase_order.order_status' %></th>
            <th><%= t 'activerecord.attributes.purchase_order.supplier' %></th>
            <th><%= t 'activerecord.attributes.purchase_order.offer' %></th>
            <th align="right"><%= t 'activerecord.attributes.purchase_order.total' %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @purchase_orders.each do |order| %>
          <tr>
            <td><%= link_to order.full_no, order %></td>
            <td align="center"><%= order.order_date.strftime("%d/%m/%Y") unless order.order_date.blank? %></td>
            <td><%= order.order_status.name %></td>
            <td><%= order.supplier.full_name[0,40] %></td>
            <td><%= order.offer.offer_no unless order.offer.blank? %></td>
            <td align="right"><%= number_with_precision(order.total, precision: 4) unless order.total.blank? %></td>
            <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => PurchaseOrder, :path => edit_purchase_order_path(order) } %>
            <%= render :partial => '/layouts/crud/delete', :locals => { :model => PurchaseOrder, :path => order, :msg => t("activerecord.models.purchase_order.one"), :txt => order.order_no } %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @purchase_orders } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
