<%= render '/layouts/ag2_purchase/ordersbreadcrumb' %>

<div class="span11">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= t 'activerecord.attributes.purchase_order.order_no' %></th>
        <th><%= t 'activerecord.attributes.purchase_order.order_date' %></th>
        <th><%= t 'activerecord.attributes.purchase_order.order_status' %></th>
        <th><%= t 'activerecord.attributes.purchase_order.supplier' %></th>
        <th><%= t 'activerecord.attributes.purchase_order.offer' %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @purchase_orders.each do |order| %>
      <tr>
        <td><%= link_to order.order_no, order %></td>
        <td><%= order.order_date %></td>
        <td><%= order.order_status.name %></td>
        <td><%= order.supplier.full_name %></td>
        <td><%= order.offer.offer_no unless order.offer.blank? %></td>
        <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => PurchaseOrder, :path => edit_purchase_order_path(order) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => PurchaseOrder, :path => order, :msg => t("activerecord.models.purchase_order.one"), :txt => order.order_no } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @purchase_orders } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => PurchaseOrder, :path => new_purchase_order_path, :txt => t(".btn_new") } %>
  <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
</div>
