<%= render '/layouts/ag2_purchase/ordersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @purchase_order.id %></td>
      <td><%=t 'activerecord.attributes.purchase_order.order_no' %>:</td>
      <td><%= @purchase_order.order_no %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.order_date' %>:</td>
      <td><%= @purchase_order.order_date.strftime("%d/%m/%Y") unless @purchase_order.order_date.blank? %></td>
      <td><%=t 'activerecord.attributes.purchase_order.order_status' %>:</td>
      <td> <%= @purchase_order.order_status.name %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.supplier' %>:</td>
      <td><%= @purchase_order.supplier.name %></td>
      <td><%=t 'activerecord.attributes.purchase_order.offer' %>:</td>
      <td><%= @purchase_order.offer.offer_no unless @purchase_order.offer.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.payment_method' %>:</td>
      <td> <%= @purchase_order.payment_method.description %> </td>
      <td><%=t 'activerecord.attributes.purchase_order.project' %>:</td>
      <td><%= @purchase_order.project.name unless @purchase_order.project.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.charge_account' %>:</td>
      <td> <%= @purchase_order.charge_account.name unless @purchase_order.charge_account.blank? %> </td>
      <td><%=t 'activerecord.attributes.purchase_order.work_order' %>:</td>
      <td><%= @purchase_order.work_order.order_no unless @purchase_order.work_order.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.store' %>:</td>
      <td> <%= @purchase_order.store.name unless @purchase_order.store.blank? %> </td>
      <td><%= t :"activerecord.attributes.purchase_order.remarks" %>:</td>
      <td><%= @purchase_order.remarks unless @purchase_order.remarks.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.retention_pct' %>:</td>
      <td><%= number_to_percentage(@purchase_order.retention_pct, precision: 2, locale: :es) unless @purchase_order.retention_pct.blank? %></td>
      <td><%=t 'activerecord.attributes.purchase_order.retention_time' %>:</td>
      <td><%= @purchase_order.retention_time unless @purchase_order.retention_time.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @purchase_order } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @purchase_order } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: PurchaseOrder, update_path: edit_purchase_order_path(@purchase_order), update_txt: t('.btn_edit'),
delete_path: @purchase_order, delete_txt: t('.btn_delete'), msg: t("activerecord.models.purchase_order.one"), txt: @purchase_order.order_no,
new_path: new_purchase_order_path, new_txt: t('ag2_purchase.purchase_orders.index.btn_new') } %>

<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.purchase_orders.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <%= link_to t(".print"), purchase_orders_path, :class => 'btn btn-warning' %>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<br />
<% end %> <!-- end @items.count > 0 -->

<%= link_to t("ag2_purchase.purchase_orders.back_to_main_page"), purchase_orders_path %>
