<%= render '/layouts/ag2_purchase/ordersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @purchase_order.id %></td>
      <td><%=t 'activerecord.attributes.purchase_order.order_no' %>:</td>
      <td><%= @purchase_order.order_no %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.order_date' %>:</td>
      <td> <% if @purchase_order.order_date %> </td>
      <td><%=t 'activerecord.attributes.purchase_order.order_status' %>:</td>
      <td> <% if @purchase_order.order_status.name %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.purchase_order.order_date' %>:</td>
      <td> <% if @purchase_order.approval %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
      <td><%=t 'activerecord.attributes.purchase_order.order_status' %>:</td>
      <td> <% if @purchase_order.notification %> <i class="icon-thumbs-up"></i> <% else %> <i class="icon-thumbs-down"></i> <% end %> </td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @purchase_order } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @purchase_order } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: PurchaseOrder, update_path: edit_purchase_order_path(@purchase_order), update_txt: t('.btn_edit'),
delete_path: @purchase_order, delete_txt: t('.btn_delete'), msg: t("activerecord.models.purchase_order.one"), txt: @purchase_order.order_no,
new_path: new_purchase_order_path, new_txt: t('ag2_purchase.purchase_orders.index.btn_new') } %>

<%= link_to t("ag2_purchase.purchase_orders.back_to_main_page"), purchase_orders_path %>
