<script>
  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
  });  

  jQuery(function($) {
    // when the #department_company_id field changes
    $("#department_company_id").change(function() {
      // make a POST call and replace the content
      var department = $('select#department_company_id :selected').val();
      if (department == "")
        department = "0";
      jQuery.getJSON('de_update_worker_select_from_company/' + department, function(data) {
        var w = data.workers;
        $("#department_worker_id").html("");
        $("#department_worker_id").select2("val", "");
        $("#department_worker_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'companies' && option != "") {
              $("#department_worker_id").append($('<option></option>').val(option.id).html(option.last_name + ", " + option.first_name));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#department_worker_id").append($('<option></option>').val(option.id).html(option.last_name + ", " + option.first_name));
          });
        }
      });
      return false;
    });

    // when the #department_organization_id field changes
    $("#department_organization_id").change(function() {
      // make a POST call and replace the content
      var department = $('select#department_organization_id :selected').val();
      if (department == "")
        department = "0";
      jQuery.getJSON('de_update_company_select_from_organization/' + department, function(data) {
        var c = data.companies;
        var w = data.workers;
        // Companies
        $("#department_company_id").html("");
        $("#department_company_id").val("");
        $("#department_company_id").append($('<option></option>').val("").html(""));
        if (!c.length) {
          $.each(data, function(id, option) {
            if (id == 'companies' && option != "") {
              $("#department_company_id").append($('<option></option>').val(option.id).html(option.name));
            }
          });
        } else {
          $.each(c, function(id, option) {
            $("#department_company_id").append($('<option></option>').val(option.id).html(option.name));
          });
        }
        // Workers
        $("#department_worker_id").html("");
        $("#department_worker_id").select2("val", "");
        $("#department_worker_id").append($('<option></option>').val("").html(""));
        if (!w.length) {
          $.each(data, function(id, option) {
            if (id == 'workers' && option != "") {
              $("#department_worker_id").append($('<option></option>').val(option.id).html(option.last_name + ", " + option.first_name));
            }
          });
        } else {
          $.each(w, function(id, option) {
            $("#department_worker_id").append($('<option></option>').val(option.id).html(option.last_name + ", " + option.first_name));
          });
        }
      });
      return false;
    });
  });
</script>

<%= simple_form_for @department, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.input :code, :autofocus => true, :input_html => { :class => 'mid-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two">
    <% if session[:organization] != '0' %>
    <%= f.association :organization, collection: Organization.where("id = ?", "#{session[:organization]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.organizations.count > 0 %>
    <%= f.association :organization, collection: current_user.organizations.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :organization, collection: Organization.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' } %>
    <% end %>
  </label>
  <label class="multi-field-label-two">
    <% if session[:company] != '0' %>
    <%= f.association :company, collection: Company.where("id = ?", "#{session[:company]}").all, input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% elsif current_user.companies.count > 0 %>
    <%= f.association :company, collection: current_user.companies.order('name'), input_html: { class: 'x-large-text-field' }, label_html: { class: 'form-label' }, include_blank: false %>
    <% else %>
    <%= f.association :company, collection: @companies, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %>
    <% end %>
  </label>
</div>
<%= f.association :worker, collection: @workers, :input_html => { :class => 'x-large-text-field sel2' }, :label_html => { :class => 'form-label' } %>
<%= f.button :submit, :class => 'btn-primary form-button-under-sel2' %>
<% end %>
