<%= render '/layouts/ag2_admin/departmentsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to I18n.t('ag2_admin.departments.edit.btn_show'), @department %> |
<%= link_to I18n.t('ag2_admin.departments.back_to_main_page'), departments_path %>
