<%= render '/layouts/ag2_admin/departmentsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @department.id %></td>
      <td><%=t 'activerecord.attributes.department.code' %>:</td>
      <td><b><%= @department.code %></b></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.department.name' %>:</td>
      <td><%= @department.name %></td>
      <td><%=t 'activerecord.attributes.department.organization' %>:</td>
      <td><%= @department.organization.name unless @department.organization.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.department.company' %>:</td>
      <td><%= @department.company.name unless @department.company.blank? %></td>
      <td><%=t 'activerecord.attributes.department.worker' %>:</td>
      <td><%= @department.worker.full_name unless @department.worker.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @department } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @department } %>
  </tbody>
</table>

<% if cannot_edit(@department.company_id) %>
<%= render partial: '/layouts/crud/new', locals: { model: Department, path: new_department_path, txt: I18n.t("ag2_admin.departments.index.btn_new") } %>
<% else %>
<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Department, update_path: edit_department_path(@department), update_txt: t('.btn_edit'),
delete_path: @department, delete_txt: t('.btn_delete'), msg: t("activerecord.models.department.one"), txt: @department.name,
new_path: new_department_path, new_txt: t('ag2_admin.departments.index.btn_new') } %>
<% end %>

<% if (@areas.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.area.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @areas.each do |area| %>
    <tr>
      <td><%= link_to area.name, area %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @areas } %>
<% end %>

<%= link_to I18n.t('ag2_admin.departments.back_to_main_page'), departments_path %>
