<%= render '/layouts/ag2_admin/officesbreadcrumb' %>

<h3>Offices</h3>
<div class="span9">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Company</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @offices.each do |office| %>
      <tr>
        <td><%= link_to office.office_code, office %></td>
        <td><%= office.name %></td>
        <td><%= Company.find(office.company).name unless office.company.nil? %></td>
        <td><%= link_to edit_office_path(office), :class => 'btn btn-mini' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to(office, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') do %> <i class="icon-trash"></i> <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Office', new_office_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Go to ag2Companies', companies_path %> |
  <%= link_to 'Back to ag2Admin', ag2_admin.root_path %>
</div>
