<%= render '/layouts/ag2_admin/officesbreadcrumb' %>

<h3><%= @office.name %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @office.id %></td>
      <td><%= t 'activerecord.attributes.office.office_code' %>:</td>
      <td class="highlighted bolded"><%= @office.office_code unless @office.office_code.nil? %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.company' %>:</td>
      <td><%= @office.company.name unless @office.company.blank? %></td>
      <td><%= t 'activerecord.attributes.office.phone' %>:</td>
      <td><%= @office.phone %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.fax' %>:</td>
      <td><%= @office.fax %></td>
      <td><%= t 'activerecord.attributes.office.cellular' %>:</td>
      <td><%= @office.cellular %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.address' %>:</td>
      <td> <%= @office.street_type.street_type_code.titleize  %>. <%= @office.street_name %> <%= @office.street_number %>
      <% if !@office.building.nil? %>
      <%= @office.building.titleize %>
      <% end %>
      <% if !@office.floor.nil? %>
      <%= @office.floor_human %>
      <% end %>
      <% if !@office.floor_office.nil? %>
      <%= @office.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.town' %>:</td>
      <td><%= @office.town.name %></td>
      <td><%= t 'activerecord.attributes.office.province' %>:</td>
      <td><%= @office.province.name_region_country %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.zipcode' %>:</td>
      <td><%= @office.zipcode.zipcode %></td>
      <td><%= t 'activerecord.attributes.office.email' %>:</td>
      <td><%= @office.email %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.zone' %>:</td>
      <td><%= @office.zone.name unless @office.zone.blank? %></td>
      <% if (current_user.has_role? :Administrator) || (current_user.has_role? :ag2Human_User) || (current_user.has_role? :ag2Human_Guest) %>
      <td><%= t 'activerecord.attributes.office.nomina_id' %>:</td>
      <td><%= @office.nomina_id unless @office.nomina_id.blank? %></td>
      <% else %>
      <td></td>
      <td></td>
      <% end %>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @office } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @office } %>
  </tbody>
</table>

<!-- Representative info -->
<h4><%=t 'activerecord.attributes.office.representative' %></h4>
<table class="table odd_even_table">
  <!-- name -->
  <col width="25%" />
  <col width="25%" />
  <!-- fiscal id -->
  <col width="25%" />
  <col width="25%" />
  <tbody>
    <tr>
      <td><%= t "activerecord.attributes.office.r_full_name" %>:</td>
      <td><%= @office.r_full_name %></td>
      <td><%= t "activerecord.attributes.office.r_fiscal_id_c" %>:</td>
      <td><%= @office.r_fiscal_id %></td>
    </tr>
    <tr>
      <td><%= t "activerecord.attributes.office.r_position" %>:</td>
      <td colspan="3"><%= @office.r_position %></td>
    </tr>
  </tbody>
</table>

<!-- Commercial info -->
<h4><%=t 'ag2_admin.offices.commercial_info' %></h4>
<table class="table odd_even_table">
  <!-- max order total -->
  <col width="25%" />
  <col width="25%" />
  <!-- max order price -->
  <col width="25%" />
  <col width="25%" />
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.office.max_order_total" %>:</td>
      <td><%= number_with_precision(@office.max_order_total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless @office.max_order_total.blank? %></td>
      <td><%= t :"activerecord.attributes.office.max_order_price" %>:</td>
      <td><%= number_with_precision(@office.max_order_price, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless @office.max_order_price.blank? %></td>
    </tr>
  </tbody>
</table>

<!-- Employment info -->
<h4><%=t 'ag2_admin.offices.employment_info' %></h4>
<table class="table odd_even_table">
  <!-- overtime -->
  <col width="25%" />
  <col width="25%" />
  <!-- ... -->
  <col width="25%" />
  <col width="25%" />
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.office.overtime_pct" %>:</td>
      <td><%= number_with_precision(@office.overtime_pct, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless @office.overtime_pct.blank? %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Office, update_path: edit_office_path(@office), update_txt: t('.btn_edit'),
delete_path: @office, delete_txt: t('.btn_delete'), msg: t("activerecord.models.office.one"), :txt => @office.name,
new_path: new_office_path, new_txt: t('ag2_admin.offices.index.btn_new') } %>

<!-- Notificatons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_admin.offices.notifications_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn"><i class="icon-arrow-up"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@notifications.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <!-- notification -->
  <col width="55%" />
  <!-- user -->
  <col width="30%" />
  <!-- role -->
  <col width="15%" />
  <thead>
    <%= render 'notifications_header' %>
  </thead>
  <tbody>
    <%= render partial: 'notification', collection: @notifications %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @notifications } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @notifications } %>
<% end %> <!-- end @notifications.count > 0 -->

<%= link_to I18n.t('ag2_admin.offices.show.show_to'), @office.company %> |
<% if !@office.zone.blank? %>
<%= link_to I18n.t('ag2_admin.offices.show.show_to_'), @office.zone %> |
<% end %>
<%= link_to I18n.t('ag2_admin.offices.back_to_main_page'), offices_path %>
