<%= render '/layouts/ag2_admin/officesbreadcrumb' %>

<h3><%= @office.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @office.id %></td>
      <td><%= t 'activerecord.attributes.office.office_code' %>:</td>
      <td><b><%= @office.office_code unless @office.office_code.nil? %></b></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.company' %>:</td>
      <td><%= @office.company.name unless @office.company.blank? %></td>
      <td><%= t 'activerecord.attributes.office.phone' %>:</td>
      <td><%= @office.phone %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.fax' %>:</td>
      <td><%= @office.fax %></td>
      <td><%= t 'activerecord.attributes.office.cellular' %>:</td>
      <td><%= @office.cellular %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.address' %>:</td>
      <td> <%= @office.street_type.street_type_code.titleize  %>. <%= @office.street_name %> <%= @office.street_number %>
      <% if !@office.building.nil? %>
      <%= @office.building.titleize %>
      <% end %>
      <% if !@office.floor.nil? %>
      <%= @office.floor %>&ordm;
      <% end %>
      <% if !@office.floor_office.nil? %>
      <%= @office.floor_office %>
      <% end %> </td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.town' %>:</td>
      <td><%= @office.town.name %></td>
      <td><%= t 'activerecord.attributes.office.province' %>:</td>
      <td><%= @office.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%= t 'activerecord.attributes.office.zipcode' %>:</td>
      <td><%= @office.zipcode.zipcode %></td>
      <td><%= t 'activerecord.attributes.office.email' %>:</td>
      <td><%= @office.email %></td>
    </tr>
    <% if (current_user.has_role? :Administrator) || (current_user.has_role? :ag2Human_User) || (current_user.has_role? :ag2Human_Guest) %>
    <tr>
      <td><%= t 'activerecord.attributes.office.nomina_id' %>:</td>
      <td><%= @office.nomina_id unless @office.nomina_id.blank? %></td>
      <td></td>
      <td></td>
    </tr>
    <% end %>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @office } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @office } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Office, update_path: edit_office_path(@office), update_txt: t('.btn_edit'),
delete_path: @office, delete_txt: t('.btn_delete'), msg: t("activerecord.models.office.one"), :txt => @office.name,
new_path: new_office_path, new_txt: t('ag2_admin.offices.index.btn_new') } %>

<%= link_to I18n.t('ag2_admin.offices.show.show_to'), @office.company %> |
<%= link_to I18n.t('ag2_admin.offices.back_to_main_page'), offices_path %>
