<%= render '/layouts/ag2_purchase/purchasebreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= suppliers_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Suppliers.png" width="48" height="48" alt="ag2Suppliers" /><h5 class="h5-narrow"><%=t ".suppliers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= suppliers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Suppliers.png" width="96" height="96" alt="ag2Suppliers" /><h5 class="h5-narrow"><%=t ".suppliers" %></h5></a>
    <% else %>
    <a href="<%= suppliers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Suppliers.png" width="128" height="128" alt="ag2Suppliers" /><h5 class="h5-narrow"><%=t ".suppliers" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= offer_requests_path %>" class="thumbnail centered"><img src="/assets/icon/ag2OfferRequests.png" width="48" height="48" alt="ag2OfferRequests" /><h5 class="h5-narrow"><%=t ".offer_requests" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= offer_requests_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2OfferRequests.png" width="96" height="96" alt="ag2OfferRequests" /><h5 class="h5-narrow"><%=t ".offer_requests" %></h5></a>
    <% else %>
    <a href="<%= offer_requests_path %>" class="thumbnail centered"><img src="/assets/pict/ag2OfferRequests.png" width="128" height="128" alt="ag2OfferRequests" /><h5 class="h5-narrow"><%=t ".offer_requests" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= offers_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Offers.png" width="48" height="48" alt="ag2Offers" /><h5 class="h5-narrow"><%=t ".offers" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= offers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Offers.png" width="96" height="96" alt="ag2Offers" /><h5 class="h5-narrow"><%=t ".offers" %></h5></a>
    <% else %>
    <a href="<%= offers_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Offers.png" width="128" height="128" alt="ag2Offers" /><h5 class="h5-narrow"><%=t ".offers" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 2 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= purchase_orders_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Orders.png" width="48" height="48" alt="ag2PurchaseOrders" /><h5 class="h5-narrow"><%=t ".purchase_orders" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= purchase_orders_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Orders.png" width="96" height="96" alt="ag2PurchaseOrders" /><h5 class="h5-narrow"><%=t ".purchase_orders" %></h5></a>
    <% else %>
    <a href="<%= purchase_orders_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Orders.png" width="128" height="128" alt="ag2PurchaseOrders" /><h5 class="h5-narrow"><%=t ".purchase_orders" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= supplier_invoices_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Invoices.png" width="48" height="48" alt="ag2SupplierInvoices" /><h5 class="h5-narrow"><%=t ".supplier_invoices" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= supplier_invoices_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Invoices.png" width="96" height="96" alt="ag2SupplierInvoices" /><h5 class="h5-narrow"><%=t ".supplier_invoices" %></h5></a>
    <% else %>
    <a href="<%= supplier_invoices_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Invoices.png" width="128" height="128" alt="ag2SupplierInvoices" /><h5 class="h5-narrow"><%=t ".supplier_invoices" %></h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= supplier_payments_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Payments.png" width="48" height="48" alt="ag2Payments" /><h5 class="h5-narrow"><%=t ".payments" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= supplier_payments_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Payments.png" width="96" height="96" alt="ag2Payments" /><h5 class="h5-narrow"><%=t ".payments" %></h5></a>
    <% else %>
    <a href="<%= supplier_payments_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Payments.png" width="128" height="128" alt="ag2Payments" /><h5 class="h5-narrow"><%=t ".payments" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
<ul class="thumbnails">
  <!-- Apps 3 -->
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= activities_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".activities" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= activities_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".activities" %></h5></a>
    <% else %>
    <a href="<%= activities_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".activities" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/icon/ag2PaymentMethods.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2PaymentMethods72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% else %>
    <a href="<%= payment_methods_path %>" class="thumbnail centered"><img src="/assets/pict/ag2PaymentMethods96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".payment_methods" %></h5></a>
    <% end %>
  </li>
  <li class="span2">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= order_statuses_path %>" class="thumbnail centered"><img src="/assets/icon/TableA.png" width="48" height="48" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".order_statuses" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= order_statuses_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/TableA72.png" width="72" height="72" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".order_statuses" %></h5></a>
    <% else %>
    <a href="<%= order_statuses_path %>" class="thumbnail centered"><img src="/assets/pict/TableA96.png" width="96" height="96" alt="ag2Tables" /><h5 class="h5-narrow"><%=t ".order_statuses" %></h5></a>
    <% end %>
  </li>
  <li class="span2"></li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= ag2_purchase.ag2_purchase_track_path %>" class="thumbnail centered"><img src="/assets/icon/ag2PurchaseTrack.png" width="48" height="48" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= ag2_purchase.ag2_purchase_track_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2PurchaseTrack72.png" width="72" height="72" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% else %>
    <a href="<%= ag2_purchase.ag2_purchase_track_path %>" class="thumbnail centered"><img src="/assets/pict/ag2PurchaseTrack96.png" width="96" height="96" alt="Control Tracking" /><h5 class="h5-narrow"><%=t ".control" %></h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->
