<%= render '/layouts/ag2_human/sconceptsbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span11">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "name", t('activerecord.attributes.salary_concept.name') %></th>
        <th><%= sortable "nomina_id", t('activerecord.attributes.salary_concept.nomina_id') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @salary_concepts.each do |t| %>
      <tr>
        <td><%= link_to t.name, t %></td>
        <td><%= t.nomina_id unless t.nomina_id.blank? %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => SalaryConcept, :path => edit_salary_concept_path(t) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => SalaryConcept, :path => t, :msg => I18n.t("activerecord.models.salary_concept.one"), :txt => t.name } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @salary_concepts } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => SalaryConcept, :path => new_salary_concept_path, :txt => t(".btn_new") } %>
  <%= link_to t(".go_to_workers"), workers_path %> |
  <%= link_to t(".back_to_root"), ag2_human.root_path %>
</div>
