<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th>Id</th>
      <th align="center"><%= t "activerecord.attributes.cash_movement.movement_date" %></th>
      <th><%= t "activerecord.attributes.cash_movement.ocop" %></th>
      <th><%= t "activerecord.attributes.cash_movement.cash_movement_type" %></th>
      <th><%= t "activerecord.attributes.cash_movement.payment_method" %></th>
      <th align="right"><%= t "activerecord.attributes.cash_movement.amount" %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @cash_movements.each do |cash_movement| %>
    <% if !cash_movement.used_in_cash_desk_closing %>
    <tr class="approved-tr">
    <% else %>
    <tr>
    <% end %>
      <td><%= cash_movement.id %></td>
      <td align="center"><%= formatted_date(cash_movement.movement_date) unless cash_movement.movement_date.blank? %></td>
      <td><%= cash_movement.ocop %></td>
      <td><%= cash_movement.right_code_and_type_label %></td>
      <td><%= cash_movement.payment_method_description %></td>
      <td align="right"><%= cash_movement.formatted_amount %></td>
      <td>
        <%= render :partial => '/layouts/crud/read', :locals => { :model => CashMovement, :path => cash_movement_path(cash_movement) } %>
        <%= render :partial => '/layouts/crud/edit', :locals => { :model => CashMovement, :path => edit_cash_movement_path(cash_movement) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => CashMovement, :path => cash_movement, :msg => t("activerecord.models.cash_movement.one"), :txt => cash_movement.to_label } %>
      </td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @cash_movements } %>

