<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.budget.budget_no' %></th>
      <th><%= t 'activerecord.attributes.budget.description' %></th>
      <th><%= t 'activerecord.attributes.budget.project' %></th>
      <th><%= t 'activerecord.attributes.budget.budget_period' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @budgets.each do |budget| %>
    <% if !budget.approval_date.blank? %>
    <tr>
      <% else %>
    <tr class="inactive-row">
      <% end %>
      <td><%= link_to budget.budget_no, budget %></td>
      <td><%= budget.description[0,40] %></td>
      <td><%= budget.project.full_code unless budget.project.blank? %></td>
      <td><%= budget.budget_period.name unless budget.budget_period.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => Budget, :path => edit_budget_path(budget) } %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => Budget, :path => budget, :msg => t("activerecord.models.budget.one"), :txt => budget.budget_no } %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @budgets } %>
