<script>
  var _f;
  var _p = "0";

  $(document).ready(function() {
    // Retrieves parent values
    _f = $("#fnt-account").closest('form')[0];
    _p = $('select#budget_project_id').val();
    if (_p == "") _p = "0";

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-month01 field changes
    $("#fnt-month01").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month02 field changes
    $("#fnt-month02").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month03 field changes
    $("#fnt-month03").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month04 field changes
    $("#fnt-month04").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month05 field changes
    $("#fnt-month05").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month06 field changes
    $("#fnt-month06").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month07 field changes
    $("#fnt-month07").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month08 field changes
    $("#fnt-month08").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month09 field changes
    $("#fnt-month09").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month10 field changes
    $("#fnt-month10").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month11 field changes
    $("#fnt-month11").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-month12 field changes
    $("#fnt-month12").change(function() {
      var _this = (this);
      recalculate_bu_fields(_this);
      return false;
    });

    // when the #fnt-corrected field changes
    $("#fnt-corrected").change(function() {
      var _this = (this);
      var tbl = false;
      var cor = $('#fnt-corrected').val();
      if (typeof cor === "undefined") {
        tbl = true;
        cor = $(_this).closest('tr').find('.fnt-corrected').val();
      }
      if (cor == "")
        cor = "0";
      // Right formatted for passing as REST parameter
      cor = parseInt(right_number(cor, 4) * 10000);
      jQuery.getJSON('bu_update_corrected/' + cor + "/" + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-corrected').val(data.corrected);
        } else {
          $('#fnt-corrected').val(data.corrected);
        }
        // Update and display totals
        $('#items-table').trigger('totals');
      });
      return false;
    });

    // Recalculate amounts & prices
    function recalculate_bu_fields(_this) {
      // make a POST call and replace the content
      var tbl = false;
      var m01 = $('#fnt-month01').val();
      if (typeof m01 === "undefined") {
        tbl = true;
        m01 = $(_this).closest('tr').find('.fnt-month01').val();
      }
      if (m01 == "")
        m01 = "0";
      var m02 = $('#fnt-month02').val();
      if (typeof m02 === "undefined") {
        tbl = true;
        m02 = $(_this).closest('tr').find('.fnt-month02').val();
      }
      if (m02 == "")
        m02 = "0";
      var m03 = $('#fnt-month03').val();
      if (typeof m03 === "undefined") {
        tbl = true;
        m03 = $(_this).closest('tr').find('.fnt-month03').val();
      }
      if (m03 == "")
        m03 = "0";
      var m04 = $('#fnt-month04').val();
      if (typeof m04 === "undefined") {
        tbl = true;
        m04 = $(_this).closest('tr').find('.fnt-month04').val();
      }
      if (m04 == "")
        m04 = "0";
      var m05 = $('#fnt-month05').val();
      if (typeof m05 === "undefined") {
        tbl = true;
        m05 = $(_this).closest('tr').find('.fnt-month05').val();
      }
      if (m05 == "")
        m05 = "0";
      var m06 = $('#fnt-month06').val();
      if (typeof m06 === "undefined") {
        tbl = true;
        m06 = $(_this).closest('tr').find('.fnt-month06').val();
      }
      if (m06 == "")
        m06 = "0";
      var m07 = $('#fnt-month07').val();
      if (typeof m07 === "undefined") {
        tbl = true;
        m07 = $(_this).closest('tr').find('.fnt-month07').val();
      }
      if (m07 == "")
        m07 = "0";
      var m08 = $('#fnt-month08').val();
      if (typeof m08 === "undefined") {
        tbl = true;
        m08 = $(_this).closest('tr').find('.fnt-month08').val();
      }
      if (m08 == "")
        m08 = "0";
      var m09 = $('#fnt-month09').val();
      if (typeof m09 === "undefined") {
        tbl = true;
        m09 = $(_this).closest('tr').find('.fnt-month09').val();
      }
      if (m09 == "")
        m09 = "0";
      var m10 = $('#fnt-month10').val();
      if (typeof m10 === "undefined") {
        tbl = true;
        m10 = $(_this).closest('tr').find('.fnt-month10').val();
      }
      if (m10 == "")
        m10 = "0";
      var m11 = $('#fnt-month11').val();
      if (typeof m11 === "undefined") {
        tbl = true;
        m11 = $(_this).closest('tr').find('.fnt-month11').val();
      }
      if (m11 == "")
        m11 = "0";
      var m12 = $('#fnt-month12').val();
      if (typeof m12 === "undefined") {
        tbl = true;
        m12 = $(_this).closest('tr').find('.fnt-month12').val();
      }
      if (m12 == "")
        m12 = "0";
      // Right formatted for passing as REST parameter
      m01 = parseInt(right_number(m01.toString(), 4) * 10000);
      m02 = parseInt(right_number(m02.toString(), 4) * 10000);
      m03 = parseInt(right_number(m03.toString(), 4) * 10000);
      m04 = parseInt(right_number(m04.toString(), 4) * 10000);
      m05 = parseInt(right_number(m05.toString(), 4) * 10000);
      m06 = parseInt(right_number(m06.toString(), 4) * 10000);
      m07 = parseInt(right_number(m07.toString(), 4) * 10000);
      m08 = parseInt(right_number(m08.toString(), 4) * 10000);
      m09 = parseInt(right_number(m09.toString(), 4) * 10000);
      m10 = parseInt(right_number(m10.toString(), 4) * 10000);
      m11 = parseInt(right_number(m11.toString(), 4) * 10000);
      m12 = parseInt(right_number(m12.toString(), 4) * 10000);
      jQuery.getJSON('bu_update_annual/' + m01 + '/' + m02 + '/' + m03 + '/' + m04 + '/' +
                                           m05 + '/' + m06 + '/' + m07 + '/' + m08 + '/' +
                                           m09 + '/' + m10 + '/' + m11 + '/' + m12 + "/" + tbl, function(data) {
        if (data.tbl == "true") {
          $(_this).closest('tr').find('.fnt-month01').val(data.month01);
          $(_this).closest('tr').find('.fnt-month02').val(data.month02);
          $(_this).closest('tr').find('.fnt-month03').val(data.month03);
          $(_this).closest('tr').find('.fnt-month04').val(data.month04);
          $(_this).closest('tr').find('.fnt-month05').val(data.month05);
          $(_this).closest('tr').find('.fnt-month06').val(data.month06);
          $(_this).closest('tr').find('.fnt-month07').val(data.month07);
          $(_this).closest('tr').find('.fnt-month08').val(data.month08);
          $(_this).closest('tr').find('.fnt-month09').val(data.month09);
          $(_this).closest('tr').find('.fnt-month10').val(data.month10);
          $(_this).closest('tr').find('.fnt-month11').val(data.month11);
          $(_this).closest('tr').find('.fnt-month12').val(data.month12);
          $(_this).closest('tr').find('.fnt-annual').val(data.annual);
        } else {
          $('#fnt-month01').val(data.month01);
          $('#fnt-month02').val(data.month02);
          $('#fnt-month03').val(data.month03);
          $('#fnt-month04').val(data.month04);
          $('#fnt-month05').val(data.month05);
          $('#fnt-month06').val(data.month06);
          $('#fnt-month07').val(data.month07);
          $('#fnt-month08').val(data.month08);
          $('#fnt-month09').val(data.month09);
          $('#fnt-month10').val(data.month10);
          $('#fnt-month11').val(data.month11);
          $('#fnt-month12').val(data.month12);
          $('#fnt-annual').val(data.annual);
        }
        // Update and display totals
        $('#items-table').trigger('totals');
      });
    }
  });
</script>

<div id="new-item-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.budgets.add_item") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <a href="javascript:scrollToAnchorModal('#fnt-corrected');" style="float: right" id="go-bottom"><i class="icon-arrow-down" title="<%=t(:bottom) %>"></i></a>
    <div style="overflow: hidden; padding-left: 0em;">
      <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-account', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label fnt-account-label' } %>
    </div>
    <%= f.input :month_01, as: :string, input_html: { value: (number_with_precision(f.object.month_01, precision: 4) if f.object.month_01), class: 'mid-text-field number-text-field field', id: 'fnt-month01' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_02, as: :string, input_html: { value: (number_with_precision(f.object.month_02, precision: 4) if f.object.month_02), class: 'mid-text-field number-text-field field', id: 'fnt-month02' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_03, as: :string, input_html: { value: (number_with_precision(f.object.month_03, precision: 4) if f.object.month_03), class: 'mid-text-field number-text-field field', id: 'fnt-month03' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_04, as: :string, input_html: { value: (number_with_precision(f.object.month_04, precision: 4) if f.object.month_04), class: 'mid-text-field number-text-field field', id: 'fnt-month04' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_05, as: :string, input_html: { value: (number_with_precision(f.object.month_05, precision: 4) if f.object.month_05), class: 'mid-text-field number-text-field field', id: 'fnt-month05' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_06, as: :string, input_html: { value: (number_with_precision(f.object.month_06, precision: 4) if f.object.month_06), class: 'mid-text-field number-text-field field', id: 'fnt-month06' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_07, as: :string, input_html: { value: (number_with_precision(f.object.month_07, precision: 4) if f.object.month_07), class: 'mid-text-field number-text-field field', id: 'fnt-month07' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_08, as: :string, input_html: { value: (number_with_precision(f.object.month_08, precision: 4) if f.object.month_08), class: 'mid-text-field number-text-field field', id: 'fnt-month08' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_09, as: :string, input_html: { value: (number_with_precision(f.object.month_09, precision: 4) if f.object.month_09), class: 'mid-text-field number-text-field field', id: 'fnt-month09' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_10, as: :string, input_html: { value: (number_with_precision(f.object.month_10, precision: 4) if f.object.month_10), class: 'mid-text-field number-text-field field', id: 'fnt-month10' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_11, as: :string, input_html: { value: (number_with_precision(f.object.month_11, precision: 4) if f.object.month_11), class: 'mid-text-field number-text-field field', id: 'fnt-month11' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_12, as: :string, input_html: { value: (number_with_precision(f.object.month_12, precision: 4) if f.object.month_12), class: 'mid-text-field number-text-field field', id: 'fnt-month12' }, label_html: { class: 'form-label' } %>
    <%= f.input :annual, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.annual, precision: 4) if f.object.annual), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-annual' }, label_html: { class: 'form-label' } %>
    <a href="javascript:scrollToAnchorModal('#fnt-account');" style="float: right" id="go-top"><i class="icon-arrow-up" title="<%=t(:top) %>"></i></a>
    <a href="javascript:goToAnchorModal('.fnt-account-label');" style="float: right" id="go-to"><i class="icon-bookmark" title="<%=t(:goto_acnt) %>"></i></a>
    <div style="overflow: hidden; padding-left: 0em;">
      <%= f.input :corrected_amount, as: :string, input_html: { value: (number_with_precision(f.object.corrected_amount, precision: 4) if f.object.corrected_amount), class: 'mid-text-field number-text-field field', id: 'fnt-corrected' }, label_html: { class: 'form-label' } %>
    </div>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.budgets.add_item_to", var: @budget.budget_no) unless @budget.budget_no.blank? %></span>
    <button id="addButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.budgets.btn_add_item') %></button>
    <button id="cancelButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  bu_itemFieldsUI.init(sel2NoMatch);
</script>
