<script>
  var _s = "0";
  
  $(document).ready(function() {
    // Retrieves parent values
    var _f = $("#fnt-product").closest('form')[0];
    _s = $('select#budget_store_id :selected').val();
    if (_s == "") _s = "0";

    // Set focus
    $(".modal").on('shown', function() {
      $(this).find(".form-label:first").focus();
    });
  });

  jQuery(function($) {
    // when the #fnt-product field changes
    $("#fnt-product").change(function() {
      // make a POST call and replace the content
      var product = $('select#fnt-product :selected').val();
      if (product == "")
        product = "0";
      var qty = $('#fnt-quantity').val();
      if (qty == "")
        qty = "0";
      // Right formatted for passing as REST parameter
      qty = parseInt(right_number(qty, 4) * 10000);
      //qty = qty.replace(",", ".") * 10000;
      jQuery.getJSON('wo_update_description_prices_from_product/' + product + '/' + qty + '/' + _s, function(data) {
        $("#fnt-description").val(data.description);
        $("#fnt-cost").val(data.cost);
        $("#fnt-costs").val(data.costs);
        $("#fnt-price").val(data.price);
        $("#fnt-amount").val(data.amount);
        $("#fnt-tax-type").val(data.type);
        $("#fnt-tax").val(data.tax);
        $("#current-stock").html(data.stock);
      });
      return false;
    });


    // when the #fnt-quantity field changes
    $("#fnt-quantity").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the #fnt-price field changes
    $("#fnt-price").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the #fnt-cost field changes
    $("#fnt-cost").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var cost = $('#fnt-cost').val();
      if (cost == "")
        cost = "0";
      var price = $('#fnt-price').val();
      if (price == "")
        price = "0";
      var qty = $('#fnt-quantity').val();
      if (qty == "")
        qty = "0";
      var tax_type = $('#fnt-tax-type').val();
      if (tax_type == "")
        tax_type = "0";
      var product = $('select#fnt-product :selected').val();
      if (product == "")
        product = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      price = parseInt(right_number(price, 4) * 10000);
      qty = parseInt(right_number(qty, 4) * 10000);
      jQuery.getJSON('wo_update_amount_and_costs_from_price_or_quantity/' + cost + '/' + price + '/' + qty + '/' + tax_type + '/' + product, function(data) {
        $('#fnt-quantity').val(data.quantity);
        $('#fnt-cost').val(data.cost);
        $('#fnt-costs').val(data.costs);
        $('#fnt-price').val(data.price);
        $('#fnt-amount').val(data.amount);
        $('#fnt-tax').val(data.tax);
        // Update and display totals
        $('#items-table').trigger('totals');
      });
    }
  })
</script>

<div id="new-item-fields" class="modal hide fade" data-backdrop="static">
  <% e = t(:item_error) %>
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3><%= t("ag2_tech.budgets.add_item") %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <%= f.association :charge_account, collection: @charge_accounts, input_html: { class: 'x-large-text-field fsel2 field', id: 'fnt-account', data: { validation: "required", "validation-error-msg" => "#{e}" } }, label_html: { class: 'form-label' } %>
    <%= f.input :month_01, as: :string, input_html: { value: (number_with_precision(f.object.month_01, precision: 4) if f.object.month_01), class: 'mid-text-field number-text-field field', id: 'fnt-month01' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_02, as: :string, input_html: { value: (number_with_precision(f.object.month_02, precision: 4) if f.object.month_02), class: 'mid-text-field number-text-field field', id: 'fnt-month02' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_03, as: :string, input_html: { value: (number_with_precision(f.object.month_03, precision: 4) if f.object.month_03), class: 'mid-text-field number-text-field field', id: 'fnt-month03' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_04, as: :string, input_html: { value: (number_with_precision(f.object.month_04, precision: 4) if f.object.month_04), class: 'mid-text-field number-text-field field', id: 'fnt-month04' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_05, as: :string, input_html: { value: (number_with_precision(f.object.month_05, precision: 4) if f.object.month_05), class: 'mid-text-field number-text-field field', id: 'fnt-month05' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_06, as: :string, input_html: { value: (number_with_precision(f.object.month_06, precision: 4) if f.object.month_06), class: 'mid-text-field number-text-field field', id: 'fnt-month06' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_07, as: :string, input_html: { value: (number_with_precision(f.object.month_07, precision: 4) if f.object.month_07), class: 'mid-text-field number-text-field field', id: 'fnt-month07' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_08, as: :string, input_html: { value: (number_with_precision(f.object.month_08, precision: 4) if f.object.month_08), class: 'mid-text-field number-text-field field', id: 'fnt-month08' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_09, as: :string, input_html: { value: (number_with_precision(f.object.month_09, precision: 4) if f.object.month_09), class: 'mid-text-field number-text-field field', id: 'fnt-month09' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_10, as: :string, input_html: { value: (number_with_precision(f.object.month_10, precision: 4) if f.object.month_10), class: 'mid-text-field number-text-field field', id: 'fnt-month10' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_11, as: :string, input_html: { value: (number_with_precision(f.object.month_11, precision: 4) if f.object.month_11), class: 'mid-text-field number-text-field field', id: 'fnt-month11' }, label_html: { class: 'form-label' } %>
    <%= f.input :month_12, as: :string, input_html: { value: (number_with_precision(f.object.month_12, precision: 4) if f.object.month_12), class: 'mid-text-field number-text-field field', id: 'fnt-month12' }, label_html: { class: 'form-label' } %>
    <%= f.input :annual, disabled: true, as: :string, input_html: { value: (number_with_precision(f.object.annual, precision: 4) if f.object.annual), class: 'mid-text-field number-text-field sub-disabled-field field', id: 'fnt-annual' }, label_html: { class: 'form-label' } %>
    <%= f.input :corrected_amount, as: :string, input_html: { value: (number_with_precision(f.object.corrected_amount, precision: 4) if f.object.corrected_amount), class: 'mid-text-field number-text-field field', id: 'fnt-corrected' }, label_html: { class: 'form-label' } %>
    <%= f.input :_destroy, as: :hidden, input_html: { class: 'field' } %>
  </div>
  <div class="modal-footer">
    <span class="left-floated shrinked" style="vertical-align: bottom"><%= t("ag2_tech.budgets.add_item_to", var: @budget.budget_no) unless @budget.budget_no.blank? %></span>
    <button id="addButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t('ag2_tech.budgets.btn_add_item') %></button>
    <button id="cancelButton" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :close_button %></button>
  </div>
</div>

<script type="text/javascript">
  sel2NoMatch = '<%= t("select2.no_matches") %>';
  bu_itemFieldsUI.init(sel2NoMatch);
</script>