<script>
  $(document).ready(function() {
    $('.isel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      containerCssClass: 'sub-select2-field'
    });

    // Trigger to display totals at table foot
    $('#items-table').bind('totals', function(event) {
      // Sum necessary values from table rows
      var qty = 0;
      var costs = 0;
      var amount = 0;
      var tax = 0;
      $('#items-table tr.fields:visible').each(function() {
        qty += parseFloat(right_number($(this).find('input.fnt-quantity').val(), 4));
        costs += parseFloat(right_number($(this).find('input.fnt-costs').val(), 4));
        amount += parseFloat(right_number($(this).find('input.fnt-amount').val(), 4));
        tax += parseFloat(right_number($(this).find('input.fnt-tax').val(), 4));
      });
      qty = parseInt(right_number(qty.toString(), 4) * 10000);
      costs = parseInt(right_number(costs.toString(), 4) * 10000);
      amount = parseInt(right_number(amount.toString(), 4) * 10000);
      tax = parseInt(right_number(tax.toString(), 4) * 10000);
      jQuery.getJSON('wo_item_totals/' + qty + '/' + amount + '/' + costs + '/' + tax, function(data) {
        document.getElementById('foot-quantity').innerHTML = data.qty;
        document.getElementById('foot-costs').innerHTML = data.costs;
        document.getElementById('foot-amount').innerHTML = data.amount;
        document.getElementById('foot-taxable').innerHTML = data.taxable;
        document.getElementById('foot-tax').innerHTML = data.tax;
        document.getElementById('foot-total').innerHTML = data.total;
      });
    });
    // Update and display totals
    $('#items-table').trigger('totals');
  }); 

  jQuery(function($) {
    // when the .fnt-product field changes
    $(".fnt-product").change(function() {
      // preserve the current object
      var _this = (this);
      // make a POST call and replace the content
      var product = $(this).closest('tr').find('select.fnt-product :selected').val();
      if (product == "")
        product = "0";
      var qty = $(this).closest('tr').find('.fnt-quantity').val();
      if (qty == "")
        qty = "0";
      // Right formatted for passing as REST parameter
      qty = parseInt(right_number(qty, 4) * 10000);
      jQuery.getJSON('wo_update_description_prices_from_product/' + product + '/' + qty, function(data) {
        $(_this).closest('tr').find('.fnt-description').val(data.description);
        $(_this).closest('tr').find('.fnt-cost').val(data.cost);
        $(_this).closest('tr').find('.fnt-costs').val(data.costs);
        $(_this).closest('tr').find('.fnt-price').val(data.price);
        $(_this).closest('tr').find('.fnt-amount').val(data.amount);
        $(_this).closest('tr').find(".fnt-tax-type").val(data.type);
        $(_this).closest('tr').find('.fnt-tax').val(data.tax);
      });
      return false;
    });

    // when the .fnt-quantity field changes
    $(".fnt-quantity").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the .fnt-price field changes
    $(".fnt-price").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });

    // when the .fnt-cost field changes
    $(".fnt-cost").change(function() {
      // preserve the current object
      var _this = (this);
      recalculate(_this);
      return false;
    });
    
    // Recalculate amounts & prices
    function recalculate(_this) {
      // make a POST call and replace the content
      var cost = $(_this).closest('tr').find('.fnt-cost').val();
      if (cost == "")
        cost = "0";
      var price = $(_this).closest('tr').find('.fnt-price').val();
      if (price == "")
        price = "0";
      var qty = $(_this).closest('tr').find('.fnt-quantity').val();
      if (qty == "")
        qty = "0";
      var tax_type = $(_this).closest('tr').find('.fnt-tax-type').val();
      if (tax_type == "")
        tax_type = "0";
      var product = $(this).closest('tr').find('select.fnt-product :selected').val();
      if (product == "")
        product = "0";
      // Right formatted for passing as REST parameter
      cost = parseInt(right_number(cost, 4) * 10000);
      price = parseInt(right_number(price, 4) * 10000);
      qty = parseInt(right_number(qty, 4) * 10000);
      jQuery.getJSON('wo_update_amount_and_costs_from_price_or_quantity/' + cost + '/' + price + '/' + qty + '/' + tax_type + '/' + product, function(data) {
        $(_this).closest('tr').find('.fnt-quantity').val(data.quantity);
        $(_this).closest('tr').find('.fnt-cost').val(data.cost);
        $(_this).closest('tr').find('.fnt-costs').val(data.costs);
        $(_this).closest('tr').find('.fnt-price').val(data.price);
        $(_this).closest('tr').find('.fnt-amount').val(data.amount);
        $(_this).closest('tr').find('.fnt-tax').val(data.tax);
        // Update and display totals
        $('#items-table').trigger('totals');
      });
    }

    /*
     * Very special function!
     * This one re-calculate table totals after delete an item
     * When the .icon-trash clicked
     * Replace behavior of link_to_remove_fields
     * (the same was done in nested_wo.js)
     */
    $(".icon-trash").click(function() {
      remove_fields(this);
      // Update and display totals
      $('#items-table').trigger('totals');
    });
  });
</script>

<table id="items-table" class="table table-condensed table-striped shrinked fixed">
  <!-- account -->
  <col width="11%" />
  <!-- month01 -->
  <col width="6%" />
  <!-- month02 -->
  <col width="6%" />
  <!-- month03 -->
  <col width="6%" />
  <!-- month04 -->
  <col width="6%" />
  <!-- month05 -->
  <col width="6%" />
  <!-- month06 -->
  <col width="6%" />
  <!-- month07 -->
  <col width="6%" />
  <!-- month08 -->
  <col width="6%" />
  <!-- month09 -->
  <col width="6%" />
  <!-- month10 -->
  <col width="6%" />
  <!-- month11 -->
  <col width="6%" />
  <!-- month12 -->
  <col width="6%" />
  <!-- annual -->
  <col width="6%" />
  <!-- corrected -->
  <col width="6%" />
  <!-- button -->
  <col width="5%" />
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render 'items_table_footer', f: f %>
  </tfoot>
  <tbody>
    <%= f.simple_fields_for :budget_items, defaults: { input_html: { class: 'sub-form' } } do |i| %>
    <tr class="fields">
      <td><%= i.association :charge_account, label: false, wrapper: false, collection: @charge_accounts, input_html: { class: 'isel2 fnt-account' } %></td>
      <td><%= i.input :month_01, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_01, precision: 4) if i.object.month_01), class: 'sub-number-text-field fnt-month01' } %></td>
      <td><%= i.input :month_02, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_02, precision: 4) if i.object.month_02), class: 'sub-number-text-field fnt-month02' } %></td>
      <td><%= i.input :month_03, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_03, precision: 4) if i.object.month_03), class: 'sub-number-text-field fnt-month03' } %></td>
      <td><%= i.input :month_04, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_04, precision: 4) if i.object.month_04), class: 'sub-number-text-field fnt-month04' } %></td>
      <td><%= i.input :month_05, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_05, precision: 4) if i.object.month_05), class: 'sub-number-text-field fnt-month05' } %></td>
      <td><%= i.input :month_06, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_06, precision: 4) if i.object.month_06), class: 'sub-number-text-field fnt-month06' } %></td>
      <td><%= i.input :month_07, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_07, precision: 4) if i.object.month_07), class: 'sub-number-text-field fnt-month07' } %></td>
      <td><%= i.input :month_08, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_08, precision: 4) if i.object.month_08), class: 'sub-number-text-field fnt-month08' } %></td>
      <td><%= i.input :month_09, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_09, precision: 4) if i.object.month_09), class: 'sub-number-text-field fnt-month09' } %></td>
      <td><%= i.input :month_10, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_10, precision: 4) if i.object.month_10), class: 'sub-number-text-field fnt-month10' } %></td>
      <td><%= i.input :month_11, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_11, precision: 4) if i.object.month_11), class: 'sub-number-text-field fnt-month11' } %></td>
      <td><%= i.input :month_12, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.month_12, precision: 4) if i.object.month_12), class: 'sub-number-text-field fnt-month12' } %></td>
      <td><%= i.input :annual, disabled: true, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.annual, precision: 4) if i.object.annual), class: 'sub-number-text-field sub-disabled-field fnt-annual' } %></td>
      <td><%= i.input :corrected_amount, label: false, wrapper: false, as: :string, input_html: { value: (number_with_precision(i.object.corrected_amount, precision: 4) if i.object.corrected_amount), class: 'sub-number-text-field fnt-corrected' } %></td>
      <% if @breadcrumb == 'create' || @breadcrumb == 'update' %>
      <td><%= link_to_remove_fields('<i class="icon-trash"></i>'.html_safe, i) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
