<tr class="totals-shrinked">
  <td align="right"><%= t :"activerecord.attributes.budget.total" %></td>
  <td align="right"><%= number_with_precision(budget.total_01, precision: 4) unless budget.total_01.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_02, precision: 4) unless budget.total_02.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_03, precision: 4) unless budget.total_03.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_04, precision: 4) unless budget.total_04.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_05, precision: 4) unless budget.total_05.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_06, precision: 4) unless budget.total_06.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_07, precision: 4) unless budget.total_07.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_08, precision: 4) unless budget.total_08.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_09, precision: 4) unless budget.total_09.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_10, precision: 4) unless budget.total_10.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_11, precision: 4) unless budget.total_11.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_12, precision: 4) unless budget.total_12.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_annual, precision: 4) unless budget.total_annual.blank? %></td>
  <td align="right"><%= number_with_precision(budget.total_corrected, precision: 4) unless budget.total_corrected.blank? %></td>
</tr>
