<tr class="totals-shrinked">
  <td></td>
  <td>
    <a id="icon-new-btn" href="#" onclick="javascript:$('.fnt-new-btn').click(); return false;"><i class="icon-plus"></i></a>
    <span class="right-floated"><%= t :"activerecord.attributes.budget.total" %></span>
  </td>
  <td align="right" id="foot-total01"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total02"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total03"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total04"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total05"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total06"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total07"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total08"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total09"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total10"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total11"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-total12"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-annual"><%= number_with_precision('0', precision: 4) %></td>
  <td align="right" id="foot-corrected"><%= number_with_precision('0', precision: 4) %></td>
  <td><a href="#" onclick="javascript:$('#items-table').trigger('totals'); return false;"><i class="icon-refresh"></i></a></td>
</tr>
