<%= render '/layouts/ag2_directory/directorybreadcrumb' %>

<!-- Apps Thumbnails -->
<ul class="thumbnails">
  <!-- Apps 1 -->
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= corp_contacts_path %>" class="thumbnail centered"><img src="/assets/icon/ag2Directory.png" width="48" height="48" alt="ag2Contacts" /><h5 class="h5-narrow">Corporate Contacts</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= corp_contacts_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Directory.png" width="96" height="96" alt="ag2Contacts" /><h5 class="h5-narrow">Corporate Contacts</h5></a>
    <% else %>
    <a href="<%= corp_contacts_path %>" class="thumbnail centered"><img src="/assets/pict/ag2Directory.png" width="128" height="128" alt="ag2Contacts" /><h5 class="h5-narrow">Corporate Contacts</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a href="<%= ag2_directory.import_path %>" class="thumbnail centered"><img src="/assets/icon/ag2DataImport.png" width="48" height="48" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a href="<%= ag2_directory.import_path %>" class="thumbnail centered"><img src="/assets/pict/ag2/ag2DataImport.png" width="96" height="96" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% else %>
    <a href="<%= ag2_directory.import_path %>" class="thumbnail centered"><img src="/assets/pict/ag2DataImport.png" width="128" height="128" alt="ag2DataImport" /><h5 class="h5-narrow">ag2DataImport</h5></a>
    <% end %>
  </li>
  <li class="span4">
    <% if (session[:resolution] == "LD")%>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/icon/ag2Contacts.png" width="48" height="48" alt="ag2Contacts" /><h5 class="h5-narrow">Shared Contacts</h5></a>
    <% elsif session[:resolution] == "SD" %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2/ag2Contacts.png" width="96" height="96" alt="ag2Contacts" /><h5 class="h5-narrow">Shared Contacts</h5></a>
    <% else %>
    <a data-toggle="modal" href="#notfound" class="thumbnail centered"><img src="/assets/pict/ag2Contacts.png" width="128" height="128" alt="ag2Contacts" /><h5 class="h5-narrow">Shared Contacts</h5></a>
    <% end %>
  </li>
</ul><!-- /.thumbnails -->

<!-- Modals -->
<%= render '/layouts/notfound' %>
