<%= render '/layouts/ag2_human/dtypesbreadcrumb' %>

<h3>Degree types</h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>Code</th>
        <th>Name</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @degree_types.each do |t| %>
      <tr>
        <td><%= link_to t.dt_code, t %></td>
        <td><%= t.name %></td>
        <td><%= link_to edit_degree_type_path(t), :class => 'btn btn-mini' do %> <i class="icon-edit"></i> <% end %>
        <%= link_to(t, :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-mini') do %> <i class="icon-trash"></i> <% end %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'New Degree type', new_degree_type_path, :class => 'btn btn-primary' %>
  <br />
  <br />
  <%= link_to 'Go to ag2Workers', workers_path %> |
  <%= link_to 'Back to ag2Human', ag2_human.root_path %>
</div>
