<script>
  var text_field_color;

  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    });
    text_field_color = $("#worker_last_name").css('color')
  });
  
  jQuery(function($) {
    // when the #worker_town_id field changes
    $("#worker_town_id").change(function() {
      // make a POST call and replace the content
      var worker = $('select#worker_town_id :selected').val();
      if (worker == "")
        worker = "0";
      jQuery.getJSON('update_province_textfield_from_town/' + worker, function(data) {
        $("#worker_province_id").val(data.id);
      })
      return false;
    });

    // when the #worker_zipcode_id field changes
    $("#worker_zipcode_id").change(function() {
      // make a POST call and replace the content
      var worker = $('select#worker_zipcode_id :selected').val();
      if (worker == "")
        worker = "0";
      jQuery.getJSON('update_province_textfield_from_zipcode/' + worker, function(data) {
        $("#worker_town_id").val(data.town_id);
        $("#worker_province_id").val(data.province_id);
      })
      return false;
    });

    // when #generate_code_btn is clicked
    $("#generate_code_btn").click(function() {
      // make a POST call and replace the content
      var worker = $('#worker_last_name').val() + '$' + $('#worker_first_name').val();
      if ((worker == "") || (worker == "$"))
        worker = "LL NN$FI";
      jQuery.getJSON('update_code_textfield_from_name/' + worker, function(data) {
        $("#worker_worker_code").val(data.code);
        if ($("#worker_worker_code").val() == "$err")
          $("#worker_worker_code").css('color', 'red');
        else
          $("#worker_worker_code").css('color', text_field_color);
      })
      return false;
    });

    // when the #worker_office_id field changes
    $("#worker_office_id").change(function() {
      // make a POST call and replace the content
      var worker = $('select#worker_office_id :selected').val();
      if (worker == "")
        worker = "0";
      jQuery.getJSON('update_company_textfield_from_office/' + worker, function(data) {
        $("#worker_company_id").val(data.id);
      })
      return false;
    });

    // when the #worker_user_id field changes
    $("#worker_user_id").change(function() {
      // make a POST call and replace the content
      var worker = $('select#worker_user_id :selected').val();
      if (worker == "")
        worker = "0";
      jQuery.getJSON('update_email_textfield_from_user/' + worker, function(data) {
        $("#worker_email").val(data.email);
      })
      return false;
    });

    // when the #worker_worker_code field changes
    $("#worker_worker_code").change(function() {
      // replace the color
      $("#worker_worker_code").css('color', text_field_color);
    });

    // when #to_uppercase_btn is clicked
    $("#to_uppercase_btn").click(function() {
      // make a POST call and replace the content
      var last = $('#worker_last_name').val();
      var first = $('#worker_first_name').val();
      var code = $('#worker_worker_code').val();
      var fiscal = $('#worker_fiscal_id').val();
      jQuery.getJSON('update_textfields_to_uppercase/' + last + '/' + first + '/' + code + '/' + fiscal, function(data) {
        $("#worker_last_name").val(data.last);
        $("#worker_first_name").val(data.first);
        $("#worker_worker_code").val(data.code);
        $("#worker_fiscal_id").val(data.fiscal);
        if ($("#worker_worker_code").val() == "$err")
          $("#worker_worker_code").css('color', 'red');
        else
          $("#worker_worker_code").css('color', text_field_color);
      })
      return false;
    });
  })
</script>

<%= simple_form_for @worker, :html => {:class => 'form-vertical well' } do |f| %>
<%= f.error_notification %>
<%= display_base_errors resource %>
<div>
  <label class="multi-field-label-two"> <%= f.input :last_name, :required => true, :autofocus => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :first_name, :required => true, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :worker_code, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :fiscal_id, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :starting_at, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.starting_at.strftime("%d/%m/%Y") if f.object.starting_at), :class => 'mid-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :ending_at, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.ending_at.strftime("%d/%m/%Y") if f.object.ending_at), :class => 'mid-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :issue_starting_at, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.issue_starting_at.strftime("%d/%m/%Y") if f.object.issue_starting_at), :class => 'mid-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :borned_on, :start_year => Time.now.year - 100, :end_year => Time.now.year + 100, :as => :string, :input_html => { :value => (f.object.borned_on.strftime("%d/%m/%Y") if f.object.borned_on), :class => 'mid-text-field date_picker' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :office, collection: Office.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :company, collection: Company.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :contract_type, collection: ContractType.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :collective_agreement, collection: CollectiveAgreement.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :affiliation_id, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :contribution_account_code, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :professional_group, collection: ProfessionalGroup.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :degree_type, collection: DegreeType.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :worker_type, collection: WorkerType.all(order: 'description'), :as => :radio_buttons, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.association :insurance, collection: Insurance.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :department, collection: Department.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :position, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :corp_phone, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :corp_extension, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :corp_cellular_long, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :corp_cellular_short, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :user, collection: User.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :email, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<h4><%=t 'ag2_human.workers.wage_info' %></h4>
<div>
  <label class="multi-field-label-two"> <%= f.input :gross_salary, as: :string, input_html: { value: (number_with_precision(f.object.gross_salary, precision: 2) if f.object.gross_salary), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :variable_salary, as: :string, input_html: { value: (number_with_precision(f.object.variable_salary, precision: 2) if f.object.variable_salary), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.input :social_security_cost, as: :string, input_html: { value: (number_with_precision(f.object.social_security_cost, precision: 2) if f.object.social_security_cost), class: 'large-text-field number-text-field' }, label_html: { class: 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :nomina_id, :input_html => { :class => 'mid-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<h4><%=t 'ag2_human.workers.personal_info' %></h4>
<div>
  <label class="multi-field-label-two"> <%= f.input :own_phone, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"><%= f.input :own_cellular, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-thinner"> <%= f.association :street_type, collection: StreetType.all(order: 'street_type_code'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-wider"> <%= f.input :street_name, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :street_number, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three-wider"> <%= f.input :building, :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor, :input_html => { :class => 'large-text-field number-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three-thinner"> <%= f.input :floor_office, :input_html => { :class => 'large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-three"> <%= f.association :zipcode, collection: Zipcode.all(order: 'zipcode'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :town, collection: Town.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-three"> <%= f.association :province, collection: Province.all(order: 'name'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
</div>
<div>
  <label class="multi-field-label-two"> <%= f.association :sex, collection: Sex.all(order: 'id'), :input_html => { :class => 'x-large-text-field' }, :label_html => { :class => 'form-label' } %> </label>
  <label class="multi-field-label-two"> <%= f.input :education, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 2 }, :label_html => { :class => 'form-label' } %> </label>
</div>
<%= f.input :remarks, :as => :text, :input_html => { :class => 'x-large-text-field', :rows => 3 }, :label_html => { :class => 'form-label' } %>
<%= f.input :avatar, :as => :file, :label_html => { :class => 'form-label' } %>
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-three left-winged"> <%= f.button :submit, :class => 'btn-primary' %> </td>
      <td class="form-td-three centered"><a href="#" id="to_uppercase_btn" class="btn btn-warning"><%=t 'ag2_human.workers.to_uppercase_btn' %></a></td>
      <td class="form-td-three right-winged"><a href="#" id="generate_code_btn" class="btn btn-warning"><%=t 'ag2_human.workers.generate_code_btn' %></a></td>
    </tr>
  </tbody>
</table>
<% end %>
