<tr>
  <td><%= link_to worker.worker_code, worker %></td>
  <td><%= worker.full_name %></td>
  <td><%= worker.company.name unless worker.company.nil? %></td>
  <td><%= worker.office.name unless worker.office.nil? %></td>
  <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Worker, :path => edit_worker_path(worker) } %>
  <%= render :partial => '/layouts/crud/delete', :locals => { :model => Worker, :path => worker, :msg => I18n.t("activerecord.models.worker"), :txt => worker.full_name } %> </td>
</tr>
