<script>
  var _thisForm = '';

  $(document).ready(function() {
    // Initialized form variable
    _thisForm = $("#removeFilter").closest('form')[0];
  });

  $(window).bind("load", function() {
    $("#WrkrCompany").val("<%= params[:WrkrCompany] %>");
    $("#WrkrOffice").val("<%= params[:WrkrOffice] %>");
  });

  jQuery(function($) {
    // when the #WrkrCompany field changes
    $("#WrkrCompany").change(function() {
      // make a POST call and replace the content
      var worker = $('#WrkrCompany :selected').val();
      if (worker == "")
        worker = "0";
      jQuery.getJSON('update_offices_select_from_company/' + worker, function(data) {
        $("#WrkrOffice").html("");
        //$("#WrkrOffice").select2("val", "");
        $("#WrkrOffice").append($('<option></option>').val("").html(""));
        $.each(data, function(id, option) {
          $("#WrkrOffice").append($('<option></option>').val(option.id).html(option.name));
        });
      })
      return false;
    });
    
    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#WrkrCompany").val("");
      $("#WrkrOffice").val("");
      $("#search").val("");
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });
  });
</script>

<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>
<%= render '/layouts/ag2_human/workersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag workers_path, :method => 'get', :remote => true do %>
        <!-- Company -->
        <%= label_tag I18n.t("ag2_human.workers.index.label_company"), nil, :class => 'form-label' %>
        <% if session[:company] != '0' %>
        <%= select_tag "WrkrCompany", options_from_collection_for_select(@companies, "id", "name"), :class => 'x-large-text-field shrinked' %>
        <% else %>
        <%= select_tag "WrkrCompany", options_from_collection_for_select(@companies, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <% end %>
        <!--<%#= select_tag "Company", options_from_collection_for_select(Company.order('name').all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>-->
        <!-- Office -->
        <%= label_tag I18n.t("ag2_human.workers.index.label_office"), nil, :class => 'form-label' %>
        <% if session[:office] != '0' %>
        <%= select_tag "WrkrOffice", options_from_collection_for_select(@offices, "id", "name"), :class => 'x-large-text-field shrinked' %>
        <% else %>
        <%= select_tag "WrkrOffice", options_from_collection_for_select(@offices, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <% end %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_human.workers.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Worker, :path => new_worker_path, :txt => I18n.t("ag2_human.workers.index.btn_new") } %>
        <%= link_to I18n.t("ag2_human.workers.index.back_to_root"), ag2_human.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9" id="div_table">
      <%= render 'workers' %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

