<% session[:return_to] = nil %>
<% session[:return_to_url] = nil %>
<%= render '/layouts/ag2_human/workersbreadcrumb' %>

<h3><%=t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <%= form_tag "workers", :method => 'get' do %>
        <%= label_tag I18n.t("ag2_human.workers.index.label_office"), nil, :class => 'form-label' %>
        <%= select_tag "Office", options_from_collection_for_select(Office.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <%= label_tag I18n.t("ag2_human.workers.index.label_company"), nil, :class => 'form-label' %>
        <%= select_tag "Company", options_from_collection_for_select(Company.all, "id", "name"), :prompt => "", :class => 'x-large-text-field shrinked' %>
        <%= label_tag I18n.t("ag2_human.workers.index.label_others"), nil, :class => 'form-label' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <%= submit_tag I18n.t("ag2_human.workers.index.btn_apply"), :class => 'btn btn-primary' %>
        <% end %>
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Worker, :path => new_worker_path, :txt => I18n.t("ag2_human.workers.index.btn_new") } %>
        <%= link_to I18n.t("ag2_human.workers.index.back_to_root"), ag2_human.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <%= render :partial => '/layouts/lettershead', :locals => { :controller => "workers", :action => "index" } %>
      <table class="table table-condensed table-striped shrinked">
        <thead>
          <%= render '/layouts/ag2_human/workersheader' %>
        </thead>
        <tbody>
          <%= render @workers %>
        </tbody>
      </table>
      <%= render :partial => '/layouts/pagination', :locals => { :ivar => @workers } %>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->

