<%= render '/layouts/ag2_human/workersbreadcrumb' %>
<!-- <%#= render :partial => '/layouts/recordsnavigator', :locals => { :path => @worker } %> -->

<h3> <% if session[:resolution] == "LD" %>
<%= image_tag @worker.avatar.url(:small) %> <!-- small image size --> <% elsif session[:resolution] == "SD" %>
<%= image_tag @worker.avatar.url(:medium) %> <!-- medium image size --> <% else %>
<%= image_tag @worker.avatar.url %> <!-- big image size --> <% end %>
<%= @worker.full_name %> </h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @worker.id %></td>
      <td><%= t :"activerecord.attributes.worker.worker_code" %>:</td>
      <td><%= @worker.worker_code unless @worker.worker_code.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.fiscal_id" %>:</td>
      <td><%= @worker.fiscal_id %></td>
      <td><%= t :"activerecord.attributes.worker.user" %>:</td>
      <td><%= @worker.user.name unless @worker.user.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.starting_at" %>:</td>
      <td><%= @worker.starting_at.strftime("%d/%m/%Y") unless @worker.starting_at.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.ending_at" %>:</td>
      <td><%= @worker.ending_at.strftime("%d/%m/%Y") unless @worker.ending_at.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.issue_starting_at" %>:</td>
      <td><%= @worker.issue_starting_at.strftime("%d/%m/%Y") unless @worker.issue_starting_at.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.borned_on" %>:</td>
      <td><%= @worker.borned_on.strftime("%d/%m/%Y") unless @worker.borned_on.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.years_worked" %>:</td>
      <td><%= @worker.years_worked %></td>
      <td><%= t :"activerecord.attributes.worker.age" %>:</td>
      <td><%= @worker.age %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.company" %>:</td>
      <td><%= @worker.company.name unless @worker.company.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.office" %>:</td>
      <td><%= @worker.office.name unless @worker.office.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.contract_type" %>:</td>
      <td><%= @worker.contract_type.name unless @worker.contract_type.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.collective_agreement" %>:</td>
      <td><%= @worker.collective_agreement.name unless @worker.collective_agreement.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.affiliation_id" %>:</td>
      <td><%= @worker.affiliation_id %></td>
      <td><%= t :"activerecord.attributes.worker.contribution_account_code" %>:</td>
      <td><%= @worker.contribution_account_code unless @worker.contribution_account_code.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.professional_group" %>:</td>
      <td><%= @worker.professional_group.name unless @worker.professional_group.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.degree_type" %>:</td>
      <td><%= @worker.degree_type.name unless @worker.degree_type.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.worker_type" %>:</td>
      <td><%= @worker.worker_type.description.titleize unless @worker.worker_type.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.insurance" %>:</td>
      <td><%= @worker.insurance.name.titleize unless @worker.insurance.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.department" %>:</td>
      <td><%= @worker.department.name unless @worker.department.nil? %></td>
      <td><%= t :"activerecord.attributes.worker.position" %>:</td>
      <td><%= @worker.position unless @worker.position.nil? %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.corp_phone" %>:</td>
      <td><%= @worker.corp_phone %>
      <% if !@worker.corp_extension.nil? && @worker.corp_extension != '' %>
      (<%= @worker.corp_extension %>)
      <% end %> </td>
      <td><%= t :"activerecord.attributes.worker.corp_cellular_long" %>:</td>
      <td><%= @worker.corp_cellular_long %>
      <% if !@worker.corp_cellular_short.nil? && @worker.corp_cellular_short != '' %>
      (<%= @worker.corp_cellular_short %>)
      <% end %> </td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.email" %>:</td>
      <td><%= @worker.email %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @worker } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @worker } %>
  </tbody>
</table>

<h4><%= t 'ag2_human.workers.wage_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.worker.gross_salary" %>:</td>
      <td><%= number_to_currency(@worker.gross_salary, :locale => :es) %></td>
      <td><%= t :"activerecord.attributes.worker.variable_salary" %>:</td>
      <td><%= number_to_currency(@worker.variable_salary, :locale => :es) %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.social_security_cost" %>:</td>
      <td><%= number_to_currency(@worker.social_security_cost, :locale => :es) %></td>
      <td><%= t :"activerecord.attributes.worker.total_cost" %>:</td>
      <td><%= number_to_currency(@worker.total_cost, :locale => :es) %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.nomina_id" %>:</td>
      <td><%= @worker.nomina_id unless @worker.nomina_id.blank? %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<h4><%= t 'ag2_human.workers.personal_info' %></h4>
<table class="table">
  <tbody>
    <tr>
      <td><%= t :"activerecord.attributes.worker.own_phone" %>:</td>
      <td><%= @worker.own_phone %></td>
      <td><%= t :"activerecord.attributes.worker.own_cellular" %>:</td>
      <td><%= @worker.own_cellular %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.address" %>:</td>
      <td> <%= @worker.street_type.street_type_code.titleize  %>. <%= @worker.street_name %> <%= @worker.street_number %>
      <% if !@worker.building.nil? %>
      <%= @worker.building.titleize %>
      <% end %>
      <% if !@worker.floor.nil? %>
      <%= @worker.floor %>&ordm;
      <% end %>
      <% if !@worker.floor_office.nil? %>
      <%= @worker.floor_office %>
      <% end %> </td>
      <td><%= t :"activerecord.attributes.worker.zipcode" %>:</td>
      <td><%= @worker.zipcode.zipcode %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.town" %>:</td>
      <td><%= @worker.town.name %></td>
      <td><%= t :"activerecord.attributes.worker.province" %>:</td>
      <td><%= @worker.province.name_and_region %></td>
    </tr>
    <tr>
      <td><%= t :"activerecord.attributes.worker.sex" %>:</td>
      <td><%= @worker.sex.name unless @worker.sex.blank? %></td>
      <td><%= t :"activerecord.attributes.worker.education" %>:</td>
      <td><%= @worker.education unless @worker.education.blank? %></td>
    </tr>
  </tbody>
</table>

<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.worker.remarks" %>:</td>
      <td style="width: 88%"><%= @worker.remarks unless @worker.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Worker, update_path: edit_worker_path(@worker), update_txt: t('.btn_edit'),
delete_path: @worker, delete_txt: t('.btn_delete'), msg: t("activerecord.models.worker.one"), txt: @worker.full_name,
new_path: new_worker_path, new_txt: t('ag2_human.workers.index.btn_new') } %>

<% if !session[:return_to].nil? %>
<%= link_to session[:return_to], session[:return_to_url] %> |
<% end %>
<%= link_to I18n.t('ag2_human.workers.back_to_main_page'), workers_path %>
