<%= render '/layouts/ag2_purchase/activitiesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<div class="span7">
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th><%= sortable "description", t('activerecord.attributes.activity.description') %></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @activities.each do |activity| %>
      <tr>
        <td><%= link_to activity.description, activity %></td>
        <td><%= render :partial => '/layouts/crud/edit', :locals => { :model => Activity, :path => edit_activity_path(activity) } %>
        <%= render :partial => '/layouts/crud/delete', :locals => { :model => Activity, :path => activity, :msg => t("activerecord.models.activity.one"), :txt => activity.description } %> </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <%= render :partial => '/layouts/pagination', :locals => { :ivar => @activities } %>
  <%= render :partial => '/layouts/crud/new', :locals => { :model => Activity, :path => new_activity_path, :txt => t(".btn_new") } %>
  <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
</div>
