<%= render '/layouts/ag2_purchase/activitiesbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @activity.id %></td>
      <td><%=t 'activerecord.attributes.activity.description' %>:</td>
      <td><%= @activity.description %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @activity } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @activity } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: Activity, update_path: edit_activity_path(@activity), update_txt: t('.btn_edit'),
delete_path: @activity, delete_txt: t('.btn_delete'), msg: t("activerecord.models.activity.one"), txt: @activity.description,
new_path: new_activity_path, new_txt: t('ag2_purchase.activities.index.btn_new') } %>

<% if (@suppliers.count > 0) %>
<h4><%=t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <%= render '/layouts/ag2_purchase/suppliersheader' %>
  </thead>
  <tbody>
    <% session[:return_to] = I18n.t('ag2_purchase.activities.show.return_to') %>
    <% session[:return_to_url] = "#{request.protocol}#{request.host_with_port}#{request.fullpath}" %>
    <%= render :partial => '/layouts/ag2_purchase/suppliers', :locals => { :suppliers => @suppliers } %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @suppliers } %>
<% end %>

<%= link_to t('ag2_purchase.activities.back_to_main_page'), activities_path %>
