<script>
  $(document).ready(function() {
    $("#div_table th a, #div_table #pages a").on("click", function() {
      $.getScript(this.href);
      return false;
    });
  }); 
</script>

<table class="table table-condensed table-striped shrinked">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.sale_offer.offer_no' %></th>
      <th></th>
      <th align="center"><%= t 'activerecord.attributes.sale_offer.offer_date' %></th>
      <th><%= t 'activerecord.attributes.sale_offer.client' %></th>
      <th><%= t 'activerecord.attributes.sale_offer.contracting_request_c' %></th>
      <th align="right"><%= t 'activerecord.attributes.sale_offer.total' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sale_offers.each do |offer| %>
    <% if !offer.approver_id.blank? %>
      <tr class="approved-tr">
    <% else %>
      <tr>
    <% end %>
      <td><%= link_to offer.offer_no, offer %></td>
      <td><%= offer.invoices.count unless offer.invoices.count == 0 %></td>
      <td align="center"><%= formatted_date(offer.offer_date) unless offer.offer_date.blank? %></td>
      <td><%= client_name(offer) %></td>
      <td><%= offer.contracting_request.full_no unless offer.contracting_request.blank? %></td>
      <td align="right"><%= number_with_precision(offer.total, precision: 2, delimiter: I18n.locale == :es ? "." : ",") unless offer.total.blank? %></td>
      <td> <%= render :partial => '/layouts/crud/edit', :locals => { :model => SaleOffer, :path => edit_sale_offer_path(offer) } unless cannot_edit(offer) %>
      <%= render :partial => '/layouts/crud/delete', :locals => { :model => SaleOffer, :path => offer, :msg => t("activerecord.models.sale_offer.one"), :txt => offer.offer_no } unless cannot_edit(offer) %> </td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @sale_offers } %>
