<tr>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.offer.quantity" %> | <%= t :"activerecord.attributes.offer.subtotal" %></td>
  <td align="right"><%= number_with_precision(note.quantity, precision: 4) unless note.quantity.blank? %></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(note.subtotal, precision: 4) unless note.subtotal.blank? %></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.offer.bonus" %> | <%= t :"activerecord.attributes.offer.taxable" %> | <%= t :"activerecord.attributes.offer.taxes" %></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(note.discount_pct, precision: 2) unless note.discount_pct.blank? %></td>
  <td align="right"><%= number_with_precision(note.bonus, precision: 4) unless note.bonus.blank? %></td>
  <td align="right"><%= number_with_precision(note.taxable, precision: 4) unless note.taxable.blank? %></td>
  <td align="right"><%= number_with_precision(note.taxes, precision: 4) unless note.taxes.blank? %></td>
</tr>
<tr class="totals">
  <td></td>
  <td align="right"><%= t :"activerecord.attributes.offer.total" %></td>
  <td></td>
  <td></td>
  <td></td>
  <td></td>
  <td align="right"><%= number_with_precision(note.total, precision: 4, delimiter: I18n.locale == :es ? "." : ",") unless note.total.blank? %></td>
  <td></td>
</tr>
