<!-- Modal -->
<script>
  $(document).ready(function() {
    $("#Office").val(<%= session[:office] %>);
    $("#Company").val(<%= session[:company] %>);
    $("#Organization").val(<%= session[:organization] %>);
  });

  jQuery(function($) {
    $('#btn_accept').click(function() {
      var office = $('#Office :selected').val();
      var company = $('#Company :selected').val();
      var organization = $('#Organization :selected').val();
      if (office == "") office = 0;
      if (company == "") company = 0;
      if (organization == "") organization = 0;
      jQuery.getJSON('/oco_set_session/' + office + '/' + company + '/' + organization, function(data) {
        // Hide the modal and exit
        var changed = !((office == <%= session[:office] %>) && (company == <%= session[:company] %>) && (organization == <%= session[:organization] %>));
        $("#oco").modal('hide');
        if (changed) window.location = "<%= main_app.root_path %>";
      })
      return false;
    });

    // when the #Office field changes
    $("#Office").change(function() {
      // make a POST call and replace the content
      var user = $('#Office :selected').val();
      if (user == "") user = "0";
      jQuery.getJSON('/oco_company_organization_from_office/' + user, function(data) {
        $("#Company").val(data.company_id);
        $("#Organization").val(data.organization_id);
      })
      return false;
    });

    // when the #Company field changes
    $("#Company").change(function() {
      // make a POST call and replace the content
      var user = $('#Company :selected').val();
      if (user == "") user = "0";
      $("#Office").val(0);
      jQuery.getJSON('/oco_organization_from_company/' + user, function(data) {
        $("#Organization").val(data.organization_id);
      })
      return false;
    });

    // when the #Organization field changes
    $("#Organization").change(function() {
      // make a POST call and replace the content
      var user = $('#Organization :selected').val();
      if (user == "") user = "0";
      $("#Office").val(0);
      $("#Company").val(0);
      return false;
    });
  })
</script>

<div id="new-offer-from-request" class="modal hide fade" data-backdrop="static" style="display: none;">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&#215;</a>
    <h3><%= t('ag2_purchase.offers.index.btn_new_from_request') %></h3>
    <span class="shrinked"><%= I18n.t(:mandatory_subtitle) %></span>
  </div>
  <div class="modal-body">
    <!-- Supplier -->
    <label for="Supplier" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer.supplier") %></label>
    <%= select_tag "Supplier", options_from_collection_for_select(@suppliers, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Offer request -->
    <label for="Request" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer.offer_request") %></label>
    <%= select_tag "Request", options_from_collection_for_select(@offer_requests, "id", "full_name"), :prompt => "", :class => 'x-large-text-field nsel2' %>
    <!-- Offer No -->
    <label for="No" class="form-label-under-sel2"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer.offer_no") %></label>
    <%= text_field_tag "No", nil, :class => 'x-large-text-field' %>
    <!-- Offer date -->
    <label for="Date" class="form-label"> <abbr title="requerido">*</abbr> <%= I18n.t("activerecord.attributes.offer.offer_date") %></label>
    <%= text_field_tag "Date", nil, class: 'mid-text-field ndate_picker' %>
  </div>
  <div class="modal-footer">
    <a class="btn btn-primary" href="#" id="btn_accept"><%= t :generate %></a>
    <a class="btn btn-primary" data-dismiss="modal" href="#"><%= t :close_button %></a>
  </div>
</div>
