<script>
  var _thisForm = '';
  var changing = false;

  function setupAllSelect2(s, p, w) {
    suppliersSelect2(s);
    projectsSelect2(p);
    wordersSelect2(w);    
  }

  function suppliersSelect2(intialValue) {
    $('#Supplier').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_suppliers",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function projectsSelect2(intialValue) {
    $('#Project').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      data: intialValue,
      ajax: {
        url: "/search_projects",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  function wordersSelect2(intialValue) {
    $('#Order').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true,
      placeholder: intialValue,
      allowClear: true,
      ajax: {
        url: "/search_work_orders",
        dataType: "json",
        delay: 250,
        data: function(term, page) {
          return {
            q: term || '',
            page: page || 1
          };
        },
        results: function(data, page) {
          return { 
            results: data
          }
        },
        cache: true
      }
    });
  }

  $(document).ready(function() {
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      dropdownCssClass: 'shrinked',
      dropdownAutoWidth: true
    });
    $('.nsel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      allowClear: true
    });
    $('.ndate_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.ndate_picker').datepicker('hide');
    });

    // Setup special search (select2)
    setupAllSelect2("<%= @supplier %>", "<%= @project %>", "<%= @work_order %>");

    // Initialized form variable
    _thisForm = $("#Supplier").closest('form')[0];
  }); 

  // $(document).ajaxStart(function() {
  //   // show loader on start
  //   if (changing == false) {
  //     $("#div_table").html("");
  //     $("#loader").show();
  //   }
  // });
  $(document).ajaxSuccess(function() {
    // hide loader on success
    $("#loader").hide();
  });

  $(window).bind("load", function() {
    a = "<%= of_restore_filters %>";
    $("#No").val("<%= params[:No] %>");
    $("#search").val("<%= params[:search] %>");
  });

  jQuery(function($) {
    // when .icon-refresh-link is clicked
    $(".icon-refresh-link").click(function() {
      // show loader
      $("#div_table").html("");
      $("#loader").show();
    });

    // when #submit_btn is clicked
    $("#submit_btn").click(function() {
      // show loader
      $("#div_table").html("");
      $("#loader").show();
    });

    // when the #removeFilter button clicked
    $("#removeFilter").click(function() {
      $("#No").val("");
      $("#Supplier").select2("val", "");
      $("#Project").select2("val", "");
      $("#Order").select2("val", "");
      $("#search").val("");
      a = "<%= of_remove_filters %>";
      setupAllSelect2(a, a, a);
      // no AJAX
      //_thisForm.submit();
      // AJAX
      $("#submit_btn").trigger("click");
    });

    // when the #new_from_request button clicked
    $("#new_from_request").click(function() {
      $("#new-offer-from-request").modal('show');
    });
  });
</script>

<%= render '/layouts/ag2_purchase/offersbreadcrumb' %>
<h3><%= t '.title' %></h3>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span3">
      <div class="well sidebar-nav">
        <!-- Refresh -->
        <%= link_to ag2_purchase.offers_path, title: I18n.t(:refresh), class: "icon-refresh-link", remote: true do %> <i class="icon-refresh"></i> <% end %>
        <!-- Search form -->
        <%= form_tag "offers", :method => 'get', :remote => true do %>
        <!-- No -->
        <%= label_tag I18n.t("activerecord.attributes.offer.offer_no"), nil, :class => 'form-label' %>
        <%= text_field_tag "No", nil, :class => 'x-large-text-field shrinked number-text-field', onkeyup: "caps(this)" %>
        <!-- Supplier -->
        <%= label_tag I18n.t("ag2_purchase.offers.index.label_supplier"), nil, :class => 'form-label' %>
        <%= hidden_field_tag "Supplier", params[:Supplier], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Project -->
        <%= label_tag I18n.t("ag2_purchase.offers.index.label_project"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Project", params[:Project], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Work order -->
        <%= label_tag I18n.t("ag2_purchase.offers.index.label_work_order"), nil, :class => 'form-label-under-sel2' %>
        <%= hidden_field_tag "Order", params[:Order], :class => 'x-large-text-field shrinked', data: { allow: { clear: 'false' } } %>
        <!-- Others -->
        <%= label_tag I18n.t("ag2_purchase.offers.index.label_others"), nil, :class => 'form-label-under-sel2' %>
        <%= text_field_tag :search, params[:search], :class => 'x-large-text-field shrinked' %>
        <!-- Submit -->
        <%= submit_tag I18n.t(:apply_filter_button), :class => 'btn btn-primary', :id => 'submit_btn' %>
        <!-- Remove filter -->
        <button id="removeFilter" type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true"><%= t :clear_filter_button %></button>
        <% end %>
        <!-- Buttons -->
        <%= render :partial => '/layouts/crud/new', :locals => { :model => Offer, :path => new_offer_path, :txt => t(".btn_new") } %>
        <% if can? :update, Offer %>
        <button id="new_from_request" type="button" class="btn btn-warning" data-dismiss="modal" aria-hidden="true"><%= t(".btn_new_from_request") %></button>
        <br /><br />
        <% end %>
        <%= link_to t(".back_to_root"), ag2_purchase.root_path %>
      </div><!-- /.sidebar-nav -->
    </div><!-- /.span3 -->

    <div class="span9">
      <div id="loader"></div>
      <div id="div_table">
        <%= render 'offers' %>
      </div>
    </div><!-- /.span9 -->
  </div><!-- /.row-fluid -->
</div><!-- /.container-fluid -->
<!-- Modal: New offer from request -->
<%= render 'new_offer_from_request' %>
