<script>
  $(document).ready(function() {
    // Show generate_order_btn based on approval
    approver = $('#approver').html();
    if (approver == "") {
      $('#generate_order_btn').hide();
    } else {
      $('#generate_order_btn').show();
    }
  });

  jQuery(function($) {
    // when #generate_order_btn is clicked
    $("#generate_order_btn").click(function() {
      // make a POST call and replace the content
      var offer = $('#id').html();
      if (offer == "")
        offer = "0";
      jQuery.getJSON('of_generate_order/' + offer, function(data) {
        if (data.code == "$err") {
          alert('<%= I18n.t("ag2_purchase.offers.generate_order_error") %>');
        } else if (data.code == "$write") {
          alert('<%= I18n.t("ag2_purchase.offers.generate_order_write") %>');
        } else {
          alert(data.code);
          $('#generate_order_btn').hide();
        }
      });
      return false;
    });

    // when #print_report_btn is clicked
    $("#print_report_btn").click(function() {
      // make a POST call and get report
      var id = $('#id').html();
      if (id == "")
        return;
      //window.open("offer_form.pdf?id=" + id, "_blank");
      return false;
    });
  });  
</script>

<%= render '/layouts/ag2_purchase/offersbreadcrumb' %>

<h3><%=t '.title' %></h3>
<table class="table odd_even_table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td id="id"><%= @offer.id %></td>
      <td><%=t 'activerecord.attributes.offer.offer_no' %>:</td>
      <% if !@offer.attachment.blank? %>
      <td class="highlighted bolded"><%= @offer.offer_no %><a style="margin-left: 1em;" href="#attachment"><i class="icon-paperclip-black"></i></a></td>
      <% else %>
      <td class="highlighted bolded"><%= @offer.offer_no %></td>
      <% end %>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer.offer_date' %>:</td>
      <td><%= formatted_date(@offer.offer_date) unless @offer.offer_date.blank? %></td>
      <td><%=t 'activerecord.attributes.offer.payment_method' %>:</td>
      <td> <%= @offer.payment_method.description %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer.supplier' %>:</td>
      <td><%= @offer.supplier.full_name unless @offer.supplier.blank? %></td>
      <td><%=t 'activerecord.attributes.offer.offer_request' %>:</td>
      <td><%= @offer.offer_request.full_name unless @offer.offer_request.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer.project' %>:</td>
      <td><%= @offer.project.full_name unless @offer.project.blank? %></td>
      <td><%=t 'activerecord.attributes.offer.work_order' %>:</td>
      <td><%= @offer.work_order.full_name unless @offer.work_order.blank? %></td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer.charge_account' %>:</td>
      <td> <%= @offer.charge_account.full_name unless @offer.charge_account.blank? %> </td>
      <td><%=t 'activerecord.attributes.offer.store' %>:</td>
      <td> <%= @offer.store.name unless @offer.store.blank? %> </td>
    </tr>
    <tr>
      <td><%=t 'activerecord.attributes.offer.approval_date' %>:</td>
      <td><%= formatted_timestamp(@offer.approval_date.utc.getlocal) unless @offer.approval_date.blank? %></td>
      <td><%=t 'activerecord.attributes.offer.approver' %>:</td>
      <td id="approver"><%= @offer.approver.email unless @offer.approver.blank? %></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @offer } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @offer } %>
  </tbody>
</table>

<!-- Items -->
<table class="form-table">
  <tbody>
    <tr class="form-tr underlined-tr">
      <td class="form-td-two left-winged">
        <h4><%= t 'ag2_purchase.offers.items_info' %></h4>
      </td>
      <td class="form-td-two right-winged">
        <a href="#" id="print_report_btn" class="btn btn-warning"><i class="icon-print icon-white"></i> <%= t '.print' %></a>
      </td>
    </tr>
  </tbody>
</table>
<% if (@items.count > 0) %>
<table class="table table-condensed table-striped shrinked">
  <thead>
    <%= render 'items_header' %>
  </thead>
  <tfoot>
    <%= render partial: 'items_footer', :locals => { note: @offer } %>
  </tfoot>
  <tbody>
    <%= render partial: 'item', collection: @items %>
  </tbody>
</table>
<%= render :partial => '/layouts/pagination', :locals => { :ivar => @items } %>
<% else %>
<%= render :partial => '/layouts/paginationunbordered', :locals => { :ivar => @items } %>
<% end %> <!-- end @items.count > 0 -->

<!-- Remarks -->
<table class="table">
  <tbody>
    <tr>
      <td style="width: 12%"><%= t :"activerecord.attributes.offer.remarks" %>:</td>
      <td style="width: 88%"><%= @offer.remarks unless @offer.remarks.blank? %></td>
    </tr>
  </tbody>
</table>

<!-- Buttons -->
<table class="form-table">
  <tbody>
    <tr class="form-tr">
      <td class="form-td-two left-winged">
        <%= render partial: '/layouts/crud/update_delete_new_no_br', locals:
        { model: Offer, update_path: edit_offer_path(@offer), update_txt: t('.btn_edit'),
        delete_path: @offer, delete_txt: t('.btn_delete'), msg: t("activerecord.models.offer.one"), txt: @offer.offer_no,
        new_path: new_offer_path, new_txt: t('ag2_purchase.offers.index.btn_new') } %>
      </td>
      <td class="form-td-two right-winged">
        <!-- Generate purchase order -->
        <a href="#" id="generate_order_btn" class="btn btn-warning"><i class="icon-download-alt icon-white"></i> <%=t 'ag2_purchase.offers.generate_order_btn' %></a>
        <br />
      </td>
    </tr>
  </tbody>
</table>
<br />

<%= link_to t('ag2_purchase.offers.show.show_to'), @offer.offer_request %> |
<%= link_to t("ag2_purchase.offers.back_to_main_page"), offers_path %>

<!-- Attachment -->
<% if !@offer.attachment.blank? %>
<br />
<br />
<a name="attachment"></a>
<%=t :"activerecord.attributes.offer.attachment" %>:
<div id="dd_files">
  <% if session[:resolution] == "LD" %>
  <%= image_tag @offer.attachment.url(:small) %> <!-- small image size -->
  <% elsif session[:resolution] == "SD" %>
  <%= image_tag @offer.attachment.url(:medium) %> <!-- medium image size -->
  <% else %>
  <%= image_tag @offer.attachment.url %> <!-- big image size -->
  <% end %>
</div>
<% end %>
