<%= render '/layouts/ag2_admin/countriesbreadcrumb' %>

<h3><%= @country.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @country.id %></td>
      <td><%=t 'activerecord.attributes.country.code' %>:</td>
      <td><b><%= @country.code %></b></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @country } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @country } %>
  </tbody>
</table>

<%= render :partial => '/layouts/crud/update_delete_new', locals:
{ model: Country, update_path: edit_country_path(@country), update_txt: t('ag2_admin.countries.show.btn_edit'),
delete_path: @country, delete_txt: t('ag2_admin.countries.show.btn_delete'), msg: t("activerecord.models.country.one"), :txt => @country.name,
new_path: new_country_path, new_txt: t('ag2_admin.countries.index.btn_new') } %>

<% if (@regions.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.region.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
    <tr>
      <td><%= link_to region.name, region %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.countries.back_to_main_page'), countries_path %>
