<%= render '/layouts/ag2_admin/countriesbreadcrumb' %>

<h3><%= @country.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @country.id %></td>
      <td></td>
      <td></td>
    </tr>
    <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @country } %>
    <%= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @country } %>
  </tbody>
</table>

<%= link_to I18n.t('ag2_admin.countries.show.btn_edit'), edit_country_path(@country), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@regions.count > 0) %>
<h4><%= t '.subtable_title' %></h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th><%= t 'activerecord.attributes.region.name' %></th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
    <tr>
      <td><%= link_to region.name, region %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to I18n.t('ag2_admin.countries.back_to_main_page'), countries_path %>
