<%= render '/layouts/ag2_admin/countriesbreadcrumb' %>

<h3><%= @country.name %></h3>
<table class="table">
  <tbody>
    <tr>
      <td>Id:</td>
      <td><%= @country.id %></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Created at:</td>
      <td><%= @country.created_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
      <td>Updated at:</td>
      <td><%= @country.updated_at.utc.getlocal.strftime("%d/%m/%Y %H:%M:%S") %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit Country', edit_country_path(@country), :class => 'btn btn-primary' %>
<br />
<br />

<% if (@regions.count > 0) %>
<h4>Country Regions</h4>
<table class="table table-condensed table-striped">
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @regions.each do |region| %>
    <tr>
      <td><%= link_to region.name, region %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<%= link_to 'Back to Countries', countries_path %>
