<%= render '/layouts/ag2_gest/billingperiodsbreadcrumb' %>

<h3><%=t '.title' %></h3>

<%= render 'form' %>

<%= link_to t('.show'), @billing_period %> |
<%= link_to t('.back'), billing_periods_path %>