<%= render '/layouts/ag2_gest/billingperiodsbreadcrumb' %>

<h3><%=@billing_period.try(:description) %></h3>
<table class="table">
  <tbody>
    <tr>
      <td><%= t('activerecord.attributes.billing_period.id') %>:</td>
      <td><%= @billing_period.try(:id) %></td>
      <td><%= t('activerecord.attributes.billing_period.project_id') %>:</td>
      <td><%= link_to @billing_period.try(:project).try(:name), ag2_tech.project_path(@billing_period.project_id) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.billing_period.billing_frequency_id') %>:</td>
      <td><%= link_to @billing_period.try(:billing_frequency).try(:name), ag2_gest.billing_frequency_path(@billing_period.billing_frequency_id) %></td>
      <td><%= t('activerecord.attributes.billing_period.description') %>:</td>
      <td><%= @billing_period.try(:description) %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.billing_period.reading_starting_date') %>:</td>
      <td><%=l @billing_period.try(:reading_starting_date) unless @billing_period.try(:reading_starting_date).blank? %></td>
      <td><%= t('activerecord.attributes.billing_period.reading_ending_date') %>:</td>
      <td><%=l @billing_period.try(:reading_ending_date) unless @billing_period.try(:reading_ending_date).blank? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.billing_period.prebilling_starting_date') %>:</td>
      <td><%=l @billing_period.try(:prebilling_starting_date) unless @billing_period.try(:prebilling_starting_date).blank?%></td>
      <td><%= t('activerecord.attributes.billing_period.prebilling_ending_date') %>:</td>
      <td><%=l @billing_period.try(:prebilling_ending_date) unless @billing_period.try(:prebilling_ending_date).blank? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.billing_period.billing_starting_date') %>:</td>
      <td><%=l @billing_period.try(:billing_starting_date) unless @billing_period.try(:billing_starting_date).blank? %></td>
      <td><%= t('activerecord.attributes.billing_period.billing_ending_date') %>:</td>
      <td><%=l @billing_period.try(:billing_ending_date) unless @billing_period.try(:billing_ending_date).blank? %></td>
    </tr>
    <tr>
      <td><%= t('activerecord.attributes.billing_period.charging_starting_date') %>:</td>
      <td><%=l @billing_period.try(:charging_starting_date) unless @billing_period.try(:charging_starting_date).blank? %></td>
      <td><%= t('activerecord.attributes.billing_period.charging_ending_date') %>:</td>
      <td><%=l @billing_period.try(:charging_ending_date) unless @billing_period.try(:charging_ending_date).blank? %></td>
    </tr>
      <%= render :partial => '/layouts/createdat_updatedat', :locals => { :ivar => @billing_period } %>
      <%#= render :partial => '/layouts/createdby_updatedby', :locals => { :ivar => @billing_period } %>
  </tbody>
</table>

<%= render partial: '/layouts/crud/update_delete_new', locals:
{ model: BillingPeriod, update_path: edit_billing_period_path(@billing_period), update_txt: t('.btn_edit'),
delete_path: @billing_period, delete_txt: t('.btn_delete'), msg: t("activerecord.models.billing_period.one"), :txt => @billing_period.id,
new_path: new_billing_period_path, new_txt: t('ag2_gest.billing_periods.index.btn_new') } %>

<%= link_to I18n.t('ag2_gest.billing_periods.back_to_main_page'), billing_periods_path %>
