<script>
  $(document).ready(function() {
    $('.date_picker').datepicker({
      format : 'dd/mm/yyyy',
      weekStart : 1
    }).on('changeDate', function(e){
      $('.date_picker').datepicker('hide');
    });
    $('.sel2').select2({
      formatNoMatches: function(m) { return '<%= I18n.t("select2.no_matches") %>'; },
      containerCssClass: 'left-winged',
      allowClear: true
    });

    //$("#progressbar").css("width", "0%");
    $("#message_area").children().hide();
  });

  jQuery(function($) {
    // when #data_export_btn is clicked
    $("#data_export_btn").click(function() {
      // Choose method to execute based on selected type
      var method = 'export_bills';
      var type = $('#Export :selected').index();
      if (type == "") type = 0;
      if (type == 1) {
        method = 'export_ebills';
      }
      // Parameters
      //var project = $('#Project :selected').val();
      //var period = $('#Period :selected').val();
      //var biller = $('#Biller :selected').val();
      var project = $('#Project').val();
      var period = $('#Period').val();
      var biller = $('#Biller').val();
      var from = $('#From').val();
      var to = $('#To').val();
      if ((project == "") || (period == ""))
        return;
      // make a POST call and executes action
      $('#message').html('<%=t '.message' %>');
      $('#message_area').children().show();
      $('#buttons').children().hide();
      jQuery.getJSON(method + "?project=" + project + "&period=" + period + "&biller=" + biller + "&from=" + from + "&to=" + to, function(data) {
        $(".modal-body > p").html(data.DataExport);
        $("#exportinfo").modal("show");
        if (data.Result == 'OK') {
          $("#message").html('<a href="' + data.File + '" download>' + data.LinkMessage + '</a>');
          // $('#message_area').children().hide();
          $("#progressbar").hide();
        }
        else {
          $('#message_area').children().hide();
        }
        // $("#data_export_btn").text(I18n["try_again"]);
        $('#buttons').children().show();
      })
      return false;
    });
  })
</script>

<%= render '/layouts/ag2_gest/billstofilebreadcrumb' %>
<%= render '/layouts/exportinfo' %>

<div class="row">
  <div class="span12">
    <h3 class="import-h3"><%= t(".title") %></h3>
  </div>
</div>
<div class="row-fluid">
  <div class="span7">
    <div class="import-description">
      <h4><%=t '.task' %></h4>
      <br />
      <p>
        <%=t '.description' %>
        <%=t '.description_html' %>
      </p>
      <p class="bolded">
        <%=t '.do_not_interrupt' %>
      </p>
    </div>
  </div>
  <div class="span5 import-box">
    <div align="center">
      <p class="import-caution">
        <%=t '.caution' %>
      </p>
      <%= form_tag "ag2_purchase_track", :method => 'get' do %>
      <!-- Export -->
      <%= label_tag "label_export", t(".label_export"), :class => 'form-label' %>
      <%= select_tag "Export", options_for_select(@export, 0), :class => 'x-large-text-field' %>
      <!-- Project -->
      <%= label_tag "label_project", t(".label_project"), :class => 'form-label' %>
      <%= select_tag "Project", options_from_collection_for_select(@projects, "id", "full_name"), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Period -->
      <%= label_tag "label_period", t(".label_period"), :class => 'form-label-under-sel2' %>
      <%= select_tag "Period", options_from_collection_for_select(@periods, "id", "period"), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Biller -->
      <%= label_tag "label_biller", t(".label_biller"), :class => 'form-label-under-sel2' %>
      <%= select_tag "Biller", options_from_collection_for_select(@billers, "id", "name"), :prompt => "", :class => 'x-large-text-field sel2' %>
      <!-- Numbers -->
      <%= label_tag "label_from", t(".label_from"), :class => 'form-label-under-sel2' %>
      <%= text_field_tag "From", params[:from], :class =>  'mid-text-field centered' %>
      <%= label_tag "label_to", t(".label_to"), :class => 'form-label' %>
      <%= text_field_tag "To", params[:to], :class =>  'mid-text-field  centered' %>
      <!-- Buttons -->
      <div id="buttons">
        <p>
          <%=t '.are_you_sure' %>
        </p>
        <p>
          <a href="#" id="data_export_btn" class="btn btn-primary"><%=t '.btn_yes' %></a>
          <a href="<%= ag2_gest.bill_management_path %>" id="exit_btn" class="btn btn-primary"><%=t '.btn_no' %></a>
          <!--<a href="#" id="report_btn" class="btn btn-primary form-button-under-sel2"><%#= t '.report_btn' %></a>-->
        </p>
      </div>
      <% end %>
      <br />
      <div id="message_area">
        <span id="message"><%=t '.message' %></span>
        <div id="progressbar" class="bert2-green-progress"></div>
      </div>
    </div>
  </div>
</div>
