<div class="container">
  <div id="companyinfo<%= company.id.to_s %>" class="modal hide fade in" style="display: none; ">
    <div class="modal-header">
      <a class="close" data-dismiss="modal">×</a>
      <h4><%= company.name %></h4>
    </div>
    <div class="modal-body">
      <p>
        <i class="icon-hand-right"></i>
        <%= company.fiscal_id %>
      </p>
      <p>
        <%= company.street_type.street_type_code.titleize %>. <%= company.street_name %> <%= company.street_number %>
        <% if !company.building.nil? %>
        <%= company.building.titleize %>
        <% end %>
        <% if !company.floor.nil? %>
        <%= company.floor %>&ordm;
        <% end %>
        <% if !company.floor_office.nil? %>
        <%= company.floor_office %>
        <% end %>
      </p>
      <p>
        <%= company.town.name %> &#8226;
        <%= company.zipcode.zipcode %> &#8226;
        <%= company.province.name %>
      </p>
      <p>
        <span style="font-weight: bold;">
          <i class="icon-phone-black"></i>
          <%= company.phone unless company.phone.nil? %> &#8226;
          <i class="icon-print"></i>
          <%= company.fax unless company.fax.nil? %> &#8226;
          <i class="icon-iphone-black"></i>
          <%= company.cellular unless company.cellular.nil? %>
        </span>
      </p>
      <p>
        <span style="color: #0066b2;">
          <i class="icon-envelope"></i>
          <%= company.email unless company.email.nil? %>
        </span>
      </p>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
  </div>
</div>
