<img class="footer-nav-brand pull-left" src="/assets/icon/aGestiona2.png" width="165" height="48" alt="aGestiona2" />
<ul class="nav pull-right">
  <% if user_signed_in? %>
  <!-- OCO -->
  <% if session[:exclusive_office] != true || session[:exclusive_company] != true || session[:exclusive_organization] != true %>
  <li class="footer-nav-li">
    <a data-toggle="modal" href="#oco"><%= current_oco %> <i class="icon-tasks"></i></a>
  </li>
  <% else %>
  <li class="footer-nav-li">
    <a data-toggle="modal" href="#"><%= current_oco %></a>
  </li>
  <% end %>
  <% end %>
  <li class="dropdown footer-nav-li">
    <!-- Global web sites -->
    <a href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"><i class="icon-globe"></i> <b class="caret"></b> </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="http://www.aguaygestion.com" target="_self"><i class="icon-th-large"></i> aguaygestion.com</a>
      </li>
      <li>
        <a href="http://www.aguasdeguadix.com" target="_blank"><i class="icon-globe"></i> aguasdeguadix.com</a>
      </li>
      <li>
        <a href="http://www.elsur.es" target="_blank"><i class="icon-globe"></i> elsur.es</a>
      </li>
      <li>
        <a href="http://www.aguaygestion.es" target="_blank"><i class="icon-globe"></i> aguaygestion.es</a>
      </li>
    </ul>
  </li>
  <li class="dropdown footer-nav-li">
    <!-- Languages -->
    <a href="#"
    class="dropdown-toggle"
    data-toggle="dropdown"><i class="icon-flag"></i> <b class="caret"></b> </a>
    <ul class="dropdown-menu" role="menu">
      <li>
        <a href="<%= url_for( :locale => 'en' ) %>"><i class="ico-en-us"></i> English - US</a>
      </li>
      <li>
        <a href="<%= url_for( :locale => 'es' ) %>"><i class="ico-es-es"></i> Espa&ntilde;ol - ES</a>
      </li>
    </ul>
  </li>
  <li class="footer-nav-li">
    <!-- Resolution -->
    <a href="#" onclick="javascript:DisplaySizeInfo();"><%= session[:resolution] %></a>
  </li>
</ul>

<!--
  <li class="footer-nav-li">
    <a href="http://www.aguasdeguadix.com" target="_blank"><i class="icon-globe"></i> aguasdeguadix.com</a>
  </li>
  <li class="footer-nav-li">
    <a href="http://www.elsur.es" target="_blank"><i class="icon-globe"></i> elsur.es</a>
  </li>
  <li class="footer-nav-li">
    <a href="http://www.aguaygestion.es" target="_blank"><i class="icon-globe"></i> aguaygestion.es</a>
  </li>
-->