<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
<img src=<%= content_for?(:icon) ? content_for(:icon) : "/assets/icon/ag2Portal.png" %> class="brand" width="48" height="48" alt=<%= content_for?(:alt) ? content_for(:alt) : "ag2Portal" %> />
<div class="nav-collapse">
  <!-- Nav -->
  <ul class="nav">
    <!-- Home -->
    <li class="header-nav-li">
      <a href="<%= main_app.root_path %>"><i class="icon-home"></i> <%=t :"nav.home" %></a>
    </li>
    <!-- Apps -->
    <li class="dropdown header-nav-li">
      <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"><i class="icon-th"></i> <%=t :"nav.apps" %> <b class="caret"></b> </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a data-toggle="modal" href="#notfound"><i class="ico-analytics"></i> ag2Analytics</a>
        </li>
        <li>
          <a href="<%= ag2_gest.root_path %>"><i class="ico-gest"></i> ag2Gest</a>
        </li>
        <li>
          <a href="<%= ag2_human.root_path %>"><i class="ico-human"></i> ag2Human</a>
        </li>
        <li>
          <a href="<%= ag2_products.root_path %>"><i class="ico-logistics"></i> ag2Logistics</a>
        </li>
        <li>
          <a href="<%= ag2_purchase.root_path %>"><i class="ico-purchase"></i> ag2Purchase</a>
        </li>
        <li>
          <a href="<%= ag2_tech.root_path %>"><i class="ico-tech"></i> ag2Tech</a>
        </li>
        <li>
          <a href="<%= ag2_directory.root_path %>"><i class="ico-directory"></i> ag2Directory</a>
        </li>
        <li>
          <a href="<%= ag2_help_desk.root_path %>"><i class="ico-helpdesk"></i> ag2HelpDesk</a>
        </li>
        <% if !@ag2teamnet_path %>
        <% @ag2teamnet_path, @ag2teamnet_target = website_path('ag2TeamNet', '_self') %>
        <% end %>
        <li>
          <a data-toggle="modal" href="<%= @ag2teamnet_path %>" target="<%= @ag2teamnet_target %>"><i class="ico-teamnet"></i> ag2TeamNet</a>
        </li>
      </ul>
    </li>
    <!-- Tools -->
    <li class="dropdown header-nav-li">
      <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"><i class="icon-wrench"></i> <%=t :"nav.tools" %> <b class="caret"></b> </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a href="<%= ag2_admin.root_path %>"><i class="ico-admin"></i> ag2Admin</a>
        </li>
        <li>
          <a href="<%= ag2_admin.config_path %>"><i class="icon-cog"></i> ag2Config</a>
        </li>
        <li class="divider"></li>
        <li>
          <a href="http://mail.google.com/a/aguaygestion.com" target="_blank"><i class="ico-gmail"></i> Gmail</a>
        </li>
        <li>
          <a href="http://www.producteev.com/workspace" target="_blank"><i class="ico-producteev"></i> Producteev by Jive</a>
        </li>
      </ul>
    </li>
    <!-- Help -->
    <li class="dropdown header-nav-li">
      <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"><i class="icon-question-sign"></i> <%=t :"nav.help.help" %> <b class="caret"></b> </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a data-toggle="modal" href="#new-ticket"><i class="icon-comment"></i> <%=t :"nav.help.support" %></a>
        </li>
        <li>
          <a href="<%= ag2_help_desk.my_tickets_tickets_path %>"><i class="ico-helpdesk"></i> <%=t :"nav.help.tickets" %></a>
        </li>
        <li class="divider"></li>
        <li>
          <% if false %>
            <a href="<%= main_app.guide_index_path %>"><i class="icon-question-sign"></i> <%=t :"nav.help.guide" %></a>
          <% end %>
          <a href="#" onclick="window.open('<%= main_app.guide_index_path %>');return false;"><i class="icon-question-sign"></i> <%=t :"nav.help.guide" %></a>
        </li>
        <li>
          <a data-toggle="modal" href="#about"><i class="icon-info-sign"></i> <%=t :"nav.help.about" %></a>
        </li>
      </ul>
    </li>
  </ul><!-- /.nav -->
  <!-- User profile area -->
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
    <a href="<%= main_app.edit_user_registration_path %>" class="navbar-link"><i class="icon-edit"></i> <%=t :"nav.edit_profile" %></a> |
    <a href="<%= main_app.destroy_user_session_path %>" class="navbar-link" data-method="delete" rel="nofollow"><i class="icon-off"></i></a> <strong><%= current_user.email %></strong>
    <% else %>
    <a href="<%= main_app.new_user_registration_path %>" class="navbar-link"><i class="icon-pencil"></i> <%=t :"nav.sign_up" %></a> |
    <a href="<%= main_app.new_user_session_path %>" class="navbar-link"><i class="icon-user"></i> <%=t :"nav.login" %></a>
    <% end %>
  </p>
</div><!--/.nav-collapse -->
