<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
<img src=<%= content_for?(:icon) ? content_for(:icon) : "/assets/icon/ag2Portal.png" %> class="brand" width="48" height="48" alt=<%= content_for?(:alt) ? content_for(:alt) : "ag2Portal" %> />
<div class="nav-collapse">
  <!-- Nav -->
  <ul class="nav">
    <!-- Home -->
    <li class="header-nav-li">
      <a href="<%= main_app.root_path %>"><i class="icon-home"></i> <%=t "nav.home" %></a>
    </li>
    <!-- Apps -->
    <li class="dropdown header-nav-li">
      <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"><i class="icon-th"></i> <%=t :"nav.apps" %> <b class="caret"></b> </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a data-toggle="modal" href="#notfound"><i class="ico-analytics"></i> ag2Analytics</a>
        </li>
        <!-- ag2Gest -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_gest.root_path %>"><i class="ico-gest"></i> ag2Gest</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.clients_path, '<i class="ico-clients"></i>'.html_safe + " " + t("ag2_gest.home.index.clients")) %></li>
            <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.subscribers_path, '<i class="ico-subscribers"></i>'.html_safe + " " + t("ag2_gest.home.index.subscribers")) %></li>
            <li class="dropdown-submenu">
              <a href="<%= ag2_gest.contracting_management_path %>"><i class="ico-time"></i> <%= t "ag2_gest.home.index.contracting_management" %></a>
              <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.contracting_requests_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.contracting.contracting_requests")) %></li>
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.water_supply_contracts_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.contracting.water_supply_contracts")) %></li>
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.water_connection_contracts_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.contracting.water_connection_contracts")) %></li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a href="<%= ag2_gest.tariff_management_path %>"><i class="ico-time"></i> <%= t "ag2_gest.home.index.tariff_management" %></a>
              <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.tariff_schemes_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.tariff.schemes")) %></li>
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.tariffs_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.tariff.tariffs")) %></li>
              </ul>
            </li>
            <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.meters_path, '<i class="ico-subscribers"></i>'.html_safe + " " + t("ag2_gest.home.meter.meters")) %></li>
            <li class="dropdown-submenu">
              <a href="<%= ag2_gest.reading_management_path %>"><i class="ico-time"></i> <%= t "ag2_gest.home.index.reading_management" %></a>
              <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.pre_readings_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.reading.pre_readings")) %></li>
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.readings_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.reading.readings")) %></li>
              </ul>
            </li>
            <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.sale_offers_path, '<i class="ico-subscribers"></i>'.html_safe + " " + t("ag2_gest.home.index.sale_offers")) %></li>
            <li class="dropdown-submenu">
              <a href="<%= ag2_gest.bill_management_path %>"><i class="ico-time"></i> <%= t "ag2_gest.home.index.bill_management" %></a>
              <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.new_bill_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.bill.service_billing")) %></li>
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.new_bill_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.bill.commercial_billing")) %></li>
              </ul>
            </li>
            <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.client_payments_path, '<i class="ico-subscribers"></i>'.html_safe + " " + t("ag2_gest.home.index.client_payments")) %></li>
            <li class="dropdown-submenu">
              <a href="<%= ag2_gest.service_point_management_path %>"><i class="ico-time"></i> <%= t "ag2_gest.home.index.service_point_management" %></a>
              <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.water_connections_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.service_point.water_connections")) %></li>
                <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.service_points_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_gest.home.service_point.service_points")) %></li>
              </ul>
            </li>
            <li><%= link_to_resetting_filters(Ag2Gest, ag2_gest.regulations_path, '<i class="ico-subscribers"></i>'.html_safe + " " + t("ag2_gest.home.regulation.regulations")) %></li>
            <li class="divider"></li>
            <li><a href="<%= ag2_gest.ag2_gest_track_path %>"><i class="ico-track"></i> <%=t "control_tracking.track" %></a></li>
          </ul>
        </li>
        <!-- ag2Human -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_human.root_path %>"><i class="ico-human"></i> ag2Human</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Human, ag2_human.workers_path, '<i class="ico-workers"></i>'.html_safe + " " + t("ag2_human.home.index.workers")) %></li>
            <li class="dropdown-submenu">
              <a href="<%= ag2_human.ag2_timerecord_path %>"><i class="ico-time"></i> ag2TimeRecord</a>
              <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
                <li><%= link_to_resetting_filters(Ag2Human, ag2_human.time_records_path, '<i class="ico-records"></i>'.html_safe + " " + t("ag2_human.ag2_timerecord.index.records")) %></li>
                <li class="divider"></li>
                <li><a href="<%= ag2_human.ag2_timerecord_track_path %>"><i class="ico-track"></i> <%=t "control_tracking.track" %></a></li>
              </ul>
            </li>
          </ul>
        </li>
        <!-- ag2Logistics -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_products.root_path %>"><i class="ico-logistics"></i> ag2Logistics</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.products_path, '<i class="ico-products"></i>'.html_safe + " " + t("ag2_products.home.index.products")) %></li>
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.inventory_counts_path, '<i class="ico-counts"></i>'.html_safe + " " + t("ag2_products.home.index.inventory_counts")) %></li>
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.purchase_orders_path, '<i class="ico-orders"></i>'.html_safe + " " + t("ag2_products.home.index.purchase_orders")) %></li>
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.receipt_notes_path, '<i class="ico-receipts"></i>'.html_safe + " " + t("ag2_products.home.index.receipt_notes")) %></li>
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.delivery_notes_path, '<i class="ico-deliveries"></i>'.html_safe + " " + t("ag2_products.home.index.delivery_notes")) %></li>
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.product_families_path, '<i class="ico-table"></i>'.html_safe + " " + t("ag2_products.home.index.families")) %></li>
            <li><%= link_to_resetting_filters(Ag2Products, ag2_products.stores_path, '<i class="ico-table"></i>'.html_safe + " " + t("ag2_products.home.index.stores")) %></li>
            <li class="divider"></li>
            <li><a href="<%= ag2_products.ag2_products_track_path %>"><i class="ico-track"></i> <%=t "control_tracking.track" %></a></li>
          </ul>
        </li>
        <!-- ag2Purchase -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_purchase.root_path %>"><i class="ico-purchase"></i> ag2Purchase</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.suppliers_path, '<i class="ico-suppliers"></i>'.html_safe + " " + t("ag2_purchase.home.index.suppliers")) %></li>
            <li><%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.offer_requests_path, '<i class="ico-requests"></i>'.html_safe + " " + t("ag2_purchase.home.index.offer_requests")) %></li>
            <li><%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.offers_path, '<i class="ico-offers"></i>'.html_safe + " " + t("ag2_purchase.home.index.offers")) %></li>
            <li><%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.purchase_orders_path, '<i class="ico-orders"></i>'.html_safe + " " + t("ag2_purchase.home.index.purchase_orders")) %></li>
            <li><%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.supplier_invoices_path, '<i class="ico-invoices"></i>'.html_safe + " " + t("ag2_purchase.home.index.supplier_invoices")) %></li>
            <li><%= link_to_resetting_filters(Ag2Purchase, ag2_purchase.supplier_payments_path, '<i class="ico-payments"></i>'.html_safe + " " + t("ag2_purchase.home.index.payments")) %></li>
            <li class="divider"></li>
            <li><a href="<%= ag2_purchase.ag2_purchase_track_path %>"><i class="ico-track"></i> <%=t "control_tracking.track" %></a></li>
          </ul>
        </li>
        <!-- ag2Tech -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_tech.root_path %>"><i class="ico-tech"></i> ag2Tech</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Tech, ag2_tech.projects_path, '<i class="ico-projects"></i>'.html_safe + " " + t("ag2_tech.home.index.projects")) %></li>
            <li><%= link_to_resetting_filters(Ag2Tech, ag2_tech.charge_accounts_path, '<i class="ico-accounts"></i>'.html_safe + " " + t("ag2_tech.home.index.charge_accounts")) %></li>
            <li><%= link_to_resetting_filters(Ag2Tech, ag2_tech.budgets_path, '<i class="ico-budgets"></i>'.html_safe + " " + t("ag2_tech.home.index.budgets")) %></li>
            <li><%= link_to_resetting_filters(Ag2Tech, ag2_tech.work_orders_path, '<i class="ico-worders"></i>'.html_safe + " " + t("ag2_tech.home.index.work_orders")) %></li>
            <li class="divider"></li>
            <li><a href="<%= ag2_tech.ag2_tech_track_path %>"><i class="ico-track"></i> <%=t "control_tracking.track" %></a></li>
          </ul>
        </li>
        <!-- ag2Directory -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_directory.root_path %>"><i class="ico-directory"></i> ag2Directory</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Directory, ag2_directory.corp_contacts_path, '<i class="ico-corp"></i>'.html_safe + " " + t("ag2_directory.home.index.corp_contacts")) %></li>
            <li><%= link_to_resetting_filters(Ag2Directory, ag2_directory.shared_contacts_path, '<i class="ico-shared"></i>'.html_safe + " " + t("ag2_directory.home.index.shared_contacts")) %></li>
          </ul>
        </li>
        <!-- ag2HelpDesk -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_help_desk.root_path %>"><i class="ico-helpdesk"></i> ag2HelpDesk</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2HelpDesk, ag2_help_desk.tickets_path, '<i class="ico-tickets"></i>'.html_safe + " " + t("ag2_help_desk.home.index.tickets")) %></li>
            <li class="divider"></li>
            <li><a data-toggle="modal" href="#notfound"><i class="ico-track"></i> <%=t "control_tracking.track" %></a></li>
          </ul>
        </li>
        <!-- ag2TeamNet -->
        <% if !@ag2teamnet_path %>
        <% @ag2teamnet_path, @ag2teamnet_target = website_path('ag2TeamNet', '_self') %>
        <% end %>
        <li>
          <a data-toggle="modal" href="<%= @ag2teamnet_path %>" target="<%= @ag2teamnet_target %>"><i class="ico-teamnet"></i> ag2TeamNet</a>
        </li>
      </ul>
    </li>
    <!-- Tools -->
    <li class="dropdown header-nav-li">
      <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"><i class="icon-wrench"></i> <%=t :"nav.tools" %> <b class="caret"></b> </a>
      <ul class="dropdown-menu" role="menu">
        <!-- ag2Admin -->
        <li class="dropdown-submenu">
          <a href="<%= ag2_admin.root_path %>"><i class="ico-admin"></i> ag2Admin</a>
          <ul class="dropdown-menu dropdown-menu-submenu" role="menu">
            <li><%= link_to_resetting_filters(Ag2Admin, ag2_admin.entities_path, '<i class="ico-entities"></i>'.html_safe + " " + t("ag2_admin.home.index.entities")) %></li>
            <li><%= link_to_resetting_filters(Ag2Admin, ag2_admin.companies_path, '<i class="ico-companies"></i>'.html_safe + " " + t("ag2_admin.home.index.companies")) %></li>
            <li><%= link_to_resetting_filters(Ag2Admin, ag2_admin.offices_path, '<i class="ico-offices"></i>'.html_safe + " " + t("ag2_admin.home.index.offices")) %></li>
          </ul>
        </li>
        <!-- ag2Config -->
        <li>
          <a href="<%= ag2_admin.config_path %>"><i class="icon-cog"></i> ag2Config</a>
        </li>
        <li class="divider"></li>
        <!-- Gmail -->
        <li>
          <a href="http://mail.google.com/a/aguaygestion.com" target="_blank"><i class="ico-gmail"></i> Gmail</a>
        </li>
        <!-- Producteev -->
        <li>
          <a href="http://www.producteev.com/workspace" target="_blank"><i class="ico-producteev"></i> Producteev by Jive</a>
        </li>
      </ul>
    </li>
    <!-- Help -->
    <li class="dropdown header-nav-li">
      <a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown"><i class="icon-question-sign"></i> <%=t :"nav.help.help" %> <b class="caret"></b> </a>
      <ul class="dropdown-menu" role="menu">
        <li>
          <a data-toggle="modal" href="#new-ticket"><i class="icon-comment"></i> <%=t :"nav.help.support" %></a>
        </li>
        <li>
          <a href="<%= ag2_help_desk.my_tickets_tickets_path %>"><i class="ico-helpdesk"></i> <%=t :"nav.help.tickets" %></a>
        </li>
        <li class="divider"></li>
        <li>
          <% if false %>
            <a href="<%= main_app.guide_index_path %>"><i class="icon-question-sign"></i> <%=t :"nav.help.guide" %></a>
          <% end %>
          <a href="#" onclick="window.open('<%= main_app.guide_index_path %>');return false;"><i class="icon-question-sign"></i> <%=t :"nav.help.guide" %></a>
        </li>
        <li>
          <a data-toggle="modal" href="#about"><i class="icon-info-sign"></i> <%=t :"nav.help.about" %></a>
        </li>
      </ul>
    </li>
  </ul><!-- /.nav -->
  <!-- User profile area -->
  <p class="navbar-text pull-right">
    <% if user_signed_in? %>
    <a href="<%= main_app.edit_user_registration_path %>" class="navbar-link"><i class="icon-edit"></i> <%=t :"nav.edit_profile" %></a> |
    <a href="<%= main_app.destroy_user_session_path %>" class="navbar-link" data-method="delete" rel="nofollow"><i class="icon-off"></i></a> <strong><%= current_user.email %></strong>
    <% else %>
    <a href="<%= main_app.new_user_registration_path %>" class="navbar-link"><i class="icon-pencil"></i> <%=t :"nav.sign_up" %></a> |
    <a href="<%= main_app.new_user_session_path %>" class="navbar-link"><i class="icon-user"></i> <%=t :"nav.login" %></a>
    <% end %>
  </p>
</div><!--/.nav-collapse -->
